 #commercialorderPopup {

     .modal-header {
         background-color: $modal_bg_color;
         border-top-left-radius: $box_border_radius;
         border-top-right-radius: $box_border_radius;
         h4 {
             span.light-heading {
                 color: #999;
                 padding-left: 10px;
             }
             span.glyphicon-ok-head {
                 color: #08e308;
                 padding-right: 10px;
             }
         }
         .superhead {
             font-size: 32px;
         }
         .sublink {
             font-size: 12px;
             padding-left: 10px;
         }
         .headtable {
             .smallglyphicon-ok {
                 color: #08e308;
             }
             .partavail {
                 font-size: 26px;
             }
             .bigno {
                 font-size: 16px;
             }
             .form-control {
                 padding: 0 6px;
             }
         }
         .bigno {
             font-size: 18px;
             font-weight: 700;
             margin-right: 2px;
         }
     }
     .modal-body {
       color:#6e6e6e;
         .spacing-table {
             font-family: $app_font_family;
             font-size: 15px;
             border-collapse: separate;
             border-spacing: 0 5px;
             th {
                 // text-align: center;
                 font-family: $app_font_family;
                 font-size: 12px;
                 color: #a8a8a8;
             }
             tr {
                 // &:first-child,
                 // &:last-child {
                 //     border-left-width: 1px;
                 //     border-radius: 5px 0 0 5px;
                 // }
             }
             .sublink {
                 font-size: 12px;
                 padding-left: 10px;
             }
             td {
                 // text-align: center;
                 border-width: 1px 0;
                 border-color: #ddd;
                 border-style: solid;
                 padding: 5px 15px;
                 font-size:14px;
                 font-weight:600;
                 &:first-child {
                     border-left-width: 1px;
                     border-radius: $box_border_radius 0 0 $box_border_radius;
                 }
                 &:last-child {
                     border-right-width: 1px;
                     border-radius: 0px $box_border_radius $box_border_radius 0px;
                 }
                 .bg-default {
                     background-color: $modal_bg_color;
                 }
                 .smallglyphicon-ok {
                     color: #08e308 !important;
                 }
                 span{
                   font-size:11px;
                 }
             }
         }
         .bto {
             font-size: 9px;
             padding-left: 10px;
             padding-top: 10px;
         }
         .unit-priceRow {
            //  margin-top: 20px;
         }
         .unit-price {
             margin: 5px 10px 10px;
         }
         .coreChareges {
             margin: 0px 10px;
         }
         .subtext {
             font-size: 10px;
             color: #a8a8a8;
         }
        //  hr {
        //      margin-top: 10px;
        //      margin-bottom: 10px
        //  }
         .fa-info-circle {
             color: #6e6e6e;
             font-size: 22px;
             margin-top: 10px;
             margin-right: 2px;
         }
         .glyphicon-question-sign{
           margin-top: 7px;
         }
         .text-warning {
             color: #f17e00;
         }
         hr{
           margin-top: 0;
           margin-bottom: 0px;
         }
     }

     .modal-footer {
         border-top: 2px solid white;
     }
 }
 // .modal{
 //   top:15% !important;
 // }
 .modal{
   top:2% !important;
 }
