<div id="commercialorderPopup" class="modal-wrapper" ng-init="currQty=emergencyController.qtyReqd">
  <form name="emergencyOrder">
    <div class="modal-header bg-default">
      <div class="row">
        <div class="col-sm-12">
          <button type="button" class="close" ng-click="emergencyController.cancel()"><span aria-hidden="true"><h1>X</h1></span></button>
          <h4><span class="glyphicon glyphicon-ok glyphicon-ok-head"></span>{{emergencyController.partName}}<span class="light-heading">Part  no. {{emergencyController.partNumber}}</span></h4>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <span class="superhead"> Emergency Order</span><span class="sublink">
            <span uib-dropdown on-toggle="toggled(open)">
              <a href id="simple-dropdown" uib-dropdown-toggle>Change</a>
              <ul class="dropdown-menu" uib-dropdown-menu aria-labelledby="simple-dropdown">
                <li>
                  <a href="#" ng-click="emergencyController.changeAvailType()">Stock Order</a>
                  <a href="#" >Emergency Order <span class="glyphicon glyphicon-ok"></span></a>
                </li>
              </ul>
            </span>
          </span>

        </div>
      </div>
      <div class="row">
        <table class="table" style="margin-bottom:0;">
          <tbody>
            <tr>
              <td>Desire Quantity</td>
              <td>
                <span class="number-container">
                  <input nonegative-directive min="0" no-spl-char type="number" ng-model="emergencyController.qtyReqd" type="number" name="qty" min="1" max="100" class="form-control" value="{{emergencyController.qtyReqd}}">
                </span>
                <div class="error" style="color:red" ng-show="emergencyOrder.qty.$error.positive">Quantity should be positive number.</div>
              </td>
              <td>
                <i ng-show="emergencyController.showNoAvailable" style="color: #f17e00" class="fa fa-2x fa-info-circle" aria-hidden="true"></i>
              </td>
              </td>
              <td>
                <button class="btn btn-default" type="button" ng-disabled="currQty== emergencyController.qtyReqd" ng-click="emergencyController.updateData()">Update Availablity </button>
              </td>
              <td><span class="partavail"><span class="glyphicon glyphicon-play"></span>Total Quantity Available</span>
              </td>
              <td><span class="bigno">{{emergencyController.totalQty}}</span>from {{emergencyController.plantNames.length}} location</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="modal-body">
      <h6 class="text-center text-warning" ng-show="emergencyController.showNoAvailable">Location selected does not satisfy the desired quantity</h6>
      <div class="table-responsive">
        <table class="table spacing-table">
          <thead>
            <tr>
              <th>Locations</th>
              <th>Quantity Available</th>
              <th>Shipping Date</th>

            </tr>
          </thead>
          <tbody>

            <tr ng-repeat="item in emergencyController.plantNames">
              <td>{{item.plantName}},<span class="sublink">{{item.address}}</span></td>
              <td>{{item.availability}}</td>
              <td>{{item.leadDate}}</td>

              <td>
                <input type="checkbox" name="{{item.plantName}}" id="{{item.plantName}}" ng-model="item.checked" ng-change="emergencyController.checkAvail(item)">
              </td>
            </tr>

          </tbody>
        </table>
      </div>


      <!--  <div class="row">
        <div class="col-md-12">
          <span class="bto">BTO (Build to Order)</span>
        </div>
      </div>-->
      <div class="row unit-priceRow" style="padding-top:10px;"><div class="col-md-6">
          <span class="unit-price pull-left">Unit Part Price($)</span>
        </div>
        <div class="col-md-6">
          <span class="unit-price pull-right"><b>{{emergencyController.unitPartPrice}}</b></span>
        </div>
      </div>
  <hr>
      <div class="row unit-priceRow"><div class="col-md-6">
          <span class="unit-price pull-left">Extended Price($)</span>
        </div>
        <div class="col-md-6">
          <span class="unit-price pull-right"><b>{{emergencyController.extendedPrice}}</b></span>
        </div>
      </div>
  <hr>
      <div class="row unit-priceRow"><div class="col-md-6">
          <span class="unit-price pull-left">Core Unit Price($)</span>
        </div>
        <div class="col-md-6">
          <span class="unit-price pull-right"><b>{{emergencyController.coreUnitPrice}}</b></span>
        </div>
      </div>
        <hr>
      <div class="row unit-priceRow"><div class="col-md-6">
          <span class="unit-price pull-left">Core Charge($)</span>
          <span class="glyphicon glyphicon-question-sign"></span>
        </div>
        <div class="col-md-6">
          <span class="unit-price pull-right"><b>{{emergencyController.unitPrice}}</b></span>

        </div>
      </div>
      <hr>

    </div>
    <div class="modal-footer">
      <div class="row">
        <div class="col-md-8">
        </div>
        <div class="col-md-4">
          <button class="btn btn-block btn-primary" ng-click="emergencyController.addToCart()" ng-disabled="!emergencyController.addedToCart" type="button">Add to Cart</button>
        </div>
      </div>
    </div>
  </form>
</div>
