<div id="rfqdetailpopup">
    <div class="modal-header">
        <div class="row">
            <div class="col-md-9">
                <span ng-if="!RFQD.loading && !RFQD.getRFQDetails">
                <h4>RFQ ID: {{RFQD.details.rfqUniqueId}}</h4>
                <p>{{RFQD.details.initiatedOn | date:'MMM dd, yyyy '}}</p>
                <address>
                    {{RFQD.details.name}}<br/>
                    {{RFQD.details.addressLine1}} {{RFQD.details.addressLine2}}<br/>
                    {{RFQD.details.city}}
                    {{RFQD.details.state}} {{RFQD.details.zip}}<br/>                                           
                     Phone : <span>{{(RFQD.details.phone === '')?'-':RFQD.details.phone}}</span><br/>                           Email : <span>{{(RFQD.details.email === '')?'-':RFQD.details.email}}</span>
                </address>
                </span>
                <span ng-if="!RFQD.loading && RFQD.getRFQDetails">
                <h4>RFQ ID: {{RFQD.details.rfqUniqueId}}</h4>
                <p>{{RFQD.details.initiatedOn | date:'MMM dd, yyyy'}}</p>
                <address>
                    {{RFQD.details.rfqReciverDTOs[0].name}}<br/>
                    {{RFQD.details.rfqReciverDTOs[0].addressLine1}} {{RFQD.details.rfqReciverDTOs[0].addressLine2}}<br/>
                    {{RFQD.details.rfqReciverDTOs[0].city}}
                    {{RFQD.details.rfqReciverDTOs[0].state}} {{RFQD.details.rfqReciverDTOs[0].zip}}<br/>                                           
                     Phone : <span>{{(RFQD.details.rfqReciverDTOs[0].phone === null)?'-':RFQD.details.rfqReciverDTOs[0].phone}}</span><br/>                           Email : <span>{{(RFQD.details.rfqReciverDTOs[0].email === null)?'-':RFQD.details.rfqReciverDTOs[0].email}}</span>
                </address>
                </span>
            </div>
            <div class="col-md-3">
                <a href="#" ng-click="RFQD.closeDetails()"><img ng-src="/assets/images/close-icon.png" alt="" src="/assets/images/close-icon.png"></a>
                <img src="{{RFQD.websiteLogo}}" />
                <p>{{'RFQDETAILS.AFTERMARKET' | translate}}</p>
            </div>
        </div>
        <div class="row" ng-if="!RFQD.loading">
            <div class="col-md-12"><p><span>{{'RFQDETAILS.NOP' | translate}}: <b>{{RFQD.details.rfqItemsDTOs.length}}</b></span><span style="margin-left:20px;">{{'RFQDETAILS.QR_BY' | translate}}: <b>{{RFQD.details.deadlineOn | date}}</b></span></p></div>
        </div>
    </div>
    <div class="modal-body">
        <table class="table" ng-if="!RFQD.loading">
            <thead>
                <tr>
                    <th>{{'RFQDETAILS.SN' | translate}}</th>
                    <th>{{'RFQDETAILS.PN_PN' | translate}}</th>
                    <th>{{'RFQDETAILS.DES_QTY' | translate}}</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="items in RFQD.details.rfqItemsDTOs">
                    <td>{{$index + 1}}</td>
                    <td><b style="color:#0093c6">{{items.partNumber}}</b><br/>{{items.partName}}</td>
                    <td>{{items.qty}}</td>
                </tr>
            </tbody>
        </table>
        

        <!--<button class="btn btn-default" ng-click="RFQD.closeDetails()">Close popup</button>-->
    </div>
</div>