/***************************************************************
* Proprietary & Confidential  |  © 2016 PhaseZero Ventures LLC 
* 
* This file is part of Tire Advisor project
* 
* This file cannot be copied and/or distributed without 
* the express permission of PhaseZero Ventures LLC
***************************************************************/


.rfq-details-modal {
    .modal-content {
        border-radius: 0px;
        .modal-header {
            .row {
                
                    p {
                        font-size: 14px;
                    }

                .col-md-9 {
                    h4 {
                        font-size: 16px;
                        font-weight: bold;
                    }
                    address {
                        font-size: 13px;
                    }
                }
                .col-md-3 {
                    a {
                        float: right;
                        width: 100%;
                        text-align: right;
                        color: #ccc;
                        font-size: 14px;
                    }
                    img {
                        float: right;
                    }
                    p {
                        width: 100%;
                        text-align: right;
                        font-weight: bold;
                        float: right;
                        margin-right: 10px;
                        font-size: 12px;
                    }
                }
            }
        }
        .modal-body {
            padding: 15px 0px;
            table {
                thead {
                    th {
                        font-size: 14px;
                        padding: 10px;
                    }
                }
                tbody {
                    td {
                        font-size: 14px;
                        padding: 5px 20px;
                    }
                }
            }
        }
    }
}