<div id="proceedorder">
    <div class="modal-body text-center">
        <div class="row">
            <div class="col-sm-1"></div>
            <div class="col-sm-10">
                <h3>{{ 'PREVIEWORDER.ORDR_PROCESSING'  | translate}}</h3>
                <br>
                <h5>
                  {{ 'PROCESSORDERPOPUP.VERIFYINGAVLMSGPART1'  | translate}}
                    <br>
                  {{ 'PROCESSORDERPOPUP.VERIFYINGAVLMSGPART2'  | translate}}

				</h5>
                <br>
                <i class="fa fa-3x fa-spinner"></i>
                <br>
                <h5>
				    {{ 'PROCESSORDERPOPUP.VERIFYINGAVLMSGPART3'  | translate}}

                    <br>
                    {{ 'PROCESSORDERPOPUP.VERIFYINGAVLMSGPART4'  | translate}}

				</h5>
            </div>
            <div class="col-sm-1"></div>
        </div>
    </div>
</div>


