<div class="categoryHdr" ng-show="vm.categoryPristine.length"> 
    <span tooltip-popup-delay='200' uib-tooltip='{{vm.categoryHint}}' tooltip-placement="top" tooltip-is-open="true">
        {{'FILTER.FILTERALLCATEGORY' | translate}} 
    </span>
</div>
<span class="refine-list">
    <div class="refine-header" data-ng-repeat="category in vm.categoryPristine track by $index">
        <span class="category" ng-class=" category.select ? 'blue': '' " ng-click="vm.categoryFilter(category);vm.launchTreeEvent();">{{category.name}}</span>
        <span ng-show="vm.showTriangle && category.children" ng-click="vm.collapseCategory(category);" class="arrow" ng-class=" category.collapse ? 'glyphicon glyphicon-triangle-bottom': 'glyphicon glyphicon-triangle-right' "></span>
        <div ng-show="category.collapse" class="subcategory"  data-ng-repeat="subcategory in category.children | orderBy: '-select' | limitTo: category.viewLimit ">
            <span ng-class=" subcategory.select ? 'blue': '' "  ng-click="vm.subCategoryFilter(category, subcategory);vm.launchTreeEvent();">{{subcategory.name}}</span>
        </div>
        <div ng-if="category.children.length > 1 && category.collapse" class="view-more">
            <a ng-click="vm.toggleCategory(category)">{{category.viewLimitName}}</a>
        </div> 
    </div>
   <!--  <br> -->
    <div ng-show="vm.categoryPristine.length"><hr></div>
    <div class="filterHdr" ng-show="vm.listPristine.length">{{'FILTER.REFINE' | translate}}</div>
    <div class="refine" data-ng-repeat="refine in vm.listPristine track by $index">
        <div class="refineFilterHdr">
            <span>{{refine.name}}</span>
            <!-- <a class="pull-right" ng-click="vm.toggleselect(refine)">{{refine.viewSelect}}</a> -->
        </div>
        <div class="refine-options refine-scroll style-scroll">
            <div class="list">
                <!-- <div ng-show = "refine.buckets.length > 1" class="search-text"><input placeholder="filter input" data-ng-model="searchText"/><label class="icon"><i class="fa fa-arrow-right" aria-hidden="true"></i></label></div> -->
                <div class="form-group">
                    <label class="checkbox" data-ng-repeat="option in refine.buckets | filter:searchText | limitTo:refine.viewLimit">
                        <label data-ng-click="vm.apicall(option)" data-ng-model="option.select" uib-btn-checkbox>
                            <i class="fa" ng-class="option.select ? 'fa-check-square' : 'fa-square-o' "></i>
                            <span ng-class="option.select ? 'bold' : '' ">{{option.key}}
								<span>({{option.count}})</span>
							</span>
                        </label>
                    </label>
                </div>
                <div ng-if="refine.buckets.length > 4" class="view-more">
                    <a ng-click="vm.toggleview(refine)">{{refine.viewLimitName}}</a>
                </div>
            </div>
        </div>
    </div>
</span>