<!-- Author: Manjesh Kumar -->
<div class="container-fluid user-profile">
    <div class=" row parent-row">
        <div class="col-md-12 col-sm-12">
            <ol class="breadcrumb">
                <li><a href="/home" class="ng-binding">{{'PROFILE.BC_HOME' | translate}}</a></li>
                <!--<li><a href="#" class="ng-binding">My Account</a></li>-->
                <li class="active ng-binding">{{profile.currentTab}}</li>
            </ol>
            <div class="profile-content">
                <h1>{{'PROFILE.TITLE' | translate}}
                    <div class="alert alert-success" role="alert" data-ng-show="profile.isFormSubmitted && profile.showResMsg" data-ng-class="{'er-msg': (profile.responseMsg == 'INVALID_CREDENTIAL' || profile.responseMsg == 'NOT UPDATED')}"><strong>{{'PROFILE_ERROR.PROFILE.'+profile.responseMsg | translate}}</strong>
                    </div>
                </h1>
                
                <uib-tabset class="profile-vertical-tab" active="activePill" vertical="true" type="pills">
                    <uib-tab index="0" select="profile.onTabSwitch('My Profile')">
                        <uib-tab-heading>{{'PROFILE.TAB_PROFILE' | translate}}
                            <i class="fa fa-chevron-right pull-right" aria-hidden="true"></i> 
                        </uib-tab-heading>
                        <div class="row my-profile-content">
                            <div class="col-xs-12 col-sm-12 col-md-9 col-lg-8">
                                <h4 class="tab-title">{{'PROFILE.PROFILE_TITLE' | translate}}</h4>
                                <hr/>
                                <!--<h5 class="text-success text-center" data-ng-show="profile.isFormSubmitted && profile.showResMsg"><strong>{{profile.responseMsg}}</strong></h5>-->
                                <form class="form-horizontal" name="profileForm" disabled novalidate>
                                    <fieldset >
                                    <div class="form-group" data-ng-class="{ 'has-error' : profileForm.firstName.$invalid && (!profileForm.firstName.$pristine || profile.profileFrmBtnClicked)}">
                                        <label class="control-label col-sm-3 col-label" for="firstName">{{'PROFILE.FIRSTNAME' | translate}} <span data-ng-hide="profile.profileDetails.roles[0] != 'PZV_SHOP_USER'">*</span></label>
                                        <div class="col-sm-6 no-padding">
                                            <input type="text" class="form-control" id="firstName"  data-ng-model="profile.profileDetails.firstName" name="firstName" data-ng-pattern="/^\s*([a-zA-Z-'\s]+)\s*$/" data-ng-minlength="1" data-ng-disabled="profile.profileDetails.roles[0] != 'PZV_SHOP_USER'" required>
                                            <p ng-show="profileForm.firstName.$invalid && (!profileForm.firstName.$pristine || profile.profileFrmBtnClicked) ||(profileForm.firstName.$error.minlength || signUpForm.loginId.$error.pattern)" class="help-block">{{'PROFILE.FIRSTNAME_ERR_MSG' | translate}}</p>
                                        </div>
                                    </div>
                                    <div class="form-group" data-ng-class="{ 'has-error' : profileForm.lastName.$invalid && (!profileForm.lastName.$pristine || profile.profileFrmBtnClicked) }">
                                        <label class="control-label col-sm-3 col-label" for="lastName">{{'PROFILE.LASTNAME' | translate}} <span data-ng-hide="profile.profileDetails.roles[0] != 'PZV_SHOP_USER'">*</span></label>
                                        <div class="col-sm-6 no-padding">
                                            <input type="text" class="form-control" id="lastName" data-ng-disabled="profile.profileDetails.roles[0] != 'PZV_SHOP_USER'"  data-ng-model="profile.profileDetails.lastName" name="lastName" data-ng-pattern="/^\s*([0-9a-zA-Z-'\s]+)\s*$/" data-ng-minlength="1" required>
                                            <p ng-show="profileForm.lastName.$invalid && (!profileForm.lastName.$pristine || profile.profileFrmBtnClicked) ||(profileForm.lastName.$error.minlength || 
                                            profileForm.lastName.$error.pattern)" class="help-block">{{'PROFILE.LASTNAME_ERR_MSG' | translate}}</p>
                                        </div>
                                    </div>
                                    <div class="form-group" data-ng-class="{ 'has-error' : profileForm.companyName.$invalid && (!profileForm.companyName.$pristine || profile.profileFrmBtnClicked) }">
                                        <label class="control-label col-sm-3 col-label" for="companyName">{{'PROFILE.COMPANY_NAME' | translate}} <span data-ng-hide="profile.profileDetails.roles[0] != 'PZV_SHOP_USER'">*</span></label>
                                        <div class="col-sm-6 no-padding">
                                            <input type="text" class="form-control" id="companyName" data-ng-disabled="profile.profileDetails.roles[0] != 'PZV_SHOP_USER'"  data-ng-model="profile.profileDetails.companyName" name="companyName" data-ng-pattern="/^\s*([0-9a-zA-Z-'\s]+)\s*$/" data-ng-minlength="1" required>
                                            <p ng-show="profileForm.companyName.$invalid && (!profileForm.companyName.$pristine || profile.profileFrmBtnClicked) ||(profileForm.companyName.$error.minlength || profileForm.companyName.$error.pattern)" class="help-block">{{'PROFILE.COMPANY_NAME_ERR_MSG' | translate}}</p>
                                        </div>
                                    </div>
                                    <div class="form-group" data-ng-class="{ 'has-error' : profileForm.emailId.$invalid && (!profileForm.emailId.$pristine || profile.profileFrmBtnClicked) }">
                                        <label class="control-label col-sm-3 col-label" for="email">{{'PROFILE.EMAIL' | translate}} <span data-ng-hide="profile.profileDetails.roles[0] != 'PZV_SHOP_USER' && profileForm.emailId.$valid && (profileForm.emailId.$pristine || profile.isProfileChanged)">*</span></label>
                                        <div class="col-sm-6 no-padding">
                                            <input type="email" class="form-control" data-ng-pattern="/^[a-zA-Z]+[a-zA-Z0-9._]+@[a-zA-Z]+\.[a-zA-Z.]{1,5}$/" data-ng-disabled="profile.profileDetails.roles[0] != 'PZV_SHOP_USER' && profileForm.emailId.$valid && (profileForm.emailId.$pristine || profile.isProfileChanged)" data-ng-model="profile.profileDetails.emailId" id="email" name="emailId" autofocus="profile.profileDetails.roles[0] != 'PZV_SHOP_USER' && profileForm.emailId.$invalid" data-ng-blur="profile.checkEmailIdAvailabilty(profile.profileDetails.emailId)" data-ng-change="profile.onChangeOfEmailId()"  required>
                                            <p ng-show="profileForm.emailId.$invalid && (!profileForm.emailId.$pristine || profile.profileFrmBtnClicked)" class="help-block">{{'PROFILE.EMAIL_ERR_MSG' | translate}}</p>
                                        </div>
                                        <div class="col-sm-3">
                                            <a data-ng-click="" data-ng-show="profile.isEmailAvailChecked && profile.isEmailExist && profile.isEmailChanged" class="check-avail availbl"><i class="fa fa-exclamation-triangle" aria-hidden="true"></i> {{'SIGNUP.ID_EXISTS1' | translate}}</br>{{'SIGNUP.ID_EXISTS2' | translate}}</a>
                                            <a data-ng-click="" data-ng-show="profile.isEmailAvailChecked && !profile.isEmailExist && profile.isEmailChanged" class="check-avail"><i class="fa fa-check" aria-hidden="true"></i> {{'SIGNUP.ID_AVAIL' | translate}}</a>
                                        </div>
                                    </div>
                                    <!--<div class="form-group" data-ng-class="{ 'has-error' : profileForm.mobilePhoneNum.$invalid && (!profileForm.mobilePhoneNum.$pristine || profile.profileFrmBtnClicked) || profile.profileDetails.mobile == '000-000-0000'}">
                                        <label class="control-label col-sm-3 col-label" for="mobilePhone">{{'PROFILE.PHONE' | translate}} <span data-ng-hide="profile.profileDetails.roles[0] != 'PZV_SHOP_USER'">*</span></label>
                                        <div class="col-sm-6 no-padding">
                                            <input type="text" class="form-control" id="mobilePhone" data-ng-model="profile.profileDetails.mobile" data-ng-change="profile.changePhoneFormat(profileForm.mobilePhoneNum.$valid, 'mobile')" data-ng-disabled="profile.profileDetails.roles[0] != 'PZV_SHOP_USER'"  data-ng-pattern="/^\(?(\d{3})\)?[- ]?(\d{3})[- ]?(\d{4})$/" name="mobilePhoneNum"  required>
                                            <p ng-show="profileForm.mobilePhoneNum.$invalid && (!profileForm.mobilePhoneNum.$pristine || profile.profileFrmBtnClicked) || profile.profileDetails.mobile == '000-000-0000'" class="help-block">{{'PROFILE.PHONE_ERR_MSG' | translate}}</p>
                                        </div>
                                    </div>-->
                                    <div class="form-group" data-ng-class="{ 'has-error' : profileForm.mobilePhoneNum.$invalid && (!profileForm.mobilePhoneNum.$pristine || profile.profileFrmBtnClicked)}">
                                        <label class="control-label col-sm-3 col-label" for="mobilePhone">{{'PROFILE.PHONE' | translate}} <span data-ng-hide="profile.profileDetails.roles[0] != 'PZV_SHOP_USER'">*</span></label>
                                        <div class="col-sm-6 no-padding">
                                            <input type="text" class="form-control" id="mobilePhone" data-ng-model="profile.profileDetails.mobile" data-ng-disabled="profile.profileDetails.roles[0] != 'PZV_SHOP_USER'" name="mobilePhoneNum"  required>
                                            <p ng-show="profileForm.mobilePhoneNum.$invalid && (!profileForm.mobilePhoneNum.$pristine || profile.profileFrmBtnClicked)" class="help-block">{{'PROFILE.PHONE_ERR_MSG' | translate}}</p>
                                        </div>
                                    </div>
                                    <!--<div class="form-group" data-ng-class="{ 'has-error' : profileForm.workPhoneNum.$invalid && (!profileForm.workPhoneNum.$pristine || profile.profileFrmBtnClicked) || profile.profileDetails.phoneno == '000-000-0000'}">
                                        <label class="control-label col-sm-3 col-label" for="workPhone">{{'PROFILE.PHONE_WORK' | translate}}</label>
                                        <div class="col-sm-6 no-padding">
                                            <input type="text" class="form-control" id="workPhone" data-ng-model="profile.profileDetails.phoneno" data-ng-change="profile.changePhoneFormat(profileForm.workPhoneNum.$valid, 'phoneno')" data-ng-pattern="/^\(?(\d{3})\)?[- ]?(\d{3})[- ]?(\d{4})$/" name="workPhoneNum" data-ng-disabled="profile.profileDetails.roles[0] != 'PZV_SHOP_USER'">
                                            <p ng-show="profileForm.workPhoneNum.$invalid && (!profileForm.workPhoneNum.$pristine 
                                            || profile.profileFrmBtnClicked) || profile.profileDetails.phoneno == '000-000-0000'" class="help-block">{{'PROFILE.PHONE_WORK_ERR_MSG' | translate}}</p>
                                        </div>
                                    </div>-->
                                    <div class="form-group" data-ng-class="{ 'has-error' : profileForm.workPhoneNum.$invalid && (!profileForm.workPhoneNum.$pristine || profile.profileFrmBtnClicked)}">
                                        <label class="control-label col-sm-3 col-label" for="workPhone">{{'PROFILE.PHONE_WORK' | translate}}</label>
                                        <div class="col-sm-6 no-padding">
                                            <input type="text" class="form-control" id="workPhone" data-ng-model="profile.profileDetails.phoneno" data-ng-change="profile.changePhoneFormat(profileForm.workPhoneNum.$valid, 'phoneno')" name="workPhoneNum" data-ng-disabled="profile.profileDetails.roles[0] != 'PZV_SHOP_USER'">
                                            <p ng-show="profileForm.workPhoneNum.$invalid && (!profileForm.workPhoneNum.$pristine 
                                            || profile.profileFrmBtnClicked)" class="help-block">{{'PROFILE.PHONE_WORK_ERR_MSG' | translate}}</p>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-sm-3 col-label" for="fax">{{'PROFILE.FAX' | translate}}</label>
                                        <div class="col-sm-6 no-padding">
                                            <input type="text" class="form-control" data-ng-model="profile.profileDetails.fax"  id="fax" name="faxNum" data-ng-disabled="profile.profileDetails.roles[0] != 'PZV_SHOP_USER'" >
                                        </div>
                                        <div class="col-sm-2 col-optional">
                                            <span data-ng-hide="profile.profileDetails.roles[0] != 'PZV_SHOP_USER'" class="txt-optional">{{'PROFILE.OPTIONAL' | translate}}</span>
                                        </div>
                                    </div>
                                    <div class="form-group" data-ng-class="{ 'has-error' : profileForm.address1.$invalid && (!profileForm.address1.$pristine || profile.profileFrmBtnClicked) }">
                                        <label class="control-label col-sm-3 col-label" for="address1">{{'PROFILE.ADDRESS_1' | translate}}</label>
                                        <div class="col-sm-6 no-padding">
                                            <input type="text" class="form-control" data-ng-model="profile.profileDetails.address1" id="address1" name="address1" data-ng-disabled="profile.profileDetails.roles[0] != 'PZV_SHOP_USER'">
                                            <p ng-show="profileForm.address1.$invalid && (!profileForm.address1.$pristine || profile.profileFrmBtnClicked)" class="help-block">{{'PROFILE.ADDRESS_1_ERR_MSG' | translate}}</p>
                                        </div>
                                    </div>
                                    <div class="form-group" data-ng-class="{ 'has-error' : profileForm.address2.$invalid && (!profileForm.address2.$pristine || profile.profileFrmBtnClicked) }">
                                        <label class="control-label col-sm-3 col-label" for="address2">{{'PROFILE.ADDRESS_2' | translate}}</label>
                                        <div class="col-sm-6 no-padding">
                                            <input type="text" class="form-control" data-ng-model="profile.profileDetails.address2" id="address2" name="address2" data-ng-disabled="profile.profileDetails.roles[0] != 'PZV_SHOP_USER'">
                                        </div>
                                        <div class="col-sm-2 col-optional">
                                            <span data-ng-hide="profile.profileDetails.roles[0] != 'PZV_SHOP_USER'" class="txt-optional">{{'PROFILE.OPTIONAL' | translate}}</span>
                                        </div>
                                    </div>
                                    <div class="form-group" data-ng-class="{ 'has-error' : profileForm.city.$invalid && (!profileForm.city.$pristine || profile.profileFrmBtnClicked)}">
                                        <label class="control-label col-sm-3 col-label" for="city">{{'PROFILE.CITY' | translate}}</label>
                                        <div class="col-sm-6 no-padding">
                                            <input type="text" class="form-control" id="city" data-ng-disabled="profile.profileDetails.roles[0] != 'PZV_SHOP_USER'" data-ng-model="profile.profileDetails.city" name="city" data-ng-pattern="/^\s*([a-zA-Z-'\s]+)\s*$/" data-ng-minlength="1" >
                                            <p ng-show="profileForm.city.$invalid && (!profileForm.city.$pristine || profile.profileFrmBtnClicked) && profileForm.city.$error.pattern" class="help-block">{{'PROFILE.CITY_ERR_MSG' | translate}}</p>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-sm-3 col-label" for="state">{{'PROFILE.STATE' | translate}}</label>
                                        <div class="col-sm-6 no-padding">
                                            <select class="form-control" data-ng-disabled="profile.profileDetails.roles[0] != 'PZV_SHOP_USER'" data-ng-model="profile.profileDetails.state" id="state" name="state" ng-options="state.stateName as state.stateName for state in profile.stateList"></select>
                                            <i class="fa fa-caret-down" aria-hidden="true"></i>
                                            <!--<p ng-show="(profileForm.state.$invalid || profile.profileDetails.state == undefined || profile.profileDetails.state == null) && profileForm.state.$touched " class="help-block">{{'PROFILE.STATE_ERR_MSG' | translate}}</p>-->
                                        </div>
                                    </div>
                                     <div class="form-group" data-ng-class="{ 'has-error' : profileForm.zipCode.$invalid && (!profileForm.zipCode.$pristine || profile.profileFrmBtnClicked) || profile.profileDetails.zip == '00000'}">
                                        <label class="control-label col-sm-3 col-label" for="zipCode">{{'PROFILE.ZIP_CODE' | translate}} <span data-ng-hide="profile.profileDetails.roles[0] != 'PZV_SHOP_USER'">*</span></label>
                                        <div class="col-sm-6 no-padding">
                                            <input type="text" class="form-control" data-ng-disabled="profile.profileDetails.roles[0] != 'PZV_SHOP_USER'" data-ng-model="profile.profileDetails.zip" data-ng-pattern="/^\d{5}(-\d{4})?$/" id="zipCode" name="zipCode" required>
                                            <p ng-show="profileForm.zipCode.$invalid && (!profileForm.zipCode.$pristine || profile.profileFrmBtnClicked)  || profile.profileDetails.zip == '00000'" class="help-block">{{'PROFILE.ZIP_CODE_ERR_MSG' | translate}}</p>
                                        </div>
                                    </div>
                                    <div class="form-group" data-ng-class="{ 'has-error' : (profileForm.country.$invalid || profile.profileDetails.country == undefined || profile.profileDetails.country == null) && (profileForm.country.$touched || profile.profileFrmBtnClicked) }">
                                        <label class="control-label col-sm-3 col-label" for="country">{{'PROFILE.COUNTRY' | translate}} <span data-ng-hide="profile.profileDetails.roles[0] != 'PZV_SHOP_USER'">*</span></label>
                                        <div class="col-sm-6 no-padding">
                                            <select class="form-control" data-ng-disabled="profile.profileDetails.roles[0] != 'PZV_SHOP_USER'" data-ng-model="profile.profileDetails.country" id="country" name="country" ng-options="country.countryCode as country.countryName for country in profile.countryList" required></select>
                                            <i data-ng-hide="profile.profileDetails.roles[0] != 'PZV_SHOP_USER'" class="fa fa-caret-down" aria-hidden="true"></i>
                                            <p ng-show="(profileForm.country.$invalid || profile.profileDetails.country == undefined || profile.profileDetails.country == null) && (profileForm.country.$touched || profile.profileFrmBtnClicked)" class="help-block">{{'PROFILE.COUNTRY_ERR_MSG' | translate}}</p>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-sm-3 prefrdMod line-2 col-label"  for="prefrdMod">{{'PROFILE.PREFER_MODE' | translate}}</label>
                                        <div class="col-sm-6 no-padding">
                                            <select class="form-control" data-ng-model="profile.profileDetails.phonetype" id="prefrdMod" name="prefrdMod" data-ng-disabled="profile.profileDetails.roles[0] != 'PZV_SHOP_USER'">
                                                <option selected="true">{{'PROFILE.MOBILEPHONE' | translate}}</option>
                                                <option>{{'PROFILE.WORKPHONE' | translate}}</option>
                                                <option>{{'PROFILE.EMAILONLY' | translate}}</option>
                                            </select>
                                            <i data-ng-hide="profile.profileDetails.roles[0] != 'PZV_SHOP_USER'" class="fa fa-caret-down" aria-hidden="true"></i>
                                            <!--<p ng-show="(profileForm.prefrdMod.$invalid || profile.profileDetails.phonetype == undefined || profile.profileDetails.phonetype == null) && profileForm.prefrdMod.$touched " class="help-block">{{'PROFILE.PREFER_MODE_ERR_MSG' | translate}}</p>-->
                                        </div>
                                    </div>
                                    <div class="form-group last-group"> 
                                        <div class="col-sm-offset-3 col-sm-6 no-padding">
                                            <!--<button data-ng-hide="profile.profileDetails.roles[0] != 'PZV_SHOP_USER'" type="submit" data-ng-disabled="profileForm.$invalid || !profileForm.$dirty || !profile.isEmailAvailChecked || profile.isEmailExist || profile.profileDetails.mobile == '000-000-0000' || profile.profileDetails.phoneno == '000-000-0000' || profile.profileDetails.zip == '00000'" class="btn btn-primary btn-block btn-signup btn-app-primary" data-ng-click="profile.updateUserProfile(profile.profileDetails)">{{'PROFILE.SAVE_CHANGES' | translate}}</button>
                                            <button data-ng-show="profile.profileDetails.roles[0] != 'PZV_SHOP_USER' && (profileForm.emailId.$invalid || profileForm.emailId.$dirty) && !profile.isProfileChanged" type="submit" data-ng-disabled="profileForm.emailId.$invalid || !profileForm.$dirty || !profile.isEmailAvailChecked || profile.isEmailExist || profile.profileDetails.mobile == '000-000-0000' || profile.profileDetails.phoneno == '000-000-0000' || profile.profileDetails.zip == '00000'" class="btn btn-primary btn-block btn-signup btn-app-primary" data-ng-click="profile.updateUserProfile(profile.profileDetails)">{{'PROFILE.SAVE_CHANGES' | translate}}</button>-->

                                            <!--<button data-ng-hide="profile.profileDetails.roles[0] != 'PZV_SHOP_USER'" type="submit" class="btn btn-primary btn-block btn-signup btn-app-primary" data-ng-click="profile.updateUserProfile(profile.profileDetails, (profileForm.$invalid || !profile.isEmailAvailChecked || profile.isEmailExist || profile.profileDetails.mobile == '000-000-0000' || profile.profileDetails.phoneno == '000-000-0000' || profile.profileDetails.zip == '00000'))">{{'PROFILE.SAVE_CHANGES' | translate}}</button>
                                            <button data-ng-show="profile.profileDetails.roles[0] != 'PZV_SHOP_USER' && (profileForm.emailId.$invalid) && !profile.isProfileChanged" type="submit"  class="btn btn-primary btn-block btn-signup btn-app-primary" data-ng-click="profile.updateUserProfile(profile.profileDetails, (profileForm.emailId.$invalid || !profileForm.$dirty || !profile.isEmailAvailChecked || profile.isEmailExist || profile.profileDetails.mobile == '000-000-0000' || profile.profileDetails.phoneno == '000-000-0000' || profile.profileDetails.zip == '00000'))">{{'PROFILE.SAVE_CHANGES' | translate}}</button>-->

                                            <button data-ng-hide="profile.profileDetails.roles[0] != 'PZV_SHOP_USER'" type="submit" class="btn btn-primary btn-block btn-signup btn-app-primary" data-ng-click="profile.updateUserProfile(profile.profileDetails, (profileForm.$invalid || !profile.isEmailAvailChecked || profile.isEmailExist || profile.profileDetails.zip == '00000'))">{{'PROFILE.SAVE_CHANGES' | translate}}</button>

                                            <button data-ng-show="profile.profileDetails.roles[0] != 'PZV_SHOP_USER' && (profileForm.emailId.$invalid && profileForm.emailId.$pristine || profileForm.emailId.$valid && !profileForm.emailId.$pristine) && !profile.isProfileChanged" type="submit"  class="btn btn-primary btn-block btn-signup btn-app-primary" data-ng-click="profile.updateUserProfile(profile.profileDetails, (profileForm.emailId.$invalid || !profileForm.$dirty || !profile.isEmailAvailChecked || profile.isEmailExist || profile.profileDetails.zip == '00000'))">{{'PROFILE.SAVE_CHANGES' | translate}}</button>
                                            <p class="text-mandatory" data-ng-hide="profile.profileDetails.roles[0] != 'PZV_SHOP_USER' && profileForm.emailId.$valid && (profileForm.emailId.$pristine || profile.isProfileChanged)">{{'PROFILE.STARRED_FIELDS' | translate}}</p>
                                        </div>
                                    </div>
                                    </fieldset>
                                </form>
                            </div>
                        </div>
                    </uib-tab>
                    <uib-tab index="1" data-ng-if="profile.profileDetails.roles[0] == 'PZV_SHOP_USER'" select="profile.onTabSwitch('Change Password')">
                        <uib-tab-heading>{{'PROFILE.TAB_PASSWORD' | translate}}
                            <i class="fa fa-chevron-right pull-right" aria-hidden="true"></i> 
                        </uib-tab-heading>
                        <div class="change-pswrd-content">
                            <h4 class="tab-title">{{'PROFILE.PASSWORD_TITLE' | translate}}</h4>
                            <hr/>
                            <!--<h5 class="text-success text-center" data-ng-show="profile.isFormSubmitted && profile.showResMsg"><strong>{{profile.responseMsg}}</strong></h5>-->
                            <form class="change-pswrd-form" name="pswrdChangeForm" novalidate>
                                <div class="row">
                                    <div class="col-sm-10 col-md-10 col-lg-10">
                                        <div class="form-group" data-ng-class="{ 'has-error' : (pswrdChangeForm.currentPswrd.$invalid && (!pswrdChangeForm.currentPswrd.$pristine || profile.pswrdFrmBtnClicked)) || (pswrdChangeForm.currentPswrd.$valid && !pswrdChangeForm.currentPswrd.$pristine && profile.responseMsg == 'INVALID_CREDENTIAL') }">
                                            <label for="currentPswrd">{{'PROFILE.CRRENT_PSWRD' | translate}}</label>
                                            <div class="input-group">       
                                                <span class="input-group-addon" id="sizing-addon1">
                                                    <i class="fa fa-key" aria-hidden="true"></i>
                                                </span>
                                                <input type="password" id="currentPswrd" class="form-control input-logo" name="currentPswrd" data-ng-model="profile.pswrdDetails.oldPwd" data-ng-pattern="/^(?=.*[A-Za-z])(?=.*\d)(?=.*[$@$!%*#?&])[A-Za-z\d$@$!%*#?&]{8,}$/" required/>
                                            </div>
                                            <p ng-show="pswrdChangeForm.currentPswrd.$invalid && (!pswrdChangeForm.currentPswrd.$pristine || profile.pswrdFrmBtnClicked)" class="help-block">{{'PROFILE.CRRENT_PSWRD_ERR_MSG' | translate}}</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-10 col-md-10 col-lg-10">
                                        <hr class="hr-2"/>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-10 col-md-10 col-lg-10">
                                        <div class="form-group" data-ng-class="{ 'has-error' : pswrdChangeForm.newPswrd.$invalid && (!pswrdChangeForm.newPswrd.$pristine || profile.pswrdFrmBtnClicked) }">
                                            <label for="newPswrd">{{'PROFILE.NEW_PSWRD' | translate}}</label>
                                            <div class="input-group">
                                                <span class="input-group-addon" id="sizing-addon1">
                                                    <i class="fa fa-key" aria-hidden="true"></i>
                                                </span>
                                                <input type="password" id="newPswrd" class="form-control input-logo" name="newPswrd" data-ng-model="profile.pswrdDetails.newPwd" data-ng-pattern="/^(?=.*[A-Za-z])(?=.*\d)(?=.*[$@$!%*#?&])[A-Za-z\d$@$!%*#?&]{8,}$/" required/>
                                            </div>
                                            <p ng-show="pswrdChangeForm.newPswrd.$invalid && (!pswrdChangeForm.newPswrd.$pristine || profile.pswrdFrmBtnClicked)" class="help-block">{{'PROFILE.NEW_PSWRD_ERR_MSG' | translate}}</p>
                                        </div>
                                    </div>
                                    <div class="col-sm-2 col-md-2 col-lg-2">
                                        <div class="suggestions-icon">
                                            <i class="fa fa-question-circle" aria-hidden="true"></i>
                                            <div class="suggestion-container">
                                                <p class="suggestions-content">
                                                    {{'PROFILE.PASSWORD_SUGGEST' | translate}}
                                                </p>
                                            </div>
							            </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-10 col-md-10 col-lg-10">
                                        <div class="form-group last" data-ng-class="{ 'has-error' : (pswrdChangeForm.reNewPswrd.$touched || profile.pswrdFrmBtnClicked) && (!pswrdChangeForm.reNewPswrd.$pristine || profile.pswrdFrmBtnClicked) && pswrdChangeForm.newPswrd.$valid && (profile.pswrdDetails.newPwd != profile.pswrdDetails.confirmPwd) }">
                                            <label for="reNewPswrd">{{'PROFILE.RE_PSWRD' | translate}}</label>
                                            <div class="input-group">
                                                <span class="input-group-addon" id="sizing-addon1">
                                                    <i class="fa fa-key" aria-hidden="true"></i>
                                                </span>
                                                <input type="password" id="reNewPswrd" class="form-control input-logo" name="reNewPswrd" data-ng-model="profile.pswrdDetails.confirmPwd" required/>
                                            </div>
                                            <p ng-show="(pswrdChangeForm.reNewPswrd.$touched || profile.pswrdFrmBtnClicked) && (!pswrdChangeForm.reNewPswrd.$pristine || profile.pswrdFrmBtnClicked) && pswrdChangeForm.newPswrd.$valid && (profile.pswrdDetails.newPwd != profile.pswrdDetails.confirmPwd)" class="help-block text-right">{{'PROFILE.RE_PSWRD_ERR_MSG' | translate}}</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-10 col-md-10 col-lg-10">
                                        <div class="form-group">
                                            <!--<button class="btn btn-primary btn-block btn-app-primary" data-ng-click="profile.submitChangedPswrd(profile.pswrdDetails, (pswrdChangeForm.$invalid || (profile.pswrdDetails.newPwd != profile.pswrdDetails.confirmPwd)))" data-ng-disabled="pswrdChangeForm.$invalid || (profile.pswrdDetails.newPwd != profile.pswrdDetails.confirmPwd)">{{'PROFILE.SAVE_CHANGES' | translate}}</button>-->
                                            <button class="btn btn-primary btn-block btn-app-primary" data-ng-click="profile.submitChangedPswrd(profile.pswrdDetails, (pswrdChangeForm.$invalid || (profile.pswrdDetails.newPwd != profile.pswrdDetails.confirmPwd)))">{{'PROFILE.SAVE_CHANGES' | translate}}</button>
                                            <p class="text-mandatory">{{'PROFILE.ALL_FIELDS' | translate}}</p>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </uib-tab>
                    <uib-tab index="2" select="profile.onTabSwitch('Create User')" class="ng-hide">
                        <uib-tab-heading>{{'PROFILE.CREATEUSER'| translate}}
                            <i class="fa fa-chevron-right pull-right" aria-hidden="true"></i> 
                        </uib-tab-heading>
                        <div class="row create-customer-user">
                            <div class="col-xs-12 col-sm-12 col-md-8 col-lg-7">
                                <h4 class="tab-title">{{'PROFILE.CREATECUSTOMERUSER'| translate}}</h4>
                                <hr/>
                                <form class="customer-user-form form-horizontal" name="createCustForm" novalidate>
                                    <div class="form-group">
                                        <label class="control-label col-sm-3" for="fName">{{'PROFILE.FIRSTNAME'| translate}}</label>
                                        <div class="col-sm-7 no-padding">
                                            <input type="text" id="fName" class="form-control" name="fName" data-ng-model="profile.custUserDetails.firstName" />
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-sm-3" for="lName">{{'PROFILE.LASTNAME'| translate}}</label>
                                        <div class="col-sm-7 no-padding">
                                            <input type="text" id="lName" class="form-control" name="lName" data-ng-model="profile.custUserDetails.lastName"  />
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-sm-3" for="email">{{'PROFILE.EMAIL'| translate}}</label>
                                        <div class="col-sm-7 no-padding">
                                            <input type="email" id="email" class="form-control" name="email" data-ng-model="profile.custUserDetails.emailId" />
                                        </div>
                                    </div>
                                    <hr/>
                                    <div class="form-group">
                                        <label class="control-label col-sm-3" for="custId">{{'PROFILE.CUSTOMERNUMER'| translate}}</label>
                                        <div class="col-sm-7 no-padding">
                                            <input type="custId" id="custId" class="form-control" name="custId" data-ng-model="profile.custUserDetails.customerId" />
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-sm-offset-3 col-sm-7 no-padding">
                                            <button class="btn btn-primary btn-block btn-app-primary" data-ng-click="profile.createCustomerUser(profile.custUserDetails)" >{{'PROFILE.CREATE'| translate}}</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </uib-tab>
                </uib-tabset>
            <div>
        </div>
    </div>
</div>



