.user-profile {
    margin-top: 3px;
    background: $app_bg_color;
    .parent-row{
        padding-top: 0px;
        padding-bottom: 30px;
        >div{
            padding: 0;
        }
        .bg-white{
            background: #fff;
            padding-left: 0;
            padding-right: 0;
            border-radius: 4px;
            padding-top: 30px;
            padding-bottom: 30px;
        }
        .breadcrumb {
            background-color: #ffffff;
            font-weight: 600;
            margin-bottom: 0;
            border-radius: 0;
            padding: 8px 20px;
            box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 7px;
            li + li:before {
                padding: 0 5px;
                content: "> ";
                font-size: 10px;
                color: #777;
            }
        }
        .profile-content{
            padding: 20px 20px;
            >h1{
                font-size: 30px;
                font-weight: 300;
                color: #a6a6a6;
                margin-top: 0;
                line-height: 22px;
                margin-bottom: 27px;
                .alert-success{
                    display: inline-block;
                    border-color: #3FB300;
                    color: #3FB300;
                    margin-bottom: 0;
                    font-size: 16px;
                    line-height: 17px;
                    text-align: center;
                    margin-left: 70px;
                    padding: 10px;
                }
                .er-msg{
                    border-color: #ff8a00;
                    color: #ff8a00;
                    background-color: #fff;
                }
            }
            
            input, button, select{
                border-radius: 3px !important;
            }
            select{
                -webkit-appearance: none;
                appearance: none;
                padding-right: 20px;
            }
            select+.fa-caret-down{
                position: absolute;
                right: 20px;
                top: 11px;
                color: #8b8b8b;
                font-size: 16px;
                pointer-events: none;
                color: $active_link_color;
            }
            .profile-vertical-tab{
                display: block;
                box-sizing: border-box;
                overflow: hidden;
                // background: #F8F8F8;
                ul.nav{
                    width: 18%;
                    float: left;
                    margin-top: 0;
                    > li.active > a,> li.active > a:hover, > li.active > a:focus {
                        background-color: $app_bg_color;
                        color: #323232;
                        font-weight: 700;
                        .fa{
                            display: inline-block;
                            color: #323232;
                            font-size: 12px;
                            top: 5px;
                            position: relative; 
                        }
                    }
                    > li > a:hover{
                        background-color: $app_bg_color;
                        // color: #323232;
                    }
                    >li>a{
                        border-radius: 0;
                        color: #323232;
                        font-size: 14px;
                        font-weight: 400;
                        padding: 10px 25px 10px 0;
                        .fa{
                            display: none;
                        }
                    }
                }
                .tab-content{
                    width: 82%;
                    float: left;
                    background: #FFFFFF;
                    padding: 40px;
                    border-radius: 3px;
                    .tab-title{
                        margin-top: 0;
                        font-size: 24px;
                        font-weight: 600;
                        color: #7f7f7f;
                    }
                    .text-muted {
                        color: #7f7f7f;
                        text-align: right;
                        display: block;
                        font-size: 12px;
                        font-weight: 600;
                    }
                    .text-mandatory {
                        color: #7f7f7f;
                        text-align: left;
                        display: block;
                        font-size: 12px;
                        font-weight: 600;
                        margin-top: 15px;
                    }
                    hr {
                        margin-top: 10px;
                        margin-bottom: 20px;
                        border-top: 1px solid #f1f1f1;
                    }
                    label{
                        color: #7f7f7f;
                        font-size: 12px;
                        font-weight: 600;
                        padding-right: 0;
                    }
                    .form-horizontal{
                        label{
                            padding-top: 9px;
                        }
                        label.line-2{
                            padding-top: 4px;
                            line-height: 14px;
                        }
                    }
                    input,select{
                        height: 36px;
                        font-size: 16px;
                        font-weight: 600;
                        color: #414141;
                        border: 1px solid #ededde;
                        box-shadow: none;
                    }
                    input:focus{
                        border-color: #0093c6;
                        box-shadow: none;
                        // border-color: #66afe9;
                        outline: 0;
                        box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
                    }
                    input.input-logo{
                        border-top-right-radius: 3px !important;
                        border-bottom-right-radius: 3px !important;
                        border-top-left-radius: 0 !important;
                        border-bottom-left-radius: 0 !important;
                    }
                    .input-group-addon {
                        color: #dedede;
                        text-align: center;
                        background-color: #f5f5f5;
                        border: 1px solid #ededed;
                        border-radius: 4px;
                        border-bottom-right-radius: 0;
                        border-top-right-radius: 0;
                        border-right: 0;
                    }
                    .col-optional{
                        padding-left: 0;
                    }
                    .txt-optional{
                        font-size: 12px;
                        font-weight: 600;
                        color: #7f7f7f;
                        display: inline-block;
                        padding-top: 8px;
                    }
                    // .has-error{
                    //     .help-block{
                    //         text-align: right;
                    //         margin-bottom: 0;
                    //     }
                    // }
                    input[type=text], input[type=password], input[type=email], select{
                        // font-size: 14px;
                        // font-weight: 600;
                        // color: #414141;
                        // border: 1px solid #ededde;
                        box-shadow: none;
                    }
                    input[type=text]:focus, input[type=password]:focus, input[type=email]:focus, select:focus{
                        border-color: #0093c6;
                        outline: 0;
                        box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
                    }
                    // input.input-logo{
                    //     border-top-right-radius: 3px !important;
                    //     border-bottom-right-radius: 3px !important;
                    //     border-top-left-radius: 0 !important;
                    //     border-bottom-left-radius: 0 !important;
                    // }
                    // .input-group-addon {
                    //     color: #dedede;
                    //     text-align: center;
                    //     background-color: #f5f5f5;
                    //     border: 1px solid #ededed;
                    //     border-radius: 4px;
                    //     border-bottom-right-radius: 0;
                    //     border-top-right-radius: 0;
                    //     border-right: 0;
                    // }
                    .help-block{
                        margin-top: 2px;
                    }
                    .has-error{
                        .form-control, .form-control:focus {
                            box-shadow: inset 0 1px 1px rgba(100, 54, 0, 0.075);
                            border-color: #ff8a00;
                        }
                        .help-block{
                            text-align: right;
                            margin-bottom: 0;
                            font-weight: 600;
                            font-size: 12px;
                            color: #ff8a00;
                        }
                        .input-group-addon {
                            color: #ff8a00;
                            background-color: #fff3e5;
                            border-color: #ff8a00;
                        }
                    }
                    .tab-pane {
                        min-height: 200px;
                    }
                    .btn{
                        background-color: $btn_primary_bgcolor;
                        border-color: $btn_primary_border_color;
                        color: #fff;
                        border-radius: 3px;
                        margin-top: 10px;
                        height: 42px;
                        font-size: 16px;
                        font-weight: 600;
                    }
                    .btn:hover {
                        background-color: $btn_primary_focus_bgcolor;
                        border-color: $btn_primary_focus_border_color;
                        color: #fff;
                    }
                    .my-profile-content{
                        .form-group.last{
                            margin-bottom: 10px;
                        }
                        .form-group{
                            .col-label{
                                width: 118px;
                            }
                            .col-sm-offset-3{
                                margin-left: 118px;
                            }
                        }
                        .form-group.last-group{
                            margin-bottom: 0;
                            .text-mandatory{
                                margin-bottom: 0;
                            }
                        }
                    }
                    .check-avail{
                        top: 3px;
                        position: relative;
                        font-size: 11px;
                        font-weight: 600;
                        color: #404040;
                        text-decoration: none !important;
                        .fa-exclamation-triangle{
                            color: #ff8a00;
                            font-size: 16px;
                            top: 7px;
                            left: 0px;
                            margin-right: 2px;
                            position: absolute;
                        }
                        .fa-check{
                            color: #39A200;
                            font-size: 16px;
                            position: relative;
                            top: 2px;
                            margin-right: 2px;
                        }
                    }
                    .availbl{
                        top: -1px;
                        padding-left: 25px;
                        display: inline-block;
                        line-height: 15px;
                    }
                    .change-pswrd-content{
                        width: 400px;
                        .change-pswrd-form{
                           // width: 90%;
                            display: block;
                            hr{
                                margin-top: 20px;
                                margin-bottom: 20px;
                            }
                        }
                        .form-group.last{
                            margin-bottom: 20px;
                        }
                        .suggestions-icon{
                            display: inline-block;
                            font-size: 20px;
                            color: #7f7f7f;
                            cursor: pointer;
                            position: relative;
                            font-size: 16px;
                            top: 27px;
                            left: -10px;
                            .suggestion-container{
                                display: none;
                                position: absolute;
                                top: -53px;
                                right: -91px;
                                z-index: 1000;
                                font-size: 12px;
                                line-height: 15px;
                                font-weight: 600;
                                width: 340px;
                                color: #161616;
                                border: 1px solid #a2a2a2;
                                padding: 8px 10px;
                                background-color: #FFC000;
                                border-radius: 4px;
                                p{
                                    margin: 0;
                                }
                                &::before{
                                    width: 0px;
                                    height: 0px;
                                    content: "";
                                    top: 44px;
                                    right: 89px;
                                    position: absolute;
                                    border-left: 10px solid transparent;
                                    border-right: 10px solid transparent;
                                    border-top: 10px solid #FFC000;
                                    z-index: 200;
                                }
                                &::after{
                                    width: 0px;
                                    height: 0px;
                                    content: "";
                                    top: 46px;
                                    right: 89px;
                                    position: absolute;
                                    border-left: 10px solid transparent;
                                    border-right: 10px solid transparent;
                                    border-top: 11px solid #a2a2a2;
                                }
                            }
                            &:hover{
                                .suggestion-container{
                                    display: inline-block;
                                }
                            }
                        }
                    }
                    .create-customer-user{
                        // width: 350px;
                    }
                }
            }
        }
    }
}
