/***************************************************************
* Proprietary & Confidential  |  © 2016 PhaseZero Ventures LLC 
* 
* This file is part of Tire Advisor project
* 
* This file cannot be copied and/or distributed without 
* the express permission of PhaseZero Ventures LLC
***************************************************************/


.category-list{
    @extend .sub-title;
    li{
        &:hover,
        &:active{
            border-bottom: 4px solid $accent_color;
            a{
                color: $accent_color !important;
            }
        }
        a {
            color: $color_extreme_two;
            position: relative;
            &.last-item {
                &:after{
                    content: '';
                    height: 15px;
                    width: 0px;
                    top: 3px;
                    position: absolute;
                    right: 0px;
                }
            }
        }   
    }    
}