

.where-to-buy {
    min-height: auto;
    margin: 0px -10px !important;
    .where-bread-crumb {
        width: 100%;
        float: left;
        background: #fff;
        margin: 0px;
        padding: 10px 0px;
        ul {
            margin: 0px;
            padding: 0px 30px;
            li {
                list-style: none;
                margin: 0px;
                margin-right: 10px;
                padding: 0px;
                float: left;
            }
        }
    }
    .where-map-locator {
        width: 100%;
        float: left;
        background: #eff0f1;
        margin: 0px;
        padding: 30px 30px;
        -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1) inset;
        -moz-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1) inset;
        -o-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1) inset;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1) inset;
        h2 {
            margin: 0px 0px 20px 0px;
            padding: 0px;
            color: #a6a6a6;
            float: left;
        }
        .where-map-wrap {
            width: 100%;
            float: left;
            position: relative;
            height: 712px;
            overflow: hidden;
            .where-map-container {
                margin: 0px;
                float: left;
                background: #fff;
                width: calc(100% - 383px);
                overflow: hidden;
                height: 100%;
                position: absolute;
                z-index: 3;
                left: 383px;
                #wheremap {
                    width: 100%;
                    height: 712px;
                    img[src='https://maps.gstatic.com/mapfiles/api-3/images/google4.png'] {
                        display: none;
                    }
                    .map-info-window {
                        width: 200px;
                        padding: 10px 5px;
                        > * {
                            margin: 2px 0px;
                            padding: 0px;
                        }
                        a,
                        h6,
                        h5,
                        address,
                        p {
                            width: 100%;
                            float: left;
                            color: #939393;
                            font-family: $app_font_family;
                        }
                        h6 {
                            color: #6e6e6e;
                            font-weight: 700;
                        }
                        h5 {
                            color: #000;
                            font-size: 20px;
                            font-weight: 500;
                            margin-top: 10px;
                        }
                        a {
                            font-weight: 500;
                            color: $active_link_color;
                            margin-top: 5px;
                        }
                    }
                    .labels {
                        font-size: 10px;
                    }
                }
            }
            .where-map-details {
                width: 383px;
                height: 100%;
                float: left;
                position: absolute;
                left: 0;
                top: 0;
                z-index: 4;
                -webkit-transition: 350ms margin ease-in-out;
                -moz-transition: 350ms margin ease-in-out;
                -o-transition: 350ms margin ease-in-out;
                transition: 350ms margin ease-in-out;
                .tooltip.right {
                    width: 140px;
                    z-index: 9;
                }
                .where-toogle-btn {
                    float: left;
                    width: 20px;
                    height: 50px;
                    background: #fff;
                    position: absolute;
                    right: -20px;
                    top: 0;
                    z-index: 6;
                    border: #f4f4f4 solid 1px;
                    border-left: none;
                    cursor: pointer;
                    a {
                        margin: 11px 8px;
                        font-size: 16px;
                        color: $active_link_color;
                        float: left;
                    }
                }
                .panel {
                    border-radius: 0px;
                    position: absolute;
                    width: 100%;
                    left: 0;
                    top: 0;
                    z-index: 5;
                    margin: 0px;
                    .panel-body {
                        height: 670px;
                    }
                }
                
                /*.where-map-details-container {
                    padding: 30px;
                    .where-map-details-header {
                        float: left;
                        width: 100%;
                        h3 {
                            float: left;
                            font-size: 22px;
                            color: #7f7f7f;
                            margin: 0px;
                            padding: 0px;
                            width: 100%;
                            border-bottom: #ccc solid 1px;
                        }
                    }
                    .where-map-details-location {
                        float: left;
                        width: 100%;
                        > * {
                            margin: 0px;
                            padding: 0px;
                        }
                        p {
                            float: left;
                            color: #b3b3b3;
                            font-size: 12px;
                        }
                        a {
                            float: right;
                            color: #0093c6;
                            font-size: 11px;
                        }
                        h2 {
                            float: left;
                            margin-top: 10px;
                            width: 100%;
                            padding-bottom: 17px;
                            border-bottom: #ccc solid 1px;
                            color: #7d7d7d;
                            a {
                                color: #717171;
                                font-size: 16px;
                                margin: 5px;
                            }
                        }
                    }
                    .where-map-details-dropdown {
                        float: left;
                        width: 100%;
                        hr {
                            margin: 0px;
                            padding: 0px;
                            background: #ccc;
                            color: #ccc;
                        }
                        p {
                            margin: 19px 0px;
                            font-size: 12px;
                            color: #7f7f7f;
                        }
                        .btn-group {
                            margin: 14px 0px;
                            width: 100%;
                            .btn {
                                p {
                                    float: left;
                                    margin: 0;
                                    width: auto;
                                    font-size: 14px;
                                    color: #555555;
                                }
                                span {
                                    float: right;
                                    margin-top: 8px;
                                }
                            }
                        }
                    }
                    .where-map-details-dealers {
                        >div {
                            width: 100%;
                            float: left;
                            border-bottom: #ccc solid 1px;
                            > * {
                                margin: 0px;
                                padding: 0px;
                            }
                            label {
                                font-size: 12px;
                                float: left;
                                width: 100%;
                                color: #323232;
                                margin-top: 15px;
                            }
                            h4 {
                                font-size: 20px;
                                color: #2a2a2a;
                                float: left;
                                width: 100%;
                                margin-bottom: 6px;
                            }
                            p {
                                font-size: 14px;
                                color: #323232;
                                float: left;
                                width: 100%;
                                margin-bottom: 9px;
                            }
                        }
                    }
                }*/
                .panel {
                    .panel-heading {
                        background: #fff;
                        h3 {
                            float: left;
                            font-size: 18px;
                            color: #7f7f7f;
                            margin: 0px;
                            padding: 6px 0px 6px 0px;
                            font-weight: 200;
                        }
                        a {
                            color: #7f7f7f;
                            float: right;
                            font-size: 16px;
                            margin: 0px;
                            padding: 0px;
                        }
                        .where-map-filter-collapse {
                            float: left;
                            i {
                                color: #0093c6;
                                margin-top: 7px;
                                padding: 0px 10px 0px 0px;
                            }
                        }
                    }
                    .panel-body {
                        background: #fafafa;
                        .where-map-filter {
                            width: 100%;
                            height: 272px;
                            
                            overflow: hidden;
                            -webkit-transition: 350ms height ease-in-out;
                            -moz-transition: 350ms height ease-in-out;
                            -o-transition: 350ms height ease-in-out;
                            transition: 350ms height ease-in-out;
                            hr {
                                margin: 10px -15px 0px -15px;
                                background: #ddd;
                            }
                            
                            .input-group {
                                .geo-zip-code {
                                    //border: none;
                                    font-size: 20px;
                                    font-weight: 600;
                                    //box-shadow: 0px 0px 0px transparent;
                                    width: 100%;
                                    border-radius: 4px 0px 0px 4px;
                                    border-right: 0px solid #fff;
                                    box-shadow: none;
                                    height: 50px;
                                }
                                .input-group-addon {
                                    background: #fff;
                                    border-left: 0px solid #fff;
                                }
                            }
                            .geo-zip-code-focused {
                                .geo-zip-code {
                                    border-color: #0093c6;
                                }
                                .input-group-addon {
                                    border-color: #0093c6;
                                }
                            }
                            .row {
                                label,
                                h4,
                                p {
                                    margin: 0px;
                                    padding: 0px;
                                    color: #bdbdbd;
                                }
                                h4 {
                                    margin: 5px 0px;
                                }
                                p {
                                    margin-bottom: 5px;
                                }
                                hr {
                                    width: calc(100% + 10px);
                                    margin: 10px -5px;
                                    background: #ddd;
                                }
                            }
                            select {
                                box-shadow: none;
                                font-weight: 600;
                                &:focus {
                                    border-color: #0093c6;
                                }
                            }
                        }
                        .err-msg {
                                padding: 20px 0px;
                                i {
                                    color: #ffb11b;
                                    font-size: 24px;
                                    margin-bottom: 10px;
                                }
                                P {
                                    width: 100%;
                                    margin-top: 10px;
                                    text-align: center;
                                }
                            }
                        .where-map-results {
                            margin: 0px -15px;
                            height: 375px;
                            background: #fff;
                            .dealer-locator-data {
                                margin: 15px 15px;
                                height: calc(100% - 70px);
                                overflow-x: hidden;
                                overflow-y: auto;
                                .dealer-locator-item {
                                    padding: 10px 15px 0px 15px;
                                    cursor: pointer;
                                    &:hover {
                                        background: #fafafa;
                                    }
                                    .row {
                                    label,
                                    h4,
                                    p {
                                        margin: 0px;
                                        padding: 0px;
                                    }
                                    h4 {
                                        margin: 5px 0px;
                                    }
                                    p {
                                        color: #a8a8a8;
                                    }
                                    hr {
                                        background: #ddd;
                                        margin: 10px 0px 0px 0px;
                                    }
                                    .list-serial {
                                    width: 33px;
                                    height: 43px;
                                    float: left;
                                    font-weight: bold;
                                    background: url('./../assets/images/drop-pin-edited.png')no-repeat;
                                    //background-position-y: -8px;
                                    background-size: 100% auto;
                                    
                                    margin-right: 10px;
                                    p {
                                        margin-top: 12px;
                                        color: #fff;
                                        width: 100%;
                                        text-align: center;
                                    }
                                }
                                }
                                }

                                
                                
                            }
                            
                            
                            
                            .label-distributor-count {
                                border-bottom: #ddd solid 1px;
                                padding: 0px 15px;
                                height: 40px;
                                h3 {
                                    float: left;
                                    font-size: 18px;
                                    color: #7f7f7f;
                                    margin: 0px;
                                    padding: 10px 0px;
                                    width: 100%;
                                }
                            }
                        }
                        
                    }
                    .panel-collapsed {
                        .where-map-filter {
                            height: 0px;
                        }
                        .where-map-results {
                            margin-top: -15px;
                            height: 661px;
                        }
                    }
                }
            }
        }
        .where-map-collapse {
            .where-map-container {
                width: 100%;
            }
            .where-map-details {
                margin-left: -378px;
            }
        }
    }
}