<div class="where-to-buy">
    <div class="where-bread-crumb">
        <ul>
            <li><a href="/">{{'POSTORDER.HOME' | translate}}</a></li>
            <li>></li>
            <li>{{'HEADER.WHERETOBUY' | translate}}</li>
        </ul>
    </div>
    <div class="where-map-locator">
        <!--<h2>{{'HEADER.WHERETOBUY' | translate}}</h2>-->
        <dealer-locator map-type="WHERETOBUY" data="wtb.dealers" dealer-class="panel-where-to-buy"></dealer-locator>

    </div>
    
</div>

<!--<div class="wheretobuy">
    <h4>{{'HEADER.WHERETOBUY' | translate}}</h4>
    <ui-gmap-google-map center='wtb.map.center' zoom='wtb.map.zoom' ng-if="wtb.map.show" options='wtb.map.options'>
        <ui-gmap-marker coords="wtb.marker.coords" options="wtb.marker.options" idkey="wtb.marker.id">
        </ui-gmap-marker>
    </ui-gmap-google-map>
</div><-->