.packingslip-modal-popup.in{
    top:5% !important;
    
    .modal-dialog {
        width:1100px;
    }
    #packingSlipPopUp{
        padding:35px;
        background-color: $modal_bg_color;
        border-radius: 3px;
    }
    .packing-slip-container {
        min-height: 250px;
        background-color: #FFFFFF;
        width: 80%;
        float: right;
        padding:25px;
        border-radius: 3px;
    }
    .packing-header{
       width:100%; 
       margin-bottom: 20px;
            .td1-header {
                width:45%;
                padding-right:30px;
                vertical-align: top;
            }
            .td2-header {
                width:55%;
                vertical-align: top;
                           
            }
            .address-div, .info-div{
                width:100%;
                margin:20px 0 0 0;
                border:1px solid #000000;
            }
            .info-div{
                height:280px;
                font-size:13px;
                .packingSlipInfotable{
                    td{
                        &:first-child{
                            font-weight: 700;
                        }
                    }
                }
            }
            .address-div{
                height:130px;
                font-size:13px;
                div{
                    padding-left:5px;
                }
            }
            .address-head{
                background-color: #FBFBFB;
                color:#9b9b9b;
                font-size:13px;
                font-weight: 700;
                padding:5px;
                border-right: 1px solid #ddd;
                .cust-id{
                    margin-left: 25px;
                }
            }
    }
    .row.delivery-parent-container{
        margin: 0;
    }
    .delivery-number-div{
        float:left;
        width:18%
    }
    .head{
        margin-bottom: 20px;
    }
    .header-text{
        font-size:30px;
        font-weight: 300;
        color:#9b9b9b;
    }
    .lbl-text{
        font-size:11px;
        font-weight: 700;
        color:#9b9b9b;
    }
    .ordernumber-value{
        font-size:28px;
        font-weight: 600;
        color:#6b6b6b;
    }
    .btn-app{
        height: 36px;
        font-weight: 600;
        font-size: 14px;
        border-radius: 3px;
        text-transform: uppercase;
        outline: 0;
        line-height: 16px;
    }
    .btn-app:focus, .btn-app.focus, .btn-app:active:focus, .btn-app:active.focus, .btn-app.active:focus, .btn-app.active.focus {
        outline: 0;
    }
    .btn-app-primary{
        background-color: $btn_primary_bgcolor;
        border-color: $btn_primary_border_color;
        color: #fff;
    }
    .btn-app-primary:focus, .btn-app-primary.focus, .btn-app-primary:hover {
        background-color: $btn_primary_focus_bgcolor;
        border-color: $btn_primary_focus_border_color;
        color: #fff;
    }
    .notify-msg{
        width: 307px;
        position: fixed;
        background: #fff;
        top: 60px;
        left: 0;
        right: 0;
        margin: 0 auto;
        z-index: 3000;
        border: 1px solid #3FB300;
        color: #FFFFFF;
        background: #3FB300;
        font-weight: 600;
        font-size: 14px;
        padding: 7px 10px;
        border-radius: 3px;
    }
    .col-email-print{
        padding-top: 15px;
    }
    .email-container{
        display: inline-block;
        a{
            color: $active_link_color;
            text-decoration: none;
            i{
                font-size: 18px;
                margin-right: 5px;
            }
        }
        >.dropdown-menu{
            padding: 30px;
            width: 686px;
            background: #f6f6f6;
            left: -635px;
            top: 27px;
            border: 0;
            h2{
                margin-top: 0;
                margin-bottom: 40px;
                font-size: 30px;
                font-weight: 300;
                color: #9b9b9b;
                b{
                    font-weight: 400;
                }
                a{
                    img{
                        vertical-align: top;
                    }
                }
            }
            form{
                label{
                    color: #b3b3b3;
                    font-weight: normal;
                    font-size: 14px;
                    margin-left: 5px
                }
                .form-group{
                    .clear-email{
                        color: $active_link_color;
                        font-size: 12px;
                        font-weight: 600;
                        text-decoration: none;
                        outline: none;
                        margin-right: 10px;
                    }
                    textarea {
                        resize: none;
                        padding: 12px 15px;
                        border-radius: 3px;
                        height: 70px;
                        // border: 1px solid #ededed;
                        // box-shadow: none;
                        &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
                            color: #bcbcbc;
                            font-size: 13px;
                        }
                        &::-moz-placeholder { /* Firefox 19+ */
                            color: #bcbcbc;
                            font-size: 13px;
                        }
                        &:-ms-input-placeholder { /* IE 10+ */
                            color: #bcbcbc;
                            font-size: 13px;
                        }
                        &:-moz-placeholder { /* Firefox 18- */
                            color: #bcbcbc;
                            font-size: 13px;
                        }
                    }
                    .checkbox-label{
                        margin: 0 ;
                        color: #7f7f7f;
                        font-weight: 600;
                        font-size: 12px;
                        margin-left: 14px;
                        .fa-square-o, .fa-check-square{
                            color: #0093c6;
                            font-size: 16px;
                            margin-left: 0;
                            position: relative;
                            top: 2px;
                            margin-right: 10px;
                        }
                        .fa-check-square{
                            background-color: #ffffff;
                        }
                        &:hover{
                            cursor: pointer;
                        }
                    }
                    p.err-txt{
                        text-align: right;
                        margin-bottom: 0;
                        font-weight: 600;
                        font-size: 12px;
                        color: #ff8a00;
                        margin-top: 2px;
                    }
                }
                .form-grp-txtarea{
                    margin-bottom: 10px;
                }
                .form-group.btn-control{
                    margin-bottom: 0;
                    text-align: right;
                    .btn{
                        .glyphicon{
                            margin-right: 5px;
                        }
                    }
                }
                p.top-err{
                    font-weight: 600;
                    color: #ff8a00;
                }
            }
            &:after{
                width: 0;
                height: 0;
                border-left: 10px solid transparent;
                border-right: 10px solid transparent;
                border-bottom: 10px solid #f6f6f6;
                content: "";
                top: -10px;
                right: 35px;
                position: absolute;
            }
        }
    }
    .print-container{
      cursor: pointer;  
      margin-right:35px;
    }
    .fa-print{
        font-size:18px;
        color:$active_link_color;
    }
    .print-lbl{
        font-size:11px;
        color:#b3b3b3;
        font-weight: 600;
    }
    .list-group-item{
            border:none;
            margin:0;
            border-radius: 1px;
            font-size: 14px;
            background-color:$modal_bg_color;
            padding:20px 0px 0px 0px;
        }
         .listName .list-group-item .fa-chevron-right{
            display: none;
         }
        .listName .list-group-item.active{
            .fa-chevron-right{
                display: block;
                margin-top:3px;
            }
            color:#000;
            font-weight: 700;
        }
        .packingSliptable{
            border:1px solid #f1f1f1;
            th{
                background-color: #FBFBFB;
                color:#9b9b9b;
                font-size:11px;
                border-right: 1px solid #f1f1f1;
                border-bottom:none;
                vertical-align: top;
            }
            tbody {
                color:#393939;
                font-size:12px;
                font-weight: 600;
                td {
                    border-right: 1px solid #f1f1f1;
                }
            }
        }
        th{
            font-size:11px;
            font-weight: 700;
            color:#9b9b9b;
            border-bottom:none;
        }
        .packingSlipHeadertable, .packingSlipInfotable{
            td{
                border-top:none;
            }
                
        }
        .packingSlipInfotable{
            td{
                padding:4px;
            }
        }
        .paking-header-tbl{
            width:100%;
            margin-bottom: 40px;
            .aftermarket{
                font-weight: 700;
                font-size: 15px;
                color: #9b9b9b;
                margin: 5px 0;
            }
            .company-name {
                font-size: 12px;
                font-weight: 700;
            }
            .packing-lbl{
                font-size:18px;
                color:#007cc3;
                font-weight: 600;
            }
            .reprint-lbl{
                font-size:14px;
                color:#414141;
                font-weight: 600;
                margin-top:15px;
            }
            td {
                &:last-child {
                    width: 131px;
                    text-align: right;
                }
            }
            tr{
                td.td-logo{
                    width: 120px;
                }
                td.td-address{
                    address{
                        div{
                            font-size: 12px;
                            line-height: 15px;
                            color: #414141;
                        }
                        div.comp-name{
                            font-weight: 700;
                            font-size: 14px;
                            line-height: 16px;
                        }
                    }
                }
            }
            
        }
        .loading-text{
            margin: 35px 0px;
            text-align: center;
        }
        .no-data{
        h1{
          margin:20px;
          font-size: 20px;
          color:#f17e00;
        }
    }
        
}

@media screen {
    #printSection {
        display: none;
    }
}
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (orientation: landscape) 
  and (-webkit-min-device-pixel-ratio: 1),
screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (orientation: landscape) 
  and (-webkit-min-device-pixel-ratio: 1),
screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (orientation: landscape) 
  and (-webkit-min-device-pixel-ratio: 2){
  .packingslip-modal-popup.in .modal-dialog {
        width: 94%;
        .modal-content{
            .modal-wrapper{
                .header-text{
                    width: 70%;
                }
            }
        }
  }
}
@media print {
    body * {
        visibility:hidden;
    }
    #printSection, #printSection * {
        visibility:visible;
    }
    #printSection {
        position:absolute;
        left:0;
        top:0;
    }
    #printPackingSlipArea{
        .packing-header{
            .td1-header{
                .address-div{
                    padding: 10px 20px 20px 20px !important;
                    margin-bottom: 20px !important;
                    .address-head{
                        border-right: 0;
                    }
                }
            }
            .td2-header{
                .info-div{
                    padding: 10px 20px 20px 20px !important;
                    .address-head{
                        border-right: 0;
                    }
                }
            }
        }
    }
    
     div{
         position:static !important;
         width:auto !important; 
         margin:auto 0 !important;
         padding:0 !important; 
         min-width:100% !important;
     }
    body, div, h1, h2, h3, p, th, td, a{
        color: #000 !important;
        background-color:#fff !important
    }
    body{
        min-width:640px !important;
    } 

}