<div id="packingSlipPopUp" class="modal-wrapper">
    <div id="printSection">
    </div>
    <div class="text-center notify-msg" data-ng-show="packingslip.isEmailSent">{{'POSTORDER.EMAIL.SUCCESS_MSG' | translate}}</div>
    <div class="row head">
        <div class="col-md-8 header-text">
            <span>{{ 'PACKINGSLIP.PACK_SLIP' | translate}}<span class="ordernumber-value">{{packingslip.orderId}}</span></span>
        </div>
        <div class="col-md-3 pull-right popup-close">
            <a class="close-overlay pull-right" data-ng-click="packingslip.cancel('close-popup')" href="#">
                <img ng-src="/assets/images/close-icon.png" alt="" src="/assets/images/close-icon.png">
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
           
        </div>
        <div class="col-md-5">
           <!--<span class="lbl-text"> {{ 'PACKINGSLIP.ORD_NUM' | translate}}:</span>
           <span class="ordernumber-value">{{packingslip.orderId}}</span>-->
        </div>
        <div class="col-md-3 text-right col-email-print">
            <div uib-dropdown class="email-container" is-open="packingslip.isEmailOpen" auto-close="outsideClick" data-ng-if="packingslip.loadingListItems === false && packingslip.isSlipsAvailable">
                <a href="" id="emailDeliveryNumber" uib-dropdown-toggle data-ng-mouseover="" data-ng-click="packingslip.openEmailContainer($event)" title="{{'POSTORDER.EMAIL.LABEL_EMAIL' | translate}}">
                    <i class="fa fa-envelope" aria-hidden="true"></i>
                </a>
                <div class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="emailDeliveryNumber">
                    <h2>{{ 'POSTORDER.EMAIL.PS_HEAD1' | translate}}<b>{{packingslip.selectedList}}</b>{{ 'POSTORDER.EMAIL.INV_HEAD2' | translate}}
                        <a class="close-overlay pull-right" data-ng-click="packingslip.isEmailOpen = false" data-dismiss="modal" href="#">
                            <img ng-src="/assets/images/close-icon.png" alt="" src="/assets/images/close-icon.png">
                        </a>
                    </h2>
                    <form name="emailForm" novalidate>
                        <p data-ng-show="packingslip.isSentEmailFailed" class="text-center top-err">{{'POSTORDER.EMAIL.ERR_MSG' | translate}}</p>
                        <div class="form-group form-grp-txtarea">
                            <label for="emailList">{{'POSTORDER.EMAIL.EMAIL_TO' | translate}}</label>
                            <a href="" class="pull-right clear-email" data-ng-click="packingslip.emailIdList = ''; packingslip.isInvalidEmailList = false;">CLEAR</a>
                            <textarea class="form-control" name="emailList" placeholder="{{ 'EMAIL.MULTIEMAILPLACEHOLDER' | translate}}" rows="3" data-ng-model="packingslip.emailIdList" data-ng-change="packingslip.onChangeOfEmailList()" id="emailList" autofocus required></textarea>
                            <p data-ng-show="packingslip.isInvalidEmailList" class="err-txt text-right">{{'POSTORDER.EMAIL.FORM_ERR_MSG' | translate}}</p>
                        </div>
                        <div class="form-group">
                            <label data-ng-click="packingslip.selectCopied()" data-ng-model="packingslip.areYouCopied" uib-btn-checkbox class="checkbox-label">
                                <i class="fa" ng-class="packingslip.areYouCopied ? 'fa-check-square' : 'fa-square-o' "></i>{{ 'EMAIL.COPYME' | translate}}
                            </label>
                        </div>
                        <div class="form-group btn-control">
                            <button type="submit" class="btn btn-app btn-app-primary pull-right"  ng-click="packingslip.sendDeliveryDtlsViaEmail(packingslip.selectedList)">{{'POSTORDER.EMAIL.BTN_TXT' | translate}}</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-1 col-email-print">
            <div class="pull-right print-container" data-ng-if="packingslip.loadingListItems === false && packingslip.isSlipsAvailable" print-directive print-element-id="printPackingSlipArea">
                <i class="fa fa-print" aria-hidden="true" title="{{ 'PACKINGSLIP.PRINT_P_SLIP' | translate}}"></i>
                <!--<span class="print-lbl">{{ 'PACKINGSLIP.PRINT_P_SLIP' | translate}}</span>-->
            </div>
        </div>
    </div>
    <div class="row delivery-parent-container">
         <div class="delivery-number-div">
             <div class="lbl-text">
                 {{ 'PACKINGSLIP.DEL_NUMS' | translate}}
             </div>
           <div class="list-group listName">
                <a href="#" class="list-group-item" data-ng-repeat="key in packingslip.deliveryList" ng-click="packingslip.getPackingSlips(key)"
                    ng-class="{'active':packingslip.selectedList === key}">
                        {{key}}&nbsp;&nbsp;
                        <i class="fa fa-chevron-right pull-right" aria-hidden="true"></i> 
                    </a>
            </div>
        </div>
         <div class="packing-slip-container" >
             <div class="row  list-loading" data-ng-if="packingslip.loadingListItems">
                <div class="row">
                    <div class="col-md-3"></div>
                    <div class="col-md-6 loading-text">
                        <h3>{{ 'LOADING.LOADINGTEXT' | translate}}</h3>
                        <br>
                        <img src="/assets/images/loading.gif" width="40" height="40">
                    </div>
                    <div class="col-md-3"></div>
                </div>
             </div>
             <div class="nodata-div" data-ng-if="packingslip.loadingListItems === false && packingslip.isSlipsAvailable === false">
                 <div ng-include="'app/post-order/exceptionTemplates/noDataAvailable.html'"></div>
                 
             </div>
            <div id="printPackingSlipArea" data-ng-if="packingslip.loadingListItems === false && packingslip.isSlipsAvailable">
              <table class="paking-header-tbl">
                    <tr>
                        <td class="td-03 td-logo">
                             <img src="{{packingslip.websiteLogo}}" alt="">
                        </td>
                        <td class="td-address">
                            <address>
                                <div class="comp-name">{{packingslip.tenantAddress.companyName}}</div>
                                <div class="address-line1">{{packingslip.tenantAddress.addressLine1}}</div>
                                <div class="address-line2">{{packingslip.tenantAddress.addressLine2}}</div>
                                <div class="contact-no">{{packingslip.tenantAddress.contactNo}}</div>
                                <div class="email-address">{{packingslip.tenantAddress.emailAddress}}</div>
                                <div class="site-address">{{packingslip.tenantAddress.websiteAddress}}</div>
                            </address>
                        </td>
                        <td class="td-03">
                            <div class="packing-lbl">
                                {{ 'PACKINGSLIP.PACKINGSLIP' | translate}}
                            </div>
                            <div class="reprint-lbl">
                               {{ 'PACKINGSLIP.REPRINT' | translate}}
                            </div>
                        </td>
                    </tr>
              </table>
             
            <table class="packing-header">
                <tr >
                    <td class="td1-header">
                        <div class="address-div">
                            <div class="address-head">{{ 'PACKINGSLIP.SOLDTOPARTY_ADDR' | translate}}     
                                <span class="cust-id">{{packingslip.packingList.billToAddress.customerId}}</span></div>
                            <div>{{packingslip.packingList.billToAddress.customerName}}</div>
                            <div>{{packingslip.packingList.billToAddress.address1}}</div>
                            <div>{{packingslip.packingList.billToAddress.address2}}</div> 
                            <div>{{packingslip.packingList.billToAddress.city}} {{packingslip.packingList.billToAddress.state}} {{packingslip.packingList.billToAddress.zip}}</div>
                        </div>
                        <div class="address-div">
                            <div class="address-head">{{ 'PACKINGSLIP.SHIP_ADDR' | translate}}
                            <span class="cust-id">{{packingslip.packingList.shipToAddress.customerId}}</span></div>
                            <div>{{packingslip.packingList.shipToAddress.customerName}}</div>
                            <div>{{packingslip.packingList.shipToAddress.address1}}</div>
                            <div>{{packingslip.packingList.shipToAddress.address2}}</div> 
                            <div>{{packingslip.packingList.shipToAddress.city}} {{packingslip.packingList.shipToAddress.state}} {{packingslip.packingList.shipToAddress.zip}}</div>
                        </div>
                    </td>
                    <td class="td2-header">
                        <div class="info-div">
                            <div class="address-head">{{ 'PACKINGSLIP.INFORMATION' | translate}}</div>
                            <div>
                                <table class="table packingSlipInfotable">
                
                                    <tr>
                                        <td>{{ 'PACKINGSLIP.DELIVERYNO' | translate}}</td>
                                        <td>{{packingslip.packingList.deliveryNumber}}</td>
                                    </tr>
                                    <tr>
                                        <td>{{ 'PACKINGSLIP.DOCUMENTDATE' | translate}}</td>
                                        <td data-ng-if="packingslip.packingList.packingSlipCreateDate">{{packingslip.packingList.packingSlipCreateDate | date:'MM/dd/yyyy'}}</td>
                                        <td data-ng-if="!packingslip.packingSlipCreateDate">{{packingslip.packingList.shipDate | date:'MM/dd/yyyy'}}</td>
                                    </tr>
                                    <tr>
                                        <td>{{ 'PACKINGSLIP.SHIPTOPARTY' | translate}}</td>
                                        <td>{{packingslip.packingList.shipToCustomerId}}</td>
                                    </tr>
                                    <tr>
                                        <td>{{ 'PACKINGSLIP.SHIPPING_COND' | translate}}</td>
                                        <td>{{packingslip.packingList.shipInstruction}}</td>
                                    </tr>
                                    <tr>
                                        <td>{{ 'PACKINGSLIP.INCO_TERMS' | translate}}</td>
                                        <td>{{packingslip.packingList.termDescr}}</td>
                                    </tr>
                                    <tr>
                                        <td>{{ 'PACKINGSLIP.SHIPPING_PONIT' | translate}}</td>
                                        <td>{{packingslip.packingList.plantName}}</td>
                                    </tr>
                                    <tr>
                                        <td>{{ 'PACKINGSLIP.SHIP_VIA' | translate}}</td>
                                        <td>{{packingslip.packingList.shipViaDesc}}</td>
                                    </tr>
                                    <tr>
                                        <td>{{ 'PACKINGSLIP.SUPPILER_ID' | translate}}</td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td>{{ 'PACKINGSLIP.SHIPMENT_ID' | translate}}</td>
                                        <td>{{packingslip.packingList.shipTrackingPRONo}}</td>
                                    </tr>                
                                </table>
                            </div>
                        </div>
                    </td>
                </tr>
            </table> 
             
           <!--<table class="table packingSlipHeadertable">
                <thead>
                    <tr>
                        <th>{{ 'PACKINGSLIP.DELIVERY_NUM' | translate}}</th>
                        <th>{{ 'PACKINGSLIP.PLANTCODE' | translate}}</th>
                        <th>{{ 'PACKINGSLIP.BILL_TO_C_NO' | translate}}</th>
                        <th>{{ 'PACKINGSLIP.SHIP_TO_C_NO' | translate}}</th>
                        <th>{{ 'PACKINGSLIP.SHIP_DATE' | translate}}</th>
                        <th>{{ 'PACKINGSLIP.SHIP_VIA' | translate}}</th>
                        <th>{{ 'PACKINGSLIP.SHIPPING_INSTR' | translate}}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>{{packingslip.packingList.deliveryNumber}}</td>
                        <td>{{packingslip.packingList.plantCd}}</td>
                        <td>{{packingslip.packingList.billToCustomerId}}</td>
                        <td>{{packingslip.packingList.shipToCustomerId}}</td>
                        <td>{{packingslip.packingList.shipDate | date:'MM/dd/yyyy'}}</td>
                        <td>{{packingslip.packingList.shipVia}}</td>
                        <td>{{packingslip.packingList.shipInstruction}}</td>

                    </tr>
                </tbody>
           </table>-->
           <table class="table packingSliptable">
                <thead>
                    <tr>
                        <th>{{ 'PACKINGSLIP.CAR_NUM' | translate}}</th>
                        <th>{{ 'PACKINGSLIP.LINE_NUM' | translate}}</th>
                        <th>{{ 'PACKINGSLIP.PRIMARY_PO_NUM' | translate}}</th>
                        <th>{{ 'PACKINGSLIP.DANA_PART_NUM' | translate}}</th>
                        <th>{{ 'PACKINGSLIP.ORD_NUM' | translate}}</th>
                        <th class="text-right">{{ 'PACKINGSLIP.QTY_SHIPPED' | translate}}</th>
                        <th class="text-right">{{ 'PACKINGSLIP.UNIT_WEIGHT' | translate}}({{ 'PACKINGSLIP.UOM' | translate}})</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="slip in packingslip.packingList.packSlipLineItms">
                        <td>{{slip.cartonNo}}</td>
                        <td>{{slip.orderLineNo}}</td>
                        <td>{{slip.primaryPONo}}</td>
                        <td>{{slip.partNo}}</td>
                        <td>{{slip.orderNo}}</td>
                        <td class="text-right">{{slip.qtyShipped}}</td>
                        <td class="text-right">{{slip.unitWeight | number :0}}</td>

                    </tr>
                </tbody>
           </table>
            </div>
        </div>
    </div>
</div>