// Author: Manjesh Kumar
.advanced-search-pop-up{
    top: 0 !important;
    .modal-lg{
        padding: 24px;
        width: 86%;
    }
}
#advancedSearch{
    padding: 18px;
    background: #f6f6f6;
    border-radius: 3px;
    .btn-app{
        height: 36px;
        font-weight: 600;
        font-size: 14px;
        border-radius: 3px;
        text-transform: uppercase;
        outline: 0;
        line-height: 16px;
    }
    .btn-app:focus, .btn-app.focus, .btn-app:active:focus, .btn-app:active.focus, .btn-app.active:focus, .btn-app.active.focus {
        outline: 0;
    }
    .btn-app-primary{
        background-color: $btn_primary_bgcolor;
        border-color: $btn_primary_border_color;
        color: #fff;
    }
    .btn-app-primary:focus, .btn-app-primary.focus, .btn-app-primary:hover {
        background-color: $btn_primary_focus_bgcolor;
        border-color: $btn_primary_focus_border_color;
        color: #fff;
    }
    .btn-app-sm{
        font-size: 11px;
        line-height: 11px;
        font-weight: 600;
        height: 24px;
        padding: 2px 12px;
    }
    .modal-header{
        padding-bottom: 8px;
        border-bottom: 0;
        h3{
            font-size: 30px;
            font-weight: normal;
            line-height: 30px;
            color: #9B9B9B;
            .close-overlay{
                img{
                    vertical-align: top;
                }
            }
        }
        .notice{
            padding-top: 5px;
            i{
                padding-right: 10px;
                color: #6e6e6e;
                margin-top: 5px;
            }
            span{
                font-size: 12px;
                color: #575757;
                font-weight: 600;
            }
        }
    }
    thead{
        div.form-group{
            position: relative; 
            margin-top: 14px;
            input{
                padding: 6px 20px 6px 8px;
                height: 28px;
                font-size: 12px;
                border-radius: 4px;
                border: 1px solid #d7d7d7;
                color: #494949; 
            }
            .glyphicon-search{
                position: absolute; 
                right: 7px;
                top: 8px;
                font-size: 12px;
                color: #d7d7d7;    
            }
        }
        th.sm-column{
            width: 190px;
        }
        th.med-column{
        width: 120px;
        }
        th.small-column{
        width: 100px;
        }
        th{
            padding: 15px;
            border-bottom: 0;
            .form-group{
                margin-bottom: 0;
            }
        }
        th:last-child{
            width: 106px;
        }
        th.address-col{
            width: 200px;
        }
        a.tbl-header-txt{
            display: inline-block;
            color: #acacac;
            font-size: 12px;
            font-weight: 600;
            span{
                float: right;
                position: relative;
                font-size: 14px;
            }
            span.fa-caret-down{
                top: 6px;
            }
            span.fa-caret-up{
                top: -1px;
                left: 8px;
            }
            span.active-sort{
                color: #6c6c6c;
            }
        }
         a.tbl-header-txt:hover{
             cursor: pointer;
             text-decoration: none;
         }
    }
    tbody{
        font-size: 14px;
        font-weight: normal;
        color: #494949;
        .btn{
            border-radius: 4px;
            font-size: 9px;
            font-weight: bold;
            height: 24px;
            width: 86px;
            background: $btn_primary_bgcolor;
            border-color: $btn_primary_border_color;
        }
        tr>td{
            border-color: #dbdcdc;
            padding: 15px;
        }
        td:last-child{
            // vertical-align: middle;
        }
    }
    .table-bordered{
        margin-bottom: 0;
        border: 1px solid #e5e5e5;
        background: #fcfcfc;
    }
}