<div id="advancedSearch">
    <div class="modal-header row">
        <div class="col-md-6">
        <h3 class="modal-title">{{ 'PREVIEWORDER.SHIP_TO_ADDRESS'  | translate}}
        </h3>
    </div>
    <div class="col-md-6 notice"><i class="fa fa-info-circle"></i>
    <span>{{ 'ERRORMSG.SUPPORTMSGFORADDRES'  | translate}}
    
    </span>
            <a class="close-overlay pull-right" data-ng-click="advancedsearchpopup.cancel(undefined)" data-dismiss="modal" href="#">
                <img ng-src="/assets/images/close-icon.png" alt="" src="/assets/images/close-icon.png">
            </a></div>
    </div>
    <div class="modal-body" style="height:400px;overflow:auto">
        <table class="table table-bordered">
            <thead>
            <tr>
                <th class="sm-column">
                    <a class="tbl-header-txt" data-ng-click="advancedsearchpopup.sortType = 'customerId';advancedsearchpopup.sortReverse = !advancedsearchpopup.sortReverse"> {{ 'PREVIEWORDER.CUSTOMERNO'  | translate}} 
                        <span data-ng-class="{'active-sort': advancedsearchpopup.sortReverse == false && advancedsearchpopup.sortType == 'customerId'}" class="fa fa-caret-down"></span>
                        <span data-ng-class="{'active-sort': advancedsearchpopup.sortReverse == true && advancedsearchpopup.sortType == 'customerId'}"  class="fa fa-caret-up"></span>
                    </a>
                    <div class="form-group">
                        <input type="text" class="form-control" data-ng-model="advancedsearchpopup.search.customerId" placeholder="">
                        <i class="glyphicon glyphicon-search"></i>
                    </div>
                </th>
                <th class="sm-column">
                    <a class="tbl-header-txt" data-ng-click="advancedsearchpopup.sortType = 'name';advancedsearchpopup.sortReverse = !advancedsearchpopup.sortReverse"> {{ 'PREVIEWORDER.CUSERNAME'  | translate}} 
                        <span data-ng-class="{'active-sort': advancedsearchpopup.sortReverse == false && advancedsearchpopup.sortType == 'name'}" class="fa fa-caret-down"></span>
                        <span data-ng-class="{'active-sort': advancedsearchpopup.sortReverse == true && advancedsearchpopup.sortType == 'name'}"  class="fa fa-caret-up"></span>
                    </a>
                    <div class="form-group">
                        <input type="text" class="form-control" data-ng-model="advancedsearchpopup.search.name" placeholder="">
                        <i class="glyphicon glyphicon-search"></i>
                    </div>
                </th>
                <th class="address-col">
                    <a class="tbl-header-txt" data-ng-click="advancedsearchpopup.sortType = 'address.addr1';advancedsearchpopup.sortReverse = !advancedsearchpopup.sortReverse"> {{ 'ADVANCEDSEARCHPOPUP.ADDRESS' | translate }} {{ 'ADVANCEDSEARCHPOPUP.LINE1' | translate }}
                        <span data-ng-class="{'active-sort': advancedsearchpopup.sortReverse == false && advancedsearchpopup.sortType == 'address.addr1'}" class="fa fa-caret-down"></span>
                        <span data-ng-class="{'active-sort': advancedsearchpopup.sortReverse == true && advancedsearchpopup.sortType == 'address.addr1'}" class="fa fa-caret-up"></span>
                    </a>
                    <div class="form-group">
                        <input type="text" class="form-control" data-ng-model="advancedsearchpopup.search.addr1" placeholder="">
                        <i class="glyphicon glyphicon-search"></i>
                    </div>
                </th>
                <th class="address-col">
                    <a class="tbl-header-txt" data-ng-click="advancedsearchpopup.sortType = 'address.addr2';advancedsearchpopup.sortReverse = !advancedsearchpopup.sortReverse"> {{ 'ADVANCEDSEARCHPOPUP.ADDRESS' | translate }} {{ 'ADVANCEDSEARCHPOPUP.LINE2' | translate }} 
                        <span data-ng-class="{'active-sort': advancedsearchpopup.sortReverse == false && advancedsearchpopup.sortType == 'address.addr2'}" class="fa fa-caret-down"></span>
                        <span data-ng-class="{'active-sort': advancedsearchpopup.sortReverse == true && advancedsearchpopup.sortType == 'address.addr2'}" class="fa fa-caret-up"></span>
                    </a>
                    <div class="form-group">
                        <input type="text" class="form-control" data-ng-model="advancedsearchpopup.search.addr2" placeholder="">
                        <i class="glyphicon glyphicon-search"></i>
                    </div>
                </th>
                <th class="med-column">
                    <a class="tbl-header-txt" data-ng-click="advancedsearchpopup.sortType = 'address.city';advancedsearchpopup.sortReverse = !advancedsearchpopup.sortReverse"> {{ 'PROFILE.CITY' | translate }}  
                        <span  data-ng-class="{'active-sort': advancedsearchpopup.sortReverse == false && advancedsearchpopup.sortType == 'address.city'}"  class="fa fa-caret-down"></span>
                        <span data-ng-class="{'active-sort': advancedsearchpopup.sortReverse == true && advancedsearchpopup.sortType == 'address.city'}"  class="fa fa-caret-up"></span>
                    </a>
                    <div class="form-group">
                        <input type="text" class="form-control" data-ng-model="advancedsearchpopup.search.city" placeholder="">
                        <i class="glyphicon glyphicon-search"></i>
                    </div>
                </th>
                <th class="small-column">
                    <a class="tbl-header-txt" data-ng-click="advancedsearchpopup.sortType = 'address.state';advancedsearchpopup.sortReverse = !advancedsearchpopup.sortReverse"> {{ 'PROFILE.STATE' | translate }} 
                        <span data-ng-class="{'active-sort': advancedsearchpopup.sortReverse == false && advancedsearchpopup.sortType == 'address.state'}" class="fa fa-caret-down"></span>
                        <span data-ng-class="{'active-sort': advancedsearchpopup.sortReverse == true && advancedsearchpopup.sortType == 'address.state'}"  class="fa fa-caret-up"></span>
                    </a>
                    <div class="form-group">
                        <input type="text" class="form-control" data-ng-model="advancedsearchpopup.search.state" placeholder="">
                        <i class="glyphicon glyphicon-search"></i>
                    </div>
                </th>
                
                <th class="sm-column" ng-hide="true">
                    <a class="tbl-header-txt" data-ng-click="advancedsearchpopup.sortType = 'address.country';advancedsearchpopup.sortReverse = !advancedsearchpopup.sortReverse"> {{ 'ADVANCEDSEARCHPOPUP.COUNTRY' | translate }}  
                        <span data-ng-class="{'active-sort': advancedsearchpopup.sortReverse == false && advancedsearchpopup.sortType == 'address.country'}" class="fa fa-caret-down"></span>
                        <span data-ng-class="{'active-sort': advancedsearchpopup.sortReverse == true && advancedsearchpopup.sortType == 'address.country'}" class="fa fa-caret-up"></span>
                    </a>
                    <div class="form-group">
                        <input type="text" class="form-control" data-ng-model="advancedsearchpopup.search.country" placeholder="">
                        <i class="glyphicon glyphicon-search"></i>
                    </div>
                </th>
                <th class="med-column">
                    <a class="tbl-header-txt" data-ng-click="advancedsearchpopup.sortType = 'address.zipCode';advancedsearchpopup.sortReverse = !advancedsearchpopup.sortReverse"> {{ 'SHIPADDR.ZIN' | translate }}   
                        <span data-ng-class="{'active-sort': advancedsearchpopup.sortReverse == false && advancedsearchpopup.sortType == 'address.zipCode'}"  class="fa fa-caret-down"></span>
                        <span data-ng-class="{'active-sort': advancedsearchpopup.sortReverse == true && advancedsearchpopup.sortType == 'address.zipCode'}" class="fa fa-caret-up"></span>
                    </a>
                    <div class="form-group">
                        <input type="text" class="form-control" data-ng-model="advancedsearchpopup.search.zipCode" placeholder="">
                        <i class="glyphicon glyphicon-search"></i>
                    </div>
                </th>
                <th class="form-group"></th>
            </tr>
            </thead>
            <tbody>
                <tr data-ng-repeat="result in advancedsearchpopup.advSrchResultList | orderBy:advancedsearchpopup.sortType:advancedsearchpopup.sortReverse | filter: {address: {state: advancedsearchpopup.search.state, city: advancedsearchpopup.search.city, zipCode: advancedsearchpopup.search.zipCode, addr1: advancedsearchpopup.search.addr1, addr2: advancedsearchpopup.search.addr2, country: advancedsearchpopup.search.country}, customerId: advancedsearchpopup.search.customerId, name: advancedsearchpopup.search.name}">
                    <td>{{result.customerId}}</td>
                    <td>{{result.name}}</td>
                    <td>{{result.address.addr1}}</td>
                    <td>{{result.address.addr2}}</td>
                    <td>{{result.address.city}}</td>
                    <td>{{result.address.state}}</td>
                    <td ng-hide="true">{{result.address.country}}</td>
                    <td>{{result.address.zipCode}}</td>
                    <td class="text-center">
                        <button class="btn btn-app btn-app-primary btn-app-sm btn-primary" data-ng-click="advancedsearchpopup.shipToSelectedAddress(result)">{{ 'PREVIEWORDER.SHIP_TO_THIS'  | translate}}</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
