<div id="orderTypeSelectionPopUp" class="modal-wrapper" ng-init="currQty=orderTypeCtrl.qtyReqd">
  <form name="emergencyOrder">
    <div class="modal-header bg-default">
      <div class="row">
        <div class="col-sm-12" style="height:44px;">
          <button type="button" class="close" ng-click="orderTypeCtrl.cancel()">
              <span aria-hidden="true"><h1>x</h1></span>
          </button>
          <h4>
              <span class="glyphicon glyphicon-ok glyphicon-ok-head"></span>
              <span class="part-title">{{'PRICINGANDAVAILABILITY.PARTNO' | translate}} {{ormgt.selectedObj.partNo}} </span>
              <span class="light-heading">{{ormgt.selectedObj.partName}}</span>
           </h4>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <span class="superhead"> {{orderTypeCtrl.orderTitle}}</span><span class="sublink">
            <span uib-dropdown on-toggle="toggled(open)">
              <a href id="simple-dropdown" uib-dropdown-toggle>{{'PRICINGANDAVAILABILITY.CHANGE' | translate}}</a>
              <ul class="dropdown-menu" uib-dropdown-menu aria-labelledby="simple-dropdown">
                <li>

                     <a href="#" ng-repeat="(key, value) in orderTypeCtrl.orderSettings" adisabled-directive ="orderTypeCtrl.orderType=='{{value.ordertype}}'" ng-click="orderTypeCtrl.changeAvailType(value.ordertype, value.label)"> 
                      {{ value.label | translate}}
                      <span ng-disabled="orderTypeCtrl.orderType=='{{value.ordertype}}'" ng-show="orderTypeCtrl.orderType=='{{value.ordertype}}'" class="glyphicon glyphicon-ok">
                     </a>
                 
                </li>
          </ul>
          </span>
          </span>
        </div>
      </div>
      <div class="row">

        <div class="orderTypeHeader">
          <div class="col1">
            <div class="columns desired-qty-col">{{'PRICINGANDAVAILABILITY.DESIREDQTY' | translate}}</div>
            <div class="columns qty">
              <span class="number-container">
                <input key-enter="orderTypeCtrl.updateData()" nonegative-directive min="1" required no-spl-char type="number" ng-model="ormgt.selectedObj.qtyReq" type="number" name="qty" class="form-control" value="{{ormgt.selectedObj.qtyReq}}">
              </span>
            </div>
            <div class="columns available-status">
                <i ng-show="orderTypeCtrl.showNoAvailable || emergencyOrder.qty.$error.positive"  class="fa fa-2x fa-info-circle" aria-hidden="true"></i>
                <span ng-show="!orderTypeCtrl.showNoAvailable" ng-hide="emergencyOrder.qty.$error.positive" style="padding-left:6px;padding-right:6px" class="glyphicon glyphicon-ok glyphicon-ok-head"></span>
            </div>
            <div class="columns uom">
                <span>{{'PRICINGANDAVAILABILITY.UNITOFMEASUREMENT' | translate}}</span>
                <br>
                <span class="uom-val">{{'PRICINGANDAVAILABILITY.EACH' | translate}}</span>
            </div>
            <div class="columns chk-btn">
              <button ng-class="{'btn-primary':emergencyOrder.qty.$dirty && !emergencyOrder.qty.$invalid, 'btn-secondary': emergencyOrder.qty.$pristine}" 
              class="btn btn-default" type="button" ng-disabled="emergencyOrder.qty.$dirty && emergencyOrder.qty.$invalid || emergencyOrder.qty.$pristine ||  emergencyOrder.qty.$submitted" ng-click="orderTypeCtrl.updateData()">{{'PRICINGANDAVAILABILITY.UPDATEAVAILABILITY' | translate}} </button>
            </div>
          </div>
          <div class="col2">
              <i class="fa fa-caret-right" aria-hidden="true"></i>
          </div>
          <div class="col3">
            <div class="columns tot-available-lbl"><span class="partavail">{{'PRICINGANDAVAILABILITY.TOTALQTYAVAILABLE' | translate}}</span></div>
            <div class="columns bigno">{{orderTypeCtrl.totalQty}}</div>
            <div class="columns">{{'PRICINGANDAVAILABILITY.FROM' | translate}} {{orderTypeCtrl.plantNames.length}} {{'PRICINGANDAVAILABILITY.LOCATION' | translate}}</div>
          </div>

        </div>
        <div class="row err-msg">
          <div class="error" ng-show="emergencyOrder.qty.$error.positive">
              {{'PRICINGANDAVAILABILITY.QTYVALIDATIONMSG' | translate}}
          </div></div>
      </div>
    </div>
    <div class="row selection-err-msg">
          <div class="warning" ng-show="orderTypeCtrl.showNoAvailable">
              {{'PRICINGANDAVAILABILITY.LOCATIONERRORMSG' | translate}}
          </div>
    </div>
    <div class="modal-body info-block" ng-show="orderTypeCtrl.userType==='NON-RTB'">
        <i class="fa fa-2x fa-info-circle" aria-hidden="true"></i>
        <span class="info-title">
        {{ 'PRICINGANDAVAILABILITY.ACCT_ORDER_AUTHORISED' | translate}}  :(
        </span>
        <div class="info-desc"> {{'PRICINGANDAVAILABILITY.CONTACTREPSENT' | translate}}
             <br /><br />
            <div class="contact-number">{{orderTypeCtrl.contactInfo.number_info}}</div>
            <div class="contact-email"> {{orderTypeCtrl.contactInfo.email}} </div>
            <div class="contact-time"> {{orderTypeCtrl.contactInfo.extended_hours}}</div>
        </div>
       

    </div>
    <div ng-hide="orderTypeCtrl.totalQty=='0'">
        <div class="modal-body stockOrderType" ng-show="orderTypeCtrl.orderType=='STK'" >

        <div class="table-responsive">
            <table class="table spacing-table">
            <thead>
                <tr style="background:white;">
                <th class="stk-first-col">{{'PRICINGANDAVAILABILITY.LOCATIONHEADER' | translate}}</th>
                <th class="stk-second-col">{{'PRICINGANDAVAILABILITY.QTYHEADER' | translate}}</th>
                <th class="stk-last-col" ng-show="orderTypeCtrl.userType==='RTB'">{{'PRICINGANDAVAILABILITY.SHIPPINGDATEHEADER' | translate}}</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="item in orderTypeCtrl.plantNames">
                <td class="location-name">{{item.plantName}}</td>
                <td>{{item.availability}}</td>
                <td class="delivery-date" ng-show="orderTypeCtrl.userType==='RTB'">{{item.leadDate}}</td>
                </tr>
            </tbody>
            </table>
        </div>
        </div>

        <div class="modal-body emergenyOrderType" ng-show="orderTypeCtrl.orderType!=='STK'">
        <div class="table-responsive">
            <table class="table spacing-table">
            <thead>
                <tr style="background:white;">
                <th>{{'PRICINGANDAVAILABILITY.LOCATIONHEADER' | translate}}</th>
                <th class="eo-second-col">{{'PRICINGANDAVAILABILITY.QTYHEADER' | translate}}</th>
                <th ng-show="orderTypeCtrl.userType==='RTB'">{{'PRICINGANDAVAILABILITY.SHIPPINGDATEHEADER' | translate}}</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="item in orderTypeCtrl.plantNames" ng-class="item.checked ? 'selected-row' : '' ">
                <td class="location-name">{{item.plantName}},<span class="sublink">{{item.address}}</span></td>
                <td>{{item.availability}}</td>
                <td class="delivery-date" ng-show="orderTypeCtrl.userType==='RTB'">{{item.leadDate}}</td>

                <td ng-show="orderTypeCtrl.userType==='RTB'">
                    <label data-ng-click="orderTypeCtrl.checkAvail(item)" data-ng-model="item.checked" uib-btn-checkbox class="checkbox-label">
                        <i class="fa" ng-class="item.checked ? 'fa-check-square' : 'fa-square-o' "></i>
                    </label>
                </td>
                </tr>

            </tbody>
            </table>
        </div>
        </div>

    </div>
    <div class="modal-body warning-block" ng-show="orderTypeCtrl.totalQty=='0'">
        <i class="fa fa-2x fa-info-circle" aria-hidden="true"></i>
        <div class="warning-title">
            {{'PRICINGANDAVAILABILITY.PART_NOT_AVAILABLE'| translate}}
        </div>
        <div class="warning-info">
            {{'PRICINGANDAVAILABILITY.PART_NOT_AVAILABLE_INFO'| translate}}
        </div>
    </div>
    <div class="modal-footer" ng-show="orderTypeCtrl.userType==='NON-RTB'">
    </div>
    <div class="modal-footer" ng-show="orderTypeCtrl.userType==='RTB'">

      <div class="row unit-priceRow" style="padding-top:10px;">
        <div class="col-md-6">
          <span class="unit-price price-label pull-left">{{'PRICINGANDAVAILABILITY.UNITPARTPRICE' | translate}} ({{orderTypeCtrl.currency}})</span>
        </div>
        <div class="col-md-6">
          <span class="unit-price pull-right"><b>{{orderTypeCtrl.unitPartPrice}}</b></span>
        </div>
      </div>
      <hr>
      <div class="row unit-priceRow">
        <div class="col-md-6">
          <span class="unit-price price-label pull-left">{{'PRICINGANDAVAILABILITY.COREUNITPRICE' | translate}} ({{orderTypeCtrl.currency}}) 
              <span class="glyphicon glyphicon-question-sign" tooltip-placement="right" tooltip-class="pzv-tooltip" uib-tooltip="**TBD**"></span>
              </span>
        </div>
        <div class="col-md-6">
          <span class="unit-price pull-right"><b>{{orderTypeCtrl.coreUnitPrice}}</b></span>
        </div>
      </div>
      <hr>
      <div class="row unit-priceRow">
        <div class="col-md-6">
          <span class="unit-price price-label pull-left">{{'PRICINGANDAVAILABILITY.EXTENDEDPRICE' | translate}} ({{orderTypeCtrl.currency}}) 
              <span class="glyphicon glyphicon-question-sign" tooltip-placement="right" tooltip-class="pzv-tooltip" uib-tooltip="**TBD**"></span>
              </span>
        </div>
        <div class="col-md-6">
          <span class="unit-price pull-right"><b>{{orderTypeCtrl.extendedPrice}}</b></span>
        </div>
      </div>
      
      <hr>
      <div class="row unit-priceRow">
        <div class="col-md-6">
          <span class="unit-price price-label pull-left">{{'PRICINGANDAVAILABILITY.CORECHARGE' | translate}} ({{orderTypeCtrl.currency}}) 
              <span class="glyphicon glyphicon-question-sign" tooltip-placement="right" tooltip-class="pzv-tooltip" uib-tooltip="**TBD**"></span>
              </span>

        </div>
        <div class="col-md-6">
          <span class="unit-price pull-right"><b>{{orderTypeCtrl.unitPrice}}</b></span>
        </div>
      </div>

      <div class="row add-to-cart-row">
        <div class="col-md-8"  ng-hide="orderTypeCtrl.totalQty=='0'">
          <button class="btn btn-block btn-primary backorderBtn" ng-click="orderTypeCtrl.addToCart(true)" ng-show="orderTypeCtrl.showBTO" type="button">
              {{orderTypeCtrl.addToBackOrderLabel}}
          </button>
        </div>
        <div class="col-md-4" ng-hide="orderTypeCtrl.totalQty=='0'">
          <button class="btn btn-block btn-primary addToCart" ng-class="{'secondary-addcart': orderTypeCtrl.showBTO == true}" ng-click="orderTypeCtrl.addToCart(false)" ng-disabled="orderTypeCtrl.showNoAvailable || emergencyOrder.qty.$error.positive || !orderTypeCtrl.addedToCart" type="button">
             {{orderTypeCtrl.addToCartLabel}}
          </button>
        </div>
        <div class="col-md-4 col-md-offset-8"" ng-show="orderTypeCtrl.totalQty=='0'">
           <button class="btn btn-block btn-primary addToCart" ng-click="orderTypeCtrl.addToCart(true)" ng-show="orderTypeCtrl.showBTO" type="button">
              {{orderTypeCtrl.addToBackOrderLabel}}
          </button>
        </div>
      </div>
    </div>
  </form>
</div>
