
/***************************************************************
* Proprietary & Confidential  |  © 2016 PhaseZero Ventures LLC 
* 
* This file is part of Tire Advisor project
* 
* This file cannot be copied and/or distributed without 
* the express permission of PhaseZero Ventures LLC
***************************************************************/

.interchange-search {
    .interchange-text {
        width: calc(100% - 30px);
        float: left;
        background: #0093c6;
        input {
            background: transparent;
            border: none;
            color: #fff;
            padding: 7px;
            width: 240px;
            outline: 0;
        }
    }
    .interchange-close {
        width: 30px;
        float: left;
        background: #4d4d4d;
        height: 100%;
        p {
            color: #0093c6;
            margin: 9px;
            padding: 0px;
        }
    }
}