/***************************************************************
* Proprietary & Confidential  |  © 2016 PhaseZero Ventures LLC 
* 
* This file is part of Tire Advisor project
* 
* This file cannot be copied and/or distributed without 
* the express permission of PhaseZero Ventures LLC
***************************************************************/


.my-modal-popup.managelist-popup{
    .modal-dialog{
        margin-top:20px;
    }
}
.manageList {
    background: #f5f5f5;
    //padding: 35px;
    padding:30px 20px;
    border-radius: 3px;
    .modal-header{
        border-bottom: none;
        border-top: none;
        color: #acacac;
        padding: 0;
        h3{
            margin-top: 0;
            margin-bottom: 35px;
            font-weight: 300;
            color: #9b9b9b;
            font-size: 30px;
            margin-left: 12px;
        }
        .modal-body{
            padding: 0 35px;

        }
    }
     label{
       color:#acacac;
       margin-left: 16px;
    }
    .btn-app{
        // height: 32px;
        // font-weight: 600;
        // font-size: 14px;
        line-height: 16px;
        border-radius: 3px;
        text-transform: uppercase;
        outline: 0;
        width:144px;
        color: #fff;
        font-weight: 600;
        font-size: 13px;
        height: 37px;
    }
    .btn-app:focus, .btn-app.focus, .btn-app:active:focus, .btn-app:active.focus, .btn-app.active:focus, .btn-app.active.focus {
        outline: 0;
    }
    .btn-app-primary{
        background-color: $btn_primary_bgcolor;
        border-color: $btn_primary_border_color;
        color: #fff;
    }
    .btn-app-primary:focus, .btn-app-primary.focus, .btn-app-primary:hover {
        background-color: $btn_primary_focus_bgcolor;
        border-color: $btn_primary_focus_border_color;
        color: #fff;
    }
    .no-list-msg{
        font-weight: 600;
        color: #414141;
        margin-bottom: 10px;
        .fa-info-circle {
            color: #6e6e6e;
            font-size: 20px;
            margin-right: 10px;
            margin-left: 2px;
            position: relative;
            top: 2px;
        }
    }
    .err-msg{
        text-align: right;
        margin-bottom: 5px;
        font-weight: 600;
        font-size: 12px;
        color: #ff8a00;
    }
    .success-msg{
        color: #39A200;
        text-align: right;
        margin-bottom: 5px;
        font-weight: 600;
        font-size: 12px;
    }
    .top-error{
        font-size: 14px;
        margin-bottom: 20px;
        text-align: center;
    }
    .managelist-close{
        margin-top: 0;
        a{
            margin-right: 13px;
        }
    }
    .checkbox-label {
        margin: 0;
        .fa-square-o,
        .fa-check-square {
            color: #0093c6;
            font-size: 16px;
            margin-left: 0;
            margin-top: 8px;
        }
        .fa-check-square {
            background-color: #ffffff;
        }
    }
    ul {
        li {
            margin-bottom: 10px;
        }
    }
    .aligncheckbox {
       margin-top: 10px;
    }
    .btn-primary {
        background-color: $btn_primary_bgcolor;
        border-color: $btn_primary_border_color;
    }
    .textDefault-bg{
        // border:1px solid #ddd; 
        // background:white;
    }
    .listspace{
        input[type=text]{
            border: 1px solid #ededde;
            height: 32px;
            font-size: 14px;
            font-weight: 600;
            color: #414141;
            box-shadow: none;
            padding: 0 12px;
            border-radius: 3px;
        }

        input[type="checkbox"] {
            margin-top: 10px;
        }

        input[type=text]:focus{
            border-color: #0093c6;
            outline: 0;
            box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
        }
        max-height: 240px;
        overflow-y: auto;
        overflow-x: hidden;
    }
    .headspace{
        // padding-left: 35px;
        .input-group-addon{
            background-color: transparent;
            
        }
        input[type=search]{
             background-color: transparent;
             box-shadow: none;
        }
    }
}
