<div class="manageList modal-wrapper">
    <div class="modal-header">
        <div class="row">
            <div class="col-sm-10">
                <h3>{{'LISTSETTING.LISTSET' | translate}}</h3>
            </div>
            <div class="col-sm-2  text-right managelist-close">
                <a class="" ng-click="managelist.cancel()" href="#">
						<img ng-src="/assets/images/close-icon.png" alt="" src="/assets/images/close-icon.png">
				</a> 
            </div>
        </div>
    </div>
    <div class="modal-body">
            <p data-ng-show="managelist.formSubmitMsg" class="top-error success-msg"><strong>{{managelist.formSubmitMsg}}</strong></p>
        <form name="listForm">
            <div class="row">
                <div class="col-sm-9">
                    <div class="form-group">
                        <div class="input-group headspace">
                            <input type="search" class="form-control search-by-part" placeholder="{{'LISTSETTING.PLACEHDR' | translate}}" data-ng-model="managelist.searchFilterListTxt">
                            <span class="input-group-addon"><a href=""><i class="glyphicon glyphicon-search"></i></a></span>
                        </div>
                    </div>
                </div>
                <div class="col-sm-1"></div>
                <div class="col-sm-2">
                    <div class="form-group" data-ng-if="managelist.userPermissionsList.DeleteOrderlist">
                        <label data-ng-show="(managelist.lists | filter: managelist.searchFilterListTxt).length > 0">
                            {{'LISTSETTING.DELETE' | translate}}
                        </label>
                    </div>
                </div>
            </div>
           <!--  {{managelist|json}} -->
            <div class="row">
                <div class="col-sm-12">
                    <ul class="list-unstyled  listspace">
                        <li data-ng-repeat="key in managelist.lists | filter: managelist.searchFilterListTxt">
                            <div class="row">
                                <div class="col-sm-9">
                                    <div class="textDefault-bg">
                                         <input type="text" 
                                            ng-model="key.cartName"
                                            data-ng-minlength="1" 
                                            ng-maxlength="40" 
                                            name="{{key.id}}"
                                            required
                                            ng-blur="managelist.renameList(key)"
                                            class="form-control" ng-change="managelist.onChange()" autofocus>
                                    </div>
                                    <p class="err-msg" data-ng-show="listForm[key.id].$invalid && !listForm[key.id].$pristine">
                                        {{'LISTSETTING.ERR_INVALID' | translate}}
                                    </p>
                                    <p class="success-msg" data-ng-show="(managelist.renamedResponse.renameList | filter:{'id' : key.id})[0].respCode == 1">
                                        {{'LISTSETTING.SUCCESS_MSG' | translate}}
                                    </p>
                                    <p class="err-msg" data-ng-show="(managelist.renamedResponse.renameList | filter:{'id' : key.id})[0].respCode == 409">
                                        {{'LISTSETTING.ERR_EXISTS' | translate}}
                                    </p>
                                </div>
                                <div class="col-sm-1"></div>
                                <div class="col-sm-2 text-center">
                                    <!-- <input type="checkbox" name="delete_+{{key.id}}" data-ng-if="managelist.userPermissionsList.DeleteOrderlist" ng-model="managelist.selected[key.id]" ng-change="managelist.onChange()"> -->
                                    <label  data-ng-click="managelist.onChange()" data-ng-if="managelist.userPermissionsList.DeleteOrderlist" data-ng-model="managelist.selected[key.id]" uib-btn-checkbox     class="checkbox-label">
                                                    <i class="fa" ng-class="managelist.selected[key.id] ? 'fa-check-square' : 'fa-square-o' "></i></label>
                                     
                                    <!--  <div class="checkbox" data-ng-if="managelist.userPermissionsList.DeleteOrderlist">
                                        <span class="checkbox-span">
                                                <label  data-ng-click="mrfq.hideShippedItems()"     data-ng-model="mrfq.checked" uib-btn-checkbox     class="checkbox-label">
                                                    <i class="fa" ng-class="mrfq.checked ? 'fa-check-square' : 'fa-square-o' "></i>

                                                </label>
                                               
                                        </span>
                                     </div> -->

                                </div>
                            </div>
                        </li>
                        <li class="no-list-msg" data-ng-show="(managelist.lists | filter: managelist.searchFilterListTxt).length == 0">
                            <i class="fa fa-2x fa-info-circle" aria-hidden="true"></i>
                            {{'LISTSETTING.ERR_SEARCH' | translate}}
                        </li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 text-right">
                    <button class="btn btn-app btn-primary" data-ng-show="(managelist.lists | filter: managelist.searchFilterListTxt).length > 0" data-ng-disabled="!managelist.listSelected" data-ng-click="managelist.showSelected()">{{'LISTSETTING.SUBMIT' | translate}}</button>
                </div>
            </div>
        </form>
    </div>
</div>
