<div ng-show="vm.sending" id="sending-overlay">
	<div class="sending">
		<img src="/assets/images/loading.gif" width="20" height="20" />
		<p class="sending-text">
		<!-- {{ 'SENDING.SENDINGTEXT' | translate}} -->
		<!-- {{'LOADING.LOADINGTEXT' | translate}}  -->
		<!-- Mailing... -->
		{{vm.sendingtxt}}
		</p>		
	</div>
</div>
