/***************************************************************
* Proprietary & Confidential  |  © 2016 PhaseZero Ventures LLC 
* 
* This file is part of Tire Advisor project
* 
* This file cannot be copied and/or distributed without 
* the express permission of PhaseZero Ventures LLC
***************************************************************/


.order-menu{
    @extend .sub-title;
    margin-right: 2px !important;
    margin-top: 3px !important;
    li{
        &:focus,&:hover{
            a{
                color:$accent_color !important;
                .top-text{
                    color:$accent_color !important;
                }
            }
                        
        }
        a{
            line-height: 15px !important;
            padding-left: 10px !important;
            padding-right: 20px !important;  
            &.last-anchor{
                padding-right: 24px !important;
            }
            .cart-icon{
                position: relative;
                //top:-0.5px;
                top:-4px;
            }          
        }
    }
    
    .top-text{
        font-size: 9px;
        line-height: 1;
        color: $support_color_light_one !important;        
    }
}