<ul class="nav navbar-nav navbar-right order-menu">
  <li><a class="option" href="#"><span class="top-text">{{'HEADER.MENUS.ORDER.TRACK' | translate}} </span><br>{{'HEADER.MENUS.ORDER.ORDERS' | translate}} <span class="caret"></span></a></li>
  <li><a href="orderlist"><span class="top-text">{{'HEADER.MENUS.ORDER.ORDER' | translate}}</span><br>{{'HEADER.MENUS.ORDER.LISTS' | translate}} <span class="caret"></span></a></li>
</ul>