<div class="expressCheckout">
    
     <div class="custom-loader" data-ng-show="expco.isDataLoading">
        <div class="img-wrapper">
            <img src="/assets/images/loading.gif" width="40" height="40">
        </div>
    </div>
    <div class="row breadcrumb-row">
        <div class="col-md-12">
            <ol class="breadcrumb">
                <li><a href="/home">{{'POSTORDER.HOME' | translate}}</a></li>
                <li class="active">{{'expresscheckout.MAINHEADER' | translate}}</li>
            </ol>
        </div>
    </div>
    <div class="row expressContent">
        <div class="col-md-10 header-section">
            <h2>{{'expresscheckout.MAINHEADER' | translate}}</h2>
            <div class="expressTable">
                <table class="table car-list-table table-bordered expresscheckout_content">
                    <thead>
                        <tr>
                            <th class="hr-center line-no">
                                <div class="inline-style">{{'expresscheckout.SERIALNO' | translate}}</div>
                            </th>
                            <th class="hr-center part-num-name">
                                <div class="textalignleft">{{'expresscheckout.PARTNO' | translate}} {{expco.searchTxt}}</div>
                                <div class="input-group search-part">
                                    <input type="text" class="form-control input-sm" data-ng-model="expco.partSearch.partSearchData" 
                                    placeholder="{{'expresscheckout.SEARCHBYPART' | translate}}">
                                    <span class="input-group-btn">
                                            <button class="btn " type="button"><i class="fa fa-search" aria-hidden="true"></i></button>
                                    </span>
                                </div>
                            </th>
                            <th class="hr-left qty_num">
                                <div class="inline-style">{{'expresscheckout.QTY' | translate}}</div>
                            </th>
                            <th class="hr-left ship-date">
                                <div class="inline-style">{{'expresscheckout.REQTOSHIPDATE' | translate}}
                                </div>
                            </th>
                            <th class="hr-left uom">
                                <div class="inline-style">{{'expresscheckout.UOM' | translate}}</div>
                            </th>
                            <th class="hr-left ext-weight">
                                <div class="inline-style">{{'expresscheckout.EXTWGTH' | translate}}</div>
                            </th>
                            <th class="hr-left unit-price">
                                <div class="inline-style">{{'expresscheckout.UNITPRICE' | translate}}</div>
                            </th>
                            <th class="hr-left unit-core">
                                <div class="inline-style">{{'expresscheckout.UNITCORE' | translate}}</div>
                            </th>
                            <th class="hr-left ext-price">
                                <div class="inline-style">{{'expresscheckout.EXTPRICE' | translate}}</div>
                            </th>
                            <th class="hr-center select-to-remove">
                                <div>{{'expresscheckout.SELECTTOREMOVE' | translate}}</div>
                                <div>
                                    <label data-ng-click="expco.selectAllCartItem()" data-ng-model="expco.isAllCartItmChecked" uib-btn-checkbox class="checkbox-label">
                                <i class="fa" ng-class="expco.isAllCartItmChecked ? 'fa-check-square' : 'fa-square-o' "></i>
                                </label>
                                </div>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="obj in expco.partdetails | filter: expco.partSearch" ng-init="obj.partSearchData = obj.partNo +' '+ obj.partDesc">
                            <td class="vt-hr-left border-rl"> {{$index+1}} </td>
                            <td class="vt-hr-left" ng-class="(obj.isPartNoValid)?'invalid-part':''">
                                <div class="partnumber-input">
                                <input type="text" autofocus id="part_{{$index}}" class="form-control part-no-inputbox" data-ng-if="!obj.isNonEditable" ng-class="obj.isNonEditable ?'non-edit-txt' : 'editable-text'" ng-keyup="$event.keyCode == 13 && expco.doBlur($event)" ng-blur="expco.getPartNoDetails($index, obj)"
                                    ng-model="obj.partNo" required>
                                <a ng-href="{{expco.gotoPart(obj)}}" class="part-num" data-ng-if="obj.isNonEditable">{{obj.partNo}}</a>
                                 <img src="assets/images/icon-cross-google-search-bar.png" class="cross ng-scope" alt="" data-ng-if="obj.partNo && !obj.isNonEditable && obj.isPartNoValid" data-ng-click="obj.partNo =''; obj.isPartNoValid =false" />
           
                                <p ng-if="obj.customerPartNumber" style="padding-bottom: 5px;font-size:11px; color:#636363;"><b>({{'expresscheckout.CUSTPARTNO' | translate}} : {{obj.customerPartNumber}})</b></p>
                                <p ng-show="obj.partDesc" class="partname">{{obj.partDesc}}</p>                                
                                <p ng-show="obj.isPartNoValid" class="rtbcheckMsg" style="color:#f99900;margin-top:10px;word-break: break-all; line-height: 1.2;word-wrap: break-word;font-weight:600:font-size:11px;" data-ng-bind-html="expco.partvalidateMsg"></p>
                                </div>
    
                            </td>
                            <td class="vt-hr-left border-rl"  ng-class="(obj.isPartNoValid)?'invalid-part':''">
                                <div class="row-3-wrapper">
                                    <div class="col-left">
                                       <input id="qty_{{$index}}" nonegative-directive no-spl-char type="number"  name="qty" min="0" step="{{obj.packageQty}}" uib-tooltip="{{'TOOLTIP.PLEASEVERFYPARTQTY' | translate}}" tooltip-is-open="obj.enable && obj.qtyReq > 9999"  tooltip-popup-close-delay="500" tooltip-enable="obj.qtyReq > 9999" tooltip-placement="auto top" ng-model="obj.qtyReq" class="form-control btn-block qty-added pull-left"  data-ng-keyup=" !(!(obj.qtyReq >= 1) || (obj.qtyReq % obj.packageQty != 0)) && $event.keyCode==13 && expco.checkAvailability($index, obj)" 
                                        data-ng-blur="(obj.qtyReq >= 0 && obj.qtyReq !== '')? obj.qtyReq : obj.qtyReq = obj.packageQty; expco.onBlurOfQtyField(obj, 'qty_'+$index); (!(obj.qtyReq >= 1) || (obj.qtyReq % obj.packageQty != 0)) ?  '' : expco.checkAvailability($index, obj)" ng-change="obj.enable = true; expco.onBlurOfQtyField(obj, 'qty_'+$index)" ng-disabled="obj.isQtyInputDisable" required
                                        style="width: 64px;" data-ng-class="{'qty-err' :((obj.partDesc) && (!(obj.qtyReq >= 1) || (obj.qtyReq % obj.packageQty != 0)))}">
                                    </div>
                                   
                                    <div class="col-right" ng-show="obj.showAvailableMsg">
                                        <span class="row-spinner" ng-bind-html='obj.showAvailableMsg'></span>
                                        </div>
                                    <div class="col-right" ng-hide="obj.showAvailableMsg">
                                        
                                         <span ng-show="obj.isQtyStatusIconShow" class="exp-qty-status"> 
                                             <i class="fa  pull-left" ng-class="{'warning fa-exclamation-triangle ':obj.qtyStatus=='partialQtyAvl','success fa-check':obj.qtyStatus=='fullQtyAvl'}" aria-hidden="true"></i>
                                         <span class="orderQty"> {{obj.isBackOrder ? (obj.avlQty | number : 0)  : '' }} Available<span></span>
                                    </div>
                                </div>
                                <span class="qty-available" ng-show="obj.isBackOrder">{{ obj.backOrderQty | number : 0}} added as Back Order</span>
                                <span class="pckg-qty-err" ng-if="obj.packageQty>1"><i class="fa fa-info-circle" aria-hidden="true"></i>Available only in packages of {{obj.packageQty}}.</span>
                                <!--<div class="pckg-qty-err ng-binding" ng-show="obj.packageQty > 1">
                                                    <i class="fa fa-info-circle" aria-hidden="true"></i>Available only in packages of {{obj.packageQty}}.
                                </div>-->
                            </td>
                            <td class="vt-hr-left border-rl td-date" ng-class="(obj.isPartNoValid)?'invalid-part':''">

                                <p class="input-group date-wrapper">
                                    <input ng-disabled="obj.isQtyInputDisable" type="text" class="form-control date-txt" show-button-bar="false" uib-datepicker-popup="{{expco.dateFormate}}" is-open="obj.calanderSelect"
                                        ng-click="expco.open1($index)" ng-model="obj.shipToDateReq" datepicker-options="expco.dateOptions" data-ng-change="obj.cartId?expco.updateLineItemQty($index, obj) :expco.addToCart($index, obj)"  readonly="true">
                                </p>

                            </td>
                            <td class="vt-hr-center border-rl">{{obj.uom}}</td>
                            <td class="vt-hr-center border-rl"><span ng-if="obj.qtyReq">{{obj.wtUom!='LB' ? obj.partWeight/0.4536*obj.qtyReq : obj.partWeight*obj.qtyReq | number : 0}} </span></td>
                            <td class="vt-hr-right border-rl"><span ng-if="obj.unitPrice && expco.userPermissionsList.CheckPrice">{{obj.unitPrice | number : 2}}</span></td>
                            <td class="vt-hr-right border-rl"><span ng-if="obj.coreCharge && expco.userPermissionsList.CheckPrice">{{obj.coreCharge | number : 2}}<span></td>
                            <td class="vt-hr-right border-rl extprice"><span ng-if="obj.unitPrice && expco.userPermissionsList.CheckPrice" >{{(obj.unitPrice + obj.coreCharge ) *obj.qtyReq | number :2}}</span></td>
                            <td class="vt-hr-center border-rl ">
                                <label ng-show="obj.cartId" data-ng-click="expco.selectCartItem(obj)" data-ng-model="obj.checked" uib-btn-checkbox class="checkbox-label">
                                    <i class="fa" ng-class="obj.checked ? 'fa-check-square' : 'fa-square-o' "></i>
                                </label>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <!--<p class="footermsg">{{'expresscheckout.FOOTERMSG' | translate}}<br> 
            {{'expresscheckout.FOOTERMSG' | translate}}
            </p>-->
            <!--<p class="footermsg">{{'expresscheckout.FOOTERMSG' | translate}}</p>-->
            <!-- <p class="footermsg"><b>{{'expresscheckout.PRICINGNOTE' | translate}}: </b>{{'expresscheckout.FOOTERMSG1' | translate}} <br>
            <b>{{'expresscheckout.AVLNOTE' | translate}}: </b>{{'expresscheckout.FOOTERMSG2' | translate}}
            </P> -->
            <div style="margin-top:10px">
                <p class="headspace">
                    {{'ORDERMGMT.HELPMSGTOCLINT1' | translate}}
                </p>
                <p class="headspace">
                    {{'ORDERMGMT.HELPMSGTOCLINT' | translate}}
                </p>
            </div>
        </div>
        <div class="col-md-2 stock-ordr-sumry posFixed" id="ad-section1" data-ng-class="{'affix-ads':expco.stickyAd === true}" >
                <h5 class="summery-text">{{'ORDERMGMT.STOCKORDERSUMMARY' | translate}}</h5>
                <div class="bg-default-bg">
                        <div class="row littlegap">
                            <div class="col-sm-7 no-of-item-lbl">
                                <p>{{'PREVIEWORDER.NUM_OF_PARTS' | translate}}</p>
                            </div>
                            <div class="col-sm-5  Qty item-qty">{{expco.totNoOfParts}}</div>
                        </div>
                        <div class="row bottom-line-wrap">
                            <div class="bottom-line">
                                <hr> </div>
                        </div>
                          <div class="row littlegap">
                            <div class="col-sm-7 tot-qty-lbl">
                                <p>{{'expresscheckout.TOTALORDERQTY' | translate}}</p>
                            </div>
                            <div class="col-sm-5  Qty ordr-qty">{{expco.totalOrderQTY}}</div>
                        </div>
                        <div class="row bottom-line-wrap">
                            <div class="bottom-line">
                                <hr> </div>
                        </div>
                        <div class="row littlegap">
                            <div class="col-sm-8 weight-lbl">
                                <p>{{'PREVIEWORDER.TOTAL_WEIGHT' | translate}}</p>
                            </div>
                            <div class="col-sm-4  Qty weight-qty">{{expco.totWgtOfPartsInLb | number :0 }}</div>
                        </div>
                        <div class="row bottom-line-wrap">
                            <div class="bottom-line">
                                <hr> </div>
                        </div>
                        <div class="row littlegap" ng-if="expco.userPermissionsList.CheckPrice">
                            <div class="order-total">
                                <p>{{ 'PREVIEWORDER.ORDER_TOTAL'  | translate}}</p>
                            </div>
                            <div class="total-Qty">{{'CURRENCY'| translate}} <span>{{expco.sumOfTotal | number :2}}</span></div>
                        </div>
                        <div ng-show="expco.sumOfTotal > 100000 && expco.userPermissionsList.CheckPrice">
                            <p class="save-msg">
                                <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
                                <span>{{ 'expresscheckout.EXECEDWRNMSG1'  | translate}} </span>
                                <!--<span>{{ 'expresscheckout.EXECEDWRNMSG2'  | translate}}</span>
                                 <span>
                                    USD {{expco.sumOfTotal| number :2}}?
                                </span>-->
                            </p>
                        </div>
                    </div>
                     
                <button class="btn btn-block btn-app btn-app-primary btn-ordrdetail" data-ng-click="expco.checkout()" ng-disabled="expco.cartQtyNotAllowed || expco.totNoOfParts == 0 || expco.addCallCounter%2 !== 0 ">{{'ORDERMGMT.CHECKOUT' | translate}}</button>
                <a href="/" class="btn btn-block btn-app btn-app-transparent btn-ordrdetail" data-ng-click="">{{'ORDERMGMT.CONTINUESHOPING' | translate}} </a>

                <div class="remove-selected" ng-show="expco.isPartRemove">
                    <!--<div class="remove-selected-row">
                        <div class="remove-selected-clm1">
                            <i class="fa fa-exclamation-triangle" style="margin-top: 5px;" aria-hidden="true"></i>
                        </div>
                        <div class="remove-selected-clm2">
                            <p>{{ 'expresscheckout.MARKITEMREMOVEMSG'  | translate}}</p>
                        </div>
                    </div>-->
                    <div class="remove-selected-row">
                        <button class="btn btn-primary remove-btn" data-ng-click="expco.removeSeletedItem()">{{ 'expresscheckout.REMOVESELECTED'  | translate}}</button>
                    </div>
                </div>
        </div>
    </div>
</div>