.expressCheckout {
    .affix-ads{
        top: 80px;
    }
    .posFixed{
        position:fixed;
        right:10px;
    }
    .expressContent {
        padding-left: 20px;
        padding-right: 20px;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1) inset;
        .expressTable {
            background: #fff;
            padding: 15px;
            border-radius: 3px;
        }
    }
    .textalignleft {
        text-align: left;
    }
    .dropdown-menu{
        padding: 0;
    }
     .custom-loader{
        width: 100%;
        height: 100%;
        position: fixed;
        z-index: 3000;
        margin: 0 auto;
        text-align: center;
        opacity: 0.7;
        background: #ffffff;
        .img-wrapper{
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            width: 100%;
            height: 100%;
            img{
                width: 40px;
                height: 40px;
                position: absolute;
                top: 30%;
            }
        }
    }
    .breadcrumb-row{
        background-color: #FFF;
        .breadcrumb{
            background-color: #FFF;
            font-weight: 600; 
            margin-bottom: 0;
            padding: 8px 22px;
            li + li:before {
                padding: 0 5px;
                content: "> ";
                font-size: 10px;
                color: #777;
            }
            a:hover{
                cursor: pointer;
            }
        }
    }
    .row-spinner{
            display: inline-block;
    }
    .expresscheckout_content {
     background :#ffffff;
    }
    .btn{  
            border-radius: 3px;
            height: 36px;
           
        }
    .btn{
        text-transform: uppercase;
        color: #fff;
        font-size: 13px;
        font-weight: 600;
    }
    .btn-remove {
        margin-top: -37px;
        height: 21px;
        font-weight: 600;
        font-size: 9px;
        
    }
    /*.partsearch {  
            border-radius: 0px;
            height: 0px;
    }*/
    // start : master Styles
    .btn-app{
        height: 36px;
        font-weight: 600;
        font-size: 14px;
        border-radius: 3px;
        text-transform: uppercase;
        outline: 0;
    }
    .btn-app:focus, .btn-app.focus, .btn-app:active:focus, .btn-app:active.focus, .btn-app.active:focus, .btn-app.active.focus {
        outline: 0;
    }
    .btn-app-primary{
        background-color: $btn_primary_bgcolor;
        border-color: $btn_primary_border_color;
        color: #fff;
    }
    .btn-app-primary:focus, .btn-app-primary.focus, .btn-app-primary:hover {
        background-color: $btn_primary_focus_bgcolor;
        border-color: $btn_primary_focus_border_color;
        color: #fff;
    }
    .btn-app-success{
        background-color: #3FB300;
        border-color: #3FB300;
        color: #fff;
    }
    .btn-app-success:focus, .btn-app-success.focus, .btn-app-success:hover {
        background-color: #369900;
        border-color: #369900;
        color: #fff;
    }
    .btn-app-default{
        background-color: #707070;
        border-color: #707070;
        color: #707070;
    }
    .btn-app-default:focus, .btn-app-default.focus, .btn-app-default:hover {
        background-color: #666666;
        border-color: #666666;
        color: #666666;
    }
    .btn-app-transparent{
        background-color: transparent;
        border: 2px solid #363636;
        border-color: #363636;
        color: #363636;
        line-height: 20px;
    }
    .btn-app-transparent:focus, .btn-app-transparent.focus, .btn-app-transparent:hover {
        background-color: #E2E2E2;
        border: 2px solid #363636;
        border-color: #363636;
        color: #363636;
    }
    .btn-app-sm-default{
        color: #39B54A;
        background-color: #E5E5E5;
        font-size: 11px;
        font-weight: 600;
        height: 20px;
    }
    .btn-app-sm-default:focus, .btn-app-sm-default.focus {
        background-color: #E5E5E5;
        border-color: #E5E5E5;
        color: #39B54A;
    }
    .btn-block + .btn-block {
        margin-top: 10px;
    }
    .header-section {
        margin-top: 15px;
        padding-right: 0px;
        h2 {
        margin-top: 5px;
        margin-bottom: 20px;
        color: #a6a6a6;
        font-weight: 300;
        line-height: 30px;
    }
    } 
    .footermsg{
         color: #888888;
         margin-top: 20px;
         font-size:11px;
    }
    .summery-text {
        padding-left: 10px;
        font-size: 14px;
        font-family: $app_font_family;
        color: #777777;
        font-weight: 600;
        margin-bottom: 10px;
    }
    .summery-box {
        font-size: 11px;
        font-family: $app_font_family;
        color: #6e6e6e;
        font-weight: 600;
    }
    .summery-right-box {
        font-size: 13px;
        font-family: $app_font_family;
        color: #323232;
        font-weight: 700;
        text-align: right
    }
    // .non-edit-txt{
    //     border: 0;
    //     box-shadow: none;
    //     outline: none;
    //     pointer-events: none;
    // }
   .non-edit-txt {
        border: 0;
        box-shadow: none;
        outline: none;
        pointer-events: none;
        font-size: 14px;
        font-weight: 900;
        color: #636363;
        margin-left: -8px;
        padding-left: 8px;
    }
  
    .part-no-inputbox {
         border-radius: 3px;
         outline-color: #cccccc;
    }
    .save-msg{
        color: #f99900;
        font-weight: 700;
        font-size: 11px;
        position: relative;
        padding-left:15px;
        margin-left: 10px;
        .fa-exclamation-triangle{
            position: absolute;
            top:3px !important;
            left:0;
        }
    }
    .tooltip.top {
        //margin-top: -3px;
        //padding: 5px 0;
        //top: -46px!important;
        //left: -39px!important;
        width: 200px;
        z-index: 9;
    }
    
    // .fa-exclamation-triangle {
    //     color: #FF9d02;
    //     padding-right: 10px;
    //     font-size: 16px;
    //     font-size: 72px;
    //     margin-right: 20px;
    //     position: relative;
    //     top: 6px;
    // }
    .table-responsive {
        overflow-x: auto;
        min-height: 400px;
    }

     table.car-list-table{
        margin-bottom: 0px;
        >thead{
            >tr{
                background-color: #fbfbfb;
                &:first-child {
                    border-top: 1px solid #f1f1f1;
                }
                &:last-child {
                    border-bottom: 1px solid #f1f1f1;
                }
                >th{
                    font-weight: 700;
                    font-size: 11px;
                    font-family: $app_font_family;
                    color: #acacac;
                    border-right: 1px solid #f1f1f1;
                    border-left:1px solid #f1f1f1;
                    vertical-align:top; 
                    &:nth-child(2) {
                        border-right: 1px solid #f1f1f1;
                    }
                    .inline-style {
                        display: inline;
                    }
                    .inline-style.ship-to-date{
                        padding-left: 13px;
                    }
                }
                >th.part-num-name{
                }
                >th.qty_num{
                   // width: 300px !important;
                }
                 >th.uom{
                }
                >th.hr-center{
                    text-align: center;
                    border-bottom: 0px;
                    .fa.pull-right{
                        position: relative;
                        top: 2px;
                    }
                }
                >th.hr-right{
                    text-align: right;
                    .fa.pull-right{
                        position: relative;
                        top: 2px;
                    }
                }
                >th.hr-left{
                      text-align: left;
                      border-bottom: 0px;
                      padding-top: 10px;
                      line-height: 14px;
                    .fa.pull-right{
                        position: relative;
                        top: 2px;
                    }
                }
                .line-no{
                    width: 3%;
                }
                .part-num-name{
                    width: 27%;
                }
                .qty_num{
                    width: 18%;
                }
                .ship-date{
                    width: 9%;
                }
                .uom{
                    width: 3%;
                }
                .ext-weight{
                    width: 7%;
                }
                .unit-price{
                    width: 8%;
                }
                .unit-core{
                    width: 8%;
                }
                .ext-price{
                    width: 10%;
                }
                .select-to-remove{
                    width: 6%;
                }
            }
        }
        >tbody{
            >tr{
                &:first-child {
                    border-top: 1px solid #f1f1f1;
                }
                &:last-child {
                    border-bottom: 1px solid #f1f1f1;
                }
                td{
                    vertical-align: top !important;
                    padding-top: 8px !important;
                }
                >td{
                    input{
                            
                            box-shadow: inset 0 0px 0px rgba(0, 0, 0, 0);
                            height: 28px;
                    }
                    font-size: 12px;
                    font-family: $app_font_family;
                    color: #323232;
                    font-weight: 500;
                    padding-top:3px;
                    
                    .non-edit-txt {
                        margin-top: 0px;
                    }
                    
                    &:nth-child(2) {
                        
                        input {
                            //margin-top: 5px;
                        }
                        .non-edit-txt {
                            margin-top: 0px;
                        }
                    }

                    &:nth-child(4) {
                        input {
                        }
                    }
                }
                >td.vt-hr-center{
                    text-align: center !important;
                    vertical-align: middle;
                   
                }
                >td.vt-hr-right{
                    text-align: right !important;
                    vertical-align: middle;
                     
                }
                >td.vt-hr-left{
                    text-align: left !important;
                    vertical-align: middle;
                    .row {
                        margin-top: 5px;
                        .col-xs-8 {
                            .exp-qty-status {
                                margin-top: 5px;
                                float: left;
                                i {
                                    float: left;
                                    margin-top: 2px;
                                }
                                span {
                                    float: left;
                                }
                            }
                        }
                    }
                }

                >td.invalid-part {
                    vertical-align: top;
                    p {
                        margin:5px 0 0 0;
                    }
                }
                >td {
                    &:first-child {
                        text-align: center;
                        padding: 8px 15px;
                        border-right: 1px solid #f1f1f1;
                    }
                    &:nth-child(2) {
                        border-right: none; 
                        text-align: left;
                        line-height: 3px;
                    }
                    &:nth-child(3) {
                        border-right: none;
                        text-align: left; 
                        .row-3-wrapper{
                            box-sizing: border-box;
                            width: 100%;
                            overflow: hidden;
                            .col-left{
                                width: 52%;
                                float: left;
                            }
                            .col-right{
                                width: 48%;
                                float: left;
                                padding-top: 9px;
                                display: inline-block;
                                white-space: nowrap;
                                >span{
                                    display: inline-block;
                                    white-space: nowrap;
                                    width: 100%;
                                    position: relative;
                                    i.fa.fa-check, i.fa-exclamation-triangle{
                                        position: absolute;
                                        left: -16px;
                                        top: 2px;
                                    }
                                }
                            }
                        }
                    }
                    &:nth-child(4) {
                        border-right: none; 
                        text-align: left;
                    }
                    &:nth-child(5) {
                        border-right: none; 
                        text-align: left;
                    }
                    &:nth-child(6) {
                        border-right: none; 
                        text-align: left;
                    }
                    &:nth-child(7) {
                        border-right: none; 
                        text-align: left;
                    }
                    &:nth-child(8) {
                        border-right: none; 
                        text-align: left;
                    }
                    &:nth-child(9) {
                        border-right: none; 
                        text-align: left;
                    }
                    &:nth-child(10) {
                        border-right: none;
                        text-align: left;
                    }
                    &:nth-child(11) {
                        text-align: left; 
                    }
                    &:nth-child(12) {
                        border-right: 1px solid #f1f1f1; 
                        text-align: left;
                    }
                    &:last-child{
                        border-right: 0;   
                        text-align: left; 
                    }
                    .imgWidth {
                        width: 40%;
                        border-right: none; 
                    }
                    .imgWidth.part-img{
                        width: 100%;
                        .img-responsive{
                            width: 100%;
                        }
                    }
                    .detailWidth {
                        width: 60%;
                    }
                    input[type="checkbox"].checkboxalign {
                        vertical-align: -webkit-baseline-middle !important;
                        width: 15px;
                        height: 15px;
                        &:focus {
                            outline: none;
                        }
                    }
                    input[type="number"] {
                        height: 28px;
                        border-radius: 3px;
                        padding-right: 2px;
                        padding-left: 5px;
                        font-weight: 700;
                        //padding: 6px;
                        //margin-top: 15px;
                        //margin-left: 12px;
                    }
                    .qty-err{
                        border: 2px solid #ff9d02;
                    }
                    .partnumber-input{
                        position: relative;
                        a.part-num{
                            display: block;
                            line-height: 18px;
                            font-size: 14px;
                            font-weight: 600;
                            color: $active_link_color;
                            margin-bottom: 5px;
                            text-decoration: none;
                            outline: none;
                        }
                        .cross{
                            position: absolute;
                            top:5px;
                            right: 3px;
                        }
                        
                    }
                    i.warning {
                        color:#747474;
                        font-size: 14px;
                         //margin: 22px 6px 6px 6px;
                    }
                    i.success{
                        color: #39a200;
                        font-size: 14px;
                        //margin: 22px 6px 6px 6px;
                    }
                    span.orderQty{
                        //margin: 20px 9px 6px 0px;
                        float: left;
                        
                    }
                    span.qty-available {
                        width: 100%;
                        float: left;
                        //color: #6f6f6f;
                        color:#f99900;
                        font-size: 11px;
                        font-weight: 600;
                        margin-top: 5px;
                    }
                    span.pckg-qty-err {
                     font-weight: 600;
                     color: #414141;
                     font-size: 10px;
                     line-height: 12px;
                    .fa-info-circle{
                    color: #6e6e6e;
                    font-size: 11px;
                    margin-right: 5px;
                   // position: absolute;
                   // left: 0px;
                    //top: 2px;
                        }

                   }
                }
                >td{
                    border: 1px solid #f1f1f1;
                    .inptQty{
                        width: 40px;
                    }
                    .part-num{
                        //color: #0093c6;
                        font-size: 12px;
                        font-weight: 600;
                        display: block;
                    }
                    p.partname {
                         font-size: 12px;
                         color:#323232;
                         line-height: 12px;
                         margin-bottom: 1px;
                    }
                }
                >td.extprice {
                    font-size: 14px;
                    color:#323232;
                    font-weight: 900;

                }
                >td{
                    &:nth-child(2) {
                        padding-right: 5px;
                    }
                }
                >td.border-rl{
                    border-left: 1px solid #f1f1f1;
                    border-right: 1px solid #f1f1f1;
                }
                >td.td-date{
                    p.date-wrapper{
                        margin-bottom: 0;
                        .date-txt{
                            border-radius: 3px;
                            font-size: 12px;
                            color: #323232;
                            height: 28px;
                           padding: 0 5px;
                           text-align: center;
                        }
                        >div{
                            .btn {
                                display: inline-block;
                                margin-bottom: 0;
                                font-weight: 400;
                                text-align: center;
                                vertical-align: middle;
                                -ms-touch-action: manipulation;
                                touch-action: manipulation;
                                cursor: pointer;
                                border: 1px solid transparent;
                                white-space: nowrap;
                                padding: 6px 12px;
                                font-size: 14px;
                                line-height: 1.42857;
                                -webkit-user-select: none;
                                -moz-user-select: none;
                                -ms-user-select: none;
                                user-select: none;
                                border-radius: 0;
                            }
                            .btn-default{
                                color: #333;
                                background-color: #fff;
                                border-color: #ccc;
                            }
                            .btn-default.active, .btn-default:active, .btn-default:hover, .open>.btn-default.dropdown-toggle {
                                color: #333;
                                background-color: #e6e6e6;
                                border-color: #adadad;
                            }
                            .btn.focus, .btn:focus, .btn:hover {
                                color: #333;
                                text-decoration: none;
                            }
                            .btn-group-sm>.btn, .btn-sm {
                                padding: 5px 10px;
                                font-size: 12px;
                                line-height: 1.5;
                            }
                            .btn-info:active:hover, .btn-info:active:focus, .btn-info:active.focus, .btn-info.active:hover, .btn-info.active:focus, .btn-info.active.focus, .open > .btn-info.dropdown-toggle:hover, .open > .btn-info.dropdown-toggle:focus, .open > .btn-info.dropdown-toggle.focus {
                                color: #fff;
                                background-color: #269abc;
                                border-color: #1b6d85;
                            }
                            .btn-info.active, .btn-info:active, .btn-info:hover, .open>.btn-info.dropdown-toggle {
                                color: #fff;
                                background-color: #31b0d5;
                                border-color: #269abc;
                            }
                            .btn.disabled, .btn[disabled]{
                                cursor: not-allowed;
                                opacity: 0.65;
                                filter: alpha(opacity=65);
                                box-shadow: none;
                            }
                        }
                    }
                    
                }
            }
        }
    }

    .posFixed{
        position: fixed;
        width: 15.667%;
        z-index: 1000;
        h5 {
            margin: 45px 0px 10px 0px;
        }
        .remove-selected {
            margin-top: 5px;
            .remove-selected-row {
                width: 100%;
                float: left;
                margin-top:15px;
                .remove-selected-clm1 {
                    float: left;
                    width: 20px;
                }
                .remove-selected-clm2 {
                    float: left;
                    width: calc(100% - 20px);
                }
            }
            i {
                color:#747474;
                float: left;
                margin-top: 10px;
            }
            p {
                color: #747474;
                float: left;
            }
            button {
                background: #575757;
                border:none;
            }
            .remove-btn{
                font-size: 10px;
                font-weight: 700;
                margin-bottom: 15px;
                width: 119px;
                height: 24px;
                padding: 0px;
            }
        }
    }
    .stock-ordr-sumry{
        padding-left: 0;
    }

    //  .bg-default-bg {
    //     background-color: #fff;
    //     border: 1px solid #ddd;
    //     border-radius: 3px;
    //     padding: 15px 15px 5px;
    //     margin-bottom: 10px;
    // }
      .bg-default-bg {
        background-color: #ffffff;
        box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075);
        border-radius: 3px;
        padding: 15px 15px 5px;
        color: #acacac;
        font-weight: 600;
        margin-bottom: 10px;
        .littlegap {
            p{
                font-weight: 400;
                color: #939393;
            }
            .order-total {
                p{
                    font-weight: 700;
                    font-size: 12px;
                    color: #939393;
                }
                padding: 5px 0px 0px 10px;
            }
            .total-Qty{
                padding-bottom: 5px;
                padding-left: 10px;
                font-weight: 400;    
                float: right;
                padding-right: 10px;
                color: #646464;
                span{
                    font-size: 22px;
                    font-weight: 700;
                    color: #646464;
                }
            }
            padding: 2px 10px 0px 6px;
            .text-center{
                padding-right: 6px;
            }
            .order-item-wrapper{
                width: 98%;
                margin-left: 4px;
                max-height: 200px;
                overflow-x: hidden;
                overflow-y: auto;
                .order-item-name-wrap{
                font-size: 11px;
                }
                .order-num-wrap{
                }
            }
        }
        .bottom-line-wrap{
            .bottom-line{
                margin: auto;
                width: 88%;
            }
        }
        hr {
            margin-top: 0;
            margin-bottom: 5px;
            border-top: 1px solid #f1f1f1;
        }
        .Qty {
            font-weight: 700;
            color: #646464;
            text-align: right;
            font-size: 14px;
        }
    }
 
    .search-part {
                    border:#ccc solid 1px;
                    border-radius: 3px;
                    /*border-top-left-radius: 3px;
                    border-bottom-left-radius: 3px;
                    border-top-right-radius: 3px;
                    border-bottom-right-radius: 3px;*/
                    margin-top: 8px;
                    input {
                        border: none;
                        box-shadow: none;
                        font-size: 11px;
                    }
                    .input-sm {
                            height: 26px;
                            padding-top: 4px;
                    }
                    input[type=text] {
                        border-radius: 3px;
                        font-weight: 400;
                    }
                    span {
                        .btn{
                             padding: 0px 12px;
                             height: 26px;
                        }
                    }

                    
                    button {
                        background: #fff;
                        i {
                            color: #ccc;
                        }
                    }
                }
    .checkbox-label{
        margin: 0 ;
        .fa-square-o, .fa-check-square{
            color: #0093c6;
            font-size: 16px;
            margin-left: 0;
        }
        .fa-check-square{
            background-color: #ffffff;
        }
    }

    .form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control {
     background-color: #FFF; 
    opacity: 1;
}  
}
/* Landscape mini, ipad 1&2, ipad 3&4*/
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (orientation: landscape) 
  and (-webkit-min-device-pixel-ratio: 1),
screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (orientation: landscape) 
  and (-webkit-min-device-pixel-ratio: 1),
screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (orientation: landscape) 
  and (-webkit-min-device-pixel-ratio: 2){
    .expressCheckout {
        table.car-list-table {
            thead{
                th{
                    padding: 8px 4px;
                }
                .line-no{
                    width: 2% !important;
                }
                .part-num-name{
                    width: 15% !important;
                }
                .qty_num{
                    width: 25% !important;
                }
                .ship-date{
                    width: 11% !important;
                }
                .uom{

                }
                .ext-weight{
                    width: 8% !important;
                }
                .unit-price{
                    width: 9% !important;
                }
                .unit-core{
                    width: 8% !important;
                }
                .ext-price{
                    width: 12% !important;
                }
                .select-to-remove{

                }
            }
            tbody{
                tr{
                    td:nth-child(3){
                        .row-3-wrapper{
                            .col-left{
                                width: 40%;
                                input{
                                    width: 55px !important;
                                    height: 28px;
                                }
                            }
                            .col-right{
                                width: 60%;
                                padding-left: 10px;
                            }
                        }
                    }
                    td{
                        padding: 6px 4px;
                    }
                }
            }
        }
        .stock-ordr-sumry{
            .summery-text{
                width: 80%;
                margin-top: 28px;
            }
            .btn-app-transparent{
                font-size: 12px;
            }
            .bg-default-bg{
                .no-of-item-lbl{
                    width: 100%;
                    padding: 0;
                }
                .item-qty{
                    width: 100%;
                    text-align: left;
                    padding: 0;
                }
                .tot-qty-lbl{
                    width: 100%;
                    padding: 0;
                }
                .ordr-qty{
                    width: 100%;
                    text-align: left;
                    padding: 0;
                }
                .weight-lbl{
                    width: 100%;
                    padding: 0;
                }
                .weight-qty{
                    width: 100%;
                    text-align: left;
                    padding: 0;
                }
                .order-total{
                    padding: 0;
                }
                .total-Qty{
                    padding: 0;
                    float: left;
                    span{
                        font-size: 18px;
                    }
                }
            }
        }
    }
}