
<div class="container orderList" ng-if="orderlist.isOrderlistEnabled()">
    <div class="row rowReset">
        <div class="col-md-12 cardsSection">
            <div class="panel panel-default resetBorder adjustPadding">
                <div class="orderHeading">
                    <div class="row">
                        <div class="col-sm-8">

                            <h2>{{ 'ORDERLIST.ORDERLISTHASH' | translate}} {{orderlist.orderId}} <span>({{orderlist.orderList.length}}&nbsp; <span ng-if="orderlist.orderList.length === 1">{{ 'ORDERLIST.PART' | translate}}</span> <span ng-if="orderlist.orderList.length > 1">{{ 'ORDERLIST.PARTS' | translate}}</span>)</span></h2>

                        </div>
                        <div class="col-sm-4">
                            <div class="pull-right alignment-bottom">
                                <span class="glyphicon glyphicon-info-sign"></span>
                                <label>{{ 'ORDERLIST.FUTUREREFRENCE' | translate}}
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default elearn panelBox">
                    <div class="panel-body resetPadding">
                        <div class='partDetails'>
                            <div class="partHeader">
                                <div class="row">
                                    <div class="col-sm-8">
                                        <!-- <h4>Commercial Vehicles (2 Parts)</h4> -->
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="addToCart pull-right">
                                            <a href="#">
                                                <button type="button" class="btn btn-primary" ng-disabled="!!isThisDisabled()" data-ng-click="orderlist.open()">{{ 'ORDERLIST.SHAREORDERLIST' | translate}}</button>
                                            </a>
                                        </div>
                                    </div>

                            </div>
                            <!-- <div class="row">
                                <div class="orderItems" ng-repeat="list in orderlist.orderList | orderBy: 'LOB'">
                                    <div class="col-md-2"><img src="assets/images/machine_pair3.jpg" /></div>
                                    <div class="col-md-8 orderitemDetail">
                                        {{list.displayName}}{{list.id}}
                                        <span class="spanRemovePart" data-ng-click="orderlist.remove(list.id)">Remove Part</span>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="col-md-4 text-right">
                                            <span data-ng-show="!list.show">{{list.qty}}</span>
                                            <span data-ng-show="list.show"><input data-ng-model="list.qty"  class="qtyeditable" /></span>
                                        </div>
                                        <div class="col-md-4 text-right">
                                            <span class="spanEdit">
                                            <a data-ng-show="!list.show" data-ng-click="list.show=!list.show">Edit</a>
                                            <a data-ng-show="list.show" data-ng-click="list.show=!list.show">Save</a>
                                        </span>
                                        </div>
                                        <div class="col-md-4 text-right">
                                            <span class="cancel-btn"><a href="" data-ng-click="orderlist.remove(list.id)">X</a></span>
                                        </div>
                                    </div>
                                </div>
                            </div> -->
                            <div class="row">
                                <div ng-repeat="(key, value) in orderlist.orderList |groupBy: 'partCategory'">
                                <strong>{{key}} {{value.length}}&nbsp;{{ 'ORDERLIST.CAPSOFFPARTS' | translate}}</strong>
                                    <div class="orderItems" ng-repeat="list in value">
                                        <div class="col-md-2"><img width="120" height="120" ng-src="{{protocol}}://{{list.partImageUrl}}" /></div>
                                        <div class="col-md-8 orderitemDetail">
                                            {{list.partName}}

                                            <span class="spanRemovePart" data-ng-click="orderlist.remove(list.id)">{{ 'ORDERLIST.REMOVEPART' | translate }}</span>
                                            <!--{{list}}-->
                                        </div>
                                        <div class="col-md-2">
                                         <form name="amOrderlist">
                                            <div class="col-md-4 text-right">
                                                <span data-ng-show="!list.show" >{{list.quantity}}</span>
                                                <span class="number-container" data-ng-show="list.show">
                                                    <input style="width:50px" no-spl-char nonegative-directive type="number" data-ng-model="list.quantity"  name="qty" class="qtyeditable" />
                                                </span>
                                
                                            </div>
                                            <div class="col-md-4 text-right">
                                                <span class="spanEdit">
                                                <a data-ng-show="!list.show" data-ng-click="list.show=!list.show">{{ 'ORDERLIST.EDIT' | translate}}</a>
                                                <a data-ng-show="list.show" data-ng-click="list.show=!list.show;orderlist.save(list.id,list.quantity)" ng-class="{false: 'disabledButton'}[list.quantity > 0]">{{ 'ORDERLIST.SAVE' | translate}}</a>
                                            </span>
                                            </div>
                                            <div class="col-md-4 text-right">
                                                <span class="cancel-btn"><a href="" data-ng-click="orderlist.remove(list.id)">{{ 'ORDERLIST.REMOVECROSS' | translate}}</a></span>
                                            </div>
                                            <div class="col-md-12 error" ng-show="amOrderlist.qty.$error.positive">{{ 'ORDERLIST.ERRORMSG' | translate}}</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>





<div class="container orderList" ng-if="!orderlist.isOrderlistEnabled()">
    <div class="row rowReset">
        <div class="col-md-12 cardsSection">
            <div class="panel panel-default resetBorder adjustPadding">
                <div class="orderHeading">
                    <div class="row">
                        <div class="col-sm-8">
                            <h2>{{ 'ORDERLIST.NOORDERLIST' | translate}}</span></h2>
                        </div>
                       
                    </div>
                </div>
               
        </div>
    </div>
</div>
</div>

