<!-- /*Author : Manjesh Kumar */ -->
<div id="loginpopup">
    <div class="modal-body">
       <div class="section-wrapper">
            <section class="tenant-info-section">
                <h5>{{'LOGIN.NEW_TO' | translate}} <br/> {{'LOGIN.DANA_AFTERMARKETS' | translate}}</h5>
                <p>{{'LOGIN.INFO_DANAUSER' | translate}}</p>
                <button class="btn btn-defaut" tabindex="-1" data-ng-click="login.goBackToRegistrationPopUp()">{{'LOGIN.REGISTERASDANAUSER' | translate}}</button>
                <hr/>
                <p class="bold-p">
                    <strong>{{'LOGIN.INFO2_DANACUST' | translate}}</strong>
                    <!-- <a target="_blank" href="{{protocol}}://spicerparts.com/repfinder/usa-canada">{{protocol}}://spicerparts.com/repfinder/usa-canada</a> --></br>
                    <!-- <a target="_blank" href="{{protocol}}://spicerparts.com/repfinder/usa-canada">{{protocol}}://spicerparts.com/repfinder/usa-canada</a></br> -->
                    <!-- <strong>{{'LOGIN.CONTACT_NUMBER' | translate}}</strong></br>
                    <strong>{{'LOGIN.EMAIL_ADDRESS' | translate}}</strong> -->
                </p>
                <div class="social-title">{{'LOGIN.CONNECT_US' | translate}}</div>
				<!--<ul class="social-lnk-container text-center">
					<li><a class="" target="_blank" href="https://www.facebook.com/DanaIncorporated/"><i class="fa fa-facebook" aria-hidden="true"></i><i class="fa fa-circle-thin" aria-hidden="true"></i></a></li>
					<li><a class="" target="_blank" href="https://twitter.com/DanaHoldingCorp"><i class="fa fa-twitter" aria-hidden="true"></i><i class="fa fa-circle-thin" aria-hidden="true"></i></a></li>
					<li><a class="" target="_blank" href="https://plus.google.com/+DanaHoldingCorp"><i class="fa fa-google-plus" aria-hidden="true"></i><i class="fa fa-circle-thin" aria-hidden="true"></i></a></li>
					<li><a class="" target="_blank" href="https://www.youtube.com/DanaHoldingCorp"><i class="fa fa-youtube-play" aria-hidden="true"></i><i class="fa fa-circle-thin" aria-hidden="true"></i></a></li>
				</ul> -->
                <ul class="social-lnk-img-container text-center">
					<li><a class="" target="_blank" href="https://www.facebook.com/DanaIncorporated/"><img ng-src="/assets/images/facebook.png" alt="" src="/assets/images/facebook.png"></a></li>
					<li><a class="" target="_blank" href="https://twitter.com/DanaHoldingCorp"><img ng-src="/assets/images/twitter.png" alt="" src="/assets/images/twitter.png"></a></li>
					<li><a class="" target="_blank" href="https://plus.google.com/+DanaHoldingCorp"><img ng-src="/assets/images/google_plus.png" alt="" src="/assets/images/google_plus.png"></a></li>
					<li><a class="" target="_blank" href="https://www.youtube.com/DanaHoldingCorp"><img ng-src="/assets/images/youtube.png" alt="" src="/assets/images/youtube.png"></a></li>
				</ul>
            </section>
            <section class="tenant-login-section">
                <h2>{{'LOGIN.SIGNIN' | translate}} 
                    <a class="close-overlay pull-right" data-ng-click="login.cancel('close-pop-up')" href="#">
						<img ng-src="/assets/images/close-icon.png" alt="" src="/assets/images/close-icon.png">
					</a>    
                </h2>
                <div class="text-center">
                    <div class="top-error" data-ng-show="login.isLogInFailed && login.isFormSubmitted"><i class="fa fa-exclamation-triangle" aria-hidden="true"></i>{{'PROFILE_ERROR.'+login.logInErrMsg | translate}}</div>
                </div>
                <form name="signInForm" novalidate>
                    <div class="row">
                        <div class="col-sm-9 col-md-9">
                            <div class="form-group" data-ng-class="{ 'has-error' : signInForm.loginId.$invalid && (!signInForm.loginId.$pristine || login.isFormSubmitted)}">
                                <label for="loginId">{{'LOGIN.USER_NAME' | translate}}</label>
                                <div class="input-group">
                                    <span class="input-group-addon" id="sizing-addon1">
                                        <i class="fa fa-user" aria-hidden="true"></i>
                                    </span>
                                    <input type="text" tabindex="1" autofocus id="loginId" class="form-control" name="loginId" data-ng-model="login.userDetails.user" required/>
                                </div>
                                <p ng-show="signInForm.loginId.$invalid && (!signInForm.loginId.$pristine || login.isFormSubmitted)" class="help-block text-right">{{'LOGIN.LOGIN_ID_ERROR' | translate}}</p>
                            </div>
                        </div>
                        <div class="col-sm-3 col-md-3">
                            <div class="checkbox">
                                <!-- <label><input type="checkbox" data-ng-model="login.isRemembered" data-ng-change="login.onChangeRememberMe()"> {{'LOGIN.REMEMBERME' | translate}}</label> -->
                                <label  data-ng-click="login.onChangeRememberMe()" data-ng-model="login.isRemembered" uib-btn-checkbox     class="checkbox-label">
                                <i class="fa" ng-class="login.isRemembered ? 'fa-check-square' : 'fa-square-o' "></i>{{'LOGIN.REMEMBERME' | translate}}</label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-9 col-md-9">
                            <div class="form-group" data-ng-class="{ 'has-error' : signInForm.loginPswrd.$invalid && (!signInForm.loginPswrd.$pristine || login.isFormSubmitted) }">
                                <label for="password" >{{'LOGIN.PASSWORD' | translate}}</label>
                                <div class="input-group">
                                    <span class="input-group-addon" id="sizing-addon1">
                                        <i class="fa fa-key" aria-hidden="true"></i>
                                    </span>
                                    <input tabindex="2" type="password" id="password" class="form-control" name="loginPswrd" data-ng-model="login.userDetails.password" required/>
                                </div>
                                <p ng-show="signInForm.loginPswrd.$invalid && (!signInForm.loginPswrd.$pristine || login.isFormSubmitted)" class="help-block text-right">{{'LOGIN.INVALID_PASSWORD' | translate}}</p>
                            </div>
                        </div>
                        <div class="col-sm-3 col-md-3">
                            <a href="" class="frgt-pswrd" data-ng-click="login.forgotPassword()">{{'LOGIN.FORGOT_PASSWORD' | translate}}</a>
                        </div>
                    </div>
                    <hr/>
                    <div class="row">
                        <div class="col-sm-9 col-md-9">
                            <div class="form-group" data-ng-class="{ 'has-error' : signInForm.loginCustId.$invalid && (!signInForm.loginCustId.$pristine || login.isFormSubmitted) }">
                                <label for="custId">{{'LOGIN.CUSTOMERID' | translate}}</label>
                                <div class="input-group">
                                    <span class="input-group-addon" id="sizing-addon1">
                                        <i class="fa fa-user" aria-hidden="true"></i>
                                    </span>
                                    <input tabindex="3" type="text" id="custId" class="form-control" name="loginCustId" data-ng-model="login.userDetails.customerId" data-ng-pattern="/^\d+$/" />
                                </div>
                                <p ng-show="signInForm.loginCustId.$invalid && (!signInForm.loginCustId.$pristine || login.isFormSubmitted)" class="help-block text-right">{{'LOGIN.INVALID_CUST_ID' | translate}}</p>
                            </div>
                            <div class="form-group btn-form-group">
                                <button tabindex="4" class="btn btn-primary btn-block btn-app-primary" data-ng-click="login.submitLoginDetails(signInForm.$valid, login.userDetails)" ng-keyup="$event.keyCode == 13 && login.submitLoginDetails(signInForm.$valid,login.userDetails)"  data-ng-disabled="login.dataLoading" data-ng-class="{'loader-in-progress': login.dataLoading}">{{'LOGIN.LOGIN_BTN' | translate}} 
                                    <!--<i class="fa fa-spinner fa-spin" data-ng-show="login.dataLoading"></i>-->
                                </button>
                            </div>
                        </div>
                        <div class="col-sm-3 col-md-3">
                            <span class="req-info">{{'LOGIN.CUSTID_INFO' | translate}}</span>
                        </div>
                    </div>
                </form>
            </section>
        </div>
    </div>
</div>
