/*Author : Manjesh Kumar*/
.my-modal-popup.sign-in-modal{
    top: 8% !important;
}
.my-modal-popup.sign-in-modal .modal-dialog {
    margin-top: 0;
    .modal-content{
        border-width: 0;
    }
}
#loginpopup {
    // strat : styles for latest design
    border: 0;
    .modal-body {
        padding: 0;
        .section-wrapper{
            overflow: hidden;
            background-color: #323232;
            border-radius: 4px;
            .btn{
                height: 34px;
                line-height: 13px;
                font-weight: 600;
                font-size: 13px;
            }
            hr{
                border-top: 1px solid #DFDFDF;
            }
            .tenant-info-section, .tenant-login-section{
                float: left;
                box-sizing: border-box;
                padding: 33px 33px;
            } 
            .tenant-info-section{
                width: 35%;
                color: #fff;
                h5{
                    font-weight: 300;
                    font-size: 24px;
                    margin-top: 0;
                    margin-bottom: 30px;
                    color: #cfcfcf;
                }
                .btn{
                    border: 2px solid #707070;
                    color: #f0f0f0;
                    text-transform: uppercase;
                    background: transparent;
                    border-radius: 3px;
                    outline: 0;
                }
                h5+p{
                    margin-bottom: 22px;
                    font-weight: 500;
                }
                p{
                    font-size: 11px;
                    color: #b3b3b3;
                }
                hr{
                    margin-top: 40px;
                    margin-bottom: 30px;
                    border-top: 1px solid #b7b7b7;
                    opacity: 0.36;
                }
                h5.h5-2{
                    font-size: 14px;
                    font-weight: 600;
                    color: #ececec;
                    margin-bottom: 12px;
                }
                h5.h5-2+p{
                    margin-bottom: 24px;
                }
                p.bold-p{
                    font-size: 12px;
                    font-weight: 600;
                    color: #e5e5e5;
                    margin-bottom: 48px;
                }
                .social-title{
                    color: #6b6b6b;
                    text-align: center;
                    font-weight: 600;
                    font-size: 10px;
                    bottom: 1px;
                    margin-bottom: 15px;
                    text-transform: uppercase;
                }
                ul.social-lnk-img-container{
                    margin: 0;
                    padding: 0;
                    box-sizing: border-box;
                    li{
                        display: inline-block;
                        width: 25%;
                        float: left;
                        margin: 0 auto;
                        a{
                            width: 30px;
                            height: 30px;
                            display: inline-block;
                            opacity: 0.6;
                            img{
                                width: 100%;
                                height: 100%;
                            }
                            &:hover{
                                opacity: 1;
                                img{
                                    width: 110%;
                                    height: 110%; 
                                }
                            }
                        }
                    }

                }
            }
            .tenant-login-section{
                width: 65%;
                min-height: 540px;
                background-color: #f6f6f6;  
                border-left: 2px solid #484848;
                .top-error{
                    display: inline-block;
                    border: 1px solid #ff9d02;
                    color: #ff9d02;
                    font-weight: 600;
                    font-size: 14px;
                    padding: 7px 10px;
                    border-radius: 3px;
                    .fa{
                        margin-right: 10px;
                        font-size: 16px;
                    }
                }
                form{
                    padding-top: 20px;
                }
                .top-error.ng-hide:not(.ng-hide-animate) {
                    display: none  !important;
                    visibility: collapse !important;
                }
                .top-error.ng-hide {
                    display: none  !important;
                    visibility: collapse !important;
                }
                .ng-hide:not(.ng-hide-animate) {
                    display: block  !important;
                    visibility: hidden !important;
                }
                button {
                    border-radius: 3px !important;
                    height: 40px;
                    font-size: 16px;
                    line-height: 16px;
                    .ng-hide:not(.ng-hide-animate) {
                        display: inline-block  !important;
                        visibility: hidden !important;
                    }
                }
                input[type=text], input[type=password]{
                    height: 36px;
                    font-size: 16px;
                    font-weight: 600;
                    color: #414141;
                    border: 1px solid #ededde;
                    box-shadow: none;
                }
                input[type=text]:focus, input[type=password]:focus{
                    border-color: #0093c6;
                    outline: 0;
                    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
                }
                input.input-logo{
                    border-top-right-radius: 3px !important;
                    border-bottom-right-radius: 3px !important;
                    border-top-left-radius: 0 !important;
                    border-bottom-left-radius: 0 !important;
                }
                .input-group-addon {
                    color: #dedede;
                    text-align: center;
                    background-color: #ffffff;
                    border: 1px solid #ededed;
                    border-radius: 4px;
                    border-bottom-right-radius: 0;
                    border-top-right-radius: 0;
                    border-right: 0;
                }
                .help-block{
                    margin-top: 2px;
                }
                .has-error{
                    .form-control, .form-control:focus {
                        box-shadow: inset 0 1px 1px rgba(100, 54, 0, 0.075);
                        border-color: #ff8a00;
                    }
                    .help-block{
                        text-align: right;
                        margin-bottom: 0;
                        font-weight: 600;
                        font-size: 12px;
                        color: #ff8a00;
                    }
                    .input-group-addon {
                        color: #ff8a00;
                        background-color: #fff3e5;
                        border-color: #ff8a00;
                    }
                }
                hr{
                    border-top: 1px solid #b7b7b7;            
                    margin-top: 8px;
                    margin-bottom: 30px;
                    opacity: 0.36;
                }
                h2{
                    margin-top: 0;
                    margin-bottom: 22px;
                    color: #9b9b9b;
                    font-weight: 300;
                    line-height: 30px;
                    .fa-times-circle{
                        font-size: 24px;
                    }
                    .fa-times-circle:hover{
                        cursor: pointer;
                    }
                    img{
                        vertical-align: top;
                    }
                }
                .form-group{
                    margin-bottom: 10px;
                    label{
                        margin-left: 5px;
                        color: #7f7f7f;
                        font-size: 12px;
                        font-weight: 600;
                    }
                }
                .form-control{
                    height: 36px;
                    border-bottom-right-radius: 4px;
                    border-top-right-radius: 4px;
                }
                .checkbox{
                    margin-top: 29px;
                    font-weight: 600;
                    font-size: 12px;
                    color: #7f7f7f;
                    input{
                        margin-top: 2px;
                    }
                    .checkbox-label{
                        padding-left: 0px;
                        .fa-check-square, .fa-square-o{
                            padding-right: 5px;
                            font-size: 13px;
                            margin-top: 3px;
                            color: #0093c6;
                        }
                    }
                }
                .frgt-pswrd{
                    top: 30px;
                    position: relative;
                    font-size: 11px;
                    font-weight: 600;
                    color: $active_link_color;
                }
                a.frgt-pswrd:hover{
                    text-decoration: none;
                }
                .req-info{
                    top: 20px;
                    position: relative;
                    font-weight: 600;
                    font-size: 11px;
                    color: #7f7f7f;
                }
                .btn-form-group{
                    margin-bottom: 0 
                }
                .btn{
                    margin-top: 30px;
                }
                .btn-app-primary{
                    background-color: $btn_primary_bgcolor;
                    border-color: $btn_primary_border_color;
                    color: #fff;
                    // padding-left: 32.5px;
                }
                .btn-app-primary:focus, .btn-app-primary.focus, .btn-app-primary:hover {
                    background-color: $btn_primary_focus_bgcolor;
                    border-color: $btn_primary_focus_border_color;
                    color: #fff;
                }
                .btn-app-primary.loader-in-progress{
                    cursor: none;
                }
            }
        }
    }
}

