<div id="orderTypeSelectionPopUp" class="modal-wrapper" ng-init="currQty=orderTypeCtrl.qtyReqd">
  <form name="emergencyOrder">
    <div class="modal-header bg-default">
      <div class="row">
        <div class="col-sm-12" style="height:44px;">
          <a class="close-icon" ng-click="orderTypeCtrl.cancel()" href="#">
            <img ng-src="/assets/images/close-icon.png" alt="" src="/assets/images/close-icon.png">
          </a>
          <h4>
              <span class="glyphicon glyphicon-ok glyphicon-ok-head"></span>
              <span class="part-title">{{'PRICINGANDAVAILABILITY.PARTNO' | translate}} {{orderTypeCtrl.partNumber}} </span>
              <span class="lifght-heading">{{orderTypeCtrl.partName}}</span>
           </h4>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <span class="superhead"> {{orderTypeCtrl.orderTitle}}</span><span class="sublink">
            <span uib-dropdown on-toggle="toggled(open)" data-ng-show="orderTypeCtrl.userPermissionsList.StockOrder">
              <a ng-show="orderTypeCtrl.mode!='incomplete' && orderTypeCtrl.mode!='edit'" href id="simple-dropdown" uib-dropdown-toggle>{{'PRICINGANDAVAILABILITY.CHANGE' | translate}}</a>
              <ul class="dropdown-menu" uib-dropdown-menu aria-labelledby="simple-dropdown">
                <li>

                     <a href="#" ng-repeat="(key, value) in orderTypeCtrl.orderSettings" adisabled-directive ="orderTypeCtrl.orderType=='{{value.ordertype}}'" ng-click="orderTypeCtrl.changeAvailType(value.ordertype, value.label)" ng-if="orderTypeCtrl.userPermissionsList[value.aclrole]"> 
                      {{ value.label | translate}}
                      <span ng-disabled="orderTypeCtrl.orderType=='{{value.ordertype}}'" ng-show="orderTypeCtrl.orderType=='{{value.ordertype}}'" class="glyphicon glyphicon-ok">
                     </a>
                </li>
          </ul>
          </span>
          </span>
        </div>
      </div>
      <div class="row">

        <div class="orderTypeHeader">
          <div class="col1">
            <div class="columns desired-qty-col">{{'PRICINGANDAVAILABILITY.DESIREDQTY' | translate}}</div>
            <div class="columns qty">
              <span class="number-container">
                <input id="input_qty_field_overlay" uib-tooltip="{{'TOOLTIP.PLEASEVERFYPARTQTY' | translate}}" tooltip-is-open="orderTypeCtrl.qtyReqd > 9999"  tooltip-enable="orderTypeCtrl.qtyReqd > 9999" tooltip-placement="auto top" nonegative-directive required no-spl-char type="number" ng-model="orderTypeCtrl.qtyReqd" type="number" name="qty" class="form-control" min="{{orderTypeCtrl.minQty}}" step="{{orderTypeCtrl.packageQty}}" data-ng-class="{'qty_invalid': orderTypeCtrl.isQtyNtMultplOfPkQty || emergencyOrder.qty.$error.positive}" ng-change="orderTypeCtrl.checkCartQtyVal('input_qty_field_overlay')" ng-blur="orderTypeCtrl.makeQtyPositive(emergencyOrder.qty.$error.positive, 'input_qty_field_overlay')">
              </span>
            </div>
            <div class="columns available-status">
                <i ng-show="orderTypeCtrl.showNoAvailable || emergencyOrder.qty.$error.positive || orderTypeCtrl.isQtyNtMultplOfPkQty"  class="fa fa-2x fa-info-circle" aria-hidden="true"></i>
                <span ng-show="!orderTypeCtrl.showNoAvailable" ng-hide="emergencyOrder.qty.$error.positive || orderTypeCtrl.isQtyNtMultplOfPkQty" style="padding-left:6px;padding-right:6px" class="glyphicon glyphicon-ok glyphicon-ok-head"></span>
            </div>
            <div class="columns uom">
                <span>{{'PRICINGANDAVAILABILITY.UNITOFMEASUREMENT' | translate}}</span>
                <br>
                <span class="uom-val" ng-model="orderTypeCtrl.uom">{{'PRICINGANDAVAILABILITY.EACH' | translate}}</span>
            </div>
            <div class="columns chk-btn">
              <button ng-class="{'btn-primary':emergencyOrder.qty.$dirty && !emergencyOrder.qty.$invalid && !orderTypeCtrl.isQtyNtMultplOfPkQty , 'btn-secondary': emergencyOrder.qty.$pristine}" 
              class="btn btn-default" type="button" ng-disabled="emergencyOrder.qty.$dirty && emergencyOrder.qty.$invalid || emergencyOrder.qty.$pristine ||  emergencyOrder.qty.$submitted || orderTypeCtrl.isQtyNtMultplOfPkQty" ng-click="orderTypeCtrl.updateData()">{{'PRICINGANDAVAILABILITY.UPDATEAVAILABILITY' | translate}} </button>
            </div>
          </div>
          <div class="col2" ng-show="orderTypeCtrl.userPermissionsList.CheckAvailability">
              <i class="fa fa-caret-right" aria-hidden="true"></i>
          </div>
          <div class="col3" ng-show="orderTypeCtrl.userPermissionsList.CheckAvailability">
            <div class="columns tot-available-lbl"><span class="partavail">{{'PRICINGANDAVAILABILITY.TOTALQTYAVAILABLE' | translate}}</span></div>
            <div class="columns bigno">{{orderTypeCtrl.totAvailable | number:0}}</div>
          </div>

        </div>
        <div class="row qty-err-wrapper">
          <div class="error" ng-show="emergencyOrder.qty.$error.positive && !orderTypeCtrl.isQtyNtMultplOfPkQty">
              {{'PRICINGANDAVAILABILITY.QTYVALIDATIONMSG' | translate}}
          </div>
          <div class="pckg-qty-err" ng-show="orderTypeCtrl.packageQty > 1">
              <i class="fa fa-info-circle" aria-hidden="true"></i>{{'PARTCARD.INVALID_PACKAGE_QTY' | translate}}{{orderTypeCtrl.packageQty}}.
          </div>
        </div>
      </div>
    </div>
    <div data-ng-hide="orderTypeCtrl.isDataLoading">
    <div class="row selection-err-msg" ng-hide="(orderTypeCtrl.userType === 'NON-RTB' || orderTypeCtrl.userType === 'RTB') && orderTypeCtrl.totalQty=='0'">
          <div class="warning" ng-show="orderTypeCtrl.showNoAvailable">
              {{'PRICINGANDAVAILABILITY.LOCATIONERRORMSG' | translate}}
          </div>
          <div class="warning" ng-show="!orderTypeCtrl.showNoAvailable && !orderTypeCtrl.isEmgReqQtyAvail && (orderTypeCtrl.orderType == 'EMG') && orderTypeCtrl.totalLocationQty < orderTypeCtrl.qtyReqd">
              {{'PRICINGANDAVAILABILITY.EMG_QTY_AVAIL_ERR' | translate}}
              <div class="contact-number">{{orderTypeCtrl.contactInfo.number_info}}</div>
              <div class="contact-email"> {{orderTypeCtrl.contactInfo.email}} </div>
              <div class="contact-time"> {{orderTypeCtrl.contactInfo.extended_hours}}</div>
          </div>
    </div>
    <div class="modal-body info-block" ng-show="orderTypeCtrl.userType==='NON-RTB'">
      <div class="notice">
        <i class="fa fa-2x fa-info-circle" aria-hidden="true"></i>
        <span class="info-title">
        {{'PRICINGANDAVAILABILITY.AVAILABILITY.CONTACT_REP' | translate}}
        </span>
        
      </div>
    </div>
     <div class="modal-body info-block" ng-show="!orderTypeCtrl.userPermissionsList.CheckAvailability && orderTypeCtrl.userType === 'RTB'">
          <i class="fa fa-2x fa-info-circle" aria-hidden="true"></i>
          <span class="info-title">
           {{'PRICINGANDAVAILABILITY.AVAILABILITY.AUTHORIZATION_REQD' | translate}}
         </span>
     </div>

     <div class=" scrollDiv errorDiv" ng-if="orderTypeCtrl.errorType === 'system'" >
         <div class="exclamation-div"> <i class="fa fa-exclamation-triangle" aria-hidden="true"></i></div>
         <div class="err-msg">{{'PRICINGANDAVAILABILITY.SYSTEM_ERR_MSG' | translate}}</div>
         <div class="try-again">
             <button class="btn btn-primary" ng-click="orderTypeCtrl.refetchData()" type="button">
             {{'PRICINGANDAVAILABILITY.TRY_AGAIN' | translate}}
          </button>
         </div>
     </div>
     
     <div class=" scrollDiv errorDiv" ng-if="orderTypeCtrl.errorType === 'notfound' && orderTypeCtrl.userType==='RTB'" >
         <div class="exclamation-div"> <i class="fa fa-exclamation-triangle" aria-hidden="true"></i></div>
         <div class="err-msg">{{'PRICINGANDAVAILABILITY.PART_NOT_AVAILABLE' | translate}}</div>         
     </div>
         
         
     <div class="scrollDiv" ng-if="orderTypeCtrl.errorType === ''">
        <div class="modal-body stockOrderType" ng-show="orderTypeCtrl.orderType=='STK'" >
          <div class="table-responsive">
              <table class="table spacing-table" ng-show="orderTypeCtrl.availabilityDataLoaded">
              <thead ng-if="orderTypeCtrl.showHeader" data-ng-show="orderTypeCtrl.isbulkInvAvailbl">
                  <tr style="background:white;">
                  <th class="stk-first-col">{{'PRICINGANDAVAILABILITY.LOCATIONHEADER' | translate}}</th>
                  <th class="stk-second-col">{{'PRICINGANDAVAILABILITY.QTYHEADER' | translate}}</th>
                  <th class="stk-last-col" ng-show="orderTypeCtrl.userType==='RTB'">{{'PRICINGANDAVAILABILITY.SHIPPINGDATEHEADER' | translate}}<br/>{{'PRICINGANDAVAILABILITY.SHIPPING_DATE' | translate}}</th>
                  </tr>
              </thead>
              <tbody>
                  <tr ng-repeat="item in orderTypeCtrl.plantNames" data-ng-if="item.inventoryType !=='SLTI' && item.availability && item.availability !== 0">
                    <td class="location-name" ng-if="item.inventoryType !=='SLTI' && item.availability && item.availability !== '0'" >
                        {{item.plantName}}, <span class="sublink"> {{item.address}}</span>                   
                    </td>
                    <td class="stk-avail" ng-if="item.inventoryType !=='SLTI' && item.availability && item.availability !== '0'">{{item.availability | number : 0}}</td>
                    <td class="delivery-date"  ng-if="item.inventoryType !=='SLTI' && item.availability && item.availability !== '0'">{{item.leadDate}}</td>
                  </tr>
                  <tr ng-repeat="item in orderTypeCtrl.plantNames" data-ng-if="item.inventoryType =='SLTI'">
                    <td colspan="3" class="noborder-td">
                        <div class="row slti_div">
                            <div class="col-md-11">
                                <div class="avail-hed">
                                    {{'PRICINGANDAVAILABILITY.SLTI_MSG' | translate : '{availability : '+'"'+item.availability +'"'+'}' }}
                                    <span class="sublink">{{item.plantName}}</span>, <span class="sublink"> {{item.address}}</span>
                                </div>
                                <div class="sublink">{{'PRICINGANDAVAILABILITY.ESTIMATED_DATE' | translate}} {{item.leadDate}}</div>
                            </div>
                            <div class="col-md-1" ng-show="orderTypeCtrl.userType==='RTB'">
                                <label data-ng-click="orderTypeCtrl.checkBackOrder(item)" ng-class="{'disable-checkbox': orderTypeCtrl.isQtyNtMultplOfPkQty, 'checked-box': item.checked, 'unchecked': item.checked}"  data-ng-model="item.checked" uib-btn-checkbox class="checkbox-label">
                                    <i class="fa" ng-class="item.checked ? 'fa-check-square' : 'fa-square-o' "></i>
                                </label>
                            </div>
                        </div>
                    </td>
                  </tr>
              </tbody>
              </table>
          </div>
        </div>
        <div class="modal-body emergenyOrderType" ng-show="orderTypeCtrl.orderType!=='STK'">
        <div class="table-responsive">
            <table class="table spacing-table" ng-show="orderTypeCtrl.availabilityDataLoaded">
            <thead ng-if="orderTypeCtrl.showHeader" data-ng-show="orderTypeCtrl.isbulkInvAvailbl">
                <tr style="background:white;">
                <th>{{'PRICINGANDAVAILABILITY.LOCATIONHEADER' | translate}}</th>
                <th class="eo-second-col">{{'PRICINGANDAVAILABILITY.QTYHEADER' | translate}}</th>
                <!--<th ng-show="orderTypeCtrl.userType==='RTB'">{{'PRICINGANDAVAILABILITY.SHIPPINGDATEHEADER' | translate}}<br/>{{'PRICINGANDAVAILABILITY.SHIPPING_DATE' | translate}}</th>-->
                <th>{{'PRICINGANDAVAILABILITY.SHIPPINGDATEHEADER' | translate}}<br/>{{'PRICINGANDAVAILABILITY.SHIPPING_DATE' | translate}}</th>
                <th ng-if="orderTypeCtrl.userType==='RTB'"></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-if="0" ng-repeat-start="item in orderTypeCtrl.plantNames"></tr>
                <tr ng-class="item.checked && item.inventoryType !=='SLTI' && item.inventoryType !=='BTO' ? 'selected-row' : '' ">
                    <td class="location-name" ng-if="item.inventoryType !=='SLTI' && item.inventoryType !=='BTO' && item.availability && item.availability !== '0'" >
                        {{item.plantName}}, <span class="sublink"> {{item.address}}</span>                   
                    </td>
                    <td class="avail" ng-if="item.inventoryType !=='SLTI' && item.inventoryType !=='BTO' && item.availability && item.availability !== '0'">{{item.availability | number : 0}}</td>
                    <!--<td class="delivery-date" ng-show="orderTypeCtrl.userType==='RTB'">{{item.leadDate}}</td>-->
                    <td class="delivery-date" ng-if="item.inventoryType !=='SLTI' && item.inventoryType !=='BTO' && item.availability && item.availability !== '0'">{{item.leadDate}}</td>

                    <td class="checkbox-td" ng-if="orderTypeCtrl.userType==='RTB' && item.inventoryType !=='SLTI' && item.inventoryType !=='BTO' && item.availability && item.availability !== '0'">
                       
                        <label data-ng-click="orderTypeCtrl.checkAvail(item)"
                        data-ng-class="{'disable-event-class': ( !item.checked && orderTypeCtrl.maxLevel)}"  
                        data-ng-model="item.checked" uib-btn-checkbox class="checkbox-label" 
                        ng-disabled="( !item.checked && orderTypeCtrl.maxLevel) || orderTypeCtrl.isQtyNtMultplOfPkQty || (orderTypeCtrl.disableAllBox) ? true : false">
                            <i class="fa" ng-class="item.checked ? 'fa-check-square' : 'fa-square-o' "></i>
                        </label>
                    </td>
                    <!--<td></td>-->
                    <td colspan="4" class="noborder-td" ng-if="item.inventoryType ==='SLTI' || item.inventoryType ==='BTO'">
                        <div class="row bto_div" ng-if="item.inventoryType ==='BTO'">
                            <div class="bto_msg">
                            {{'PRICINGANDAVAILABILITY.BTO_TOOLTIP' | translate}} 
                            </div>
                            <div class="col-md-11">
                                <div class="avail-hed">
                                   {{'PRICINGANDAVAILABILITY.UPTO' | translate}} {{item.availability | number}} {{'PRICINGANDAVAILABILITY.BTO_MSG' | translate}}
                                    <!--{{'PRICINGANDAVAILABILITY.BTO_MSG' | translate : '{availability : '+'"'+item.availability+'"'+'}' }} -->
                                    <!--Add {{item.availability | number : 0}} custom built by {{item.plantName}},-->
                                    <span class="sublink">{{item.plantName}}</span>, <span class="sublink">{{item.address}}</span> </div>
                                <div class="sublink">{{'PRICINGANDAVAILABILITY.ESTIMATED_DATE' | translate}} {{item.leadDate}}</div>
                            </div>
                            <div class="col-md-1 back-checkbox" ng-if="orderTypeCtrl.userType==='RTB'">
                                
                                <label data-ng-click="orderTypeCtrl.checkAvail(item)" ng-class="item.checked ? 'checked-box' : 'unchecked'"  data-ng-model="item.checked" 
                                uib-btn-checkbox class="checkbox-label" ng-disabled="( !item.checked && orderTypeCtrl.maxLevel) ||  orderTypeCtrl.isQtyNtMultplOfPkQty || (orderTypeCtrl.disableAllBox) ? true : false">
                                <i class="fa" ng-class="item.checked ? 'fa-check-square' : 'fa-square-o' "></i>
                                </label>
                            </div>
                            
                        </div>
                        <div class="row slti_div" ng-if="item.inventoryType ==='SLTI'">
                            <div class="col-md-11">
                                <div class="avail-hed">
                                     {{'PART.ADD' | translate}} {{item.availability | number :0}}{{'PRICINGANDAVAILABILITY.SLTI_MSG' | translate }}
                                 <!--{{'PRICINGANDAVAILABILITY.SLTI_MSG' | translate : '{availability : '+'"'+item.availability+'"'+'}' }}-->
                                    <span class="sublink">{{item.plantName}}</span>, <span class="sublink"> {{item.address}}</span>
                                    <!--Add {{item.availability | number : 0}} remaining to the cart.-->
                                </div>
                                <div class="sublink">{{'PRICINGANDAVAILABILITY.ESTIMATED_DATE' | translate}} {{item.leadDate}}</div>
                            </div>
                            <div class="col-md-1 back-checkbox" ng-if="orderTypeCtrl.userType==='RTB'">
                                
                                <label data-ng-click="orderTypeCtrl.checkAvail(item)" ng-class="item.checked ? 'checked-box' : 'unchecked'"  data-ng-model="item.checked" 
                                uib-btn-checkbox class="checkbox-label" ng-disabled="( !item.checked && orderTypeCtrl.maxLevel) || 
                                orderTypeCtrl.isQtyNtMultplOfPkQty || (orderTypeCtrl.disableAllBox) ? true : false">
                                    <i class="fa" ng-class="item.checked ? 'fa-check-square' : 'fa-square-o' "></i>
                                </label>
                            </div>
                            
                        </div>
                    </td>
                </tr>
                <!--<tr ng-if="item.partial" class="partial-tr">
                    <td colspan="3">
                        {{'PRICINGANDAVAILABILITY.PARTIAL_MSG' | translate : '{total : '+'"'+item.availability +'"'+', partial:'+'"'+item.partialQty +'"'+'}' }}
                        
                     </td>
                </tr>-->
                <tr ng-if="0" ng-repeat-end></tr>
            </tbody>
            </table>
        </div>
        </div>

    </div>
   
    <div class="modal-footer" ng-show="orderTypeCtrl.userType==='NON-RTB'">
    </div>
    <div class="modal-footer" ng-show="orderTypeCtrl.userType==='RTB'">
        
         <div class=" scrollDiv errorDiv priceError" ng-if="!orderTypeCtrl.priceData && orderTypeCtrl.userPermissionsList.CheckPrice" >
            <div class="exclamation-div"> <i class="fa fa-exclamation-triangle" aria-hidden="true"></i></div>
            <div class="err-msg">{{'PRICINGANDAVAILABILITY.SYSTEM_PRICING_ERR_MSG' | translate}}</div>
            <div class="try-again">
                <button class="btn btn-primary" ng-click="orderTypeCtrl.refetchData()" type="button">
                {{'PRICINGANDAVAILABILITY.TRY_AGAIN' | translate}}
                </button>
            </div>
        </div>
         
        <div ng-show="orderTypeCtrl.priceData">
            <div class="row unit-priceRow" style="padding-top:10px;">
                <div class="col-md-6">
                <span class="unit-price price-label pull-left">{{'PRICINGANDAVAILABILITY.UNITPARTPRICE' | translate}} </span>
                </div>
                <div class="col-md-6">
                <span class="unit-price pull-right">{{orderTypeCtrl.unitPartPrice| currency:""}}</span>
                </div>
            </div>
            <div data-ng-if="orderTypeCtrl.coreUnitPrice !== 0" class="line-gap"></div>
            <div class="row unit-priceRow" data-ng-if="orderTypeCtrl.coreUnitPrice !== 0">
                <div class="col-md-6">
                <span class="unit-price price-label pull-left">{{'PRICINGANDAVAILABILITY.COREUNITPRICE' | translate}}  
                    <span class="glyphicon glyphicon-question-sign ng-hide" tooltip-placement="right" tooltip-class="pzv-tooltip" uib-tooltip="**TBD**"></span>
                    </span>
                </div>
                <div class="col-md-6">
                <span class="unit-price pull-right">{{orderTypeCtrl.coreUnitPrice| currency:""}}</span>
                </div>
            </div>

            <div class="row total-priceRow">
                <div class="col-md-6">
                <span class="unit-price price-label pull-left">{{'PRICINGANDAVAILABILITY.EXTENDEDPRICE' | translate}}  
                    <span class="glyphicon glyphicon-question-sign ng-hide" tooltip-placement="right" tooltip-class="pzv-tooltip" uib-tooltip="**TBD**"></span>
                    </span>
                </div>
                <div class="col-md-6"> 
                    <span class="unit-price total-ext-price pull-right" ng-if="orderTypeCtrl.qtyAddedToCart > 0" ><b>{{(orderTypeCtrl.unitPartPrice + orderTypeCtrl.coreUnitPrice) * orderTypeCtrl.qtyAddedToCart | currency:""}}</b></span>
                    <span class="unit-price total-ext-price pull-right" ng-if="orderTypeCtrl.qtyAddedToCart === 0" ><b>{{orderTypeCtrl.extendedPrice| currency:""}}</b></span>
                <!--<span class="unit-price total-ext-price pull-right"><b>{{orderTypeCtrl.extendedPrice| currency:""}}</b></span>-->
                </div>
            </div>
      

           
        </div>
      

        <div class="row add-to-cart-row" ng-show="orderTypeCtrl.mode == 'normal'">
     

        <div class="col-md-12">
          <button class="btn btn-primary addToCart" ng-click="orderTypeCtrl.addToCart(false)" 
          ng-if="orderTypeCtrl.errorType === ''"
          ng-disabled="orderTypeCtrl.showNoAvailable || emergencyOrder.qty.$error.positive || !orderTypeCtrl.addedToCart || orderTypeCtrl.isQtyNtMultplOfPkQty" type="button">
             {{orderTypeCtrl.addToCartLabel}}
          </button>
        </div>
      </div>
      <!-- || orderTypeCtrl.mode='incomplete' -->
      <div class="row add-to-cart-row" ng-show="orderTypeCtrl.mode == 'edit' || orderTypeCtrl.mode =='incomplete'">
        
        <div class="col-md-12">
          <button class="btn btn-primary addToCart" ng-click="orderTypeCtrl.updateCart(false)" 
          ng-if="orderTypeCtrl.errorType === ''"
          ng-disabled="orderTypeCtrl.showNoAvailable || emergencyOrder.qty.$error.positive || !orderTypeCtrl.addedToCart || orderTypeCtrl.isQtyNtMultplOfPkQty" type="button">
             {{orderTypeCtrl.addToCartLabel}}
          </button>
        </div>
      </div>
      <p class="desclaimer">
         <!--  <span class="note">{{'PRICINGANDAVAILABILITY.AVAILABILITY.NOTE' | translate}}</span> --> {{'PRICINGANDAVAILABILITY.AVAILABILITY.MSG_1' | translate}}</br> 
          <!-- <span class="line-2">{{'PRICINGANDAVAILABILITY.AVAILABILITY.MSG_2' | translate}}</span> -->
      </p>
      <p class="desclaimer">
          <!-- <span class="note">{{'PRICINGANDAVAILABILITY.AVAILABILITY.AVAIL_NOTE' | translate}}</span>  -->
          {{'PRICINGANDAVAILABILITY.AVAILABILITY.AVAIL_NOTE_CONTENT' | translate}}
      </p>
      
    </div>

  </div>
  <div class="loader" data-ng-show="orderTypeCtrl.isDataLoading">
      <img src="/assets/images/loading.gif" width="20" height="20">
  </div>
  </form>
</div>
