#orderTypeSelectionPopUp {
    line-height: 1;
    .loader{
        height: 200px;
        position: relative;
        img{
            position: absolute;
            top: 50%;
            left: 50%;
            width: 40px;
            height: 40px;
            z-index: 999;
            text-align: center;
            font-weight: bold;
            margin-left: -20px;
            margin-top: -20px;
        }
    }
  button:disabled {
      background-color:#d2cfcf;
      color:black;
      border:0.5px solid #d2cfcf;
  }
  .contact-number, .contact-email, .contact-time{
      font-size:12px;
      font-weight: 600;
      font-style: initial;
      line-height: 14px;
  }
  .checkbox-label.disable-checkbox{
        pointer-events: none;
        opacity: 0.8;
        .fa-square-o{
            color: #7f7f7f;
        }
    }
  .contact-email {
      
  }
  .contact-time{
      
  }
  /*.btn-default:hover, .btn-default:focus{
     background-color: #ffffff;
     border-color: #CCCCCC;
  }*/
  .stk-first-col {
      min-width:150px;
  }
//    .stk-second-col {
//      width:60px;
//      min-width:100px;
//   }
  .eo-second-col {
     width:60px;
     min-width:150px;
  }
    .stk-last-col {
     width:130px;
  }
  .qty-err-wrapper{
      .error{
          color: #ff9d02;
          font-weight: 600;
          font-size: 12px;
          padding: 5px 20px 0;
      }
    .pckg-qty-err{
        font-weight: 600;
        color: #414141;
        text-align: left;
        font-size: 11px;
        padding: 5px 20px;
        .fa-info-circle{
            color: #6e6e6e;
            font-size: 13px;
            margin-right: 5px;
        }
    }
  }
    .qty_invalid{
        border-color: #ff9d02;
        outline: none;
        border-width: 2px;
    }
  .addToCart {
      background-color: $btn_primary_bgcolor;
      border-color: $btn_primary_border_color;
      min-width: 150px;
      float: right;
  }
  .addToCart, .backorderBtn {
      font-size: 12px;
      border-radius: $box_border_radius;
      font-weight: 600;
      height: 36px;
  }
    .modal-header {
        background-color: $modal_bg_color;
        border-top-left-radius: $box_border_radius;
        border-top-right-radius: $box_border_radius;
        padding: 15px 27px 0;
        .close-icon{
          position: absolute;
          top: 15px;
          right: 10px;
        }
        .close{
          margin: 0;
          h1{
              margin-top: 0;
          }
        }
        
        h4 {
            span.light-heading {
                color: #8c8c8c;
                padding-left: 17px;
                font-size:18px;
                font-weight: 600;
            }
            span.glyphicon-ok-head {
                color: #39a200;
                padding-right: 8px;
                font-size:16px;
            }

            .part-title{
                font-size:18px;
                font-weight: 700;
                color:#6d6d6d;       
            }
        }
        .superhead {
            font-size: 28px;
            color: #8c8c8c;
            font-weight: 300;
        }
        .sublink {
            font-size: 12px;
            padding-left: 10px;
            color:#6093c6;
            font-weight: 600;
            .dropdown > ul > li > a > .glyphicon{
              color: #39a200;
            }
        }
        .headtable {
            .smallglyphicon-ok {
                color: #08e308;

            }
            .partavail {
                font-size: 26px;
                font-weight:600;
            }
            .bigno {
                font-size: 16px;
            }
            .form-control {
                padding: 0 6px;
            }
        }
        .bigno {
            font-size: 34px;
            font-weight: 700;
            margin-right: 2px;
        }

        input[type=number]{
          font-weight:600;
          font-size:16px;
        }

        div.orderTypeHeader{
          display:table;
          padding-left:10px;
          padding-top:16px;
          line-height: 1;
          .col1 {
              vertical-align:middle;
          }
          .desired-qty-col{
              width:50px;
              padding-right:16px;
              font-size:12px;
              color:#8c8c8c;
              padding-right: 14px;
              font-weight: 600;
          }
          .qty {
              input {
                width: 87px;
                height:27px;
                font-size: 14px;
                font-weight: 600;
                padding: 5px 6px;
                line-height: 14px;
              }
          }
          .available-status {
              padding:0 1px;
              i {
                  color: #f17e00;
                  font-size: 16px;
                  margin: 0px 5px;
              }
          }
          .uom {
              padding-right:20px;
              font-size:12px;
              color:#8c8c8c;
               font-weight:600;
              .uom-val {
               
              }
          }
          .chk-btn{
              .btn {
                    width: 140px;
                    font-size: 10px;
                    border-radius: $box_border_radius;
                    font-weight: 700;
              }
              .btn-primary{
                    background-color: $btn_primary_bgcolor;
                    border-color: $btn_primary_border_color;
                    font-weight: 600;
              }
              .btn-secondary{
                  background: transparent;
                  border: 1px solid #e5e5e5;
                  color: #d7d7d7;
                  font-weight: 600;
              }
          }
          .col2 {
              width:20px;
              vertical-align: middle;
              .fa-caret-right {
                  font-size: 21px;
                  color: #ececec;
                  margin: 5px 10px 5px;
              }
              
          }
          .col3 {
              font-size: 11px;
              color: #acacac;
              font-weight:600;
              .tot-available-lbl{
                  width:100px;
                  font-size: 12px;
                  text-align: right;
              }
            .bigno{
                color:#8c8c8c;
                padding: 0 10px 0 10px;
                font-weight: 400;
               
            }
          }
          .col1, .col2, .col3 {
            display:table-cell;
          
          .columns{
              display:table-cell;
              vertical-align: middle;
              .glyphicon-ok-head{
                color:#39a200;
              }

              .partavail{
                font-size:12px;
                color:#8c8c8c;
                
              }
              span{
                .bigno{
                  font-size:34px;
                  font-weight:600;
                }
              }
          }
          }
        }
    }
    .err-msg{
        height:25px;
        .error, .warning{
            padding: 10px 20px 0;
            font-size: 12px;
            color: red;
        }
    }
    .selection-err-msg {
        height: auto;
        .error, .warning{
            padding: 10px 20px 0;
            font-size: 11px;
            color: #ed962f;
            font-weight: 700;
            font-style: italic;
            text-align: center;
            line-height: 14px;
        }
    }
    .modal-body.stockOrderType {
        padding-bottom:0px;
        margin-bottom:0px;
        padding-top:0px;
    }
    .modal-body.emergenyOrderType {
        padding-bottom:0px;
        margin-bottom:0px;
       
    }
    .warning-block {
        text-align: center;
        
        .warning-title{
            font-size:20px;
            font-weight: 600;
            margin:10px;
        }
        .warning-info{
             font-size:16px;
             font-weight: 400;
        }
    }
    .scrollDiv{
        max-height: 200px;
        overflow-y: auto;
    }
    .errorDiv.priceError{
        //height: 120px;
        padding: 10px 27px 15px;
    }
    .errorDiv{
        //height:120px;
        padding: 10px 27px 15px;
        text-align: center;
        .exclamation-div{            
            font-size: 20px;
            color: #ed962f;
        }
        .err-msg{
           padding:20px 0;
           font-size: 14px;
           color: #ed962f;
        }
        .try-again{
            
            
            button{
                font-size: 11px;
                 background-color: $btn_primary_bgcolor;
                border-color: $btn_primary_border_color;
                font-weight: 600;
                padding: 5px;
            width: 80px;
            border-radius: $box_border_radius;
            margin-top:20px;
            }
        }
    }
    .info-block{
        text-align: center;
        .info-title{
            font-size:14px;
            font-weight: 600;
            margin:10px 0;
        }
        .info-desc{
             font-size:12px;
             font-weight: 400;
        }
    }
    .modal-body.warning-block .fa-info-circle {
         font-size: 30px;
     }
    .modal-body {
      color:#6e6e6e;
      padding: 0 27px 15px;
      .notice{
        margin-top: 15px;
      }
      .table > thead > tr > th {
          border-bottom: none;
          padding-top: 10px;
          padding-bottom: 2px;
      }
      .table > thead > tr > th.eo-second-col{
          text-align: right;
          padding-right: 40px;
      }
      table{
        margin-bottom:0px;
        .selected-row{
          background-color: $modal_bg_color;
        }
      }
       .disable-event-class{
        pointer-events: none;
        }
      .checkbox-label{
          margin:0;
        .fa-check-square{
                background-color: #ffffff;
                color: #0093c6;
                font-size: 20px;
            
        }
        .fa-square-o{
            font-size: 20px;
                // color: #0093c6;
        }
      }
        .spacing-table {
            font-size: 15px;
            border-collapse: separate;
            border-spacing: 0 5px;
            th {
                // text-align: center;
               font-size: 11px;
                color: #acacac;
                font-weight: 600;
                padding: 10px;
            }
            th.stk-second-col{
              text-align: right;
              padding-right: 70px;
            }
            tr {
                // &:first-child,
                // &:last-child {
                //     border-left-width: 1px;
                //     border-radius: 5px 0 0 5px;
                // }
            }
            .partial-tr{
                td{
                    border: none;
                    padding: 0;
                    padding-left: 30px;
                    color:#ed962f;
                    font-size: 11px;
                    font-weight: 600;
                }
            }
            .sublink {
                font-size: 11px;
                // padding-left: 10px;
                font-weight: 600;
                color: #8c8c8c;
            }
            .delivery-date{
                font-weight: 400;
                font-size: 14px;
            }
            .location-name{
                font-weight: 700;
            }
            .checkbox-td{
                width:58px;
            }
            td {
                // text-align: center;
                border-width: 1px 0;
                border-color: #ddd;
                border-style: solid;
                padding: 5px 10px;
                font-size:14px;
                color:#6e6e6e;
                font-weight:600;
                &:first-child {
                    border-left-width: 1px;
                    border-radius: $box_border_radius 0 0 $box_border_radius;
                }
                &:last-child {
                    border-right-width: 1px;
                    border-radius: 0px $box_border_radius $box_border_radius 0px;
                }
                .bg-default {
                    background-color: $modal_bg_color;
                }
                .smallglyphicon-ok {
                    color: #08e308 !important;
                }
                span{
                  font-size:11px;
                }
            }
            td.avail{
                text-align: right;
                padding-right: 40px;
            }
            td.stk-avail{
                text-align: right;
                padding-right: 70px;
            }
            
            td.noborder-td{
                border:none;
                .back-checkbox{
                        padding-left:4px;
                    }
                .bto_div{
                    margin-top:20px;
                    border: 1px solid #ddd;
                    border-radius: $box_border_radius;
                    position: relative;
                    .bto_msg{
                        position: absolute;
                        top:-23px;
                        left:10px;
                        background-color: #39a200;
                        font-size: 11px;
                        color: #FFFFFF;
                        font-weight: 700;
                        padding: 2px 8px 4px 8px;
                        border-radius: 3px;
                    }
                    
                    // .bto_msg:before {
                    // content: ' ';
                    // position: absolute;
                    // width: 0;
                    // height: 0;
                    // left: 30px;
                    // top: 0px;
                    // border: 2px solid;
                    // border-color: #08e308 transparent transparent #08e308;
                    // }
                    .bto_msg:after {
                        content: "";
                        width:0px;
                        height:0px;
                        border-left:8px solid transparent;
                        border-right:8px solid transparent;
                        border-top:8px solid #39a200;
                        position:absolute;
                        bottom:-6px; 
                        left: 20%;
                        margin-left: -12px;
                    }
                    
                }
                .slti_div{
                    border-radius: $box_border_radius;
                    border: 1px solid #ddd;
                }
                .bto_div, .slti_div{
                    label{
                        padding-left:2px;
                        padding-top:8px;
                    }
                }
                
            }
            
        }
        
        .stk-avail-err{
            margin-top: 10px;
            .spacing-table {
                thead{
                    tr{
                        th{
                            width: 33.3%;
                            padding-bottom: 2px;
                        }
                    } 
                }  
                tbody{
                    tr{
                        td{
                            font-weight: 600;
                        }
                        td.delivery-date{
                            color: #0093c6;
                        }
                        td.avail{
                            text-align: right;
                            padding-right: 70px;
                          }
                    }
                }
            }
        }
        .stockOrderType{
            .spacing-table{
                td.avail{
                    text-align: right;
                    padding-right: 70px;
                }
            }
        }
        .bto {
            font-size: 9px;
            padding-left: 10px;
            padding-top: 10px;
        }
        .unit-priceRow {
            font-size:16px;
            color:#474747;
            font-weight: 700;
           //  margin-top: 20px;
        }
        .unit-price {
            margin: 5px 10px 10px;
        }
        .price-label {
            color:#6e6e6e;
            font-size:11px;
            font-weight: 600;
        }
        .coreChareges {
            margin: 0px 10px;
        }
        .subtext {
            font-size: 10px;
            color: #a8a8a8;
        }
       //  hr {
       //      margin-top: 10px;
       //      margin-bottom: 10px
       //  }
        .fa-info-circle {
            color: #6e6e6e;
            font-size: 16px;
            margin: 10px 8px;
        }
        .glyphicon-question-sign{
          margin-top: 7px;
          font-size:14px;
          color:#6a6a6a;
        }
        .text-warning {
            color: #f17e00;
        }
        hr{
          margin-top: 0;
          margin-bottom: 0px;
        }
    }

    .modal-footer {
        border-top: 1px solid white;
        padding:10px 27px 27px;
        .backorderBtn{
            background-color: $btn_primary_bgcolor;
            border-color: $btn_primary_border_color;
            min-width: 200px;
            float: left;
        }
        .secondary-addcart {
            background-color:#5cb85c;
            border-color:#5cb85c;    
            min-width: 200px;
        }
        .add-to-cart-row{
            padding-top: 20px;
        }

        button[disabled] {
               background-color: #ddd;
            }
        hr{
          margin-top: 5px;
          margin-bottom: 5px;
        }
        .line-gap{
            padding: 5px 0;
        }
        
        // hr.last-hr{
        //     border: 2px solid #000;
        // }
          .unit-priceRow {
            font-size:16px;
            color:#474747;
           //  margin-top: 20px;
        }
        .total-ext-price{
            padding-top:5px;
            padding-left:5px;
            border-top:1px solid #eeeeee;
        }
        .total-priceRow{
            margin-top:5px;
            font-size:16px;
            color:#474747;
            span{
                padding-top:5px;
                
            }
        }
        .price-label {
            color:#6e6e6e;
            font-size:11px;
            font-weight: 600;
        }
    }
}
.modal.availabilityOverlay{
  top:5% !important;
}
.availabilityOverlay .modal-dialog {
    width: $availability_modal_width;
}

.desclaimer{
    text-align: left;
    font-size: 11px;
    font-weight: normal;
    margin-top: 10px;
    line-height: 14px;
    color: #acacac;
    span.note{
        font-weight: 600;
    }
    .line-2{
        //margin-left: 35px;
    }
   
}