<footer class="footer mainFooter">
    <nav class="navbar">
        <div class="container">
            <div class="row">
                <p class="footer-center">
                    <span>&copy;</span> {{'FOOTER.DANAHCORP' | translate}}
                    <span>|</span> <a href="#">{{'FOOTER.ABOUT' | translate}}</a>
                    <span>|</span><a href="#">{{'FOOTER.TERMS' | translate}}</a>
                    <span>|</span><a href="#">{{'FOOTER.POLICY' | translate}}</a>
                    <span>|</span><a href="#">{{'HEADER.MENUS.HELPNFAQ.HELP' | translate}}</a>
                    <span>|</span><a href="#">{{'HEADER.MENUS.HELPNFAQ.FAQ' | translate}}</a>
                    <span>|</span><a href="#">{{'HEADER.DISCUSSION' | translate}}</a>
                </p>
                <div class="footer-social-link-wrapper">
                    <div class="social-title">{{'FOOTER.CONNECT' | translate}}</div>
                    <ul class="social-lnk-img-container text-center">
                        <li><a class="" target="_blank" href="https://www.facebook.com/DanaIncorporated/"><img ng-src="/assets/images/facebook.png" alt="" src="/assets/images/facebook.png"></a></li>
                        <li><a class="" target="_blank" href="https://twitter.com/DanaHoldingCorp"><img ng-src="/assets/images/twitter.png" alt="" src="/assets/images/twitter.png"></a></li>
                        <li><a class="" target="_blank" href="https://plus.google.com/+DanaHoldingCorp"><img ng-src="/assets/images/google_plus.png" alt="" src="/assets/images/google_plus.png"></a></li>
                        <li><a class="" target="_blank" href="https://www.youtube.com/DanaHoldingCorp"><img ng-src="/assets/images/youtube.png" alt="" src="/assets/images/youtube.png"></a></li>
                    </ul>
                </div> 
            </div>
        </div>
    </nav>
</footer>
