/*Author : Shaifali Jaiswal*/

/***************************************************************
* Proprietary & Confidential  |  © 2016 PhaseZero Ventures LLC 
* 
* This file is part of Tire Advisor project
* 
* This file cannot be copied and/or distributed without 
* the express permission of PhaseZero Ventures LLC
***************************************************************/


// .mainFooter {
//     background-color: #dbdbdb;
//     nav.navbar {
//         margin-bottom: 0px;
//         padding-top: 40px !important;
//         padding-bottom: 30px !important;
//         .footer-mid {
//          padding-left: 8%;
//         }
//         .navbar-header {
//             p {
//                 color: #303030;
//                 font-size: 12px;
//                 font-weight: 600;
//                 padding-top: 1px;
//                 padding-bottom: 0px;
//                 span {
//                     font-weight: 700;
//                 }
//             }
//         }
//         ul.nav {
//             li {
//                 padding-left: 5px;
//                 a {
//                     color: #3d3d3d;
//                     font-size: 12px;
//                     text-decoration: none;
//                     padding-top: 0px;
//                     padding-bottom: 3px;
//                     font-weight: 600;
//                     &:after {
//                         content: '';
//                         height: 14px;
//                         width: 1px;
//                         top: 3px;
//                         background: #3d3d3d;
//                         position: absolute;
//                         margin-left: 0px;
//                         left: 2px;
//                     }
//                     &:hover,
//                     &:focus {
//                         background-color: transparent;
//                         text-decoration: none;
//                         color: $accent_color;
//                     }
//                 }
//             }
//         }
//     }
// }


.mainFooter {
    //background-color: #dbdbdb;
    nav.navbar {
        margin-bottom: 0px;
        padding-top: 40px !important;
        padding-bottom: 30px !important;
        .footer-mid {
            padding-left: 8%;
        }
        p.footer-center {
            text-align: center;
            color: #303030;
            font-size: 12px;
            font-weight: 600;
            padding-top: 1px;
            padding-bottom: 0px;
            span {
                font-weight: 700;
                margin-left: 4px;
                margin-right: 4px;
            }
            a {
                color: #3d3d3d;
                font-size: 12px;
                text-decoration: none;
                padding-top: 0px;
                padding-bottom: 3px;
                font-weight: 600;
                margin-left: 5px;
                &:hover,
                &:focus {
                    background-color: transparent;
                    text-decoration: none;
                    color: $accent_color;
                }
            }
        }
        .footer-social-link-wrapper{
            text-align: center;
            .social-title{
                color: #6b6b6b;
                text-align: center;
                font-weight: 600;
                font-size: 10px;
                text-transform: uppercase;
                display: inline-block;
                position: relative;
                margin-right: 10px;
                bottom: 10px;
            }
            ul.social-lnk-img-container{
                margin: 0;
                padding: 0;
                box-sizing: border-box;
                display: inline-block;
                width: 200px;
                li{
                    display: inline-block;
                    width: 25%;
                    float: left;
                    margin: 0 auto;
                    a{
                        width: 30px;
                        height: 30px;
                        display: inline-block;
                        opacity: 0.6;
                        img{
                            width: 100%;
                            height: 100%;
                        }
                        &:hover{
                            opacity: 1;
                            img{
                                width: 110%;
                                height: 110%; 
                            }
                        }
                    }
                }
            }
        }  
    }
}
