/***************************************************************
* Proprietary & Confidential  |  © 2016 PhaseZero Ventures LLC 
* 
* This file is part of Tire Advisor project
* 
* This file cannot be copied and/or distributed without 
* the express permission of PhaseZero Ventures LLC
***************************************************************/


.image-zoom{
    position: relative;
    .profile-pic{
        position:relative;
        width:100%;
        img{
            width:100% !important;
            //height: 400px;
            // border:1px solid #bdbdbd;
            cursor:pointer
        }
        #lens{
            border:1px solid black;
            position:absolute; 
            top:0px;
            cursor:none
        }        
    }
    .zoom-section{
        z-index:999;
        position: absolute;
        top: 0px;
        left: 500px;
        #zoom{
            border:1px solid black; 
            width:400px;
            height:400px;
        }
    }
    
}