/***************************************************************
* Proprietary & Confidential  |  © 2016 PhaseZero Ventures LLC 
* 
* This file is part of Tire Advisor project
* 
* This file cannot be copied and/or distributed without 
* the express permission of PhaseZero Ventures LLC
***************************************************************/
.search-results-container{
    background-color: #FFFFFF;
    padding-right: 10px;
    padding-left: 10px;
}

.bread-crum{
    height: 40px;
    padding: 0px 10px;
    background-color: $color_extreme_two;
    margin: 0px -10px;
    .resultBar{
        @media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
            font-size: 8px !important;
            line-height: 50px !important;
        }
        font-size: 12px;
        float: left;
        line-height: 40px;
        .bold{
            font-weight: bold;
            a{
                cursor: pointer;
            }
        }
    }
    .dropdownBar{
        @media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
            line-height: 50px !important;
        }
    }
    .dropdownBar{
        line-height: 40px;
        float: right;
        .btn{
            padding: 2px 5px;
            font-size: 12px;
            font-weight: bold;
            background-color: $support_color_light_one;
        }
    }
}
.search-results{
    //background-color: $support_color_light_one;
    
    .status-results {
        p {
            margin: 0px 15px;
            font-size: 14px;
        }
    }
    
    .clr-filters{
        padding-top: 10px;
        ul{
            padding-left: 0px;
            list-style-type: none;
            float:left;
            margin-bottom: 0px;
            /*margin-right: 10px;
            margin-left: 0px;*/
            /*&:first-child{
                margin-left: 0px;
            }*/
            li{
                display:inline-block;
                margin-right: 10px;
                margin-left: 0px;
                margin-bottom: 15px;
                /*&:first-child{
                    margin-left: 0px;
                }*/
            }
        }
        .col-md-2{
            position: relative;
            .label{
                padding: 4px;
                position: absolute;
                right: 10px;
                padding-left: 10px;
            }
        }
        .col-md-10{
           padding-top: 4px;
        }
        .label{
            background-color:#f6f6f6;
            color: #919090; 
            padding: 6px; 
            font-size: 10px;
            font-weight: 600;
            padding-left: 10px;
            img{
                cursor: pointer;
                width: 20px;
            }                                                                                            
        }
    }
    .filter{
        margin-top: 20px;
        .categoryHdr{
            font-size: 14px;
            color: #999;
            margin-bottom: 5px;
            .tooltip-inner {
                color: #000;
                background-color: #FFF78E;
                border-radius: 4px;
                left: 49px;
                position: relative;
                font-size: 11px;
                font-weight: 600;
                border: 1px solid #c1a891;
            }
            .tooltip.top{
                .tooltip-arrow {
                    bottom: -4px;
                    border-width: 10px 10px 0;
                    border-top-color: #FFF78E;
                    z-index: 2;
                }
            }
        }
        .refine-list{
          .text-muted{
                margin: 10px 0px;
                .refine{
                    font-size: 14px;
                    font-weight: bold;
                    color: black;
                }
            }
            .refine{
                margin: 5px, 0px !important;
            }
            hr{
                margin: 10px 0px;
            }
            .filterHdr{
                font-size: 14px;
                color: #999;
                margin-bottom: 10px;
            }
            .refine-header{
                @media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
                    font-size: 12px;
                }
                font-weight: 500;
                font-size: 13px;
                margin-bottom: 5px;
                .arrow{
                    float: left;
                    margin-right: 4px;
                    top: 4px;
                    font-size: 10px;
                    @media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
                        margin-top: 3px;
                    }
                    &:hover{
                        cursor: pointer;
                    }
                }
                .blue{
                    //color: $accent_color;
                    font-weight: 600;
                }
                .category:hover{
                    cursor: pointer;
                }
                .subcategory{
                    margin-left: 27px;
                    &:hover{
                        cursor: pointer;
                    }
                }
            }
            .refineFilterHdr{
                span{
                    font-weight: bold;
                }
            }
            .refine-options{
                label{
                 font-weight: normal; 
                 padding-left: 0px;  
                }
                .list{
                    @media only screen and (min-device-width : 800px) and (max-device-width : 1024px) {
                        margin-left: 10px; 
                    }
                    margin-left: 25px;
                    .search-text{
                        @media only screen and (min-device-width : 800px) and (max-device-width : 1024px) {
                            margin-left: -5px;
                        }
                        margin-left: -14px;
                        margin-top: 10px;
                    }
                    .form-group{
                         margin-bottom: 0px;
                        .checkbox{
                            margin-bottom: 0px;
                            margin-top: 0px;
                            label{
                                font-size: 12px;
                                .subcategory:active{
                                    color: $accent_color;
                                }
                            }
                            .fa-check-square, .fa-square-o{
                                color: #0093c6;
                            }   
                        }
                    }
                    .view-more{
                        overflow: hidden;
                        a{
                            cursor: pointer;
                            font-size: 10px;
                        }
                    }
                    input{
                        width: 80%;
                        height: 25px;
                        padding: 7px 10px;
                    }  
                    input, input::placeholder{
                        font-size: 12px;
                        color: #686565;
                    }
                    input:focus{
                        border: 1px solid black;
                        outline: none;
                    }
                    .bold{
                            font-weight: 600;
                    }
                    .icon{
                        background-color: black;
                        height: 25px;
                        position: absolute;
                        i{
                            color: white;
                            padding: 7px;
                            font-weight: 100;
                            font-size: 12px;
                        }
                    }
                }
                .scale{
                    margin-left: 10px;
                }
                .search{
                    .filterBox{
                        padding: 5px 5px 10px 0px;
                        input[type="text"]{
                            width: 90%;
                            -moz-border-bottom-colors: none;
                            -moz-border-left-colors: none;
                            -moz-border-right-colors: none;
                            -moz-border-top-colors: none;
                            border-color: -moz-use-text-color -moz-use-text-color #ddd;
                            border-image: none;
                            border-width: 0 0 1px;
                            font-size: 13px;
                            line-height: 18px;
                            padding: 0 5px 5px 0;
                        }
                        .glyphicon-search{
                            float: right;
                        }
                    }
                    .list{
                        margin-left: 0px; 
                        display: block;
                    }
                }
            }
        }
    }
    .parts{
        padding-top: 10px;
        img{
            width: 100%;
            text-align: center;
            margin-top: -40px;
        }
        .part{
            background-color: $color_extreme_two;
            padding: 10px;
            margin-bottom: 10px;
            text-align: center;
        }
        .part1{
            @extend .part;
            p{
                margin: 10px 0px 0px 0px;
                span{
                    font-weight: bold;
                }
            }
        }
        .part2{
             @extend .part;
            p{
                font-size: 10px;
            }
        }
    }
    .load-more{
        width: 465px;
        height: 40px;
        border-radius: 4px;
        margin-bottom: 50px;
        font-size: 13px;
        font-weight: 600;
        background-color: $load_more;
        color:$color_extreme_two;
        border: none;
    }
    .no-results{
        margin: 20px auto;
        font-size: 14px;
        p{
            text-align: center;
            .bold{
                font-weight: bold;
            }
        }
    }
    .affix-div{
        position:fixed;
        top: 70px;
    }
    #ad-section{
        position: fixed;
        right: 0px;
    }
    .affix-ads{
        @extend .affix-div;
        right: 0px;
        img {
            margin-top: 0px;
        }
    }
    .affix-filters{
        @extend .affix-div;
        // left: 10px;
    }
    #dropdown-hidden-container{
        padding-left: 0px !important;
        .btn{
            background-color: $support_color_primary;
            color: $color_extreme_two;
        }
    }
    
}
.refine-scroll {
                // min-height:20px;
                max-height: 82px;
                overflow-y: auto;
                margin-bottom: 15px;
}
.style-scroll::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    background-color: #F5F5F5;
}
.style-scroll::-webkit-scrollbar {
    width: 6px;
    background-color: #F5F5F5;
}
.style-scroll::-webkit-scrollbar-thumb {
    border-radius: 5px;
    -webkit-box-shadow: inset 0 0 3px rgba(0, 0, 0, .3);
    background-color: #777;
}