<!-- /*Author : Shaifali Jaiswal*/ -->

<div id="shareCopyUrlPopup" class="modal-wrapper">
    <div class="modal-header bg-success">
        <div class="row">
            <div class="col-sm-9">
                <h4>{{'PROFILE.ORDERLIST' | translate}} &nbsp;{{OrderId}}</h4>
                <p>April 15, 2016</p>
            </div>
            <div class="col-sm-3">
                <div class="pull-right">
                    <h4>{{'ADDEDRFQ.QTY' | translate}}</h4>
                    <p>{{quantity}}&nbsp;{{'ORDERLIST.PARTS' | translate}}</p>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-body">
        <h1 class="text-center"><span class="glyphicon glyphicon-ok-circle"></span></h1>
        <h4 class="text-center">{{'RFQLIST.URLCOPIEDCLIPBOARD' | translate}}</h4>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" type="button" ng-click="cancel()">{{'SHARECONFIRM.GOTOHOME' | translate}}</button>
    </div>
</div>
