.manage-rfq {
    // margin: 0px -10px !important;
    .mrfq-bread-crumb {
        width: 100%;
        float: left;
        background: #fff;
        margin: 0px;
        padding: 10px 0px;
        ul {
            margin: 0px;
            padding: 0px 20px;
            li {
                list-style: none;
                margin: 0px;
                margin-right: 10px;
                padding: 0px;
                float: left;
            }
        }
    }
    .mrfq-container {
        width: 100%;
        float: left;
        background: #eff0f1;
        margin: 0px;
        padding: 30px 20px;
        -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1) inset;
        -moz-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1) inset;
        -o-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1) inset;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1) inset;
        h2 {
            margin: 0px 0px 20px 0px;
            padding: 0px;
            color: #a6a6a6;
            float: left;
            font-size: 30px;
            font-weight: 300;
        }
        .col-md-2 {
            >* {
                margin: 0px;
                padding: 0px;
            }
            label {
                width: 30%;
                float: left;
                color: #aeaeae;
                font-size: 12px;
            }
            p {
                width: 60%;
                margin-left: 10%;
                line-height: 30px;
                float: left;
                color: #aeaeae;
                font-size: 48px;
                font-weight: 400;
            }
        }
        .mrfq {
            width: 100%;
            float: left;
            p.myrfqp {
                font-weight: 400;
                color: #7f7f7f;
                font-size: 11px;
                margin-left: 20px;
                margin-bottom: 10px;
                .fa-question-circle {
                    color: #ff9d02;
                    font-size: 16px;
                    top: 10px;
                    position: relative;
                    margin-right: 10px;
                }
                span {
                    font-size: 12px;
                    color: #333;
                    font-weight: 600;
                    float: left;
                }
            }
            ul.nav-tabs {
                li {
                    a {
                        padding: 11px 48px;
                    }
                }
                .active {
                    a {
                        padding: 12px 48px;
                        font-weight: 700;
                        font-size: 13px;
                    }
                }
            }
            .empty-table-msg {
                width: 100%;
                float: left;
                height: 300px;
                label {
                    width: 100%;
                    text-align: center;
                    font-size: 18px;
                    float: left;
                    font-weight: 400;
                    color: #666666;
                    padding-top: 120px;
                }
            }
            .mrfq-left {
                .pagination-sm {
                    margin: 0px;
                    margin-bottom: 7px;
                }
                width: calc(100% - 550px);
                float: left;
                .mrfq-err-msg {
                    p {
                        font-size: 16px;
                        padding: 30px 0px;
                        text-align: center;
                        width: 100%;
                        float: left;
                        color: #ddd;
                    }
                }
                .table {
                    thead {
                        background: #fbfbfb;
                        tr {
                            th {
                                vertical-align: top;
                                font-size: 12px;
                                .rfq-table-col {
                                    label {
                                        color: #acacac;
                                    }
                                }
                                &:nth-child(1) {
                                    padding-left: 30px;
                                }
                                .rfq-table-search {
                                    .input-group {
                                        border: #d7d7d7 solid 1px;
                                        input {
                                            background: transparent;
                                            box-shadow: none;
                                            border: #f1f1f1 solid 0px;
                                        }
                                        span {
                                            border: #f1f1f1 solid 0px;
                                            button {
                                                background: transparent;
                                                i {
                                                    color: #d7d7d7;
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                    tbody {
                        tr {
                            background: #fbfbfb;
                            td {
                                .quote-sent {
                                    padding-left: 15px;
                                    padding-top: 5px;
                                    padding-bottom: 5px;
                                    i {
                                        float: left;
                                        color: #2ea03e;
                                        margin: 3px;
                                        margin-right: 10px;
                                    }
                                    span {
                                        float: left;
                                    }
                                }
                                font-size: 12px;
                                .btn-primary {
                                    background: $btn_primary_bgcolor;
                                    border-radius: 3px;
                                    border: none;
                                }
                                .rfq-table-col2 {
                                    width: calc(100% - 30px);
                                    height: 100%;
                                    float: left;
                                    h4 {
                                        margin: 0px 0px 0px 0px;
                                        padding: 0px;
                                    }
                                    p {
                                        margin: 0px;
                                        padding: 0px;
                                    }
                                }
                                .rfq-table-col1 {
                                    width: 30px;
                                    height: 100%;
                                    float: left;
                                    i {
                                        font-size: 16px;
                                        margin-top: 5px;
                                    }
                                    .fa-circle {
                                        color: #0093c6;
                                    }
                                    .fa-bell {
                                        color: #ffb11b;
                                    }
                                    .fa-exclamation-triangle {
                                        color: #ff2626;
                                    }
                                    .fa-check {
                                        color: #2ea03e;
                                    }
                                }
                                &:last-child {
                                    text-align: center;
                                }
                            }
                        }
                        .selected-rfq {
                            background: #fff;
                        }
                    }
                }
            }
            .mrfq-right {
                width: 550px;
                float: left;
                .download-items {
                    .col-xs-12 {
                        margin-bottom: 20px;
                        a {
                            margin-right: 20px;
                            i {
                                float: left;
                                color: $active_link_color;
                                font-size: 16px;
                            }
                            p {
                                font-size: 12px;
                                float: left;
                                margin: 0px;
                                padding: 0px;
                                line-height: 14px;
                                margin-left: 5px;
                                margin-top: 2px;
                            }
                        }
                    }
                }
                .panel {
                    margin: 0px 20px;
                    border-radius: 0px;
                    border: #f1f1f1 solid 1px;
                    .panel-heading {
                        border: none;
                        padding: 30px;
                        background: #f6f6f6;
                        .row {
                            p {
                                font-size: 14px;
                            }
                            .col-md-9 {
                                h4 {
                                    font-size: 16px;
                                    font-weight: bold;
                                }
                                address {
                                    font-size: 13px;
                                }
                            }
                            .col-md-3 {
                                a {
                                    float: right;
                                    width: 100%;
                                    text-align: right;
                                    color: #ccc;
                                    font-size: 14px;
                                }
                                img {
                                    float: right;
                                }
                                p {
                                    width: 100%;
                                    text-align: right;
                                    font-weight: bold;
                                    float: right;
                                    margin-right: 10px;
                                }
                            }
                            .col-md-12 {
                                p {
                                    font-size: 11px;
                                    color: #515151;
                                }
                            }
                        }
                    }
                    .panel-body {
                        padding: 0px;
                        table {
                            margin: 0px;
                            thead {
                                th {
                                    font-size: 14px;
                                    color: #acacac;
                                    font-size: 11px;
                                    background: #fbfbfb;
                                    vertical-align: bottom;
                                    height: 50px;
                                    border-color: #f1f1f1;
                                }
                            }
                            tbody {
                                td {
                                    font-size: 14px;
                                    padding: 5px 20px;
                                    border-color: #f1f1f1;
                                }
                            }
                        }
                    }
                }
            }
            .ng-isolate-scope {
                >ul {
                    border: none;
                    li {
                        margin-right: 10px;
                        a {
                            border: none;
                            font-size: 14px;
                            font-weight: bold;
                            // padding: 16px 48px;
                            padding: 10px 30px;
                            background: #0093c6;
                            color: #fff;
                            // padding: 15px 48px;
                            -webkit-box-shadow: 3px -1px 3px rgba(0, 0, 0, 0.07);
                            -moz-box-shadow: 3px -1px 3px rgba(0, 0, 0, 0.07);
                            -o-box-shadow: 3px -1px 3px rgba(0, 0, 0, 0.07);
                            box-shadow: 3px -1px 3px rgba(0, 0, 0, 0.07);
                        }
                    }
                    .active {
                        a {
                            background: #fff;
                            color: $active_link_color;
                            // padding: 16px 48px;
                            padding: 11px 30px;
                        }
                    }
                }
            }
            .tab-content {
                padding: 20px 0px;
                border-top: none;
                background: #fff;
                float: left;
                width: 100%;
                .tab-pane {
                    float: left;
                    width: 100%;
                }
            }
        }
    }
}