<div class="manage-rfq">
    <div class="mrfq-bread-crumb">
        <ul>
            <li><a href="/">{{'PROFILE.BC_HOME' | translate}}</a></li>
            <li>></li>
            <li>{{'MANAGERFQ.TITLE' | translate}}</li>
        </ul>
    </div>
    <div class="mrfq-container">
        <div class="row">
            <div class="col-md-6">
                <h2>{{'MANAGERFQ.TITLE' | translate}}</h2>
            </div>
            <div class="col-md-2">
                <label>{{'MANAGERFQ.NEWRFQS' | translate}}</label>
                <p>{{mrfq.openRFQ.newCount}}</p>
            </div>
            <div class="col-md-2">
                <label>{{'MANAGERFQ.OPENRFQS' | translate}}</label>
                <p>{{mrfq.openRFQ.openCount}}</p>
            </div>
            <div class="col-md-2">
                <label>{{'MANAGERFQ.OVERDUERFQ' | translate}}</label>
                <p>{{mrfq.openRFQ.closedCount}}</p>
            </div>
        </div>

        <div class="mrfq">
            <uib-tabset active="activePill">
                <uib-tab index="0" heading="{{'MANAGERFQ.OPENRFQ' | translate}}" ng-click="mrfq.init('open')">
                    <div class="empty-table-msg" ng-if="mrfq.openRFQ.list.length === 0 && mrfq.searchStatus === '' && mrfq.searchUid === '' && !mrfq.loading">
                        <label>{{'MANAGERFQ.NOITEMSOPENRFQ' | translate}}</label>
                    </div>
                    <div class="row" style="height: 45px;">
                        <div class="col-md-9">
                            <p class="myrfqp">
                                <span> <i class="fa fa-question-circle" aria-hidden="true"></i></span>
                                <span class="paraquestion">{{'MANAGERFQ.APPROVED_DIST_MSG1' | translate}} <br>{{'MANAGERFQ.APPROVED_DIST_MSG2' | translate}} </span>
                            </p>
                        </div>
                        <div class="col-md-3">
                            <div class="download-items">
                                <a href="#" style="color:#0093c6;margin-right: 20px;" class="pull-right" ng-click="mrfq.downloadRFQ()" ng-if="mrfq.openRFQ.list.length !== 0 && mrfq.RFQDetails.rfqUniqueId"><i class="fa fa-file-excel-o pull-left" aria-hidden="true" style="margin-top: 3px;margin-right: 5px;"></i>
                                    <p
                                        class="pull-left">{{'MANAGERFQ.DOWNLOADEXCEL' | translate}}</p>
                                </a>
                                <!--<a href="#" style="color:#0093c6" class="pull-right"><i class="fa fa-file-pdf-o pull-left" aria-hidden="true"></i><p class="pull-left">{{'MANAGERFQ.DOWNLOADPDF' | translate}}</p></a>-->
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="mrfq-left">

                                <table class="table table-bordered table-hover">
                                    <thead>
                                        <tr>
                                            <th style="width:30%;">
                                                <div class="rfq-table-col" ng-click="mrfq.sortOpenRFQ(0)">
                                                    <label>
                                                    {{'MANAGERFQ.RFQID' | translate}}
                                                </label>
                                                    <i class="fa fa-sort" aria-hidden="true"></i>
                                                </div>
                                                <div class="rfq-table-search">
                                                    <div class="input-group">
                                                        <input type="text" class="form-control input-sm" placeholder="{{'MANAGERFQ.SEARCHFOR' | translate}}" ng-model="mrfq.searchUid" ng-change="mrfq.onOpenClear()">
                                                        <span class="input-group-btn" ng-click="mrfq.filterOpenRFQ()">
                                                        <button class="btn btn-sm" type="button"><i class="fa fa-search" aria-hidden="true"></i></button>
                                                    </span>
                                                    </div>
                                                </div>
                                            </th>
                                            <th style="width:20%;" ng-click="mrfq.sortOpenRFQ(1)">
                                                <div class="rfq-table-col">
                                                    <label>
                                                    {{'MANAGERFQ.DATERCD' | translate}}
                                                </label>
                                                    <i class="fa fa-sort" aria-hidden="true"></i>
                                                </div>
                                            </th>
                                            <th style="width:15%;" ng-click="mrfq.sortOpenRFQ(2)">
                                                <div class="rfq-table-col">
                                                    <label>
                                                    {{'MANAGERFQ.DUEIN' | translate}}
                                                </label>
                                                    <i class="fa fa-sort" aria-hidden="true"></i>
                                                </div>
                                            </th>
                                            <th style="width:15%;">
                                                <div class="rfq-table-col" ng-click="mrfq.sortOpenRFQ(3)">
                                                    <label>
                                                    {{'MANAGERFQ.RFQS' | translate}}
                                                </label>
                                                    <i class="fa fa-sort" aria-hidden="true"></i>
                                                </div>
                                                <select class="form-control" ng-model="mrfq.searchStatus" ng-change="mrfq.filterOpenRFQ()">
                                                <option value="">{{'MANAGERFQ.ALL' | translate}}</option>
                                                <option value="NEW">{{'MANAGERFQ.STATUS.NEW' | translate}}</option>
                                                <option value="OPEN">{{'MANAGERFQ.STATUS.OPEN' | translate}}</option>
                                                <option value="QUOTE_SENT">{{'MANAGERFQ.STATUS.QUOTE_SENT' | translate}}</option>
                                            </select>
                                            </th>
                                            <th style="width:20%;">
                                                <div class="rfq-table-col">
                                                    <label>
                                                    {{'MANAGERFQ.ACTION' | translate}}
                                                </label>
                                                </div>
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="items in mrfq.openRFQ.list" ng-class="(mrfq.selectedRow === $index)?'selected-rfq':''">
                                            <td ng-click="mrfq.details(items,$index)">
                                                <div class="row" style="cursor:pointer">
                                                    <div class="col-xs-3 rfq-table-col1">
                                                        <i class="fa fa-circle" aria-hidden="true" ng-if="items.status === 'NEW'&&!items.overdue&&!items.reminderSent"></i>
                                                        <i class="fa fa-exclamation-triangle" aria-hidden="true" ng-if="items.overdue"></i>
                                                        <i class="fa fa-bell" aria-hidden="true" ng-if="items.reminderSent"></i>
                                                    </div>
                                                    <div class="col-xs-9 rfq-table-col2">
                                                        <h4>{{items.uid}}</h4>
                                                        <p>{{items.shopUserName}}</p>
                                                    </div>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="rfq-table-col">
                                                    <p>{{items.initiatedOn | date:'MM/dd/yyyy h:mm a'}}</p>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="rfq-table-col">
                                                    <p>{{items.dueIn}}</p>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="rfq-table-col">
                                                    <p>{{mrfq.status(items.status) | translate}}</p>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="rfq-table-col">
                                                    <input class="btn btn-primary" type="button" value="QUOTE SENT" ng-click="mrfq.updateStatus(items,'QUOTE_SENT')" ng-if="!(items.status === 'QUOTE_SENT')"
                                                    />
                                                    <div class="quote-sent" ng-if="(items.status === 'QUOTE_SENT')">
                                                        <i class="fa fa-check" aria-hidden="true"></i>
                                                        <span>{{'MANAGERFQ.QUOTESENT1' | translate}}</span>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                                <div class="mrfq-err-msg" ng-if="mrfq.openRFQ.list.length === 0">
                                    <p>{{'MANAGERFQ.ERRMSG' | translate}}</p>
                                </div>
                                <div class="row" ng-if="mrfq.openRFQ.list.length !== 0">
                                    <div class="col-md-12">
                                        <ul uib-pagination boundary-links="true" max-size="mrfq.size" total-items="mrfq.openRFQ.total" ng-model="mrfq.index" class="pagination-sm pull-right"
                                            previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"
                                            ng-change="mrfq.navOpenRFQ()"></ul>
                                    </div>
                                </div>
                            </div>
                            <div class="mrfq-right">

                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <div class="row">
                                            <div class="col-md-9" ng-if="mrfq.RFQDetails.rfqUniqueId">
                                                <h4 ng-if="mrfq.RFQDetails.rfqUniqueId">{{'MYRFQ.RFQID' | translate}}: {{mrfq.RFQDetails.rfqUniqueId}}</h4>
                                                <p ng-if="mrfq.RFQDetails.initiatedOn">{{mrfq.RFQDetails.initiatedOn | date:'MMM dd, yyyy hh:mm a'}}</p>
                                                <address>
                                                    <span ng-if="mrfq.RFQUserDetails.firstName">{{mrfq.RFQUserDetails.lastName}} {{mrfq.RFQUserDetails.firstName}}<br/></span>
                                                    <span ng-if="mrfq.RFQUserDetails.address1">{{mrfq.RFQUserDetails.address1}} {{mrfq.RFQUserDetails.address2}}<br/></span>
                                                    <span ng-if="mrfq.RFQUserDetails.city">{{mrfq.RFQUserDetails.city}} </span>
                                                    <span ng-if="mrfq.RFQUserDetails.state">{{mrfq.RFQUserDetails.state}}</span>
                                                    <span ng-if="mrfq.RFQUserDetails.zip"> {{mrfq.RFQUserDetails.zip}}<br/></span>                                                    {{'MYRFQ.PHONE'| translate}} : <span>{{(mrfq.RFQUserDetails.phoneno === '')?'-':mrfq.RFQUserDetails.phoneno}}</span>                                                    {{'MYRFQ.MOBILE' | translate}} : <span>{{(mrfq.RFQUserDetails.mobile === '')?'-':mrfq.RFQUserDetails.mobile}}<br/></span>                                                    {{'MYRFQ.EMAIL' | translate}} : <span>{{(mrfq.RFQUserDetails.emailId === '')?'-':mrfq.RFQUserDetails.emailId}}</span>
                                                </address>
                                            </div>
                                            <div class="col-md-3">
                                                <img src="{{mrfq.websiteLogo}}" />
                                                <p>{{'HEADER.SITENAME' | translate}}</p>
                                            </div>
                                        </div>
                                        <div class="row" ng-if="!mrfq.RFQDetails.rfqUniqueId">
                                            <div class="col-xs-3">
                                            </div>
                                            <div class="col-xs-6">
                                                <p style="font-size:24px;color:#aeaeae; text-align:center;padding:40px 0px;">{{'MANAGERFQ.MANAGERFQ' | translate}}</p>
                                            </div>
                                            <div class="col-xs-3">
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12" ng-if="mrfq.RFQDetails.rfqItemsDTOs.length||mrfq.RFQDetails.deadlineOn">
                                                <p><span>{{'MANAGERFQ.NOPARTS' | translate}}: {{mrfq.RFQDetails.rfqItemsDTOs.length}}</span>
                                                    <span style="margin-left:20px;">{{'MANAGERFQ.QUOTEREQBY' | translate}}: {{mrfq.RFQDetails.deadlineOn | date:'MM/dd/yyyy h:mm a'}}</span>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="panel-body" ng-if="mrfq.RFQDetails.rfqItemsDTOs.length">
                                        <table class="table">
                                            <thead>
                                                <tr>
                                                    <th style="width:20%">{{'MANAGERFQ.SNO' | translate}}</th>
                                                    <th style="width:50%">{{'MANAGERFQ.PARTNOPARTNAME' | translate}}</th>
                                                    <th style="width:30%">{{'MANAGERFQ.DESQTY' | translate}}</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr ng-repeat="items in mrfq.RFQDetails.rfqItemsDTOs">
                                                    <td>{{$index + 1}}</td>
                                                    <td><b style="color:#0093c6">{{items.partNumber}}</b><br/>{{items.partName}}</td>
                                                    <td>{{items.qty}}</td>
                                                </tr>
                                            </tbody>
                                        </table>


                                        <!--<button class="btn btn-default" ng-click="RFQD.closeDetails()">Close popup</button>-->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </uib-tab>
                <uib-tab index="1" heading="{{'MANAGERFQ.CLOSERFQ' | translate}}" ng-click="mrfq.init('closed')">
                    <div class="empty-table-msg" ng-if="mrfq.closedRFQ.list.length === 0 && mrfq.searchStatus === '' && mrfq.searchUid === '' && !mrfq.loading">
                        <label>{{'MANAGERFQ.NOITEMSCLOSEDRFQ' | translate}}</label>
                    </div>

                    <div class="row" ng-if="mrfq.RFQDetails.rfqUniqueId">
                        <div class="col-xs-12">
                            <div class="download-items" style="height: 30px;">

                                <a href="#" style="color:#0093c6; margin-right: 20px;" class="pull-right" ng-click="mrfq.downloadRFQ()"><i class="fa fa-file-excel-o pull-left" aria-hidden="true" ng-if="mrfq.closedRFQ.list.length !== 0 && mrfq.RFQDetails.rfqUniqueId"></i><p class="pull-left">{{'MANAGERFQ.DOWNLOADEXCEL' | translate}}</p></a>
                                <!--<a href="#" style="color:#0093c6" class="pull-right"><i class="fa fa-file-pdf-o pull-left" aria-hidden="true"></i><p class="pull-left">{{'MANAGERFQ.DOWNLOADPDF' | translate}}</p></a>-->
                            </div>
                        </div>
                    </div>
                    <div class="mrfq-left">

                        <table class="table table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th>
                                        <div class="rfq-table-col" ng-click="mrfq.sortClosedRFQ(0)">
                                            <label>
                                                    {{'MANAGERFQ.RFQID' | translate}}
                                                </label>
                                            <i class="fa fa-sort" aria-hidden="true"></i>
                                        </div>
                                        <div class="rfq-table-search">
                                            <div class="input-group">
                                                <input type="text" class="form-control input-sm" ng-model="mrfq.searchUid" placeholder="{{'MANAGERFQ.SEARCHFOR' | translate}}" ng-change="mrfq.onClosedClear()">
                                                <span class="input-group-btn" ng-click="mrfq.filterClosedRFQ()">
                                                        <button class="btn btn-sm" type="button"><i class="fa fa-search" aria-hidden="true"></i></button>
                                                </span>
                                            </div>
                                        </div>
                                    </th>
                                    <th ng-click="mrfq.sortClosedRFQ(1)">
                                        <div class="rfq-table-col">
                                            <label>
                                                    {{'MANAGERFQ.DATERCD' | translate}}
                                                </label>
                                            <i class="fa fa-sort" aria-hidden="true"></i>
                                        </div>
                                    </th>
                                    <th ng-click="mrfq.sortClosedRFQ(2)">
                                        <div class="rfq-table-col">
                                            <label>
                                                    {{'MANAGERFQ.DATECLD' | translate}}
                                                </label>
                                            <i class="fa fa-sort" aria-hidden="true"></i>
                                        </div>
                                    </th>
                                    <!--<th>
                                        <div class="rfq-table-col">
                                            <label>
                                                    {{'MANAGERFQ.DUEIN' | translate}}
                                                </label>
                                            <i class="fa fa-sort" aria-hidden="true"></i>
                                        </div>
                                    </th>-->
                                    <th ng-click="mrfq.sortClosedRFQ(3)">
                                        <div class="rfq-table-col">
                                            <label>
                                                    {{'MANAGERFQ.RFQS' | translate}}
                                                </label>
                                            <i class="fa fa-sort" aria-hidden="true"></i>
                                        </div>
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="items in mrfq.closedRFQ.list" ng-class="(mrfq.selectedRow === $index)?'selected-rfq':''">
                                    <td ng-click="mrfq.details(items,$index)">
                                        <div class="row" style="cursor:pointer;">

                                            <div class="col-xs-3 rfq-table-col1">
                                                <i class="fa fa-circle" aria-hidden="true" style="opacity:0;"></i>
                                            </div>
                                            <div class="col-xs-9 rfq-table-col2">
                                                <h4>{{items.uid}}</h4>
                                                <p>{{items.shopUserName}}</p>
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="rfq-table-col">
                                            <p>{{items.initiatedOn | date:'MM/dd/yyyy h:mm a'}}</p>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="rfq-table-col">
                                            <p>{{items.closedOn | date:'MM/dd/yyyy h:mm a'}}</p>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="rfq-table-col">
                                            <p>{{mrfq.status(items.status) | translate}}</p>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <div class="mrfq-err-msg" ng-if="mrfq.closedRFQ.list.length === 0">
                            <p>{{'MANAGERFQ.ERRMSG' | translate}}</p>
                        </div>
                        <div class="row" ng-if="mrfq.closedRFQ.list.length !== 0">
                            <div class="col-md-12">
                                <ul uib-pagination boundary-links="true" max-size="mrfq.size" total-items="mrfq.closedRFQ.total" ng-model="mrfq.index" class="pagination-sm pull-right"
                                    previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;" ng-change="mrfq.navClosedRFQ()"></ul>
                            </div>
                        </div>
                    </div>

                    <div class="mrfq-right">

                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <div class="row">
                                    <div class="col-md-9" ng-if="mrfq.RFQDetails.rfqUniqueId">
                                        <h4 ng-if="mrfq.RFQDetails.rfqUniqueId">RFQ ID: {{mrfq.RFQDetails.rfqUniqueId}}</h4>
                                        <p ng-if="mrfq.RFQDetails.initiatedOn">{{mrfq.RFQDetails.initiatedOn | date:'MMM dd, yyyy hh:mm a'}}</p>
                                        <address>
                                            <span ng-if="mrfq.RFQUserDetails.firstName">{{mrfq.RFQUserDetails.lastName}} {{mrfq.RFQUserDetails.firstName}}<br/></span>
                                            <span ng-if="mrfq.RFQUserDetails.address1">{{mrfq.RFQUserDetails.address1}} {{mrfq.RFQUserDetails.address2}}<br/></span>
                                            <span ng-if="mrfq.RFQUserDetails.city">{{mrfq.RFQUserDetails.city}} </span>
                                            <span ng-if="mrfq.RFQUserDetails.state">{{mrfq.RFQUserDetails.state}}</span>
                                            <span ng-if="mrfq.RFQUserDetails.zip"> {{mrfq.RFQUserDetails.zip}}<br/></span>                                            Phone : <span>{{(mrfq.RFQUserDetails.phoneno === '')?'-':mrfq.RFQUserDetails.phoneno}}</span>                                            Mobile : <span>{{(mrfq.RFQUserDetails.mobile === '')?'-':mrfq.RFQUserDetails.mobile}}<br/></span>                                            Email : <span>{{(mrfq.RFQUserDetails.emailId === '')?'-':mrfq.RFQUserDetails.emailId}}</span>
                                        </address>
                                    </div>
                                    <div class="col-md-3">
                                        <img src="{{mrfq.websiteLogo}}" />
                                        <p>{{'HEADER.SITENAME' | translate}}</p>
                                    </div>
                                </div>
                                <div class="row" ng-if="!mrfq.RFQDetails.rfqUniqueId">
                                    <div class="col-xs-3">
                                    </div>
                                    <div class="col-xs-6">
                                        <p style="font-size:24px;color:#aeaeae; text-align:center;padding:40px 0px;">{{'MANAGERFQ' | translate}}</p>
                                    </div>
                                    <div class="col-xs-3">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12" ng-if="mrfq.RFQDetails.rfqItemsDTOs.length||mrfq.RFQDetails.deadlineOn">
                                        <p><span>{{'MANAGERFQ.NOPARTS' | translate}}: {{mrfq.RFQDetails.rfqItemsDTOs.length}}</span>
                                            <span style="margin-left:20px;">{{'MANAGERFQ.QUOTEREQBY' | translate}}: {{mrfq.RFQDetails.deadlineOn | date:'MM/dd/yyyy h:mm a'}}</span>
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="panel-body" ng-if="mrfq.RFQDetails.rfqItemsDTOs.length">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th style="width:20%">{{'MANAGERFQ.SNO' | translate}}</th>
                                            <th style="width:50%">{{'MANAGERFQ.PARTNOPARTNAME' | translate}}</th>
                                            <th style="width:30%">{{'MANAGERFQ.DESQTY' | translate}}</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="items in mrfq.RFQDetails.rfqItemsDTOs">
                                            <td>{{$index + 1}}</td>
                                            <td><b style="color:#0093c6">{{items.partNumber}}</b><br/>{{items.partName}}</td>
                                            <td>{{items.qty}}</td>
                                        </tr>
                                    </tbody>
                                </table>


                                <!--<button class="btn btn-default" ng-click="RFQD.closeDetails()">Close popup</button>-->
                            </div>
                        </div>
                    </div>
                </uib-tab>
            </uib-tabset>
        </div>
    </div>
</div>