<header>
    <nav class="navbar navbar-default navbar-fixed-top top-nav" data-ng-class="{'scrolled':sticky === true}">
        <div class="container-fluid upper-container">
            <div class="central-container">
                <div class="navbar-header top">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" data-ng-click="pgHdr.go()" ng-href="{{pgHdr.rootUrl}}/">
                        <img ng-src="{{pgHdr.websiteLogo}}" alt="">
                        <p>{{'HEADER.SITENAME' | translate}}</p>
                    </a>
                </div>
                <span class="collapse navbar-collapse">
        <div class="nav-section top">
          <lang-currency-selector></lang-currency-selector>
          <help-n-faq></help-n-faq>
          <ul class="nav navbar-nav">
            <!--<li><a href="#">{{'HEADER.DISCUSSION' | translate}}</a></li>-->
            <!--<li><a href="/wheretobuy" class="where-to-buy">{{'HEADER.WHERETOBUY' | translate}}</a></li>-->
            <li><a style="cursor:pointer" ng-click="pgHdr.wheretobuy();" class="where-to-buy">{{'HEADER.WHERETOBUY' | translate}}</a></li>
            
          </ul>
          <profile-menu current-user-profile-data="currentUserProfileData"></profile-menu>
        </div>
        <!--<div class="nav-section top">
            <advanced-search></advanced-search>
        </div>-->
        <div class="nav-section middle">
                    <search-bar></search-bar>
                    <span class="express-checkout-menu pull-left" ng-if="pgHdr.isCurrentUserExist && pgHdr.userPermissionsList && pgHdr.userPermissionsList.FastOrderEntry">
                            <!--<a href="/expresscheckout">-->
                            <a style="cursor:pointer" ng-click="pgHdr.expresscheckout();">
                                <!--<i class="fa fa-shopping-cart" aria-hidden="true"></i><br/>--> 
                                <img ng-src="/assets/images/ExpressCart_Icon.svg" class="expressicon" alt=""  ><br/>
                                <span class="expresstxt">{{'expresscheckout.MAINHEADER' | translate}}</span>
                            </a>
                            
                    </span>
                     <span class="cart-menu pull-right" ng-if="pgHdr.isCurrentUserExist && pgHdr.userPermissionsList.ViewCart">
                            <a style="cursor:pointer" ng-click="pgHdr.getCartDetails();">
                                <!--<i class="fa fa-shopping-cart" aria-hidden="true"></i><br/>--> 
                                <img ng-src="/assets/images/cart.svg" class="carticon" alt=""  ><span class="badge badge-cart ng-binding">{{pgHdr.cartCount}}</span><br/>
                                <span class="carttxt">{{'HEADER.MENUS.PROFILE.CART' | translate}}</span>
                            </a>
                    </span>
          <!--<order-menu></order-menu>-->
        </div>
      </span>
            </div>
        </div>
        <div class="container-fluid category-menu">
            <div class="lower-container">
                <div class="navbar-header">
                    <a class="navbar-brand"><img ng-src="{{pgHdr.websiteLogo}}" alt=""></a>
                </div>
                <span class="collapse navbar-collapse">
        <div class="nav-section bottom">
          <category-menu></category-menu>
        </div>
          <div class="subcategory-menu" ng-hide="!(showSubMenu)">blah</div>
      </span>
            </div>

        </div>
        <div class="container-fluid advanced-search" data-ng-if="pgHdr.isHomePage">
            <advanced-search></advanced-search>
        </div>
    </nav>
</header>