/***************************************************************
* Proprietary & Confidential  |  © 2016 PhaseZero Ventures LLC 
* 
* This file is part of Tire Advisor project
* 
* This file cannot be copied and/or distributed without 
* the express permission of PhaseZero Ventures LLC
***************************************************************/


header {
    .central-container,
    .lower-container {
        max-width: 1440px;
        min-width: 1024px;
        margin: auto;
        margin-top: -6px;
    }
    .typeahead-popup {
        top: 78px !important;
    }
    .navbar {
        margin-bottom: 0px;
        border: 0px;
    }
    .navbar-brand {
        padding: 0px;
        text-align: center;
        width: 160px;
        img {
            margin-top: 15px;
            margin-left: 34px;
            margin-right: 20px;
            width: 105px;
            //content:url($website_logo);
        }
        p {
            margin: 5px 0 0 9px;
            //it was font-size: 16px
            font-size: 15px;
            color: #a5a5a5;
            //color: $color_extreme_two;
            font-weight: 400
        }
    }
    .top-nav {
        @media(min-width: 768px) {
            /*-webkit-transition: height 0.25s;
        transition: height 0.25s;*/
            height: 140px;
        }
        background-color:$support_color_dark_two;
        border-radius: 0px;
    }
    .nav-section {
        //display:block; 
        .express-checkout-menu {
            width: 74px;
            float: left;
            margin-left: 35px;
            line-height: 15px;
            margin-top:5px;
            a {
                color: #fff;
                &:hover {
                    text-decoration: none;
                }
                &:focus {
                    text-decoration: none;
                }
                .expressicon {
                    width:25px;
                    height:20px;
                    margin-left:10px;
                }
                .expresstxt {
                    text-transform: uppercase;
                    font-size: 10px;
                    font-weight: 600;
                    color:  #c7c7c7 ;
                }

                
            }
        }
        .cart-menu{
            line-height:15px;
            margin-top:6px;
            margin-right: 38px;
            position: relative;
            a {
                .badge-cart{
                    background-color: $badge_color;    
                    position: absolute;
                    left: 10px;
                    min-width: 30px;
                    margin-top: -9px;
                    border: 2px solid $badge_border;
                    font-size: 11px;
                    font-weight: 700;
                    color: $badge_font_color;
                }
                 color: $badge_font_color;
                 &:hover{
                     text-decoration: none;
                 } 
                 &.focus {
                     text-decoration: none;
                 }
                 .carticon {
                    width:19px;
                    height:20px;
                 }
                 .carttxt {
                    text-transform: uppercase;
                    font-size: 10px;
                    font-weight: 600;
                    color: #c7c7c7 ;
                }
            }
        }
        &.top {
            height: 38px;
            ul {
                &.nav{
                    height: 38px;
                    margin-left: -6px;
                    li {
                        height: 40px;
                        padding-top: 10px;
                        > a {
                            padding-top: 0px;
                            padding-bottom: 0px;
                            padding-left: 10px;
                            // color: $support_color_light_one;
                            //color: $support_color_light_three;
                            color:#FFFFFF;
                        }
                        a.clr-grey{
                            color: #aaaaaa;
                            font-weight: 600;
                        }
                        a.where-to-buy{
                            padding-left: 24px;
                        }
                    }
                }                
            }
        }
        &.middle {
            height: 70px;
            padding-top: 1px;
            .form-group {
                float: left;
            }
            [uib-dropdown] {
                float: left
            }
            .search_ddl_head {
                margin: 0 0 0;
            }
            .button-ddl-head {
                // width: 173px;
                background-color: $support_color_light_one;
            }
            .btn,
            input[type=text] {
                border-radius: 0px;
                // height: 40px;
                height: 42px;
                //shaifali added
                &:focus,
                &:active {
                    outline: none !important;
                    box-shadow: none;
                }
                //shaifali added
            }
            .btn-primary {
                background-color: $support_color_primary;
                border-color: $support_color_primary;
            }
            ul {
                li {
                    a {
                        color: $color_extreme_two;
                    }
                }
            }
        }
        &.bottom {
            height: 30px;
            // padding-top: 10px;
            padding-top: 18px;
            ul {
                // margin-left: -6px;
                margin-left: -12px !important;
                height: 28px;
                li {
                    height: 30px;
                    a {
                        padding-top: 0px;
                        padding-bottom: 0px;
                        // color: $color_extreme_two;
                        color: $support_color_light_one;
                        i{
                            font-size: 9px;
                            left: 2px;
                        }
                    }
                }
            }
        }
    }
    .navbar-header {
        /*@media(min-width:768px){
        width: 10%;
      }  */
        &.top {
            height: 100px;
        }
    }
    .category-menu {
        height: 40px;
        background-color: $support_color_dark_two;
        .navbar-header {
            height: 30px;
            .navbar-brand {
                cursor: default;
                @media(max-width: 1024px) {
                    width: 106px;
                }
                img {
                    height: 0px;
                }
            }
        }
    }
    .navbar-default {
        .navbar-nav {
            li {
                a {
                    padding-top: 12px;
                    &:hover,
                    &:focus {
                        color: $accent_color;
                    }
                }
            }
        }
    }
    //css for sticky header
    .scrolled {
        /*-webkit-transition: height 0.25s;
        transition: height 0.25s;*/
        height: 70px;
        //padding-top:2px;
        padding-top: 7px;
        .nav-section {
            &.top {
                display: none;
            }
        }
        .category-menu,.advanced-search {
            display: none;
        }
        .navbar-brand {
            padding: 0px;
            text-align: center;
            width: 160px;
            img {
                margin-top: 5px;
                margin-left: 50px;
                margin-right: 20px;
                width: 65px;
                //content:url($website_logo);
            }
            p {
                margin: 0px 0 0 5px;
                font-size: 10px;
                color: $color_extreme_two;
                font-weight: 500
            }
        }
        .typeahead-popup {
            top: 50px !important;
        }
        .search-bar {
            margin-top: 10px;
        }
        .navbar-header {
            &.top {
                height: 70px;
            }
        }
    }
    .header-order{
        background-color: #323232;
        height: 72px;
        .order-brand{
            
            margin: 10px;
            width: 100px;
            margin-bottom: 14px;
            .image{
            width: 60px;
            height: 30px;
            margin-top: 5px;
            margin-left: 20px;
            }
            p{
                font-size: 9px;
                margin: 0px;
            }
        }
        .line{
            border-left: 1px solid #1c1c1c;
            height: 72px;
            display:inline-block;
            p{
                padding: 28px;
                color: #aaaaaa;
                margin-bottom: 0;
            }
        }
        .availability{
            display:inline-block;
            float: right;
            min-width: 360px;
            p{
                margin-right: 10px;
                padding: 30px;
                color: white;
                font-size: 14px;
                margin-bottom: 0;
                .cust-no{
                    margin-left: 30px;
                    margin-right: 25px;
                    font-weight: 400;
                    font-size: 12px;
                    color: #aaaaaa;
                    span{
                        font-weight: 600;
                        color: #fff;
                    }
                }
                .username{
                    float: right;
                }
            }
        }
       
    }
     .advanced-search{
            background-color: $advanced_search_bar_bg;
            height: 42px;
            border-bottom: #acacac solid 1px;
        }
       
}
/* Landscape mini, ipad 1&2, ipad 3&4*/
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (orientation: landscape) 
  and (-webkit-min-device-pixel-ratio: 1),
screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (orientation: landscape) 
  and (-webkit-min-device-pixel-ratio: 1),
screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (orientation: landscape) 
  and (-webkit-min-device-pixel-ratio: 2){
    header{
        .nav-section.bottom{
            ul{
                margin-left: 43px !important;
            }
        }
    }
  }
