<header>
  <nav class="navbar navbar-default navbar-fixed-top header-order">
    <a class="navbar-brand order-brand" data-ng-click="pgHdr.go()" href="/">
        <img class="image" ng-src="{{pgHdr.websiteLogo}}" alt="">
        <p>{{'HEADER.SITENAME' | translate}}</p>
    </a>
    <div class="line">
      <p>{{'HEADER.MENUS.HELPNFAQ.HELPLINE' | translate}}</p>
    </div>
    
    
    <div class="availability">
      <!-- <p><i class="fa fa-info-circle" aria-hidden="true"></i> hhhhh Availabilty of items being ordered will be reached when order is placed</p> -->
      <!-- <div class="row">
        <div class="col-md-6"> <label>Customer ID: <span>{{pgHdr.customerId}}</span></label> </div>
        <div class="col-md-6"> <label><span>{{pgHdr.custName}}</span></label></div>
      </div> -->
      <p>
        <label class="cust-no">{{'HEADER.MENUS.PROFILE.CUSTNO_TXT' | translate}}<span>{{pgHdr.customerId}}</span></label>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <label class="username"><span>{{pgHdr.custName}}</span></label>
      </p>
      
    </div>
  </nav>
</header>