.incomplete-order {
    margin-top: -55px;
    background: #eff0f2;
    padding-left: 20px;
    padding-right: 20px;
    .littlegap {
        p{
            font-weight: 400;
            color: #939393;
        }
        .order-total {
            p{
                font-weight: 700;
                font-size: 12px;
                color: #939393;
            }
            padding: 10px 0px 5px 10px;
        }
        .total-Qty{
            float: right;
            padding: 0px 10px 10px 10px;
            font-weight: 400;
            color: #646464;
            span{
                font-size: 24px;
                font-weight: 700;
                color: #646464;
            }
        }
        padding: 2px 0px 0px 0px;
        .text-center{
            padding-right: 6px;
        }
        .order-item-wrapper{
            width: 98%;
            margin-left: 4px;
            max-height: 200px;
            overflow-x: hidden;
            overflow-y: auto;
            .order-item-name-wrap{
            font-size: 11px;
            }
            .order-num-wrap{
            }
        }
    }
    .outOfStack{
        text-align: left;
        height: 40px;
        background: #505050;
        padding:0px;
        .ribon{
            background: #ff9d02;
            font-size: 8px;
            font-weight: 600;
            color: #fff;
            //border: 1px solid #fff;
            display: inline-block;
            padding: 3px;
        }
        .select{
            display: inline-block;
            margin-left: 50px;
            SPAN{
                font-size: 11px;
                font-weight: bold;
                color: #fff;
            }
        }
        .btn-ordrdetail{
            position: relative;
        }

        .btn-app-transparent{
            background-color: transparent;
            border: 1px solid #fff;
            border-color: #fff;
            color: #363636;
            line-height: 15px;
        }
        
        .btn-app:focus, .btn-app:active:focus {
            outline: 0;
        }
    }
    .affix-ads{
        top: 80px;
    }
    .posFixed{
        position:fixed;
        right:10px;
    }
    .parent-row{
        padding-top: 30px;
        padding-bottom: 30px;
        .col-left{
            padding-left: 0;
        }
        .bg-white{
            background: #fff;
            padding-left: 0;
            padding-right: 0;
            border-radius: 4px;
            padding-top: 30px;
            padding-bottom: 30px;
        }
        .warnings{
            margin-bottom: 10px;
            .warning-icon{
                display: block;
                float: left;
                top: 10px;
                position: relative;
                margin-right: 14px;
                margin-left: 20px;
                .glyphicon-alert{
                    color: #ff9d02;
                    font-size: 18px;
                }
            }
            .warning-text{
                color: #6e6e6e;
                font-size: 14px;
                font-weight: 700;
                float: left;
                padding-top: 10px;
                .warning-pri{
                    margin-bottom: 3px;
                }
                .warning-sec{
                    font-weight: normal;
                    margin-bottom: 0px;
                    span{
                        font-weight: 700;
                    }
                }
            }
        }
        .out-of-stock-wrapper{
            height: 41px;
            background: #7b7b7b;
            padding: 10px 0;
            .out-of-stock { 
                list-style: none; 
                overflow: hidden; 
                font: 18px Helvetica, Arial, Sans-Serif;
                padding: 0;
                display: inline-block;
                width: 156px;
                float: left;
                position: relative;
                left: -1px;
            }
            .out-of-stock li { 
                float: left; 
            }
            .out-of-stock li a {
                text-decoration: none;
                background: #ff9d02;
                position: relative;
                display: block;
                float: left;
                font-size: 10px;
                color: #fff;
                font-weight: 700;
                height: 21px;
                line-height: 21px;
                text-align: center;
                width: 100px;
                text-transform: uppercase;
            }
            .out-of-stock li a:after { 
                content: " ";
                display: block;
                width: 0;
                height: 0;
                border-top: 21px solid transparent;
                border-bottom: 21px solid transparent;
                border-left: 21px solid #ff9d02;
                position: absolute;
                top: 50%;
                margin-top: -21px;
                left: 100%;
                z-index: 2;
            }
            .form-inline{
                float: left;
                position: relative;
                bottom: 2px;
                .radio{
                    margin-right: 30px;    
                    label{
                        font-size: 11px;
                        font-weight: 700;
                        color: #fff;
                        text-transform: uppercase;
                        input[type='radio'] {
                            width: 14px;
                            height: 14px;
                            border: 2px solid gray;
                            border-radius: 50%;
                            outline: none;
                            box-shadow: none;
                            position: relative;
                            top: 3px;
                        }
                        input[type='radio']:hover, .previewOrder input[type='radio']:focus {
                            box-shadow: none;
                            border: 2px solid #7b7b7b;
                            border-radius: 25%;
                        }
                    }
                }
            }
        }
        .incomplete-order-tbl{
            border: 1px solid #ddd;
            background: #ffffff;
            thead{
                th{
                    border: 1px solid #ddd !important;
                    font-weight: 600;
                    font-size: 11px;
                    color: #acacac;
                    vertical-align: bottom;
                    .fa{
                        margin-left: 10px;
                        font-size: 14px;
                        position: relative;
                        top: 2px;
                    }
                }
            }
            tbody{
                .itm-part-details{
                    cursor: pointer;
                    position: relative;
                    .ribon{
                        position: absolute;
                        top: 10px;
                        left: -8px;
                        background: #ff9d02;
                        font-size: 8px;
                        font-weight: 600;
                        color: #fff;
                        border: 1px solid #000;
                        display: inline-block;
                        padding: 0 2px;
                    }
                    .part-img{
                        float: left;
                    }
                    .part-num-name{
                        float: left;
                        margin-left: 10px;
                        .part-num{
                            color: #0093c6;
                            font-size: 12px;
                            font-weight: 600;
                            display: block;
                            text-transform: uppercase;
                        }
                        .part-name{

                        }
                    }
                }
            }
            th, td {
                text-align: right;
                vertical-align:middle;
                &:first-child {
                     //border-left: 0 !important; 
                     text-align: left;
                }
                &:nth-child(2) {
                }
                &:nth-child(3) {
                }
                &:nth-child(4) {
                }
                &:nth-child(5) {
                }
                &:nth-child(6) {
                }
                &:nth-child(7) {
                }
                &:nth-child(8) {
                }
                &:last-child{          
                    //border-right: none !important;
                }
            }
        } 
        .stock-ordr-sumry{
            padding-left: 0;
            .summary-text {
                font-size: 14px;
                font-family: $app_font_family;
                color: #777777;
                font-weight: 600;
                margin-top: 17px !important;
                margin-bottom: 10px;
            }
            .bg-default-bg {
                background-color: #fff;
                border: 1px solid #ddd;
                border-radius: 3px;
                padding: 15px 15px 5px;
                margin-bottom: 10px;
                .summery-box {
                    //font-size: 11px;
                    //font-family: Open Sans;
                    font-weight: 400;
                    color: #939393;
                }
                .summery-right-box {
                    font-size: 14px;
                    font-family: $app_font_family;
                    color: #646464;
                    font-weight: 700;
                    text-align: right;
                }
                hr{
                    margin-top: 1px;
                    margin-bottom: 5px;
                }
            }
            a.btn-proceed {
                margin-bottom: 20px;
                display: block;
                .bg-success {
                    padding: 4px 15px;
                    border-radius: 3px;
                    background: #39b54a;
                    h5 {
                        margin-bottom: 7px;
                        margin-top: 7px;
                        .proceed {
                            text-align: center;
                            font-size: 13px;
                            font-family: $app_font_family;
                            color: #fff;
                            font-weight: 600;
                            text-transform: uppercase;
                        }
                    }
                }
            }
            .btn-green{
                margin-left: 10px;
                margin-bottom: 10px;
                button{
                    background-color: #3FB300;
                    border-color: #3FB300;
                    border-radius: 3px;
                    height: 37px;
                    font-weight: 600;
                    font-size: 13px;
                    color: #fff;
                }
                button:hover{
                    background-color: #369900;
                    border-color: #369900;
                }
            }
            a:hover, a:focus {
                text-decoration: none;
            }
            .bg-default {
                background-color: transparent;
                border: 2px solid #363636;
                border-color: #363636;
                color: #363636;
                height: 36px;
                font-size: 14px;
                border-radius: 3px;
                text-transform: uppercase;
                padding: 4px 20px;
                text-align: center;
                font-size: 13px;
                font-family: $app_font_family;
                margin-bottom: 10px;
                h6 {
                    font-weight: 600;
                    font-size: 14px;
                    line-height: 13px;
                    margin-top: 5px;
                    margin-bottom: 7px;
                }
            }
            .bg-default:hover{
                background-color: #E2E2E2;
                border: 2px solid #363636;
                border-color: #363636;
                color: #363636;
            }
            .mg-l{
                margin-left: 8px;
                display: inline-block;
                width: 100%;
            }
        }

    }
}
