<!-- Author: Manjesh Kumar -->
<div ng-show="!incompltOrdr.noItemsInCart" class="container-fluid incomplete-order">
    <div class="row parent-row">
        <div class="col-sm-10 col-md-10 col-left">
            <div class="row warnings">
                <div class="col-sm-12 col-md-12">
                    <span class="warning-icon"><i class="glyphicon glyphicon-alert"></i></span>
                    <div class="warning-text">
                        <p class="warning-pri">{{ 'INCOMPLETEORDER.ORDERCOMP' |  translate }}</p>
                        <!-- <p style="margin:0px">{{'ERRORMSG.ORDERSTATUS' | translate}}</p> -->
                        <!-- <p class="warning-sec">
                            Listed below is
                            <span>{{incompltOrdr.incompeteData.length}} out of {{incompltOrdr.checkoutDataLength}} part(s) </span>
                            have issues, please take appropriate action to proceed.
                        </p> -->
                        <p class="warning-sec">
                            {{ 'INCOMPLETEORDER.LISTBELLOWIS' |  translate }}
                            <!-- <span>{{incompltOrdr.incompeteData.length}} out of {{incompltOrdr.checkoutDataLength}} part(s) </span> -->
                            {{ 'INCOMPLETEORDER.ORDERAVLISSUEACTION' |  translate }}
                        </p>
                        <!-- <p class="warning-pri">
                            {{ 'INCOMPLETEORDER.ORDERAVLISSUEACTION' |  translate }}
                        </p> -->
                    </div>
                </div>
            </div>
            <div class="row" ng-show="incompltOrdr.incompeteData.length">
                <div class="col-sm-12 col-md-12">
                    <table class="table incomplete-order-tbl table-bordered">
                        <thead>
                            <tr>
                                <th>{{ 'INCOMPLETEORDER.PARTNO' |  translate }}</th>
                                <th style="background: #dedddd;color:black">{{ 'INCOMPLETEORDER.ORDERQTY' |  translate }}</th>
                                 <th style="background: #ffc065;color:black">{{ 'INCOMPLETEORDER.AVLQTY' |  translate }}</th>
                                <th>{{'SHIPPEDLIST.UOM' | translate}}</th>
                                <th>
                                    <div class="inline-style">{{'common.EXT' | translate}}<br>{{'common.WEIGHT' | translate}}<br>{{'common.LB' | translate}}
                                    </div>
                                </th>
                                <th ng-show="incompltOrdr.orderType == 'STK'">{{ 'INCOMPLETEORDER.BACKORDERQTY' |  translate }}
                                <!-- <i class="fa fa-question-circle"></i> --></th>
                                <th ng-show="incompltOrdr.orderType == 'EMG'">{{ 'INCOMPLETEORDER.PLANTCODE' |  translate }}
                                <!-- <i class="fa fa-question-circle"></i> -->
                                </th>
                                <th>{{ 'INCOMPLETEORDER.UNITPRICEUSD' |  translate }}</th>
                                
                                <th>{{ 'INCOMPLETEORDER.CORECHARGETOTLUSD' |  translate }}
                                <!-- <i class="fa fa-question-circle"></i> --></th>
                                <th>{{ 'INCOMPLETEORDER.EXTPRICEUSD' |  translate }}</th>
                                <!-- <th>{{ 'INCOMPLETEORDER.PRODTOTALUSD' |  translate }}</th> -->
                                <!-- <th>{{ 'INCOMPLETEORDER.EDIT' |  translate }}</th>
                                <th>{{ 'INCOMPLETEORDER.DELETE' |  translate }}</th> -->
                                <!-- <th ng-show="incompltOrdr.orderType== 'EMG'">Proceed with available</th> -->
                            </tr>
                        </thead>
                        <tbody ng-repeat="obj in incompltOrdr.incompeteData track by $index">
                        <tr>
                            <td>
                                <div class="itm-part-details">
                                    <div class="part-img">
                                        <img ng-if="!obj.thumbnail" ng-src="{{protocol}}://placehold.it/50x50/dbdbdb/0099CC/?text=NO+IMAGE" src="https://placehold.it/50x50/dbdbdb/0099CC/?text=NO+IMAGE" class="img-responsive">
                                        <img ng-if="obj.thumbnail" ng-src="{{protocol}}://{{incompltOrdr.imageBaseUrl}}/tnimgs/{{obj.thumbnail}}"
                                        onerror="this.src='https://placehold.it/50x50/dbdbdb/0099CC/?text=NO+IMAGE'" class="img-responsive">
                                    </div>
                                    <div class="part-num-name">
                                        <span class="part-num">{{obj.partNo}}</span>
                                        <span class="part-name">{{obj.partName}}</span>
                                    </div>
                                    <!-- <span class="ribon ribon-outofstock">OUT OF STOCK</span> -->
                                </div>
                            </td>
                            <!-- <td>{{obj.qtyAdded}}</td> -->
                            <td style="background: #ddd;color:black" ng-show="incompltOrdr.orderType == 'STK'">{{obj.qtyReq | number : 0}}</td>
                            <td style="background: #ddd;color:black" ng-show="incompltOrdr.orderType == 'EMG'">{{obj.qtyReq | number : 0}}</td>
                            <td style="background: #ffc065">{{obj.totalQtyAvailable | number : 0}}</td>
                            <td>{{obj.uom}}</td>
                            <td>{{obj.wt}}</td>
                            <td ng-show="incompltOrdr.orderType == 'STK'">{{obj.backQty | number : 0}}</td>
                            <td ng-show="incompltOrdr.orderType == 'EMG'">{{obj.plantName}}</td>
                            <td>
                                <span data-ng-if="incompltOrdr.userPermissionsList.CheckPrice">
                                {{obj.STANDARD_BASE | currency:""}}
                                </span>
                            </td>

                            <td ng-show="incompltOrdr.orderType == 'STK'">
                                <span data-ng-if="incompltOrdr.userPermissionsList.CheckPrice">
                                <!-- {{(obj.totalQtyAvailable + obj.backQty) * obj.CORE_BASE | currency:""}} -->
                                {{obj.CORE_BASE | currency:""}}
                                </span>
                            </td>
                            <td ng-show="incompltOrdr.orderType == 'EMG'">
                                <span data-ng-if="incompltOrdr.userPermissionsList.CheckPrice">
                                {{obj.CORE_BASE | currency:""}}
                                <!-- {{obj.totalQtyAvailable * obj.CORE_BASE | currency:""}} -->
                                </span>
                            </td>
                            <td ng-show="incompltOrdr.orderType == 'STK'">
                                <span data-ng-if="incompltOrdr.userPermissionsList.CheckPrice">
                                   <!--  {{(obj.totalQtyAvailable + obj.backQty) * obj.STANDARD_BASE | currency:""}} -->
                                   {{(obj.totalQtyAvailable + obj.backQty) * (obj.STANDARD_BASE + obj.CORE_BASE) | currency:""}}
                                </span>
                            </td>
                            <td ng-show="incompltOrdr.orderType == 'EMG'">
                                <span data-ng-if="incompltOrdr.userPermissionsList.CheckPrice">
                                    <!-- {{obj.totalQtyAvailable * obj.STANDARD_BASE | currency:""}} -->
                                    {{obj.totalQtyAvailable * (obj.STANDARD_BASE + obj.CORE_BASE) | currency:""}}
                                </span>
                            </td>
                            
                            <!-- <td ng-show="incompltOrdr.orderType == 'STK'">{{(obj.totalQtyAvailable + obj.backQty) * obj.STANDARD_BASE + obj.CORE_BASE | currency:""}}</td>
                            <td ng-show="incompltOrdr.orderType == 'EMG'">{{obj.totalQtyAvailable * obj.STANDARD_BASE + obj.CORE_BASE | currency:""}}</td> -->
                            <!-- <td style="cursor: pointer" ><span><i class="fa fa-pencil" aria-hidden="true" ng-click="incompltOrdr.editItem(obj)"></span></td>
                            <td style="cursor: pointer"><span><i class="fa fa-trash" aria-hidden="true" ng-click="incompltOrdr.deleteItem(obj.id)"></span></td> -->
                            <!-- <td ng-show="incompltOrdr.orderType == 'EMG'">
                                <input type="checkbox" value="PROCEED WITH AVAILABLE" ng-model="obj.backOrdCheck">
                            </td> -->

                        </tr>
                        <tr>
                            <td ng-show="incompltOrdr.orderType == 'STK'" class="outOfStack" colspan="10">
                                <div>
                                    <span ng-show="obj.totalQtyAvailable == 0" class="ribon ribon-outofstock">{{'ORDERMGMT.OUTOFSTOCK' | translate}}</span>
                                    <span ng-show="obj.totalQtyAvailable > 0" class="ribon ribon-outofstock">PARTIALLY AVAILABLE</span>
                                    <div class="select">
                                        <input type="radio" value="backOrder" ng-model="obj.radio" ng-change="incompltOrdr.calculatePrice()">
                                        <span>ADD AS BACK ORDER</span>
                                    </div>
                                    <div class="select">
                                        <input ng-change="incompltOrdr.calculatePrice()" type="radio" value="remove" ng-model="obj.radio">
                                        <span>REMOVE FROM ORDER LIST</span>
                                    </div>
                                </div>
                            </td>
                            <td style="text-align: left;" ng-show="incompltOrdr.orderType == 'EMG'" class="outOfStack" colspan="10">
                                <div>
                                    <span ng-show="obj.totalQtyAvailable == 0" class="ribon ribon-outofstock">{{'ORDERMGMT.OUTOFSTOCK' | translate}}</span>
                                    <span ng-show="obj.totalQtyAvailable > 0" class="ribon ribon-outofstock">PARTIALLY AVAILABLE</span>
                                    <div class="select">
                                        <input type="radio" value="backOrder" ng-model="obj.radio" ng-change="incompltOrdr.calculatePrice()">
                                        <span>ADD AS BACK ORDER</span>
                                    </div>
                                    <div class="select">
                                        <input ng-change="incompltOrdr.calculatePrice()" type="radio" value="remove" ng-model="obj.radio">
                                        <span>REMOVE FROM ORDER LIST</span>
                                    </div>
                                </div>
                            </td>
                            <!-- <td style="text-align: left;" ng-show="incompltOrdr.orderType == 'EMG'" class="outOfStack" colspan="10">
                                <div>
                                    <span class="ribon ribon-outofstock">OUT OF STOCK</span>
                                    <div class="select">
                                        <button ng-click="incompltOrdr.editItem(obj)" class="btn btn-app btn-app-transparent btn-ordrdetail" ng-click="compltdOrdr.goToDetail()">
                                            <span>CHECK AVAILABILITY AT OTHER LOCATIONS</span>
                                        </button>
                                    </div>
                                    <div class="select">
                                        <button ng-click="incompltOrdr.deleteItem(obj.id)" class="btn btn-app btn-app-transparent btn-ordrdetail" ng-click="compltdOrdr.goToDetail()">
                                        <span>REMOVE</span></button>
                                    </div>
                                </div>
                            </td> -->
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div style="cursor: pointer" ng-show="!incompltOrdr.incompeteData.length">
                <a ng-click="incompltOrdr.proceed()">{{ 'INCOMPLETEORDER.PROCEED_WITH_CO' |  translate }}</a>
            </div>
            
            <!-- <div ng-show="incompltOrdr.orderType== 'STK' && incompltOrdr.incompeteData.length" class="">

                <input type="checkbox" value="ADD IT AS A BACK ORDER" ng-model="incompltOrdr.backOrder">
                <span> {{ 'INCOMPLETEORDER.ADD_IT_AS_BO' |  translate }}</span>
            </div> -->

            <!-- <div ng-show="incompltOrdr.orderType == 'EMG' && incompltOrdr.incompeteData.length">
                <div class="pull-right">
                    <input type="checkbox" value="ADD IT AS A BACK ORDER" ng-model="incompltOrdr.backOrder">
                    <span>{{ 'INCOMPLETEORDER.P_WITH_AVAIL' |  translate }}</span>
                </div>
            </div> -->
        </div>
        <div class="col-md-2 stock-ordr-sumry posFixed" id="ad-section1" data-ng-class="{'affix-ads':expco.stickyAd === true}">
            <h5 class="summary-text mg-l" ng-show="incompltOrdr.orderType == 'STK'">{{ 'INCOMPLETEORDER.SO_SUMMARY' |  translate }}</h5>
            <h5 class="summary-text mg-l" ng-show="incompltOrdr.orderType == 'EMG'">{{ 'INCOMPLETEORDER.EO_SUMMARY' |  translate }}</h5>
            <a href="" class="mg-l">
                <div class="bg-default-bg">
                    <div class="row">
                        <div class="col-sm-6">
                            <p class="summery-box">{{ 'INCOMPLETEORDER.NUM_OF_PARTS' |  translate }}</p>
                        </div>
                        <div class="col-sm-6"><p class="summery-right-box">{{incompltOrdr.checkoutDataLength | number : 0}}</p></div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <hr> </div>
                    </div>
                     <div class="row">
                        <div class="col-sm-6">
                            <p class="summery-box">{{'expresscheckout.TOTALORDERQTY' | translate}}</p>
                        </div>
                        <div class="col-sm-6"><p class="summery-right-box">1{{incompltOrdr.totalOrderQTY | number : 0}}</p></div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <hr> </div>
                    </div>
                    <div class="row littlegap">
                         <div class="col-sm-6">
                             <p>{{ 'PREVIEWORDER.TOTAL_WEIGHT'  | translate}}</p>
                         </div>
                       
                        <div class="col-sm-6  Qty">
                            <p class="summery-right-box">
                             1{{incompltOrdr.totWgtOfPartsInKg / 0.4536 | number : 2}}
                            </p>
                         </div>
                     </div>
                     <div class="row bottom-line-wrap" data-ng-if="incompltOrdr.userPermissionsList.CheckPrice">
                         <div class="bottom-line">
                             <hr> </div>
                     </div>
                    <!-- <div class="row">
                        <div class="col-sm-5">
                            <p class="summery-box">{{ 'INCOMPLETEORDER.OT_USD' |  translate }}</p>
                        </div>
                        <div class="col-sm-7">
                            <p class="summery-right-box">
                                <span data-ng-if="incompltOrdr.userPermissionsList.CheckPrice">
                                    {{incompltOrdr.totalAmount | currency:""}}
                                </span>
                            </p>
                         </div>
                    </div> -->
                    <div class="row littlegap" data-ng-if="incompltOrdr.userPermissionsList.CheckPrice">
                        <div class="order-total">
                            <p>{{ 'ORDERMGMT.ORDER_TOTAL'  | translate}}</p>
                        </div>
                        <div class="total-Qty">USD <span>{{incompltOrdr.totalAmount | currency:""}}</span></div>
                    </div>
                </div>
            </a>

            <!-- <div class="btn-green">
                <button ng-disabled="!incompltOrdr.backOrder" class="btn btn-success btn-block" ng-click="incompltOrdr.proceed()">{{ 'INCOMPLETEORDER.PROCEED' |  translate }}</button>
            </div> -->

            <div class="btn-green mg-l">
                <button class="btn btn-success btn-block" ng-click="incompltOrdr.proceed()">{{ 'INCOMPLETEORDER.PROCEED' |  translate }}</button>
            </div>

            <!-- <h1></h1> -->

            <a class="mg-l" style="cursor: pointer;">
                <div class="bg-default" ng-click="incompltOrdr.go('ordermgt')">
                    <h6>{{ 'INCOMPLETEORDER.C_AND_GTC' |  translate }}</h6>
                </div>
                
            </a>
            <a href="/" class="mg-l">
                <div class="bg-default">
                    <h6> {{ 'INCOMPLETEORDER.C_AND_CONT_SHOPPING' |  translate }} </h6>
                </div>
            </a>
        </div>
    </div>
</div>

<div ng-show="incompltOrdr.noItemsInCart">
    <p>{{ 'INCOMPLETEORDER.NO_ITEM_IN_CART' |  translate }} <a href="/">{{ 'INCOMPLETEORDER.GO_BACK_HOME' |  translate }}</a></p>
</div>