/***************************************************************
* Proprietary & Confidential  |  © 2016 PhaseZero Ventures LLC 
* 
* This file is part of Tire Advisor project
* 
* This file cannot be copied and/or distributed without 
* the express permission of PhaseZero Ventures LLC
***************************************************************/


.selectedFilters{
	font-weight: bold;
	.values{
		font-weight: bold;
		color: #999;
		.delete{
			font-weight: normal;
		}
		&:hover{
			cursor: pointer;
			text-decoration: line-through;
			color:black;
		}
	}
}