.added-rfq-popup {
    .modal-content {
        border-radius: 0px;
        .modal-header {
            padding: 30px;
            h2 {
                font-size: 20px;
                margin: 0px;
                padding: 0px;
            }
            img {
                width: 20px;
            }
        }
        .modal-body {
            padding: 30px;
        }
    }
}