<div id="addedrfqpopup">
    <div class="modal-header">
        <div class="row">
            <div class="col-md-11">
                <h2>{{'ADDEDRFQ.RFQ' | translate}} (ID: {{arfq.rfqData.rfqUniqueId}}) - {{'ADDEDRFQ.ADDED_PARTS' | translate}}</h2>
            </div>
            <div class="col-md-1">
                <a href="#" ng-click="arfq.close()"><img src="assets/images/close-icon.png"/></a>
            </div>
        </div>
    </div>
    <div class="modal-body">
        <table class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th>{{'ADDEDRFQ.SN' | translate}}</th>
                    <th>{{'ADDEDRFQ.PN_PN' | translate}}</th>
                    <th>{{'ADDEDRFQ.QTY' | translate}}</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="items in arfq.rfqData.rfqItemsDTOs">
                    <td>{{$index+1}}</td>
                    <td>{{items.partNumber}}<br/>{{items.partName}}</td>
                    <td>{{items.qty}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
