<!-- Author: Shaifali Jaiswal -->
<div class="container-fluid placedOrder">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-4">
                        <h3 class="font-weight">{{ 'PLACEORDER.ORDERID' | translate}}: 39KSK930DLA0S80</h3>
                    </div>
                    <div class="col-md-2">
                        <a href="">
                            <div class="bg-default">
                                <h6>{{ 'PLACEORDER.VIEWORDERDETAILS' | translate}} </h6>
                            </div>
                        </a>
                    </div>
                    <div class="col-md-2">
                        <a href="">
                            <div class="bg-default">
                                <h6>{{ 'PLACEORDER.SAVEITASORDERLIST' | translate}}</h6>
                            </div>
                        </a>
                    </div>
                    <!--  <div class="col-md-1"></div> -->
                </div>
            </div>
        </div>
    </div>
    <div class="down-border"></div>
    <div class="container">

        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-12">
                        <h4 class="font-weight">{{ 'COMPLETEORDER.ORDERSUCESSMSG' | translate }}</h4>
                        <h5><strong>{{ 'PLACEORDER.EMIALWITHSHIPMENTTRCKDETAILS' | translate }} </strong></h5>
                    </div>
                </div>
                <div class="row">
                <br><br>
                    <div class="col-md-2">
                        <a href="">
                            <div class="bg-success">
                                <h5>{{ 'PLACEORDER.PLACEANOTHERORDER' | translate }} </h5>
                            </div>
                        </a>
                    </div>
                    <div class="col-md-2">
                        <a href="">
                            <div class="bg-primary">
                                <h5>{{ 'PLACEORDER.CONTINUEORDER' | translate }} </h5>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <br><br> <br><br> <br><br> <br><br> <br><br> <br><br> <br><br>
        <div class="row">
            <div class="form-group">
               
                <p class="text-default">{{'PLACEORDER.ACKDRECIEPTOFYOURORDER' | translate}}
                    <br>{{'PLACEORDER.NEEDHELPCONTCUSTCARESERVICE' | translate}} <strong> {{'PLACEORDER.DANANORTHAMARICADCDEMAILID' | translate}}</strong>
                </p>
            </div>
        </div>
    </div>
</div>
