.placedOrder {
    margin-top: 25px;
    .font-weight {
        font-weight: 600;
    }
    .bg-primary {
        text-align: center;
        border-radius: 3px;
         padding:2px 0px;
    }
    .bg-success {
        text-align: center;
        border-radius: 3px;
        color: white;
        background-color: #5e9702;
         padding:2px 0px;
    }
    .bg-default {
        border: 1px solid #ddd;
        border-radius: 3px;
        text-align: center;
        text-transform: uppercase;
    }
    .down-border {
        border-top: 1px solid #c2c2c2;
        margin-top: 10px;
        margin-bottom: 20px;
        margin-right: 0px;
        margin-left: 0px;
    }
}
