<div>
    <table class="table">
        <thead>
            <tr>
                <th>{{'BOM.BOMNO' | translate}}</th>
                <th>{{'BOM.LEVEL' | translate}}</th>
                <th>{{'BOM.COMONENTNAME' | translate}}</th>
                <th>{{'BOM.QTY' | translate}} </th>
            </tr>
        </thead>
        <tbody>
            <tr data-ng-repeat="bom in part.partData.bom">
                <td data-ng-bind="bom.no"></td>
                <td data-ng-bind="bom.level"></td>
                <td>
                    <a href="/part/partnum/?val={{bom.partNumber}}" data-ng-bind="bom.partNumber"></a>
                </td>
                <td data-ng-bind="bom.quantity"></td>
            </tr>
        </tbody>
    </table>
    <img data-ng-hide="part.hideForNow" src="assets/images/part-details/machine_exploded.jpg" class="img-responsive" />
</div>

