<div class="part-details partDetails">
  <div class="container-fluid">
    <bread-crumb categories="part.partData.categories" part-no="{{part.partData.partNumber}}"></bread-crumb>
    <div ng-show="part.displayAddToCartMsg == true" class="lightboxaddtocard"><span class="glyphicon glyphicon-ok"></span> {{'ERRORMSG.PARTADDEDSUCCESSMSG' | translate : '{partnumber : '+'"'+part.partData.partNumber+'"'+'}'
      }}
      <button ng-show="part.displayAddToCartMsg == true" type="button" class="btn btn-primary gotocart">{{'MYLIST.GOTOCART' | translate}}</button>
    </div>

    <div ng-show="part.displayAddToCartMsg1 == true" class="lightboxaddtocard"><span class="glyphicon glyphicon-ok"></span>{{'ERRORMSG.PARTADDEDSUCCESSMSG' | translate : '{partnumber : '+'"'+part.partData.partNumber+'"'+'}'
      }}
      <button ng-show="part.displayAddToCartMsg1 == true" ng-click="part.goToCartPage()" type="button" class="btn btn-primary gotocart">{{'INCOMPLETEORDER.C_AND_GTC' | translate}}</button>
    </div>
    <div class="part-details-container" id="partDetails">
      <div class="panel part-panel">
        <!--<div class="panel-heading ">
      <header class="section-title bottom">
        {{part.partData.partNumber}},&nbsp;{{part.partData.partDesc}}
      </header>
    </div>-->
        <div class="panel-body">
          <div class="row interchange-supersession">
            <div class="col-xs-12">
              <div class="interchange-badge" ng-if="part.interChngPart">
                <span>
                                  {{'PARTCARD.CORRESMATCH' | translate}}
                              </span>
              </div>
              <div class="superseded-badge interchange-badge" ng-if="part.superSession">
                <span>
                                    <b>{{part.superSessionPartNumber}}</b> {{'PARTCARD.REPLACED' | translate}} {{part.partData.partNumber}}
                                </span>
              </div>
            </div>
          </div>
          <div class="row top-section-row">
            <div data-ng-class="part.showThumbNailsSection()?'col-md-1':'col-md-0'">
              <!--{{part.thumbs}}-->
              <div class="custom-thumbnail" data-ng-if="thumb.show" data-ng-class="part.isThumbNailActive(thumb)?'active-thumb':'inactive-thumb'"
                data-ng-repeat="thumb in part.thumbs">
                <img ng-src="{{protocol}}://{{thumb.fileName}}" alt="" data-thumb="{{thumb}}" data-ng-class="part.isThumbNailActive(thumb)?'':'opaque'"
                  data-ng-click="part.changeActiveImage(thumb.fileName)">
              </div>
            </div>
            <div class="col-md-3">

              <div class="custom">
                <div class="">
                  <div class="">
                    <div id="active-pic">
                      <a href="#" class="">
                        <!-- <img src="assets/images/part-details/machine_main.jpg" alt="125x125" zoom-index="5" lens-dimensions="{{part.lensDimensions}}"> -->
                        <!--<img src="assets/images/part-details/machine_main.jpg" alt="125x125" >-->
                        <image-zoom ng-src="{{part.activeThumb.url}}" show-zoom-section="{{part.activeThumb.zoom}}" zoom-index="5" lens-dimensions="{{part.lensDimensions}}"
                          container-dimensions="{{part.containerDimensions}}" protocol="{{protocol}}"></image-zoom>
                        <img src="{{part.activeThumb.url}}" class="img-for-print" />
                      </a>
                    </div>
                  </div>
                </div>
                <div data-ng-hide="part.hideForNow" class="row other-images">
                  <div class="col-sm-3">
                    <div class="">
                      <a href="#" class="thumbnail">
                        <img src="assets/images/part-details/machine1.jpg" alt="125x125">
                      </a>
                    </div>
                  </div>
                  <div class="col-sm-3">
                    <div class="">
                      <a href="#" class="thumbnail">
                        <img src="assets/images/part-details/machine2.jpg" alt="125x125">
                      </a>
                    </div>
                  </div>
                  <div class="col-sm-3">
                    <div class="">
                      <a href="#" class="thumbnail">
                        <img src="assets/images/part-details/machine3.jpg" alt="125x125">
                      </a>
                    </div>
                  </div>
                  <div class="col-sm-3">
                    <div class="">
                      <a href="#" class="thumbnail">
                        <img src="assets/images/part-details/machine3.jpg" alt="125x125">
                      </a>
                    </div>
                  </div>
                </div>
                <div class="panel panel-default elearn" data-ng-hide="part.hideForNow">
                  <div class="panel-body">
                    <div class="row">
                      <div class="col-sm-12">
                        <h4 class="section-title bottom">{{'PART.ELEARN' | translate}}</br>
                        </h4>
                        </hr>
                        <div class="catalog" data-ng-hide="part.hideForNow">
                          <!--<img src="/assets/images/part-details/icon_download.jpg" alt="">-->

                          <p><a href="#">{{'PART.CATALOG' | translate}}</a></p>
                          <p><a href="#">{{'PART.SERVICESMANNUAL' | translate}}</a></p>
                        </div>
                        <div class="part" data-ng-hide="part.hideForNow">
                          <!--<img src="/assets/images/part-details/icon_play.jpg" alt="">-->
                          <p><a href="#">{{'PART.INSTALLATION' | translate}}</a></p>
                          <p><a href="#">{{'PART.SPEC' | translate}}</a></p>
                        </div>
                        <div class="partlist" data-ng-hide="part.hideForNow">
                          <!--<img src="/assets/images/part-details/icon_globe.jpg" alt="">-->
                          <p><a href="#">{{'PART.TEXT1' | translate}}</a></p>
                          <p><a href="#">{{'PART.TEXT2' | translate}}</a></p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div data-ng-class="{'col-md-4' : part.showThumbNailsSection(), 'col-md-5' : !part.showThumbNailsSection(), 'ipad-desc-cont' : part.showAvblt}">
              <div class="withoutBorder">
                <div class="panel panel-default elearn" style="border:none">
                  <div class="panel-body resetPadding">
                    <div class='poster' style="display:none"></div>
                    <div class='partDetails'>
                      <header class="section-title part-name-title">

                        {{part.partData.partNumber}},&nbsp;{{part.partData.partDesc}}
                      </header>
                      <div class="row part-price-wrapper" data-ng-if="part.isPriceVisible">
                        <div class="col-md-5 unit-price">
                          <label>{{'PARTCARD.UNIT_PRICE_LBL' | translate}} <span>{{'PARTCARD.USD_TXT' | translate}} <b class="price-val">{{part.unitPrice | currency:""}} *</b></span></label>
                        </div>
                        <div class="col-md-7 core-unit-price">
                          <label data-ng-if="part.coreUnitDeposit > 0">{{'PARTCARD.CORE_UNIT_LBL' | translate}} <span>{{'PARTCARD.USD_TXT' | translate}} <b>{{part.coreUnitDeposit | currency:""}} *</b></span></label>
                        </div>
                        <div class="col-md-12 stk-price-note">
                          <div class="text-right">{{'PARTCARD.STK_PRICE_NOTE' | translate}}</div>
                        </div>
                      </div>
                      <label class="partDetailsTabDesc">{{'PART.DESCRIPTION' | translate}}
                  </label>
                      <label data-ng-if="part.partData.longDesc" class="partDesc" data-ng-bind="part.partData.longDesc">                    
                  </label>
                      <!--<label data-ng-if="!part.partData.longDesc" class="partDesc">
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.                    
                  </label>-->



                      <!--<label data-ng-if="part.hasSpecification(part.partData.attrs)" class="partDetailsTabDesc">Specification</label>
                  <table class="table">
                    <tbody>
                      <tr data-ng-repeat="(key,val) in part.partData.attrs">
                        <td>{{key}}</td>
                        <td>{{val}}</td>
                      </tr>
                    </tbody>
                  </table>-->
                      <!--<div class="btn-group scroll-to-btns">
                    <button class="btn" data-ng-click="part.goToSection('interchanges')" data-ng-if="part.hasInterchanges(part.partData.interchanges)">Interchanges</button>
                    <button class="btn" data-ng-click="part.goToSection('compatibility')" data-ng-if="part.hasCompatibility(part.partData.apps)">Compatibility Table</button>
                    <button class="btn" data-ng-click="part.goToSection('exploded-section')" data-ng-if="false">Exploded View</button>
                    <button class="btn" data-ng-click="part.goToSection('bom-table')" data-ng-if="part.partData.bom.length>0">BOM Components</button>
                  </div>-->
                      <div class="data-sheet">
                        <!--<div class="task">
                      <img src="assets/images/icon-download-PDF.GIF" alt="">
                      <a href="#">Download Part DataSheet</a>
                    </div>-->
                        <div class="text-center notify-msg" data-ng-if="part.isEmailSent">{{'POSTORDER.EMAIL.SUCCESS_MSG' | translate}}</div>
                        <div class="task share-part-via-email" id="sharePartViaEmail">
                          <a href="#" data-ng-click="part.shareViaEmail()" title="{{'PART.EMAIL' | translate}}"><i class="fa fa-envelope" aria-hidden="true"></i></a>
                        </div>
                        <div class="task">
                          <a href="#" print-directive print-element-id="partDetails" title="{{'PART.PRINT' | translate}}"><i class="fa fa-print"></i></a>
                        </div>
                      </div>
                      <!--<div class="panel learn partResultsBM">
                    <ul>
                      <li data-ng-if="part.hasCompatibility(part.partData.apps)"><a href="#">Compatibility Table</a></li>
                      <li><a href="#">Exploded View</a></li>
                      <li><a href="#">BOM Components</a></li>
                    </ul>
                  </div>-->
                      <label class="sales-desc" data-ng-bind="part.partData.salesDesc"></label>
                      <div data-ng-hide="part.hideForNow" class="panel">
                        <img src="assets/images/part-details/icon_partDetails.jpg" />
                        <ul class="lmsHub">
                          <li>{{'PART.HUBTEXT1' | translate}}</li>
                          <li>{{'PART.HUBTEXT2' | translate}}</li>
                        </ul>
                      </div>
                      <div class="partDetails bottom addTopSpacing"></div>
                      <div class="panel  elearn" data-ng-hide="part.hideForNow">
                        <div class="panel-body" data-ng-hide="part.hideForNow">
                          <span><b>{{'PART.TEXT3' | translate}}</b></span>
                          <div class="feature"> <img src="assets/images/part-details/machine_advanced.jpg" alt="" width="100" height="100" />
                            <p><a href="#">{{'PART.TEXT4' | translate}}</a> </p>
                          </div>
                        </div>
                      </div>

                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4 list-avail-container" ng-hide="part.showAvblt">
              <div class="row">

                <div class="col-xs-6 check-avail-ipad">
                  <div class="inline-div">
                    <form name="checkAvailability">
                      <button ng-show="part.showAvailable" class="btn btn-primary btn-md check-avail" ng-click="part.checkAvailability()">
                      {{'PART.CHECKAVBLT' | translate}}
                    </button>
                      <div ng-show="!part.showAvailable" ng-bind-html="part.showAvailableMsg" compile-directive class="checking-avlbt"></div>
                    </form>
                  </div>
                </div>
                <div class="col-xs-6 add-to-list-ipad" ng-hide="part.showAddedList">
                  <div class="row">
                    <div class="col-xs-12">
                      <button class="btn btn-primary btn-md add-to-list" ng-click="part.addToTempList(part.partData)" ng-if="!part.showLists" uib-tooltip='{{part.tooltip}}'
                        tooltip-placement="top" tooltip-is-open="part.tooltipOpen" ng-hover="part.tooltipOpen = true">
                    {{'PART.ADDTOLIST' | translate}}
                  </button>
                      <div class="btn-group" uib-dropdown ng-if="part.showLists" style="width:100%;">
                        <button uib-dropdown-toggle type="button" style="font-weight:600" class="add-to-list btn btn-primary btn-md" ng-click="part.showMyLists()"
                          uib-tooltip='{{part.tooltip}}' tooltip-placement="top" tooltip-is-open="part.tooltipOpen" ng-hover="part.tooltipOpen = true">
                        {{'PARTCARD.ADDTOLIST' | translate}}
                    </button>
                        <ul class="dropdown-menu mylist-dropdown-part-card" uib-dropdown-menu role="menu" aria-labelledby="mylist-dropdown-part-card">
                          <div class="pulldown-mylists">
                            <div class="select-text">{{'PRICINGANDAVAILABILITY.SELECT_LIST' | translate}}</div>

                            <ul>
                              <li data-ng-repeat="key in part.myLists">
                                <a ng-click="part.addToList(key.id, key.cartName)" href="#">{{key.cartName}}</a>
                              </li>
                              <li class="nodata-msg" ng-if="part.myLists.length === 0">
                                <i class="fa fa-2x fa-info-circle" aria-hidden="true"></i> {{'PRICINGANDAVAILABILITY.NO_LIST'
                                | translate}}
                              </li>

                            </ul>
                            <div class="create-list-div">
                              <a ng-click="part.createNewList()" href="#"> <i class="fa fa-plus" aria-hidden="true"></i>{{'PRICINGANDAVAILABILITY.CREATE_NEW_LIST' | translate}}</a>
                            </div>

                          </div>
                        </ul>
                      </div>
                    </div>
                  </div>
                  <div class="row" ng-if="part.selectedList">
                    <div class="col-xs-12 list-added-container">

                      <p><i class="fa fa-check" aria-hidden="true"></i>Added to "<b>{{part.selectedList}}</b>" list. <a href="/mylist"
                          style="font-weight:bold;">{{'PARTCARD.GOTOLIST' | translate}}</a></p>
                    </div>
                  </div>

                </div>
                <div class="col-xs-6 add-to-list-ipad" ng-show="part.showAddedList">
                  <div class="list-added-list">
                    <div class="row add-success">
                      <i class="fa fa-check" aria-hidden="true"></i>
                      <p>{{'PARTCARD.ADDEDTOLIST' | translate}}</p>
                    </div>
                    <div class="row">
                      <div class="col-xs-6 save-list-col">
                        <button class="btn btn-primary btn-sm" ng-click="part.saveList()">{{'PARTCARD.SAVELIST' | translate}}</button>
                      </div>
                      <div class="col-xs-6 share-list-col">
                        <button class="btn btn-primary btn-sm" ng-click="part.shareList()">{{'PARTCARD.SHARELIST' | translate}}</button>
                      </div>

                    </div>
                    <div class="row details">
                      <p>{{'ERRORMSG.NOTSELETEDITEMFORNOTLOGGED' | translate}}</p>
                    </div>
                  </div>
                </div>
              </div>


            </div>
            <div class="col-md-4 availability-container" ng-show="part.showAvblt">
              <availability-directive change="part.change('shwMsg')" part-qty="part.qty" current-user="part.currentUser" cat-path="{{part.partData.catPath}}"
                part-cats="{{part.partData.categories}}" part-number="{{part.partData.partNumber}}" part-name="{{part.partData.partDesc}}"
                part-obj="{{part.partData}}"></availability-directive>
              <div class="warranty pull-right" data-ng-hide="part.hideForNow">
                <div class="panel  elearn well">
                  <div class="panel-body">
                    <div class="row">
                      <div class="Warranty-Matrix">
                        <h5>{{'PART.WARRENTY' | translate}}</h5>
                        <div data-ng-hide="part.hideForNow">
                          {{'PART.TEXT5' | translate}}
                        </div>
                        <br/>
                        <a href="#">{{'PART.WARRENTYMATRIX' | translate}}</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div ng-hide="true" class="row top-section-row">
            <label class="partDetailsTabDesc">{{'PART.MDS' | translate}}</label>
            <div class="container-fluid spec-n-model">
              <div class="col-md-5 spec-section">
                <table class="table">
                  <tbody>
                    <tr data-ng-repeat="(key,val) in part.partData.attrs">
                      <td>{{key}}</td>
                      <td>{{val}}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <div class="col-md-7 model-section">
                <img src="{{part.partData.modelDiagram}}" alt="">
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--/row-->


      <uib-tabset class="tabset" active="active" justified="false">
        <!--<uib-tab class="tab" index="0" heading="Static title">Static content</uib-tab>
    <uib-tab index="$index + 1" ng-repeat="tab in tabs" heading="{{tab.title}}" disable="tab.disabled">
      
    </uib-tab>-->
        <uib-tab class="tab" index="1">
          <uib-tab-heading>{{'PART.SMDTAB' | translate}}

          </uib-tab-heading>
          <div class="container-fluid spec-n-model">
            <div class="col-md-5 spec-section">
              <table class="table">
                <tbody>
                  <tr data-ng-repeat="(key,val) in part.partData.attrs">
                    <td>{{key}}</td>
                    <td>{{val}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
            <!--The below commented code is for showing model diagram image, once good images are coming, they'll work.-->
            <div class="col-md-1">
              <div class="custom-thumbnail" data-ng-if="modal.show" data-ng-class="part.isThumbNailActive(modal, 1)?'active-thumb':'inactive-thumb'"
                data-ng-repeat="modal in part.modalImage">
                <img ng-src="{{protocol}}://{{modal.fileName}}" alt="" data-thumb="{{modal}}" data-ng-class="part.isThumbNailActive(modal)?'':'opaque'"
                  data-ng-click="part.changeActiveImage(modal.fileName,1)">
              </div>
            </div>
            <div class="col-md-6 model-section">
              <img class="img-responsive" id="modal-image" data-ng-show="part.activeModal.url" ng-src="{{protocol}}://{{part.activeModal.url}}"
                alt="">
            </div>
            <!--The above commented code is for showing model diagram image, once good images are coming, they'll work.-->
          </div>
        </uib-tab>
        <uib-tab class="tab" index="2" data-ng-if="part.hasCompatibility(part.partData.apps)">
          <uib-tab-heading>{{'PART.CWATAB' | translate}}

          </uib-tab-heading>
          <div class="container-fluid" data-ng-include="'app/part/compatibility-table.html'"></div>
        </uib-tab>
        <uib-tab class="tab" index="3" data-ng-if="part.partData.bom.length>0">
          <uib-tab-heading>{{'PART.EVBOMTAB' | translate}}

          </uib-tab-heading>
          <div class="container-fluid">
            <table class="table">
              <thead>
                <tr>
                  <th>{{'PART.BOMNO' | translate}}</th>
                  <th>{{'PART.LEVEL' | translate}}</th>
                  <th>{{'PART.COMPONENTPARTNO' | translate}}</th>
                  <th>{{'PART.COMPONENT' | translate}}</th>
                  <th>{{'PART.QTY' | translate}}</th>
                </tr>
              </thead>
              <tbody>
                <tr dn data-ng-repeat="bom in part.partData.bom">
                  <td><span data-ng-bind="bom.no" ng-show="bom.no"></span></td>
                  <td><span data-ng-bind="bom.level" ng-show="bom.level"></span></td>
                  <td>
                    <a ng-if="bom.name" ng-href="{{part.rootUrl}}/part/partnum/?val={{bom.partNumber}}" target="_blank" data-ng-bind="bom.partNumber"></a>
                    <span ng-if="!bom.name" data-ng-bind="bom.partNumber"></span>
                  </td>
                  <td data-ng-bind="bom.name"></td>
                  <td data-ng-bind="bom.quantity"></td>
                </tr>
              </tbody>
            </table>
            <!--The below commented code is for showing BOM image, once good images are coming, they'll work.-->
            <div class="col-md-12">
              <div class="col-md-1">
                <div class="custom-thumbnail" data-ng-if="bImage.show" data-ng-class="part.isThumbNailActive(bImage, 2)?'active-thumb':'inactive-thumb'"
                  data-ng-repeat="bImage in part.bomImage">
                  <img ng-src="{{protocol}}://{{bImage.fileName}}" alt="" data-thumb="{{bImage}}" data-ng-class="part.isThumbNailActive(bImage)?'':'opaque'"
                    data-ng-click="part.changeActiveImage(bImage.fileName,2)">
                </div>
              </div>
              <div class="col-md-11">
                <img id="bom-image" data-ng-show="part.activeBom.url" ng-src="{{protocol}}://{{part.activeBom.url}}" class="img-responsive" />
              </div>
            </div>
            <!--The above commented code is for showing BOM image, once good images are coming, they'll work.-->
          </div>
        </uib-tab>
        <!-- <uib-tab class="tab" index="4" data-ng-if="part.hasInterchanges(part.partData.interchanges) && part.hideForNow"> -->
        <uib-tab class="tab" index="4" data-ng-if="part.hasInterchanges(part.partData.interchanges)">
          <uib-tab-heading>
            {{'PART.INTERCHANGES' | translate}}
          </uib-tab-heading>
          <div class="container-fluid" data-ng-include="'app/part/interchanges-new.html'">
          </div>
        </uib-tab>
      </uib-tabset>

    </div>
  </div>
</div>

<div id="printSection">
</div>