<div class="share-list">
    <form class="form" ng-submit="SLC.share()" name="shareOrderListForm" novalidate ng-show="!SLC.isSuccess">
        <div class="row">
            <div class="col-xs-10">
                <h4>{{'SHAREORDERLIST.SHARE' | translate}} <b>{{SLC.listName}}</b> {{'SHAREORDERLIST.VIA_EMAIL' | translate}}</h4>
            </div>
            <div class="col-xs-2">
                <a href="#" ng-click="SLC.close(false)" class="pull-right"><img ng-src="/assets/images/close-icon.png" alt="" src="/assets/images/close-icon.png"></a>
            </div>
        </div>
        <div class="form-group">
            <label>{{'SHAREORDERLIST.TOADDRESSLABEL' | translate}}</label>
            <a href="#" class="pull-right clear-lnk" ng-click="SLC.clearEmailTxtArea()">{{'SHAREORDERLIST.CLR' | translate}}</a>
            <textarea class="form-control" name="shareEmailIds" placeholder="{{ 'EMAIL.MULTIEMAILPLACEHOLDER' | translate}}" rows="4" ng-model="SLC.userIds" data-ng-change="SLC.removeError()" id="shareToEmailIds" autofocus required></textarea>
            <p data-ng-show="SLC.invalid" class="err-txt text-right">{{'POSTORDER.EMAIL.FORM_ERR_MSG' | translate}}</p>
        </div>
        <div class="form-group">
            <label data-ng-click="SLC.hideShippedItems()" data-ng-model="SLC.copyRequired" uib-btn-checkbox class="checkbox-label">
                <i class="fa" ng-class="SLC.copyRequired ? 'fa-check-square' : 'fa-square-o' "></i>{{ 'EMAIL.COPYME' | translate}}
            </label>
        </div>
        <div class="form-group btn-control">
            <button class="btn btn-primary" type="submit">{{'SHAREORDERLIST.SND_EMAIL' | translate}}</button>
        </div>
    </form>
</div>
