.share-overlay {
    .modal-dialog{
        width: 686px;
    }
    .modal-content {
        background: #f6f6f6;
        border-radius: 3px;
    }
    .share-list {
        padding: 30px;
        h4 {
            float: left;
            margin: 0px;
            padding: 0px;
            line-height: normal;
            font-weight: 300;
            font-size: 30px;
            color: #9b9b9b;
            margin-bottom: 40px;
            line-height: 30px;
            b{
                font-weight: 400;
            }
        }
        .row {
            margin-bottom: 20px;
            .checkbox {
                margin: 0px;
            }
            .alert {
                margin: 0px;
            }
        }
        .row-bottom-mg {
            margin-bottom: 10px;
        }
        .form-group.btn-control{
            margin-bottom: 0;
            text-align: right;
        }
        .fa-check-circle {
            font-size: 30px;
            color: #3fb300;
        }
        p {
            font-size: 18px;
            color: #646464;
            font-weight: 600px;
        }
        label {
            color: #b3b3b3;
            font-weight: normal;
            font-size: 14px;
            margin-left: 5px
        }
        [placeholder] {
            font-size: 13px;
            // color: #9e9e9e;
            // font-weight: 400;
        }
        a.clear-lnk {
            color: $active_link_color;
            font-size: 12px;
            font-weight: 600;
            text-decoration: none;
            outline: none;
            margin-right: 10px;
        }
        textarea {
            resize: none;
            padding: 12px 15px;
            border-radius: 3px;
            height: 70px;
            // border: 1px solid #ededed;
            // box-shadow: none;
            &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
                color: #bcbcbc;
                font-size: 13px;
            }
            &::-moz-placeholder { /* Firefox 19+ */
                color: #bcbcbc;
                font-size: 13px;
            }
            &:-ms-input-placeholder { /* IE 10+ */
                color: #bcbcbc;
                font-size: 13px;
            }
            &:-moz-placeholder { /* Firefox 18- */
                color: #bcbcbc;
                font-size: 13px;
            }
        }
        .row-margin-top {
            margin-top: -15px;
        }
        .btn-primary {
            height: 32px;
            background: $btn_primary_bgcolor;
            border-radius: 3px;
            font-weight: 600;
            font-size: 13px;
            width: 114px;
            color: #fff;
            border-color: $btn_primary_border_color;
        }
        p.err-txt{
            text-align: right;
            margin-bottom: 0;
            font-weight: 600;
            font-size: 12px;
            color: #ff8a00;
            margin-top: 2px;
        }
        .checkbox-label{
            margin: 0 ;
            color: #7f7f7f;
            font-weight: 600;
            font-size: 12px;
            margin-left: 14px;
            .fa-square-o, .fa-check-square{
                color: #0093c6;
                font-size: 16px;
                margin-left: 0;
                position: relative;
                top: 2px;
                margin-right: 10px;
            }
            .fa-check-square{
                background-color: #ffffff;
            }
            &:hover{
                cursor: pointer;
            }
        }
    }
}
