<div class="container">
    <div class="no-data">
       <h1 class="text-center" style="font-size:20px;padding-top:50px"><i class="fa fa-exclamation-triangle" aria-hidden="true" style="color: #ff9d02; margin-right: 10px;"></i>
        <span style="font-size:18px; font-weight: 400;">{{'BACKORDER.NO_RECORD_FOUND' | translate}}</span>
       </h1>
    </div>
</div>