.image-gallery {
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 10000;
    background: rgba(0,0,0,0.3);
    .image-gallery-main {
        width: 100%;
        height: calc(100% - 100px);
        float: left; 
        position: relative;
        /*.image-gallery-header {
            width: 100%;
            height: 40px;
            float: left;
            position: absolute;
            left: 0;
            top: 0;
            z-index: 2;
            top: -40px;
            -webkit-transition: 350ms all ease-in-out;
            -moz-transition: 350ms all ease-in-out;
            -o-transition: 350ms all ease-in-out;
            transition: 350ms all ease-in-out;
            background: rgba(0,0,0,0.5);
        }
        .image-gallery-body {
            width: 100%;
            height: 100%;
            float: left;
            position: absolute;
            left: 0;
            top: 0;
            z-index: 0;
        }

        .image-gallery-header-show {
            top: 0px;
        }*/

        .image-gallery-container {
            width: 0px;
            height: 0px;
            background: #fff;
            border-radius: 4px;
            box-shadow: rgba(0,0,0,0.5) 0px 0px 20px;
            position: absolute;
            left: 0;
            top: 0;
            bottom: 0;
            right: 0;
            margin: auto;
            
            -webkit-transition: 350ms all ease-in-out;
            -moz-transition: 350ms all ease-in-out;
            -o-transition: 350ms all ease-in-out;
            transition: 350ms all ease-in-out;
            .image-gallery-head {
                width: 100%;
                height: 40px;
                float: left;
                h3 {
                    margin: 0px;
                    padding: 0px;
                    float: left;
                    margin: 10px;
                    font-size: 15px;
                    color: #bdbdbd;
                    width: calc(100% - 100px);
                    overflow: hidden;
                    white-space: normal;
                    text-overflow: ellipsis;
                }
                img {
                    float: right;
                    margin: 10px;
                    height: 15px;
                    width: 15px;
                    cursor: pointer;
                }
            }
            .image-gallery-body {
                width: 100%;
                height: calc(100% - 40px);
                float: left;
                overflow: hidden;
                img {
                    margin: 10px;
                    float: left;
                }
            }
        }

    }
    .image-gallery-thumbnails {
        width: 100%;
        height: 100px;
        position: relative;
        float: left;
        background: #000;
        > span {
            width: 140px;
            height: 100px;
            background: transparent;
            float: left;
            cursor: pointer;
            img {
                width: calc(100% - 20px);
                height: calc(100% - 20px);
                margin: 10px;
                float: left;
            }
            &:hover {
                background: rgba(255,255,255,0.3);
            }
        }
        > span.image-gallery-selected {
            opacity: 0.5;
        }
    }

    

}