<div class="image-gallery" ng-if="image.show">

    <div class="image-gallery-main" ng-container-on-load>
        <!--<div class="image-gallery-header" ng-class="(image.showHeader)?'image-gallery-header-show':''">
        </div>
        <div class="image-gallery-body" ng-mouseover="image.showHeader = !image.showHeader"
         ng-mouseleave="image.showHeader = !image.showHeader">
            
        </div>-->
        <div class="image-gallery-container">
            <div class="image-gallery-head">
                <h3>{{image.name}}</h3>
                <img src="assets/images/close-icon.png" width="20" height="20" ng-click="image.hideGallery()"/>
            </div>
            <div class="image-gallery-body">
                <img src="{{image.img_url}}" ng-image-on-load/>
            </div>
        </div>
    </div>
    <div class="image-gallery-thumbnails">
        <span ng-repeat="items in image.thumbnails" ng-click="image.index = $index" ng-class="(image.index === $index)?'image-gallery-selected':''">
            <img src="{{items}}"/>
        </span>
    </div>
</div>