<loading-directive></loading-directive>
<div class="row invoice-list-container">
    <div class="col-md-12 col-sm-12">
        <div class="row form-group cal-div">
            <div class="col-md-2">
                <label>{{'INVOICELIST.FRM_DATE' | translate}} : </label>
                <p class="input-group date-wrapper">
                    <input type="text" class="form-control date-txt" show-button-bar="false" uib-datepicker-popup="{{postorder.format}}" ng-model="postorder.invoiceFromDate" is-open="postorder.invFrmDtPicker.opened" popup-placement="bottom-left" datepicker-options="{formatYear: 'yyyy',maxDate: postorder.invoiceToDate, minDate: postorder.invoiceMinFrmDate, showWeeks:false}" ng-required="true" />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default btn-calender" ng-click="postorder.openInvFrmDtPicker($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </p>
            </div>
            <div class="col-md-2">
                <label>{{'INVOICELIST.TO_DATE' | translate}} : </label>
                <p class="input-group date-wrapper">
                    <input type="text" class="form-control date-txt" show-button-bar="false" uib-datepicker-popup="{{postorder.format}}" ng-model="postorder.invoiceToDate" is-open="postorder.invToDtPicker.opened" popup-placement="bottom-left" datepicker-options="{formatYear: 'yyyy',maxDate: postorder.currentDate, minDate: postorder.invoiceFromDate, showWeeks:false}" data-ng-change="postorder.onChangeOfInvToDate()" ng-required="true" />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default btn-calender" ng-click="postorder.openInvToDtPicker($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </p>
            </div>
            <div class="col-md-6">
                <button type="button" class="btn btn-app btn-app-primary pull-left btn-get-list" data-ng-click="postorder.fetchInvoiceData(postorder.invoiceFromDate, postorder.invoiceToDate)">{{'INVOICELIST.GET_CREDIT_HIST' | translate}}</button>
            </div>
        </div>
        <div class="col-md-12 table-responsive" ng-if="(postorder.loadingData === false && postorder.invoiceListData && postorder.invoiceListData.length > 0)">
            <div class="download-report-wrapper">
                <div class="download-report pull-right" data-ng-click="postorder.downloadOrderTblData('TAB4')">
                    <i class="fa fa-file-excel-o" aria-hidden="true"></i> {{'PROFILE.DOWNLOAD_EXCEL' | translate}}
                </div>
            </div>
            <table class="table invoice-list-tbl">
                <thead>
                    <tr>
                        <th>
                            <div class="inline-style pull-left" ng-click="postorder.sort('invoiceNumber')">{{'INVOICE.INVOICE_NUMBER' | translate}}<span class="sort-arrow"><i class="fa fa-sort" aria-hidden="true"></i></span>
                            </div>
                        </th>
                        <th>
                            <div class="inline-style" ng-click="postorder.sort('invoiceDate')">{{'INVOICE.INVOICE_DATE' | translate}}<span class="sort-arrow"><i class="fa fa-sort" aria-hidden="true"></i></span>
                            </div>
                        </th>
                        <th>
                            <div class="inline-style" ng-click="postorder.sort('invoiceType')">{{'INVOICE.INVOICE_TYPE' | translate}} <span class="sort-arrow"><i class="fa fa-sort" aria-hidden="true"></i></span>
                            </div>    
                        </th>
                        <th>
                            <div class="inline-style pull-left" ng-click="postorder.sort('invoiceTypeDescr')">{{'INVOICE.INVOICE_DESC' | translate}} <span class="sort-arrow"><i class="fa fa-sort" aria-hidden="true"></i></span>
                            </div>    
                        </th>
                    </tr>
                    <tr class="search-tr">
                        <th>
                            <div class="form-group fixed-width" data-ng-show="postorder.showSearchBox">
                                <input type="text" class="form-control" data-ng-model="postorder.invoiceFilter.invoiceNumber" placeholder="" ng-change="postorder._invSearch()">
                                <i class="glyphicon glyphicon-search"></i>
                            </div>
                        </th>
                        <th>
                            <div class="form-group fixed-width" data-ng-show="postorder.showSearchBox">
                                <input type="text" class="form-control" data-ng-model="postorder.invoiceFilter.invoiceDate" placeholder="" ng-change="postorder._invSearch()">
                                <i class="glyphicon glyphicon-search"></i>
                            </div>
                        </th>
                        <th>
                            <div class="form-group fixed-width" data-ng-show="postorder.showSearchBox">
                                <input type="text" class="form-control" data-ng-model="postorder.invoiceFilter.invoiceType" placeholder="" ng-change="postorder._invSearch()">
                                <i class="glyphicon glyphicon-search"></i>
                            </div>
                        </th>
                        <th>
                            <div class="form-group fixed-width" data-ng-show="postorder.showSearchBox">
                                <input type="text" class="form-control" data-ng-model="postorder.invoiceFilter.invoiceTypeDescr" placeholder="" ng-change="postorder._invSearch()">
                                <i class="glyphicon glyphicon-search"></i>
                            </div>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="obj in postorder.invListDataClient | orderBy:postorder.sortKey:postorder.reverse | 
                    slice:((postorder.currentPage-1)*postorder.rowPerPage):((postorder.currentPage)*postorder.rowPerPage)">
                        <td class="text-left">
                            {{obj.invoiceNumber}}
                        </td>
                        <td class="text-left">{{obj.invoiceDate}}</td>
                        <td class="text-left">{{obj.invoiceType}}</td>
                        
                        <td class="text-left">{{obj.invoiceTypeDescr}}
                        </td>
                    </tr>
                    <tr data-ng-if="!(postorder.invListDataClient.length > 0)">
                        <td colspan="6"><div ng-include="'app/post-order/exceptionTemplates/noDataAvailable.html'"></div></td>
                    </tr>
                </tbody>
            </table>
            <ul uib-pagination boundary-links="true" total-items="postorder.totalInvoices" max-size="postorder.maxpages" ng-model="postorder.currentPage" ng-click="postorder.pageChanged()" class="pagination-sm" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></ul>
        </div>
        <div class="row invoice-list-container"  ng-if="!(postorder.loadingData === false && postorder.invoiceListData && postorder.invoiceListData.length > 0)">
            <div ng-include="'app/post-order/exceptionTemplates/noDataAvailable.html'"></div>
        </div>
    </div>
</div>     
  
      