.invoice-details-container{
   
    .header-table.invoice-header{
         width:100%;
         margin-top:10px;
        th{
            width:14%
        }
        td{
            width:14%;
            padding: 10px 10px;
            font-size:13px;
        }
    }
    .table-responsive{ 
    table{
        tfoot{
            tr.tr-total td{
                padding-bottom:5px;
            }
            tr{
                td{
                    border-color:#FFF;
                    
                }
            }
            tr.total-summary{
                td{
                padding-top:5px;
                padding-bottom:5px;
                }
            }
        }
    }
    }
}