<div id="invoicePopUp" class="modal-wrapper">
    <div id="printSection">
    </div>
    <div class="text-center notify-msg" data-ng-show="invoiceCtrl.isEmailSent">{{'POSTORDER.EMAIL.SUCCESS_MSG' | translate}}</div>
    <div class="invoice">
        <div class="wrapper">
            <div class="">
                <div class="row">
                    
                    <div class="col-md-12">
                        <!--<div class="modal-header bg-default">
                            <div class="row">
                                <div class="col-md-2 pull-right text-right">
                                    <i class="fa fa-print" aria-hidden="true" print-directive print-element-id="printThisElement"></i>
                                     <i class="fa fa-times-circle-o closebtn" aria-hidden="true" ng-click="invoiceCtrl.cancel()"></i>
                                   

                                </div>
                            </div>
                        </div>-->
                        

                        <section id="printThisElement" class="invoice-block">
                            <div class="row">
                                <div class="">
                                    <p class="tenent-name">
                                        <!-- {{'INVOICE.INV_COMP_NAME' | translate}} -->
                                    </p>
                                </div>
                            </div>
                            <div class="email-parent-wrapper text-right">
                                <div uib-dropdown class="email-container" is-open="invoiceCtrl.isEmailOpen" auto-close="outsideClick">
                                    <a href="" id="emailDeliveryNumber" uib-dropdown-toggle data-ng-mouseover="" data-ng-click="invoiceCtrl.openEmailContainer($event)" title="{{'POSTORDER.EMAIL.LABEL_EMAIL' | translate}}">
                                        <i class="fa fa-envelope" aria-hidden="true"></i> 
                                    </a>
                                    <div class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="emailDeliveryNumber">
                                        <h2>{{ 'POSTORDER.EMAIL.INV_HEAD1' | translate}}<b>{{invoiceCtrl.selectedInvoiceId}}</b>{{ 'POSTORDER.EMAIL.INV_HEAD2' | translate}}
                                            <a class="close-overlay pull-right" data-ng-click="invoiceCtrl.isEmailOpen = false" data-dismiss="modal" href="#">
                                                <img ng-src="/assets/images/close-icon.png" alt="" src="/assets/images/close-icon.png">
                                            </a>
                                        </h2>
                                        <form name="emailForm" novalidate>
                                            <p data-ng-show="invoiceCtrl.isSentEmailFailed" class="text-center top-err">{{'POSTORDER.EMAIL.ERR_MSG' | translate}}</p>
                                            <div class="form-group form-grp-txtarea">
                                                <label for="emailList">{{'POSTORDER.EMAIL.EMAIL_TO' | translate}}</label>
                                                <a href="" class="pull-right clear-email" data-ng-click="invoiceCtrl.emailIdList = ''; invoiceCtrl.isInvalidEmailList = false;">CLEAR</a>
                                                <textarea class="form-control" name="emailList" placeholder="{{ 'EMAIL.MULTIEMAILPLACEHOLDER' | translate}}" rows="3" data-ng-model="invoiceCtrl.emailIdList" data-ng-change="invoiceCtrl.onChangeOfEmailList()" id="emailList" autofocus required></textarea>
                                                <p data-ng-show="invoiceCtrl.isInvalidEmailList" class="err-txt text-right">{{'POSTORDER.EMAIL.FORM_ERR_MSG' | translate}}</p>
                                            </div>
                                            <div class="form-group">
                                                <label data-ng-click="sharepart.selectCopiedInv()" data-ng-model="invoiceCtrl.areYouCopiedInv" uib-btn-checkbox class="checkbox-label">
                                                    <i class="fa" ng-class="invoiceCtrl.areYouCopiedInv ? 'fa-check-square' : 'fa-square-o' "></i>{{ 'EMAIL.COPYME' | translate}}
                                                </label>
                                            </div>
                                            <div class="form-group btn-control">
                                                <button type="submit" class="btn btn-app btn-app-primary pull-right"  ng-click="invoiceCtrl.sendInvoiceViaEmail(invoiceCtrl.selectedInvoiceId)">{{'POSTORDER.EMAIL.BTN_TXT' | translate}}</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <div class="close-block">
                                <span class="col-md-2 text-right print-action" print-directive print-element-id="printThisElement">
                                    <span><i class="fa fa-print" aria-hidden="true" title="{{'INVOICE.PRINT_INV' | translate}}"></i></span>
                                    <!--<span class="print-lbl">{{'INVOICE.PRINT_INV' | translate}}</span>-->
                                </span>
                                <a class="close-overlay pull-right" ng-click="invoiceCtrl.cancel()" href="#">
                                    <img ng-src="/assets/images/close-icon.png" alt="" src="/assets/images/close-icon.png">
                                </a>
                            </div>
                                
                            <div >
                                <table class="invoice-header-tbl">
                                    <tr>
                                        <td class="td-03 td-logo">
                                            <img src="{{invoiceCtrl.websiteLogo}}" alt="">
                                        </td>
                                        <td class="td-address">
                                            <address>
                                                <div class="comp-name">{{invoiceCtrl.tenantAddress.companyName}}</div>
                                                <div class="address-line1">{{invoiceCtrl.tenantAddress.addressLine1}}</div>
                                                <div class="address-line2">{{invoiceCtrl.tenantAddress.addressLine2}}</div>
                                                <div class="contact-no">{{invoiceCtrl.tenantAddress.contactNo}}</div>
                                                <div class="email-address">{{invoiceCtrl.tenantAddress.emailAddress}}</div>
                                                <div class="site-address">{{invoiceCtrl.tenantAddress.websiteAddress}}</div>
                                            </address>
                                        </td>
                                        <td class="td-03 reprint">
                                            <h4 class="text-uppercase  invoice-header">{{'INVOICE.INV_HEAD' | translate}}</h4>
                                    <h6 class="text-uppercase ">{{'INVOICE.REPRINT' | translate}}</h6>
                                        </td>
                                        <td class="td-03 header-table">
                                            <div class="table">
                                        <table class="first-table">
                                            <tbody>
                                                <!--<tr>
                                                    <td>{{'INVOICE.DATE' | translate}}:</td>
                                                    <td></td>
                                                </tr>-->
                                                <tr>
                                                    <td>{{'INVOICE.CUST_NUM' | translate}}:</td>
                                                    <td>{{invoiceCtrl.invoiceData.invoiceSummary.customerId}}</td>
                                                </tr>
                                                <tr>
                                                    <td>{{'INVOICE.SHIP_TO_NUM' | translate}}:</td>
                                                    <td>{{invoiceCtrl.invoiceData.invoiceSummary.shipToAddress.customerId}}</td>
                                                </tr>
                                                <tr>
                                                    <td>{{'INVOICE.ORDER_NUMBER' | translate}}:</td>
                                                    <td>{{invoiceCtrl.invoiceData.invoiceSummary.orderNo}}</td>
                                                </tr>
                                                <!--<tr>
                                                    <td>{{'INVOICE.ORD_DATE' | translate}}:</td>
                                                    <td>{{invoiceCtrl.invoiceData.invoiceSummary.orderCreateDate}}</td>
                                                </tr>-->
                                                <tr>
                                                    <td>{{'INVOICE.INV_NUM' | translate}}:</td>
                                                    <td>{{invoiceCtrl.selectedInvoiceId}}</td>
                                                </tr>
                                                <tr>
                                                    <td>{{'INVOICE.DEALER_PO' | translate}}:</td>
                                                    <td></td>
                                                </tr>
                                                <tr>
                                                    <td>{{'INVOICE.DEALER_CODE' | translate}}:</td>
                                                    <td></td>
                                                </tr>
                                                <tr>
                                                    <td>{{'INVOICEDETAILS.TRACKING_NUM' | translate}}:</td>
                                                    <td> {{invoiceCtrl.invoiceData.invoiceDtl[0].trackingNo}}</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="2">
                                            <div class="shipment-number">
                                                <span class="label"> {{'INVOICE.SHIPMENT_NUM' | translate}}:</span>
                                                <span class="value">  {{invoiceCtrl.invoiceData.invoiceSummary.shipNumber}}</span>
                                            </div>
                                        </td>
                                    </tr>
                                </table>
                               
                            </div>
                            <div class="row">
                                <div class="">
                                    <!--<div class="shipment-number">
                                       <span class="label"> {{'INVOICE.SHIPMENT_NUM' | translate}}:</span>
                                       <span class="value">  {{invoiceCtrl.invoiceData.invoiceSummary.shipNumber}}</span>
                                     </div>-->
                                </div>
                            </div>
                            <div class="row billinfo">
                                <table class="table">
                                    <tr>
                                        <td>
                                            <div class="row">
                                                <label class="col-md-2 label">{{'INVOICE.SOLDTO' | translate}}:</label>
                                                <div class="col-md-10 value">
                                                    <div>{{invoiceCtrl.invoiceData.invoiceSummary.billToAddress.customerName}}</div>
                                                    <div>
                                                        {{invoiceCtrl.invoiceData.invoiceSummary.billToAddress.address1}} {{invoiceCtrl.invoiceData.invoiceSummary.billToAddress.address2}}
                                                    </div>
                                                    <div>
                                                        {{invoiceCtrl.invoiceData.invoiceSummary.billToAddress.city}} 
                                                        {{invoiceCtrl.invoiceData.invoiceSummary.billToAddress.state}} {{invoiceCtrl.invoiceData.invoiceSummary.billToAddress.zip}}
                                                    </div>
                                                   
                                                </div>
                                            </div>
                                        </td>
                                        <td class="td-03">
                                            &nbsp;&nbsp;
                                        </td>
                                        <td>
                                            <div class="row">
                                                <label class="col-md-2 label">{{'INVOICE.SHIPTO' | translate}}:</label>
                                                <div class="col-md-10 value1">
                                                    <div>{{invoiceCtrl.invoiceData.invoiceSummary.shipToAddress.customerName}}</div>
                                                    <div>
                                                        {{invoiceCtrl.invoiceData.invoiceSummary.shipToAddress.address1}} {{invoiceCtrl.invoiceData.invoiceSummary.shipToAddress.address2}}
                                                    </div>
                                                    <div>
                                                        {{invoiceCtrl.invoiceData.invoiceSummary.shipToAddress.city}} {{invoiceCtrl.invoiceData.invoiceSummary.shipToAddress.state}} {{invoiceCtrl.invoiceData.invoiceSummary.shipToAddress.zip}}
                                                    </div>
                                                    
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                            <div class="row">
                                <div class="col-md-12 table-responsive">
                                    <table class="table table-condensed">
                                        <thead>
                                            <tr>
                                                <th >{{'INVOICE.INVOICE_DATE' | translate}}</th>
                                                <th>{{'INVOICE.CUSTOMER_PO' | translate}}</th>
                                                <th>{{'INVOICE.TERMS' | translate}}</th>
                                                <th>{{'INVOICE.SHIP_VIA' | translate}}</th>
                                                <!--<th>{{'INVOICE.PICK_NUM' | translate}}</th>-->
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr class="value">
                                                <td>{{invoiceCtrl.invoiceData.invoiceDtl[0].invoiceDate}}</td>
                                                <td>{{invoiceCtrl.invoiceData.invoiceSummary.poNumber}}</td>
                                                <td>{{invoiceCtrl.invoiceData.invoiceSummary.termsDescr}}</td>
                                                <td>{{invoiceCtrl.invoiceData.invoiceDtl[0].carrierName}}</td>
                                                <!--<td>{{invoiceCtrl.invoiceData.invoiceDtl[0].pickupNumber}}</td>-->
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12 table-responsive">
                                    <table class="table table-condensed outerborder">
                                        <thead>
                                            <tr>
                                                <th class="head">{{'INVOICE.PART_NUM' | translate}}</th>
                                                <th class="head">{{'INVOICE.CUSTOMER_PART' | translate}}</th>
                                                <th class="head">{{'INVOICE.PART_DESC' | translate}}</th>
                                                <th class="text-right head">{{'INVOICE.QTY_ORD' | translate}}</th>
                                                <th class="text-right head">{{'INVOICE.QTY_SHIP' | translate}}</th>
                                                <th class="text-right head">{{'INVOICE.UNITPRICE' | translate}}</th>
                                                <th class="text-right head">{{'INVOICE.EXTENDEDPRICE' | translate}} </th>
                                            </tr>
                                        </thead>
                                        
                                        <tbody>
                                            <tr data-ng-repeat="obj in invoiceCtrl.invoiceData.invoiceDtl">
                                                <td>{{obj.partNo}}</td>
                                                <td></td>
                                                <td>{{obj.partDescr1}}</td>
                                                <td class="text-right">{{obj.qtyReq}}</td>
                                                <td class="text-right">{{obj.qtyShipped}}</td>
                                                <td class="text-right">
                                                    <span ng-show="invoiceCtrl.userPermissionsList.CheckPrice">
                                                    {{obj.unitPrice | currency:""}}
                                                    </span>
                                                </td>
                                                <td class="text-right">
                                                    <span ng-show="invoiceCtrl.userPermissionsList.CheckPrice">
                                                        {{obj.netPrice | currency:""}}
                                                    </span>
                                                 </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-7">
                                    <div class="form-group">
                                        <label class="col-md-2 label">{{'INVOICE.REMIT_TO' | translate}}:</label>
                                        <div class="col-sm-10 value1">
                                            <div>{{'INVOICE.DANA_LMTD' | translate}}</div>
                                            <div>{{'INVOICE.EXPEDITE_WAY' | translate}}</div>
                                            <div>{{'INVOICE.CHICAGO_IL' | translate}}</div>
                                            <div>60695-1700</div>
                                            <div>{{'INVOICE.US' | translate}}</div>
                                                                                      
                                            <!--<div>{{invoiceCtrl.invoiceData.invoiceSummary.shipToAddress.customerName}}</div>
                                            <div>{{invoiceCtrl.invoiceData.invoiceSummary.shipToAddress.address1}}</div>
                                            <div>{{invoiceCtrl.invoiceData.invoiceSummary.shipToAddress.address2}}</div>
                                            <div>{{invoiceCtrl.invoiceData.invoiceSummary.shipToAddress.city}} {{invoiceCtrl.invoiceData.invoiceSummary.shipToAddress.state}}</div>
                                            <div>{{invoiceCtrl.invoiceData.invoiceSummary.shipToAddress.zip}}</div>
                                            <div>{{invoiceCtrl.invoiceData.invoiceSummary.shipToAddress.country}}</div>-->
                                        
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-5">
                                    <div class="row invoice-total">
                                        <div class="col-md-8 text-right">
                                            <span class="label">{{'INVOICE.ITEM_TOTAL' | translate}}</span>
                                        </div>
                                        <div class="col-md-4 text-right">
                                            <span class="total-val" ng-show="invoiceCtrl.userPermissionsList.CheckPrice"> 
                                                {{invoiceCtrl.invoiceTotal.net | currency:""}}
                                            </span>
                                        </div>
                                    </div>
                                    
                                    <div class="row invoice-total">
                                        <div class="col-md-8 text-right">
                                            <span class="label">{{'INVOICE.FREIGHT_CHARGES' | translate}}</span>
                                        </div>
                                        <div class="col-md-4 text-right">
                                            <span class="total-val" ng-show="invoiceCtrl.userPermissionsList.CheckPrice"> 
                                                {{invoiceCtrl.invoiceData.invoiceSummary.freightCharge | currency:""}}
                                               
                                            </span>
                                        </div>
                                    </div>
                                    
                                    <div class="row invoice-total">
                                        <div class="col-md-8 text-right">
                                            <span class="label">{{'INVOICE.TOTAL' | translate}}</span>
                                        </div>
                                        <div class="col-md-4 text-right">
                                            <span class="total-val" ng-show="invoiceCtrl.userPermissionsList.CheckPrice"> 
                                                {{invoiceCtrl.invoiceTotal.totalInvoice | currency:""}}
                                            </span>
                                        </div>
                                    </div>
                                    
                                    <!--<div class="form-group text-right">
                                        <span class="label">{{'INVOICE.ITEM_TOTAL' | translate}}</span>
                                        <span class="total-val">
                                            <span ng-show="invoiceCtrl.userPermissionsList.CheckPrice"> 
                                                {{invoiceCtrl.invoiceTotal.net | currency:""}}
                                            </span>
                                        </span>
                                    </div>
                                    <div class="form-group text-right">
                                        <span class="label">{{'INVOICE.FREIGHT_CHARGES' | translate}}</span>
                                        <span class="total-val">
                                            <span ng-show="invoiceCtrl.userPermissionsList.CheckPrice"> 
                                                {{invoiceCtrl.invoiceData.invoiceSummary.freightCharge | currency:""}}
                                               
                                            </span>
                                         </span>
                                    </div>
                                    <div class="form-group text-right">
                                        <span class="label">{{'INVOICE.TOTAL' | translate}}</span>
                                        <span class="total-val">
                                            <span ng-show="invoiceCtrl.userPermissionsList.CheckPrice"> 
                                                {{invoiceCtrl.invoiceTotal.totalInvoice | currency:""}}
                                            </span>
                                        </span>
                                    </div>-->
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <p class="bottomdetail">
                                        {{'INVOICE.ALL_CLAIM_AGAINST' | translate}}<br />
                                        {{'INVOICE.CLAIM_MUST_MADE' | translate}}
                                    </p>
                                </div>
                            </div>
                        </section>
                    </div>
                    <div class="col-md-2"></div>
                </div>
            </div>
        </div>
    </div>


</div>
