#invoicePopUp {
    color:#393939;
    .invoice {
	margin-bottom: 30px;
    }
    .invoice-total{
        margin-bottom: 8px;
        .label{
            font-size:14px;
        }
        .text-right{
            padding-right: 0;
        }
    }
    .print-action{
        width: 35px;
        margin-right: 111px;
        text-align: left;
        color: $active_link_color;
        cursor: pointer;
    }
    .invoice-block{
        position:relative;
        .close-block{
            position: absolute;
            top:20px;
            right: 20px;
        }
    }
    .after-market{
        font-size: 13px;
        font-weight: 700;
        padding:5px 5px;
    }
    .invoice-header {
        color:#0096c9;
        font-size:18px;
        font-weight: 400;
    }
    .text-right {
        text-align: right;
    }
    
    .btn-app{
        height: 36px;
        font-weight: 600;
        font-size: 14px;
        border-radius: 3px;
        text-transform: uppercase;
        outline: 0;
        line-height: 16px;
    }
    .btn-app:focus, .btn-app.focus, .btn-app:active:focus, .btn-app:active.focus, .btn-app.active:focus, .btn-app.active.focus {
        outline: 0;
    }
    .btn-app-primary{
        background-color: $btn_primary_bgcolor;
        border-color: $btn_primary_border_color;
        color: #fff;
    }
    .btn-app-primary:focus, .btn-app-primary.focus, .btn-app-primary:hover {
        background-color: $btn_primary_focus_bgcolor;
        border-color: $btn_primary_focus_border_color;
        color: #fff;
    }
    .notify-msg{
        width: 307px;
        position: fixed;
        background: #fff;
        top: 47px;
        left: 0;
        right: 0;
        margin: 0 auto;
        z-index: 3000;
        border: 1px solid #3FB300;
        color: #FFFFFF;
        background: #3FB300;
        font-weight: 600;
        font-size: 14px;
        padding: 7px 10px;
        border-radius: 3px;
    }
    .email-parent-wrapper{
        position: absolute;
        right: 210px;
        top: 25px;
    }
    .email-container{
        display: inline-block;
        a{
            color: $active_link_color;
            text-decoration: none;
            i{
                font-size: 18px;
                margin-right: 5px;
            }
        }
        >.dropdown-menu{
            padding: 30px;
            width: 686px;
            background: #f6f6f6;
            left: -635px;
            top: 27px;
            border: 0;
            h2{
                margin-top: 0;
                margin-bottom: 40px;
                font-size: 30px;
                font-weight: 300;
                color: #9b9b9b;
                b{
                    font-weight: 400;
                }
                a{
                    img{
                        vertical-align: top;
                    }
                }
            }
            form{
                label{
                    color: #b3b3b3;
                    font-weight: normal;
                    font-size: 14px;
                    margin-left: 5px;
                }
                .form-group{
                    .clear-email{
                        color: $active_link_color;
                        font-size: 12px;
                        font-weight: 600;
                        text-decoration: none;
                        outline: none;
                        margin-right: 10px;
                    }
                    textarea {
                        resize: none;
                        padding: 12px 15px;
                        border-radius: 3px;
                        height: 70px;
                        // border: 1px solid #ededed;
                        // box-shadow: none;
                        &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
                            color: #bcbcbc;
                            font-size: 13px;
                        }
                        &::-moz-placeholder { /* Firefox 19+ */
                            color: #bcbcbc;
                            font-size: 13px;
                        }
                        &:-ms-input-placeholder { /* IE 10+ */
                            color: #bcbcbc;
                            font-size: 13px;
                        }
                        &:-moz-placeholder { /* Firefox 18- */
                            color: #bcbcbc;
                            font-size: 13px;
                        }
                    }
                    .checkbox-label{
                        margin: 0 ;
                        color: #7f7f7f;
                        font-weight: 600;
                        font-size: 12px;
                        margin-left: 14px;
                        .fa-square-o, .fa-check-square{
                            color: #0093c6;
                            font-size: 16px;
                            margin-left: 0;
                            position: relative;
                            top: 2px;
                            margin-right: 10px;
                        }
                        .fa-check-square{
                            background-color: #ffffff;
                        }
                        &:hover{
                            cursor: pointer;
                        }
                    }
                    p.err-txt{
                        text-align: right;
                        margin-bottom: 0;
                        font-weight: 600;
                        font-size: 12px;
                        color: #ff8a00;
                        margin-top: 3px;
                    }
                }
                .form-grp-txtarea{
                    margin-bottom: 10px;
                }
                .form-group.btn-control{
                    margin-bottom: 0;
                    text-align: right;
                    .btn{
                        .glyphicon{
                            margin-right: 5px;
                        }
                    }
                }
                p.top-err{
                    font-weight: 600;
                    color: #ff8a00;
                }
            }
            &:after{
                width: 0;
                height: 0;
                border-left: 10px solid transparent;
                border-right: 10px solid transparent;
                border-bottom: 10px solid #f6f6f6;
                content: "";
                top: -10px;
                right: 35px;
                position: absolute;
            }
        }
    }
    .row{
        margin-left: 0;
        margin-right: 0;
        .col-md-3, .col-md-2, .col-md-12{
            margin-left:0;
            padding-left:0;
        }
        .col-md-12{
            margin-right: 0;
            padding-right: 0;
        }
    }
    .closebtn{
        color:#FFFFFF;
         margin:6px;
         font-size:20px;
         cursor: pointer;
    }
    .total-val{
        font-size:16px;
        font-weight: 600;
    }
    .fa-print{
        font-size:18px;
        margin:6px;
        cursor: pointer;
    }
    table{
        border-collapse: collapse;
        background-color:#FFF;
        th{
            color: #acacac;
            font-weight: 600;
            
        }
         td{
            border-top:none;
        }
    }
    table > thead > tr > th{
        border-bottom: none;
    }
    table, th, td {
       // border: 1px solid #f1f1f1;
    }
    .billinfo{
        .table{
            margin-top:10px;
        }
        .label{
            text-align: left;
        }
    }
    .head {
           
            background-color: #fbfbfb;
            padding: 5px 10px;
            font-weight: 600;
            padding-top: 15px;
            padding-bottom: 15px;
        }
.wrapper{
	margin: 0 auto;

}
.tenent-name{
    font-size:13px;
    font-weight: 600;
    padding-top:30px;
}
.invoice-header-tbl{
    width:100%;
    td{
        vertical-align:top;
    }
}
.td-03.reprint{
    text-align: left;
    width: 171px;
    h6{
        padding-left: 20px;
    }
}
 .td-03 {
        width:33%;
        // text-align: center;
    }
    .td-04 {
        width:40%;
        // text-align: center;
    }
    .header-table{
        .td-03 {
            text-align: left;
        }
        
        .first-table{
            text-align: left;
            margin-left:60px;
            td {
                
                &:first-child {
                   font-size: 11px;
                   color:#acacac;
                   font-weight: 700;
                   padding: 3px;
                }
                &:last-child {
                   font-size: 12px;
                   color:#393939;
                   font-weight: 600;
                   padding: 3px;
                   
                }
            }
        }
    }
.wrapper header{
	background-color: black;

}
tr{
    td.td-logo{
        width: 120px;
    }
    td.td-address{
        address{
            div{
                font-size: 12px;
                line-height: 15px;
                color: #414141;
            }
            div.comp-name{
                font-weight: 700;
                font-size: 12px;
                line-height: 16px;
            }
        }
    }
}
.wrapper header h4{
	color: white;
	margin-left: 10px;
}
section{
	padding: 15px 20px;
	background-color: white;
	
}
table.outerborder {
    th{
    border:1px solid #f1f1f1;
    }
    td{
        border:1px solid #f1f1f1;
        padding:5px 10px;
    }
    

}

td{
	padding: 2px 5px;
}
.bottomdetail{
	margin-top: 30px;
	font-size: 12px;
}


    line-height: 1;
    button:disabled {
        background-color:#d2cfcf;
        color:black;
        border:0.5px solid #d2cfcf;
    }
 
 
    .modal-header {
        background-color: #000000;
        color:#FFFFFF;
        border-top-left-radius: $box_border_radius;
        border-top-right-radius: $box_border_radius;
        padding: 3px 25px;
        height:40px;
        .close{
          //margin-top:-18px;
        }
       
    }
    .shipment-number{
       .label{
           padding-left:0px;
       }
       
    }
    .label{
            color:#acacac;
            font-size:11px;
            font-weight: 700;
        }
        .value{
            color:#393939;
            font-size:14px;
            font-weight: 600;
        }
        .value1{
            color:#393939;
            font-size:13px;
            font-weight: 600;
        }
    
    .modal-body {
      color:#6e6e6e;
      padding: 0 27px 15px;
      .table > thead > tr > th {
          border-bottom: none;
          padding-top:0;
      }
      table{
        margin-bottom:0px;
       
        .selected-row{
          background-color: $modal_bg_color;
        }
      }

      
        
       
    }

    .modal-footer {
        border-top: 1px solid white;
        padding:10px 27px 27px;
       
    }
}
.modal.invoiceOverlay{
  top:2% !important;
}
.invoiceOverlay .modal-dialog {
    width: 900px;
    .modal-content{
        border-radius: 3px;
        section.invoice-block{
            border-radius: 3px;
        }
    }
}


@media screen {
    #printSection {
        display: none;
    }
}
@media print {
    body * {
        visibility:hidden;
    }
    #printSection, #printSection * {
        visibility:visible;
    }
    #printSection {
        position:absolute;
        left:0;
        top:0;
    }
    .invoice-header-tbl{
    width:100%;
    }   
    .label{
        border:none;
    }
    .close-block{
        display: none;
    }
    .email-parent-wrapper{
        display: none;
    }
    .td-03 {
        width:33%;
    }
     div{position:static !important; width:auto !important; margin:auto 0 !important;
 padding:0 !important; min-width:100% !important;}
 body, div, h1, h2, h3, p, th, td, 
a{color: #000 !important; background-color:#fff !important}
 body{min-width:640px !important;} 
   #invoicePopUp .shipment-number{
       margin-top:42px !important;
       .label{
           padding-left:0px;
       }
       
    }

}