<div class="container-fluid order-detail-container invoice-details-container">
    <div class="row">
        <div class="col-md-12">
            <ol class="breadcrumb">
                <li><a href="#">{{'BREADCRUMB.HOME' | translate}}</a></li>
                <li><a href="#" data-ng-click="invoicedetail.backtohistory()" >{{'BREADCRUMB.MYORDERS' | translate}}</a></li>
                <li class="active">{{'BREADCRUMB.INVOICEDETAILS' | translate}}</li>
            </ol>
        </div>
    </div>
    <loading-directive></loading-directive>
    <!--<div id="printSection">
    </div>-->
    <div class="po-tbl-wrapper" ng-if="invoicedetail.loadingData === false && invoicedetail.error === true">
        <div ng-include="'app/post-order/exceptionTemplates/noRecordFound.html'"></div>
    </div>
    <div class="row po-tbl-wrapper"  ng-if="invoicedetail.loadingData === false && invoicedetail.error === false">
        <div class="">
            <div class="po-details">
                <div class="row">
                    <div class="col-md-6">
                    <h1 class="my-oder-lbl"> {{'INVOICEDETAILS.I_DETAILS' | translate}}</h1>
                    </div>
                    <div class="col-md-6 pull-right">
                    <div class="row action-btn-div">
                        <!--<div class="col-md-9">
                            <button class="btn btn-app btn-app-primary pull-right" ng-click="invoicedetail.backtohistory()" type="button">BACK</button>
                        </div>
                        <div class="col-md-3 text-right">
                            <i class="fa fa-print" aria-hidden="true" print-directive print-element-id="order-detail-printable-area"></i>
                        </div>-->
                        <div class="col-md-12">
                            <button class="btn btn-app btn-app-primary pull-right" ng-click="invoicedetail.backtohistory()" type="button">{{'INVOICEDETAILS.BACK' | translate}}</button>
                        </div>
                        
                    </div>
                    </div>
                </div>
                <table class="address-table bdr">
                    <thead>
                        <tr>
                            <th class="head">
                                {{'INVOICEDETAILS.SOLDTO' | translate}}: <span class="address-to">{{invoicedetail.invoiceData.invoiceSummary.billToAddress.customerId}} </span>
                            </th>
                            <th class="head">
                                {{'INVOICEDETAILS.SHIPTO' | translate}}: <span class="address-to">{{invoicedetail.invoiceData.invoiceSummary.shipToAddress.customerId}}</span>
                            </th>
                            <th class="head">
                                {{'INVOICEDETAILS.BILLTO' | translate}}: <span class="address-to">{{invoicedetail.invoiceData.invoiceSummary.mailToAddress.customerId}}</span>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <address class="address bdr-r bdr-l">
                                    {{invoicedetail.invoiceData.invoiceSummary.billToAddress.customerName}}
                                        <div>
                                            {{invoicedetail.invoiceData.invoiceSummary.billToAddress.address1}} {{invoicedetail.invoiceData.invoiceSummary.billToAddress.address2}}
                                        </div>
                                        <div>{{invoicedetail.invoiceData.invoiceSummary.billToAddress.city}} 
                                            {{invoicedetail.invoiceData.invoiceSummary.billToAddress.state}} {{invoicedetail.invoiceData.invoiceSummary.billToAddress.zip}}
                                        </div>
                                </address>
                            </td>
                            <td>
                                <address class="address bdr-r">
                                    {{invoicedetail.invoiceData.invoiceSummary.shipToAddress.customerName}}
                                        <div>
                                            {{invoicedetail.invoiceData.invoiceSummary.shipToAddress.address1}} {{invoicedetail.invoiceData.invoiceSummary.shipToAddress.address2}}
                                        </div>
                                        <div>
                                            {{invoicedetail.invoiceData.invoiceSummary.shipToAddress.city}} 
                                            {{invoicedetail.invoiceData.invoiceSummary.shipToAddress.state}} {{invoicedetail.invoiceData.invoiceSummary.shipToAddress.zip}}
                                        </div>
                                </address>
                            </td>
                            <td>
                               <address class="address bdr-r">
                                    {{invoicedetail.invoiceData.invoiceSummary.mailToAddress.customerName}}
                                        <div>
                                            {{invoicedetail.invoiceData.invoiceSummary.mailToAddress.address1}} {{invoicedetail.invoiceData.invoiceSummary.mailToAddress.address2}}
                                        </div>
                                        <div>
                                            {{invoicedetail.invoiceData.invoiceSummary.mailToAddress.city}} 
                                            {{invoicedetail.invoiceData.invoiceSummary.mailToAddress.state}} 
                                            {{invoicedetail.invoiceData.invoiceSummary.mailToAddress.zip}}
                                        </div>
                                </address>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <table class="header-table bdr invoice-header">
                    <thead>
                        <tr>
                            <th class="head">
                                {{'INVOICEDETAILS.PRO_NUM' | translate}}
                            </th>
                            <th class="head">
                                {{'INVOICEDETAILS.ORD_NUM' | translate}}

                            </th>
                            <th class="head">
                                {{'INVOICEDETAILS.ORD_TYPE' | translate}}
                            </th>
                            <th class="head">
                                {{'INVOICEDETAILS.CARRIER' | translate}}
                            </th>
                            <th class="head">
                                {{'INVOICEDETAILS.TERMS' | translate}}
                            </th>
                            <th class="head">
                                {{'INVOICEDETAILS.ACCOUNT' | translate}}
                            </th>
                            <th class="head">
                                {{'INVOICEDETAILS.TRACKING_NUM' | translate}}
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                {{invoicedetail.invoiceData.invoiceSummary.processNumber}}
                            </td>
                            <td>
                               {{invoicedetail.invoiceData.invoiceSummary.orderNo}}
                            </td>
                            <td>
                                 {{invoicedetail.invoiceData.invoiceDtl[0].orderType}}
                            </td>
                            <td>
                                 {{invoicedetail.invoiceData.invoiceDtl[0].carrierName}}
                            </td>
                            <td>
                                {{invoicedetail.invoiceData.invoiceSummary.termsDescr}}
                            </td>
                            <td>
                               {{invoicedetail.invoiceData.invoiceSummary.accountNumber}}
                            </td>
                            <td>
                                {{invoicedetail.invoiceData.invoiceDtl[0].trackingNo}}
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            
            <div class="row">
                <div class="col-md-12 tab-container">
                    <div class="row">
                        <div class="col-md-12 table-responsive">
                            <table class="table table-stripped bdr">
                                <thead>
                                    <tr>
                                        <th><div class="inline-style">{{'INVOICEDETAILS.INV_NUM' | translate}}</div></th>
                                        <th><div class="inline-style text-right">{{'INVOICEDETAILS.INV_DATE' | translate}}</div></th>
                                        <th><div class="inline-style">{{'INVOICEDETAILS.PO_NUM' | translate}}</div></th>
                                        <th><div class="inline-style">{{'INVOICEDETAILS.PART_NUM' | translate}}</div></th>
                                        <th><div class="inline-style">{{'INVOICEDETAILS.DESC' | translate}}</div></th>
                                        <th>
                                            <div class="inline-style text-right">{{'INVOICEDETAILS.WEIGHT' | translate}}<br />({{'INVOICEDETAILS.UOM' | translate}})</div>
                                        </th>
                                        <th><div class="inline-style text-right">{{'INVOICEDETAILS.QTY_ORD' | translate}}</div></th>
                                        <th><div class="inline-style text-right">{{'INVOICEDETAILS.QTY_SHIPD' | translate}}</div></th>
                                        <th><div class="inline-style text-right">{{'INVOICEDETAILS.UNT_PRICE' | translate}}<br /> ({{'CURRENCY' | translate}})</div></th>
                                        <th><div class="inline-style text-right">{{'INVOICEDETAILS.EXT_PRICE' | translate}}<br /> ({{'CURRENCY' | translate}})</div></th>
                                    </tr>
                                </thead>
                                <tfoot>
                                    <tr class="tr-total">
                                        <td colspan="5" class="total-txt">{{'INVOICEDETAILS.ITEM_TOTAL' | translate}}</td>
                                        <td class="text-right">{{invoicedetail.invoiceTotal.totalWeight | number : 0}}</td>
                                        <td class="text-right">{{invoicedetail.invoiceTotal.totalqtyordered}}</td>
                                        <td class="text-right">{{invoicedetail.invoiceTotal.totalqtyshipped}}</td>
                                        <!--<td class="text-right">{{invoicedetail.invoiceTotal.total | currency:""}}</td>-->
                                        <td></td>
                                        <td class="text-right">
                                            <span ng-show="invoicedetail.userPermissionsList.CheckPrice">
                                            {{invoicedetail.invoiceTotal.net | currency:""}}
                                            </span>
                                        </td>
                                    </tr>
                                     <!--<tr class="tr-total">
                                        <td colspan="5" class="total-txt">{{'INVOICE.FREIGHT_CHARGES' | translate}}</td>
                                        <td class="text-right"></td>
                                        <td class="text-right"></td>
                                        
                                        <td></td>
                                        <td class="text-right">
                                            <span ng-show="invoicedetail.userPermissionsList.CheckPrice">
                                                {{invoicedetail.invoiceData.invoiceSummary.freightCharge | currency:""}}
                                            </span>
                                        </td>
                                        <td></td>
                                        <td></td>
                                    </tr>-->
                                    <tr class="tr-total total-summary ">
                                        <td colspan="9" class="total-txt">{{'INVOICE.FREIGHT_CHARGES' | translate}}</td>
                                       
                                        <td class="text-right">
                                            <span ng-show="invoicedetail.userPermissionsList.CheckPrice">
                                                {{invoicedetail.invoiceData.invoiceSummary.freightCharge | currency:""}}
                                            </span>
                                        </td>
                                    </tr>
                                     <tr class="tr-total total-summary">
                                        <td colspan="9" class="total-txt">{{'INVOICE.TOTAL' | translate}}</td>
                                        
                                        <td class="text-right">
                                            <span ng-show="invoicedetail.userPermissionsList.CheckPrice">
                                                {{invoicedetail.invoiceTotal.totalInvoice | currency:""}}
                                            
                                            </span>
                                        </td>
                                    </tr>
                                </tfoot>
                                <tbody>
                                    
                                    <tr ng-repeat="obj in invoicedetail.invoiceData.invoiceDtl">
                                        <td>
                                            <a href="" ng-click="invoicedetail.viewInvoice(obj.invoiceNo)">{{obj.invoiceNo}}</a>
                                            
                                            </td>
                                        <td class="text-right">{{obj.invoiceDate}}</td>
                                        <td>{{invoicedetail.invoiceData.invoiceSummary.poNumber}}</td>
                                        <td>{{obj.partNo}}</td>
                                        <td>{{obj.partDescr1}}</td>
                                        <td class="text-right">{{obj.weight | number :0}}</td>
                                        <td class="text-right">{{obj.qtyReq}}</td>
                                        <td class="text-right">{{obj.qtyShipped}}</td>
                                        <td class="text-right">
                                            <span ng-show="invoicedetail.userPermissionsList.CheckPrice">
                                            {{obj.unitPrice | currency:""}}
                                            </span>
                                        </td>
                                        <td class="text-right">
                                            <span ng-show="invoicedetail.userPermissionsList.CheckPrice">
                                                {{obj.netPrice | currency:""}}
                                            </span>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
