<!-- Author: Manjesh Kumar -->
<div class="container-fluid user-reports">
    <div class=" row parent-row">
        <div class="col-md-12 col-sm-12">
            <ol class="breadcrumb">
                <li><a href="/home" class="ng-binding">{{'BREADCRUMB.HOME' | translate}}</a></li>
                <li class="active ng-binding">{{'BREADCRUMB.REPORTS' | translate}}</li>
            </ol>
            <div class="reports-content">
                <h1>{{'PROFILE.REPORTS' | translate}}</h1>
                <uib-tabset active="active">
                    <uib-tab index="0" select="report.onTabSwitch('CUSTOMER')">
                        <uib-tab-heading>{{'PROFILE.D_CUSTOMER' | translate}}
                        </uib-tab-heading>
                        <div class="row search-container">
                            <div class="col-sm-8 col-md-8 col-sm-8 col-lg-8">
                                <div class="input-group">
                                    <input type="text" class="form-control" data-ng-model="report.searchByValue.custUsrTxt" placeholder="{{'PLACEHOLDERALL.SEARCHBUCUST' | translate}}"  aria-describedby="basic-addon1">
                                    <span class="input-group-addon" id="basic-addon1"><i class="fa fa-search" aria-hidden="true"></i></span>
                                </div>
                            </div>
                            <div class="col-sm-4 col-md-4 col-sm-4 col-lg-4">
                                <div class="download-report pull-right" data-ng-click="report.downloadReport('CUSTOMERUSER', 'customer-user-report.csv')">
                                    <i class="fa fa-file-excel-o" aria-hidden="true"></i> {{'PROFILE.DOWNLOAD_EXCEL' | translate}}
                                </div>
                            </div>
                        </div>
                        <div class="table-responsive">
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th data-ng-repeat=" header in report.danaCustomerProfilesData.header">{{'REPORT.CUST_USER.'+header | translate}}</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr data-ng-repeat="danauser in report.danaCustomerProfilesData.userdata | filter: report.searchByValue.custUsrTxt | slice:((report.paginationTbl.danaUsrTbl.currentPage-1)*report.paginationTbl.danaUsrTbl.itemsPerPage):((report.paginationTbl.danaUsrTbl.currentPage)*report.paginationTbl.danaUsrTbl.itemsPerPage)"">
                                        <td>{{danauser.customerNumber}}</td>
                                        <td>{{danauser.companyName}}</td>
                                        <td>{{danauser.dealerCode}}</td>
                                        <td>{{danauser.userId}}</td>
                                        <td>{{danauser.firstName}}</td>
                                        <td>{{danauser.lastName}}</td>
                                        <td>{{danauser.emailId}}</td>
                                        <td><span data-ng-bind="danauser.lastLogInDate"></span></td>
                                        <td>
                                            <span data-ng-if="danauser.acldata">{{danauser.acldata.CanFinalizeOrder}}</span>
                                            <span data-ng-if="!danauser.acldata">NO</span>
                                        </td>
                                        <td>
                                            <span data-ng-if="danauser.acldata">{{danauser.acldata.CanSeePrice}}</span>
                                            <span data-ng-if="!danauser.acldata">NO</span>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <div class="tbl-footer">
                                <div class="items-dropdown">
                                    <label> {{'common.DISPLAY' | translate}}</label>
                                    <select class="form-control" data-ng-change="report.onChangeOfDisplayQty('CUSTOMERUSER')" data-ng-model="report.paginationTbl.danaUsrTbl.itemsPerPage">
                                        <option ng-selected="true" value="10">10</option>
                                        <option value="20">20</option>
                                    </select>
                                </div>
                                <span class="tbl-info">{{report.paginationTbl.danaUsrTbl.currentPage}} - {{report.paginationTbl.danaUsrTbl.currentPage * report.paginationTbl.danaUsrTbl.itemsPerPage > report.paginationTbl.danaUsrTbl.totalItems ? report.paginationTbl.danaUsrTbl.totalItems : report.paginationTbl.danaUsrTbl.currentPage * report.paginationTbl.danaUsrTbl.itemsPerPage}} {{'common.OF' | translate}} {{report.paginationTbl.danaUsrTbl.totalItems}}</span>
                                <ul uib-pagination boundary-links="true" total-items="report.paginationTbl.danaUsrTbl.totalItems" items-per-page= "report.paginationTbl.danaUsrTbl.itemsPerPage" ng-model="report.paginationTbl.danaUsrTbl.currentPage" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;" ng-change="report.pageChangedDanaTbl()" max-size="report.paginationTbl.danaUsrTbl.maxSize" boundary-link-numbers="true" rotate="false"></ul>
                            </div>
                        </div>
                    </uib-tab>
                    <uib-tab index="1" select="report.onTabSwitch('SHOPUSER')">
                        <uib-tab-heading>{{'PROFILE.SHOP_USER' | translate}}
                        </uib-tab-heading>
                        <div class="row search-container">
                            <div class="col-sm-8 col-md-8 col-sm-8 col-lg-8">
                                <div class="input-group">
                                    <input type="text" class="form-control"  placeholder= "{{' PLACEHOLDERALL.SEARCHBYUSEID' |translate}}" data-ng-model="report.searchByValue.shopUsrTxt"  aria-describedby="basic-addon2">
                                    <span class="input-group-addon" id="basic-addon2"><i class="fa fa-search" aria-hidden="true"></i></span>
                                </div>
                            </div>
                            <div class="col-sm-4 col-md-4 col-sm-4 col-lg-4">
                                <div class="download-report pull-right" data-ng-click="report.downloadReport('SHOPUSER', 'shop-user-report.csv')">
                                    <i class="fa fa-file-excel-o" aria-hidden="true"></i> {{'ORDERDETAILS.DOWNLOAD_ORDER' | translate}}
                                </div>
                            </div>
                        </div>
                        <div class="table-responsive">
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th data-ng-repeat=" header in report.shopUsersProfilesData.header">{{'REPORT.SHOP_USER.'+header | translate}}</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr data-ng-repeat="shopuser in report.shopUsersProfilesData.userdata | filter: report.searchByValue.shopUsrTxt | slice:((report.paginationTbl.shopUsrTbl.currentPage-1)*report.paginationTbl.shopUsrTbl.itemsPerPage):((report.paginationTbl.shopUsrTbl.currentPage)*report.paginationTbl.shopUsrTbl.itemsPerPage)">
                                        <td>{{shopuser.userId}}</td>
                                        <td>{{shopuser.firstName}}</td>
                                        <td>{{shopuser.lastName}}</td>
                                        <td>{{shopuser.emailId}}</td>
                                        <td><span data-ng-bind="shopuser.lastLogInDate"></span></td>
                                    </tr>
                                </tbody>
                            </table>
                            <div class="tbl-footer">
                                <div class="items-dropdown">
                                    <label>{{'common.DISPLAY' | translate}}</label>
                                    <select class="form-control" data-ng-change="report.onChangeOfDisplayQty('SHOPUSER')" data-ng-model="report.paginationTbl.shopUsrTbl.itemsPerPage">
                                        <option ng-selected="true" value="10">10</option>
                                        <option value="20">20</option>
                                    </select>
                                </div>
                                <span class="tbl-info">{{report.paginationTbl.shopUsrTbl.currentPage}} - {{report.paginationTbl.shopUsrTbl.currentPage * report.paginationTbl.shopUsrTbl.itemsPerPage > report.paginationTbl.shopUsrTbl.totalItems ? report.paginationTbl.shopUsrTbl.totalItems : report.paginationTbl.shopUsrTbl.currentPage * report.paginationTbl.shopUsrTbl.itemsPerPage}} {{'common.OF' | translate}} {{report.paginationTbl.shopUsrTbl.totalItems}}</span>
                                <ul uib-pagination boundary-links="true" total-items="report.paginationTbl.shopUsrTbl.totalItems" items-per-page= "report.paginationTbl.shopUsrTbl.itemsPerPage" ng-model="report.paginationTbl.shopUsrTbl.currentPage" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;" ng-change="report.pageChangedShopTbl()" max-size="report.paginationTbl.shopUsrTbl.maxSize" boundary-link-numbers="true" rotate="false"></ul>
                            </div>
                        </div>
                    </uib-tab>
                </uib-tabset>
            </div>
        </div>
    </div>
</div>
