.user-reports {
    margin-top: 3px;
    background: $app_bg_color;
    .parent-row{
        padding-top: 0px;
        padding-bottom: 30px;
        >div{
            padding: 0;
        }
        .breadcrumb {
            background-color: #ffffff;
            font-weight: 600;
            margin-bottom: 0;
            padding: 8px 20px;
            border-radius: 0;
            li + li:before {
                padding: 0 5px;
                content: "> ";
                font-size: 10px;
                color: #777;
            }
        }
        .reports-content{
            padding: 20px 20px;
            >h1{
                font-size: 30px;
                font-weight: 300;
                color: #a6a6a6;
                margin-top: 0;
                line-height: 22px;
                margin-bottom: 27px;
            } 
            .nav-tabs {
                border-bottom: 1px solid #ddd;
                >li.active {
                    .nav-link {
                        background-color: #FFFFFF;
                        color: #0093c6;
                    }
                }
                >li{
                    .nav-link{
                        font-size: 13px;
                        font-weight: 600;
                        background-color: #0093c6;
                        color: #fff;
                        padding: 0;
                        min-width: 166px;
                        text-align: center;
                        margin-right: 6px;
                        uib-tab-heading {
                            padding: 10px 15px;
                            display: block;
                        }
                    }
                }
            }
            .tab-content{
                border: 1px solid #dddddd;
                border-top: none;
                background: #ffffff;
                .search-container{
                    padding: 30px 30px;
                }
                .download-report{
                    display: inline-block;
                    cursor: pointer;
                    position: relative;
                    color: $active_link_color;
                    font-weight: 600;
                    font-size: 12px;
                    .fa-file-excel-o{
                        color: $active_link_color;
                        font-size: 14px;
                        margin: 0;
                        margin-right: 10px;
                    }
                }
                .fa-search{
                    color: #0093C6;
                }
                .table-responsive{
                    table{
                        thead{
                            background-color: #fbfbfb;
                            tr{
                                th{
                                    font-weight: 700;
                                    font-size: 11px;
                                    color: #acacac;
                                    border: 1px solid #f1f1f1;
                                }
                            }
                        }
                        tbody{
                            tr{
                                td{
                                    font-size: 12px;
                                    color: #393939;
                                    font-weight: 600;
                                }
                            }
                        }
                    }
                }
                .tbl-footer{
                    text-align: right;
                    padding: 10px;
                    .items-dropdown{
                        display: inline-block;
                        width: 131px;
                        /* margin: 20px 0; */
                        position: relative;
                        top: -10px;
                        label{
                            margin-right: 10px;
                        }
                        select{
                            display: inline-block;
                            width: 56%;
                        }
                    }
                    .tbl-info{
                        display: inline-block;
                        /* margin: 20px 0; */
                        position: relative;
                        top: -11px;
                        margin-right: 10px;
                        margin-left: 10px;
                        font-weight: 700;
                    }
                    .pagination {
                        margin: 0;
                    }
                }
            }
        }
    }
}
