<div class="container-fluid orderStatus">

    <div class="row">
        <div class="col-md-12">
            <ol class="breadcrumb">
                <li><a href="#">{{'BREADCRUMB.HOME' | translate}}</a></li>
                <li ng-if="orderstatus.userPermissionsList.ViewOrderHistory"><a href="#" data-ng-click="orderstatus.backtohistory()">{{'BREADCRUMB.MYORDERS' | translate}}</a></li>
                <li class="active">{{'BREADCRUMB.ORDER_STATUS' | translate}}</li>
            </ol>
        </div>
    </div>
    <loading-directive></loading-directive>
    <div class="po-tbl-wrapper">
        <div class="">
            <div class="po-details">
                <div id="printSection">
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <h1 class="my-oder-lbl"> {{'ORDERSTATUS.ORDER_STATUS' | translate}}</h1>
                    </div>
                    <div class="col-md-6 pull-right">
                        <div class="row action-btn-div">
                            <div class="col-md-6">
                            </div>
                            <div class="col-md-4">
                                <!--<div class="order-status-print pull-left" print-directive print-element-id="printOrderStatus" style="cursor: pointer;">
                                    <i class="fa fa-print" aria-hidden="true"></i>
                                    <span>{{'ORDERSTATUS.PRINT' | translate}}</span>
                                </div>
                                <div class="order-status-email pull-left">
                                    <i class="fa fa-print" aria-hidden="true"></i>
                                    <span>{{'ORDERSTATUS.EMAIL' | translate}}</span>
                                </div>-->
                            </div>
                            <div class="col-md-2" ng-hide="orderstatus.extetnal_link">
                                <button class="btn btn-app btn-app-primary pull-right" ng-click="orderstatus.backtohistory()" type="button">{{'ORDERSTATUS.BACK' | translate}}</button>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

            <div class="row tab-parent-container">
                <div class="col-md-12 tab-container status-loading" ng-if="orderstatus.loadingData">
                    <div class="row">
                        <div class="col-md-3"></div>
                        <div class="col-md-6 loading-text">
                            <h3>{{ 'LOADING.LOADINGTEXT' | translate}}</h3>
                            <br>
                            <img src="/assets/images/loading.gif" width="40" height="40">
                        </div>
                        <div class="col-md-3"></div>
                    </div>
                </div>
                <div class="col-md-12 tab-container orderstatus-label" ng-if="!orderstatus.loadingData&&!orderstatus.noData" id="printOrderStatus">
                    <div class="row header-line">
                        <div class="col-md-2">
                            <span class="order-lbl">{{'ORDERSTATUS.ORDER_ID' | translate}}: </span>
                            <span class="order-id">{{orderstatus.data.orderNo}}</span>
                        </div>
                        <div class="col-md-2">
                            <!--<span class="order-lbl">{{'ORDERSTATUS.TOT_ITEMS' | translate}}:</span>
                            <span class="order-id">{{orderstatus.data.orderLineItemStatus.length}}</span>-->
                            <span class="order-lbl">{{'ORDERSTATUS.PRIMARYPONUMBER' | translate}}:</span>
                            <span class="order-id">{{orderstatus.data.primaryPONo}}</span>
                            
                        </div>
                        <div class="col-md-8  orderstatus-label-group pull-left" style="text-align:right;">
                            <!--<span class="order-lbl">{{'ORDERSTATUS.PARTS_SHIPPED' | translate}}:</span>
                                
                            <span class="order-id">{{orderstatus.partsShipped}}</span>-->
                            
                            <div class="label-group label-shipped pull-right">
                                <p>{{orderstatus.qtyShipped}}</p>
                                <span></span>
                                <label>{{'ORDERSTATUS.QTY_SHIPPED' | translate}}</label>
                            </div>
                            
                            <div class="label-group label-process pull-right">
                                <p>{{orderstatus.qtyInProcess}}</p>
                                <span></span>
                                <label>{{'ORDERSTATUS.QTY_PROCESS' | translate}}</label>
                            </div>
                            <div class="label-group label-awaiting pull-right">
                                <p>{{orderstatus.qtyAwaiting}}</p>
                                <span></span>
                                <label>{{'ORDERSTATUS.QTY_AWAITING' | translate}}</label>
                            </div>
                            <!--<span class="order-lbl">{{'ORDERSTATUS.PARTS_PROCESS' | translate}}:</span>
                            <span class="order-id">{{orderstatus.partsInProcess}}</span>-->

                            <!--<span class="order-lbl">{{'ORDERSTATUS.PARTS_AWAITING' | translate}}:</span>
                            <span class="order-id">{{orderstatus.partsAwaiting}}</span>-->

                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <table class="table table-stripped bdr">
                                <thead>
                                    <tr>
                                        <th class="line-no" style="width: 7%;">
                                            <div class="inline-style" ng-click="orderstatus.sortOrder=orderstatus.sortOrder?false:true" style="cursor:pointer;">{{'ORDERSTATUS.LINE_NO' | translate}}
                                                <span class="sort-arrow"><i class="fa fa-sort" aria-hidden="true"></i></span>
                                            </div>
                                            <div class="line-group">
                                                <input type="text" class="form-control" aria-describedby="basic-addon2" data-ng-model="orderstatus.filter.orderLineNo">
                                                <span class="input-group-addon" id="basic-addon2"><i class="glyphicon glyphicon-search"></i></span>
                                            </div>
                                        </th>
                                        <th class="part-no" style="width: 18%;">
                                            <div class="inline-style" style="text-align:left;">{{'ORDERSTATUS.PN_PN' | translate}}</div>
                                            <div class="line-group">
                                                <input type="text" class="form-control" aria-describedby="basic-addon2" data-ng-model="orderstatus.filter.partNo" placeholder="{{'ORDERSTATUS.SEARCHBYPART' | translate}}">
                                                <span class="input-group-addon" id="basic-addon2"><i class="glyphicon glyphicon-search"></i></span>
                                            </div>
                                        </th>
                                        <th style="width: 5%;">
                                            <div class="inline-style">{{'ORDERSTATUS.ORD_QTY' | translate}}</div>
                                        </th>
                                        <th class="overall-status" style="width: 15%;">
                                            <div class="inline-style" style="text-align:left;">{{'ORDERSTATUS.OVERALL_STATUS' | translate}}</div>
                                            <select class="form-control" ng-model="orderstatus.filter.lineItemSts">
                                                <option value="">{{'ORDERSTATUS.ALL' | translate}}</option>
                                                <option ng-repeat="obj in orderstatus.status" value="{{obj.name}}" >{{obj.value}}</option>
                                            </select>
                                        </th>
                                        <th style="width: 55%;">
                                            <p style="font-size:12px; text-align:left; font-weight:400px;"><b>{{'ORDERSTATUS.DETAILSTATUS' | translate}}</b>{{'ORDERSTATUS.DETAILSTATUSMSG'
                                                | translate}}</p>

                                        </th>
                                    </tr>
                                </thead>


                                <tbody>
                                    <tr ng-repeat="obj in orderstatus.filteredData = orderstatus.data.orderLineItemStatus  | orderBy:'orderLineNo': orderstatus.sortOrder | filter:orderstatus.filter | startFrom:(orderstatus.currentPage-1)*orderstatus.entryLimit | limitTo:orderstatus.entryLimit">

                                        <td>
                                            {{obj.orderLineNo}}
                                        </td>
                                        <td>
                                            <div class="partno">{{obj.partNo}}</div>
                                            <div class="partname">{{obj.partName}}</div>
                                        </td>
                                        <td>
                                            <span ng-mouseover="obj.isProgressOpen = true" ng-mouseleave="obj.isProgressOpen = false" uib-popover-template="orderstatus.dynamicPopover.templateUrl"
                                                popover-title="Quantity Shipped" popover-is-open="obj.isProgressOpen">
                                            {{obj.qtyReq}}
                                            </span>

                                            <script type="text/ng-template" id="myPopoverTemplate.html">
                                                            <div class="popover-progress-bar" click-outside="orderstatus.closePopover()">
                                                                <div class="popover-progress-label">
                                                                    <label class="pull-left">
                                                                        0
                                                                    </label>
                                                                    <label class="pull-right">
                                                                        {{obj.qtyReq}}
                                                                    </label>
                                                                </div>
                                                                <div class="popover-progress-elem">
                                                                    <div class="popover-progress">
                                                                        <span ng-if="obj.processingDtls.ORDER_COMPLETELY_SHIPPED" ng-style="{'width': (obj.processingDtls.ORDER_COMPLETELY_SHIPPED.qtyProcessed/obj.qtyReq) * 100 + '%'}"></span>
                                                                        <span ng-if="!obj.processingDtls.ORDER_COMPLETELY_SHIPPED" style="width:0px"></span>
                                                                    </div>
                                                                </div>
                                                            </div>
                                            </script>
                                        </td>
                                        <td>

                                            <p>{{'ORDERSTATUS.STATUS.'+obj.lineItemSts | translate}}</p>
                                        </td>
                                        <td>
                                            <div class="partStatus">
                                                <div class="partBox partReceived" ng-if="obj.processingDtls.ORDER_RECEIVED" ng-repeat="items in obj.processingDtls.ORDER_RECEIVED.scheduleDtls">
                                                    <div class="partBoxIcon" ng-mouseover="items.isPartPopoverOpen = true" ng-mouseleave="items.isPartPopoverOpen = false" uib-popover-template="orderstatus.partReceivedStatus.templateUrl"
                                                        popover-placement="bottom" popover-is-open="items.isPartPopoverOpen">
                                                        <span>
                                                            <p>{{items.estQtyShipped}}</p>
                                                        </span>
                                                    </div>
                                                    <div class="partBoxText">
                                                        <div class="printEstQty">{{items.estQtyShipped}}</div>
                                                        <label>{{'ORDERSTATUS.ESTSHIPPING'  | translate}}</label>
                                                        <p>{{items.estShipDate}}</p>
                                                    </div>
                                                    <script type="text/ng-template" id="partReceivedTemp.html">
                                                        <div class="partStatusBar">
                                                            <div class="partStatusRow">
                                                                <p>{{'ORDERSTATUS.AWAITINGPROCESSING' | translate}}</p>
                                                                <p>{{'ORDERSTATUS.INPROCESS' | translate}}</p>
                                                                <p>{{'ORDERSTATUS.SHIPPED' | translate}}</p>
                                                            </div>
                                                            <span>
                                                            </span>
                                                        </div>
                                                    </script>
                                                </div>
                                                <div class="partBox partProcess" ng-if="obj.processingDtls.ORDER_BEING_PROCESSED" ng-repeat="items in obj.processingDtls.ORDER_BEING_PROCESSED.scheduleDtls">
                                                    <div class="partBoxIcon" ng-mouseover="items.isPartPopoverOpen = true" ng-mouseleave="items.isPartPopoverOpen = false" uib-popover-template="orderstatus.partProcessStatus.templateUrl"
                                                        popover-placement="bottom" popover-is-open="items.isPartPopoverOpen">
                                                        <span>
                                                            <p>{{items.estQtyShipped}}</p>
                                                        </span>
                                                    </div>
                                                    <div class="partBoxText">
                                                        <div class="printEstQty">{{items.estQtyShipped}}</div>
                                                        <label>{{'ORDERSTATUS.ESTSHIPPING'  | translate}}</label>
                                                        <p>{{items.estShipDate}}</p>
                                                    </div>
                                                    <script type="text/ng-template" id="partProcessTemp.html">
                                                        <div class="partStatusBar">
                                                            <div class="partStatusRow">
                                                                <p>{{'ORDERSTATUS.AWAITINGPROCESSING' | translate}}</p>
                                                                <p>{{'ORDERSTATUS.INPROCESS' | translate}}</p>
                                                                <p>{{'ORDERSTATUS.SHIPPED' | translate}}</p>
                                                            </div>
                                                            <span>
                                                            </span>
                                                        </div>
                                                    </script>
                                                </div>
                                                <div class="partBox partShipped" ng-if="obj.processingDtls.ORDER_COMPLETELY_SHIPPED" ng-repeat="items in obj.processingDtls.ORDER_COMPLETELY_SHIPPED.scheduleDtls">
                                                    <div class="partBoxIcon" ng-mouseover="items.isPartPopoverOpen = true" ng-mouseleave="items.isPartPopoverOpen = false" uib-popover-template="orderstatus.partShippedStatus.templateUrl"
                                                        popover-placement="bottom" popover-is-open="items.isPartPopoverOpen">
                                                        <span>
                                                            <p>{{items.actualQtyShipped}}</p>
                                                        </span>
                                                    </div>
                                                    <div class="partBoxText">
                                                        <div class="printEstQty">{{items.actualQtyShipped}}</div>
                                                        <label>{{'ORDERSTATUS.SHIPPED' | translate}}</label>
                                                        <p>{{items.actualShipDate}}</p>
                                                    </div>

                                                    <div class="partBoxText">
                                                        <label>{{'ORDERSTATUS.TRACKING' | translate}}</label>
                                                        <p>{{items.shipTrackingPRONo}}</p>
                                                    </div>
                                                    <script type="text/ng-template" id="partShippedTemp.html">
                                                        <div class="partStatusBar">
                                                            <div class="partStatusRow">
                                                                <p>{{'ORDERSTATUS.AWAITINGPROCESSING' | translate}}</p>
                                                                <p>{{'ORDERSTATUS.INPROCESS' | translate}}</p>
                                                                <p>{{'ORDERSTATUS.SHIPPED' | translate}}</p>
                                                            </div>
                                                            <span>
                                                            </span>
                                                        </div>
                                                    </script>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr ng-if="(orderstatus.orderStatusData.orderLineItemStatus | filter:{'orderLineNo': orderstatus.filter.orderLineNo,'partNo': orderstatus.filter.partNo ,'completed': orderstatus.filter.showShipped}).length === 0">
                                        <td colspan="6"> {{'ORDERSTATUS.NO_DATA' | translate}}</td>
                                    </tr>
                                </tbody>
                                <tbody class="err-msg" ng-if="(orderstatus.data.orderLineItemStatus | filter:orderstatus.filter).length === 0">
                                    <tr>
                                        <td colspan="5">
                                            <i class="fa fa-exclamation-triangle" aria-hidden="true"></i> 
                                            {{'ORDERSTATUS.NORESULTSFOUND' | translate}}
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <div class="text-center">
                            <ul uib-pagination boundary-links="true" ng-model="orderstatus.currentPage" max-size="orderstatus.noOfPages" total-items="orderstatus.totalItems" items-per-page="orderstatus.entryLimit" ng-if="(orderstatus.data.orderLineItemStatus | filter:orderstatus.filter).length !== 0" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 tab-container orderstatus-empty" ng-if="orderstatus.noData">
                    <p><i class="fa fa-exclamation-triangle" aria-hidden="true"></i>Not available!</p>
                </div>
            </div>
        </div>
    </div>
</div>