.orderStatus {
    .head {
        margin-bottom: 20px;
    }
    .action-btn-div {
        padding-top: 18px;
        .order-status-print,
        .order-status-email {
            color: #0096c9;
            margin: 3px;
            margin-right: 10px;
            i {
                margin-right: 5px;
            }
        }
    }
    .fa-exclamation-triangle {
        color: #acacac;
        font-size: 11px;
    }
    .tab-parent-container {
        margin-left: 0;
        margin-right: 0;
    }
    .tab-container {
        background-color: #FFFFFF;
        border-radius: 4px;
        padding: 25px;
        .loading-text {
            text-align: center;
        }
        .header-line {
            padding-bottom: 25px;
        }
        .table-responsive {
            padding: 0;
            overflow-x: hidden;
        }

        table {
            width: 100%;
        }
        .pagination {
            margin: 0px;
            li {
                a {
                    font-size: 12px;
                }
            }
        }
    }
    .orderstatus-label {
        .orderstatus-label-group {
            .label-group {
                margin-left: 30px;
                p {
                    float: left;
                    font-weight: bold;
                    font-size: 18px;
                    margin-right: 10px;
                    margin-top: -4px;
                    color: #5e5e5e;
                }
                span {
                    width: 12px;
                    height: 12px;
                    float: left;
                    margin: 3px 5px;
                    border-radius: 2px;
                }
                label {
                    float: left;
                    font-size: 12px;
                    font-weight: 400;
                }
            }
            .label-awaiting {
                span {
                    background: #fff;
                    border: #ccc solid 1px;
                }
            }
            .label-process {
                span {
                    background: #00aeef;
                    border: #00aeef solid 1px;
                }
            }
            .label-shipped {
                span {
                    background: #85d100;
                    border: #85d100 solid 1px;
                }
            }
        }
    }

    .orderstatus-empty {
        p {
            width: 100%;
            float: left;
            padding: 100px 0px;
            text-align: center;
            font-size: 20px;
            color: #6e6e6e;
            i {
                color: #ffb11b;
                font-size: 20px;
                margin-top: 0px;
                margin-right: 10px;
            }
        }
    }
    .order-lbl {
        font-size: 16px;
        color: #9b9b9b;
    }
    .order-id {
        font-size: 16px;
        color: #323232;
        font-weight: 600;
    }
    .checkbox-span {
        padding: 10px;
    }
    .checkbox-label {
        margin: 0;
        .fa-check-square {
            background-color: #ffffff;
            color: #000;
            font-size: 20px;
        }
        .fa-square-o {
            font-size: 20px;
            color: #000;
        }
    }
    .hide-text {
        text-align: right;
        color: #acacac;
        font-size: 11px;
    }
    .hide-txt {
        position: relative;
        bottom: 3px;
    }
    .shipping-info {
        font-size: 9px;
        font-weight: 600;
        color: #acacac;
        .fa-info-circle {
            color: #6e6e6e;
            font-size: 14px;
        }
    }
    .partStatus {
        width: 100%;
        .partBox {
            width: 80px;
            float: left;
            position: relative;
            .popover {
                background: #fff;
                border: #949494 solid 1px;
                box-shadow: #ccc 0px 3px 10px;
                border-radius: 3px;
                max-width: 383px;
                width: 383px;
                top: 42px !important;
                margin-left: -153px;
                .partStatusBar {
                    padding: 10px;
                    width: 100%;
                    p {
                        color:#969696;
                        margin: 0px;
                        padding: 0px;
                        font-weight: 600;
                        font-size: 9px;
                        float: left;
                        width: 50px;
                        text-align: center;
                        &:nth-child(1) {
                            margin-right: 105px;
                        }
                        &:nth-child(2) {
                            margin-right: 104px;
                        }
                    }
                    span {
                        width:100%;
                        height: 40px;
                        float: left;
                    }
                }
                .arrow {
                    display: block;
                }
            }
            .partBoxIcon {
                width: 100%;
                float: left;
                height: 35px;
                position: relative;
                span {
                    float: left;
                    width: 35px;
                    height: 35px;
                    position: absolute;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    top: 0;
                    margin: auto;
                    p {
                        text-align: center;
                        margin-top: 12px;
                        font-size: 11px;
                        font-weight: bold;
                    }
                }
            }
            .partBoxText {
                width: 100%;
                float: left;
                >* {
                    margin: 0px;
                    padding: 0px;
                    text-align: center;
                    width: 100%;
                }
                label {
                    font-size: 9px;
                    color: #acacac;
                    font-weight: 600;
                }
                p {
                    font-size: 9px;
                    color: #919191;
                    font-weight: 700;
                }
                .printEstQty {
                    display: none;
                }
            }
        }
        .partReceived {
            .partBoxIcon {
                span {
                    background: url('./../assets/images/white_box.png')no-repeat;
                    background-position: -1px 0px;
                    background-size: 100% auto;
                    p {
                        color: #000;
                    }
                }
            }
            .popover {
                 .partStatusBar {
                     span {
                         background: url('./../assets/images/status-bar.png') no-repeat;
                         background-position: 0px -5px;
                         background-size: 100% auto;
                     }
                 }
            }
        }
        .partProcess {
            .partBoxIcon {
                span {
                    background: url('./../assets/images/blue_box.png')no-repeat;
                    background-position: -1px 0px;
                    background-size: 100% auto;
                    p {
                        color: #fff;
                    }
                }
            }
            .popover {
                 .partStatusBar {
                     span {
                         background: url('./../assets/images/status-bar.png') no-repeat;
                         background-position: center;
                         background-size: 100% auto;
                     }
                 }
            }
        }
        .partShipped {
            .partBoxIcon {
                span {
                    background: url('./../assets/images/green_box.png')no-repeat;
                    background-position: center;
                    background-size: 100% auto;
                    p {
                        color: #fff;
                    }
                }
            }
            .popover {
                 .partStatusBar {
                     span {
                         background: url('./../assets/images/status-bar.png') no-repeat;
                         background-position: 0px -78px;
                         background-size: 100% auto;
                     }
                 }
            }
        }
    }
    .line-no {
        width: 75px;
        .line-group {
            position: relative;
            width: 100%;
            margin-top: 10px;
            input {
                border: 0px;
                position: absolute;
                z-index: 3;
                width: 100%;
                float: left;
                border: #ccc solid 1px;
                border-radius: 3px;
                &:focus {
                    border: #0096c9 solid 1px;
                }
            }
            span {
                z-index: 4;
                position: absolute;
                background: transparent;
                border: 0px;
                margin: 3px 10px;
                float: right;
                right: 0;
                top: 0;
                font-size: 12px;
            }
        }
    }
    .overall-status {
        select {
            margin-top: 10px;
        }
    }
    .part-no {
        width: 240px;
        .line-group {
            position: relative;
            width: 100%;
            margin-top: 10px;
            height: 30px;
            input {
                border: 0px;
                position: absolute;
                z-index: 3;
                width: 100%;
                float: left;
                border: #ccc solid 1px;
                border-radius: 3px;
                &:focus {
                    border: #0096c9 solid 1px;
                }
            }
            span {
                z-index: 4;
                position: absolute;
                background: transparent;
                border: 0px;
                margin: 3px 10px;
                float: right;
                right: 0;
                top: 0;
                font-size: 12px;
            }
        }
    }
    .progress {
        height: 2px;
        margin-top: 15px;
        margin-bottom: 15px;
        width: 100%;
        overflow: initial;
        .progress-bar-success {
            position: relative;
            .tooltip-1 {
                position: absolute;
                right: -73px;
                top: -30px;
                color: #FFFFFF;
                background-color: #757575;
                border: 1px solid #5e5e5e;
                border-radius: 2px;
                width: 175px;
                //padding: 2px 5px;
                font-size: 10px;
                text-align: center;
                display: none;
                .ddlarrow {
                    position: absolute;
                    &:before {
                        content: " ";
                        border: solid transparent;
                        border-color: rgba(136, 183, 213, 0);
                        border-top-color: #5e5e5e;
                        border-width: 6px;
                        margin-left: -10px;
                        left: 105px;
                        top: 1px;
                        position: absolute;
                    }
                    &:after {
                        bottom: 150%;
                        content: " ";
                        height: 0;
                        width: 0;
                        position: absolute;
                    }
                }
            }
            .last-node .tooltip-1 {
                right: -50px;
                .ddlarrow {
                    position: absolute;
                    &:before {
                        left: 129px;
                        top: 1px;
                    }
                }
            }
            .tooltip-dot.last-node .tooltip-1 {
                display: block;
            }
            .tooltip-dot {
                position: relative;
                background: #0acd0a;
                text-align: right;
                cursor: pointer;
            }
            .tooltip-dot:hover .tooltip-1 {
                display: block;
            }
            .tooltip-dot:after {
                content: '';
                width: 6px;
                height: 6px;
                border-radius: 50%;
                position: absolute;
                left: -2px;
                top: -2px;
                background: #0acd0a;
                z-index: 100;
            }
        }
    }
    .glyphicon-ok {
        color: #0acd0a;
        margin-right: 10px;
        margin-top: 10px;
    }
    .req-count {
        padding-top: 5px;
    }
    table {
        width: 99%;
        color: #acacac;
        .partno {
            font-weight: 700;
        }
        tbody.err-msg {
            tr {
                td {
                    padding: 120px 0px;
                    font-size: 18px;
                    i {
                        color: #ffb11b;
                        font-size: 18px;
                        margin-right: 10px;
                    }
                }
            }
        }
    }
    td {
        padding: 20px;
        font-size: 13px;
        color: #999999;
        &:first-child {
            width: 75px;
            text-align: center;
        }
        &:nth-child(2) {
            width: 240px;
        }
        &:nth-child(3) {
            width: 60px;
            text-align: center;
            color: #acacac;
            font-size: 16px;
            font-weight: 600;
            .popover {
                background: #fff;
                border: #ccc solid 1px;
                margin-left: 220px;
                top: 27px;
                box-shadow: #ccc 0px 3px 10px;
                border-radius: 3px;
                .popover-title {
                    text-align: center;
                    font-weight: bold;
                    background: #fff;
                    padding: 5px 0px;
                    border: none;
                }
                .popover-progress-bar {
                    padding: 5px 10px;
                    .popover-progress-label {
                        margin-top: -15px;
                    }
                    .popover-progress-elem {
                        width: 100%;
                        height: 10px;
                        border: #ccc solid 1px;
                        border-radius: 5px;
                        float: left;
                        margin-bottom: 10px;
                        .popover-progress {
                            width: calc(100% - 4px);
                            height: 6px;
                            margin: 1px;
                            border-radius: 3px;
                            float: left;
                            span {
                                height: 100%;
                                float: left;
                                background: #ccc;
                                float: left;
                            }
                        }
                    }
                }
            }
        }
        &:nth-child(4) {
            width: 95px;
            text-align: center;
            color: #000;
            font-weight: 700;
            font-size: 12px;
            color: #6e6e6e;
            p {
                color: #999999;
                font-weight: 400;
                font-size: 14px;
                text-align: left;
            }
        }
        &:last-child {
            width: 640px;
            background-color: #fafafa;
        }
    }
    td.no-status-td {
        background-color: #FFFFFF;
        color: #acacac;
        font-weight: 600;
    }
    margin: 0px -10px;
    background-color: $app_bg_color;
    font-size:12px;
    table {
        border-collapse: collapse;
        background-color: #FFF;
        th {
            color: #acacac;
            font-weight: 600;
        }
        .col-span-block {
            display: inline-block;
            width: 85px;
            text-align: center;
        }
    }
    table>thead>tr>th {
        border-bottom: none;
        text-align: center;
        vertical-align: top;
    }
    table,
    th,
    td {
        border: 1px solid #f1f1f1;
    }
    .breadcrumb {
        font-weight: 600;
        background-color: #FFF;
        padding: 8px 20px;
        li+li:before {
            padding: 0 5px;
            content: "> ";
            font-size: 10px;
            color: #777;
        }
        a:hover {
            cursor: pointer;
        }
    }
    .btn-app {
        height: 30px;
        padding: 0 32px;
        font-weight: 600;
        font-size: 14px;
        border-radius: 3px;
        text-transform: uppercase;
        outline: 0;
        line-height: 16px;
    }
    .btn-app:focus,
    .btn-app.focus,
    .btn-app:active:focus,
    .btn-app:active.focus,
    .btn-app.active:focus,
    .btn-app.active.focus {
        outline: 0;
    }
    .btn-app-primary {
        background-color: transparent;
        border: 2px solid #000000;
        color: #000000;
    }
    .btn-app-primary:focus,
    .btn-app-primary.focus,
    .btn-app-primary:hover {
        background-color: transparent;
        border: 2px solid #000000;
        color: #000000;
    }
    .header-table {
        width: 100%;
        th {
            width: 16.666%
        }
        td {
            width: 16.666%;
            padding: 10px 10px;
            font-size: 13px;
        }
    }
    .po-tbl-wrapper {
        padding: 0px 20px 20px 20px;
        .my-oder-lbl {
            font-size: 30px;
            font-weight: 700;
            text-align: left;
            line-height: 48px;
            padding-left: 0;
            margin: 0;
            color: #a6a6a6;
            font-weight: 300;
        }
        .btn {
            // border-radius: 4px;
            // font-weight: 600;
            // font-size: 12px;
        }
        .po-details {
            margin-bottom: 10px;
        }
        .pr-0 {
            padding-right: 0;
        }
        .pl-0 {
            padding-left: 0;
        }
        .prl-0 {
            padding-right: 0;
            padding-left: 0;
        }
        .head {
            background-color: #f7f7f7;
            padding: 5px 10px;
            font-weight: 600;
            padding-top: 15px;
            padding-bottom: 15px;
        }
        .address,
        .body {
            padding: 10px 10px;
            margin-bottom: 0;
        }
        table {
            tbody {
                tr {
                    td {
                        a {
                            color: $active_link_color;
                            text-decoration: none;
                            font-weight: 600;
                        }
                    }
                }
            }
        }
    }
    .table thead,
    .table tfoot {
        color: #000000;
    }
    .no-margin {
        margin-left: 0;
        margin-right: 0;
        padding-right: 0;
        padding-left: 0;
    }
    .backBtn {
        width: 60px;
        height: 40px;
    }
    .my-oder-lbl,
    .head {
        padding: 5px 10px;
    }
}

@media print {
    #printOrderStatus {
        .line-group {
            display: none;
        }
        .orderstatus-label-group {
            display: none;
        }
        .partStatus {
            .partBox {
                .partBoxIcon {
                    display: none;
                }
                .printEstQty {
                    display: block;
                }
            }
        }
        table {
            tbody {
                tr {
                    td {
                        &:nth-child(5) {
                            text-align: left;
                        }
                    }
                }
            }
        }
    }
}