<!-- Author: Shaifali Jaiswal -->

<div class="container-fluid orderMgt">
    <div class="custom-loader" data-ng-show="ormgt.isDataLoading">
        <div class="img-wrapper">
            <!--<h3>{{ 'LOADING.LOADINGTEXT' | translate}}</h3>-->
            <img src="/assets/images/loading.gif" width="40" height="40">
        </div>
    </div>
    <div class="row breadcrumb-row">
        <div class="col-md-12">
            <ol class="breadcrumb">
                <li><a href="/home">{{'POSTORDER.HOME' | translate}}</a></li>
                <li class="active">{{'ORDERMGMT.CARTREVIEW' | translate}}</li>
            </ol>
        </div>
    </div>
    <div class="row tab-container">
        <div class="col-md-10">
            <uib-tabset active="ormgt.activeTab == 'SO' ? 0 : 1">
                <uib-tab index="0" ng-click="ormgt.getCartData('SO','normal-cart',true)" disable="!ormgt.userPermissionsList.StockOrder">
                    <!-- <uib-tab-heading>Stock Order cart <span class="extrabold">({{ormgt.soCount}})</span></uib-tab-heading> -->
                    <uib-tab-heading class="tabs">{{'ORDERMGMT.STOCKORDERCART' | translate}} <span class="">({{ormgt.soCount}})</span></uib-tab-heading>
                    <div ng-show="ormgt.getCart" class="stock-order-cotent">
                   
                        <!-- <div class="row pad-20">
                            <div class="col-md-7">
                                <div class="input-group ordrSrch headspace">
                                    <input type="text" ng-model="ormgt.srchStr" class="form-control" placeholder="Search items in this cart by the part name & number">
                                    <span class="input-group-addon"><a href=""><i class="glyphicon glyphicon-search"></i></a></span>
                                </div>
                            </div>
                            <div class="col-md-5">
                                <div class="shippedto">
                                    <span class="info-circle-detail">
                                        <span class="fa fa-info-circle" aria-hidden="true"></span>
                                        Selected items in this cart can be shipped to only one shiped to address.
                                    </span>
                                </div>
                            </div>
                        </div> -->
                        <div class="pad15">
                           <!--  <div class="col-md-12 table-responsive1"> -->
                                <table class="table car-list-table">
                                    <thead>
                                        <tr>
                                            <th class="line-no">
                                                <div class="inline-style">                                                    
                                                        {{'expresscheckout.SERIALNO' | translate}}
                                                </div>
                                            </th>
                                            <th class="part-no">
                                                <div  class="inline-style">{{ 'INCOMPLETEORDER.PARTNO'  | translate}} </i></div>
                                                <div class="input-group search-part">
                                                    <input type="text" class="form-control input-sm" data-ng-model="ormgt.partSearch.partSearchData" placeholder="{{ 'INCOMPLETEORDER.PARTNO'  | translate}}">
                                                    <span class="input-group-btn">
                                                        <button class="btn-sm" type="button"><i class="fa fa-search" aria-hidden="true"></i></button>
                                                    </span>
                                                </div>
                                            </th>
                                            <th class="qty">
                                                <div class="inline-style">{{ 'SHIPPEDLIST.QTY'  | translate}} </div>
                                           </th>
                                            <th class="uom">
                                                <div class="inline-style">{{ 'ORDERMGMT.UOM'  | translate}}<div class="inline-style"></div> 
                                                </div>
                                            </th>
                                            <th class="ext-weight">
                                                <div class="inline-style">{{'common.EXT' | translate}}<br>{{'common.WEIGHT' | translate}}<br>{{'common.LB' | translate}}
                                                </div>
                                            </th>
                                            
     
      
                                            <th class="bck-ordr">
                                                <div class="inline-style">  {{'ORDERMGMT.BACK' | translate}} <br> {{'ORDERMGMT.ORDER' | translate}}<i class="fa fa-question-circle ng-hide" aria-hidden="true"></i>
                                                </div>
                                            </th>
                                            <th class="unit-price">
                                                <div class="inline-style">{{'ORDERMGMT.UNIT' | translate}} <br>{{'ORDERMGMT.PRICEUSD' | translate}} <div class="inline-style"></div></div>
                                            </th>
                                            <th class="unit-core-deposit">
                                                <div class="inline-style">{{'ORDERMGMT.CORECHARGES' | translate}} <br>  {{'ORDERMGMT.DEPOSITUSDL' | translate}}  <i class="fa fa-question-circle pull-right ng-hide" aria-hidden="true"></i></div>
                                            </th>
                                            <th class="ext-price">
                                                <div class="inline-style">{{'ORDERMGMT.EXTENDED' | translate}} <br> {{'ORDERMGMT.PRICEUSD' | translate}} <div class="inline-style"></div></div>
                                            </th>
                                            
                                            <!-- <th class="hr-right">
                                                <div class="inline-style">{{'ORDERMGMT.PRODUCT' | translate}} <br>{{'ORDERMGMT.TOTALUSD' | translate}}<div class="inline-style"></div></div>
                                            </th> -->
                                            <th class="ship-date">
                                                <div class="inline-style">{{'ORDERMGMT.REQUESTED' | translate}} <br> {{'ORDERMGMT.SHIPTODATE' | translate}}  </div>
                                            </th>

                                           <!--  <th class="hr-center">{{'ORDERMGMT.EDITQTY' | translate}} </th> -->
                                           <!--  <th class="hr-center">{{'ORDERMGMT.REMOVE' | translate}} </th> -->

                                            <th class="select-to-remove">
                                                <div>{{'expresscheckout.SELECTTOREMOVE' | translate}}</div>
                                                <div class="remove-box">
                                                    <label data-ng-click="ormgt.selectAllDeleteCartItem('SO')" data-ng-model="ormgt.isAlldeleteCartItmChecked" uib-btn-checkbox class="checkbox-label">
                                                    <i class="fa" ng-class="ormgt.isAlldeleteCartItmChecked ? 'fa-check-square' : 'fa-square-o' "></i>
                                                    </label>
                                                </div>
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                       <!-- <tr ng-repeat="obj in ormgt.cartData | orderBy:ormgt.sortType:ormgt.sortReverse | filter: ormgt.srchStr"> -->
                                       <tr ng-repeat="obj in ormgt.cartData | filter: ormgt.partSearch" ng-init="obj.partSearchData = obj.partNo +' '+ obj.partName">
                                            <!--<td ng-show="!obj.deleted" class="vt-hr-center">
                                                <label data-ng-click="ormgt.selectCartItem('SO')" data-ng-model="obj.checked" uib-btn-checkbox class="checkbox-label">
                                                    <i class="fa" ng-class="obj.checked ? 'fa-check-square' : 'fa-square-o' "></i>
                                                </label>
                                            </td>-->
                                           
                                            <td ng-show="!obj.deleted" class="vt-hr-right"> {{$index+1}}</td>
                                            <td ng-show="!obj.deleted" class="vt-hr-left">
                                                <!--<div>
                                                    <div class="part-img">
                                                        
                                                        <img ng-src="{{protocol}}://placehold.it/50x50/dbdbdb/0099CC/?text=NO+IMAGE"
                                                         src="https://placehold.it/50x50/dbdbdb/0099CC/?text=NO+IMAGE" class="img-responsive">
                                                    </div>
                                                    <div>
                                                        <span class="part-num">{{obj.partNo}}</span>
                                                        <span class="part-name">{{obj.partName}}</span>
                                                    </div>
                                                   
                                                </div>-->
                                                <div class="itm-part-details">
                                                    <div class="part-img">

                                                        <img ng-if="!obj.thumbnail" ng-src="{{protocol}}://placehold.it/50x50/dbdbdb/0099CC/?text=NO+IMAGE"  src="https://placehold.it/50x50/dbdbdb/0099CC/?text=NO+IMAGE" class="img-responsive">
                                                        <img ng-if="obj.thumbnail" ng-src="{{protocol}}://{{ormgt.imageBaseUrl}}/tnimgs/{{obj.thumbnail}}" 
                                                        onerror="this.src='https://placehold.it/50x50/dbdbdb/0099CC/?text=NO+IMAGE'" class="img-responsive">
                                                    </div>
                                                    <div class="part-num-name">
                                                        <div class="part-num-wrap">
                                                            <a ng-href="{{ormgt.gotoPart(obj)}}">
                                                                <span class="part-num">{{obj.partNo}}</span>
                                                            </a>
                                                        </div><br/>
                                                        <div class="part-name-wrap">
                                                            <span class="part-name">{{obj.partName}}</span>
                                                        </div>
                                                    </div>
                                                    <!-- <a class="description" ng-href="{{partCard.gotoPart(partCard.part)}}"><span class="name">{{partCard.part.displayName}}</span></a> -->
                                                </div>
                                            </td>
                                            <td ng-show="!obj.deleted" class="vt-hr-left">
                                                <span class="number-container">
                                                    <input id="so_{{obj.id}}" style="font-weight:bold" nonegative-directive no-spl-char type="number" ng-model="obj.qtyReq" uib-tooltip="{{'TOOLTIP.PLEASEVERFYPARTQTY' | translate}}" tooltip-is-open="obj.enable && obj.qtyReq > 9999"  tooltip-enable="obj.qtyReq > 9999" tooltip-popup-close-delay="500" tooltip-placement="top" name="qty" min="0" step="{{obj.packageQty}}"  class="form-control qty-added" ng-blur="ormgt.onBlurOfQtyField(obj, 'so_'+obj.id ); ormgt.updateLineItemQty(obj, $index, 'SO', 'so_'+obj.id)" ng-change="ormgt.updateLineItemQty(obj, $index, 'SO', 'so_'+obj.id)" data-ng-class="{'qty-err': !(obj.qtyReq >= 1) && obj.backOrderQty < 1 || (obj.qtyReq % obj.packageQty != 0)}">
                                                </span>
                                                <div class="pckg-qty-err" ng-show="obj.packageQty > 1">
                                                    <i class="fa fa-info-circle" aria-hidden="true"></i>{{'PARTCARD.INVALID_PACKAGE_QTY' | translate}}{{obj.packageQty}}.
                                                </div>
                                            </td>
                                            <td ng-show="!obj.deleted" class="vt-hr-center">{{obj.uom}}</td>
                                            <td ng-show="!obj.deleted" class="vt-hr-right">
                                            <span ng-show="obj.wt > 0">{{obj.weight | number : 0}}</span>
                                            <span ng-show="obj.wt == 0">{{obj.wt | number : 0}}</span>
                                            </td>
                                            <td ng-show="!obj.deleted" class="vt-hr-right">
                                                {{obj.backOrderQty}}
                                            </td>
                                            <td ng-show="!obj.deleted" class="vt-hr-right"><span data-ng-if="ormgt.userPermissionsList.CheckPrice">{{obj.STANDARD_BASE | currency:""}}</span></td>
                                            <td ng-show="!obj.deleted" class="vt-hr-right"><span data-ng-if="ormgt.userPermissionsList.CheckPrice">{{obj.CORE_BASE | currency:""}}</span></td>
                                            <td ng-show="!obj.deleted" class="vt-hr-right"><span style="font-weight:bold" data-ng-if="ormgt.userPermissionsList.CheckPrice">{{obj.qtyReq * (obj.STANDARD_BASE + obj.CORE_BASE) | currency:""}}</span></td>
                                            
                                            <!-- <td ng-show="!obj.deleted" class="vt-hr-right"><span data-ng-if="ormgt.userPermissionsList.CheckPrice">{{obj.qtyReq * obj.STANDARD_BASE + obj.qtyReq * obj.CORE_BASE | currency:""}}</span></td> -->
                                            <td ng-show="!obj.deleted" class="vt-hr-center td-date" >
                                            <!-- <input ng-show="obj.refData[0].estAvlDate" type="date" value="2013-01-08" name="shippingDate" data-ng-disabled="true" data-ng-model="obj.refData[0].estAvlDate">

                                            <input ng-show="!obj.refData[0].estAvlDate" type="date" name="shippingDate" data-ng-disabled="true" data-ng-model="ormgt.date">
 -->
                                            <!-- <input ng-show="obj.shipToDateReq" type="date" value="2013-01-08" name="shippingDate" data-ng-disabled="true" data-ng-model="obj.shipToDateReq">

                                            <input ng-show="!obj.shipToDateReq" type="date" name="shippingDate" data-ng-disabled="true" data-ng-model="ormgt.date"> -->
                                                <p class="input-group date-wrapper">
                                                    <input type="text" ng-click="ormgt.open2(obj)" ng-change="ormgt.changeDate()" class="form-control date-txt" show-button-bar="false" uib-datepicker-popup="{{ormgt.format}}" ng-model="obj.shipToDateReq" is-open="obj.calanderSelect" datepicker-options="ormgt.dateOptions" popup-placement="bottom-right" ng-required="true" close-text="Close" alt-input-formats="altInputFormats" ng-readonly="true"/>
                                                </p>
                                            </td>
                                            <!-- <td class="vt-hr-center border-rl">
                                                <a href="" data-ng-if="ormgt.userPermissionsList.UpdateCart">
                                                    <span><i class="fa fa-pencil" aria-hidden="true" ng-click="ormgt.editItem(obj)"></i> </span>
                                                </a>
                                            </td> -->
                                            <!-- <td ng-show="!obj.deleted" class="vt-hr-center">
                                                <a href="" data-ng-if="ormgt.userPermissionsList.DeleteCart">
                                                    <span><i class="fa fa-trash"  aria-hidden="true" ng-click="ormgt.deleteItem(obj, $index, 'SO')"></i></span>
                                                </a>    1
                                            </td> -->
                                            
                                            <td class="" style="text-align:center" colspan=11 ng-show="obj.deleted">
                                                <div class="deleteMsg">
                                                <span>
                                            {{'ERRORMSG.AFTERREMOVEMSG' | translate : '{partno : '+'"'+obj.partNo.toString()+'"'+'}'}}
                                                    </span>
                                                </div>
                                            </td>

                                            <td ng-show="!obj.deleted" class="vt-hr-center border-rl">
                                                <label ng-show="obj.cartId" data-ng-click="ormgt.deleteCartItem(obj)" data-ng-model="obj.deletechecked" uib-btn-checkbox class="checkbox-label">
                                                    <i class="fa" ng-class="obj.deletechecked ? 'fa-check-square' : 'fa-square-o' "></i>
                                                </label>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            <!-- </div> -->
                        </div>
                        <!-- <div class="row">
                            <div class="col-md-6">
                                <h6 ng-show="ormgt.bad400" class="headspace subusd"> <span class="usd-highlight "> Error in getting price</span></h6>
                            </div>
                            <div class="col-md-6 text-right">
                                <h6 class="headspace subusd" data-ng-if="ormgt.userPermissionsList.CheckPrice">Sub Total ({{ormgt.noOfSelectedParts}} Parts) USD: <span class="usd-highlight "> {{ormgt.sumOfTotal| currency:""}}</span></h6>
                            </div>
                        </div> -->
                    </div>
                    <div ng-show="!ormgt.getCart" class="no-items text-center">
                        <h3>{{'ORDERMGMT.ITEMCARTSTATUS' | translate}}</h3>
                        <!-- <i class="fa fa-shopping-cart" aria-hidden="true"></i> -->
                        <button style="width:200px; margin:0 auto" class="btn btn-block btn-app btn-app-primary btn-ordrdetail" data-ng-click="ormgt.goToHome()">{{'ORDERMGMT.CONTINUESHOPING' | translate}}</button>
                    </div>
                </uib-tab>
                <uib-tab index="1" ng-click="ormgt.getCartData('EO','normal-cart',true)" disable="!ormgt.userPermissionsList.EmergencyOrder">
                    <uib-tab-heading class="tabs">{{'ORDERMGMT.EMERGENCYORDERCART' | translate}}  <span class="">({{ormgt.eoCount}}) </span></uib-tab-heading>
                    <div ng-show="ormgt.getCart" class="emer-order-cotent">
                    
                        <!-- <div class="row pad-20">
                            <div class="col-md-7">
                                <div class="input-group ordrSrch headspace">
                                    <input type="search" ng-model="ormgt.srchStr" class="form-control search-by-part"  placeholder="Search items in this cart by the part name & number">
                                    
                                    <span class="input-group-addon"><a href=""><i class="glyphicon glyphicon-search"></i></a></span>
                                </div>
                            </div>
                            <div class="col-md-5">
                                <div class="shippedto">
                                    <p class="info-circle-detail">
                                        <i class="fa fa-info-circle" aria-hidden="true"></i>
                                        Selected items in this cart can be shipped to only one shiped to address.
                                    </p>
                                </div>
                            </div>
                        </div> -->
                       <!--  <div class="row search-box-wrap">
                            <div class="col-md-7 search-box">
                                <input type="text" class="search-item"/>
                            </div>
                            <div class="col-md-5">

                            </div>
                        </div> -->
                        <div class="pad15">
                           <!--  <div class="col-md-12 table-responsive"> -->
                                <table class="table car-list-table">
                                    <thead>
                                        <tr>
                                            <!--<th class="hr-center">
                                                <div>
                                                    <label data-ng-click="ormgt.selectAllCartItem('EO')"   data-ng-model="ormgt.isAllCartItmChecked" uib-btn-checkbox class="checkbox-label">
                                                        <i class="fa" ng-class="ormgt.isAllCartItmChecked ? 'fa-check-square' : 'fa-square-o' "></i>
                                                    </label>
                                                </div>
                                            </th>-->
                                            <th class="line-no">
                                                <div class="inline-style">                                                    
                                                        {{'expresscheckout.SERIALNO' | translate}}
                                                </div>
                                            </th>
                                            <th class="part-no">
                                                <div  class="inline-style">{{ 'INCOMPLETEORDER.PARTNO'  | translate}} 
                                                </div>
                                                <div class="input-group search-part">
                                                    <input type="text" class="form-control input-sm" data-ng-model="ormgt.partSearch.partSearchData" placeholder="{{ 'PLACEHOLDERALL.SEARCHORDERBYPARTNO'  | translate}}">
                                                    <span class="input-group-btn">
                                                        <button class="btn-sm" type="button"><i class="fa fa-search" aria-hidden="true"></i></button>
                                                    </span>
                                                </div>
                                            </th>
                                            <th class="qty">
                                                <div class="inline-style">{{ 'SHIPPEDLIST.QTY'  | translate}}</div>
                                           </th>
                                            <th class="uom">
                                                <div class="inline-style"> {{ 'ORDERMGMT.UOM'  | translate}}
                                                </div>
                                            </th>
                                            <th class="ext-weight">
                                                <div class="inline-style">{{'common.EXT' | translate}}<br>{{'common.WEIGHT' | translate}}<br>{{'common.LB' | translate}}
                                                </div>
                                            </th>
                                            <th class="bck-ordr">
                                                <div class="inline-style">  {{'ORDERMGMT.BACK' | translate}} <br> {{'ORDERMGMT.ORDER' | translate}}<i class="fa fa-question-circle ng-hide" aria-hidden="true"></i>
                                                </div>
                                            </th>
                                            <th class="ship-from">
                                                <div class="inline-style">{{ 'ORDERMGMT.SHIPFROM'  | translate}} <br>{{ 'ORDERMGMT.LOCATION'  | translate}}</div>
                                            </th>
                                            <th class="unit-price">
                                                <div class="inline-style">{{'ORDERMGMT.UNIT' | translate}} <br>{{'ORDERMGMT.PRICEUSD' | translate}}</div>
                                            </th>
                                            <th class="unit-core-deposit">
                                                <div class="inline-style">{{'ORDERMGMT.CORECHARGES' | translate}} <br>  {{'ORDERMGMT.DEPOSITUSDL' | translate}} <i class="fa fa-question-circle pull-right ng-hide"></i></div>
                                            </th>
                                            <th class="ext-price">
                                                <div class="inline-style">{{'ORDERMGMT.EXTENDED' | translate}} <br> {{'ORDERMGMT.PRICEUSD' | translate}}</div>
                                            </th>
                                            
                                           <!--  <th class="hr-right">
                                                <div class="inline-style">{{'ORDERMGMT.PRODUCT' | translate}} <br>{{'ORDERMGMT.TOTALUSD' | translate}}</div>
                                            </th> -->
                                            <!-- <th>
                                                <div class="inline-style">Requested<br> Ship-to-Date</div>
                                            </th> -->
                                           <!--<th class="hr-center">{{'ORDERMGMT.EDITQTY' | translate}} </th>-->
                                           <!-- <th class="hr-center">{{'ORDERMGMT.REMOVE' | translate}} </th> -->
                                           <th class="select-to-remove">
                                                <div>{{'expresscheckout.SELECTTOREMOVE' | translate}}</div>
                                                <div class="remove-box">
                                                    <label data-ng-click="ormgt.selectAllDeleteCartItem('EO')" data-ng-model="ormgt.isAlldeleteCartItmChecked" uib-btn-checkbox class="checkbox-label">
                                                    <i class="fa" ng-class="ormgt.isAlldeleteCartItmChecked ? 'fa-check-square' : 'fa-square-o' "></i>
                                                    </label>
                                                </div>
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="obj in ormgt.cartData | filter: ormgt.partSearch" ng-init="obj.partSearchData = obj.partNo +' '+ obj.partName">
                                       <!-- <tr ng-repeat="obj in ormgt.cartData | orderBy:ormgt.sortType:ormgt.sortReverse | filter: ormgt.srchStr"> -->
                                            <!--<td ng-show="!obj.deleted" class="vt-hr-center">
                                                <label data-ng-click="ormgt.selectCartItem('EO')" data-ng-model="obj.checked" uib-btn-checkbox class="checkbox-label">
                                                    <i class="fa" ng-class="obj.checked ? 'fa-check-square' : 'fa-square-o' "></i>
                                                </label>
                                            </td>-->
                                            <td ng-show="!obj.deleted" class="vt-hr-right"> {{$index+1}}</td>
                                            <td ng-show="!obj.deleted" class="vt-hr-left">
                                                <!--<div>
                                                    <div class="imgWidth part-img">
                                                        <img ng-src="{{protocol}}://placehold.it/50x50/dbdbdb/0099CC/?text=NO+IMAGE" src="https://placehold.it/50x50/dbdbdb/0099CC/?text=NO+IMAGE" class="img-responsive">
                                                    </div>
                                                    <div>
                                                        <span class="part-num">{{obj.partNo}}</span>
                                                        <span class="part-name">{{obj.partName}}</span>
                                                    </div>
                                                </div>-->
                                                <div class="itm-part-details">
                                                    <div class="part-img">
                                                        <img ng-if="!obj.thumbnail" ng-src="{{protocol}}://placehold.it/50x50/dbdbdb/0099CC/?text=NO+IMAGE" src="https://placehold.it/50x50/dbdbdb/0099CC/?text=NO+IMAGE" class="img-responsive">
                                                        <img ng-if="obj.thumbnail" ng-src="{{protocol}}://{{ormgt.imageBaseUrl}}/tnimgs/{{obj.thumbnail}}"
                                                          onerror="this.src='https://placehold.it/50x50/dbdbdb/0099CC/?text=NO+IMAGE'" class="img-responsive">
                                                    </div>
                                                    <!-- <div class="part-num-name">
                                                        <span class="part-num">{{obj.partNo}}</span><br/>
                                                        <a ng-href="{{ormgt.gotoPart(obj)}}"><span class="part-name">{{obj.partName}}</span></a>
                                                    </div> -->

                                                    <div class="part-num-name">
                                                        <div class="part-num-wrap">
                                                            <a ng-href="{{ormgt.gotoPart(obj)}}">
                                                                <span class="part-num">{{obj.partNo}}</span>
                                                            </a>
                                                        </div><br/>
                                                        <div class="part-name-wrap">
                                                            <span class="part-name">{{obj.partName}}</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </td>
                                            <td ng-show="!obj.deleted" class="vt-hr-left " style="width:0%;font-weight:bold">
                                                <span data-ng-if="ormgt.userPermissionsList.UpdateCart" class="eo-qty-req" data-ng-model="obj.qtyReq" ng-click="ormgt.editItem(obj)">{{obj.qtyReq}}</span>
                                                <span data-ng-if="!ormgt.userPermissionsList.UpdateCart" data-ng-model="obj.qtyReq">{{obj.qtyReq}}</span>
                                                <div class="pckg-qty-err" ng-show="obj.packageQty > 1">
                                                    <i class="fa fa-info-circle" aria-hidden="true"></i>{{'PARTCARD.INVALID_PACKAGE_QTY' | translate}}{{obj.packageQty}}.
                                                </div>
                                            </td>
                                            <td ng-show="!obj.deleted" class="vt-hr-center">{{obj.uom}}</td>
                                            <td ng-show="!obj.deleted" class="vt-hr-right">
                                            <span ng-show="obj.wt > 0">{{obj.weight | number : 0}}</span>
                                            <span ng-show="obj.wt == 0">{{obj.wt | number : 0}}</span>
                                            </td>
                                            <td ng-show="!obj.deleted" class="vt-hr-right">
                                                {{obj.backOrderQty}}
                                            </td>
                                            <td ng-show="!obj.deleted" class="vt-hr-left">
                                                {{obj.plantName}},
                                                <span class="address-small"> {{obj.plantCity}}</span>
                                                <span class="address-small">, {{obj.plantState}}</span>
                                            </td>
                                           
                                            <td ng-show="!obj.deleted" class="vt-hr-right">
                                            <span data-ng-if="ormgt.userPermissionsList.CheckPrice">{{obj.STANDARD_BASE | currency:""}}</span></td>
                                            <td ng-show="!obj.deleted" class="vt-hr-right"><span data-ng-if="ormgt.userPermissionsList.CheckPrice">{{ obj.CORE_BASE | currency:""}}</span></td>
                                            <td ng-show="!obj.deleted" class="vt-hr-right"><span style="font-weight:bold" data-ng-if="ormgt.userPermissionsList.CheckPrice">{{obj.qtyReq * (obj.STANDARD_BASE + obj.CORE_BASE) | currency:""}}</span></td>
                                            
                                            <!-- <td ng-show="!obj.deleted" class="vt-hr-right"><span data-ng-if="ormgt.userPermissionsList.CheckPrice">{{obj.qtyAdded * (obj.STANDARD_BASE + obj.CORE_BASE) | currency:""}}</span></td> -->
                                        
                                            <!-- <td>
                                            <input ng-show="obj.refData[0].estAvlDate" type="date" value="2013-01-08" name="shippingDate" data-ng-disabled="true" data-ng-model="obj.refData[0].estAvlDate">

                                            <input ng-show="!obj.refData[0].estAvlDate" type="date" name="shippingDate" data-ng-disabled="true" data-ng-model="ormgt.date">

                                            </td> -->
                                            <!--<td ng-show="!obj.deleted" class="vt-hr-center border-rl" style="width:0%;">
                                                
                                                <a href="" data-ng-if="ormgt.userPermissionsList.UpdateCart">
                                                <i class="fa fa-pencil" aria-hidden="true" ng-click="ormgt.editItem(obj)"></i>
                                                </a>
                                            </td>-->
                                            <!-- <td ng-show="!obj.deleted" class="vt-hr-center">
                                                <a href="" data-ng-if="ormgt.userPermissionsList.DeleteCart">
                                                <i class="fa fa-trash" aria-hidden="true" ng-click="ormgt.deleteItem(obj, $index, 'EO')"></i>
                                                </a>
                                            </td> -->

                                             <td style="text-align:center" colspan=11 ng-show="obj.deleted">
                                                <div class="deleteMsg">
                                                    <span>{{'ERRORMSG.AFTERREMOVEMSG' | translate : '{partno : '+'"'+obj.partNo.toString()+'"'+'}'}}</span>
                                                </div>
                                            </td>

                                            <td ng-show="!obj.deleted" class="vt-hr-center border-rl">
                                                <label ng-show="obj.cartId" data-ng-click="ormgt.deleteCartItem(obj)" data-ng-model="obj.deletechecked" uib-btn-checkbox class="checkbox-label">
                                                    <i class="fa" ng-class="obj.deletechecked ? 'fa-check-square' : 'fa-square-o' "></i>
                                                </label>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            <!-- </div> -->
                        </div>
                        <!-- <div class="row">
                            <div class="col-md-12 text-right">
                                <h6 class="headspace subusd" data-ng-if="ormgt.userPermissionsList.CheckPrice">Sub Total ({{ormgt.noOfSelectedParts}} Parts) USD: <span class="usd-highlight ">{{ormgt.sumOfTotal | currency:""}}</span></h6>
                                 
                            </div>
                        </div> -->
                        
                    </div>
                    <div ng-show="!ormgt.getCart" class="no-items text-center">
                        <h3>{{'ORDERMGMT.ITEMCARTSTATUS' | translate}}</h3>
                        <!-- <i class="fa fa-shopping-cart" aria-hidden="true"></i> -->
                        <button style="width:200px; margin:0 auto" class="btn btn-block btn-app btn-app-primary btn-ordrdetail" data-ng-click="ormgt.goToHome()">{{'ORDERMGMT.CONTINUESHOPING' | translate}}</button>
                    </div>
                </uib-tab>
            </uib-tabset>
            <div ng-show="ormgt.getCart" class="row"> 
                <p class="headspace">
                    {{'ORDERMGMT.HELPMSGTOCLINT1' | translate}}
                </p>
                <p class="headspace">
                    {{'ORDERMGMT.HELPMSGTOCLINT' | translate}}
                </p>
            </div>
        </div>

        <div style="z-index:9" class="posFixed col-md-2 so-summary" id="ad-section1" data-ng-class="{'affix-ads':ormgt.stickyAd === true}" ng-show="ormgt.getCart" class="col-sm-2 stock-ordr-sumry">
            <h5 class="summery-text" ng-show="ormgt.orderType == 'STK'">{{'ORDERMGMT.STOCKORDERSUMMARY' | translate}} </h5>
            <h5 class="summery-text" ng-show="ormgt.orderType == 'EMG'">{{'ORDERMGMT.EMERGENCYORDERSUMMARY' | translate}} </h5>
            
            
                <div class="bg-default-bg">
                    <div class="row">
                        <div class="col-sm-7 part-ipad">
                            <p class="summery-box-parts">{{'ORDERMGMT.NUM_OF_PARTS' | translate}} </p>
                        </div>
                        <div class="col-sm-5 part-val-ipad"><p class="summery-right-box">{{ormgt.noOfSelectedParts | number : 0}}</p></div>
                    </div>
                    <div class="row" data-ng-if="ormgt.userPermissionsList.CheckPrice">
                        <div class="col-sm-12">
                            <hr> </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-7 qty-ipad">
                            <p class="summery-box-parts">{{'expresscheckout.TOTALORDERQTY' | translate}} </p>
                        </div>
                        <div class="col-sm-5 qty-val-ipad"><p class="summery-right-box">{{ormgt.totalOrderQTY | number : 0}}</p></div>
                    </div>
                    <div class="row" data-ng-if="ormgt.userPermissionsList.CheckPrice">
                        <div class="col-sm-12">
                            <hr> </div>
                    </div>
                    <div class="row littlegap">
                         <div class="col-sm-8 tot-weight">
                             <p>{{ 'PREVIEWORDER.TOTAL_WEIGHT'  | translate}}</p>
                         </div>
                        <div class="col-sm-4  Qty tot-val-weight">
                             {{ormgt.totWgtOfPartsInKg | number : 0}}
                         </div>
                     </div>
                     <div class="row bottom-line-wrap" data-ng-if="ormgt.userPermissionsList.CheckPrice">
                         <div class="bottom-line">
                             <hr> </div>
                     </div>
                    <!-- <div class="row" data-ng-if="ormgt.userPermissionsList.CheckPrice">
                        <div class="col-sm-5">
                            <p class="summery-box">{{'ORDERMGMT.ORDER' | translate}} {{'ORDERMGMT.TOTALUSD' | translate}} </p>
                        </div>
                        <div class="col-sm-7"><p class="summery-right-box">{{ormgt.sumOfTotal| number :2}}</p></div>
                       
                    </div> -->
                    <div class="row littlegap" data-ng-if="ormgt.userPermissionsList.CheckPrice">
                        <div class="order-total">
                            <p>{{ 'ORDERMGMT.ORDER_TOTAL'  | translate}}</p>
                        </div>
                        <div class="total-Qty">{{'CURRENCY'| translate}} <span>{{ormgt.sumOfTotal | currency:""}}</span></div>
                    </div>
                    <div ng-show="ormgt.sumOfTotal > 100000 && ormgt.userPermissionsList.CheckPrice">
                        <p class="amount-warning-msg">
                            <i style="margin-top:-7px;" class="fa fa-exclamation-triangle" style="top:4px" aria-hidden="true"></i>
                            <!--Thanks for the great order! Are you sure you want to order <span>
                                USD {{ormgt.sumOfTotal| number :2}}
                            </span>?-->
                            {{ 'expresscheckout.EXECEDWRNMSG1'  | translate}}
                        </p>
                    </div>
                </div>
            
            <button class="btn btn-block btn-app btn-app-primary btn-ordrdetail" data-ng-if="ormgt.userPermissionsList.CreateOrder" data-ng-click="ormgt.checkout(true)" ng-disabled="ormgt.noOfSelectedParts == 0 || ormgt.cartQtyNotAllowed">{{'ORDERMGMT.CHECKOUT' | translate}}
            <!-- <i class="glyphicon glyphicon-circle-arrow-right pull-right" aria-hidden="true"></i> --></button>
            <a href="/" class="btn btn-block btn-app btn-app-transparent btn-ordrdetail cont-shopping" data-ng-click="">{{'ORDERMGMT.CONTINUESHOPING' | translate}} </a>
            <!-- <div data-ng-if="ormgt.isDirty && ormgt.orderType == 'STK'" class="save-block">
             
                <p class="font-weight: 700;
        font-size: 11px;"><i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
                 You have unsaved changes in the Cart</p>
                <button class="btn btn-block btn-app btn-app-primary btn-save"  data-ng-click="ormgt.saveData()">
                    SAVE
                </button>
            </div> -->
            <div class="remove-selected" ng-show="ormgt.isPartRemove">
                <!-- <div class="remove-selected-row">
                    <div class="remove-selected-clm1">
                        <i class="fa fa-info-circle" aria-hidden="true"></i>
                    </div>
                    <div class="remove-selected-clm2">
                        <p>{{ 'expresscheckout.MARKITEMREMOVEMSG'  | translate}}</p>
                    </div>
                </div> -->
                <div class="remove-selected-row">
                    <button class="btn btn-primary remove-btn" data-ng-click="ormgt.deleteSelectedItems()" data-ng-disabled="ormgt.cartQtyNotAllowed">{{ 'expresscheckout.REMOVESELECTED'  | translate}}</button>
                </div>
            </div>
            <div class="remove-selected" data-ng-if="ormgt.isDirty && ormgt.orderType == 'STK'" class="save-block">
                 <!--<div class="remove-selected-row">
                    <div class="remove-selected-clm1">
                        <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
                    </div>
                    <div class="remove-selected-clm2">
                        <p>You have unsaved changes in the Cart</p>
                    </div>
                </div>
                <button class="btn btn-block btn-app btn-app-primary btn-save"  data-ng-click="ormgt.saveData()">
                    SAVE
                </button>-->
                <button class="btn btn-block btn-app btn-app-primary btn-save"  data-ng-click="ormgt.saveData()" data-ng-disabled="ormgt.cartQtyNotAllowed">
                    {{'ORDERMGMT.CONFIRM_CHANGES' | translate}}
                </button>
            </div>
        </div>
    </div>
</div>


<!-- <div class="row">     
    <div class="text-right">
        <p class="headspace subusd">
            Note: Pricing displayed represents "Standard Net Price" and may not reflect program or promotional offerings. For any queries, please contact Customer Service at 800-621-8084
        </p>
    </div>
</div>
