// <!-- Author: Shaifali Jaiswal -->
 .editAvailabilityOverlay{
    .modal-dialog{
        width:700px;
    }
 }
.orderMgt {
    .breadcrumb-row{
        background-color: #FFF;
        box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 7px;
        // box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.05);
        .breadcrumb{
            background-color: #FFF;
            font-weight: 600; 
            margin-bottom: 0;
            padding: 8px 10px;
            li + li:before {
                padding: 0 5px;
                content: "> ";
                font-size: 10px;
                color: #777;
            }
            a:hover{
                cursor: pointer;
            }
        }
    }
    .custom-loader{
        width: 100%;
        height: 100%;
        position: fixed;
        z-index: 3000;
        margin: 0 auto;
        text-align: center;
        opacity: 0.7;
        background: #ffffff;
        .img-wrapper{
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            width: 100%;
            height: 100%;
            img{
                width: 40px;
                height: 40px;
                position: relative;
                top: 30%;
            }
        }
    }
    .tab-container{
    padding-left: 10px;
        .nav-tabs{
            width: 99.8%;
            li.active{
                border-top-left-radius: 3px;
                border-top-right-radius: 3px;
                a{
                    font-weight: 700;
                    font-size: 14px;
                    color: #494949 !important;
                }
            }
            li{ 
                border-top-left-radius: 3px;
                border-top-right-radius: 3px;
                a{
                    background-color: #f6f6f6 !important;
                    font-weight: 400;
                    font-size: 14px;
                    color: #616161 !important;
                }
            }
        } 
        .tab-content{
            border-top-right-radius: 3px;
            border-bottom-left-radius: 3px;
            border-bottom-right-radius: 3px;
            .tab-pane{
                .no-items{
                    margin-top: 1px;
                    border-top-right-radius: 3px;
                    border-bottom-left-radius: 3px;
                    border-bottom-right-radius: 3px;
                }
            }
        } 
    }
    .tooltip{
        z-index: 9;
    }
    .search-part 
    {
        border:1px solid #ccc;
        border-radius: 3px;
        margin: 5px auto 0;
        input {
            border: none;
            box-shadow: none;
            background-color: #fff;
            height: 25px;
            width: 200px;
        }
        button {
        background-color: #fff;
        border: none;
            i {
                color: #ccc;
            }
        }
    }
    input.date-txt{
        font-weight: 600;
        color: black !important;
        text-align: center;
    }
    .deleteMsg{
        //padding: 10px 0px;
        background: #fff67b ;
        border-radius: 3px;
        height: 40px;
        border:1px dashed #ccc;
        color:#232323;
        font-size: 12px;
        font-weight: 600;
        text-align: center;
        padding: 8px;
    }
    .pckg-qty-err{
        font-weight: 600;
        color: #414141;
        text-align: left;
        font-size: 11px;
        position: relative;
        padding-left: 13px;
        line-height: 12px;
        min-width: 85px;
        .fa-info-circle{
            color: #6e6e6e;
            font-size: 11px;
            margin-right: 5px;
            position: absolute;
            left: 0px;
            top: 2px;
        }
    }
    .headspace {
        margin-left: 10px;
        margin-top: 10px;
        margin-right: 10px;
    }
    .btn{
            border-radius: 3px;
            height: 36px;
        }
    .btn{
        text-transform: uppercase;
        color: #fff;
        font-size: 13px;
        font-weight: 600;
    }
    // start : master Styles
    .btn-app{
        height: 36px;
        font-weight: 600;
        font-size: 14px;
        border-radius: 3px;
        text-transform: uppercase;
        outline: 0;
    }
    .btn-app:focus, .btn-app.focus, .btn-app:active:focus, .btn-app:active.focus, .btn-app.active:focus, .btn-app.active.focus {
        outline: 0;
    }
    .btn-app-primary{
        background-color: $btn_primary_bgcolor;
        border-color: $btn_primary_border_color;
        color: #fff;
    }
    .btn-app-primary:focus, .btn-app-primary.focus, .btn-app-primary:hover {
        background-color: $btn_primary_focus_bgcolor;
        border-color: $btn_primary_focus_border_color;
        color: #fff;
    }
    .btn-app-success{
        background-color: #3FB300;
        border-color: #3FB300;
        color: #fff;
    }
    .btn-app-success:focus, .btn-app-success.focus, .btn-app-success:hover {
        background-color: #369900;
        border-color: #369900;
        color: #fff;
    }
    .btn-app-default{
        background-color: #707070;
        border-color: #707070;
        color: #707070;
    }
    .btn-app-default:focus, .btn-app-default.focus, .btn-app-default:hover {
        background-color: #666666;
        border-color: #666666;
        color: #666666;
    }
    .btn-app-transparent{
        background-color: transparent;
        border: 2px solid #363636;
        border-color: #363636;
        color: #363636;
        line-height: 20px;
    }
    .cont-shopping{
        margin-bottom: 25px;
    }
    .btn-app-transparent:focus, .btn-app-transparent.focus, .btn-app-transparent:hover {
        background-color: #E2E2E2;
        border: 2px solid #363636;
        border-color: #363636;
        color: #363636;
    }
    .btn-app-sm-default{
        color: #39B54A;
        background-color: #E5E5E5;
        font-size: 11px;
        font-weight: 600;
        height: 20px;
    }
    .btn-app-sm-default:focus, .btn-app-sm-default.focus {
        background-color: #E5E5E5;
        border-color: #E5E5E5;
        color: #39B54A;
    }
    .btn-block + .btn-block {
        margin-top: 10px;
    }
    .btn-calender{
        height: 34px;
    }
    .save-block{
        margin:15px 0;
    }
    .remove-selected {
            margin-top: 5px;
            .remove-btn{
                font-size: 10px;
                font-weight: 700;
                margin-bottom: 15px;
                width: 119px;
                height: 24px;
                padding: 0px;
            }
            .btn-save{
                font-size: 10px;
                font-weight: 700;
                width: 119px;
                height: 24px;
                padding: 0px;
                margin-bottom: 10px;
            }
            .remove-selected-row {
                width: 100%;
                float: left;
                .remove-selected-clm1 {
                    float: left;
                    width: 20px;
                }
                .remove-selected-clm2 {
                    float: left;
                    width: calc(100% - 20px);
                }
            }
            i {
                color:#747474;
                float: left;
                margin-top: 10px;
            }
            p {
                color: #747474;
                float: left;
            }
            button {
                background: #575757;
                border:none;
            }
        }
    .btn-save, .btn-save:hover{
        background-color: #39B54A !important;
        // width:85px;
        margin-top:10px;
    }
    .amount-warning-msg{
        color: #f99900;
        font-weight: 700;
        font-size: 11px;
        position: relative;
        padding-left:15px;
        .fa-exclamation-triangle{
            position: absolute;
            top:10px;
            left:0;
        }
    }
    .save-msg{
        //color: #f99900;
        font-weight: 700;
        font-size: 11px;
        position: relative;
        padding-left:15px;
        .fa-exclamation-triangle{
            position: absolute;
            top:10px;
            left:0;
        }
    }
    .ordrSrch{
        z-index: 0;
    }
    .shippedto {
    }
    .info-circle {
        margin-top: 10px;
    }
    .info-circle-detail {
        font-size: 11px;
        font-family: $app_font_family;
        color: #acacac;
        font-weight: normal;
        position: relative;
    }
    .summery-text {
        padding-left: 10px;
        font-size: 14px;
        font-family: $app_font_family;
        color: #777777;
        font-weight: 600;
        margin-top: 15px;
        margin-bottom: 8px;
    }
    .summery-box {
        font-size: 12px;
        font-family: $app_font_family;
        color: #6e6e6e;
        font-weight: 600;
    }
    .summery-box-parts {
        font-size: 12px;
        font-family: $app_font_family;
        font-weight: 400;
        color: #939393;
    }
    .summery-right-box {
        font-size: 14px;
        font-family: $app_font_family;
        color: #646464;
        font-weight: 700;
        text-align: right
    }
    .littlegap {
        p{
            font-weight: 400;
            color: #939393;
        }
        .order-total {
            p{
                font-weight: 700;
                font-size: 12px;
                color: #939393;
            }
            padding: 10px 0px 5px 10px;
        }
        .total-Qty{
            float: right;
            padding: 0px 10px 10px 10px;
            font-weight: 400;
            color: #646464;
            span{
                font-size: 24px;
                font-weight: 700;
                color: #646464;
            }
        }
        padding: 2px 10px 0px 6px;
        .text-center{
            padding-right: 6px;
        }
        .order-item-wrapper{
            width: 98%;
            margin-left: 4px;
            max-height: 200px;
            overflow-x: hidden;
            overflow-y: auto;
            .order-item-name-wrap{
            font-size: 11px;
            }
            .order-num-wrap{
            }
        }
    }
    [placeholder] {
        font-size: 11px;
        font-family: $app_font_family;
        color: #acacac;
        font-weight: normal;
    }
    .fa-info-circle {
        color: #6e6e6e;
        font-size: 16px;    
        //position: absolute;
        //left: -28px;
        //top: 7px;
    }
    // .checkout {
    //     font-size: 13px;
    //     font-family: Open Sans;
    //     color: #fff;
    //     font-weight: 600;
    // }
    // .tab-content > .active {
    //     display: block;
    //     border-left: 1px solid #ddd;
    //     border-right: 1px solid #ddd;
    //     border-bottom: 1px solid #ddd;
    //     padding: 5px 0px;
    // }
    // .nav-tabs > li > a {
    //     font-family: Open Sans;
    //     font-weight: 600;
    //     font-size: 13px;
    //     color: #323232;
    // }
    .stock-order-cotent, .emer-order-cotent{
        margin-top: 1px;
        background: #ffffff;
        border-top-right-radius: 3px;
        border-bottom-left-radius: 3px;
        border-bottom-right-radius: 3px;        
    }
    .stock-order-cotent .uib-datepicker-popup.dropdown-menu{
        padding:0;
    }
    .extrabold {
        font-family: $app_font_family;
        font-weight: 800;
        font-size: 13px;
        color: $active_link_color;
        &:active {
            color: $active_link_color;
            font-weight: 800;
        }
    }
    li.active{
        .extrabold{
            display: inline-block;
            color: $active_link_color;
        }
    }
    .fa-sort {
        cursor: pointer;
    }
    // .nav-tabs > li.active > a,
    // .nav-tabs > li.active > a:hover,
    // .nav-tabs > li.active > a:focus {
    //     color: #fff !important;
    //     background-color: #0093c6;
    //     cursor: default;
    //     border-bottom-width: 0px;
    // }
    .tab-container{
        margin-top: 25px;
        .nav-tabs > li {
            margin-right: 8px;
        }
        .tab-content {
            //border: 1px solid #d1d1d1;
            border-top: 0;
        }
        .nav-tabs{
            border-bottom: transparent;
            li.active .nav-link {
                border: transparent;
                background-color: #FFFFFF !important;
                color: black;
                &:hover{
                    pointer-events: none;
                    cursor: not-allowed;
                }
            }
            li.active .nav-link {
                .tabs{ 
                    border-bottom: transparent;
                }
            }
            li{
                background-color: #fbfbfb;
            }
            >li >a{
                margin-right: 0px !important;
                background-color: #fbfbfb;
            }
            > li .nav-link {
                //background-color: #0093c6;
                //background-color: #0093c6;
                //color: #fff;
                color: black;
                padding: 0;
                padding: 0;
                uib-tab-heading {
                    padding: 10px 15px;
                    display: block;
                }
            }
            > li.disabled{
                pointer-events: none;
                a.nav-link{
                    background: #e5e5e5;
                    pointer-events: none;
                    cursor: not-allowed;
                }
            }
            li .nav-link {
                border: none;
                font-size: 13px;
                font-weight: 600;
                background-color: #EEEEEE;
                .tabs{ 
                    border-bottom: 1px solid #e1e1e1;
                }
            }
            > li > a:hover {
                border-color: transparent;
                cursor: pointer;
                //border-bottom: 0px solid #EFF0F1;
            }
            > li.active > a:hover {
                border-color: #ddd;
                border-bottom-color: transparent;
            }
        }
    }
    .pad15{
        padding: 15px;
    }
    .emer-order-cotent{
        table.car-list-table{
            >thead{
            .line-no{
                width: 4%;
            }
            .part-no{
            width: 28%;
             .search-part{
                float: left;
                background-color: #fff;
                    input{
                        width: 225px;
                    }
                }
            }
            .qty{
                width: 5%;
            }
            .uom{
                width: 4%;
            }
            .ext-weight{
                width: 6%;
            }
            .bck-ordr{
                width: 5%;
            }
            .unit-price{
                width: 9%;
            }
            .unit-core-deposit{
                width: 10%;
            }
            .ext-price{
                width: 10%;
            }
            .select-to-remove{
                width:6%;
                .remove-box{
                    text-align: center;
                }
            }
            .ship-from{
                width: 13%;
            }
            }
        }
    }
    table.car-list-table{
        >thead{
            >tr{
                background-color: #fbfbfb;
                &:first-child {
                    border-top: 1px solid #f1f1f1;
                }
                &:last-child {
                    border-bottom: 1px solid #f1f1f1;
                }
                >th{
                    padding: 7px;
                    vertical-align: top;
                    text-align: left;
                    border-bottom: 1px solid #f1f1f1;
                    //background-color: #eeeeee;
                    font-weight: 700;
                    font-size: 11px;
                    font-family: $app_font_family;
                    color: #acacac;
                    border-right: 1px solid #f1f1f1;
                    border-left: 1px solid #f1f1f1;
                    width: 1%;
                    &:nth-child(2) {
                        border-right: 1px solid #f1f1f1;
                    }
                    .inline-style {
                        display: inline;
                    }
                    .inline-style.ship-to-date{
                        padding-left: 13px;
                    }
                }
                >th.hr-center{
                    text-align: center;
                    .fa.pull-right{
                        position: relative;
                        top: 2px;
                    }
                }
                >th.hr-right{
                    text-align: center;
                    .fa.pull-right{
                        position: relative;
                        top: 2px;
                    }
                }
            }
            .line-no{
                width: 4%;
            }
            .part-no{
            width: 28%;
             .search-part{
                float: left;
                background-color: #fff;
                    input{
                        width: 225px;
                    }
                }
            }
            .qty{
                width: 5%;
            }
            .uom{
                width: 4%;
            }
            .ext-weight{
                width: 7%;
            }
            .bck-ordr{
                width: 5%;
            }
            .unit-price{
                width: 10%;
            }
            .unit-core-deposit{
                width: 10%;
            }
            .ext-price{
                width: 11%;
            }
            .ship-date{
                width: 10%;
            }
            .select-to-remove{
                width:6%;
                .remove-box{
                    text-align: center;
                }
            }
        }
        >tbody{
            >tr{
                &:first-child {
                    border-top: 1px solid #f1f1f1;
                }
                &:last-child {
                    border-bottom: 1px solid #f1f1f1;
                }
                >td{
                    font-size: 12px;
                    font-family: $app_font_family;
                    color: #323232;
                    font-weight: 400;
                    .qty-added{
                        width: 85px;
                        display: inline-block;
                        padding-right: 3px;
                    }
                    .qty-err{
                        border: 2px solid #ff9d02;
                    }
                    .eo-qty-req{
                        border: 1px solid #ACACAC;
                        border-radius: 3px;
                        background-color: #FFFFFF;
                        padding: 2px 5px;
                        width: 45px;
                        display: inline-block;
                    }
                }
                >td.vt-hr-center{
                    text-align: center !important;
                    vertical-align: top;
                }
                >td.vt-hr-right{
                    text-align: right !important;
                    vertical-align: top;
                }
                >td {
                    border-top: 1px solid #f1f1f1;
                    &:first-child {
                        text-align: center;
                        padding: 8px 15px !important;
                        border-right: 1px solid #f1f1f1;
                        border-left: 1px solid #f1f1f1;
                    }
                    &:nth-child(2) {
                        border-right: none; 
                        text-align: left;
                        border-right: 1px solid #f1f1f1;
                    }
                    &:nth-child(3) {
                        border-right: none;
                        text-align: left; 
                        border-right: 1px solid #f1f1f1;
                    }
                    &:nth-child(4) {
                        border-right: none; 
                        border-right: 1px solid #f1f1f1;
                    }
                    &:nth-child(5) {
                        border-right: none; 
                        border-right: 1px solid #f1f1f1;
                        vertical-align: top;
                    }
                    &:nth-child(6) {
                        border-right: none; 
                        text-align: left;
                        border-right: 1px solid #f1f1f1;
                    }
                    &:nth-child(7) {
                        border-right: none; 
                        text-align: left;
                        border-right: 1px solid #f1f1f1;
                    }
                    &:nth-child(8) {
                        border-right: none; 
                        text-align: left;
                        border-right: 1px solid #f1f1f1;
                    }
                    &:nth-child(9) {
                        border-right: none; 
                        text-align: left;
                        border-right: 1px solid #f1f1f1;
                    }
                    &:nth-child(10) {
                        border-right: none;
                        text-align: left;
                        border-right: 1px solid #f1f1f1;
                    }
                    &:nth-child(11) {
                        text-align: left; 
                        border-right: 1px solid #f1f1f1;
                        border-left: 1px solid #f1f1f1;
                    }
                    &:nth-child(12) {
                        border-right: 1px solid #f1f1f1; 
                        text-align: left;
                        border-right: 1px solid #f1f1f1;
                    }
                    &:last-child{
                        border-right: 0;   
                        text-align: left; 
                    }
                    .imgWidth {
                        width: 40%;
                        border-right: none; 
                    }
                    .imgWidth.part-img{
                        width: 100%;
                        .img-responsive{
                            width: 100%;
                        }
                    }
                    .detailWidth {
                        width: 60%;
                    }
                    input[type="checkbox"].checkboxalign {
                        vertical-align: -webkit-baseline-middle !important;
                        width: 15px;
                        height: 15px;
                        &:focus {
                            outline: none;
                        }
                    }
                    input[type="number"] {
                        height: 30px;
                        border-radius: 3px;
                        font-size: 12px;
                        color: #323232;
                    }
                    i {
                        color: #6e6e6e;
                        font-size: 14px;
                    }
                }
                >td{
                    .inptQty{
                        width: 40px;
                    }
                    .part-num{
                        //color: #0093c6;
                        font-size: 12px;
                        font-weight: 600;
                        display: block;
                    }
                }
                >td{
                    &:nth-child(2) {
                        padding-right: 5px;
                    }
                }
                >td.border-rl{
                    border-left: 1px solid #f1f1f1;
                    border-right: 1px solid #f1f1f1;
                }
                >td.td-date{
                    p.date-wrapper{
                        margin: auto;
                        margin-bottom: 0;
                        .date-txt{
                            height: 28px;
                            border-radius: 3px;
                            font-size: 12px;
                            width: 90px;
                            background: transparent;
                        }
                        >div{
                            .btn {
                                display: inline-block;
                                margin-bottom: 0;
                                font-weight: 400;
                                text-align: center;
                                vertical-align: middle;
                                -ms-touch-action: manipulation;
                                touch-action: manipulation;
                                cursor: pointer;
                                border: 1px solid transparent;
                                white-space: nowrap;
                                padding: 6px 12px;
                                font-size: 14px;
                                line-height: 1.42857;
                                -webkit-user-select: none;
                                -moz-user-select: none;
                                -ms-user-select: none;
                                user-select: none;
                                border-radius: 0;
                            }
                            .btn-default{
                                color: #333;
                                background-color: #fff;
                                border-color: #ccc;
                            }
                            .btn-default.active, .btn-default:active, .btn-default:hover, .open>.btn-default.dropdown-toggle {
                                color: #333;
                                background-color: #e6e6e6;
                                border-color: #adadad;
                            }
                            .btn.focus, .btn:focus, .btn:hover {
                                color: #333;
                                text-decoration: none;
                            }
                            .btn-group-sm>.btn, .btn-sm {
                                padding: 5px 10px;
                                font-size: 12px;
                                line-height: 1.5;
                            }
                            .btn-info:active:hover, .btn-info:active:focus, .btn-info:active.focus, .btn-info.active:hover, .btn-info.active:focus, .btn-info.active.focus, .open > .btn-info.dropdown-toggle:hover, .open > .btn-info.dropdown-toggle:focus, .open > .btn-info.dropdown-toggle.focus {
                                color: #fff;
                                background-color: #269abc;
                                border-color: #1b6d85;
                            }
                            .btn-info.active, .btn-info:active, .btn-info:hover, .open>.btn-info.dropdown-toggle {
                                color: #fff;
                                background-color: #31b0d5;
                                border-color: #269abc;
                            }
                            .btn.disabled, .btn[disabled]{
                                cursor: not-allowed;
                                opacity: 0.65;
                                filter: alpha(opacity=65);
                                box-shadow: none;
                            }
                        }
                    }
                    
                }
            }
        }
    }
    // tr {
    //     &:first-child {
    //         border-top: 1px solid #ddd;
    //     }
    //     &:last-child {
    //         border-bottom: 1px solid #ddd;
    //     }
    // }
    // th {
    //     font-weight: 600;
    //     font-size: 11px;
    //     font-family: Open Sans;
    //     color: #acacac;
    //     border-right: 1px solid #ddd;
    //     width: 4%;
    //     &:nth-child(2) {
    //         border-right: 1px solid #ddd;
    //     }
    //     .inline-style {
    //         display: inline;
    //     }
    //     .inline-style.ship-to-date{
    //         padding-left: 13px;
    //     }
    // }
    // td {
    //     font-size: 13px;
    //     font-family: Open Sans;
    //     color: #323232;
    //     font-weight: 500;
    // }
    // th.hr-center{
    //     text-align: center;
    //     .fa.pull-right{
    //         position: relative;
    //         top: 2px;
    //     }
    // }
    // th.hr-right{
    //     text-align: right;
    //     .fa.pull-right{
    //         position: relative;
    //         top: 2px;
    //     }
    // }
    // td.vt-hr-center{
    //     text-align: center !important;
    //     vertical-align: middle;
    // }
    // td.vt-hr-right{
    //     text-align: right !important;
    //     vertical-align: middle;
    // }
    // td {
    //     &:first-child {
    //         width: 2%;
    //         text-align: center;
    //         padding: 8px 15px !important;
    //         border-right: 1px solid #ddd;
    //     }
    //     &:nth-child(2) {
    //         width: 20%;
    //         border-right: none; 
    //         text-align: left;
    //     }
    //     &:nth-child(3) {
    //         width: 10%;
    //         border-right: none;
    //         text-align: left; 
    //     }
    //     &:nth-child(4) {
    //         width: 5%;
    //         border-right: none; 
    //         text-align: left;
    //     }
    //     &:nth-child(5) {
    //         width: 8%;
    //         border-right: none; 
    //         text-align: left;
    //     }
    //     &:nth-child(6) {
    //         width: 10%;
    //         border-right: none; 
    //         text-align: left;
    //     }
    //     &:nth-child(7) {
    //         width: 8%;
    //         border-right: none; 
    //         text-align: left;
    //     }
    //     &:nth-child(8) {
    //         width: 10%;
    //         border-right: none; 
    //         text-align: left;
    //     }
    //     &:nth-child(9) {
    //         width: 9%;
    //         border-right: none; 
    //         text-align: left;
    //     }
    //     &:nth-child(10) {
    //         width: 3%;
    //         border-right: none;
    //         text-align: left;
    //     }
    //     &:nth-child(11) {
    //         text-align: left; 
    //     }
    //     &:nth-child(12) {
    //         border-right: 1px solid #ddd; 
    //         text-align: left;
    //         width: 3%;
    //     }
    //     &:last-child{
    //         width: 3%; 
    //         border-right: 0;   
    //         text-align: left; 
    //     }
    //     .imgWidth {
    //         width: 40%;
    //         border-right: none; 
    //     }
    //     .imgWidth.part-img{
    //         width: 100%;
    //         .img-responsive{
    //             width: 100%;
    //         }
    //     }
    //     .detailWidth {
    //         width: 60%;
    //     }
    //     input[type="checkbox"].checkboxalign {
    //         vertical-align: -webkit-baseline-middle !important;
    //         width: 15px;
    //         height: 15px;
    //         &:focus {
    //             outline: none;
    //         }
    //     }
    //     input[type="number"] {
    //         height: 28px;
    //         border-radius: 3px;
    //     }
    //     i {
    //         color: #6e6e6e;
    //         font-size: 14px;
    //     }
    // }
    // td{
    //     .inptQty{
    //         width: 40px;
    //     }
    //     .part-num{
    //         //color: #0093c6;
    //         font-size: 12px;
    //         font-weight: 600;
    //         display: block;
    //     }
    // }
    // td{
    //     &:nth-child(2) {
    //         padding-right: 5px;
    //     }
    // }
    // td.border-rl{
    //     border-left: 1px solid #ddd;
    //     border-right: 1px solid #ddd;
    // }
    
    .bg-default-bg {
        background-color: #fff;
        border: 1px solid #f1f1f1;
        border-radius: 3px;
        padding: 15px 15px 5px;
        margin-bottom: 10px;
        .littlegap {
            p{
                font-weight: 400;
                color: #939393;
            }
            .order-total {
                p{
                    font-weight: 700;
                    font-size: 12px;
                    color: #939393;
                }
                padding: 10px 0px 5px 10px;
            }
            .total-Qty{
                float: right;
                padding: 0px 10px 10px 10px;
                font-weight: 400;
                color: #646464;
                span{
                    font-size: 24px;
                    font-weight: 700;
                    color: #646464;
                }
            }
            padding: 2px 0px 0px 0px;
            .text-center{
                padding-right: 6px;
            }
            .order-item-wrapper{
                width: 98%;
                margin-left: 4px;
                max-height: 200px;
                overflow-x: hidden;
                overflow-y: auto;
                .order-item-name-wrap{
                font-size: 11px;
                }
                .order-num-wrap{
                }
            }
        }
        .Qty {
            font-weight: 700;
            color: #646464;
            text-align: right;
            font-size: 14px;
        }
    }
    .bg-primary {
        padding: 4px 15px;
        border-radius: 3px;
        a {
            color: white;
            &:hover,
            &:focus {
                color: white;
            }
        }
    }
    .checkout {
        // margin-right: 40px;
        text-align: center;
        font-size: 13px;
        font-family: $app_font_family;
        color: #fff;
        font-weight: 600;
        text-transform: uppercase;
    }
    .fa-arrow-circle-o-right {
        font-size: 14px;
        color: #fff;
    }
    .bg-default {
        border: 1px solid #0093c6;
        border-radius: 3px;
        padding: 4px 20px;
        text-transform: uppercase;
        text-align: center;
        font-size: 13px;
        font-family: $app_font_family;
        color: #a4a4a4;
        font-weight: 700;
        h6{
            font-weight: bold;
            font-size: 13px;
            line-height: 13px;
            margin-top: 7px;
            margin-bottom: 7px;
        }
    }
    hr {
        margin-top: 1px;
        margin-bottom: 5px;
    }
    .fa {
        // font-size: 14px;
        // margin-left: 2px;
        // font-weight: 500;
    }
    .usd-highlight {
        font-size: 16px;
        font-weight: 700;
        font-family: $app_font_family;
        color: #323232;
        margin-left: 6px;
        margin-right: 20px;
    }
    .subusd {
        font-family: $app_font_family;
        margin-top: 5px;
        margin-bottom: 40px;
        font-size: 12px;
        font-weight: 600;
        color: #555;
    }
    a {
        &:hover,
        &:focus {
            text-decoration: none;
        }
    }
    a.btn-checkout{
        margin-bottom: 10px;
        display: block;
        h5{
            margin-bottom: 7px;
            margin-top: 7px;
        }
    }
    tbody {
        ul {
            li {
                list-style: none;
                display: inline;
            }
        }
        .itm-part-details{
            cursor: pointer;
            .part-img{
                float: left;
                width: 15%;
            }
            .part-num-name{
                float: left;
                padding-left: 10px;
                padding-right: 5px;
                width: 85%;
                .part-num{
                    float: left;
                    color: $active_link_color;
                    font-size: 12px;
                    font-weight: 700;
                    display: block;
                    text-transform: uppercase;
                }
                .part-name{
                    word-break: break-word;
                    color: #000;
                    float: left;
                    cursor: text;
                }
            }
        }
    }
    .table.car-list-table{
        margin-bottom: 0px !important;
        thead > tr > th{
            //padding: 10px;
        }
        .part-num-col{
            //width: 40px;
            width: 6%;
        }
    }
    .stock-ordr-sumry{
        padding-left: 0;
    }
    input[name="quantity"],input[name="shippingDate"]{
        width: 60px;
        text-align: center;
        border: 1px solid #c5c5c5;
        background: #fff;
        padding-left: 12px;
        font-size: 13px;
        font-weight: 700;
        color: #6e6e6e;
    }
    input[name="shippingDate"]{
        width: 140px;
        height: 30px;
        border-radius: 3px;
        font-size: 12px;
    }
    input.search-by-part{
        color: #9e9e9e;
        font-size: 13px;
    }
    .search-by-part + .input-group-addon{
        a{
            font-size: 16px;
            color: #277eb6;
        }
    }
    .checkbox-label{
        margin: 0 ;
        .fa-square-o, .fa-check-square{
            color: #0093c6;
            font-size: 16px;
            margin-left: 0;
        }
        .fa-check-square{
            background-color: #ffffff;
        }
    }
    .pad-20{
        padding: 20px;
    }
    .no-items{
        min-height: 342px;
        padding-top: 139px;
        background: #ffffff;
        h3{
            margin-top: 0;
            font-size: 24px;
            font-weight: 300;
            color: #afafaf;
            margin-bottom: 15px;
        }
        .fa{
            color: #cdcdcd;
            font-size: 52px;
            font-weight: 300;
        }
    }
    .posFixed{
        position:fixed;
        right:10px;
    }
    .affix-ads{
        top: 80px;
    }
    .address-small{
        font-size:11px;
    }
}
/* Landscape mini, ipad 1&2, ipad 3&4*/
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (orientation: landscape) 
  and (-webkit-min-device-pixel-ratio: 1),
screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (orientation: landscape) 
  and (-webkit-min-device-pixel-ratio: 1),
screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (orientation: landscape) 
  and (-webkit-min-device-pixel-ratio: 2){
      .orderMgt {
            .tab-container{
                padding-left: 0;
                .so-summary{
                    padding-right: 0;
                }
            }
            .stock-order-cotent{
                table.car-list-table{
                >thead{
                    >th{
                        padding: 8px 4px;
                    }
                    .line-no{
                        padding: 8px 4px;
                        width: 4%;
                    }
                    .part-no{
                        padding: 8px 4px;
                    width: 28%;
                     .search-part{
                        float: left;
                        background-color: #fff;
                            input{
                                width: 120px;
                            }
                        }
                    }
                    .qty{
                        padding: 8px 4px;
                        width: 5%;
                    }
                    .uom{
                        padding: 8px 4px;
                        width: 4%;
                    }
                    .ext-weight{
                        padding: 8px 4px;
                        width: 6%;
                    }
                    .bck-ordr{
                        padding: 8px 4px;
                        width: 5%;
                    }
                    .unit-price{
                        padding: 8px 4px;
                        width: 9%;
                    }
                    .unit-core-deposit{
                        padding: 8px 4px;
                        width: 10%;
                    }
                    .ext-price{
                        padding: 8px 4px;
                        width: 12%;
                    }
                    .ship-date{
                        padding: 8px 4px;
                        width: 10%;
                    }
                    .select-to-remove{
                        padding: 8px 4px;
                        width:7%;
                        .remove-box{
                            text-align: center;
                        }
                    }
                    .ship-from{
                        padding: 8px 4px;
                        width: 13%;
                    }

                }
                    tbody{
                        tr{
                            td{
                                .qty-added{
                                    width: 45px;
                                    padding: 6px 5px;
                                    height: 27px;
                                }
                                padding: 8px 4px;
                            }
                            td.td-date{
                                .date-wrapper{
                                    .btn-calender{
                                        display: none;
                                    }
                                    input{
                                        height: 27px;
                                        padding: 8px 0px;
                                        border-radius: 3px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
            .emer-order-cotent{
                table.car-list-table{
                    >thead{
                        >th{
                            padding: 8px 4px;
                        }
                        .line-no{
                            padding: 8px 4px;
                            width: 4%;
                        }
                    .part-no{
                        padding: 8px 4px;
                    width: 28%;
                     .search-part{
                        float: left;
                        background-color: #fff;
                            input{
                                width: 120px;;
                            }
                        }
                    }
                    .qty{
                        padding: 8px 4px;
                        width: 5%;
                    }
                    .uom{
                        padding: 8px 4px;
                        width: 4%;
                    }
                    .ext-weight{
                        padding: 8px 4px;
                        width: 7%;
                    }
                    .bck-ordr{
                        padding: 8px 4px;
                        width: 5%;
                    }
                    .unit-price{
                        padding: 8px 4px;
                        width: 9%;
                    }
                    .unit-core-deposit{
                        padding: 8px 4px;
                        width: 10%;
                    }
                    .ext-price{
                        padding: 8px 4px;
                        width: 11%;
                    }
                    .ship-date{
                        padding: 8px 4px;
                        width: 13%;
                    }
                    .select-to-remove{
                        padding: 8px 4px;
                        width:7%;
                        .remove-box{
                            text-align: center;
                        }
                    }
                    .ship-from{
                        padding: 8px 4px;
                        width: 10%;
                    }

                    }
                    tbody{
                        tr{
                            td{
                                padding: 8px 4px;
                                .eo-qty-req{
                                    width: 45px;
                                } 
                            }
                        }
                    }
                }
            }
            .btn-app-transparent{
                font-size: 13px;
                padding: 6px 2px;
                margin-bottom: 15px;
                margin-top: 5px;
            }
            .btn-save{
                margin-top: 5px;
            }
            .tab-container{
                .so-summary{
                    .summery-text {    
                        font-size: 13px;
                        width: 80%;
                        margin-top: 2px;
                    }
                    .bg-default-bg{
                        .part-ipad{
                            width: 100%;
                            padding: 0;
                        }
                        .part-val-ipad{
                            width: 100%;
                            text-align: left;
                            padding: 0;
                            p{
                                text-align: left;
                            }
                        }
                        .qty-ipad{
                            width: 100%;
                            padding: 0;
                        }
                        .qty-val-ipad{
                            width: 100%;
                            text-align: left;
                            padding: 0;
                            p{
                                text-align: left;
                            }
                        }
                        .tot-weight{
                            width: 100%;
                            padding: 0;
                        }
                        .tot-val-weight{
                            width: 100%;
                            text-align: left;
                            padding: 0;
                        }
                        .order-total{
                            padding: 0;
                        }
                        .total-Qty{
                            padding: 0;
                            float:left;
                            span{
                                font-size: 18px;
                            }
                        }
                    }
                }
            }
      }
}
