<!-- Author: Shaifali Jaiswal -->
<div class="container-fluid orderMgt">
    <div class="row">
        <div class="col-md-10">
            <uib-tabset active="active">
                <uib-tab index="0" ng-click="ormgt.getCartData()">
                    <uib-tab-heading>Stock Order cart <span class="extrabold"><!-- {{ormgt.cartData.length}} --></span></uib-tab-heading>
                    <div ng-show="ormgt.getCart">
                   
                        <div class="row">
                            <div class="col-md-9">
                                <div class="input-group ordrSrch headspace">
                                    <!-- <input type="search" class="form-control search-by-part"  placeholder="Search items in this cart by the part name & number"> -->
                                    <!-- <input type="text" ng-model="ormgt.srchStr" uib-typeahead="state for state in ormgt.partNos | filter:$viewValue | limitTo:8" class="form-control" placeholder="Search items in this cart by the part name & number"> -->
                                    <input type="text" ng-model="ormgt.srchStr" class="form-control" placeholder="Search items in this cart by the part name & number">
                                    <span class="input-group-addon"><a href=""><i class="glyphicon glyphicon-search"></i></a></span>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="shippedto">
                                    <div class="col-md-1">
                                        <h5 class="info-circle">
                                            <i class="fa fa-info-circle" aria-hidden="true"></i>
                                        </h5>
                                    </div>
                                    <div class="col-md-11">
                                        <p class="info-circle-detail">
                                            Selected items in this cart can be shipped to only one shiped to address.
                                            </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 table-responsive">
                                <table class="table car-list-table">
                                    <thead>
                                        <tr>
                                            <th>
                                                <div>
                                                    <label data-ng-click="ormgt.selectAllCartItem()"   data-ng-model="ormgt.isAllCartItmChecked" uib-btn-checkbox class="checkbox-label">
                                                        <i class="fa" ng-class="ormgt.isAllCartItmChecked ? 'fa-check-square' : 'fa-square-o' "></i>
                                                    </label>
                                                </div>
                                            </th>
                                            <th>
                                                <div  class="inline-style"  data-ng-click="ormgt.sortType = 'partNo'; ormgt.sortReverse = !ormgt.sortReverse">part no <i class="fa fa-sort pull-right" aria-hidden="true"></i></div>
                                            
                                            </th>
                                            <th > 
                                                <div class="inline-style" data-ng-click="ormgt.sortType = 'partName'; ormgt.sortReverse = !ormgt.sortReverse">part name <i class="fa fa-sort" aria-hidden="true"></i></span></div>
                                            
                                             </th>
                                            <th>
                                                <div class="inline-style" data-ng-click="ormgt.sortType = 'qtyReq'; ormgt.sortReverse = !ormgt.sortReverse">Order<br><div class="inline-style"> Qty<i class="fa fa-sort pull-right" aria-hidden="true"></i></div></div>
                                           </th>
                                            <th>
                                                <div class="inline-style" data-ng-click="ormgt.sortType = 'uom'; ormgt.sortReverse = !ormgt.sortReverse"> UOM  <i class="fa fa-sort pull-right" aria-hidden="true"></i>
                                                </div>
                                            </th>
                                            <th>
                                                <div class="inline-style">Back Order<i class="fa fa-question-circle pull-right" aria-hidden="true"></i></div>
                                            </th>
                                            <th>
                                                <div class="inline-style" data-ng-click="ormgt.sortType = 'unitPrice'; ormgt.sortReverse = !ormgt.sortReverse">Unit <br>Price USD<div class="inline-style"><i class="fa fa-sort pull-right" aria-hidden="true"></i></div></div>
                                            </th>
                                            <th>
                                                <div class="inline-style" data-ng-click="ormgt.sortType = 'extdPrice'; ormgt.sortReverse = !ormgt.sortReverse">Extended <br> Price USD<div class="inline-style"><i class="fa fa-sort pull-right" aria-hidden="true"></i></div></div>
                                            </th>
                                            <th>
                                                <div class="inline-style" data-ng-click="ormgt.sortType = 'corePrice'; ormgt.sortReverse = !ormgt.sortReverse">Core charges <br>Total USD <div class="inline-style">&nbsp;&nbsp;&nbsp;&nbsp;<i class="fa fa-sort pull-right" aria-hidden="true"></i></div></div>
                                            </th>
                                            <th>
                                                <div class="inline-style" data-ng-click="ormgt.sortType = 'totalPrice'; ormgt.sortReverse = !ormgt.sortReverse">Product <br>Total USD<div class="inline-style"><i class="fa fa-sort pull-right" aria-hidden="true"></i></div></div>
                                            </th>
                                            <th>
                                                <div class="inline-style" data-ng-click="ormgt.sortType = 'shippingDate'; ormgt.sortReverse = !ormgt.sortReverse">Requested<br> Ship-to-Date<div class="inline-style ship-to-date"><i class="fa fa-sort" aria-hidden="true"></i></div></div>
                                            </th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                       <tr ng-repeat="obj in ormgt.cartData | orderBy:ormgt.sortType:ormgt.sortReverse | filter: ormgt.srchStr">
                                            <td>
                                                <label data-ng-click="ormgt.selectCartItem(obj)" data-ng-model="obj.checked" uib-btn-checkbox class="checkbox-label">
                                                    <i class="fa" ng-class="obj.checked ? 'fa-check-square' : 'fa-square-o' "></i>
                                                </label>
                                            </td>
                                            <td>
                                                <div>
                                                    <div class="part-img">
                                                        
                                                        <img ng-src="{{protocol}}://placehold.it/50x50/dbdbdb/0099CC/?text=NO+IMAGE" src="https://placehold.it/50x50/dbdbdb/0099CC/?text=NO+IMAGE" class="img-responsive">
                                                    </div>
                                                   
                                                </div>
                                            </td>
                                            <td>
                                                <div class="detailWidth">
                                                    <span class="part-num">{{obj.partNo}}</span>
                                                    <span class="part-name">{{obj.partName}}</span>
                                                </div>
                                            </td>

                                            <!-- <td><input type="number" name="quantity" data-ng-model="obj.qtyReq" data-ng-disabled="true" min="0" max="99"></td> -->
                                            
                                            <td><span data-ng-model="obj.qtyReq">{{obj.qtyReq}}</span></td>

                                            <td>{{obj.uom}}</td>
                                            <td>{{obj.backOrderQty}}</td>
                                            <td >{{obj.STANDARD_BASE}}</td>
                                            <td>{{obj.qtyReq * obj.STANDARD_BASE}}</td>
                                            <td>{{obj.CORE_BASE}}</td>
                                            <td>{{obj.qtyReq * obj.STANDARD_BASE + obj.CORE_BASE}}</td>
                                            <td>
                                            <input type="date" name="shippingDate" data-ng-disabled="true" data-ng-model="obj.refData[0].estAvlDate">
                                            </td>
                                            <td>
                                                <a href="">
                                                <i class="fa fa-pencil" aria-hidden="true" ng-click="ormgt.editItem(obj)"></i>&nbsp;&nbsp;&nbsp; <i class="fa fa-trash" aria-hidden="true" ng-click="ormgt.deleteItem(obj.id)"></i>
                                                </a>
                                            </td>
                                        </tr>
                                    </tbody>

                                    <!-- <tbody>
                                       <tr>
                                            <td>
                                                <label data-ng-click="ormgt.selectCartItem(obj)" data-ng-model="obj.checked" uib-btn-checkbox class="checkbox-label">
                                                    <i class="fa" ng-class="obj.checked ? 'fa-check-square' : 'fa-square-o' "></i>
                                                </label>
                                            </td>
                                            <td>
                                                <div>
                                                    <div class="imgWidth part-img">
                                                        <img ng-src="{{protocol}}://placehold.it/50x50/dbdbdb/0099CC/?text=NO+IMAGE" src="{{protocol}}://placehold.it/50x50/dbdbdb/0099CC/?text=NO+IMAGE" class="img-responsive">
                                                    </div>
                                                   
                                                </div>
                                            </td>
                                            <td>
                                                <div class="detailWidth">
                                                    <span class="part-num">SPL1001FK</span>
                                                    <span class="part-name">UNIVERSAL JOINT</span>
                                                </div>
                                            </td>
                                            <td><input type="number" name="quantity" value="5" data-ng-disabled="true" min="0" max="99"></td>
                                            <td>pk</td>
                                            <td>5</td>
                                            <td >10</td>
                                            <td>20</td>
                                            <td>100</td>
                                            <td>200</td>
                                            <td><input type="date" name="shippingDate" data-ng-disabled="true" ></td>
                                            <td>
                                                <a href="">
                                                <i class="fa fa-pencil" aria-hidden="true" ng-click="ormgt.editItem(obj)"></i>&nbsp;&nbsp;&nbsp; <i class="fa fa-trash" aria-hidden="true" ng-click="ormgt.deleteItem(obj.id)"></i>
                                                </a>
                                            </td>
                                        </tr>

                                        <tr>
                                            <td>
                                                <label data-ng-click="ormgt.selectCartItem(obj)" data-ng-model="obj.checked" uib-btn-checkbox class="checkbox-label">
                                                    <i class="fa" ng-class="obj.checked ? 'fa-check-square' : 'fa-square-o' "></i>
                                                </label>
                                            </td>
                                            <td>
                                                <div>
                                                    <div class="imgWidth part-img">
                                                        <img ng-src="{{protocol}}://placehold.it/50x50/dbdbdb/0099CC/?text=NO+IMAGE" src="{{protocol}}://placehold.it/50x50/dbdbdb/0099CC/?text=NO+IMAGE" class="img-responsive">
                                                    </div>
                                                   
                                                </div>
                                            </td>
                                            <td>
                                                <div class="detailWidth">
                                                    <span class="part-num">SPL1001FK</span>
                                                    <span class="part-name">UNIVERSAL JOINT</span>
                                                </div>
                                            </td>
                                            <td><input type="number" value="5" name="quantity" data-ng-disabled="true" min="0" max="99"></td>
                                            <td>pk</td>
                                            <td>5</td>
                                            <td >10</td>
                                            <td>20</td>
                                            <td>100</td>
                                            <td>200</td>
                                            <td><input type="date" name="shippingDate" data-ng-disabled="true" ></td>
                                            <td>
                                                <a href="">
                                                <i class="fa fa-pencil" aria-hidden="true" ng-click="ormgt.editItem(obj)"></i>&nbsp;&nbsp;&nbsp; <i class="fa fa-trash" aria-hidden="true" ng-click="ormgt.deleteItem(obj.id)"></i>
                                                </a>
                                            </td>
                                        </tr>

                                    </tbody> -->

                                </table>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <h6 ng-show="ormgt.bad400" class="headspace subusd"> <span class="usd-highlight "> Error in getting price</span></h6>
                            </div>
                            <div class="col-md-6 text-right">
                                <h6 class="headspace subusd">Sub Total USD: <span class="usd-highlight "> {{ormgt.sumOfTotal}}</span></h6>
                            </div>
                        </div>
                    </div>
                    <div ng-show="!ormgt.getCart">No Data</div>
                </uib-tab>
                <uib-tab index="1" ng-click="ormgt.getCartData('EO')">
                    <uib-tab-heading>Emergency Order cart<span class="extrabold"><!-- {{ormgt.cartData.length}} --></span></uib-tab-heading>
                    <div ng-show="ormgt.getCart">
                    
                        <div class="row">
                            <div class="col-md-9">
                                <div class="input-group ordrSrch headspace">
                                    <input type="search" ng-model="ormgt.srchStr" class="form-control search-by-part"  placeholder="Search items in this cart by the part name & number">
                                    
                                    <span class="input-group-addon"><a href=""><i class="glyphicon glyphicon-search"></i></a></span>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="shippedto">
                                    <div class="col-md-1">
                                        <h5 class="info-circle">
                                            <i class="fa fa-info-circle" aria-hidden="true"></i>
                                        </h5>
                                    </div>
                                    <div class="col-md-11">
                                        <p class="info-circle-detail">
                                            Selected items in this cart can be shipped to only one shiped to address.
                                            </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 table-responsive">
                                <table class="table car-list-table">
                                    <thead>
                                        <tr>
                                            <th>
                                                <div>
                                                    <label data-ng-click="ormgt.selectAllCartItem()"   data-ng-model="ormgt.isAllCartItmChecked" uib-btn-checkbox class="checkbox-label">
                                                        <i class="fa" ng-class="ormgt.isAllCartItmChecked ? 'fa-check-square' : 'fa-square-o' "></i>
                                                    </label>
                                                </div>
                                            </th>
                                            <th>
                                                <div  class="inline-style"  data-ng-click="ormgt.sortType = 'partNo'; ormgt.sortReverse = !ormgt.sortReverse">part no.  <i class="fa fa-sort pull-right" aria-hidden="true"></i></div>
                                            
                                            </th>
                                            <th > 
                                                <div class="inline-style" data-ng-click="ormgt.sortType = 'partName'; ormgt.sortReverse = !ormgt.sortReverse">part name <i class="fa fa-sort" aria-hidden="true"></i></span></div>
                                            
                                             </th>
                                            <th>
                                                <div class="inline-style" data-ng-click="ormgt.sortType = 'qtyReq'; ormgt.sortReverse = !ormgt.sortReverse">Order<br><div class="inline-style"> Qty<i class="fa fa-sort pull-right" aria-hidden="true"></i></div></div>
                                           </th>
                                            <th>
                                                <div class="inline-style" data-ng-click="ormgt.sortType = 'uom'; ormgt.sortReverse = !ormgt.sortReverse"> UOM  <i class="fa fa-sort pull-right" aria-hidden="true"></i>
                                                </div>
                                            </th>
                                            <th>
                                                <div class="inline-style">Ship from Location (Qty)<i class="fa fa-question-circle pull-right"></i></div>
                                            </th>
                                            <th>
                                                <div class="inline-style" data-ng-click="ormgt.sortType = 'unitPrice'; ormgt.sortReverse = !ormgt.sortReverse">Unit <br>Price USD<div class="inline-style"><i class="fa fa-sort pull-right" aria-hidden="true"></i></div></div>
                                            </th>
                                            <th>
                                                <div class="inline-style" data-ng-click="ormgt.sortType = 'extdPrice'; ormgt.sortReverse = !ormgt.sortReverse">Extended <br> Price USD<div class="inline-style"><i class="fa fa-sort pull-right" aria-hidden="true"></i></div></div>
                                            </th>
                                            <th>
                                                <div class="inline-style" data-ng-click="ormgt.sortType = 'corePrice'; ormgt.sortReverse = !ormgt.sortReverse">Core charges <br>Total USD <div class="inline-style">&nbsp;&nbsp;&nbsp;&nbsp;<i class="fa fa-sort pull-right" aria-hidden="true"></i></div></div>
                                            </th>
                                            <th>
                                                <div class="inline-style" data-ng-click="ormgt.sortType = 'totalPrice'; ormgt.sortReverse = !ormgt.sortReverse">Product <br>Total USD<div class="inline-style"><i class="fa fa-sort pull-right" aria-hidden="true"></i></div></div>
                                            </th>
                                            <th>
                                                <div class="inline-style" data-ng-click="ormgt.sortType = 'shippingq'; ormgt.sortReverse = !ormgt.sortReverse">Requested<br> Ship-to-Date<div class="inline-style ship-to-date"><i class="fa fa-sort" aria-hidden="true"></i></div></div>
                                            </th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                       <tr ng-repeat="obj in ormgt.cartData | orderBy:ormgt.sortType:ormgt.sortReverse | filter: ormgt.srchStr">
                                            <td>
                                                <label data-ng-click="ormgt.selectCartItem(obj)" data-ng-model="obj.checked" uib-btn-checkbox class="checkbox-label">
                                                    <i class="fa" ng-class="obj.checked ? 'fa-check-square' : 'fa-square-o' "></i>
                                                </label>
                                            </td>
                                            <td>
                                                <div>
                                                    <div class="imgWidth part-img">
                                                        <img ng-src="{{protocol}}://placehold.it/50x50/dbdbdb/0099CC/?text=NO+IMAGE" 
                                                        src="https://placehold.it/50x50/dbdbdb/0099CC/?text=NO+IMAGE" class="img-responsive">
                                                    </div>
                                                   
                                                </div>
                                            </td>
                                            <td>
                                                <div class="detailWidth">
                                                    <span class="part-num">{{obj.partNo}}</span>
                                                    <span class="part-name">{{obj.partName}}</span>
                                                </div>
                                            </td>
                                            <td><input type="number" name="quantity" data-ng-model="obj.qtyAdded" data-ng-disabled="true" min="0" max="9999"></td>
                                            <td>{{obj.uom}}</td>
                                            <td>{{obj.plantCode}}</td>
                                            <td >{{obj.STANDARD_BASE}}</td>
                                            <td>{{obj.qtyAdded * obj.STANDARD_BASE}}</td>
                                            <td>{{obj.CORE_BASE}}</td>
                                            <td>{{obj.qtyReq * obj.STANDARD_BASE + obj.CORE_BASE}}</td>

                                            <!-- <td>{{obj.uom}}</td>
                                            <td>{{obj.plantCode}}</td>
                                            <td >{{obj.prices[0].unitPrice}}</td>
                                            <td>{{obj.prices[0].unitPrice * obj.qtyReq}}</td>
                                            <td>{{obj.prices[0].corePrice}}</td>
                                            <td>{{obj.prices[0].unitPrice * obj.qtyReq + obj.prices[0].corePrice}}</td> -->
                                        
                                            <td>
                                            <input type="date" name="shippingDate" data-ng-disabled="true" data-ng-model="obj.refData[0].estAvlDate">

                                            </td>
                                            <td>
                                                
                                                <a href="">
                                                <i class="fa fa-pencil" aria-hidden="true" ng-click="ormgt.editItem(obj)"></i>&nbsp;&nbsp;&nbsp; <i class="fa fa-trash" aria-hidden="true" ng-click="ormgt.deleteItem(obj.id)"></i>
                                                </a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 text-right">
                                <h6 class="headspace subusd">Sub Total USD: <span class="usd-highlight ">{{ormgt.sumOfTotal}}</span></h6>
                                 
                            </div>
                        </div>
                    </div>
                    <div ng-show="!ormgt.getCart">No Data</div>
                </uib-tab>
            </uib-tabset>
        </div>
        <div ng-show="ormgt.getCart" class="col-sm-2 stock-ordr-sumry">
            <h5 class="summery-text" ng-show="ormgt.orderType == 'STK'"> Stock order summary</h5>
            <h5 class="summery-text" ng-show="ormgt.orderType == 'EMG'"> Emergency order summary</h5>
            
            <a href="">
                <div class="bg-default-bg">
                    <div class="row">
                        <div class="col-sm-7">
                            <p class="summery-box">No. of Parts</p>
                        </div>
                        <div class="col-sm-5"><p class="summery-right-box">{{ormgt.noOfSelectedParts}}</p></div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <hr> </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-7">
                            <p class="summery-box">Order Total USD</p>
                        </div>
                        <div class="col-sm-5"><p class="summery-right-box">{{ormgt.sumOfTotal}}</p></div>
                       
                    </div>
                </div>
            </a>
            <a href="" class="btn-checkout" data-ng-click="ormgt.checkout()">
                <div class="bg-primary">
                   <h5 ng-disabled="ormgt.bad400" class="text-center">
                    <strong class="checkout">Checkout</strong><i class="glyphicon glyphicon-circle-arrow-right pull-right" aria-hidden="true"></i></h5>
                   
                </div>
            </a>

            <!-- <div data-ng-click="ormgt.checkout()">
                <button data-ng-disabled="!ormgt.isAllCartItmChecked" class="btn btn-block btn-primary backorderBtn" type="button">
                      Checkout
                </button>
            </div> -->

            
        </div>
    </div>
</div>
