<!-- /*Author : Manjesh Kumar */ -->
<div id="changePswrd">
    <div class="modal-header">
        <h2>{{'FORGOT_PSWRD.RESET_PSWRD.TITLE' | translate}} 
            <!--<i class="fa fa-times-circle pull-right" ng-click="createPswrd.cancel('close-pop-up')" aria-hidden="true"></i>-->
            <a class="close-overlay pull-right" data-ng-click="createPswrd.cancel('close-pop-up')" href="#">
                <img ng-src="/assets/images/close-icon.png" alt="" src="/assets/images/close-icon.png">
            </a> 
        </h2>
    </div>
    <div class="modal-body">
        <!--<h5 class="text-center text-danger" data-ng-show="createPswrd.resetPswrdError"><strong>{{createPswrd.errorMsg}}</strong></h5>-->
        <h5 class="text-center">
            <div class="top-error" data-ng-show="createPswrd.resetPswrdError"><i class="fa fa-exclamation-triangle" aria-hidden="true"></i>{{createPswrd.errorMsg}}</div>
        </h5>
        <form name="pswrdChangeForm" novalidate>
            <div class="row">
                <div class="col-sm-11 col-md-11">
                    <div class="form-group" data-ng-class="{ 'has-error' : pswrdChangeForm.newPswrd.$invalid && !pswrdChangeForm.newPswrd.$pristine }">
                        <label for="newPswrd">{{'FORGOT_PSWRD.RESET_PSWRD.LABEL_NEW_PSWRD' | translate}}</label>
                        <div class="input-group">
                            <span class="input-group-addon" id="sizing-addon1">
                                <i class="fa fa-key" aria-hidden="true"></i>
                            </span>
                            <input type="password" id="newPswrd" autofocus class="form-control" name="newPswrd" data-ng-model="createPswrd.pswrdDetails.newPassword" data-ng-pattern="/^(?=.*[A-Za-z])(?=.*\d)(?=.*[$@$!%*#?&])[A-Za-z\d$@$!%*#?&]{8,}$/" required />
                        </div>
                        <!--<p class="email-pattren text-right">8 character long and atleast 1 number or symbol</p>-->
                        <p ng-show="pswrdChangeForm.newPswrd.$error.pattern" class="help-block text-right">{{'FORGOT_PSWRD.RESET_PSWRD.NEW_PSWRD_ERR' | translate}}</p>
                    </div>
                </div>
                <div class="col-sm-1 col-md-1">
                    <div class="suggestions-icon">
                        <i class="fa fa-question-circle" aria-hidden="true"></i>
                        <div class="suggestion-container">
                            <p class="suggestions-content">
                                {{'FORGOT_PSWRD.RESET_PSWRD.PSWRD_SUGGESTION' | translate}}
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-11 col-md-11">
                    <div class="form-group" data-ng-class="{ 'has-error' : pswrdChangeForm.newRePswrd.$touched && !pswrdChangeForm.newRePswrd.$pristine && (createPswrd.pswrdDetails.newPassword != createPswrd.pswrdDetails.confirmPwd) }">
                        <label for="newRePswrd">{{'FORGOT_PSWRD.RESET_PSWRD.LABEL_CONFIRM_PSWRD' | translate}}</label>
                        <div class="input-group">
                            <span class="input-group-addon" id="sizing-addon1">
                                <i class="fa fa-key" aria-hidden="true"></i>
                            </span>
                            <input type="password" id="newRePswrd" class="form-control" name="newRePswrd" data-ng-model="createPswrd.pswrdDetails.confirmPwd"  required />
                        </div>
                        <!--<p ng-show="pswrdChangeForm.newRePswrd.$error.minlength" class="help-block text-right">Password is too Short.</p>-->
                        <p ng-show="pswrdChangeForm.newRePswrd.$touched && !pswrdChangeForm.newRePswrd.$pristine && (createPswrd.pswrdDetails.newPassword != createPswrd.pswrdDetails.confirmPwd)" class="help-block text-right">
                            {{'FORGOT_PSWRD.RESET_PSWRD.CONFIRM_PSWRD_ERR' | translate}}</p>
                    </div>
                </div>
                <div class="col-sm-1 col-md-1">
                </div>
            </div>
            <div class="row">
                <div class="col-sm-11 col-md-11">
                    <div class="form-group">
                        <button class="btn btn-primary btn-block btn-app-primary" data-ng-click="createPswrd.resetPassword(createPswrd.pswrdDetails)" data-ng-disabled="pswrdChangeForm.$invalid || (createPswrd.pswrdDetails.newPassword != createPswrd.pswrdDetails.confirmPwd)">{{'FORGOT_PSWRD.RESET_PSWRD.BUTTON' | translate}}</button>
                    </div>
                </div>
                <div class="col-sm-1 col-md-1">
                </div>
            </div>
            
            
            
        </form>
    </div>
</div>
