.my-modal-popup.create-pswrd-modal{
    top: 12% !important;
    .modal-dialog {
        margin-top: 0;
        width: 500px;
        #changePswrd{
            border: 0;
            padding: 41px;
            .modal-header{
                padding: 0;
                border: 0;
                margin-bottom: 0;
                h2{
                    font-weight: 300;
                    margin: 0;
                    font-size: 30px;
                    line-height: 30px;
                    color: #9b9b9b;
                    .fa{
                        color: #9b9b9b;
                    }
                }
            }
            .modal-body{
                padding: 0;
                .ng-hide:not(.ng-hide-animate) {
                    visibility: hidden !important;
                    display: block !important;
                }
                .top-error{
                    display: inline-block;
                    border: 1px solid #ff9d02;
                    color: #ff9d02;
                    font-weight: 600;
                    font-size: 14px;
                    padding: 7px 10px;
                    border-radius: 3px;
                    margin-bottom: 20px;
                    .fa{
                        margin-right: 10px;
                        font-size: 16px;
                    }
                }
                .suggestions-icon{
                    display: inline-block;
                    font-size: 20px;
                    color: #7f7f7f;
                    cursor: pointer;
                    position: relative;
                    font-size: 16px;
                    top: 29px;
                    .suggestion-container{
                        display: none;
                        position: absolute;
                        top: -53px;
                        right: -37px;
                        z-index: 1000;
                        font-size: 12px;
                        line-height: 15px;
                        font-weight: 600;
                        width: 340px;
                        color: #161616;
                        border: 1px solid #a2a2a2;
                        padding: 8px 10px;
                        background-color: #FFC000;
                        border-radius: 4px;
                        p{
                            margin: 0;
                        }
                        &::before{
                            width: 0px;
                            height: 0px;
                            content: "";
                            top: 44px;
                            right: 35px;
                            position: absolute;
                            border-left: 10px solid transparent;
                            border-right: 10px solid transparent;
                            border-top: 10px solid #FFC000;
                            z-index: 200;
                        }
                        &::after{
                            width: 0px;
                            height: 0px;
                            content: "";
                            top: 46px;
                            right: 35px;
                            position: absolute;
                            border-left: 10px solid transparent;
                            border-right: 10px solid transparent;
                            border-top: 11px solid #a2a2a2;
                        }
                    }
                    &:hover{
                        .suggestion-container{
                            display: inline-block;
                        }
                    }
                }
                label{
                    margin-left: 5px;
                    color: #7f7f7f;
                    font-size: 12px;
                    font-weight: 600;
                    margin-bottom: 6px;
                }
                p.txt{
                    font-size: 12px;
                    font-weight: 600;
                    color: #5f5f5f;
                }
                form{
                    p.email-pattren{
                        font-size: 11px;
                        font-style: italic;
                    }
                    .form-group{
                        margin-bottom: 0;
                    }
                    p{
                        margin-bottom: 5px;
                    }
                }
                .btn{
                    min-width: 80px;
                    border-radius: 3px;
                    background-color: $btn_primary_bgcolor;
                    border-color: $btn_primary_border_color;
                    color: #fff;
                    font-weight: 600;
                    line-height: 20px;
                }
                .btn:hover{
                    background-color: $btn_primary_focus_bgcolor;
                    border-color: $btn_primary_focus_border_color;
                }
                p.privacy-txt{
                    font-size: 11px;
                }
                button {
                    border-radius: 3px;
                    height: 40px;
                    font-size: 16px;
                    line-height: 16px;
                    margin-top: 20px;
                }
                input[type=text], input[type=password], input[type=email]{
                    height: 36px;
                    font-size: 16px;
                    font-weight: 600;
                    color: #414141;
                    border: 1px solid #ededde;
                    box-shadow: none;
                }
                input[type=text]:focus, input[type=password]:focus, input[type=email]:focus{
                    border-color: #0093c6;
                    outline: 0;
                    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
                }
                input.input-logo{
                    border-top-right-radius: 3px !important;
                    border-bottom-right-radius: 3px !important;
                    border-top-left-radius: 0 !important;
                    border-bottom-left-radius: 0 !important;
                }
                .input-group-addon {
                    color: #dedede;
                    text-align: center;
                    background-color: #f5f5f5;
                    border: 1px solid #ededed;
                    border-radius: 4px;
                    border-bottom-right-radius: 0;
                    border-top-right-radius: 0;
                    border-right: 0;
                }
                .help-block{
                    margin-top: 2px;
                }
                .has-error{
                    .form-control, .form-control:focus {
                        box-shadow: inset 0 1px 1px rgba(100, 54, 0, 0.075);
                        border-color: #ff8a00;
                    }
                    .help-block{
                        text-align: right;
                        margin-bottom: 0;
                        font-weight: 600;
                        font-size: 12px;
                        color: #ff8a00;
                    }
                    .input-group-addon {
                        color: #ff8a00;
                        background-color: #fff3e5;
                        border-color: #ff8a00;
                    }
                }
            }
        }
    }
}