/***************************************************************
* Proprietary & Confidential  |  © 2016 PhaseZero Ventures LLC 
* 
* This file is part of Tire Advisor project
* 
* This file cannot be copied and/or distributed without 
* the express permission of PhaseZero Ventures LLC
***************************************************************/

.lang-cur-selector {
    .flag-pic {
        width: 19px;
    }
    .dropdown-menu {
        margin-top: 0px;
        border-top-right-radius: 3px !important;
        border-top-left-radius: 3px !important;
        left: 0;
        padding-bottom: 15px;
        li {
            height: 25px !important;
            a {
                // color:gray !important;
                img {
                    margin-right: 5px;
                }
            }
        }
    }
    .open {
        a {
            background-color: transparent !important;
            color: #0099CC !important;
        }
    }
    .ddlarrow {
        &:before {
            content: " ";
            left: 60px;
            border: solid transparent;
            border-color: rgba(136, 183, 213, 0);
            border-bottom-color: #FFFFFF;
            border-width: 9px;
            margin-left: -10px;
            top: -18px;
            position: absolute;
            left: 15%;
        }
        &:after {
            bottom: 150%;
            content: " ";
            height: 0;
            width: 0;
            position: absolute;
        }
    }
}

