<!--<div class="ymm-directive" data-ng-class="vm.flickEven? 'flick-even' :'flick-odd'" ng-init="vm.initializeYMM()" currentCategory="{{currentCategory}}" >-->
    <div class="ymm-directive" ng-init="vm.initializeYMM()" currentCategory="{{currentCategory}}" >
    <div id="dropdown-scrollable-container" class="scrollable-container-box" ng-show="vm.initDirective">
        <div id="dropdown-long-content">
            <div id="dropdown-hidden-container"><!--<label data-ng-if="!vm.isHeader">{{'YMM.SEARCHBY' | translate }}&nbsp;{{vm.getLbl(ymmParent)}}&nbsp;/&nbsp;{{vm.getLbl(ymmFirstChild)}}&nbsp;/&nbsp;{{vm.getLbl(ymmSecondChild)}}</label>-->
            <label data-ng-if="!vm.isHeader">{{'YMM.VEHICLE' | translate}}</label>
                <div class="btn-group btn-box yearSelector" uib-dropdown dropdown-append-to-body>
                        <button id="ymmYearSelector" class="btn btn-default disabled" uib-dropdown-toggle ng-click="vm.showYearTable($event,this)">
                            {{vm.ymmResetYear?('HEADER.MENUS.ADVANCEDSEARCH.YEAR'|translate):vm.ymmYear}}<span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu atsDDContent" id="yearHolder" uib-dropdown-menu role="menu" aria-labelledby="btn-append-to-to-body">

                            <li role="menuitem" class="arrow_box">
                                <!-- <div class="search-control make-input">
                                    <input type="text" ng-click="vm.textBoxClicked($event,this)" class="form-control" placeholder="makeQuery" ng-model="makeQuery">
                                </div> -->
                                <div class="asYearSelect asYearSelect-automotive" id="yearSelectorTable" ng-click="vm.yearHandler($event,this)">
                                    <ul data-ng-repeat="decade in vm.yearArr"><li><h3>{{decade.decadeName}}</h3></li><li class="asEmpty" data-ng-repeat="year in decade.decadeYears"><a href="#" name="{{year}}">{{year}}</a></li></ul>
                                   
                                </div>
                            </li>
                        </ul>
                </div>
                <div class="btn-group btn-box makeSelector" uib-dropdown keyboard-nav dropdown-append-to-body>
                    <button id="ymmMakeSelector" type="button" class="btn btn-default disabled" uib-dropdown-toggle ng-click="vm.findMake($event,this)" >
                        {{vm.ymmResetMake?('HEADER.MENUS.ADVANCEDSEARCH.MAKE'|translate):vm.ymmMake}}<span class="caret"></span>
                    </button>
                    <div  class="dropdown-menu atsDDContent makeClass" uib-dropdown-menu role="menu" aria-labelledby="btn-append-to-to-body">
                        <span class="arrow_box1"></span>
                        <div class="search-control make-input">
                            <input type="text" ng-click="vm.textBoxClicked($event,this)" class="form-control" placeholder="{{'HEADER.MENUS.ADVANCEDSEARCH.MAKE'|translate}}" ng-model="makeQuery">
                        </div>
                        <ul id="makeDropDown" >
                           <!-- <div class="input-group input-group-sm search-control makeInput"> 
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-search"></span>
                                </span>
                                <input type="text" class="form-control" placeholder="makeQuery" ng-model="makeQuery"></input>
                            </div> -->
                            <li role="menuitem" ng-click="vm.makeHandler($event,this)" ng-repeat="item in vm.makeList | filter:makeQuery">
                                <a href="#">{{item}}</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="btn-group btn-box modelSelector" uib-dropdown dropdown-append-to-body>
                    <button id="ymmModelSelector" type="button" class="btn btn-default disabled" uib-dropdown-toggle ng-click="vm.findModel($event,this)" >
                        {{vm.ymmResetModel?('HEADER.MENUS.ADVANCEDSEARCH.MODEL'|translate):vm.ymmModel}}<span class="caret"></span>
                    </button>
                    <div  class="dropdown-menu atsDDContent modelClass" uib-dropdown-menu role="menu" aria-labelledby="btn-append-to-to-body">
                        <span class="arrow_box1"></span>
                        <div class="search-control make-input">
                            <input type="text" class="form-control" ng-click="vm.textBoxClicked($event,this)" placeholder="{{'HEADER.MENUS.ADVANCEDSEARCH.MODEL'|translate}}" ng-model="modelQuery">
                        </div>
                        <ul id="modelDropDown">
                           <!--  <div class="input-group input-group-sm search-control makeInput"> 
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-search"></span>
                                </span>
                                <input type="text" class="form-control" placeholder="modelQuery" ng-model="modelQuery"></input>
                            </div> -->
                            <li role="menuitem" ng-click="vm.modelHandler($event,this)" ng-repeat="item in vm.modelList | filter:modelQuery">
                                <a href="#">{{item}}</a>
                            </li>
                        </ul>
                    </div>
                </div>
                 <button id="ymmSubmitSelector" ng-disabled="vm.toggleYMMSubmit($event,this)" type="button" class="btn btn-default disabled btn-go" uib-dropdown-toggle ng-click="vm.searchByYMM($event,this)">
                   {{'YMM.GO' | translate }}
                </button>
                <!--<button data-ng-if="!vm.isHeader" id="ymmSubmitSelector" ng-disabled="vm.toggleYMMSubmit($event,this)" type="button" class="btn btn-default disabled btn-apply" uib-dropdown-toggle ng-click="vm.searchByYMM($event,this)">
                   {{'YMM.APPLY' | translate }}
                </button>-->
            </div>
        </div>
    </div>
</div>
