<div class="dealer-locator">
    <div class="dealer-panel">
        <div class="panel panel-default" ng-class="locator.isFilterCollapsed?locator.dealerClass + ' panel-collapsed':locator.dealerClass">
            <div class="panel-heading">
                <div class="dealer-title">
                    <div class="row">
                        <div class="col-md-12">
                            <a style="cursor:pointer" ng-click="locator.filterCollapse()" ng-if="locator.isValidZip">
                                <i class="fa fa-caret-down" aria-hidden="true" ng-if="!locator.isFilterCollapsed"></i>
                                <i class="fa fa-caret-right" aria-hidden="true" ng-if="locator.isFilterCollapsed"></i>
                            </a>
                            <h3>{{'DEALERLOCATOR.LOCATION' | translate}}</h3>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel-body" ng-style="{'height':(!locator.isValidZip||locator.isEmptyZip)?'auto':''}">
                <div class="dealer-filter">
                    <div class="dealer-zip-code">
                        <div class="row">
                            <div class="col-md-6">
                                <label>{{'WHERETOBUY.ZIPCODE' | translate}}</label>
                            </div>
                            <div class="col-md-6">
                                <a href="#" style="float:right;" ng-click="locator.getBrowserLocation()">
                                    {{'WHERETOBUY.USELOCATION' | translate}}</a>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="dealer-input-zip">
                                    <input type="text" class="form-control" placeholder="{{'common.ENTERZIPCODE' | translate}}" aria-describedby="basic-addon2" ng-model="locator.profile.zip"
                                        ng-change="locator.init()" id="zip_code_model">
                                    <span ng-click="locator.clear()"><i class="fa fa-times-circle" aria-hidden="true"></i></span>
                                </div>
                                <p class="dealer-zip-validate" ng-if="!locator.isEmptyZip&&!locator.isValidZip">{{'DEALERLOCATOR.VALIDATEZIPCODE' | translate}}</p>
                            </div>
                        </div>
                    </div>
                    <div class="dealer-distance-covered" ng-if="locator.isValidZip">
                        <div class="row">
                            <div class="col-md-12">
                                <label>{{'DEALERLOCATOR.DISTANCECOVERED' | translate}}</label>
                                <select class="form-control" ng-model="locator.distance" ng-change="locator.init()">
                                    <option ng-repeat="items in locator.info.whereToBuyDistance" value="{{$index}}">Within {{items}} {{'DEALERLOCATOR.UNIT.' + locator.info.whereToBuyDistanceUnit | translate}}</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="dealer-type-sort" ng-if="locator.isValidZip">
                        <div class="row">
                            <div class="col-md-6">
                                <label>{{'WHERETOBUY.DEALER_TYPE' | translate}}</label>
                                <select class="form-control" ng-model="locator.type" ng-change="locator.init()">
                                    <option ng-repeat="items in locator.dealerType" value="{{items.index}}">{{items.name}}</option>
                                </select>
                            </div>
                            <div class="col-md-6">
                                <label>{{'WHERETOBUY.SORT_BY' | translate}}</label>
                                <select class="form-control" ng-model="locator.sort">
                                    <option value="">{{'WHERETOBUY.NEAREST' | translate}}</option>
                                    <option value="name">{{'WHERETOBUY.NAME' | translate}}</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="dealer-product" ng-if="locator.isValidZip && locator.mapType === 'WHERETOBUY'">
                        <div class="row">
                            <div class="col-md-12">
                                <label>{{'WHERETOBUY.PRODUCTS' | translate}}</label>
                                <select class="form-control" ng-model="locator.productType" ng-change="locator.init()">
                                            <option value="0">{{'WHERETOBUY.ALL_PRODUCTS' | translate}}</option>
                                            <option value="{{items}}" ng-repeat="items in locator.info.whereToBuyProductLine">{{'WHERETOBUY.PRODUCTCATEGORY.'+items | translate}}</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel-footer">
                <div class="dealer-results" ng-if="locator.data.length !== 0">
                    <div class="dealer-results-header">
                        <h3>{{'DEALERLOCATOR.RESULTS' | translate:'{value:'+locator.data.length+'}'}}</h3>
                    </div>
                    <hr>
                    <div class="dealer-results-body">
                        <div class="dealer-results-scroll style-scroll">
                            <div ng-repeat="items in locator.data | orderBy:locator.sort" class="dealer-locator-item" ng-mouseover="locator.infoWindowTrigger(items.index)"
                                ng-class="items.selected?'dealer-loactor-item-selected':''">
                                <div class="row">
                                    <div class="col-md-6">
                                        <label>{{items.distance | number:1}} {{'DEALERLOCATOR.UNIT.' + locator.info.whereToBuyDistanceUnit | translate}}</label>
                                    </div>
                                    <div class="col-md-6">
                                        <label class="dealer-type-label" ng-if="items.type === 'DISTRIBUTOR'">
                                            {{'DEALERLOCATOR.WD' | translate}}
                                        </label>
                                        <label class="dealer-type-label" ng-if="items.type === 'DEALER'">
                                            {{'DEALERLOCATOR.OE' | translate}}
                                        </label>
                                    </div>
                                </div>
                                <div class="row" style="margin-top: 5px; margin-bottom: 5px;">
                                    <div class="col-md-10">
                                        <span class="list-serial">
                                                <p>{{(items.index < 9)?"0"+(items.index+1):items.index+1}}</p>
                                        </span>
                                        <h4>{{items.name}}</h4>
                                    </div>
                                    <div class="col-md-2">
                                        <a style="cursor:pointer" ng-click="locator.selectDealer(items)" ng-if="locator.mapType=='SENDRFQ'" class="dealer-checkbox">
                                            <i class="fa fa-square-o" aria-hidden="true" ng-if="!items.selected"></i>
                                            <i class="fa fa-check-square" aria-hidden="true" ng-if="items.selected"></i>
                                        </a>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <p>{{items.addressLine1}} {{items.addressLine2}}</p>
                                        <p>{{items.city}}, {{items.state}} {{items.zip}}</p>
                                        <p ng-if="items.phone"><i class="fa fa-phone" aria-hidden="true" style="margin-right: 5px;"></i>{{items.phone}}</p>
                                        <p ng-if="items.email"><i class="fa fa-envelope-o" aria-hidden="true" style="margin-right: 5px;"></i>{{items.email}}</p>
                                        <p ng-if="items.website"><i class="fa fa-globe" aria-hidden="true" style="margin-right: 5px;"></i><a href="{{items.website}}"
                                                target="_blank">{{items.website}}</a></p>
                                        <div ng-if="items.storeHrs" class="more-less-details">
                                            <p><a href="#" ng-click="items.showMore = items.showMore?false:true;" ng-if="!items.showMore">MORE DETAILS</a></p>
                                            <p><a href="#" ng-click="items.showMore = items.showMore?false:true;" ng-if="items.showMore">LESS DETAILS</a></p>
                                        </div>
                                        <div class="more-details" ng-if="items.showMore">
                                            <a class="close-overlay pull-right" ng-click="items.showMore = false" href="#">
                                                <img ng-src="/assets/images/close-icon.png" alt="" src="/assets/images/close-icon.png">
                                            </a>
                                            <div class="title-store-hour">Store Hours</div>
                                            <div ng-repeat="storeHr in items.storeHrs" class="more-details-text">
                                                <div class="col-md-6">{{'WHERETOBUY.DAY.'+storeHr.storeDay | translate}}</div>
                                                <div class="col-md-6" ng-if="storeHr.fromTime">
                                                    {{storeHr.fromTime}}{{'WHERETOBUY.PERIOD.'+storeHr.fromPeriod | translate}} - {{storeHr.toTime}}{{'WHERETOBUY.PERIOD.'+storeHr.toPeriod
                                                    | translate}}
                                                </div>
                                                <div class="col-md-6" ng-if="!storeHr.fromTime">
                                                    {{storeHr.hrDesc}}
                                                </div>
                                            </div>
                                            <div ng-if="items.storeDesc" class="title-store-desc">Store Description</div>
                                            <div class="more-details-text" ng-if="items.storeDesc">
                                                <p>{{items.storeDesc}}</p>
                                            </div>
                                            <div class="title-store-photo">{{'WHERETOBUY.STOREPHOTO' | translate}}</div>
                                            <div class="more-details-images">
                                                <span ng-repeat="image in items.storeImgs"  ng-click="locator.showThumbnail(items.storeImgs, $index, items.name)" style="cursor:pointer;">
                                                        <img ng-src="{{protocol}}://d1irm9ez93jyd6.cloudfront.net/store_imgs/{{image}}" alt="">
                                                   
                                            </span>

                                            </div>
                                        </div>

                                        <hr/>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="dealer-loading" ng-if="locator.isLoading">
                    <img src="assets/images/loading.gif" width="30" height="30" />
                </div>
                <div class="dealer-err-msg" ng-if="locator.data.length === 0 && locator.mapType === 'SENDRFQ' && locator.isValidZip && !locator.isLoading">
                    <div class="row">
                        <div class="col-md-5">
                        </div>
                        <div class="col-md-2">
                            <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
                        </div>
                        <div class="col-md-5">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-1">
                        </div>
                        <div class="col-md-10">
                            <p>{{'WHERETOBUY.RFQERRMSG1' | translate}}</p>
                            <p>{{'WHERETOBUY.RFQERRMSG2' | translate}}</p>
                        </div>
                        <div class="col-md-1">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                        </div>
                        <div class="col-md-6">
                            <a class="btn btn-block btn-primary" href="/mylist">{{'SENDREQQUOTE.EP_LIST' | translate}}</a>
                        </div>
                        <div class="col-md-3">
                        </div>
                    </div>
                </div>
                <div class="dealer-err-msg" ng-if="locator.data.length === 0 && locator.mapType === 'WHERETOBUY' && locator.isValidZip && !locator.isLoading">
                    <div class="row">
                        <div class="col-md-5">
                        </div>
                        <div class="col-md-2">
                            <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
                        </div>
                        <div class="col-md-5">
                        </div>
                    </div>
                    <div class="row">
                        <p>{{'WHERETOBUY.ERRMSG' | translate}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="dealer-map">
        <div class="dealer-loader" ng-if="locator.isLoading">
            <img src="assets/images/loading.gif" width="30" height="30">
        </div>
        <div id="dealer-map">
        </div>
    </div>
</div>

<image-gallery data="locator.galleryImgs" index="locator.galleryIndex" name="locator.galleryTitle"></image-gallery>