.dealer-locator {
    width: 100%;
    height: 712px;
    float: left;
    .dealer-panel {
        width: 383px;
        height: 100%;
        float: left;
        .panel {
            height: 100%;
            width: 100%;
            border-radius: 0px;
            .panel-heading {
                background: #fff;
                width: 100%;
                height: 52px;
                .dealer-title {
                    h3 {
                        float: left;
                        font-size: 18px;
                        color: #7f7f7f;
                        margin: 0px;
                        padding: 6px 0px 6px 0px;
                        font-weight: 200;
                    }
                    a {
                        float: left;
                        font-size: 14px;
                        i {
                            color: $active_link_color;
                            margin-top: 7px;
                            padding: 0px 10px 0px 0px;
                        }
                    }
                }
            }
            .panel-body {
                width: 100%;
                //height: 249px;
                background: #fafafa;
                overflow: hidden;
                padding: 0px;
                -webkit-transition: 350ms height ease-in-out;
                -moz-transition: 350ms height ease-in-out;
                -o-transition: 350ms height ease-in-out;
                transition: 350ms height ease-in-out;
                .dealer-filter {
                    margin: 15px;
                    .dealer-zip-code {
                        margin-bottom: 10px;
                        label {
                            margin: 0px;
                            padding: 0px;
                            color: #bdbdbd;
                            font-weight: lighter;
                        }
                        a {
                            color: $active_link_color;
                        }
                        .dealer-input-zip {
                            width: 100%;
                            float: left;
                            position: relative;
                            height: 50px;
                            margin-top: 10px;
                            input {
                                font-size: 20px;
                                font-weight: 600;
                                position: absolute;
                                width: 100%;
                                border-radius: 4px;
                                border: #ccc solid 1px;
                                box-shadow: none;
                                height: 50px;
                                z-index: 3;
                                &:focus {
                                    border-color: #0093c6;
                                }
                            }
                            input::-ms-clear { 
                                display: none;
                            }
                            span {
                                position: absolute;
                                float: right;
                                right: 0;
                                top: 0;
                                z-index: 4;
                                i {
                                    margin: 15px;
                                    font-size: 16px;
                                    color: #ccc;
                                }
                            }
                        }
                        p {
                            color: #f00;
                            margin: 5px 0px 0px 0px;
                            float: left;
                        }
                    }
                    .dealer-distance-covered {
                        margin-bottom: 10px;
                        label {
                            margin: 0px;
                            padding: 0px;
                            color: #bdbdbd;
                            font-weight: lighter;
                        }
                        select {
                            box-shadow: none;
                            font-weight: 600;
                            margin-top: 5px;
                            &:focus {
                                border-color: #0093c6;
                            }
                        }
                    }
                    .dealer-type-sort,
                    .dealer-product {
                        label {
                            margin: 0px;
                            padding: 0px;
                            color: #bdbdbd;
                            font-weight: lighter;
                        }
                        select {
                            box-shadow: none;
                            font-weight: 600;
                            margin-top: 5px;
                            &:focus {
                                border-color: #0093c6;
                            }
                        }
                    }
                    .dealer-type-sort {
                        margin-bottom: 10px;
                    }
                }
            }
            .panel-footer {
                width: 100%;
                background: #fff;
                .more-detail-link {
                    display: block;
                    color: $active_link_color !important
                }
                .less-detail-link {
                    display: none;
                    color: $active_link_color !important;
                }
                .more-details {
                    background-color: #eee;
                    padding: 20px;
                    position: relative;
                    float: left;
                    margin-bottom: 10px;
                    .title-store-hour, .title-store-desc, .title-store-photo {
                        font-size: 16px;
                        color:#b0b0b0;
                        width: 70%;
                        float: left;
                        margin-bottom: 10px;
                    }
                    .title-store-desc, .title-store-photo {
                        margin-top: 10px;
                    }
                    .close-overlay {
                        width: 30%;
                        float: right;
                        img {
                            float: right;
                            width: 20px;
                        }
                    }
                    h4 {
                        color: #7f7f7f;
                        margin: 10px 0px 5px 0px;
                    }
                    .more-details-images {
                        width: 100%;
                        float: left;
                        > span {
                            width: 50%;
                            float: left;
                            height: 95px;
                            img {
                                width:calc(100% - 10px);
                                height: 80px;
                                border: #fff solid 2px;
                                
                            }
                            &:nth-child(2n + 1) {
                                img {
                                    float: left;
                                }
                            }
                            &:nth-child(2n + 2) {
                                img {
                                    float: right;
                                }
                            }
                        }
                    }
                    .more-details-text {
                        color: #767676;
                        font-size: 12px;
                        padding-top: 2px;
                        float: left;
                        width: 100%;
                        .thumbnail {
                            height: 100%;
                            outline: none;
                            border: 0;
                            margin-bottom: 0px;
                        }
                        .col-odd {
                            padding-right: 4px;
                        }
                        .col-even {
                            padding-left: 4px;
                        }
                    }
                    hr {
                        margin-left: 0 !important;
                        width: 100% !important;
                    }
                }
                .more-details::after {
                    width: 0;
                    height: 0;
                    border-left: 10px solid transparent;
                    border-right: 10px solid transparent;
                    border-bottom: 10px solid #eee;
                    content: "";
                    top: -9px;
                    left: 40px;
                    position: absolute;
                }
                .more-details::before {
                    width: 0;
                    height: 0;
                    border-left: 10px solid transparent;
                    border-right: 10px solid transparent;
                    //border-bottom: 10px solid #7f7f7f;
                    content: "";
                    top: -10px;
                    left: 40px;
                    position: absolute;
                }
                .dealer-loading {
                    width: 100%;
                    height: 100%;
                    position: relative;
                    img {
                        width: 30px;
                        height: 30px;
                        position: absolute;
                        left: 0;
                        right: 0;
                        bottom: 0;
                        top: 0;
                        margin: auto;
                    }
                }
                .dealer-err-msg {
                    padding: 20px 0px;
                    i {
                        color: #ffb11b;
                        font-size: 24px;
                        margin-bottom: 10px;
                    }
                    P {
                        width: 100%;
                        margin-top: 10px;
                        text-align: center;
                    }
                }
                .dealer-results {
                    width: 100%;
                    height: 100%;
                    float: left;
                    hr {
                        width: calc(100% + 30px);
                        margin: 0px -15px;
                    }
                    .dealer-results-header {
                        height: 29px;
                        h3 {
                            float: left;
                            font-size: 18px;
                            color: #7f7f7f;
                            margin: 0px;
                            padding: 0px;
                            width: 100%;
                        }
                    }
                    .dealer-results-body {
                        width: 100%;
                        height: calc(100% - 30px);
                        .dealer-results-scroll {
                            width: 100%;
                            height: calc(100% - 20px);
                            margin-top: 15px;
                            overflow-x: hidden;
                            overflow-y: auto;
                            .dealer-locator-item {
                                padding: 10px 15px 0px 15px;
                                
                                cursor: pointer;
                                &:hover {
                                    background: #fafafa;
                                }
                                .row {
                                    label,
                                    h4,
                                    p {
                                        margin: 0px;
                                        padding: 0px;
                                    }
                                    h4 {
                                        margin: 10px 0px 0px 0px;
                                    }
                                    p {
                                        color: #a8a8a8;
                                    }
                                    a {
                                        color: #a8a8a8;
                                        text-decoration: none;
                                    }
                                    hr {
                                        background: #ddd;
                                        margin: 10px 0px 0px -15px;
                                        width: calc(100% + 30px);
                                    }
                                    .list-serial {
                                        width: 33px;
                                        height: 43px;
                                        float: left;
                                        font-weight: bold;
                                        background: url('./../assets/images/drop-pin-edited.png')no-repeat;
                                        //background-position-y: -8px;
                                        background-size: 100% auto;
                                        margin-right: 10px;
                                        p {
                                            margin-top: 12px;
                                            color: #fff;
                                            width: 100%;
                                            text-align: center;
                                        }
                                    }
                                    .dealer-checkbox {
                                        float: right;
                                        margin: 0px;
                                        padding: 0px;
                                        color: #333;
                                        i {
                                            font-size: 16px;
                                        }
                                    }
                                    .more-less-details {
                                        p {
                                            margin-top: 5px;
                                            margin-bottom: 10px;
                                            float: left;
                                            a {
                                                color: $active_link_color;
                                            }
                                        }
                                    }
                                    .dealer-type-label {
                                        float:right;
                                        color: #a8a8a8;
                                        border: #a8a8a8 solid 1px;
                                        padding:  3px;
                                        border-radius: 2px;
                                        font-size: 10px;
                                    }
                                }
                            }
                            .dealer-loactor-item-selected {
                                opacity: 0.4;
                            }
                        }
                    }
                }
            }
        }
        .panel-where-to-buy {
            .panel-body {
                height: 305px;
            }
            .panel-footer {
                height: calc(100% - 356px);
            }
        }
        .panel-send-rfq {
            .panel-body {
                height: 249px;
            }
            .panel-footer {
                height: calc(100% - 301px);
            }
        }
        .panel-collapsed {
            .panel-body {
                height: 0px;
            }
            .panel-footer {
                height: calc(100% - 51px);
            }
        }
    }
    .dealer-map {
        width: calc(100% - 383px);
        height: 100%;
        float: left;
        position: relative;
        .dealer-loader {
            width: 100%;
            height: 100%;
            position: absolute;
            z-index: 3;
            background: rgba(255, 255, 255, 0.6);
            img {
                position: absolute;
                left: 0;
                right: 0;
                top: 0;
                bottom: 0;
                margin: auto;
                width: 30px;
                height: 30px;
            }
        }
        #dealer-map {
            width: 100%;
            height: 100%;
            position: absolute;
            z-index: 2;
            img[src='https://maps.gstatic.com/mapfiles/api-3/images/google4.png'] {
                display: none;
            }
            .map-info-window {
                width: 200px;
                padding: 10px 5px;
                >* {
                    margin: 2px 0px;
                    padding: 0px;
                }
                a,
                h6,
                h5,
                address,
                p {
                    width: 100%;
                    float: left;
                    color: #939393;
                    font-family: $app_font_family;
                }
                h6 {
                    color: #6e6e6e;
                    font-weight: 700;
                }
                h5 {
                    color: #000;
                    font-size: 20px;
                    font-weight: 500;
                    margin-top: 10px;
                }
                a {
                    font-weight: 500;
                    color: $active_link_color;
                    margin-top: 5px;
                }
            }
            .labels {
                font-size: 10px;
            }
        }
    }
}

