<div class="part-card">
  <div class="result-card">
    <div class="panel panel-default">
      <div class="panel-heading" ng-init="partCard.setInterchange(partCard.part)">
        <div class="row interchange-supersession">
            <div class="col-sm-12">
                <div class="interchange-badge" ng-if="partCard.interChngPart">
                    <span>
                        {{'PARTCARD.CORRESMATCH' | translate}}
                    </span>
                </div>
                <div class="superseded-badge interchange-badge" ng-if="partCard.superSession">
                    <span>
                        <b>{{partCard.superSessionPartNumber}}</b> {{'PARTCARD.REPLACED' | translate}} {{partCard.part.partNumber}}
                    </span>
                </div>
                <!--<div class="superseded-partnumber">
                    <span>
                        {{partCard.superSessionPartNumber}}
                    </span>
                </div>-->
            </div>
        </div>
        <div class="inner-container" data-ng-class="{'package-product': partCard.part.packageQty > 1}">
          <div class="dispName part-card-logo">

             <span ng-show="partCard.part.attrList.length"><img class="brand-logo" ng-src="{{partCard.protocol}}://{{partCard.partImage}}"></span>
          </div>
          <div class="dispName part-card-desc">   
            <a class="description" ng-href="{{partCard.gotoPart(partCard.part)}}"><span class="name">{{partCard.part.displayName}}</span></a>

          </div>
          <div class="dispMessage" ng-show="partCard.shwMsg && partCard.action ==='list'">
              <span class="glyphicon glyphicon-ok"></span>
              <span class="addmsg">Added to "{{partCard.selectedList}}" list.&nbsp;&nbsp; <a href="/mylist">{{'PARTCARD.GOTOLIST' | translate}}</a></span>
              <!--<span><a ng-click="partCard.removeItem()">{{'PARTCARD.REMOVEITEM' | translate}}</a></span>-->
          </div>
          <div class="dispMessage" ng-show="partCard.shwMsg && partCard.action ==='cart'">
              <span class="glyphicon glyphicon-ok" ng-show="partCard.cartStatus === 'Pass'"></span>
              <span ng-show="partCard.cartStatus === 'Pass'">{{'PARTCARD.ADDEDTOCART' | translate}}</span>
              <span class="glyphicon glyphicon-remove" ng-show="partCard.cartStatus === 'Fail'"></span>
              <span ng-show="partCard.cartStatus === 'Fail'"> {{'ERRORMSG.FAILEDTOADDPRODUCTTOCART' | translate}}</span>              
          </div>
          <div class="dispMessage" ng-show="partCard.shwRTBMsg">
              <span class="glyphicon glyphicon-remove"></span>
              <span>{{'ERRORMSG.CONTACT_REP' | translate}}</span>              
          </div>
          <div class="cart pull-right" data-ng-class="partCard.userPermissionsList.AddCart? 'with-atc':'without-atc'">

          <div class="inline-div check-availibility">
              <form name="checkAvailability">
                  <a ng-show="partCard.showAvailable"  class="add-to-list check-availability-btn"  ng-click="partCard.checkAvailability(partCard)">
                  {{'PARTCARD.CHECKAVAILABILITY' | translate}}
                  </a>
                  <div class="check-avail" style="margin: 5px 10px 0px 0px;" ng-show="!partCard.showAvailable" ng-bind-html="partCard.showAvailableMsg" compile-directive></div>

              </form>
          </div>
          <div class="inline-div addtocart-form-wrapper" data-ng-if="partCard.userPermissionsList.AddCart">

                <form name="amAddToCart">
                  
                  <div style="font-weight: 700;" class="error text-primary error-text" ng-show="amAddToCart.cartQty.$error.positive && !partCard.isQtyNtMultplOfPkQty">
                        {{'PARTCARD.VALIDMSG' | translate}}                    
                        </div>
                    <div class="pckg-qty-err" data-ng-if="partCard.part.packageQty > 1">
                        <i class="fa fa-info-circle" aria-hidden="true"></i>{{'PARTCARD.INVALID_PACKAGE_QTY' | translate}}{{partCard.part.packageQty}}.  
                    </div>
                    
                    <a ng-show="partCard.shwCartTxt"  class="add-to-list add-to-cart-btn"  ng-click="partCard.addToCartClick()">
                        {{'PARTCARD.ADDTOCART' | translate}}
                       
                    </a>
                    <div class="shwQty" ng-show="partCard.shwCartQty">
                        <span class="qty-lbl">{{'PARTCARD.QTY' | translate}}</span>             
                        <span class="number-container">
                            <input nonegative-directive id="{{partCard.part.id}}" 
                            no-spl-char name="cartQty" type="number" 
                            uib-tooltip="{{'TOOLTIP.PLEASEVERFYPARTQTY' | translate}}" tooltip-is-open="partCard.cartQty > 9999"  tooltip-enable="partCard.cartQty > 9999" tooltip-placement="auto top"
                            ng-change = "partCard.checkCartQtyVal(partCard.part.id)" 
                            data-ng-model="partCard.cartQty" data-ng-class="{'qty_invalid': partCard.isQtyNtMultplOfPkQty || amAddToCart.cartQty.$error.positive}" autofocus 
                            ng-blur="partCard.makeQtyPositive(amAddToCart.cartQty.$error.positive, partCard.part.id)"
                             min="{{partCard.minQty}}" step="{{partCard.part.packageQty}}"/>
                        </span>
                        <div class="btn-group" uib-dropdown>
                             
                            <button uib-dropdown-toggle type="button" ng-click="partCard.showOrderType()" class="btn btn-primary addBtn" 
                            adisabled-directive="partCard.cartQtyNotAllowed || partCard.isQtyNtMultplOfPkQty">
                                {{'PARTCARD.ADD' | translate}}
                            </button>
                            
                            <div class="pulldown-ordertypes dropdown-menu addtocart-dropdown-part-card" uib-dropdown-menu role="menu" 
                            aria-labelledby="addtocart-dropdown-part-card" ng-show="partCard.shwOrderTypes">
                                <ul>
                                    <li ng-if="partCard.userPermissionsList.StockOrder">
                                        <a ng-click="partCard.doOrderSelection('SO')">{{'PREVIEWORDER.STOCK_ORDER' | translate}}</a>
                                    </li>
                                    <li>
                                        <a ng-click="partCard.doOrderSelection('EO')">{{'PRICINGANDAVAILABILITY.EMERGENCYORDER' | translate}}</a>
                                    </li>
                                </ul>
                            </div>
                           
                        </div>

                    </div>
                        
                </form>
            </div>
            <span class="inline-div">
             <form name="amOrderlist">
                <div style="font-weight: 700;" class="error text-primary error-text" ng-show="amOrderlist.qty.$error.positive">
                    {{'PARTCARD.VALIDMSG' | translate}}                    
                </div>
                <div class="shwQty list-container add-to-cart-container">
                     <div class="btn-group" uib-dropdown>
                            <a uib-dropdown-toggle ng-show="partCard.shwOrdrTxt || !partCard.part.showTempList" ng-click="partCard.addListClick()" class="add-to-list add-to-list-btn"
id="mylist-dropdown-part-card" uib-tooltip='{{partCard.tooltip}}' tooltip-placement="top" tooltip-is-open="partCard.tooltipOpen" ng-hover="partCard.tooltipOpen = true">
                            {{'PARTCARD.ADDTOLIST' | translate}}
                            </a>
                            <ul class="dropdown-menu mylist-dropdown-part-card" uib-dropdown-menu role="menu" aria-labelledby="mylist-dropdown-part-card" ng-show="partCard.shwMyLists">
                                <div class="pulldown-mylists">
                                   <!--  <div class="select-text"> Select a List</div> -->

                                    <ul>
                                        <li data-ng-repeat="key in partCard.lists">
                                            <a ng-click="partCard.addToList(key.id, key.cartName)" title="{{key.cartName}}">{{key.cartName}}</a>
                                        </li>
                                        <li class="nodata-msg" ng-if="partCard.lists.length === 0">
                                            <i class="fa fa-2x fa-info-circle" aria-hidden="true"></i> {{'PRICINGANDAVAILABILITY.NO_LIST' | translate}} 
                                        </li>

                                    </ul>
                                    <div class="create-list-div">
                                        <a ng-click="partCard.createNewList()"> <i class="fa fa-plus" aria-hidden="true"></i> {{'PARTCARD.CREATENEWLIST '| translate}}</a>
                                    </div>

                                </div>
                            </ul>
                    </div>

                  
                 
                  </div>
                <!--<div class="shwQty" ng-show="partCard.shwQty">
                    <span class="qty-lbl">{{'PARTCARD.QTY' | translate}}</span>
                    <span>
                        <input nonegative-directive id="{{partCard.part.id}}" no-spl-char name="qty" type="number" ng-change = "partCard.checkOrderlistVal()" data-ng-model="partCard.qty" placeholder="qty" min="0" />
                    </span>
                     <button type="button" ng-click="partCard.change('shwLists')" class="btn btn-primary addBtn" 
                     adisabled-directive="partCard.qtyNotAllowed">
                         {{'PARTCARD.ADD' | translate}}
                     </button>

                   
                </div>  -->
                
                <div class="added-temp-list" ng-if="partCard.part.showTempList">
                    <i class="fa fa-check" aria-hidden="true"></i>
                    <p class="addmsg">{{'PARTCARD.ADDEDTOLIST' | translate}}</p> 
                    <a href="#" ng-click="partCard.saveList()">{{'PARTCARD.SAVELIST' | translate}}</a>
                    <a href="#" ng-click="partCard.shareList()">{{'PARTCARD.SHARELIST' | translate}}</a>
                </div>
                <!-- <a style="font-weight:600" class="add-to-list" ng-hide="partCard.loggedIn&&(partCard.customer||partCard.admin)">
                  {{'PARTCARD.CHKAVL' | translate}}
                </a> -->
              </form>
            </span>
          </div>
        </div>
      <!--   <div style="color:red; margin-top:1px;font-weight: 600;" class="error text-right" ng-show="amOrderlist.qty.$error.positive">Quantity should be positive number.</div> -->
        <div class="hrLine"></div>
      </div>
      <div class="panel-body">
        <div class="row">
          <div class="col-md-3">
            <a href ng-href="{{partCard.gotoPart(partCard.part)}}">
              <img class="default-pic" ng-show="partCard.part.imageUrl" ng-src="{{partCard.protocol}}://{{partCard.part.imageUrl}}">
              <img ng-show="!partCard.part.imageUrl" ng-src="{{partCard.protocol}}://placehold.it/160x160/dbdbdb/0099CC/?text=NO+IMAGE">
            </a>
            <!-- <a href="/part/id/{{partCard.part.id}}"><img  ng-src="{{partCard.getImageUrl(partCard.part)}}"></a> -->
          </div>
          <div class="col-md-8" ng-class="partCard.part.attrList.length ? 'rghtBorder' : '' ">
            <ul ng-show="partCard.part.attrList.length">
              <li>{{'PARTCARD.SPECIFICATIONS' | translate}}</li>
              <li ng-show="partCard.part.attrList.length > 5" data-ng-click="partCard.toggleSpecs()"><a>{{partCard.specToggleName}}</a></li>
            </ul>
            <table class="table table-striped">
              <tr data-ng-repeat="key in partCard.part.attrList | limitTo : partCard.specLimit">
                <td ng-class="{'bold':key == 'Brand'}">{{key}}</td>
                <td ng-class="{'bold':key == 'Brand'}">{{partCard.part.attrs[key]}}</td>
              </tr>
            </table>
          </div>
          <!-- <div class="col-md-4">
            <img alt="{{protocol}}://placehold.it/30x30" src="assets/images/Vector.png">
            <div>
              <p>MMS<sup>TM</sup>Hub</p>
            </div>
            <div>
              <ul>
                <li data-ng-repeat="list in partCard.part.innovation.features">{{list}}</li>
              </ul>
            </div>
          </div> -->
        </div>
        <div class="row pull-right" ng-show="{{partCard.part.interChngPart}}"><span><b>{{'PARTCARD.CALL' | translate}}</b></span></div>
      </div>
    </div>
  </div>
</div>