/***************************************************************
* Proprietary & Confidential  |  © 2016 PhaseZero Ventures LLC 
* 
* This file is part of Tire Advisor project
* 
* This file cannot be copied and/or distributed without 
* the express permission of PhaseZero Ventures LLC
***************************************************************/
 .part-card {
     background-color: $color_extreme_two;
     margin-bottom: 30px;
     margin-top:13px;
     position: relative;
     .result-card {
         .panel {
             border-radius: 0px !important;
             padding: 10px 15px 15px 15px;
             border: 1px solid $support_color_light_one;
             .col-md-6,
             .col-md-3 {
                 padding: 0;
             }
             @media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
                 .panel-heading {
                     height: 30px !important;
                     padding: 5px 0px !important;
                     .name {
                         font-size: 10px !important;
                     }
                     .cart {
                         span {
                             margin: 0px 2px !important;
                         }
                         span:nth-child(1) {
                             img {
                                 width: 30px !important;
                             }
                         }
                         span:nth-child(2) {
                             padding: 0px 2px !important;
                             font-size: 10px !important;
                         }
                         .glyphicon-shopping-cart {
                             color: $accent_color;
                         }
                     }
                 }
             }
             .panel-heading {
                 background: white !important;
                 padding: 3px 0px 0px 0px;
                 border-bottom: none;
                 min-height: 40px;
                 .inner-container {
                     height: 100%;
                     min-height: 40px;
                 }
                 .inner-container.package-product {
                     min-height: 50px;
                 }
                 div {
                     .dispName {
                         display: inline-block;
                         font-weight: bold;
                         img {
                             margin-right: 10px;
                             &.default-logo {
                                 width: 45px;
                                 margin-bottom: 10px;
                             }
                         }
                         .description {
                             font-size: 18px;
                         }
                     }
                     .part-card-desc{
                     width: 45%;
                     @media only screen and (min-device-width: 700px) and (max-device-width: 1024px) {
                        width: 32%;
                     }
                     }
                     .part-card-logo{
                         vertical-align: top;
                     }
                     .cart {
                         text-align: right;
                         .error-text {
                             color: #ff9d02;
                             font-size: 11px;
                             margin-top: -21px;
                             margin-bottom: 6px;
                             font-weight: 600;
                         }
                         .pckg-qty-err{
                             right: 0px;
                         }
                         .inline-div {
                             float: left;
                             margin-left: 10px;
                             form{
                                 .check-availability-btn {
                                    width: 125px;
                                    height: 27px;
                                    font-size: 10px;
                                    color: #ffffff;
                                    font-weight: 700;
                                 }
                                 .add-to-cart-btn{
                                    width: 90px;
                                    height: 27px;
                                    font-size: 10px;
                                    color: #ffffff;
                                    font-weight: 700;
                                 }
                                 .add-to-list-btn{
                                    width: 85px;
                                    height: 27px;
                                    font-size: 10px;
                                    color: #ffffff;
                                    font-weight: 700;
                                    display: inline-block;
                                 }
                                 .add-to-cart-container{
                                    margin-top: -2px !important;
                                }
                             }
                             form > a {
                                 float: right;
                                 margin-top: -2px;
                             }
                             .error {
                                 position: absolute;
                                 border: 2px solid #CCC;
                                 padding: 2px 11px;
                                 background-color: #FFF;
                                 top: 6px;
                             }
                         }
                         .inline-div.check-availibility{
                            margin-left: 0;
                        }
                         span,
                         .inline-div {
                             a {
                                 cursor: pointer;
                             }
                             .add-to-list {
                                 background: $btn_primary_bgcolor;
                                 padding: 6px 11px;
                                 color: #fff;
                                 border-radius: 3px;
                                 margin-right: 10px;
                                 &:hover {
                                     background: #0099cc;
                                     text-decoration: none;
                                 }
                             }
                             .added-temp-list {
                                 border: #ccc solid 1px;
                                 border-radius: 3px;
                                 float: left;
                                 margin-top: -35px;
                                 background: #fff;
                                 position: absolute;
                                 width: 275px;
                                 right: 201px;
                                 > * {
                                     float: left;
                                     margin: 0px;
                                     padding: 0px;
                                     margin: 5px;
                                 }
                                 i {
                                     margin-top: 8px !important;
                                     // color: #0acd0a;
                                     // margin-right: 0px;
                                     color:#39a200;
                                     font-size: 16px;
                                     margin-right: 5px;

                                 }
                                a{  
                                    font-size: 12px;
                                    color:#0096c9;
                                    font-weight: 600;
                                    margin-top: 7px;
                                    &:hover{
                                        text-decoration: none;
                                    }
                                }
                                .addmsg{
                                    font-size: 14px;
                                    color:#6e6e6e;
                                    font-weight: 600;
                                    
                                }
                             }
                             .shwQty {
                                 position: relative;
                                 float: right;
                                 margin-top: -2px;
                                 .addBtn {
                                     background-color: $btn_primary_bgcolor;
                                     border-color: $btn_primary_border_color;
                                     border-radius: 3px;
                                     margin-top: -3px;
                                     padding: 0 12px;
                                     height: 28px;
                                     font-size: 11px;
                                     font-weight: 600;
                                 }
                                 .qty-lbl {
                                     font-weight: 600;
                                 }
                                .tooltip.top {
                                    width: 200px;
                                    z-index: 9;
                                }
                                 .pulldown-mylists {
                                    padding:5px 4px;
                                     ul {
                                         margin-bottom: 0;
                                     }
                                 }
                                 .mylist-dropdown-part-card.dropdown-menu{
                                    position: absolute;
                                    top: 32px;
                                    right: 0;
                                    left: initial;
                                    padding:0;
                                 }
                                 .addtocart-dropdown-part-card.dropdown-menu{
                                    position: absolute;
                                    top: 32px;
                                    right: 0;
                                    left: initial;
                                    padding:0;
                                 }
                                 .pulldown-mylists,
                                 .pulldown-ordertypes {
                                    //  position: absolute;
                                    //  top: 34px;
                                     right: 0;
                                     background-color: #FFF;
                                     border: 1px solid #707070;
                                     //width: 180px;
                                     width:172px;
                                     z-index: 1000;
                                     font-size: 13px;
                                     font-weight: 600;
                                     border-radius: 3px;
                                     -webkit-box-shadow: 3px 4px 11px -1px rgba(0, 0, 0, 0.34);
                                     -moz-box-shadow: 3px 4px 11px -1px rgba(0, 0, 0, 0.34);
                                     box-shadow: 3px 4px 11px -1px rgba(0, 0, 0, 0.34);
                                     .select-text {
                                         padding-bottom: 5px;
                                         border-bottom: 1px solid #acacac;
                                         text-align: left;
                                         font-size: 11px;
                                         font-weight: 600;
                                         margin: 0 10px;
                                         padding-top: 5px;
                                     }
                                     .nodata-msg {
                                         font-size: 13px;
                                         color: #acacac;
                                     }
                                     .fa-info-circle {
                                         color: #6e6e6e;
                                         font-size: 18px;
                                         margin: 10px 3px;
                                     }
                                     ul {
                                         list-style-type: none;
                                         padding: 0;
                                         max-height: 138px;
                                         overflow-y: auto;
                                         li {
                                         padding: 5px 10px;
                                         text-align: left;
                                         width: 100%;
                                         float: left;
                                            a {
                                                // color: #000000;
                                                width: 100%;
                                                float: left;
                                                overflow: hidden;
                                                text-overflow: ellipsis;
                                                white-space: nowrap;
                                                font-size: 13px;
                                                font-weight: 600;
                                                color:#363636;
                                                &:hover{
                                                    text-decoration: none;
                                                }
                                            }
                                            }
                                            li:hover {
                                                background-color: #EEEEEE;
                                            }
                                     }
                                     
                                     .hrLine {
                                         padding: 0;
                                         margin-bottom: 10px;
                                     }
                                     .create-lbl {
                                         padding: 0 0 10px 10px;
                                     }
                                     .create-list-div {
                                         border-top: 1px solid #e1e1e1;
                                         margin: 9px 10px -5px;
                                         text-align: left;
                                         padding-top: 7px;
                                         a {
                                             font-weight: 600;
                                             text-decoration: none;
                                             font-size: 12px;
                                             color:$active_link_color;
                                         }
                                         .fa-plus {
                                             font-size: 12px;
                                             margin-right: 2px;
                                         }
                                     }
                                 }
                                 .pulldown-mylists:after {
                                     display: inline-block;
                                     border-right: 6px solid transparent;
                                     border-bottom: 6px solid #ffffff;
                                     border-left: 6px solid transparent;
                                     content: '';
                                 }
                                 .pulldown-mylists:before,
                                 .pulldown-ordertypes:before {
                                     top: -7px;
                                     right: 18px;
                                     position: absolute;
                                     display: inline-block;
                                     border-right: 7px solid transparent;
                                     border-bottom: 7px solid #707070;
                                     border-left: 7px solid transparent;
                                     border-bottom-color: #707070;
                                     content: '';
                                 }
                                 a.disabledButton {
                                     color: #AAAAAA;
                                     cursor: default;
                                     pointer-events: none;
                                     text-decoration: none;
                                 }
                                 input {
                                     width: 20%;
                                     height: 20px;
                                     text-align: center;
                                 }
                                 input[type="number"] {
                                     width: 48px;
                                     height: 28px;
                                     font-size: 13px;
                                     font-weight: 600;
                                     padding: .2rem;
                                     padding: 5px;
                                     border: 1px solid #ccc;
                                     border-radius: 3px;
                                 }
                                 .btnAdd {
                                     background: #dbdbdb;
                                     font-size: 10px;
                                     padding: 3px;
                                     font-weight: bold;
                                     &:hover {
                                         cursor: pointer;
                                     }
                                 }
                             }
                             .list-container {
                                 margin-top: 3px;
                                 .tooltip {
                                     width: 427px;
                                 }
                                 .tooltip-inner {
                                    color: #000;
                                    min-width: 297px;
                                    background-color: #FFF78E;
                                    border-radius: 4px;
                                    font-size: 11px;
                                    font-weight: 600;
                                    border: 1px solid #c1a891;
                                }
                                .tooltip.top{
                                    .tooltip-arrow {
                                        border-top-color: #c1a891;
                                    }
                                }
                             }
                         }
                         .addtocart-form-wrapper{
                             .pckg-qty-err{
                                position: absolute;
                                top: 49px;
                                right: 26px;
                                font-weight: 600;
                                color: #414141;
                                width: 196px;
                                text-align: left;
                                font-size: 11px;
                                .fa-info-circle{
                                    color: #6e6e6e;
                                    font-size: 13px;
                                    margin-right: 5px;
                                }
                             }
                             .qty_invalid{
                                 border-color: #ff9d02;
                                 outline: none;
                             }
                         }
                         /*span:nth-child(1){
                        font-weight: 600;
                        font-size: 12px;
                      }
                      span:nth-child(2){
                        border-left: 1px solid $support_color_light_one;
                        border-right: 1px solid $support_color_light_one;
                        padding: 0px 5px;
                        margin: 0px;
                        font-weight: 600;
                        font-size: 12px;
                      }
                        .glyphicon-shopping-cart{
                            color: $accent_color;
                        }*/
                     }
                 }
                 .interchange {
                     width: 150px;
                     background: #0099cc;
                     height: 20px;
                     display: table;
                     position: relative;
                     margin: -5px 0px 5px 0px;
                     span {
                         color: white;
                         font-weight: bold;
                         font-size: 11px;
                         display: table-cell;
                         vertical-align: middle;
                         text-align: center;
                         margin-left: 5px;
                     }
                     &:after {
                         content: "";
                         position: absolute;
                         right: 0;
                         bottom: 0;
                         width: 0;
                         height: 0;
                         border-right: 10px solid white;
                         border-top: 10px solid transparent;
                         border-bottom: 10px solid transparent;
                     }
                 }
                 .hrLine {
                     border: 1px solid #dbdbdb;
                     /*margin: -5px 5px 0px 30px;*/
                     //margin: 10px 0px 0px;
                 }
                 .dispMessage {
                     position: absolute;
                     top: -25px;
                     right: 180px;
                     background-color: #FFF;
                     font-weight: 600;
                     margin: 0 20px;
                     border: 1px solid #dbdbdb;
                     border-radius:3px;
                     padding: 5px 20px;
                     .glyphicon-ok {
                         //color: #0acd0a;
                         color:#39a200;
                         font-size: 16px;
                         margin-right: 10px;
                     }
                     .addmsg{
                        font-size: 14px;
                        color:#6e6e6e;
                        font-weight: 600;
                        a{
                            font-size: 12px;
                            color:#0096c9;
                            font-weight: 600;
                            margin-left: 10px;
                        }
                     }
                     .glyphicon-remove {
                         color: #FF0000;
                         margin-right: 10px;
                     }
                 }
             }
             .panel-body {
                 padding: 15px 10px 0px 10px;
                 .col-md-3 {
                     @media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
                         text-align: center !important;
                     }
                     img {
                         width: 160px;
                         height: 160px;
                     }
                 }
                 .rghtBorder {
                     /* border-right:1px solid #AAAAAA; */
                 }
                 .col-md-8 {
                     @media only screen and (device-width: 768px) {
                         border-right: 0px;
                     }
                     @media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
                         border-right: 0px;
                     }
                     ul {
                         padding-left: 0px;
                         li {
                             display: inline-block;
                             // font-weight: bold;
                             // font-size: 13px;
                             font-weight: bold;
                             font-size: 14px;
                             a {
                                 font-size: 9px;
                                 &:hover {
                                     cursor: pointer;
                                     text-decoration: none;
                                 }
                             }
                         }
                         li:nth-child(2) {
                             float: right;
                         }
                     }
                     table {
                         tr {
                             td {
                                 font-size: 12px;
                                 height: 25px;
                                 vertical-align: middle;
                                 padding: 0px 10px !important;
                                 line-height: 2.2;
                                 width: 50%;
                             }
                             .bold {
                                 font-weight: 600;
                             }
                         }
                     }
                 }
                 .col-md-4 {
                     p {
                         font-size: 10px;
                         color: $accent_color;
                         margin-top: 8px;
                         font-weight: bold;
                     }
                     ul {
                         padding-left: 10px;
                         li {
                             word-break: break-all;
                             font-size: 10px;
                             list-style: square;
                             font-weight: 600;
                             margin-top: 3px;
                         }
                     }
                 }
             }
         }
     }
     .first-row {
         height: 40px;
         padding: 10px;
         .name {
             font-size: 16px;
             color: $accent_color;
         }
         .cart {
             ul {
                 float: right;
                 li {
                     padding: 0px 5px;
                     display: inline-block;
                     .glyphicon-shopping-cart {
                         color: $accent_color;
                     }
                 }
                 li:nth-child(2) {
                     border-left: 1px solid #AAAAAA;
                     border-right: 1px solid #AAAAAA;
                 }
             }
         }
     }
     hr {
         margin: 0px !important;
     }
 }
 /* overriding the background of odd tr*/
 
 .table-striped > tbody > tr:nth-of-type(odd) {
     background-color: #eaeaea;
 }
 
 .table-striped > tbody > tr:nth-of-type(even) {
     background-color: #fafafa;
 }
 
 .ordertype-popup {
     .modal-dialog {
         width: $availability_modal_width;
     }
 }
 .marginltgap{
    margin-left: 10px;
 }
 .marginrtgap{
    margin-right: 10px;
 }
 
 .qtyAvailable{
    font-size: 12px;
    color: #6e6e6e;
    font-weight: 600;
 }
 .fontbold{
    font-size: 14px;
    color: #6e6e6e;
    font-weight: 700;
    margin-right: 10px;
 }

/* Landscape mini, ipad 1&2, ipad 3&4*/
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (orientation: landscape) 
  and (-webkit-min-device-pixel-ratio: 1),
screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (orientation: landscape) 
  and (-webkit-min-device-pixel-ratio: 1),
screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (orientation: landscape) 
  and (-webkit-min-device-pixel-ratio: 2){
  .part-card{
    .result-card{
        .panel-heading{
            .part-card-desc{
                width: 27% !important;
            }
            .cart{
                .check-avail{
                    margin: 5px 2px 0px 0px !important;
                    .fa-spinner{
                        font-size: 12px;
                    }
                    .marginltgap{
                        font-size: 12px;
                    }
                }
            }
            .with-atc{
                width: 65%;
            }
        }
    }
  }
}
