<div class="part-card">
  <div class="result-card">
    <div class="panel panel-default">
      <div class="panel-heading">
        <span class="name">{{partCard.part.displayName}}</span>
        <span class="cart pull-right">
            <span><img src="{{partCard.part.brandImgUrl}}"></span>
            <span popover-placement="bottom" uib-popover-template="partCard.dynamicPopover" popover-title="title"> {{'POPOVER.WishList' | translate}}<span class="caret"></span></span>
            
            <script type="text/ng-template" id="myPopoverTemplate.html">
                <div>
                    <div>
                    // {{'POPOVER.CONTENT' | translate}}
                    content</div>
                    <div class="form-group">
                    <label>Popup Title:</label>
                    <input type="text" ng-model="dynamicPopover.title" class="form-control">
                    </div>
                </div>
            </script>
            <span class="glyphicon glyphicon-shopping-cart"></span>
        </span>
        
      </div>
      <div class="panel-body">
        <div class="row">
          <div class="col-md-3">
            <img alt="{{protocol}}://placehold.it/160x160" src="{{partCard.part.imgUrl}}">
          </div>
          <div class="col-md-5">
            <ul>
              <li>{{'POPOVER.SPECIFICATIONS' | translate}}</li>
              <li data-ng-click="partCard.toggleSpecs()"><a>{{partCard.specToggleName}}</a></li>
            </ul>
            <table class="table table-striped">
              <tr data-ng-repeat="key in partCard.part.attrList | limitTo : partCard.specLimit" >
                <td>{{key}}</td>
                <td>{{partCard.part.attrs[key]}}</td>
              </tr>
            </table>
          </div>
          <div class="col-md-4">
            <img alt="{{protocol}}://placehold.it/30x30" src="assets/images/Vector.png">
            <div>
              <p>{{'POPOVER.MMS' | translate}}<sup>{{'POPOVER.TM' | translate}}</sup>{{'POPOVER.HUB' | translate}}</p>
            </div>
            <div>
              <ul>
                <li data-ng-repeat="list in partCard.part.innovation.features">{{list}}</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>