/***************************************************************
* Proprietary & Confidential  |  © 2016 PhaseZero Ventures LLC 
* 
* This file is part of Tire Advisor project
* 
* This file cannot be copied and/or distributed without 
* the express permission of PhaseZero Ventures LLC
***************************************************************/


.rfq-status-modal {
    .modal-content {
        border-radius: 0px;
        .rfq-status {
            padding: 40px 20px;
            .rfq-status-container {
                width: calc(100% - 20px);
                margin-left: 10px;
            }
        }
    }
}