<div class="rfq-status">
    <div class="rfq-status-container">
        <div class="row">
            
            <div class="col-md-12">
                <h2 style="text-align:center; font-size: 24px; margin: 10px 0px;">Status Change Confirmation!</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <p style="text-align:center; font-size:14px; margin:20px 0px;">Thanks for telling us that you have received it from {{RFQS.details.name}} ! <br/>It helps us serve you better.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-2">
            </div>
            <div class="col-md-2">
                <button class="btn btn-block btn-default" ng-click="RFQS.closeStatus()">Cancel</button>
            </div>
            <div class="col-md-6">
                <button class="btn btn-block btn-primary" ng-click="RFQS.confirmReceipt()">Yes, I have received the quote.</button>
            </div>
            <div class="col-md-2">
            </div>
        </div>
    </div>
</div>