.my-modal-popup.pswrd-assist-modal{
    top: 12% !important;
    .modal-dialog {
        margin-top: 0;
        width: 500px;
        .modal-content{
            border-radius: 3px;
            background: #f6f6f6;
        }
        #pswrdassistance{
            border: 0;
            padding: 41px;
            .modal-header{
                padding: 0;
                border: 0;
                margin-bottom: 31px;
                h2{
                    font-weight: 300;
                    margin: 0;
                    font-size: 30px;
                    line-height: 30px;
                    color: #9b9b9b;
                    .fa{
                        color: #9b9b9b;
                    }
                    img{
                        vertical-align: top;
                    }
                }
            }
            .modal-body{
                padding: 0;
                .ng-hide:not(.ng-hide-animate) {
                    // visibility: hidden !important;
                    // display: block !important;
                }
                h5.err-txt{
                    min-height: 1px;
                    margin: 17px 0;
                }
                label{
                    margin-left: 5px;
                    color: #7f7f7f;
                    font-size: 12px;
                    font-weight: 600;
                    margin-bottom: 6px;
                }
                p.email-info{
                    font-size: 12px;
                    font-weight: 600;
                    color: #5f5f5f;                                                        
                }
                p.txt{
                    font-size: 12px;
                    font-weight: 600;
                    color: #5f5f5f;
                }
                .top-error{
                    display: inline-block;
                    border: 1px solid #ff9d02;
                    color: #ff9d02;
                    font-weight: 600;
                    font-size: 14px;
                    padding: 7px 10px;
                    border-radius: 3px;
                    line-height: 20px;
                    .fa{
                        margin-right: 10px;
                        font-size: 16px;
                    }
                }
                h5.text-danger{
                        margin: 11px 0;
                    }
                form{
                    .form-group{
                        margin-bottom: 20px;
                        p{
                            margin-bottom: 5px;
                        }
                    }
                    .form-group.last{
                        margin-bottom: 41px;
                    }
                }
                .btn{
                    min-width: 80px;
                    margin-bottom: 41px;
                    border-radius: 3px;
                    background-color: $btn_primary_bgcolor;
                    border-color: $btn_primary_border_color;
                    color: #fff;
                    font-weight: 600;
                    line-height: 20px;
                }
                .btn:hover{
                    background-color: $btn_primary_focus_bgcolor;
                    border-color: $btn_primary_focus_border_color;
                }
                p.privacy-txt{
                    color: #7f7f7f;
                    font-weight: 600;
                    font-size: 12px;
                    a{
                        color: $active_link_color !important;
                    }
                }
                button {
                    border-radius: 3px;
                    height: 40px;
                    font-size: 16px;
                    line-height: 16px;
                }
                input[type=text], input[type=password], input[type=email]{
                    height: 36px;
                    font-size: 16px;
                    font-weight: 600;
                    color: #414141;
                    border: 1px solid #ededde;
                    box-shadow: none;
                }
                input[type=text]:focus, input[type=password]:focus, input[type=email]:focus{
                    border-color: #0093c6;
                    outline: 0;
                    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
                }
                input.input-logo{
                    border-top-right-radius: 3px !important;
                    border-bottom-right-radius: 3px !important;
                    border-top-left-radius: 0 !important;
                    border-bottom-left-radius: 0 !important;
                }
                .input-group-addon {
                    color: #dedede;
                    text-align: center;
                    background-color: #ffffff;
                    border: 1px solid #ededed;
                    border-radius: 4px;
                    border-bottom-right-radius: 0;
                    border-top-right-radius: 0;
                    border-right: 0;
                }
                .help-block{
                    margin-top: 2px;
                }
                .has-error{
                    .form-control, .form-control:focus {
                        box-shadow: inset 0 1px 1px rgba(100, 54, 0, 0.075);
                        border-color: #ff9d02;
                    }
                    .help-block{
                        text-align: right;
                        margin-bottom: 0;
                        font-weight: 600;
                        font-size: 12px;
                        color: #ff9d02;
                    }
                    .input-group-addon {
                        color: #ff9d02;
                        background-color: #fff3e5;
                        border-color: #ff9d02;
                    }
                }
            }
        }
    }
}