<!-- /*Author : Manjesh Kumar */ -->
<div id="pswrdassistance">
    <div class="modal-header">
        <h2>{{'FORGOT_PSWRD.PSWRD_ASSIST.TITLE' | translate}}
            <a class="close-overlay pull-right" data-ng-click="pswrdAssist.cancel('close-pop-up')" href="#">
                <img ng-src="/assets/images/close-icon.png" alt="" src="/assets/images/close-icon.png">
            </a>     
        </h2>
    </div>
    <div class="modal-body">
        <p class="txt">{{'FORGOT_PSWRD.PSWRD_ASSIST.INSTRUCTION' | translate}}</p>
        <h5 class="text-center err-txt">
            <div class="top-error" data-ng-show="pswrdAssist.otpError"><i class="fa fa-exclamation-triangle" aria-hidden="true"></i>{{'PROFILE_ERROR.'+pswrdAssist.errorMsg | translate}}</div>
        </h5>
        <form name="pswrdAssisForm" novalidate>
            <div class="form-group" data-ng-class="{ 'has-error' : pswrdAssisForm.emailId.$invalid && !pswrdAssisForm.emailId.$pristine }">
                <label for="emailId">{{'FORGOT_PSWRD.PSWRD_ASSIST.LABEL' | translate}}</label>
                <div class="input-group">
                    <span class="input-group-addon" id="sizing-addon1">
                        <i class="fa fa-user" aria-hidden="true"></i>
                    </span>
                    <input type="email" id="emailId" autofocus class="form-control" name="emailId" data-ng-model="pswrdAssist.userDetails.emailId" data-ng-pattern="/^[a-zA-Z]+[a-zA-Z0-9._]+@[a-zA-Z]+\.[a-zA-Z.]{1,5}$/" required />
                </div>
                <p data-ng-show="pswrdAssisForm.emailId.$invalid && !pswrdAssisForm.emailId.$pristine" class="help-block text-right">{{'FORGOT_PSWRD.PSWRD_ASSIST.ERROR' | translate}}</p>
            </div>
            <div class="form-group last">
                <button class="btn btn-primary btn-block btn-app-primary" data-ng-click="pswrdAssist.getOTP(pswrdAssist.userDetails.emailId)" data-ng-disabled="pswrdAssisForm.$invalid || pswrdAssisForm.dataLoading">{{'FORGOT_PSWRD.PSWRD_ASSIST.BUTTON' | translate}}</button>
            </div>
        </form>
        <p class="privacy-txt">{{'FORGOT_PSWRD.PSWRD_ASSIST.FOOTER_TXT1' | translate}} <b>{{'FORGOT_PSWRD.PSWRD_ASSIST.FOOTER_NUM' | translate}}</b> {{'FORGOT_PSWRD.PSWRD_ASSIST.OR_TXT' | translate}} <b>{{'FORGOT_PSWRD.PSWRD_ASSIST.FOOTER_EMAIL' | translate}}</b> {{'FORGOT_PSWRD.PSWRD_ASSIST.FOOTER_TXT3' | translate}}</p>
    </div>
</div>
