.my-modal-popup.registerd-success-modal{
    top: 0 !important;
    .modal-dialog {
        margin-top: 65px;
        width: 1008px;
        #signupsuccess{
            border-radius: 3px;
            background: #f6f6f6;
            box-shadow: 0 5px 15px rgba(0,0,0,.5);
            .modal-header{
                padding: 30px;
                border-bottom: 1px solid #e0e0e0;
                h4{
                    font-size: 14px;
                    color: #545454;
                    font-weight: 600;
                    margin: 0;
                    .fa-check{
                        color: #3FB300;
                        font-size: 18px;
                        margin-right: 12px;
                    }
                }
            }
            .modal-body{
                padding: 40px 50px;
                h3{
                    margin: 0;
                    font-size: 18px;
                    font-weight: 600;
                    color: #545454;
                    margin-bottom: 50px;
                }
                .flow-container{
                    margin-bottom: 50px;
                    .flow-circle{
                        width: 100px;
                        height: 100px;
                        border-radius: 50%;
                        border: 1px solid #e0e0e0;
                        display: inline-block;
                        position: relative;
                        i{
                            position: absolute;
                            top: 36px;
                            font-size: 24px;
                            color: #9e9e9e;
                            left: 40px;
                        }
                        i.fa-search{
                            top: 36px;
                            left: 40px;
                        }
                        i.fa-plus{
                            top: 38px;
                            left: 41px;
                        }
                        i.fa-money, i.fa-exchange{
                            top: 38px;
                            left: 38px;
                        }
                    }
                    .flow-circle::before {
                        content: "";
                        display: inline-block;
                        width: 67px;
                        height: 0;
                        border: 1px dotted #e0e0e0;
                        position: absolute;
                        right: 0;
                        top: 50%;
                        right: 100%;
                    }
                    .flow-circle::after {
                        content: "";
                        display: inline-block;
                        width: 67px;
                        height: 0;
                        border: 1px dotted #e0e0e0;
                        position: absolute;
                        left: 0;
                        top: 50%;
                        left: 100%;
                    }
                    .flow-circle.first::before {
                        content: none;
                    }
                    .flow-circle.last::after {
                        content: none;
                    }
                    h2{
                        margin: 20px 0 12px 0;
                        color: #545454;
                        font-weight: 700;
                        font-size: 16px;
                        text-transform: uppercase;
                    }
                    p{
                        font-size: 13px;
                        color: #6e6e6e;
                    }
                }
                .btn-app{
                    height: 36px;
                    font-weight: 600;
                    font-size: 14px;
                    border-radius: 3px;
                    text-transform: uppercase;
                    outline: 0;
                }
                .btn-app:focus, .btn-app.focus, .btn-app:active:focus, .btn-app:active.focus, .btn-app.active:focus, .btn-app.active.focus {
                    outline: 0;
                }
                .btn-app-primary{
                    background-color: $btn_primary_bgcolor;
                    border-color: $btn_primary_border_color;
                    color: #fff;
                }
                .btn-app-primary:focus, .btn-app-primary.focus, .btn-app-primary:hover {
                    background-color: $btn_primary_focus_bgcolor;
                    border-color: $btn_primary_focus_border_color;
                    color: #fff;
                }
                .btn-continue{
                    height: 42px;
                    min-width: 181px;
                }
                

                // position: relative;
                // padding: 15px 15px 17px 15px;;
                // background: #3FB300;
                // border-radius: 4px;
                // h1{
                //     font-size: 20px;
                //     font-weight: 600;
                //     margin: 0;
                //     color: #fff;
                //     span.fa-check-circle{
                //         color: #fff;
                //         margin-right: 20px;
                //         font-size: 22px;
                //         position: relative;
                //         top: 4px;
                //     }
                // }
            }
        }
    }
}

/* Landscape mini, ipad 1&2, ipad 3&4*/
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (orientation: landscape) 
  and (-webkit-min-device-pixel-ratio: 1),
screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (orientation: landscape) 
  and (-webkit-min-device-pixel-ratio: 1),
screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (orientation: landscape) 
  and (-webkit-min-device-pixel-ratio: 2){
  .my-modal-popup.registerd-success-modal{
    .modal-dialog{
        width: 90%;
    }
  }
}