<!-- /*Author : Manjesh Kumar */ -->
<div id="signupsuccess">
    <div class="modal-header">
        <h4><span class="fa fa-check" aria-hidden="true"></span>
        {{'SIGNUP.SIGNUPSUCCESSMSG' | translate : '{firstname:'+'"'+registerdsuccess.userDetails.firstName+'"'+'}'}}</h4>
    </div>
    <div class="modal-body text-center">
        <h3>{{'SIGNUP.USER_INFO' | translate}}</h3>
        <div class="row flow-container text-center">
            <div class="col-lg-3 col-md-3">
                <div class="flow-circle first"><i class="fa fa-search" aria-hidden="true"></i></div>
                <h2>{{'SIGNUP.SEARCHPARTS' | translate}}</h2>
                <p>{{'SIGNUP.USEOURPOWERFULSEARCH' | translate}} </br> {{'SIGNUP.OPTIONPARTQUICKLY' | translate}}</p>
            </div>
            <div class="col-lg-3 col-md-3">
                <div class="flow-circle"><i class="fa fa-plus" aria-hidden="true"></i></div>
                <h2>{{'SIGNUP.ADDTOLIST' | translate}} </h2>
                <p>{{'SIGNUP.CREATEANDMANAGE' | translate}}</br>{{'SIGNUP.MULTIPLELIST' | translate}} </br>{{'SIGNUP.FROMPARTADDEDTOLIST' | translate}}  </p>
            </div>
            <div class="col-lg-3 col-md-3">
                <div class="flow-circle"><i class="fa fa-money" aria-hidden="true"></i></div>
                <h2>{{'SIGNUP.SENDRFQ' | translate}}</h2>
                <p>{{'SIGNUP.FINDDISTRIBUTORS' | translate}}</br>{{'SIGNUP.YOURAREARFQ' | translate}}</p>
            </div>
            <div class="col-lg-3 col-md-3">
                <div class="flow-circle last"><i class="fa fa-exchange" aria-hidden="true"></i></div>
                <h2>{{'SIGNUP.TRACKRFQ' | translate}}</h2>
                <p>{{'SIGNUP.TRACKSTATUS' | translate}} </br>{{'SIGNUP.RFQQUOTES' | translate}}</p>
            </div>
        </div>
        <button type="button" class="btn btn-app btn-app-primary btn-continue" data-ng-click="registerdsuccess.cancel()">{{'FORGOT_PSWRD.PSWRD_ASSIST.BUTTON' | translate}}</button>
    </div>
</div>


