<ul class="nav navbar-nav navbar-right profile-menu">
    <li uib-dropdown class="signin" data-ng-if="!profile.isCurrentUserExist">
        <a href="#" id="signinpopup" data-ng-click="profile.openSignInPopup()">{{'HEADER.MENUS.PROFILE.SIGNIN' | translate}}</a>
    </li>
    <li uib-dropdown id="customerList" class="cutomer-list" auto-close="outsideClick" is-open="profile.custDrpDnStatus.isOpen"
        data-ng-if="profile.isCurrentUserExist && profile.hasUserCustList" ng-mouseleave="profile.closeCustDrpDn()">
        <a href="#" id="customerListDropDown" uib-dropdown-toggle data-ng-mouseover="profile.openCustDrpDn()">
            <!--Cust. No. {{profile.selectedCustId}}-->
            {{'HEADER.MENUS.PROFILE.CUSTNO' | translate : '{selectedCustid : '+'"'+profile.selectedCustId+'"'+'}'}}
            <i class="fa fa-caret-down" aria-hidden="true"></i>
        </a>
        <span class="ddlarrow"></span>
        <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="customerListDropDown">
            <!--<div class="selected-cust-dtls">
                <span class="selected-cust-id">{{profile.associatedCustData.activeCustId}}</span>
                <span class="selected-cust-name">{{profile.associatedCustData.dealerCode}}</span>
                <span class="selected-cust-name">{{profile.associatedCustData.customerName}}</span>
                <i class="fa fa-check" aria-hidden="true"></i>
            </div>-->
            <table class="table table-hover table-condensed tbl-cust-lst-wrapper selected-cust-tbl">
                <tbody>
                    <tr class="selected-on-top">
                        <td class="cust-id">{{profile.associatedCustData.activeCustId}}</td>
                        <td class="cust-name" data-ng-if="profile.associatedCustData.dealerCode">{{profile.associatedCustData.dealerCode}}</td>
                        <td class="cust-name">{{profile.associatedCustData.customerName}}</td>
                        <td class="text-right">
                            <i class="fa fa-check" aria-hidden="true"></i>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="input-group search-container">
                <input type="text" class="form-control" autofocus data-ng-model="profile.searchCustomer" placeholder="{{'HEADER.MENUS.PROFILE.CLIST_SRCH_PH' | translate}}" ng-keyup="$event.keyCode == 13 && profile.switchToUniqueCustomer((profile.customerList | filter: profile.searchCustomer | slice:0:10))" aria-describedby="basic-addon3">
                <i class="fa fa-search" aria-hidden="true"></i>
            </div>
            <hr/>
            <table class="table table-hover table-condensed tbl-cust-lst-wrapper" data-ng-show="(profile.searchCustomer && profile.searchCustomer.length > 0) || profile.customerList.length <= 10">
                <thead>
                    <tr>
                        <th>{{'HEADER.MENUS.PROFILE.CLIST_CNUM_LBL1' | translate}} </br>{{'HEADER.MENUS.PROFILE.CLIST_CNUM_LBL2' | translate}}</th>
                        <th>{{'HEADER.MENUS.PROFILE.CLIST_DCODE_LBL1' | translate}} </br>{{'HEADER.MENUS.PROFILE.CLIST_DCODE_LBL2' | translate}}</th>
                        <th>{{'HEADER.MENUS.PROFILE.CLIST_CNAME_LBL1' | translate}} </br>{{'HEADER.MENUS.PROFILE.CLIST_CNAME_LBL2' | translate}}</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr id="row_{{$index}}" data-ng-repeat="customer in profile.customerList | filter: profile.searchCustomer | slice:0:10" data-ng-click="profile.onChangeOfSelectedCustomer(customer.customerNumber)" data-ng-class="{'selected': (profile.selectedCustId == customer.customerNumber)}">
                        <td class="cust-id">{{customer.customerNumber}}</td>
                        <td class="cust-id">{{customer.dealerCode}}</td>
                        <td class="cust-name">{{customer.companyName}}</td>
                        <td class="text-right">
                            <i data-ng-show="profile.selectedCustId == customer.customerNumber" class="fa fa-check" aria-hidden="true"></i>
                        </td>
                    </tr>
                </tbody>
            </table>
            <!--<ul class="customer-list-wrapper" data-ng-show="(profile.searchCustomer && profile.searchCustomer.length > 0) || profile.customerList.length <= 10">
                <li role="menuitem" data-ng-repeat="customer in profile.customerList | filter: profile.searchCustomer | slice:0:10">
                    <a href="#" data-ng-click="profile.onChangeOfSelectedCustomer(customer.customerNumber)" data-ng-class="{'selected': (profile.selectedCustId == customer.customerNumber)}">
                        <span class="cust-id">{{customer.customerNumber}}</span> 
                        <span class="cust-name">{{customer.companyName}}</span>
                        <span class="cust-name">{{customer.dealerCode}}</span>
                        <i
                            data-ng-show="profile.selectedCustId == customer.customerNumber" class="fa fa-check" aria-hidden="true"></i>
                    </a>
                </li>
            </ul>-->
        </ul>
    </li>
    <li uib-dropdown class="signin logged-in" is-open="profile.profileDrpDnStatus.isOpen" data-ng-if="profile.isCurrentUserExist"
        data-ng-mouseleave="profile.closeCustDrpDn()">
        <a href="#" id="signedinpopup" uib-dropdown-toggle data-ng-mouseover="profile.openLoginDrpDn()">
            {{'HEADER.MENUS.PROFILE.GREETINGS_TXT' | translate}} {{profile.userShortInfo.firstName}}
            <i class="fa fa-caret-down" aria-hidden="true"></i>
        </a>
        <span class="ddlarrow"></span>
        <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="signedinpopup">
            <li role="menuitem" data-ng-if="profile.userPermissionsList.ViewOrderHistory">
                <a href="#" ng-click="profile.postOrderList()">{{'HEADER.MENUS.PROFILE.MYORDERS' | translate}}</a>
            </li>
            <li role="menuitem" data-ng-if="profile.userPermissionsList.ViewUser">
                <a href="#" ng-click="profile.navigateTOProfilePage()">{{'HEADER.MENUS.PROFILE.USERP' | translate}}</a>
            </li>
            <li role="menuitem" data-ng-if="profile.userPermissionsList.ViewUserReport">
                <a href="#" ng-click="profile.navigateToReport()" data-ng-if="profile.hasUserCustList">{{'HEADER.MENUS.PROFILE.REPORT' | translate}}</a>
            </li>
            <li role="menuitem empty-li">
                <hr/>
                </a>
            </li>
            <li role="menuitem">
                <a href="#" ng-click="profile.logMeOut()">{{'HEADER.MENUS.PROFILE.LOGOUT' | translate}}</a>
            </li>
        </ul>
    </li>
    <li class="order-list rfq-list" ng-if="profile.userPermissionsList.QuoteManagement && profile.isCurrentUserExist">
        <a href="/managerfq" class="popover-default-css" id="manageRFQMenu" data-ng-mouseover="profile.closeAllDrpDnsOfHeader()">
            <label>{{'HEADER.MENUS.PROFILE.RFQS' | translate}}</label>
            <span class="badge" ng-if="profile.rfqCount > 0">{{profile.rfqCount}}</span>
            <i class="fa fa-caret-down" ></i>
            <div class="manage-rfq-hover-content">
                <div class="ddlarrow"></div>
                <div class=" dropdownpopover">
                    <div class="row empty-rfq-notf" ng-if="profile.rfqNotfData.length === 0">
                        <div class="col-xs-2">
                        </div>
                        <div class="col-xs-8">
                            <p style="color:#ddd"><i class="fa fa-exclamation-triangle" aria-hidden="true" style="margin-right:5px;"></i>0 {{'HEADER.MENUS.PROFILE.NOTIFICATIONS' | translate}}</p>
                        </div>
                        <div class="col-xs-2">
                        </div>
                    </div>
                    <table class="table">
                        <tbody>
                            <tr ng-repeat="items in profile.rfqNotfData" ng-init="profile.increaseOpenRFQCount(items)">
                                <td>
                                    <h5> {{'MYLIST.RFQID'| translate}} {{items.objName}}</h5>
                                    <p style="margin-top:5px;"><span>{{items.createdOn | date:'MM/dd/yyyy h:mm a'}}</span></p>
                                </td>
                                <td>
                                    <span class="label label-default">{{profile.status(items.status) | translate}}</span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </a>
    </li>
    <li class="order-list" ng-if="profile.isCurrentUserExist && profile.userPermissionsList.ViewOrderlist">
        <!--<a href="/mylist" id="myListMenu" class="popover-default-css" data-ng-mouseover="profile.closeAllDrpDnsOfHeader()">-->
        <a style="cursor:pointer" ng-click="profile.gotoMylist();" id="myListMenu" class="popover-default-css" data-ng-mouseover="profile.closeAllDrpDnsOfHeader()">
            <label>{{'HEADER.MENUS.PROFILE.MYLIST' | translate}}</label>
            <i class="fa fa-caret-down" ></i>
            <div class="my-list-hover-content" ng-include="'app/mylist/mylistpopover/mylistpopover.html'"></div>
        </a>
    </li>
    <li data-ng-click="profile.openRegistrationPopUp()" data-ng-if="!profile.isCurrentUserExist"><a href="#">{{'HEADER.MENUS.PROFILE.REGISTER' | translate}}</a></li>
    <!--<li ng-if="profile.isCurrentUserExist && profile.userPermissionsList.ViewCart">
        <a style="cursor:pointer" ng-click="profile.getCartDetails()">{{'HEADER.MENUS.PROFILE.CART' | translate}}
            <i class="fa fa-1x fa-shopping-cart" aria-hidden="true"></i>
            <span class="badge badgeClr">{{profile.cartCount}}</span>
        </a>
    </li>-->
    <li ng-if="profile.userPermissionsList.RequestQuote && profile.isCurrentUserExist" class="my-rfq-dropdown rfq-list">
        <a style="cursor:pointer" href="/myrfq" class="popover-default-css" id="myRFQMenu" data-ng-mouseover="profile.closeAllDrpDnsOfHeader()">
        <label>{{'HEADER.MENUS.PROFILE.MYRFQ' | translate}}</label>
        <span class="badge" ng-if="profile.rfqCount > 0">{{profile.rfqCount}}</span>
        <i class="fa fa-caret-down" ></i>
        <div class="my-rfq-hover-content">
            <div class="ddlarrow"></div>
            <div class=" dropdownpopover">
                
                <div class="row empty-rfq-notf" ng-if="profile.rfqNotfData.length === 0">
                        <div class="col-xs-2">
                        </div>
                        <div class="col-xs-8">
                            <p style="color:#ddd"><i class="fa fa-exclamation-triangle" aria-hidden="true" style="margin-right:5px;"></i>0 {{'HEADER.MENUS.PROFILE.NOTIFICATIONS' | translate}}</p>
                        </div>
                        <div class="col-xs-2">
                        </div>
                </div>
                <table class="table">
                    <tbody>
                        <tr ng-repeat="items in profile.rfqNotfData">
                            <td>
                                <h5>{{'MYLIST.RFQID'| translate}} {{items.objName}}</h5>
                                <p style="margin-top:5px;"><span>{{items.createdOn | date:'MM/dd/yyyy h:mm a'}}</span> - <span class="label label-default" style="background:#ccc">{{profile.status(items.status) | translate}}</span></p>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </a></li>
    <li uib-dropdown ng-if="!profile.isCurrentUserExist" class="tempListMenu">
        <a style="cursor:pointer" uib-dropdown-toggle>{{'HEADER.MENUS.PROFILE.LIST' | translate}} <span class="badge" ng-show="profile.showTempListItemCount">{{profile.tempListItemCount}}</span></a>

        <ul class="dropdown-menu" uib-dropdown-menu role="menu" ng-show="profile.showTempListItemCount" ng-click="$event.stopPropagation()">
            <i class="fa fa-caret-up" aria-hidden="true"></i>
            <li>
                <div class="row">
                     
        
                    <div class="col-xs-6 text-left"><a style="cursor:pointer" ng-click="profile.saveList()">{{'PARTCARD.SAVELIST' | translate}}</a></div>
                    <div class="col-xs-6 text-right"><a style="cursor:pointer" ng-click="profile.shareList()">{{'PARTCARD.SHARELIST' | translate}}</a></div>
                </div>
            </li>
            <li class="divider"></li>
            <div class="list_wrapper" data-ng-class="{'scr-added': profile.tempListItemData && profile.tempListItemData.length > 10}">
            <li ng-repeat="items in profile.tempListItemData | reverse" class="tempListItem">
                <div class="row">
                    <div class="col-xs-9">
                        <p class="part_temp_list" title="{{items.partNo}} {{items.partName}}"><b>{{items.partNo}}</b> {{items.partName}}</p>
                    </div>
                    <div class="col-xs-3 text-right"><a style="cursor:pointer" ng-click="profile.deleteFromSessionList(items, $event)"><i class="fa fa-trash-o" aria-hidden="true"></i></a></div>
                </div>
            </li>
        </div>
        </ul>
    </li>
</ul>