/***************************************************************
* Proprietary & Confidential  |  © 2016 PhaseZero Ventures LLC 
* 
* This file is part of Tire Advisor project
* 
* This file cannot be copied and/or distributed without 
* the express permission of PhaseZero Ventures LLC
***************************************************************/
.profile-menu {
    margin-right: 6px;
    .my-list-hover-content{
        display: none;
        position: absolute;
        right: 0;
        z-index: 1001;
        top: 20px;
    }
    .my-rfq-hover-content{
        display: none;
        position: absolute;
        right: 0;
        z-index: 1001;
        top: 20px;
        .empty-rfq-notf {
            p {
                width: 100%;
                float: left;
                text-align: center;
                font-size: 14px;
                i {
                    float: left;
                    color: #ddd !important;
                }
            }
        }
        .ddlarrow {
                position: absolute;
                top: -22px;
                right: 10px;
                &:before {
                    content: " ";
                    left: 60px;
                    border: solid transparent;
                    border-color: rgba(136, 183, 213, 0);
                    border-bottom-color: #FFFFFF;
                    border-width: 9px;
                    margin-left: -10px
                }
                &:after {
                    bottom: 102%;
                    content: " ";
                    height: 0;
                    width: 0;
                    position: absolute;
                    pointer-events: none;
                }
            }
    div.dropdownpopover {
        margin-top: 4px;
        width:300px;
        padding: 15px 10px;
        border-top-right-radius: 3px;
        border-top-left-radius: 3px;
        background: #fff;
        border: 1px solid #ddd;
        float:right;
        max-height: 400px;
        overflow-x: hidden;
        overflow-y: auto;
        .table {
            margin-bottom: 0px;
            tbody {
                tr {
                    border:none;
                    border-bottom: #ccc solid 1px;
                    td {
                        border:none;
                        > * {
                            margin: 0px;
                        }
                        h5 {
                            font-weight: bold;
                            color: #0093c6;
                        }
                        p {
                            color: #000;
                        }
                        label {
                            float: right;
                        }
                    }
                    &:last-child {
                            border-bottom: none;
                    }
                }
            }
        }
    }
    }

    .manage-rfq-hover-content{
        display: none;
        position: absolute;
        width: 150px;
        right: 0;
        z-index: 1001;
        top:20px;
        .empty-rfq-notf {
            p {
                width: 100%;
                float: left;
                text-align: center;
                font-size: 14px;
                i {
                    float: left;
                    color: #ddd !important;
                }
            }
        }
        .ddlarrow {
                position: absolute;
                top: -22px;
                right: 10px;
                &:before {
                    content: " ";
                    left: 60px;
                    border: solid transparent;
                    border-color: rgba(136, 183, 213, 0);
                    border-bottom-color: #FFFFFF;
                    border-width: 9px;
                    margin-left: -10px
                }
                &:after {
                    bottom: 102%;
                    content: " ";
                    height: 0;
                    width: 0;
                    position: absolute;
                    pointer-events: none;
                }
            }
    div.dropdownpopover {
        margin-top: 4px;
        width: 300px;
        padding: 15px 10px;
        border-top-right-radius: 3px;
        border-top-left-radius: 3px;
        background: #fff;
        border: 1px solid #ddd;
        float:right;        
        max-height: 400px;
        overflow-x: hidden;
        overflow-y: auto;
        .table {
            margin-bottom: 0px;
            tbody {
                tr {
                    border:none;
                    border-bottom: #ccc solid 1px;
                    td {
                        border:none;
                        > * {
                            margin: 0px;
                        }
                        h5 {
                            font-weight: bold;
                            color: #0093c6;
                        }
                        p {
                            color: #000;
                        }
                        label {
                            float: right;
                        }
                    }
                    &:last-child {
                            border-bottom: none;
                    }
                }
            }
        }
    }
    }
    #myListMenu{
        position: relative;
    }
    #myListMenu:hover .my-list-hover-content{
        display: block; 
    }

    #myRFQMenu{
        position: relative;
    }
    #myRFQMenu:hover .my-rfq-hover-content{
        display: block; 
    }
    #manageRFQMenu{
        position: relative;
    }
    #manageRFQMenu:hover .manage-rfq-hover-content{
        display: block; 
    }
    li.order-list {
        
        a {
            > label {
                float: left;
                margin: 0px;
                padding: 0px;
                font-weight: 400;
                cursor: pointer;
            }
            i {
                color: $active_link_color !important;
                font-size: 16px;
                margin-left: 5px;
                margin-top: 3px;
                float: left;
            }
            
        }
    }

    li.my-rfq-dropdown {
        a {
            > label {
                float: left;
                margin: 0px;
                padding: 0px;
                font-weight: 400;
                cursor: pointer;
            }
            i {
                color: $active_link_color !important;
                font-size: 16px;
                margin-left: 5px;
                margin-top: 3px;
                float: right;
            }
        }
    }

    li.manage-rfq-dropdown {
        a {
            > label {
                float: left;
                margin: 0px;
                padding: 0px;
                font-weight: 400;
                cursor: pointer;
            }
            i {
                color: $active_link_color !important;
                font-size: 16px;
                margin-left: 5px;
                margin-top: 3px;
                float: right;
            }
        }
    }
    li.rfq-list {
        a {
            .badge {
                background: #f00;
                font-size: 10px;
                margin-left: -3px;
                margin-top: -2px;
            }
        }
    }
    li.tempListMenu {
        a {
            color: #fff !important;
            .badge {
                background: #0093C6;
                margin-left: 3px;
                position: relative;
                font-size: 10px;
            }
        }
        ul {
            margin-right: 20px;
            margin-top: -5px;
            width: 288px;
            padding: 10px 0;
            border: 1px solid #707070;
            border-radius: 4px;
            i {
            color: #fff;
            font-size: 25px;
            float: right;
            margin-top: -26px;
            margin-right: 20px;
            }
            li {
                margin: 0px !important;
                height: auto !important;
                width: 100%;
                padding: 10px 24px !important;
                p {
                    float: left;
                    width: 100%;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    color: #363636;
                    margin: 0;
                    font-weight: 600;
                    font-size: 13px;
                    line-height: 13px;
                    b{
                        color: #0093c6;
                        font-weight: 700;
                    }
                }
                a {
                    margin: 0px;
                    color: $active_link_color !important;
                    font-weight: 600;
                    font-size: 11px;
                    line-height: 11px;
                    padding: 0px;
                    width: 100%;
                    float: left;
                    i {
                        margin: 0px !important;
                        padding: 0px !important;
                        color: #bebebe;
                        font-size: 13px;
                    }
                }
            }

            li.tempListItem {
                float: left;
                padding: 6px 24px !important;
                p {
                    margin-left: 0;
                }
                a {
                    float: right;
                    i {
                        font-size: 13px;
                    }
                    
                }
            }
            .list_wrapper.scr-added{
                max-height: 254px;
                overflow-y: auto;
                overflow-x: hidden;
                li.tempListItem{
                    padding: 6px 5px 6px 24px !important;
                }
            }
            .divider {
                width: 84%;
                margin: 0 auto !important;
                height: 1px !important;
                padding: 0px !important;
                border-color: #bebebe;
                margin-bottom: 10px !important;
            }
        }
            
    }
    li.logged-in.signin{
        >a{
            color: #fff !important;
            text-transform: capitalize;
            .fa-caret-right, .fa-caret-left{
                color: $active_link_color;
                font-size: 16px;
                position: relative;
                right: 4px;
                top: 1px;
            }
            .fa-caret-right{
                right: 5px;
            }
            .fa-caret-down{
                color: $active_link_color;
                font-size: 16px;
                margin-left: 3px;
                /* margin-top: 3px; */
                position: relative;
                top: 2px;
            }
        }
        ul.dropdown-menu {
            margin-top: -8px;
            right: 0;
            left: inherit;
        }
        ul.dropdown-menu::after {
            width: 0;
            height: 0;
            border-left: 10px solid transparent;
            border-right: 10px solid transparent;
            border-bottom: 10px solid #fff;
            content: "";
            top: -9px;
            right: 9px;
            position: absolute;
        }
    }
    li.signin {
        a {
            color: $color_extreme_two;
        }
        ul.logged-in{

        }
        ul.dropdown-menu {
           // height: 105px !important;
            // display:block;
            margin-top: 0px;
            // border-top-right-radius: 3px;
            // border-top-left-radius: 3px;
           //border-top: 4px solid #0093c6;
            left:0;
            //width:200px;
            width:172px;
            padding: 0;
            padding-top: 8px;
            padding-bottom: 15px;
            //height:95px;
            border-radius: 4px;
            border-color: #707070;
            li.h-rule {
                height:2px;
                margin:0;
                hr {
                    margin:0;
                }
            }
            li {

                height: auto;
                padding: 0;
                margin-top: 5px;
                margin-left: 10px;
                margin-right: 10px;
                a{
                    color:gray;
                    // padding: 8px 8px;
                    font-size: 13px;
                    font-weight: 400;
                    color:$active_link_color;
                    line-height: 1.9em;
                }
                a:hover{
                    background: #f00; 
                }
                hr {
                    margin:0;
                    color:#ebebeb;
                    // margin-left: 3px;
                    // margin-right: 3px;
                }
            }
            li.empty-li{
                height:0;
            }
            .ddlarrow {
                position: absolute;
                top: -22px;
                left: 55px;
                &:before {
                    content: " ";
                    left: 60px;
                    border: solid transparent;
                    border-color: rgba(136, 183, 213, 0);
                    border-bottom-color: #0093c6;
                    border-width: 9px;
                    margin-left: -10px
                }
                &:after {
                    bottom: 102%;
                    content: " ";
                    height: 0;
                    width: 0;
                    position: absolute;
                    pointer-events: none;
                }
            }
        }
        .badge {
            padding: 2px 6px 2px 5px;
            background-color: red !important;
            font-size: 9px;
            margin-top: -5px;
            margin-left: 2px;
        }
        .fa-shopping-cart {
            margin-left: 6px;
        }

    }
    li#customerList{
        > a {
            color: #ffffff;
            .fa-caret-down {
                color: $active_link_color;
                font-size: 16px;
                margin-left: 3px;
                position: relative;
                top: 2px;
            }
        }
        ul.dropdown-menu{
            right: 0;
            left: inherit;
            margin-top: -8px;
            padding: 0;
            min-width: 410px;
            padding: 20px;
            border: 1px solid #707070;
            border-radius: 4px;
            .search-container{
                width: 100%;
                min-width: 150px;
                position: relative;
                input{
                    border-radius: 3px;
                    width: 100%;
                    padding-right: 20px;
                    padding-left: 10px;
                    font-size: 14px;
                }
                input::-webkit-input-placeholder {
                    font-size: 12px;
                    color: #9e9e9e;
                }
                input:-moz-placeholder { /* Firefox 18- */
                    font-size: 12px;
                    color: #9e9e9e; 
                }
                input::-moz-placeholder {  /* Firefox 19+ */
                    font-size: 12px;
                    color: #9e9e9e; 
                }
                input:-ms-input-placeholder {  
                    font-size: 12px;
                    color: #9e9e9e; 
                }
                .fa-search{
                    color: #277eb6;
                    position: absolute;
                    right: 9px;
                    top: 7px;
                    font-size: 16px;
                    z-index: 4;
                }
            }
            .selected-cust-dtls{
                padding: 10px;
                background: #575757;
                padding-right: 20px;
                position: relative;
                margin-bottom: 10px;
                color: #ffffff;
                font-size: 13px;
                font-weight: 600;
                border-radius: 4px;
                .selected-cust-id{
                    display: inline-block;
                    // margin-right: 5px;
                }
                .selected-cust-name{
                    // color: #0093c6;
                    display: inline-block;
                    // margin-right: 20px;
                }
                .fa-check{
                    color: #1ed500;
                    font-size: 11px;
                    float: none !important;
                    text-align: right;
                    position: absolute;
                    z-index: 5000;
                    right: 14px;
                    top: 14px;
                }
            }
            hr{
                margin: 15px -20px 15px;
            }
            .tbl-cust-lst-wrapper{
                margin-bottom: 0;
                >thead{
                    >tr{
                        >th{
                            font-weight: 600;
                            font-size: 11px;
                            color: #acacac;
                            border: 0; 
                            &:first-child{
                                padding-left: 10px;
                            }
                            &:last-child{
                                padding-right: 10px;
                            }
                        }
                    }
                }
                >tbody{
                    >tr{
                        >td{
                            font-size: 13px;
                            font-weight: 400;
                            color: #414141;
                            border-top: 0;
                            line-height: 15px;
                            i{
                                color: #1ed500;
                                font-size: 11px;
                            }
                            &:first-child{
                                padding-left: 10px;
                            }
                            &:last-child{
                                padding-right: 10px;
                            }
                        }
                        >td.cust-name{
                            color: #0093c6;
                        }
                        &:hover{
                            cursor: pointer;
                        }
                    }
                   >tr.selected{
                        background-color: #f9f9f9 !important;
                        border: 1px solid #eeeeee;
                        pointer-events: none;
                   } 
                   >tr.selected-on-top{
                       background: #575757;
                       >td{
                            color: #ffffff;
                            font-size: 13px;
                            font-weight: 600;
                       }
                   }
                }
            }
            table.selected-cust-tbl{ 
                border-collapse: separate; 
                border-spacing: 0 10px; 
                margin-top: -10px; /* correct offset on first border spacing if desired */
                td {
                    border: solid 1px #575757;
                    border-style: solid none;
                    padding: 10px;
                    background-color: #575757;
                }
                td:first-child {
                    border-left-style: solid;
                    border-top-left-radius: 4px; 
                    border-bottom-left-radius: 4px;
                }
                td:last-child {
                    border-right-style: solid;
                    border-bottom-right-radius: 4px; 
                    border-top-right-radius: 4px; 
                }
            }
            .customer-list-wrapper{
                right: 0;
                left: inherit;
                width: 400px;
                margin-top: -8px;
                border-top-right-radius: 3px;
                border-top-left-radius: 3px;
                padding: 0;
                max-height: 443px;
                overflow-y: auto;
                margin-top: 20px;
                li{
                    padding: 0;
                    height: auto;
                    position: relative;
                    text-transform: uppercase;
                    a{
                        font-size: 12px;
                        font-weight: 600;
                        padding: 5px 20px;
                        display: block;
                        span.cust-id{
                            color: #6e6e6e;
                            display: inline-block;
                            margin-right: 5px;
                        }
                        span.cust-name{
                            color: $active_link_color;
                            display: inline-block;
                            margin-right: 20px;
                        }
                        .fa-check{
                            color: #39A200;
                            font-size: 16px;
                            margin-left: 10px;
                            float: none !important;
                            text-align: right;
                            position: absolute;
                            z-index: 5000;
                            right: 8px;
                        }
                    }
                    a.selected{
                        background-color: #cdcdcd !important;
                        pointer-events: none;
                    }
                    a:hover{
                        background: #e5e5e5 !important;
                    }
                }
                // li:first-child {
                //     a{
                //         padding-top: 10px;
                //     }
                // }
                // li:last-child {
                //     a{
                //         padding-bottom: 10px;
                //     }
                // }
            }
            
        }
        ul.dropdown-menu::after {
            width: 0;
            height: 0;
            border-left: 10px solid transparent;
            border-right: 10px solid transparent;
            border-bottom: 10px solid #fff;
            content: "";
            top: -9px;
            right: 9px;
            position: absolute;
        }
    }
    .open {
        a {
            background-color: transparent !important;
            color: #0099CC;

        }
    }
}

.badgeClr{
    background-color: red !important;
}
