.order-detail-container {
    margin: 0px;
    padding-left: 0;
    padding-right: 0;
    background-color: $app_bg_color;
    font-size:12px;
    table{
        border-collapse: collapse;
        background-color:#FFF;
        th{
            color: #acacac;
            font-weight: 600;
            .address-to{
                color:#000000;
                font-size:13px;
                font-weight: 600;
            }
        }
    }
    table > thead > tr > th{
        border-bottom: none;
    }
    table, th, td {
        border: 1px solid #f1f1f1;
    }
    .download-order {
        text-align: right;
        padding-right: 0;
        cursor: pointer;
        position: relative;
        color: $active_link_color;
        font-weight: 600;
        font-size: 12px;
        padding-top:7px;
        padding-left: 0;
        padding-right: 10px;
        display: inline-block;
        .fa-file-excel-o{
            color: $active_link_color;
            font-size: 17px;
            margin: 0;
            margin-right: 10px;
        }
        span{
            font-size: 12px;
        }

    }
    
    .breadcrumb{
        font-weight: 600;
        background-color: #FFF;
        padding: 8px 20px;
        li + li:before {
            padding: 0 5px;
            content: "> ";
            font-size: 10px;
            color: #777;
        }
        a:hover{
            cursor: pointer;
        }
    }
   
    .btn-primary{
        background-color: #0096c9;
        border-color: #0096c9;
    }
    .btn-app{
        height: 30px;
        padding: 0 32px;
        font-weight: 600;
        font-size: 14px;
        border-radius: 3px;
        text-transform: uppercase;
        outline: 0;
        line-height: 16px;
    }
    .btn-app:focus, .btn-app.focus, .btn-app:active:focus, .btn-app:active.focus, .btn-app.active:focus, .btn-app.active.focus {
        outline: 0;
    }
    .btn-app-primary{
        background-color: transparent;
        border: 2px solid #000000;
        color: #000000;
    }
    .btn-app-primary:focus, .btn-app-primary.focus, .btn-app-primary:hover {
        background-color: transparent;
        border: 2px solid #000000;
        color: #000000;
    }
    .address-table{
        margin-bottom: 10px;
        width:100%;
        th{
            width:33.333%;
        }
        td{
            width:33.333%;
            font-size:13px;
        }
    }
    .header-table{
         width:100%;
        th{
            width:16.666%
        }
        td{
            width:16.666%;
            padding: 10px 10px;
            font-size:13px;
        }
    }
    .po-tbl-wrapper{
        padding: 20px 30px;
        .my-oder-lbl{
            font-size: 30px;
            font-weight: 700;
            text-align: left;
            line-height: 48px;
            padding-left: 0;
            margin: 0;
            color:#a6a6a6;
            font-weight: 300;
            
        }
        .btn{
            // border-radius: 4px;
            // font-weight: 600;
            // font-size: 12px;
        }
        .po-details{
            margin-bottom: 10px;
        }
        // .bdr{
        //     border: 1px solid #ddd;
        //     background-color:#FFF;
        // }
        // .bdr-r{
        //     border-right: 1px solid #ddd;
        // }
        
        // .bdr-l{
        //     border-left: 1px solid #ddd;
        // }
        
        // .bdr-b{
        //     border-bottom: 1px solid #ddd;
        // }
        .pr-0{
            padding-right: 0;
        }
        .pl-0{
            padding-left: 0;
        }
        .prl-0{
            padding-right: 0;
            padding-left: 0;
        }
        .head {
           
            background-color: #fbfbfb;
            padding: 5px 10px;
            font-weight: 600;
            padding-top: 15px;
            padding-bottom: 15px;
        }
        .address, .body{
            padding: 10px 10px;
            margin-bottom: 0;
        }
        table{
            tbody{
                tr{
                    td{
                        a{
                            color: $active_link_color;
                            text-decoration: none;
                            font-weight: 600;
                        }
                    }
                }
            }
        }
    }
    .table thead, .table tfoot{
        color:#000000;
        background-color: #fbfbfb;;
    }
    .table tfoot{
        tr.tr-total{
            text-align: right;
            font-weight: 700;
            font-size: 14px;
            background: #ffffff;
            td{
                padding: 12px 8px;
                border-right: 0;
                border-left: 0;
                background: #ffffff;
            }
            td.total-txt{
                color: #7f7f7f;
            }
        }
    }
    .no-margin{
        margin-left:0;
        margin-right: 0;
        padding-right: 0;
        padding-left:0;
    }
    .backBtn{
        width:60px;
        height:40px;
    }
  .my-oder-lbl, .head {
    
    padding: 5px 10px;
  }
  .print-action{
      margin-top:3px;
      display: inline-block;
  }
  .mr-30{
      margin-right: 30px;
  }
  .fa-print{
        font-size:17px;
        color:$active_link_color;
        padding-top:3px;
        cursor: pointer;
    }
    .print-lbl{
        font-size:12px;
        color:$active_link_color;
        font-weight: 600;
        padding-right:0;
        cursor: pointer;
        padding-left:5px;
    }
    .tab-container {
        // margin-top:30px;
    }
    .tab-content{
        border: 1px solid #EEE;
        border-top: none;
    }
    .sort-arrow{
        margin-left: 20px;
    }
    .nav-tabs li .nav-link{
        font-size: 13px;
        font-weight: 600;
        background-color: #EEEEEE;
    }
    .nav-tabs li.active .nav-link {
        background-color: #FFFFFF;
    }  
    .orderDetailBtn {
        display: inline-block;
        width: 90px;
        height: 23px;
        font-size: 12px;
        padding: 1px 5px;
    }
    
}
@media screen {
    #printSection {
        display: none;
    }
}
@media print {
    body * {
        visibility:hidden;
    }
    #printSection, #printSection * {
        visibility:visible;
    }
    #printSection {
        position:absolute;
        left:0;
        top:0;
    }
    table{
        width: 100%;
    }
   
    .invoice-header-tbl{
        width:100%;
    }
    .td-03 {
        width:33%;
    }
    #order-detail-printable-area{
         table{
            width: 900px !important;
            border:1px solid #ddd !important;
             td {
                 word-wrap: break-word;
               
             }
            
         }
    }
    table.address-table{
         width: 100%;
        th{
          border-right:1px solid #ddd !important;
        }
        td{
            border-right:1px solid #ddd !important;
        }
        
    }
    table.address-table th{
            width:33.333%
        }
       table.address-table  td{
            width:33.333%
        }
    table.header-table{
         width:100%;
     
    }
       
        table.header-table th{
            width:16.666%
        }
        table.header-table td{
            width:16.666%;
            padding: 10px 10px;
        }

 body, div, h1, h2, h3, p, th, td, 
a{color: #000 !important; background-color:#fff !important}
 body{min-width:640px !important;} 
    .action-btn-div{
        display: none;
    }
    
    
}