<div class="container-fluid order-detail-container">
    <div class="row">
        <div class="col-md-12">
            <ol class="breadcrumb">
                <li><a href="/home">{{'BREADCRUMB.HOME' | translate}}</a></li>
                <li ng-if="orderdetail.userPermissionsList.ViewOrderHistory"><a href="#" data-ng-click="orderdetail.goToHistory()">{{'BREADCRUMB.MYORDERS' | translate}}</a></li>
                <li class="active">{{'BREADCRUMB.ORDER_DETAILS' | translate}}</li>
            </ol>
        </div>
    </div>
    <loading-directive></loading-directive>
    <div id="printSection">
    </div>
    <div class="po-tbl-wrapper" ng-if="orderdetail.loadingData === false && orderdetail.error === true">
        <div ng-include="'app/post-order/exceptionTemplates/noRecordFound.html'"></div>
    </div>
    <div class="po-tbl-wrapper" id="order-detail-printable-area" ng-if="orderdetail.loadingData === false && orderdetail.error === false">
        <div class="">
            <div class="po-details">
                <div class="row">
                    <div class="col-md-6">
                    <h1 class="my-oder-lbl"> {{'ORDERDETAILS.ORDER_DETAILS' | translate}}</h1>
                    </div>
                    <div class="col-md-6 pull-right">
                    <div class="row action-btn-div">
                        
                        <div class="col-md-12 text-right">
                            <button ng-hide="orderdetail.extetnal_link" class="btn btn-app btn-app-primary mr-30" ng-click="orderdetail.backtohistory()" type="button">{{'ORDERDETAILS.BACK' | translate}}</button>
                            <div class="text-right print-action mr-30" print-directive print-element-id="order-detail-printable-area">
                                <i class="fa fa-print" aria-hidden="true" title="{{'ORDERDETAILS.PRINT' | translate}}"></i>
                                <!--<span class="print-lbl">{{'ORDERDETAILS.PRINT' | translate}}</span>-->
                            </div>
                            <div class="download-order" 
                            data-ng-click="orderdetail.downloadOrder(orderdetail.orderData.orderSummary.orderNumber)">
                                <i class="fa fa-file-excel-o" aria-hidden="true"></i>
                                <span>{{'ORDERDETAILS.DOWNLOAD_ORDER' | translate}}</span>
                            </div>
                        </div>
                    </div>
                    </div>
                </div>
                <table class="address-table bdr">
                    <thead>
                        <tr>
                            <th class="head">
                                {{'ORDERDETAILS.SOLDTO' | translate}}: <span class="address-to">{{orderdetail.orderData.orderSummary.billToAddress.customerId}}</span>
                            </th>
                            <th class="head">
                                {{'ORDERDETAILS.SHIPTO' | translate}}: <span class="address-to">{{orderdetail.orderData.orderSummary.shipToAddress.customerId}}</span>
                            </th>
                            <th class="head">
                                {{'ORDERDETAILS.BILLTO' | translate}}: <span class="address-to">{{orderdetail.orderData.orderSummary.mailToAddress.customerId}}</span>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <address class="address bdr-r bdr-l">
                                    {{orderdetail.orderData.orderSummary.billToAddress.customerName}}
                                <div>
                                    {{orderdetail.orderData.orderSummary.billToAddress.address1}} {{orderdetail.orderData.orderSummary.billToAddress.address2}}
                                </div>
                                <div>
                                    {{orderdetail.orderData.orderSummary.billToAddress.city}} 
                                    {{orderdetail.orderData.orderSummary.billToAddress.state}} {{orderdetail.orderData.orderSummary.billToAddress.zip}}
                                </div>

                        </address>
                            </td>
                            <td>
                                <address class="address bdr-r">
                            {{orderdetail.orderData.orderSummary.shipToAddress.customerName}}
                                <div>
                                    {{orderdetail.orderData.orderSummary.shipToAddress.address1}} {{orderdetail.orderData.orderSummary.shipToAddress.address2}}
                                </div>
                                <div>
                                    {{orderdetail.orderData.orderSummary.shipToAddress.city}} 
                                    {{orderdetail.orderData.orderSummary.shipToAddress.state}} {{orderdetail.orderData.orderSummary.shipToAddress.zip}}
                                </div>
                        </address>
                            </td>
                            <td>
                                <address class="address bdr-r">
                             {{orderdetail.orderData.orderSummary.mailToAddress.customerName}}
                                <div>
                                    {{orderdetail.orderData.orderSummary.mailToAddress.address1}} {{orderdetail.orderData.orderSummary.mailToAddress.address2}}
                                </div>
                                <div>
                                    {{orderdetail.orderData.orderSummary.mailToAddress.city}} 
                                    {{orderdetail.orderData.orderSummary.mailToAddress.state}} {{orderdetail.orderData.orderSummary.mailToAddress.zip}}
                                </div>
                        </address>
                            </td>
                        </tr>
                    </tbody>
                </table>

                <table class="header-table bdr">
                    <thead>
                        <tr>
                            <th class="head">
                                {{'ORDERDETAILS.PRO_NUM' | translate}}
                            </th>
                            <th class="head">
                                {{'ORDERDETAILS.ORD_NUM' | translate}}

                            </th>
                            <th class="head">
                                {{'ORDERDETAILS.ORD_TYPE' | translate}}
                            </th>
                            <th class="head">
                                {{'ORDERDETAILS.CARRIER' | translate}}
                            </th>
                            <th class="head">
                                {{'ORDERDETAILS.TERMS' | translate}}
                            </th>
                            <th class="head">
                                {{'ORDERDETAILS.ACCOUNT' | translate}}
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                {{orderdetail.orderData.orderSummary.processNumber}}
                            </td>
                            <td>
                                {{orderdetail.orderData.orderSummary.orderNumber}}
                            </td>
                            <td>
                                {{orderdetail.orderData.orderDtls[0].orderType}}
                            </td>
                            <td>
                                {{orderdetail.orderData.orderSummary.carrierName}}
                            </td>
                            <td>
                                {{orderdetail.orderData.orderSummary.termDescr}}
                            </td>
                            <td>
                                {{orderdetail.orderData.orderSummary.account}}
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <!--<div class="row action-btn-div">
                <div class="col-md-11 text-right">
                    <i class="fa fa-print" aria-hidden="true" print-directive print-element-id="order-detail-printable-area"></i>
                   
                </div>
                <div class="col-md-1 pull-right">
                    <button class="btn btn-app btn-app-primary pull-right" ng-click="orderdetail.backtohistory()" type="button">BACK</button>
                </div>
            </div>-->
            <div class="row">
                <div class="col-md-12 tab-container">
                    <div class="row">
                        <div class="col-md-12 table-responsive">
                            <table class="table table-stripped bdr">
                                <thead>
                                    <tr>
                                        <th>
                                            <div class="inline-style">{{'ORDERDETAILS.INV_NUM' | translate}}</div>
                                        </th>
                                        <th>
                                            <div class="inline-style text-right">{{'ORDERDETAILS.INV_DATE' | translate}}</div>
                                        </th>
                                        <th>
                                            <div class="inline-style">{{'POSTORDER.PONUMBER' | translate}}</div>
                                        </th>
                                        <th>
                                            <div class="inline-style">{{'ORDERDETAILS.PART_NUM' | translate}}</div>
                                        </th>
                                        <th>
                                            <div class="inline-style">{{'ORDERDETAILS.DESC' | translate}}</div>
                                        </th>
                                        <th>
                                            <div class="inline-style text-right">{{'ORDERDETAILS.QTY_ORDERED' | translate}}</div>
                                        </th>
                                        <th>
                                            <div class="inline-style text-right">{{'ORDERDETAILS.QTY_SHIPPED' | translate}}</div>
                                        </th>
                                        <th>
                                            <div class="inline-style text-right">{{'ORDERDETAILS.UNITPRICE' | translate}}<br /> ({{'CURRENCY' | translate}})</div>
                                        </th>
                                        <th>
                                            <div class="inline-style text-right">{{'ORDERDETAILS.EXT_PRICE' | translate}}<br /> ({{'CURRENCY' | translate}})</div>
                                        </th>
                                        <th>
                                            <div class="inline-style text-right">{{'ORDERDETAILS.WEIGHT' | translate}}<br /> ({{'ORDERDETAILS.UOM' | translate}})</div>
                                        </th>
                                        <th>
                                            <div class="inline-style">{{'ORDERDETAILS.STATUS' | translate}}</div>
                                        </th>
                                    </tr>
                                </thead>
                                <tfoot>
                                    <tr class="tr-total">
                                        <td colspan="5" class="total-txt">{{'ORDERDETAILS.TOTAL' | translate}}</td>
                                        <td class="text-right">{{orderdetail.orderTotal.totalqtyordered}}</td>
                                        <td class="text-right">{{orderdetail.orderTotal.totalqtyshipped}}</td>
                                        <td class="text-right">
                                            <!-- <span ng-show="orderdetail.userPermissionsList.CheckPrice">
                                                {{orderdetail.orderTotal.total | currency:""}}
                                            </span> -->
                                        </td>
                                        <!--<td></td>-->
                                        <td class="text-right">
                                            <span ng-show="orderdetail.userPermissionsList.CheckPrice">
                                                {{orderdetail.orderTotal.net | currency:""}}
                                            </span>
                                        </td>
                                        <td class="text-right">{{orderdetail.orderTotal.totalWeight | number : 0}}</td>
                                        <td></td>
                                    </tr>
                                </tfoot>

                                <tbody>
                                    <tr ng-repeat="obj in orderdetail.orderData.orderDtls">
                                        <td>
                                            <a href="" ng-click="orderdetail.viewInvoice(obj.invoiceNo)">{{obj.invoiceNo}}</a>
                                        </td>
                                        <td class="text-right">{{obj.invoiceDate}}</td>
                                        <td> {{orderdetail.orderData.orderSummary.poNumber}}</td>
                                        <td>{{obj.partNo}}</td>
                                        <td>{{obj.partName}}</td>
                                        <td class="text-right">{{obj.qtyReq}}</td>
                                        <td class="text-right">{{obj.qtyShipped}}</td>
                                        <td class="text-right">
                                            <span ng-show="orderdetail.userPermissionsList.CheckPrice">
                                                {{obj.unitPrice | currency:""}}
                                            </span>
                                        </td>
                                        <td class="text-right">
                                            <span ng-show="orderdetail.userPermissionsList.CheckPrice">
                                            {{obj.extendedPrice | currency:""}}
                                            </span>
                                        </td>
                                        <td class="text-right">{{obj.unitWeight | number :0}}</td>
                                        <td>{{obj.nextStatusDescr}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>