<!--Author : Rohit Rane-->
<article class="parent-article" >
  <header ui-view="header">
    <page-header></page-header>
  </header>
  <div id="main-content" class="container-fluid content" ui-view>
  	
  </div>
   <loading-directive></loading-directive>
  <div id="overlay" data-ng-show="main.putOverlay" data-ng-click-"main.clearOpaqueOverlay()"></div>
  <page-footer></page-footer>
  <!-- <footer ng-include="app/components/footer/footer.html"></footer> -->
</article>
<!--<p data-ng-show="!main.landscape" style="font-size:100px;">This application is best seen in landscape mode with above 1024 pixels resolution</p>
-->