/*Author : Rohit Rane*/
/***************************************************************
* Proprietary & Confidential  |  © 2016 PhaseZero Ventures LLC 
* 
* This file is part of Tire Advisor project
* 
* This file cannot be copied and/or distributed without 
* the express permission of PhaseZero Ventures LLC
***************************************************************/

// global sass variables

$fa-font-path: "../../bower_components/components-font-awesome/fonts";

/*Import all the skin scss files here*/


//@import "../../src/assets/skins/dana/dana-skin";
//@import "../../src/assets/skins/meritor/merritor-dummy-skin";


/*Mixins*/
@import "./mixin";

//extendable classes defined here 
 article.parent-article{
   //background-color: #eff0f1;
 }

.title{
    font-size:18px;
    font-weight: 500;
    color: $accent_color
}

.regular-text{
    font-weight: 400px;
    color: $color_extreme_one
}

.sub-title{
    @extend .regular-text;
    font-size: 13px;   
   
}

.tiny-text{
    font-size: 9px;
    line-height: 1
}


//@import url(https://fonts.googleapis.com/css?family=Open+Sans);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,500,600,700,300);

body{
    @extend .regular-text;
    font-family: $app_font_family;
    font-weight: 400;
    font-size: 12px;
    overflow-x:hidden;
}

.content{
  //background-color: $support_color_light_one;
  >*{
    padding-top: 140px;
    //max-width: 1280px;
    margin: auto;
    max-width:1440px;
    min-height: 543px;
    // min-width:1024px;
  }

  // @media(max-width: 1440px) {
  //   left:205px;
  //   right:205px;  
  //   max-width:1024px;            
  // }
 .home{
    img{
        width: 100%;
    }
}
  
}
 #overlay{
    position: absolute;
    width: 100%; 
    height: 100%;
    top:0; left:0;
    background:rgba(0,0,0,0.6);
    opacity: 1;
    transition: all 1s;
    -webkit-transition: all 1s;
  }

.btn, input[type=text] {
  border-radius: 0px; 
}

.dummy-class{
    background-color: black;
}

html{
  -ms-overflow-y: scrollbar;
}
@-ms-viewport {
  width: device-width;  
}
@media (min-width: 992px) {
  @-ms-viewport {
    width: auto !important;
  }
}
.caret{
  border-top: 4px solid !important;
}
.interchange-supersession {
    margin-left:-28px;
    margin-top: -5px;
    margin-bottom: 10px;
  .interchange-badge{
    float: left;
    width: auto;
    background: $support_color_dark_heading;
    height: 20px;
    display:table;
    position: relative;
    //margin: -5px 0px 5px 0px;
    span{
        color: white;
        font-weight: normal;
        font-size: 14px;
        display:table-cell;
        vertical-align:middle;
        text-align: left;
        margin-left: 5px;
        padding-left: 10px;
        padding-right: 20px;
    }
    &:after{
      content: "";
      position: absolute;
      right: 0;
      bottom: 0;
      width: 0;
      height: 0;
      border-right: 10px solid white;
      border-top: 10px solid transparent;
      border-bottom: 10px solid transparent;
    }    
}
.superseded-badge{
    width: auto;
    float: left;
}
.superseded-partnumber {
    float: left;
    font-weight: 600;
    color: #0093C6;
    margin-left: 10px;
    font-size: 14px;
}
}

// fix for PZVAF-669
// input[type=number]::-webkit-inner-spin-button, 
// input[type=number]::-webkit-outer-spin-button { 
//   -webkit-appearance: none; 
//   margin: 0; 
// }
// .number-container{
//     position: relative;
//     display: inline-block;
//     input{
//         padding-right: 12px;
//         color: #323232;
//     }
//     .caret-wrapper{
//         position: absolute;
//         right: 3px;
//         top: 0;
//         .glyphicon{
//             font-size: 8px;
//             cursor: pointer;
//             display: block;
//             color: #acacac;
//             padding: 2px;
//             &:hover{
//                 color: #323232;
//             }
//         }
//         .glyphicon-triangle-top{
//             top: 3px;
//         }
//         .glyphicon-triangle-bottom{
//             top: 3px;;
//         }
//     }
// }


/*.ic-badge{
  width: 100px;
}*/