/***************************************************************
* Proprietary & Confidential  |  © 2016 PhaseZero Ventures LLC 
* 
* This file is part of Tire Advisor project
* 
* This file cannot be copied and/or distributed without 
* the express permission of PhaseZero Ventures LLC
***************************************************************/



#shareOrderlistPopup {
    .modal-header {
        padding: 15px 15px 5px;
        border-top-left-radius: 3px;
        border-top-right-radius: 3px;
        border-bottom: 1px solid $support_color_border;
        
        h4 {
            margin-top: 2px;
            margin-bottom: 4px;
            font-size: 16px;
            font-weight: 600;
        }
    }
    .bg-success {
            background-color: $support_color_bg_success;
        }
    .modal-body {
        padding-top: 10px;
        padding-bottom: 20px;
        form{
            .form-control{
                border-radius: 0px;
            }
            textarea{
                resize: none;
            }
            .madatoryStar{
                color:red;
                font-size: 12px;
            }
            input[type="checkbox"]{
              width: 30px; /*Desired width*/
              height: 30px; /*Desired height*/
            }

            .has-error input {
              background: red;
            }
        }
        
    }
    .modal-footer {
        border-bottom-left-radius: 3px !important;
        border-bottom-right-radius: 3px !important;
        div.getURL{
            text-align: left;
            padding-left: 5px;
            span{
                padding-right: 5px;
                .glyphicon-paperclip{
                    font-size: 14px;
                    font-weight: 600;
                }
            }
            a{
                font-size: 14px;
                font-weight: 600; 
                color:$support_color_primary;
                &:hover,
                &:active,
                &:focus{
                    text-decoration: none;
                    color:$support_color_primary;
                }
            }
        }
    }
    .btn {
        color: white;
        font-size: 12px;
    }
    .btn-primary {
        border-radius: 0;
        background-color: $support_color_primary;
        border-color: transparent;
        color: white;
        padding:8px 40px;
        &:hover {
            border-color: transparent;
        }
        &:active,
        &:focus {
            outline: none;
            box-shadow: none;
            outline-offset: none;
        }
    }
}

.my-modal-popup {
    @media (min-width: 1024px) {
        .modal-dialog {
            margin-top: 5%;
        }
    }
}


