<div id="shareOrderlistPopup" class="modal-wrapper">
    <div class="modal-header bg-success">
     <button type="button" class="close" ng-click="shareList.cancel()" data-dismiss="modal">&times;</button>
        <div class="row">
            <div class="col-sm-9">
                <h4>{{'SHAREORDERLIST.ORDERLISTHASH' | translate}}{{OrderId.orderId}}</h4>
                <p>{{shareList.date | date:'yyyy-MM-dd @ h:mma'}}</p>
            </div>
            <div class="col-sm-3">
                <!--   <div class="pull-right">
                    <h4>03</h4>
                    <p>parts</p>
                </div> -->
            </div>
        </div>
    </div>
    <div class="modal-body">
        <h5 class="text-center">{{'SHAREORDERLIST.SHAREDMSG' | translate}} </h5>
        <form class="form-horizontal" name="shareOrderlistForm" novalidate>
            <h4>{{'SHAREORDERLIST.FROM' | translate}}</h4>
            <div class="form-group">
                <div class="col-md-6">
                    <label class="sr-only">{{'SHAREORDERLIST.FNAME' | translate}} </label><span class="madatoryStar">{{'SHAREORDERLIST.MANDATORY' | translate}}</span>
                    <input type="text" nospecialchar-directive name="fName" required data-ng-model="fName" class="form-control" placeholder="{{'SHAREORDERLIST.FIRTNAMEPLACEHDR' | translate}}" >
                     
                    <span style="color:red" ng-show="shareOrderlistForm.fName.$touched && shareOrderlistForm.fName.$invalid">
                        <span ng-show="shareOrderlistForm.fName.$error.required">{{'SHAREORDERLIST.FNAMEMSG' | translate}}</span>
                    </span>
                </div>
                <div class="col-md-6">
                    <label class="sr-only">{{'SHAREORDERLIST.LNAME' | translate}}</label><span class="madatoryStar">{{'SHAREORDERLIST.MANDATORY' | translate}}</span>
                    <input nospecialchar-directive type="text" data-ng-model="lName" name="lName" class="form-control" placeholder="{{'SHAREORDERLIST.LASTNAMEPLACEHDR' | translate}}" required>
                     <span style="color:red" ng-show="shareOrderlistForm.lName.$touched && shareOrderlistForm.lName.$invalid">
                        <span ng-show="shareOrderlistForm.lName.$error.required">{{'SHAREORDERLIST.LNAMEMSG' | translate}} </span>
                    </span>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-12">
                    <label class="sr-only">{{'SHAREORDERLIST.FEMAIL' | translate}} </label><span class="madatoryStar">{{'SHAREORDERLIST.MANDATORY' | translate}}</span>
                    <input type="email" data-ng-model="fEmail" name="fEmail" class="form-control" placeholder="{{'SHAREORDERLIST.YOUREMAILPLACEHDR' | translate}}" required>
                      <span style="color:red" ng-show="
                      shareOrderlistForm.fEmail.$touched && shareOrderlistForm.fEmail.$invalid">
                        <span ng-show="shareOrderlistForm.fEmail.$error.required">{{'SHAREORDERLIST.REQUIREEMAILMSG' | translate}} </span>
                        <span ng-show="shareOrderlistForm.fEmail.$error.email">{{'SHAREORDERLIST.ERROREMAILMSG' | translate}}</span>
                    </span>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-12">
                    <label class="sr-only">{{'SHAREORDERLIST.PHONENO' | translate}}</label>
                    <input validtelephone-directive type="tel" class="form-control" placeholder="{{'SHAREORDERLIST.PHONENOPLACEHDR' | translate}}"  data-ng-model="phoneNumber" >
                </div>
            </div>
            <h4>{{'SHAREORDERLIST.TO' | translate}}</h4>

            <!--
            <div class="form-group">
                <div class="col-md-12">
                    <label class="sr-only">Email ID's</label><span class="madatoryStar">*</span>
                    <input type="email" multiple data-ng-model="shareList.tEmail" name="tEmail" class="form-control" placeholder="To Email ID's" required>
                   <span style="color:red" ng-show="shareOrderlistForm.tEmail.$touched && shareOrderlistForm.tEmail.$invalid">
                    <input type="tel" class="form-control" placeholder="Your Phone Number">
                </div>
            </div>
            <h4>To:</h4>
            <div class="form-group">
                <div class="col-md-12">
                    <label class="sr-only">Email ID's</label><span class="madatoryStar">*</span>
                    <input type="email" data-ng-model="shareList.tEmail" name="tEmail" class="form-control" placeholder="To Email ID's" required>
                    <span ng-show="shareOrderlistForm.tEmail.$dirty && shareOrderlistForm.tEmail.$invalid">

-->
            <div class="form-group">
                <div class="col-md-12">
                <span class="madatoryStar">{{'SHAREORDERLIST.MANDATORY' | translate}}</span>
                <textarea multipleemails-directive class="form-control" placeholder="{{'SHAREORDERLIST.TOEMAILPLACEHDR' | translate}}" name="tEmail" ng-model="emails" multipleemails-directive required spellcheck=false></textarea>
                <span class="has-error"  ng-show="shareOrderlistForm.tEmail.$touched">
                    <span style="color:red" ng-show="shareOrderlistForm.tEmail.$error.required && shareOrderlistForm.tEmail.$touched">{{'SHAREORDERLIST.REQUIREEMAILMSG' | translate}} </span>
                    <span style="color:red" ng-show="shareOrderlistForm.tEmail.$invalid && shareOrderlistForm.tEmail.$dirty">{{'SHAREORDERLIST.ERROREMAILMSG' | translate}} </span>
                </span>
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-12">
                    <textarea class="form-control" placeholder="{{'SHAREORDERLIST.TEXTAREAPLACEHDR' | translate}}" data-ng-model="descText" rows="3">{{'SHAREORDERLIST.TEXTAREA' | translate}}
                    </textarea>
                </div>
            </div>

              <div class="form-group">
             <div class="col-md-12">
                    <input style="width:15px;height:15px;float:left;"  ng-checked="callback" type="checkbox" multiple="" data-ng-model="callback" name="callback" class="form-control ng-pristine ng-valid ng-touched" placeholder="To Email ID's">
                    <label style="font-size:13px;margin-top:2px; margin-left:3px;">{{'SHAREORDERLIST.CALLBACK' | translate}}
                </label>
                   </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <div class="row">
            <div class="col-md-6">
               <!-- <div class="getURL">
                    <h6><span class="glyphicon glyphicon-paperclip"></span><a data-ng-click="shareList.shareOrderList()" href="#">Get URL</a></h6>
                </div>-->
            </div>
            <div class="col-md-6">
                <button class="btn btn-primary" type="submit" ng-click="shareList.shareOrderList(true)" 
                    ng-disabled="shareOrderlistForm.$invalid">{{'SHAREORDERLIST.SHAREORDERLIST' | translate}}</button>
            </div>
        </div>
    </div>
</div>
