.confirm-delete-modal {
    .modal-content {
        border-radius: 0px;
        .modal-header {
            h2 {
                margin: 0px;
                padding: 0px;
                float: left;
                font-size: 16px;
            }
            img {
                float: right;
                width: 16px;
            }
        }

        .modal-body {
            p {
                text-align: center;
            }
        }
    }
}