<div id="confirmdelete">
    <div class="modal-header">
        <h2>{{ 'MYLIST.CONFIRMATION' | translate}}</h2>
        <a href="#" ng-click="cfdc.close()"><img src="assets/images/close-icon.png"/></a>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-md-1">
                
            </div>
            <div class="col-md-10">
                <p>{{ 'MYLIST.DELETE_CONFIRMATION' | translate}} "{{cfdc.listData.partName}}" {{ 'MYLIST.FROM' | translate}} {{cfdc.listName}}?</p>
            </div>
            <div class="col-md-1">
            </div>
        </div>
        <div class="row">
            <div class="col-md-2">
            </div>
            <div class="col-md-4">
                <button class="btn btn-primary btn-block" type="button" ng-click="cfdc.delete()">{{ 'MYLIST.DELETE' | translate}}</button>
            </div>
            <div class="col-md-4">
                <button class="btn btn-default btn-block" type="button" ng-click="cfdc.close()">{{ 'MYLIST.CANCEL' | translate}}</button>
            </div>
            <div class="col-md-2">
            </div>
        </div>
    </div>
</div>