<label class="instructions" ng-show="(avail.userType =='RTB' || avail.userType =='NON-RTB')" data-ng-hide="!avail.userPermissionsList.StockOrder && avail.orderType == 'STK'">{{'PRICINGANDAVAILABILITY.INSTRUCTIONRTB' | translate}}</label>
<div class="panel panel-default paSection" ng-show="avail.userType =='RTB' || avail.userType =='NON-RTB'">
  <form name="orderSelection" novalidate>
          
          <div class="panel-body paSectionBody" >
              <div class="row">
                 <div class="col-md-12 orderTypeSection borderBottom" ng-show="avail.orderTypeStyle =='radio'">
                    <div class="order-type-col{{key + 1}}" ng-repeat="(key, value) in avail.orderSettings ">
                      <input type="radio" ng-model="avail.orderType" value="{{value.ordertype}}" name="ordertype" id="radio{{key + 1}}" ng-change="avail.setOrderType(value.ordertype, value.label)">
                      <label class="orderType" value="" for="radio{{key + 1}}"></label>
                      <div class="orderTypeContent">
                          <h3>{{ value.label | translate}}</h3> 
                          <p>{{ value.description | translate}}</P>
                      </div>
                    </div>
                </div>
                <div class="col-md-12 orderTypeSection borderBottom" ng-show="avail.orderTypeStyle =='dropdown'">
                      <div class="form-group btn-group ordertype-selector" uib-dropdown>
                          <span class="ordertype-label">{{'PRICINGANDAVAILABILITY.ORDERTYPE' | translate}}</span>
                        <button type="button" class="btn button-ordertype-selector " uib-dropdown-toggle >
                        <p class="ordertype_head">{{avail.orderLabel}} <span class="caret"></span></p>
                        </button>
                        <ul uib-dropdown-menu role="menu">
                         <li class="ordertype-list" role="menuitem" ng-repeat="(key, value) in avail.orderSettings" ng-click="avail.setOrderType(value.ordertype, value.label)" >{{ value.label | translate}}</li>
                        </ul>
                    </div>

                </div>
                
              </div>
              <div class="row checkAvlSection">
<div class="row qty-check-block">
     <div class="col-md-4 padding-zero desire-qty" data-ng-if="!(!avail.userPermissionsList.StockOrder && avail.orderType == 'STK')">
         <div class="row">
            <div class="qty-lbl">
                {{'PRICINGANDAVAILABILITY.DESIREDQTY' | translate}}
            </div>
         </div>
         <div class="row data-row">
            <div class="qty-val col-md-6 padding-zero" >
                <span class="number-container">
                    <input required no-spl-char key-enter="avail.showAvailScreen()" ng-disabled="!avail.orderType"
                    nonegative-directive no-spl-char type="number" ng-model="avail.qtyReqd" name="qtyReqd" id="input_qty_field" 
                    uib-tooltip="{{'TOOLTIP.PLEASEVERFYPARTQTY' | translate}}" tooltip-is-open="avail.qtyReqd > 9999"  tooltip-enable="avail.qtyReqd > 9999 && !avail.isQtyNtMultplOfPkQty" ng-change = "avail.checkCartQtyVal('input_qty_field')" data-ng-class="{'qty_invalid': avail.isQtyNtMultplOfPkQty || orderSelection.qtyReqd.$error.positive}" ng-blur="avail.makeQtyPositive(orderSelection.qtyReqd.$error.positive, 'input_qty_field')" tooltip-placement="top" min="{{avail.minQty}}" step="{{avail.packQty}}">
                </span>
            </div>
            <div class="uom col-md-3">
                {{'PRICINGANDAVAILABILITY.UNITOFMEASUREMENT' | translate}}:<br />
                <strong>{{'PRICINGANDAVAILABILITY.EACH' | translate}}</strong>
            </div> 
         </div>
     </div>
     <div class="col-md-8 padding-zero price-n-avail-cont" data-ng-if="!avail.userPermissionsList.StockOrder && avail.orderType == 'STK'">
         <div class="row">
            <div class="stk-non-auth">
                <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
                {{'PRICINGANDAVAILABILITY.AUTHORIZATION_REQD_FOR' | translate}} </br> {{'PRICINGANDAVAILABILITY.PLACING_STK_ORDER' | translate}}   
            </div>
         </div>
     </div>
     <div class="check-price-n-avail" data-ng-class="{'col-md-4 stk-non-auth-row': !avail.userPermissionsList.StockOrder && avail.orderType == 'STK','col-md-8': !(!avail.userPermissionsList.StockOrder && avail.orderType == 'STK')}">
          <div class="row" data-ng-if="!(!avail.userPermissionsList.StockOrder && avail.orderType == 'STK')">
            <div class="qty-lbl" ng-if="avail.orderType === 'STK'">
                <a ng-disabled="orderSelection.qtyReqd.$invalid" data-qtyReqd="{{avail.qtyReqd}}" ng-click="avail.showAvailScreen(this)">
                {{'PRICINGANDAVAILABILITY.CHECKAVAILABILITY_S' | translate}} 
                </a>
            </div>
         </div>
         <div class="row data-row" ng-if="avail.orderType === 'EMG'">
            <button class="btn btn-primary avil-checkbtn pull-right" type="button" ng-disabled="orderSelection.qtyReqd.$invalid || avail.isQtyNtMultplOfPkQty" data-qtyReqd="{{avail.qtyReqd}}" ng-click="avail.showAvailScreen(this)">
                {{'PRICINGANDAVAILABILITY.CHECKAVAILABILITY' | translate}} 
            </button>
         </div>
         <div class="row data-row" ng-if="avail.orderType === 'STK'">
             <div class="col-md-6 padding-zero add-to-cart" data-ng-if="!(!avail.userPermissionsList.StockOrder && avail.orderType == 'STK') && avail.userPermissionsList.AddCart">
                <button class="btn btn-block btn-primary add-to-cart" ng-disabled="orderSelection.qtyReqd.$invalid || avail.isRTBUser == false || avail.isQtyNtMultplOfPkQty" ng-click="avail.addToCart()"  type="button">
                   {{'PRICINGANDAVAILABILITY.ADDTOCART' | translate}}
                </button>
             </div>
             <div class="col-md-6 padding-zero listContainer" data-ng-class="{'col-md-12': !avail.userPermissionsList.StockOrder && avail.orderType == 'STK'}">
                 <div  uib-dropdown>
                            <button uib-dropdown-toggle class="btn btn-primary add-to-list pull-right" data-ng-if="avail.userPermissionsList.CreateOrderlist" type="button" data-qtyReqd="1" ng-click="avail.showList(this)">
                                {{'PRICINGANDAVAILABILITY.ADDTOLIST' | translate}}
                            </button>
                                <div class="pulldown-mylists dropdown-menu mylist-dropdown-part-card" uib-dropdown-menu role="menu" 
                            aria-labelledby="mylist-dropdown-part-card" ng-show="avail.shwMyLists">
                                    <div class="select-text"> {{'PRICINGANDAVAILABILITY.SELECT_LIST' | translate}}</div>

                                   <ul>
                                        <li data-ng-repeat="key in avail.lists">
                                            <a ng-click="avail.addToList(key.id, key.cartName)">{{key.cartName}}</a>
                                        </li>
                                        <li class="nodata-msg" ng-if="avail.lists.length === 0">
                                            <i class="fa fa-2x fa-info-circle" aria-hidden="true"></i>
                                            {{'PRICINGANDAVAILABILITY.NO_LIST' | translate}}
                                        </li>
                                    
                                    </ul>
                                    <div class="create-list-div">
                                        <a ng-click="avail.createNewList()"> <i class="fa fa-plus" aria-hidden="true"></i> {{'PRICINGANDAVAILABILITY.CREATE_NEW_LIST' | translate}}</a>
                                    </div>

                                </div>
                    </div>
                  
             </div>

         </div>
     </div>
</div>
                          <div class="row">
                          <div class="error-txt" ng-show="orderSelection.qtyReqd.$error.positive && !avail.isQtyNtMultplOfPkQty">{{'PRICINGANDAVAILABILITY.QTYVALIDATIONMSG' | translate}}</div>
                          </div>
                          <div class="pckg-qty-err" ng-show="avail.packQty > 1">
                              <i class="fa fa-info-circle" aria-hidden="true"></i>{{'PARTCARD.INVALID_PACKAGE_QTY' | translate}}{{avail.packQty}}.</div>
                          </div>
                          <div class="row dispMessage" ng-show="avail.shwMsg" data-ng-class="{'stk-prmsn-err': !avail.userPermissionsList.StockOrder && avail.orderType == 'STK'}">
                            <span class="glyphicon glyphicon-ok"></span>
                            <span>{{avail.msgText}}</span>
                        </div>

              </div>
              <div class="row">
                  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

                  </div>
              </div>
          </div>
        </form>
    </div>


    <div class="row" ng-show="avail.isUserLogged === false">
               <div class="wrapperbox">
                    <h5 class="proceed-head">
                    <i class="fa fa-exclamation-triangle" aria-hidden="true"></i><span>{{'LOGIN.LOGINTOPROCEED' | translate}}</span></h5>
                    <div class="row">
                        <div class="col-md-6 tenant-login-btn">
                            <a href="">
                            <div class="companybtn" ng-click="avail.open('client')">
                                  <h5><i class="fa  fa-user" aria-hidden="true"></i><strong></i>{{'LOGIN.DANACUSTOMER' | translate}}</strong></h5>
                            </div>
                              </a>
                            <p class="text-primary text-right question-cir"><a href="">{{'LOGIN.BECOMEDANACUSTOMER' | translate}}
                              <i class="fa fa-question-circle" aria-hidden="true" title="{{'LOGIN.TOOLTIP1' | translate}}"></i>
                              </a>
                            </p>

                        </div>
                        <div class="col-md-6 user-login-btn">
                          <a href="">
                            <div class="companybtn" ng-click="avail.open('registered')">
                                
                                  <h5><i class="fa fa-user lightcolor" aria-hidden="true"></i><strong></i>{{'LOGIN.REGISTEREDUSER' | translate}}</strong>
                                  </h5>

                            </div>
                            </a>
                             <p class=" text-primary text-right question-cir"><a href="">{{'LOGIN.REGISTERASUSER' | translate}} <i class="fa fa-question-circle" aria-hidden="true" title="{{'LOGIN.TOOLTIP2' | translate}}"></i>
                             </a></p>
                        </div>
                    </div>
                </div>
          </div>

<label class="instructions" ng-show="avail.userType =='pzv'"> {{'LOGIN.QUOTEMSG' | translate}}
    <span style="color:#0093c6;font-weight:600;font-style:italic">{{'LOGIN.REGISTERASDANACUSTOMER' | translate}}</span>
</label>
    <div class="panel panel-default paSection" ng-show="avail.userType =='pzv'">
          <div class="panel-body paSectionBody" >
             
              <div class="row checkAvlSection">
                <div class="col-md-7"><h4>{{'PRICINGANDAVAILABILITY.DESIREDQTY' | translate}}</h4>
                    <span class="number-container">
                        <input required no-spl-char nonegative-directive min="1" no-spl-char type="number" 
                         data-ng-model="avail.partQty" name="qty" >
                    </span>
                  
                </div>
                  <div class="col-md-5" style="margin-top:35px;">
                       
                       <button class="btn btn-primary avil-checkbtn pull-right" ng-class="{true: 'activeButton'}[avail.qty > 0]" ng-click="avail.change()">{{'PART.ADD' | translate}}</button>
                  </div>
              </div>
              
          </div>
    </div>
