
  .availability-container{
      label.instructions{
        font-size: 10px;
        color: #6e6e6e;
        line-height: 1.1;
        font-weight:normal;
        position:relative;
        margin: 0 15px 7px;
      }
      .tenant-login-btn{
          margin-right:-12px;
      }
      .user-login-btn {
          
      }
      .paSection{
          border-radius: $box_border_radius;
      }
  }
  .stk-non-auth{
        position: relative;
        padding-left: 29px;
        line-height: 15px;
        font-size: 11px;
        font-weight: 600;
        color: #404040;
      i.fa-exclamation-triangle{
        position: absolute;
        color: #ff8a00;
        font-size: 16px;
        left: 0;
        top: 9px;
        padding-right: 0;
      }
  }
  .error-txt{
      color: #ff9d02;
      font-weight: 600;
  }
  .pckg-qty-err{
        font-weight: 600;
        color: #414141;
        text-align: left;
        font-size: 11px;
        .fa-info-circle{
            color: #6e6e6e;
            font-size: 13px;
            margin-right: 5px;
        }
    }
  .paSection{
      background-color: #f6f6f6;
      margin:0 auto;
      color:#6e6e6e;
      width:387px;
      height:140px;
      .padding-zero {
          padding:0;
      }

      label.instructions{
        margin-top:-40px;
        font-size:12px;
        font-weight:normal;
        position:relative;
        top:-27px;
      }
      .dispMessage{
            margin-top: 15px;
            padding: 10px;
            border: 1px solid #CCC;
            font-weight: 700;
      }
      .stk-prmsn-err.dispMessage{
          margin-top: 30px;
      }
        .panel-body.paSectionBody{
          padding:16px 0px;
          .row {
              margin-left:0;
              margin-right:0;
          }
          .disabled-section{
            opacity: 0.5;
            pointer-events: none;
          }
        //   .ng-hide{
        //     display: block !important;
        //     visibility: hidden !important;
        //   }
          .up-arrow {
            display: inline-block;
            position: relative;
            color: #FFF;
            text-decoration: none;
            padding: 20px;
            padding-bottom:0px;
            left: 100px;
          }
          .order-type-col1 {
              width:50%;
              float:left;
              padding-left:20px;
          }
          .order-type-col2 {
              width:50%;
              float:left;
              padding-right:20px;
          }
          .up-arrow:after {
            content: '';
            display: block;
            position: absolute;
            left: 20px;
            bottom: 100%;
            width: 0;
            height: 0;
            border-top: 10px solid transparent;
            border-left: 10px solid transparent;
            border-right: 10px solid transparent;
          }

          .borderBottom {
              border-bottom: 1px solid #dbdbdb;
          }
          .orderTypeSection{
              padding-left:0;
              padding-right: 0;
            h3{
              padding:0px;
              margin:0px;
              font-size:14px;
              font-weight:600;
              text-transform:uppercase;
            }

            h3~p{
              padding-top:5px;
              font-size:10px;
            }

            input{
            display:none;
            }
            label{
              width:16px;
              height:16px;
              border-radius:1;
              border: 3px #0093c6 solid;
              display:inline-block;
              line-height:22px;
              text-align:center;
              color:black;
              font-size:40pt;
              cursor:pointer;
              background:white;
              position:relative;
            }
            input:checked + label:before{
             opacity:1;
            }
            label:before{
              position:absolute;
              top: 2px;
              left: 2px;
              height: 6px;
              width: 6px;
              background:#0093c6 ;
              content:'';
              opacity:0;
            }

            .orderType{
              float:left;
            }
            .orderTypeContent{
              height: 55px;
              margin-left: 29px;
              p{
                  line-height: 1em;
              }
            }
            
            .ordertype-selector{
                margin-left:15px;
                .ordertype-label{
                    font-size:14px;
                    font-weight: 400;
                    float:left;
                    padding:5px 10px 0 0;
                }
                .button-ordertype-selector{
                    background-color:#FFFFFF;
                    border: 1px solid #EEEEEE;
                }
                .ordertype_head{
                    margin-bottom: 0;
                }
                .ordertype-list{
                    padding: 0 10px 5px;
                }
            }


          }
          .checkAvlSection{
              h4{
                font-size:14px;
                font-weight:600;
                display:inline-block;
              }
              input[type="number"]{
                width:100px;
                margin-left:20px;

              }
              .avlBtn{
                font-weight:600;
                text-transform: uppercase;
                font-size:12px;

              }

              .avlBtn[disabled] {
               background-color: #ddd;
              }
              table tbody tr td{
                padding: 8px 3px !important;
              }
              .qty-check-block{
                  padding:8px 20px;
                  font-weight: 600;
                  div{
                      //float: left;
                  }
                  .qty-lbl {
                      font-size:11px; 
                      line-height: 1em;
                      margin-right: 5px;
                      font-weight: 700;
                      color:#797979;
                      a{
                          cursor: pointer;
                          color: $active_link_color;
                      }
                  }
                  .data-row{
                      margin-top:10px;
                  }
                  .stk-non-auth-row{
                    .data-row{
                        margin-top: 4px;
                    }  
                  }
                  .qty-val {
                      margin-right: 5px;
                      input {
                          width:62px;
                          height:27px;
                           margin-left:2px;
                          padding:5px;
                          border: 1px solid #ccc;
                          border-radius: 3px;
                      }
                      input.qty_invalid{
                          border-color: #ff9d02;
                          outline: none;
                          border-width: 2px;
                      }
                      .tooltip.top {
                          width: 200px;
                      }
                  }
                  .uom {
                      font-size:10px;
                      font-weight: normal;
                      
                      strong {
                          font-size:12px;
                      }
                  }
              }
              .check-btn{
                  padding-top:8px;
                  padding-right: 12px;
              }
          }
        }
        .companybtn {
          padding: 10px 20px;
          border: 1px solid #e9e9e9;
          border-radius: $box_border_radius;
}
.listContainer{
    position: relative;
    .dropdown-menu.mylist-dropdown-part-card{
        left: -75px;
    }
    .pulldown-mylists{
        position: absolute;
        top:32px;
        right: 0;
        background-color: #FFF;
        border: 1px solid #707070;
        width:180px;
        z-index:1000;
        font-size: 13px;
        font-weight: 600;
        border-radius:3px;
        -webkit-box-shadow: 3px 4px 11px -1px rgba(0,0,0,0.34);
        -moz-box-shadow: 3px 4px 11px -1px rgba(0,0,0,0.34);
        box-shadow: 3px 4px 11px -1px rgba(0,0,0,0.34);
        ul {
            list-style-type: none;
            padding:0;
            max-height:138px;
            overflow-y: auto;
            margin-bottom: 0;
        }
        
        li {
            padding:5px 10px;
            text-align:left;
            a{
                color:#000000;
            }
            
        }
            li:hover {
                background-color: #EEEEEE;
            }
        .hrLine{
            padding:0;
            margin-bottom: 10px;
        }
        .create-lbl{
            padding:0 0 10px 10px;
        }
        .select-text{
            padding-bottom: 5px;
            border-bottom: 1px solid #acacac;
            text-align: left;
            font-size: 11px;
            font-weight: 600;
            margin: 0 10px;
            padding-top: 5px;
        }
        .nodata-msg{
            font-size:13px;
            color:#acacac; 
        }
        .fa-info-circle{
            color: #6e6e6e;
            font-size: 18px;
            margin: 10px 3px;
        }
        .create-list-div{
            border-top: 1px solid #acacac;
            margin: 0 10px;
            text-align: left;
            padding-top: 8px;
            a{
                font-weight: 600;
                text-decoration: none;
                color: $active_link_color;
            }
            .fa-plus{
                font-size:12px;
            }
        }
        a:hover{
            cursor: pointer;
        }
    }
    .pulldown-mylists:after{
            display: inline-block;
        border-right: 6px solid transparent;
        border-bottom: 6px solid #ffffff;
        border-left: 6px solid transparent;
        content: '';
    }
    .pulldown-mylists:before{
        top: -7px;
        right: 18px;
        position: absolute;
        display: inline-block;
        border-right: 7px solid transparent;
        border-bottom: 7px solid #707070;
        border-left: 7px solid transparent;
        border-bottom-color: #707070;
        content: '';
    }
}
.avil-checkbtn{
    width: 200px;
    height: 30px;
    font-size: 12px;
    font-weight: 600;
    border-radius: 3px;
    padding: 0 16px;
    margin-top: 0px;
    background-color: #0096c9;
    border-color: #0096c9;
}
.add-to-cart{
    height:25px;
    font-size: 11px;
    font-weight: 600;
    border-radius: $box_border_radius;
    padding: 0;
    background-color: #0096c9;
    border-color:#0096c9;
}
.add-to-list{
    height:25px;
    font-size: 11px;
    font-weight: 600;
    border-radius: $box_border_radius;
    padding: 0 15px;
    color:#797979;
    background-color: #FFFFFF;
    border-color:#797979;
}
.wrapperbox {
    background-color: white;
    padding: 0px 20px 10px 20px;
}
.fa-exclamation-triangle {
    color: #b4b4b4;
    padding-right: 10px;
    font-size: 18px;
}
.fa-user {
    color: #0093c6;
    font-size: 25px;
    padding-right: 10px;
}
.fa-question-circle {
    color: gray;
}
.lightcolor {
    color: #d7e9f8;
}
.question-cir {
    padding-top: 10px;
    font-size: 12px;
    font-weight: 600;
    margin-right: 2px;
}
.proceed-head {
    color: #555;
    padding-bottom: 10px;
    padding-left:5px;
    span {
        padding-top: 10px;
    }
}
a {
    text-decoration: none;
}
table{
  tbody{
    tr{
      background-color: transparent !important;
      td{
        border-top:none !important;
        line-height: 1.3em !important;
        padding: 5px !important;
      }
    }
  }
}
button:disabled {
    background-color:#d2cfcf;
    color:black;
    border:0.5px solid #d2cfcf;
}



  }
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (orientation: landscape) 
  and (-webkit-min-device-pixel-ratio: 1),
screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (orientation: landscape) 
  and (-webkit-min-device-pixel-ratio: 1),
screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (orientation: landscape) 
  and (-webkit-min-device-pixel-ratio: 2){
      .pckg-qty-err{
          padding-left: 20px;
          padding-right: 10px;
      }
  }
