/***************************************************************
* Proprietary & Confidential  |  © 2016 PhaseZero Ventures LLC 
* 
* This file is part of Tire Advisor project
* 
* This file cannot be copied and/or distributed without 
* the express permission of PhaseZero Ventures LLC
***************************************************************/

.myrfq-wrap {
    margin: 0px -10px !important;
    background: #f4f4f4;
    height: auto !important;
    min-height: auto !important;
    padding-bottom: 20px;
    .myrfq-bread-crumb {
        width: 100%;
        background: #fff;
        margin: 0px;
        padding: 10px 0px;
        -webkit-box-shadow: #ccc 0px 0px 5px;
        -moz-box-shadow: #ccc 0px 0px 5px;
        -o-box-shadow: #ccc 0px 0px 5px;
        box-shadow: #ccc 0px 0px 5px;
        ul {
            margin: 0px;
            padding: 0px 30px;
            height: 15px;
            li {
                list-style: none;
                margin: 0px;
                margin-right: 10px;
                padding: 0px;
                float: left;
            }
        }
    }
    .myrfq-title {
        width: calc(100% - 60px);
        margin: 0px 30px;
        float: left;
        h1 {
            margin-top: 25px;
            margin-bottom: 20px;
            color: #9b9b9b;
            font-size: 30px;
            float: left;
            font-weight: 300;
        }
        ul {
            margin-top: 30px;
            float: right;
        }
    }
    .myrfq-container {
        margin: 20px 30px 0px 30px;
        width: calc(100% - 60px);
        .myrfq {
            margin: 20px 0px;
            .empty-table-msg {
                width: 100%;
                height: 300px;
                label {
                    width: 100%;
                    text-align: center;
                    font-size: 18px;
                    float: left;
                    font-weight: 400;
                    color: #666666;
                    padding-top: 120px;
                }
            }
            .ng-isolate-scope {
                ul.nav {
                    border: none;
                    li {
                        margin-right: 10px;
                        a {
                            border: none;
                            font-size: 14px;
                            font-weight: bold;
                            // padding: 15px 48px;
                            padding:9px 40px;
                            background: #0093c6;
                            color: #fff;
                            -webkit-box-shadow: 3px -1px 3px rgba(0, 0, 0, 0.07);
                            -moz-box-shadow: 3px -1px 3px rgba(0, 0, 0, 0.07);
                            -o-box-shadow: 3px -1px 3px rgba(0, 0, 0, 0.07);
                            box-shadow: 3px -1px 3px rgba(0, 0, 0, 0.07);
                        }
                    }
                    .active {
                        a {
                            background: #fff;
                            color: $active_link_color;
                            // padding: 16px 48px;
                            padding:10px 40px;
                        }
                    }
                }
            }
            .tab-content {
                padding: 20px;
                border-top: none;
                background: #fff;
                border-radius: 0px 3px 3px 3px;
                .pagination {
                    margin: 0px 0px 20px 0px;
                    li.active {
                        a {
                            background: #0093c6;
                        }
                    }
                }
                p.myrfqp {
                    display: table;
                    font-weight: 400;
                    color: #7f7f7f;
                    font-size: 11px;
                    span {
                        display: table-cell;
                        font-size: 12px;
                        color: #333;
                        font-weight: 600;
                    }
                }
                .fa-question-circle {
                    color: #ff9d02;
                    font-size: 16px;
                    top: 10px;
                    position: relative;
                }
                .paraquestion {
                    padding-left: 10px;
                    margin-left: 10px;
                    font-size: 11px;
                    font-weight: 600;
                    color: #8b8b8b;
                    line-height: 14px;
                }
                .myrfq-open {
                    border-color: #f1f1f1;
                    thead {
                        // background: #fbfbfb;
                        background-color: #fff;
                        tr {
                            th {
                                border-color: #f1f1f1;
                                vertical-align: top;
                                &:first-child {
                                    border-left: 0px #ccc solid;
                                }
                                &:last-child {
                                    border-right: 0px #ccc solid;
                                }
                                label{
                                    font-size: 11;
                                    font-weight: 600;
                                    color: #acacac;
                                    // font-size: 14px;
                                    // color:#323232;
                                    // font-weight: 700;
                                }
                                .fa-sort{
                                    font-size: 14px;
                                    color:#6c6c6c;
                                    margin-left: 5px;
                                }
                                /*.fa-search{
                                    color:#acacac;
                                }
                                input[type="text"]{
                                    // border-radius: 3px;
                                    border:1px solid #d7d7d7;
                                    box-shadow: none;
                                }
                                input[placeholder]{
                                     font-size: 12px;
                                     font-weight: 400;

                                }
                                .input-group-btn{
                                    background-color: transparent;
                                }*/

                                .rfq-table-search {
                                    .input-group {
                                        background: #fff;
                                        border: #ccc solid 1px;
                                        border-radius: 3px;
                                        input {
                                            border: none;
                                            box-shadow: none;
                                            background:transparent;

                                        }
                                        input[placeholder]{
                                            font-size: 12px;
                                            font-weight: 400;
                                        }
                                        
                                        span {
                                            button {
                                                background: transparent;
                                                i {
                                                    color: #ccc;
                                                }
                                            }
                                        }
                                        .fa-search{
                                            color:#acacac;
                                        }
                                    }
                                }
                            }
                        }
                    }
                    tbody {
                        tr {
                            td {
                                border-color: #f1f1f1;
                                height:52px;
                                vertical-align: middle;
                                .btn-primary {
                                    background: $btn_primary_bgcolor;
                                    border: none;
                                    border-radius: 3px;
                                    margin-left: 10px;
                                    padding: 3px 7px;
                                    color:#fff;
                                    font-size: 10px;
                                    font-weight: 600;
                                }
                                &:nth-child(6) {
                                    text-align: center;
                                    .btn-primary {
                                        margin: 0px;
                                        width:101px;
                                    }
                                }
                                &:nth-child(7) {
                                    text-align: center;
                                }
                                .reminder-sent {
                                    padding-left: 30px;
                                    padding-top: 5px;
                                    padding-bottom: 5px;
                                    i {
                                        float: left;
                                        color: #2ea03e;
                                        margin: 3px;
                                        margin-right: 10px;
                                    }
                                    span {
                                        float: left;
                                    }
                                }
                            }
                            .rfq-detail-cancel {
                                a {
                                    font-weight: 700;
                                    font-size: 10px;
                                    color: $active_link_color;
                                    width: 70%;
                                    float: left;
                                    i {
                                        margin-right: 5px;
                                    }
                                }
                                 p {
                                        width: 70%;
                                        float: left;
                                        font-size: 14px;
                                        font-weight: 600;
                                        color: #323232;
                                        margin: 0px;
                                    }
                                    a {
                                        margin: 0px;
                                        padding: 0px;
                                    }
                            }
                        }
                    }
                }
            }
        }
    }
    .table{
         margin-top:10px;
    }
    .table-bordered {
        border:1px solid #f1f1f1;
    }
    .table-bordered > thead > tr > th, .table-bordered > tbody > tr > td{
         border:1px solid #f1f1f1;
    }
    .table-bordered > thead > tr > th{
        // background-color: #ffff;
        color: #acacac;
        font-size: 11px;
        // border-right: 1px solid #f1f1f1;
        border-bottom: none;
    }
    .texttdfirst{
        font-size: 12px;
        font-weight: 400;
        color:#323232;
    }
    .texttdsecond{
        font-size: 12px;
        font-weight: 600;
        color:#323232;
    }
    .texttdid{
        font-size: 14px;
        color: #323232;
        font-weight: 700;
    }
    
    
}
/* Landscape mini, ipad 1&2, ipad 3&4*/
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (orientation: landscape) 
  and (-webkit-min-device-pixel-ratio: 1),
screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (orientation: landscape) 
  and (-webkit-min-device-pixel-ratio: 1),
screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (orientation: landscape) 
  and (-webkit-min-device-pixel-ratio: 2){
    .myrfq-wrap {
        .myrfq-container{ 
            .myrfq{ 
                .tab-content{ 
                    .myrfq-open {
                        .reminder-sent{
                            display: table;
                            i{
                                display: table-cell;
                                margin: 3px 3px 3px 0px !important;
                            }
                            span{
                                display: table-cell;
                            }
                        }
                    }
                }
            }
        }
    }
}