<!--<div class="myrfq-wrap">
    <div class="myrfq-bread-crumb">
        <ul>
            <li><a href="/">{{'BREADCRUMB.HOME' | translate}}</a></li>
            <li>></li>
            <li>{{'HEADER.MENUS.PROFILE.MYRFQ' | translate}}</li>
        </ul>
    </div>
    <div class="myrfq-title">
        <h1>{{'HEADER.MENUS.PROFILE.MYRFQ' | translate}}</h1>
    </div>

    <div class="myrfq-container">
        <div class="myrfq">
            <uib-tabset active="activePill">
                <uib-tab index="0" heading="{{'MANAGERFQ.OPENRFQ' | translate}}" ng-click="rfq.init('open')">
                    <div class="row" ng-if="rfq.openRFQ.list.length !== 0">
                       
                           
                            <div class="col-sm-12">
                              
                                 <p class="myrfqp">
                                   <span> <i class="fa fa-question-circle" aria-hidden="true"></i></span>
                                      <span class="paraquestion">{{'MYRFQ.APPROVED_DIST_MSG1' | translate}}{{'MYRFQ.APPROVED_DIST_MSG2' | translate}}</span>
                                 </p>
                            </div>
                    </div>
                    
                    <table class="table table-bordered myrfq-open" ng-if="rfq.openRFQ.list.length !== 0">
                        <thead>
                            <tr>
                                <th>
                                    <div class="rfq-table-col" ng-click="rfq.sortOpenRFQ(0)" style="cursor:pointer;">
                                        <label>
                                                    {{'MYRFQ.RFQID' | translate}}
                                                </label>
                                        <i class="fa fa-sort" aria-hidden="true"></i>
                                    </div>
                                    <div class="rfq-table-search">
                                        <div class="input-group">
                                            <input type="text" class="form-control input-sm" placeholder="{{'MYRFQ.SEARCHBYRFQ' | translate}}" ng-model="rfq.searchUid" ng-change="rfq.onOpenClear()">
                                            <span class="input-group-btn" ng-click="rfq.filterOpenRFQ()">
                                                        <button class="btn btn-sm" type="button"><i class="fa fa-search" aria-hidden="true"></i></button>
                                                    </span>
                                        </div>
                                    </div>
                                </th>
                                <th>
                                    <div class="rfq-table-col" ng-click="rfq.sortOpenRFQ(1)" style="cursor:pointer;">
                                        <label>
                                                   {{'MYRFQ.DD' | translate}}
                                                </label>
                                                <i class="fa fa-sort" aria-hidden="true"></i>
                                    </div>
                                </th>

                                <th>
                                    <div class="rfq-table-col" ng-click="rfq.sortOpenRFQ(2)" style="cursor:pointer;">
                                        <label>
                                            {{'MYRFQ.RFQI' | translate}}
                                                </label>
                                                <i class="fa fa-sort" aria-hidden="true"></i>
                                    </div>
                                </th>
                                <th>
                                    <div class="rfq-table-col" ng-click="rfq.sortOpenRFQ(3)" style="cursor:pointer;">
                                        <label>
                                            {{'MYRFQ.RFQD' | translate}}
                                                </label>
                                        <i class="fa fa-sort" aria-hidden="true"></i>
                                    </div>

                                </th>
                                <th>
                                    <div class="rfq-table-col" ng-click="rfq.sortOpenRFQ(4)" >
                                        <label>
                                            {{'MYRFQ.RFQS' | translate}}
                                                </label>
                                        <i class="fa fa-sort" aria-hidden="true"></i>
                                    </div>
                                </th>
                                <th>
                                    <div class="rfq-table-col">
                                        <label>
                                            {{'MYRFQ.SENDDR' | translate}}
                                                </label>
                                    </div>
                                </th>
                                <th>
                                    <div class="rfq-table-col">
                                        <label>
                                            {{'MYRFQ.CONFIRM' | translate}}
                                                </label>
                                    </div>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="items in rfq.openRFQ.list" ng-init="items.getRFQDetails = true">
                                <td class="rfq-detail-cancel texttdid">
                                        <p>{{items.uid}}</p>
                                        <button class="btn btn-primary btn-xs pull-right" ng-click="rfq.openRFQDetails(items)">{{'MYRFQ.DETAIL' | translate}}</button>
                                        <a href="#" ng-if="items.status === 'SENT_TO_DISTRIBUTOR'" ng-click="rfq.cancelRFQ(items)"><i class="fa fa-times" aria-hidden="true"></i>{{'SENDREQQUOTE.CANCELRFQ' | translate}}</a>
                                
                                        
                                    
                                </td>
                                <td class="texttdfirst">{{items.distributorName}}</td>

                                <td class="texttdfirst">{{items.initiatedOn | date:'MM/dd/yyyy h:mm a'}}</td>
                                <td class="texttdfirst">{{items.deadLine | date:'MM/dd/yyyy h:mm a'}}</td>
                                <td class="text-uppercase texttdsecond">{{rfq.status(items.status) | translate}}</td>
                                <td><input type="button" class="btn btn-primary" value="SEND REMINDER" ng-hide="items.reminderSent"
                                        ng-click="rfq.sendReminder(items)" />
                                    <div class="reminder-sent" ng-show="items.reminderSent">
                                        <i class="fa fa-check" aria-hidden="true"></i>
                                        <span>{{'MYRFQ.REMINDERSENT' | translate}}</span>
                                    </div>
                                </td>
                                <td><input type="button" class="btn btn-primary" value="CONFIRM RECEIPT" ng-click="rfq.openRFQStatus(items)"
                                    />
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="empty-table-msg" ng-if="rfq.openRFQ.list.length === 0">
                        <label>{{'MYRFQ.NOITEMSOPENRFQ' | translate}}</label>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <ul uib-pagination boundary-links="true" max-size="rfq.size" total-items="rfq.openRFQ.total" ng-model="rfq.index" class="pagination-sm pull-right"
                                previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;" ng-change="rfq.navOpenRFQ()"></ul>
                        </div>
                    </div>
                    
                </uib-tab>
                <uib-tab index="1" heading="{{'MANAGERFQ.CLOSERFQ' | translate}}" ng-click="rfq.init('closed')">
                    
                    
                    <table class="table table-bordered myrfq-open" ng-if="rfq.closedRFQ.list.length !== 0">
                        <thead>
                            <tr>
                                <th>
                                    <div class="rfq-table-col" ng-click="rfq.sortClosedRFQ(0)" style="cursor:pointer;">
                                        <label>
                                                    {{'MYRFQ.RFQID' | translate}}
                                                </label>
                                        <i class="fa fa-sort" aria-hidden="true"></i>
                                    </div>
                                    <div class="rfq-table-search">
                                        <div class="input-group">
                                            <input type="text" class="form-control input-sm" placeholder="Search for..." ng-model="rfq.searchUid" ng-change="rfq.onClosedClear()">
                                            <span class="input-group-btn" ng-click="rfq.filterClosedRFQ()">
                                                        <button class="btn btn-sm" type="button"><i class="fa fa-search" aria-hidden="true"></i></button>
                                                    </span>
                                        </div>
                                    </div>
                                </th>
                                <th>
                                    <div class="rfq-table-col" ng-click="rfq.sortClosedRFQ(1)" style="cursor:pointer;">
                                        <label>
                                                   {{'MYRFQ.DD' | translate}}
                                                </label>
                                                <i class="fa fa-sort" aria-hidden="true"></i>
                                    </div>
                                </th>

                                <th>
                                    <div class="rfq-table-col" ng-click="rfq.sortClosedRFQ(2)" style="cursor:pointer;">
                                        <label>
                                            {{'MYRFQ.RFQI' | translate}}
                                                </label>
                                                <i class="fa fa-sort" aria-hidden="true"></i>
                                    </div>
                                </th>
                                <th>
                                    <div class="rfq-table-col" ng-click="rfq.sortClosedRFQ(3)" style="cursor:pointer;">
                                        <label>
                                            {{'MYRFQ.RFQD' | translate}}
                                                </label>
                                        <i class="fa fa-sort" aria-hidden="true"></i>
                                    </div>

                                </th>
                                <th>
                                    <div class="rfq-table-col" ng-click="rfq.sortClosedRFQ(5)" style="cursor:pointer;">
                                        <label>
                                            {{'MYRFQ.RFQC' | translate}}
                                                </label>
                                        <i class="fa fa-sort" aria-hidden="true"></i>
                                    </div>

                                </th>
                                <th>
                                    <div class="rfq-table-col" ng-click="rfq.sortClosedRFQ(4)" style="cursor:pointer;">
                                        <label>
                                            {{'MYRFQ.RFQS' | translate}}
                                                </label>
                                        <i class="fa fa-sort" aria-hidden="true"></i>
                                    </div>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="items in rfq.closedRFQ.list" ng-init="items.getRFQDetails = true">
                                <td>{{items.uid}} <button class="btn btn-primary btn-xs" ng-click="rfq.openRFQDetails(items)">{{'MYRFQ.DETAIL' | translate}}</button></td>
                                <td>{{items.distributorName}}</td>
                                <td>{{items.initiatedOn | date:'MM/dd/yyyy h:mm a'}}</td>
                                <td>{{items.deadLine | date:'MM/dd/yyyy h:mm a'}}</td>
                                <td>{{items.closedOn | date:'MM/dd/yyyy h:mm a'}}</td>
                                <td>{{rfq.status(items.status) | translate}}</td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="empty-table-msg" ng-if="rfq.closedRFQ.list.length === 0">
                        <label>{{'MYRFQ.NOITEMSCLOSEDRFQ' | translate}}</label>
                    </div>
                    <div class="row" ng-if="rfq.closedRFQ.list.length !== 0">
                        <div class="col-md-12">
                            <ul uib-pagination boundary-links="true" max-size="rfq.size" total-items="rfq.closedRFQ.total" ng-model="rfq.index" class="pagination-sm pull-right"
                                previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;" ng-change="rfq.navClosedRFQ()"></ul>
                        </div>
                    </div>
                </uib-tab>
            </uib-tabset>
        </div>
    </div>
</div>-->

<div class="myrfq-wrap">
    <div class="myrfq-bread-crumb">
        <ul>
            <li><a href="/">{{'BREADCRUMB.HOME' | translate}}</a></li>
            <li>></li>
            <li>{{'HEADER.MENUS.PROFILE.MYRFQ' | translate}}</li>
        </ul>
    </div>
    <div class="myrfq-title">
        <h1>{{'HEADER.MENUS.PROFILE.MYRFQ' | translate}}</h1>
    </div>
    <div class="myrfq-container">
        <div class="myrfq">
            <uib-tabset active="activePill">
                 <uib-tab index="0" heading="{{'MANAGERFQ.OPENRFQ' | translate}}" ng-click="rfq.init('open')">
                      <div class="row" ng-if="rfq.openRFQ.list.length !== 0">
                       
                           
                            <div class="col-sm-12">
                              
                                 <p class="myrfqp">
                                   <span> <i class="fa fa-question-circle" aria-hidden="true"></i></span>
                                      <span class="paraquestion">{{'MYRFQ.APPROVED_DIST_MSG1' | translate}}{{'MYRFQ.APPROVED_DIST_MSG2' | translate}}</span>
                                 </p>
                            </div>
                    </div>
                    <table class="table table-bordered myrfq-open" ng-if="rfq.openRFQ.list.length !== 0">
                        <thead>
                            <tr>
                                <th>
                                    <div class="rfq-table-col" ng-click="rfq.sortOpenRFQ(0)" style="cursor:pointer;">
                                        <label>
                                                    {{'MYRFQ.RFQID' | translate}}
                                        </label>
                                        <i class="fa fa-sort" aria-hidden="true"></i>
                                    </div>
                                    <div class="rfq-table-search">
                                        <div class="input-group">
                                            <input type="text" class="form-control input-sm" placeholder="{{'MYRFQ.SEARCHBYRFQ' | translate}}" ng-model="rfq.searchUid" ng-change="rfq.onOpenClear()">
                                            <span class="input-group-btn" ng-click="rfq.filterOpenRFQ()">
                                                        <button class="btn btn-sm" type="button"><i class="fa fa-search" aria-hidden="true"></i></button>
                                            </span>
                                        </div>
                                    </div>
                                </th>
                                <th>
                                    <div class="rfq-table-col" ng-click="rfq.sortOpenRFQ(1)" style="cursor:pointer;">
                                        <label>
                                                   {{'MYRFQ.DD' | translate}}
                                                </label>
                                                <i class="fa fa-sort" aria-hidden="true"></i>
                                    </div>
                                </th>

                                <th>
                                    <div class="rfq-table-col" ng-click="rfq.sortOpenRFQ(2)" style="cursor:pointer;">
                                        <label>
                                            {{'MYRFQ.RFQI' | translate}}
                                                </label>
                                                <i class="fa fa-sort" aria-hidden="true"></i>
                                    </div>
                                </th>
                                <th>
                                    <div class="rfq-table-col" ng-click="rfq.sortOpenRFQ(3)" style="cursor:pointer;">
                                        <label>
                                            {{'MYRFQ.RFQD' | translate}}
                                                </label>
                                        <i class="fa fa-sort" aria-hidden="true"></i>
                                    </div>

                                </th>
                                <th>
                                    <div class="rfq-table-col" ng-click="rfq.sortOpenRFQ(4)" >
                                        <label>
                                            {{'MYRFQ.RFQS' | translate}}
                                                </label>
                                        <i class="fa fa-sort" aria-hidden="true"></i>
                                    </div>
                                </th>
                                <th>
                                    <div class="rfq-table-col">
                                        <label>
                                            {{'MYRFQ.SENDDR' | translate}}
                                                </label>
                                    </div>
                                </th>
                                <th>
                                    <div class="rfq-table-col">
                                        <label>
                                            {{'MYRFQ.CONFIRM' | translate}}
                                                </label>
                                    </div>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="items in rfq.openRFQ.list" ng-init="items.getRFQDetails = true">
                                <td class="rfq-detail-cancel texttdid">
                                        <p>{{items.uid}}</p>
                                        <button class="btn btn-primary btn-xs pull-right" ng-click="rfq.openRFQDetails(items)">{{'MYRFQ.DETAIL' | translate}}</button>
                                        <a href="#" ng-if="items.status === 'SENT_TO_DISTRIBUTOR'" ng-click="rfq.cancelRFQ(items)"><i class="fa fa-times" aria-hidden="true"></i>{{'SENDREQQUOTE.CANCELRFQ' | translate}}</a>
                                
                                        
                                    
                                </td>
                                <td class="texttdfirst">{{items.distributorName}}</td>

                                <td class="texttdfirst">{{items.initiatedOn | date:'MM/dd/yyyy h:mm a'}}</td>
                                <td class="texttdfirst">{{items.deadLine | date:'MM/dd/yyyy h:mm a'}}</td>
                                <td class="text-uppercase texttdsecond">{{rfq.status(items.status) | translate}}</td>
                                <td><input type="button" class="btn btn-primary" value="SEND REMINDER" ng-hide="items.reminderSent"
                                        ng-click="rfq.sendReminder(items)" />
                                    <div class="reminder-sent" ng-show="items.reminderSent">
                                        <i class="fa fa-check" aria-hidden="true"></i>
                                        <span>{{'MYRFQ.REMINDERSENT' | translate}}</span>
                                    </div>
                                </td>
                                <td><input type="button" class="btn btn-primary" value="CONFIRM RECEIPT" ng-click="rfq.openRFQStatus(items)"
                                    />
                                </td>
                            </tr>
                        </tbody>
                    </table>

                 </uib-tab>
            </uib-tabset>

        </div>

    </div>

</div>