#shippedlistEdit {
    .modal-header {
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
        .bg-success {
            background-color: #f6fafe;

        }

    }
    .modal-body{
    	.madatoryStar{
        	color:#eb1000;
        	font-weight:700;
        }
    }
}
