<div id="shippedlistEdit">
    <div class="modal-header bg-success">
        <button type="button" class="close" ng-click="listedit.cancel()" data-dismiss="modal">&times;</button>
        <div class="row">
            <div class="col-md-9">
                <h4>{{ 'SHIPPEDLIST.USERCANCHANGE'  | translate}} </h4>
            </div>
            <div class="col-md-3">
            </div>
        </div>
    </div>
    <div class="modal-body">
        <form class="form-horizontal" name="shareOrderlistForm" novalidate>
            <div class="form-group">
                <div class="col-sm-3">
                    <label class="control-label">{{ 'SHIPPEDLIST.QTY'  | translate}} </label>
                    <span class="madatoryStar">*</span>
                    <input type="text" class="form-control">
                </div>
                <div class="col-sm-3">
                    <label class="control-label">{{ 'SHIPPEDLIST.BACKORDERQTY'  | translate}}</label>
                    <span class="madatoryStar">*</span>
                    <input type="text" class="form-control">
                </div>
                <div class="col-sm-3">
                    <label class="control-label">{{ 'SHIPPEDLIST.UOM'  | translate}}</label>
                    <span class="madatoryStar">*</span>
                    <input type="text" class="form-control">
                </div>
                <div class="col-sm-3">
                    <label class="control-label">{{ 'SHIPPEDLIST.UNITPRICEUSD'  | translate}}</label>
                    <span class="madatoryStar">*</span>
                    <input type="text" class="form-control">
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-4">
                    <label class="control-label">{{ 'SHIPPEDLIST.EXTENDEDPRICEUSD'  | translate}}</label>
                    <span class="madatoryStar">*</span>
                    <input type="text" class="form-control">
                </div>
                <div class="col-sm-4">
                    <label class="control-label">{{ 'SHIPPEDLIST.CORECHAREGES'  | translate}} </label>
                    <span class="madatoryStar">*</span>
                    <input type="text" class="form-control">
                </div>
                <div class="col-sm-4">
                    <label class="control-label">{{ 'SHIPPEDLIST.PRODUCTOTUSD'  | translate}} </label>
                    <span class="madatoryStar">*</span>
                    <input type="text" class="form-control">
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <div class="row">
            <div class="col-md-7">
            </div>
            <div class="col-md-2">
                <button class="btn btn-block btn-primary" type="button">{{ 'SHIPPEDLIST.ADD'  | translate}}</button>
            </div>
            <div class="col-md-3">
                <button class="btn btn-block btn-primary" type="button">{{ 'SHIPPEDLIST.UPDATE'  | translate}}</button>
            </div>
        </div>
    </div>
</div>


