<loading-directive></loading-directive>
<div class="row back-order-container" ng-if="postorder.loadingData === false && postorder.backOrderListData && postorder.backOrderListData.length > 0">
    <div class="col-md-12">
        <div class="download-report-wrapper">
            <div class="download-report pull-right" data-ng-click="postorder.downloadOrderTblData('TAB3')">
                <i class="fa fa-file-excel-o" aria-hidden="true"></i> {{'PROFILE.DOWNLOAD_EXCEL' | translate}}
            </div>
        </div>
        <div class="table-responsive">
            <table class="table recent-order-tbl back-ordr-tbl">
                <thead>
                    <tr>
                        <th class="ord-date">
                            <div class="inline-style" ng-click="postorder.sort('orderCreateDate')">
                                <div class="th-label pull-left">
                                    {{'POSTORDER.ORDER_DATE' | translate}}
                                </div>
                                <div class="sort-arrow pull-right"><i class="fa fa-sort" aria-hidden="true"></i></div>
                            </div>
                        </th>
                        <th class="ord-num">
                            <div class="inline-style" ng-click="postorder.sort('orderNo')">
                                <div class="th-label pull-left">{{'POSTORDER.ORDER_NUMBER' | translate}}</div>
                                <div class="sort-arrow pull-right">
                                    <i class="fa fa-sort" aria-hidden="true"></i>
                                </div>
                            </div>
                        </th>
                        <th  class="po-num">
                            <div class="inline-style" ng-click="postorder.sort('primaryPONumber')">
                                <div class="th-label pull-left">
                                    {{'POSTORDER.PONUMBER' | translate}}
                                </div>
                                <div class="sort-arrow pull-right"><i class="fa fa-sort" aria-hidden="true"></i></div>
                            </div>
                        </th>
                        <th class="sold-to">
                            <div class="inline-style" ng-click="postorder.sort('soldToCustomerId')">
                                <div class="th-label pull-left">
                                    {{'POSTORDER.SOLDTO' | translate}}
                                </div>
                                <div class="sort-arrow pull-right"><i class="fa fa-sort" aria-hidden="true"></i></div>
                            </div>
                        </th>
                        <th class="ship-to">
                            <div class="inline-style" ng-click="postorder.sort('shipToCustomerId')">
                                <div class="th-label pull-left">
                                    {{'POSTORDER.SHIPTO' | translate}}
                                </div>
                                 <div class="sort-arrow pull-right"><i class="fa fa-sort" aria-hidden="true"></i></div>
                            </div>
                        </th>
                        <th class="part-num">
                            <div class="inline-style" ng-click="postorder.sort('partNo')">
                                <div class="th-label pull-left">
                                    {{'POSTORDER.PARTNUMBER' | translate}}
                                </div>
                                <div class="sort-arrow pull-right"><i class="fa fa-sort" aria-hidden="true"></i></div>
                            </div>
                        </th>
                        <th class="desc">
                            <div class="inline-style" ng-click="postorder.sort('partDescr')">
                                <div class="th-label pull-left">
                                    {{'POSTORDER.DESC' | translate}}
                                </div>
                                <div class="sort-arrow pull-right"><i class="fa fa-sort" aria-hidden="true"></i></div>
                            </div>
                        </th>
                        <th class="qty-req">
                            <div class="inline-style text-right" ng-click="postorder.sort('qtyBackOrdered')">
                                <div class="th-label pull-left">
                                    {{'POSTORDER.QTY_REQ' | translate}}
                                </div>
                                <div class="sort-arrow pull-right"><i class="fa fa-sort" aria-hidden="true"></i></div>
                            </div>
                        </th>
                        <th class="ext-price">
                            <div class="inline-style text-right" ng-click="postorder.sort('price')">
                                <div class="th-label pull-left">
                                    {{'POSTORDER.EXT_PRICE' | translate}} ({{'CURRENCY' | translate}})
                                </div>
                                <div class="sort-arrow pull-right"><i class="fa fa-sort" aria-hidden="true"></i></div>
                            </div>
                        </th>
                        <th class="promise-date">
                            <div class="inline-style" ng-click="postorder.sort('promisedDate')">
                                <div class="th-label pull-left">{{'POSTORDER.PROMISE_DATE' | translate}}</div>
                                <div class="sort-arrow pull-right"><i class="fa fa-sort" aria-hidden="true"></i></div>
                            </div>
                        </th>
                        <th class="action">
                        </th>
                    </tr>
                    <tr class="search-tr">
                        <th>
                            <div class="form-group" data-ng-show="postorder.showSearchBox">
                                <input type="text" class="form-control" data-ng-model="postorder.backOrderFilter.orderCreateDate" placeholder="" ng-change="postorder._boSearch()">
                                <i class="glyphicon glyphicon-search"></i>
                            </div>
                        </th>
                        <th>
                            <div class="form-group" data-ng-show="postorder.showSearchBox">
                                <input type="text" class="form-control" data-ng-model="postorder.backOrderFilter.orderNo" placeholder="" ng-change="postorder._boSearch()">
                                <i class="glyphicon glyphicon-search"></i>
                            </div>
                        </th>
                        <th>
                            <div class="form-group" data-ng-show="postorder.showSearchBox">
                                <input type="text" class="form-control" data-ng-model="postorder.backOrderFilter.primaryPONumber" placeholder="" ng-change="postorder._boSearch()">
                                <i class="glyphicon glyphicon-search"></i>
                            </div>
                        </th>
                        <th>
                            <div class="form-group" data-ng-show="postorder.showSearchBox">
                                <input type="text" class="form-control" data-ng-model="postorder.backOrderFilter.soldToCustomerId" placeholder="" ng-change="postorder._boSearch()">
                                <i class="glyphicon glyphicon-search"></i>
                            </div>
                        </th>
                        <th>
                            <div class="form-group" data-ng-show="postorder.showSearchBox">
                                <input type="text" class="form-control" data-ng-model="postorder.backOrderFilter.shipToCustomerId" placeholder="" ng-change="postorder._boSearch()">
                                <i class="glyphicon glyphicon-search"></i>
                            </div>
                        </th>
                        <th>
                            <div class="form-group" data-ng-show="postorder.showSearchBox">
                                <input type="text" class="form-control" data-ng-model="postorder.backOrderFilter.partNo" placeholder="" ng-change="postorder._boSearch()">
                                <i class="glyphicon glyphicon-search"></i>
                            </div>
                        </th>
                        <th>
                            <div class="form-group" data-ng-show="postorder.showSearchBox">
                                <input type="text" class="form-control" data-ng-model="postorder.backOrderFilter.partDescr" placeholder="" ng-change="postorder._boSearch()">
                                <i class="glyphicon glyphicon-search"></i>
                            </div>
                        </th>
                        <th>
                        </th>
                        <th>
                        </th>
                        <th>
                            <div class="form-group" data-ng-show="postorder.showSearchBox">
                                <input type="text" class="form-control" data-ng-model="postorder.backOrderFilter.promisedDate" placeholder="" ng-change="postorder._boSearch()">
                                <i class="glyphicon glyphicon-search"></i>
                            </div>
                        </th>
                        <th>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="obj in postorder.backOrderDataClient |
                        orderBy:postorder.sortKey:postorder.reverse
                         | slice:((postorder.currentPage-1)*postorder.rowPerPage):((postorder.currentPage)*postorder.rowPerPage)">
                        <td>{{obj.orderCreateDate}}</td>
                        <td>{{obj.orderNo}}</td>
                        <td>{{obj.primaryPONumber}}</td>
                        <td>{{obj.soldToCustomerId}}</td>
                        <td>{{obj.shipToCustomerId}}</td>
                        <td>{{obj.partNo}}</td>
                        <td>{{obj.partDescr}}</td>
                        <td class="text-right">{{obj.qtyBackOrdered}}</td>
                        <td class="text-right"><span ng-show="postorder.userPermissionsList.CheckPrice">{{obj.price | currency:""}}</span></td>                       
                        <td>{{obj.promisedDate}}</td>
                        <td>
                            <button class="btn btn-app btn-app-primary btn-app-sm orderDetailBtn" 
                                    ng-click="postorder.viewDetails(obj.orderNo)" type="button">{{'POSTORDER.DETAIL_BTN' | translate}}
                            </button> 
                        </td>
                    </tr>
                    <tr data-ng-if="!(postorder.backOrderDataClient.length > 0)">
                        <td colspan="11"><div ng-include="'app/post-order/exceptionTemplates/noDataAvailable.html'"></div></td>
                    </tr>
                </tbody>
            </table>
            <ul uib-pagination boundary-links="true" total-items="postorder.totalBackOrders" ng-model="postorder.currentPage" ng-click="postorder.pageChanged()"
            max-size="postorder.maxpages" class="pagination-sm" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;"
            last-text="&raquo;"></ul>
        </div>
    </div>
</div>
<div class="row back-order-container" ng-if="!(postorder.loadingData === false && postorder.backOrderListData && postorder.backOrderListData.length > 0)">
    <div ng-include="'app/post-order/exceptionTemplates/noDataAvailable.html'"></div>
</div>  