/***************************************************************
* Proprietary & Confidential  |  © 2016 PhaseZero Ventures LLC 
* 
* This file is part of Tire Advisor project
* 
* This file cannot be copied and/or distributed without 
* the express permission of PhaseZero Ventures LLC
***************************************************************/

.quoteconfirm {
    margin-top: 25px;
    .font-weight {
        font-weight: 600;
    }
    .bg-default {
        border: 1px solid #ddd;
        border-radius: 3px;
        padding: 4px 15px;
        text-transform: uppercase;
        .fa {
            font-size: 14px;
            margin-left: 2px;
            font-weight: 500;
            margin-right: 10px;
        }
        .fa-arrow-circle-o-left {
            color: #c2c2c2;
        }
        .revertcart {
            margin-left: 10px;
        }
    }
    a {
        text-decoration: none;
        &:hover {
            text-decoration: none;
        }
    }
    .down-border {
        border-top: 1px solid #c2c2c2;
        margin-top: 10px;
        margin-bottom: 20px;
    }
    .bg-primary {
        padding: 4px 20px;
        border-radius: 3px;
    }
    .bg-success {
        padding: 4px 15px;
        border-radius: 3px;
        color: white;
        background-color: #5e9702;
    }
    .checkout {
        margin-right: 30px;
        text-transform: uppercase;
    }
    .cancel {
        color: #c2c2c2;
        margin-right: 62px;
    }
    .fa-times-circle {
        color: #555;
    }
    .bg-default-bg {
        background-color: #f5f5f5;
        border: 1px solid #ddd;
        border-radius: 3px;
        padding: 4px 6px;
        color: #acacac;
        font-weight: 600;
        .littlegap {
            padding: 2px 5px;
        }
        hr {
            margin-top: 0;
            margin-bottom: 5px;
            border-top: 1px solid #dddddd;
        }
        .Qty {
            font-weight: 700;
            color: #555;
            text-align: right;
        }
    }
    .previewfield {
        padding: 10px 20px;
        background-color: #ddd;
        border-radius: 5px;
    }
    .previewfieldempty {
        padding: 10px 20px;
        // background-color: #ddd;
        border-radius: 5px;
        border: 1px solid #ddd;
    }
    .btn-ddl {
        width: 155%;
        border-radius: 5px;
        padding: 8px 20px;
        background-color: #ddd;
        font-size: 15px;
    }
    .caret {
        margin-top: 8px;
        font-size: 20px;
    }
    .dropdown-menu {
        width: 155%;
    }
    [uib-dropdown] {
        .btn {
            text-align: left;
        }
    }
    // input[type=radio] {
    //     width: 18%;
    //     height: 1.3em;
    //     vertical-align: middle;
    //     padding-top: 0px;
    //     margin-right: 10px !important;
    //     &:hover,
    //     &:focus,
    //     &:checked,
    //     &:after {
    //         outline: none;
    //         box-shadow: none;
    //         background: #4CAF50 !important;
    //     }
    // }
    input[type='radio'] {
        -webkit-appearance: none;
        width: 17px;
        height: 17px;
        border: 2px solid gray;
        border-radius: 50%;
        outline: none;
        box-shadow: none;
    }
    input[type='radio']:hover,
    input[type='radio']:focus {
        box-shadow: none;
        border: 2px solid green;
        border-radius: 50%;
    }
    input[type='radio']:before {
        content: '';
        display: block;
        width: 50%;
        height: 50%;
        margin: 25% auto;
        border-radius: 60%;
        // border: 1px solid green;
    }
    input[type='radio']:checked:before {
        background: green;
        border: 2px solid green;
        border-radius: 50%;
    }
    [placeholder] {
        font-weight: 600;
        color: black !important;
    }
    .dashedborder {
        border-top: 1px dashed #ddd;
    }
    .fa-check {
        margin-top: 7px;
        color: #4CAF50;
        font-size: 17px;
    }
    .fa-exclamation-triangle {
        color: #fa9602;
        margin-top: 7px;
    }
    textarea {
        resize: none;
    }
    .text-danger {
        color: red;
        font-size: 12px;
        font-weight: 700;
    }
    .text-default {
        font-size: 12px;
        font-weight: 600;
        color: #555;
    }
}
