<div class="container-fluid quoteconfirm">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h4 class="font-weight">{{'QUOTECONFIRM.SUCCESSMSG' | translate}} </h4>
                <h5 class="font-weight">
                        {{'QUOTECONFIRM.YCCSTATUS' | translate}}
                        <button class="btn bg-danger"> {{'QUOTECONFIRM.FAQSTATUSBTN' | translate}}</button>
                </h5>
            </div>
        </div>
    </div>
    <div class="down-border"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="col-sm-1">
                    <i class="fa fa-check"></i>
                </div>
                <div class="col-sm-1">
                    <h4><label>{{'QUOTECONFIRM.RFQID' | translate}}</label></h4></div>
                <div class="col-sm-1">
                    <h5><label>{{'QUOTECONFIRM.ID1' | translate}}</label></h5>
                </div>
                <div class="col-sm-5">
                    <h5>{{'QUOTECONFIRM.PARTTYPTEMAIL' | translate}}</h5></div>
                <div class="col-sm-1">
                    <h5><button class="btn bg-default"> {{'QUOTECONFIRM.CHECKBTN' | translate}}</button></h5>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="col-sm-1">
                    <i class="fa fa-check"></i>
                </div>
                <div class="col-sm-1">
                    <h4><label>{{'QUOTECONFIRM.RFQID' | translate}}</label></h4></div>
                <div class="col-sm-1">
                    <h5><label>{{'QUOTECONFIRM.ID1' | translate}}</label></h5>
                </div>
                <div class="col-sm-5">
                    <h5>{{'QUOTECONFIRM.PARTTYPTEMAIL' | translate}}</h5></div>
                <div class="col-sm-1">
                    <h5><button class="btn bg-default"> {{'QUOTECONFIRM.CHECKBTN' | translate}}</button></h5>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="col-sm-1">
                    <i class="fa fa-check"></i>
                </div>
                <div class="col-sm-1">
                    <h4><label>{{'QUOTECONFIRM.RFQID' | translate}}</label></h4></div>
                <div class="col-sm-1">
                    <h5><label>{{'QUOTECONFIRM.ID1' | translate}}</label></h5>
                </div>
                <div class="col-sm-5">
                    <h5>{{'QUOTECONFIRM.PARTTYPTEMAIL' | translate}}</h5></div>
                <div class="col-sm-1">
                    <h5><button class="btn bg-default"> {{'QUOTECONFIRM.CHECKBTN' | translate}}</button></h5>
                </div>
            </div>
        </div>
        <br>
        <br>
        <br>
        <br>
        <div class="row">
            <div class="col-md-12">
                <button class="btn btn-primary"> {{'QUOTECONFIRM.GOBACKBTN' | translate}}</button>&nbsp;&nbsp;
                <button class="btn btn-primary">{{'QUOTECONFIRM.CONTINUESHOP' | translate}} </button>
            </div>
        </div>
    </div>
</div>
