/***************************************************************
* Proprietary & Confidential  |  © 2016 PhaseZero Ventures LLC 
* 
* This file is part of Tire Advisor project
* 
* This file cannot be copied and/or distributed without 
* the express permission of PhaseZero Ventures LLC
***************************************************************/


/**
 *  If you want to override some bootstrap variables, you have to change values here.
 *  The list of variables are listed here bower_components/bootstrap-sass/assets/stylesheets/bootstrap/_variables.scss
 */
@import "../../src/assets/skins/dana/dana-skin";
//@import "../../src/assets/skins/meritor/merritor-dummy-skin";
$navbar-inverse-link-color: #5AADBB;
$icon-font-path: "../../bower_components/bootstrap-sass/assets/fonts/bootstrap/";
$grid-gutter-width: 20px;

/**
 *  Do not remove the comments below. It's the markers used by wiredep to inject
 *  sass dependencies when defined in the bower.json of your dependencies
 */
// bower:scss
// endbower

/*.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}*/

.thumbnail {
  height: 200px;

  img.pull-right {
    width: 50px;
  }
}
.tooltip.pzv-tooltip .tooltip-inner {
    color:#000000;
          background-color: #CCCCCC;

}
.tooltip.pzv-tooltip .tooltip-arrow {
    border-right: 5px solid #CCCCCC;

}
.tooltip.preview-order-tooltip .tooltip-inner {
    color:#000000;
          background-color: #CCCCCC;
          width: 100px;

}
.tooltip.preview-order-tooltip .tooltip-arrow {
    border-right: 5px solid #CCCCCC;

}

main{
    background: $app_bg_color;
    #main-content{
      padding-left: 0;
      padding-right: 0;
    }
}
 
/**
 *  Do not remove the comments below. It's the markers used by gulp-inject to inject
 *  all your sass files automatically
 */
// injector
// endinjector
