<div class="modal-body">
    <div class="row">
        <div class="col-md-2">
            <i class="fa fa-check" aria-hidden="true"></i>
        </div>
        <div class="col-md-10">
            <p>{{'MYLIST.QTY_UPDATE_SUCCESS' | translate}}</p>
        </div>
    </div>
</div>