.confirm-update-list {
    .modal-content {
        border-radius: 0px;
        i {
            font-size: 16px;
            color: #39a200;
            margin: 10px;
        }
        p {
            font-size: 16px;
        }
    }
}