.my-modal-popup.pswrd-changed-success-modal{
    top: 5% !important;
    z-index: 2000 !important;
    .modal-dialog {
        margin-top: 0;
        width: 682px;
        #pswrdChangedSuccess{
            border: 0;
            .modal-body{
                padding: 15px 15px 24px 15px;
                border-radius: 4px;
                background: #3FB300;
                h1{
                    font-size: 18px;
                    font-weight: 600;
                    margin: 0;
                    color: #ffffff;
                    span.fa-check-circle{
                        color: #ffffff;
                        margin-right: 15px;
                        font-size: 30px;
                        position: relative;
                        top: 5px;
                    }
                }
            }
        }
    }
}