<!-- /*Author : Manjesh Kumar */ -->
<div id="pswrdChangedSuccess">
    <div class="modal-body text-center">
        <h1><span class="fa fa-check-circle" aria-hidden="true"></span>{{'ERRORMSG.PASSWORDCHNAGEMSG' | translate}}</h1>
    </div>
</div>
