<!-- Author: Manjesh Kumar -->

<div class="container-fluid previewOrder">
   <div class="custom-loader" data-ng-show="preview.isDataLoading">
        <div class="img-wrapper">
            <!--<h3>{{ 'LOADING.LOADINGTEXT' | translate}}</h3>-->
            <img src="/assets/images/loading.gif" width="40" height="40">
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-10 col-md-10 preview-order-content">
                <div class= "check">
                    <div class="sold-to">
                        <div class= "first-line">
                            <p>{{'common.SOLDTO' | translate}} :   {{preview.headerResult.soldTo.customerId}}</p>
                        </div>
                        <div class= "bottom-content">
                            <p class="title">{{preview.headerResult.soldTo.name}}</p>
                            <!-- <p>{{preview.soldToAddress}}</p> -->
                            <p>{{preview.soldToFirstAddress}}</p>
                            <p>{{preview.soldToSecondAddress}}</p>
                            <!-- <p>Address Line 2</p> -->
                        </div>
                    </div>
                    <div class="ship-to">
                        <div class= "first-line">
                            <p> {{'common.SHIPTO' | translate}} : {{preview.shipToCustomerId}}</p>
                        </div>
                        <div class= "bottom-content">
                            <p class="title">{{preview.shipToName}}</p>
                            <div class="alter-ship-to">
                                <a href='#' ng-show="preview.orderType == 'EMG'" data-ng-if="preview.userPermissionsList.OverrideShipTo"  ng-click="preview.addNewShipAddressPopUp()">{{ 'PREVIEWORDER.ADD_NEW'  | translate}}</a>
                                <a href='#' data-ng-click="preview.openAdvancedSearchPopUp()" data-ng-if="preview.userPermissionsList.ChangeShipToAddress">CHANGE</a></div>
                                <!-- <p>{{preview.shipToAddress}}</p> -->
                                <p>{{preview.shipToFirstAddress}}</p>
                                <p>{{preview.shipToSecondAddress}}</p>
                                <!--<p style="font-size:11px; margin-top:5px" ng-show="preview.orderType == 'STK'">
                                    Please contact your Sales Representative to add a New Address.
                                </p>-->
                                <!-- <p>Address Line 2</p> -->
                        </div>
                    </div>
                    <div class="bill-to">
                        <div class= "first-line">
                            <p> {{'PREVIEWORDER.BILLTO' | translate}} : {{preview.headerResult.billTo.customerId}}</p>
                        </div>
                        <div class= "bottom-content">
                            <p class="title">{{preview.headerResult.billTo.name}}</p>
                            <p>{{preview.billToFirstAddress}}</p>
                            <p>{{preview.billToSecondAddress}}</p>
                        </div>
                    </div>
                </div>
                <div class="row shipping-date-cal">
                    <div class="col-sm-12 col-md-12">
                        <div class="form-group row">
                           
                            <!-- <div class="col-md-6 shipping-cal" ng-show="preview.orderType == 'STK'">
                                <label class="label-txt">{{ 'PREVIEWORDER.SHIPPINGDATE'  | translate}} <span class="madatoryStar">{{'SHIPADDR.MANDATORY' | translate}}</span></label>
                                <div class="previewfieldempty">
                                            <p class="input-group date-wrapper">
                                                <input type="text" class="form-control date-txt" show-button-bar="false" uib-datepicker-popup="{{preview.format}}" ng-model="preview.shipToDate" ng-change="preview.compareDate()" is-open="preview.opened" datepicker-options="preview.dateOptions" popup-placement="bottom-left" ng-required="true" close-text="Close" alt-input-formats="altInputFormats" />
                                                <span class="input-group-btn">
                                                <button type="button" class="btn btn-default btn-calender" ng-click="preview.open2()"><i class="glyphicon glyphicon-calendar"></i></button>
                                                </span>
                                            </p>
                                </div>
                            </div> -->
                            <div class="col-md-12 ship-complete" data-ng-class="{ 'eo-ship-complete' : preview.orderType == 'EMG'}">
                                <div class="ship-complete-input" ng-init="ship=1">
                                    <label>{{ 'PREVIEWORDER.SHIP_COMPLETE'  | translate}}</label>
                                    <input ng-model="preview.shipComplete" type="radio" ng-model="ship" value="1" ng-checked="true"><label>{{ 'PREVIEWORDER.YES'  | translate}}</label>
                                    <input ng-model="preview.shipComplete" type="radio" ng-model="ship" value="2"><label>{{ 'PREVIEWORDER.NO'  | translate}}</label>
                                </div>
                            </div>
                            <!-- <div class="col-md-3">
                                <p class="exlamation" ng-show="preview.orderType == 'STK'">
                                    <i class="fa fa-info-circle" aria-hidden="true"></i>
                                    <span>{{ 'ERRORMSG.SUPPORTMSGFORADDRES'  | translate}}</span>
                                </p>
                            </div> -->
                        </div>
                    </div>
                </div>

                <!-- <div class="well well-md">
                    <div class="row cust-info">
                        <div class="col-sm-6 col-md-4">
                            <div class="form-group">
                                <div class="pull-left cust-img" tooltip-placement="left" tooltip-class="preview-order-tooltip" uib-tooltip="{{preview.headerResult.soldTo.name}}">
                                    <img class="img-circle" src="https://placehold.it/100x100" alt="Generic placeholder image"width="50" height="50"> 
                                </div>
                                <div>
                                    <label class="label-txt">{{ 'PREVIEWORDER.CUSTOMERNAME'  | translate}}</label>
                                    <div class="">
                                        <span class="form-control-static">{{preview.headerResult.soldTo.name}}</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-8">
                            <div class="form-group">
                                <label class="label-txt">{{ 'PREVIEWORDER.MAILINGADDRESS'  | translate}}</label>
                                <p class="form-control-static">
                                    {{preview.soldToAddr}}
                                </p>
                            </div>
                        </div>
                    </div>
                </div> -->
                <!-- <div class="well well-md ship-to-add-well">
                    <div class="form-group">
                        <label class="label-txt">{{ 'PREVIEWORDER.SHIPPINGADDRESS'  | translate}} <span class="madatoryStar">{{'SHIPADDR.MANDATORY' | translate}}</span></label>
                        <a ng-show="preview.orderType == 'EMG'" class="advan-search-link" data-ng-if="preview.userPermissionsList.OverrideShipTo" ng-click="preview.addNewShipAddressPopUp()">  <span class="glyphicon glyphicon-plus"></span>{{ 'PREVIEWORDER.ADDNEWSHIPTOADDRESS'  | translate}}</a>
                        <a data-ng-click="preview.openAdvancedSearchPopUp()" class="advan-search-link pull-right" data-ng-if="preview.userPermissionsList.ChangeShipToAddress">{{ 'PREVIEWORDER.ADVANCEDSEARCH'  | translate}} <i class="fa fa-info-circle"></i></a>
                       
                        <div data-ng-if="preview.advSrchRsltAddress" uib-alert class="alert ship-to-address-txt" close="preview.closeAlert()">{{preview.advSrchRsltAddress}}</div>
                        <div data-ng-if="!preview.advSrchRsltAddress" class="alert alert-warning text-center alert-ship" role="alert"><strong><i class="glyphicon glyphicon-alert"></i>
                        {{ 'PREVIEWORDER.SHIPPINDADDWARN'  | translate}}</strong></div>
                    </div>
                </div> -->
                <!-- <div class="bill-to-address">
                    <div class="form-group">
                        <div class="heading">
                            <label class="label-txt">{{ 'PREVIEWORDER.BILLTOADDRESS'  | translate}}</label>
                        </div>
                        <div class="address-part">
                            <p>{{preview.billToAddr}}</p>
                        </div>
                    </div>
                </div> -->
               <!--  <div class="well well-md">
                    <div class="form-group">
                        <label class="label-txt">{{ 'PREVIEWORDER.BILLTOADDRESS'  | translate}}</label>
                        <input type="text" class="form-control" 
                        disabled="disabled" ng-model= "preview.billToAddr">
                    </div>
                </div> -->
                        <div class="bill-to-address">
                            <form name="prevOrdrForm1" novalidate>  
                                <div class="form-group">
                                    <div class="heading">
                                    <label class="label-txt">{{ 'PREVIEWORDER.PURCHAGE_ORDR_NUM'  | translate}}
                                    </label>
                                </div>
                                    <div class="pur-ordr-input">
                                    <div class="row pon-container">
                                        <div class="col-sm-5 col-md-5">
                                            <div class="form-inline">
                                                <div class="form-group primary_num" data-ng-class="{ 'has-error' : prevOrdrForm1.priNum.$invalid && !prevOrdrForm1.priNum.$pristine }">
                                                    <label class="label-txt" for="priNum">{{ 'PREVIEWORDER.PRIMARY_NUM'  | translate}} <span style="color:red" class="madatoryStar">{{'SHIPADDR.MANDATORY' | translate}}</span></label>
                                                    <input type="text" class="form-control" id="priNum" ng-model="preview.primaryNo" maxlength="10" name="priNum" placeholder="" required ng-trim="false" ng-change="preview.primaryNo = preview.primaryNo.split(' ').join('')">
                                                    <p ng-show="prevOrdrForm1.priNum.$error.pattern || (prevOrdrForm1.priNum.$invalid && !prevOrdrForm1.priNum.$pristine)" class="help-block text-right"> 
                                                        {{'PREVIEWORDER.VALIDENTERPOMSG' | translate}} </p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-7 col-md-7">
                                            <div class="form-inline">
                                                <div class="form-group sec_num" data-ng-class="{ 'has-error' : prevOrdrForm1.secNum.$invalid && !prevOrdrForm1.secNum.$pristine }">
                                                    <label class="label-txt" for="secNum">{{ 'PREVIEWORDER.SECONDARY_NUM'  | translate}}  </label>
                                                    <input type="text" maxlength="10" class="form-control" id="secNum" name="secNum" ng-model="preview.secondaryNo" placeholder="">
                                                     <p ng-show="prevOrdrForm1.secNum.$error.pattern || (prevOrdrForm1.secNum.$invalid && !prevOrdrForm1.secNum.$pristine)" class="help-block text-right">{{ 'PREVIEWORDER.ENTER_VALID_SO_NO'  | translate}}</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                <div class="bill-to-address">
                    <div class="form-group">
                        <div class="heading">
                            <label class="label-txt">{{ 'PREVIEWORDER.EMAILADDRESS'  | translate}} <!-- <span class="madatoryStar">{{'SHIPADDR.MANDATORY' | translate}}</span> --></label>
                        </div>
                        <div class="email-list-container">
                            <!-- <form name="emailForm" class="email-container" data-ng-repeat="emailId in preview.emailDetailsList track by $index" novalidate>
                                <input type="checkbox" data-ng-value="preview.emailDetailsList[$index]" name="emailList" data-ng-model="preview.selectedEmailId" data-ng-disabled="emailForm.fEmail.$invalid"/>
                                <input type="email" name="fEmail" ng-pattern="/^[a-z]+[a-z0-9._]+@[a-z]+\.[a-z.]{1,5}$/" data-ng-disabled="preview.selectedEmailId == preview.emailDetailsList[$index]" data-ng-class="{ 'red-border':emailForm.fEmail.$touched && emailForm.fEmail.$invalid }" data-ng-model="preview.emailDetailsList[$index]" placeholder="xyz@abc.com" required />
                               
                                <span aria-hidden="true" data-ng-click="preview.removeEmailDetails($index)" data-ng-if="preview.selectedEmailId != preview.emailDetailsList[$index]">
                                    <img src="assets/images/icon-cross-google-search-bar.png">
                                </span>
                            </form> -->
                            <form name="emailForm" class="email-container" data-ng-repeat="emailId in preview.emailDetailsListObj track by $index" novalidate>
                                <!-- <input type="checkbox" name="emailList" data-ng-model="emailId.select" data-ng-disabled="emailForm.fEmail.$invalid"/> -->
                                <label data-ng-model="emailId.select" uib-btn-checkbox class="checkbox-label">
                                                    <i class="fa" ng-class="emailId.select ? 'fa-check-square' : 'fa-square-o' "></i></label>
                                <input type="email" name="fEmail" ng-pattern="/^[a-zA-Z]+[a-zA-Z0-9._]+@[a-zA-Z]+\.[a-zA-Z.]{1,5}$/" data-ng-model="emailId.name" placeholder="xyz@abc.com" data-ng-class="{ 'red-border':emailForm.fEmail.$touched && emailForm.fEmail.$invalid }"  required />
                                <span aria-hidden="true" data-ng-click="preview.removeEmailDetails($index)">
                                    <img src="assets/images/icon-cross-google-search-bar.png">
                                </span>
                            </form>
                            <a class="add-email-lnk" data-ng-click="preview.addEmailDetailsToList()" href=""><i class="glyphicon glyphicon-plus"></i> {{ 'PREVIEWORDER.ADDEMAIL'  | translate}} </a>
                            <p class="help-block email-err" data-ng-show="preview.emailDetailsListObj.length > 0 &&(preview.emailDetailsListObj | filter:{select: true}).length == 0">{{ 'ERRORMSG.EMIALADDRESSSELECTMSG'  | translate}} </p>
                            <!-- <p class="help-block email-err" data-ng-show="preview.emailDetailsListObj.length == 0">
                                {{ 'ERRORMSG.EMIALADDRESSSELECTMSG'  | translate}}</p> -->
                        </div>
                    </div>
                </div>
                <div class="bill-to-address">
                    <div class="heading">
                        <label class="label-txt">
                                            {{ 'PREVIEWORDER.SP_SHIPPING'  | translate}}
                        </label>
                    </div>
                    <form name="prevOrdrForm" class="prev-ordr-form" novalidate>                    
                        <div class="row shipng-method-carr" ng-show="preview.orderType == 'EMG'">
                            <div class="col-sm-4 col-md-4">
                                <div class="form-group">
                                    <label class="label-txt">{{ 'PREVIEWORDER.CARRIER'  | translate}} <span class="madatoryStar">{{'SHIPADDR.MANDATORY' | translate}}</span></label>
                                    <div class="row">
                                        <div class="col-sm-11 col-md-11">
                                            <div class="btn-group " uib-dropdown>
                                                <button id="btn-append-to-single-button" type="button" class="btn btn-default btn-ddl "  data-ng-class="{'error-field': !preview.isCarrierPristine && (preview.selectedCarrier == null || preview.selectedCarrier == undefined ||preview.selectedCarrier == 'Select')}" uib-dropdown-toggle >
                                                    <span class="text-left">{{preview.selectedShippingCarrier.name}}</span>
                                                    <span class="glyphicon glyphicon-menu-down pull-right" ng-show="preview.orderType == 'STK'"></span>
                                                </button>
                                                <ul class="dropdown-menu dropdown-menu-onddl" uib-dropdown-menu role="menu" aria-labelledby="btn-append-to-single-button">
                                                    <li role="menuitem" data-ng-repeat="carrier in preview.carrierList track by $index" data-ng-click="preview.onChangeOfCarrier(carrier)"><a href="#">{{carrier.name}}</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-5 col-md-5">
                                <div class="form-group freight-handling">
                                    <label class="label-txt">{{ 'PREVIEWORDER.SHIPPINGMETHOD'  | translate}} <span class="madatoryStar">{{'SHIPADDR.MANDATORY' | translate}}</span></label>
                                    <div class="row">
                                        <div class="col-sm-11 col-md-11">
                                            <div class="btn-group " uib-dropdown>
                                                <button  id="btn-append-to-single-button" type="button" class="btn btn-default btn-ddl "  data-ng-class="{'error-field': !preview.isShipMethodPristine && (preview.selectedShippingMethod.name == null || preview.selectedShippingMethod.name == undefined || preview.selectedShippingMethod.name == 'Select'), 'disable-dropdown': preview.selectedShippingCarrier.code == 'XXXX1' && preview.selectedShippingMethod.code == 'PU' }" uib-dropdown-toggle>
                                                    <span class="text-left">{{preview.selectedShippingMethod.name}}</span>
                                                    <span class="glyphicon glyphicon-menu-down pull-right" ng-show="preview.orderType == 'STK'"></span>
                                                </button>
                                                <ul class="dropdown-menu dropdown-menu-onddl" uib-dropdown-menu role="menu" aria-labelledby="btn-append-to-single-button">
                                                    <li role="menuitem" data-ng-repeat="shippingMethod in preview.shippingMethodList" data-ng-click="preview.onChangeOfShippingMethod(shippingMethod)"><a href="#">{{shippingMethod.name}}</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-3 col-md-3">
                                <label class="label-txt">{{ 'PREVIEWORDER.CA_NUMBER'  | translate}}</label>
                                <div class="carrier-account-input">
                                    <input type="text" name="caNumber" ng-model="preview.caNumber"/>
                                </div>
                            </div>
                        </div>
                        <!-- <div class="info-message" ng-show="preview.orderType == 'EMG'">
                            <i class="fa fa-info-circle"></i><span>{{ 'ERRORMSG.EMERGENCYORDEREXPRESSSHIPING'  | translate}}</span>
                        </div> -->
                        <!-- <div class="row" ng-show="preview.orderType == 'STK'">
                            <div class="col-sm-12 col-md-12">
                                <div class="form-group">
                                    <label class="label-txt">{{ 'PREVIEWORDER.SHIPPINGDATE'  | translate}} <span class="madatoryStar">{{'SHIPADDR.MANDATORY' | translate}}</span></label>
                                    <div class="previewfieldempty">
                                        <div class="row">
                                            <div class="col-sm-4 col-md-4">
                                                <p class="input-group date-wrapper">
                                                <input type="text" class="form-control date-txt" show-button-bar="false" uib-datepicker-popup="{{preview.format}}" ng-model="preview.shipToDate" ng-change="preview.compareDate()" is-open="preview.opened" datepicker-options="preview.dateOptions" popup-placement="bottom-left" ng-required="true" close-text="Close" alt-input-formats="altInputFormats" />
                                                <span class="input-group-btn">
                                                    <button type="button" class="btn btn-default btn-calender" ng-click="preview.open2()"><i class="glyphicon glyphicon-calendar"></i></button>
                                                </span>
                                            </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div> -->
                        <div class="row shipng-instsn-row">
                            <div class="col-sm-12 col-md-12">
                                <div class="form-group">
                                    <label class="label-txt">{{ 'PREVIEWORDER.SHIPPINGINSTRUCTION'  | translate}}</label>
                                    <textarea class="form-control" ng-model="preview.instruction" placeholder="" maxlength="132"></textarea>
                                </div>
                            </div>
                        </div>
                        <!--<div class="down-dashed-border"></div>-->
                        <!-- <div class="row pur-ordr-num-sec">
                            <div class="col-sm-12 col-md-12">
                                <div class="form-group">
                                    <label class="label-txt">{{ 'PREVIEWORDER.PURCHAGE_ORDR_NUM'  | translate}}
                                    </label>
                                    <div class="pur-ordr-num">
                                    <div class="row">
                                        <div class="col-sm-6 col-md-6">
                                            <div class="form-inline">
                                                <div class="form-group" data-ng-class="{ 'has-error' : prevOrdrForm.priNum.$invalid && !prevOrdrForm.priNum.$pristine }">
                                                    <label class="label-txt" for="priNum">{{ 'PREVIEWORDER.PRIMARY_NUM'  | translate}} <span style="color:red" class="madatoryStar">{{'SHIPADDR.MANDATORY' | translate}}</span>:</label>
                                                    
                                                    <input type="text" class="form-control" id="priNum" ng-model="preview.primaryNo" maxlength="10" data-ng-pattern="/^\s*([0-9a-zA-Z]+)\s*$/" name="priNum" placeholder="Enter Primary Number" required>
                                                    <p ng-show="prevOrdrForm.priNum.$error.pattern || (prevOrdrForm.priNum.$invalid && !prevOrdrForm.priNum.$pristine)" class="help-block text-right">Please enter a valid PO number</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-6 col-md-6">
                                            <div class="form-inline">
                                                <div class="form-group" data-ng-class="{ 'has-error' : prevOrdrForm.secNum.$invalid && !prevOrdrForm.secNum.$pristine }">
                                                    <label class="label-txt" for="secNum">{{ 'PREVIEWORDER.SECONDARY_NUM'  | translate}}  :</label>
                                                    <input type="text" maxlength="10" class="form-control" id="secNum" name="secNum" data-ng-pattern="/^\s*([0-9a-zA-Z]+)\s*$/" ng-model="preview.secondaryNo" placeholder="Enter Secondary Number">
                                                     <p ng-show="prevOrdrForm.secNum.$error.pattern || (prevOrdrForm.secNum.$invalid && !prevOrdrForm.secNum.$pristine)" class="help-block text-right">Please enter a valid SO number</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    </div>
                                </div>
                            </div>
                        </div> -->
                    </form>
                </div>
            </div>

            <div class="order-summary-wrapper posFixed col-md-2" id="ad-section1" data-ng-class="{'affix-ads':ormgt.stickyAd === true}">
                <h5 class="label-txt">{{preview.orderTypeSummary}}{{ 'PREVIEWORDER.ORDER_SUMMARY'  | translate}}</h5>
                <a href="">
                    <div class="bg-default-bg">
                        <div class="row littlegap">
                            <div class="col-sm-7 part-ipad">
                                <p>{{ 'PREVIEWORDER.NUM_OF_PARTS'  | translate}}</p>
                            </div>
                            <div class="col-sm-5  Qty part-val-ipad">{{preview.noOfParts}}</div>
                        </div>
                        <div class="row bottom-line-wrap" data-ng-if="preview.userPermissionsList.CheckPrice">
                            <div class="bottom-line">
                                <hr> </div>
                        </div>
                        <div class="row littlegap">
                            <div class="col-sm-7 qty-ipad">
                                <p>{{'expresscheckout.TOTALORDERQTY' | translate}}</p>
                            </div>
                            <div class="col-sm-5  Qty qty-val-ipad">{{preview.totalOrderQTY}}</div>
                        </div>
                        <div class="row bottom-line-wrap" data-ng-if="preview.userPermissionsList.CheckPrice">
                            <div class="bottom-line">
                                <hr> </div>
                        </div>
                        <div class="row littlegap">
                            <div class="col-sm-7 tot-weight">
                                <p>{{ 'PREVIEWORDER.TOTAL_WEIGHT'  | translate}}</p>
                            </div>
                            <!-- <div class="col-sm-5  Qty">{{preview.totWgtOfPartsInKg | number : 0}}</div> -->
                            <div class="col-sm-5  Qty tot-val-weight" data-ng-if="preview.totWgtOfPartsInKg">{{preview.totWgtOfPartsInKg | number : 0}}</div>
                        </div>
                        <div class="row bottom-line-wrap" data-ng-if="preview.userPermissionsList.CheckPrice">
                            <div class="bottom-line">
                                <hr> </div>
                        </div>
                        <div class="row littlegap" data-ng-if="preview.userPermissionsList.CheckPrice">
                            <div class="order-total">
                                <p>{{ 'PREVIEWORDER.ORDER_TOTAL'  | translate}}</p>
                            </div>
                            <div class="total-Qty">USD <span>{{preview.sumOfTotal | currency:""}}</span></div>
                        </div>
                    </div>
                </a>
                <button  class="btn btn-block btn-app btn-app-success" data-ng-if="preview.userPermissionsList.CreateOrder" data-ng-click="preview.placeOrder(prevOrdrForm1)">{{ 'PREVIEWORDER.PLACE_ORDER'  | translate}}

                <!-- <button  class="btn btn-block btn-app btn-app-success" data-ng-if="preview.userPermissionsList.CreateOrder" data-ng-click="preview.placeOrder()" data-ng-disabled="(preview.selectedCarrier == null || preview.selectedCarrier == undefined || preview.selectedShippingMethod.name == 'Select' || preview.selectedShippingMethod.name == null || preview.selectedShippingMethod.name == undefined || preview.selectedShippingMethod.name == 'Select' || preview.primaryNo == null || preview.primaryNo == undefined || preview.primaryNo == '' || preview.advSrchRsltAddress == null || preview.advSrchRsltAddress == undefined || preview.advSrchRsltAddress== '')">{{ 'PREVIEWORDER.PLACE_ORDER'  | translate}}  -->

                </button>
                <a href="/">
                <button  class="btn-block cont-shopping">{{ 'PREVIEWORDER.CONT_SHOPPING'  | translate}} 
                </button>
                </a>
                <button class="btn btn-block go-to-cart" ng-click="preview.go()">{{ 'PREVIEWORDER.EDIT_ORDR_LIST'  | translate}} </button>
        </div>
    </div>
    <!--<div class="down-border"></div>-->
    <div class="container-fluid footer-part">
        <div class="row">
            <div class="form-group">
                <span>{{ 'PREVIEWORDER.APRROVALMSGFROMDANA'  | translate}}</span><span class="bold-val"> {{ 'PREVIEWORDER.CS_NUM'  | translate}} </span><span> {{ 'PREVIEWORDER.OR'  | translate}} </span><span class="bold-val"> {{ 'PREVIEWORDER.CONTACT_EMAIL'  | translate}}</span>
                <!--<p class="text-danger"> <span>{{ 'PREVIEWORDER.APRROVALMSGFROMDANA'  | translate}}</span></p>
                <p class="text-default">{{ 'PREVIEWORDER.EMAILACKNWMSG'  | translate}} 
                    {{ 'PREVIEWORDER.CONTACTCUSTOMERSRV'  | translate}} 
                    <span>{{ 'PREVIEWORDER.CS_NUM'  | translate}}</span>
                     {{ 'PREVIEWORDER.OR'  | translate}} 
                     <a> {{ 'PLACEORDER.DANANORTHAMARICADCDEMAILID' | translate}}</a>
                </p>-->
            </div>
        </div>
        <div class="row order-placed-row disclaimer">
            <div class="col-md-10 message">
                <!--<span class="disclaimer-text">{{ 'ERRORMSG.DISCLAIMER'  | translate}} </span>-->
                <!--<span>{{'ORDERMGMT.HELPMSGTOCLINT1' | translate}}</span>-->
                <p class="headspace">
                    {{'ORDERMGMT.HELPMSGTOCLINT1' | translate}}
                </p>
            </div>
        </div>
    </div>
</div>
