<!-- Author: Manjesh Kumar -->

<div class="container-fluid previewOrder">
   
    <div class="container">
        <div class="row">
            <div class="col-sm-10 col-md-10">
                <div class="well well-md">
                    <div class="row forstRow">
                        <div class="col-md-6">
                            <div class="newPrevHdr">
                                abc
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="newPrevHdr">
                                de
                            </div>
                        </div>
                    </div>
                </div>
                <div class="well well-md">
                    <div class="row cust-info">
                        <div class="col-sm-6 col-md-4">
                            <div class="form-group">
                                <div class="pull-left cust-img" tooltip-placement="left" tooltip-class="preview-order-tooltip" uib-tooltip="{{preview.headerResult.soldTo.name}}">
                                    <img class="img-circle" src="https://placehold.it/100x100" alt="Generic placeholder image"width="50" height="50"> 
                                </div>
                                <div>
                                    <label class="label-txt">{{ 'PREVIEWORDER.CUSTOMERNAME'  | translate}}</label>
                                    <div class="">
                                        <span class="form-control-static">{{preview.headerResult.soldTo.name}}</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-8">
                            <div class="form-group">
                                <label class="label-txt">{{ 'PREVIEWORDER.MAILINGADDRESS'  | translate}}</label>
                                <p class="form-control-static">
                                    {{preview.soldToAddr}}
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="well well-md ship-to-add-well">
                    <div class="form-group">
                        <label class="label-txt">{{ 'PREVIEWORDER.SHIPPINGADDRESS'  | translate}} <span class="madatoryStar">{{'SHIPADDR.MANDATORY' | translate}}</span></label>
                        <a ng-show="preview.orderType == 'EMG'" class="advan-search-link" data-ng-if="preview.userPermissionsList.OverrideShipTo" ng-click="preview.addNewShipAddressPopUp()">  <span class="glyphicon glyphicon-plus"></span>{{ 'PREVIEWORDER.ADDNEWSHIPTOADDRESS'  | translate}}</a>
                        <a data-ng-click="preview.openAdvancedSearchPopUp()" class="advan-search-link pull-right" data-ng-if="preview.userPermissionsList.ChangeShipToAddress">{{ 'PREVIEWORDER.ADVANCEDSEARCH'  | translate}} <i class="fa fa-info-circle"></i></a>
                       
                        <div data-ng-if="preview.advSrchRsltAddress" uib-alert class="alert ship-to-address-txt" close="preview.closeAlert()">{{preview.advSrchRsltAddress}}</div>
                        <div data-ng-if="!preview.advSrchRsltAddress" class="alert alert-warning text-center alert-ship" role="alert"><strong><i class="glyphicon glyphicon-alert"></i>
                        {{ 'PREVIEWORDER.SHIPPINDADDWARN'  | translate}}</strong></div>
                    </div>
                </div>
                <div class="well well-md">
                    <div class="form-group">
                        <label class="label-txt">{{ 'PREVIEWORDER.BILLTOADDRESS'  | translate}}</label>
                        <input type="text" class="form-control" 
                        disabled="disabled" ng-model= "preview.billToAddr">
                    </div>
                </div>
                <div class="well well-md">
                    <div class="form-group">
                        <label class="label-txt">{{ 'PREVIEWORDER.EMAILADDRESS'  | translate}}</label>
                        <a class="add-email-lnk" data-ng-click="preview.addEmailDetailsToList()" href=""><i class="glyphicon glyphicon-plus"></i> {{ 'PREVIEWORDER.ADDEMAIL'  | translate}} </a>
                        <div class="email-list-container">
                            <!-- <form name="emailForm" class="email-container" data-ng-repeat="emailId in preview.emailDetailsList track by $index" novalidate>
                                <input type="checkbox" data-ng-value="preview.emailDetailsList[$index]" name="emailList" data-ng-model="preview.selectedEmailId" data-ng-disabled="emailForm.fEmail.$invalid"/>
                                <input type="email" name="fEmail" ng-pattern="/^[a-z]+[a-z0-9._]+@[a-z]+\.[a-z.]{1,5}$/" data-ng-disabled="preview.selectedEmailId == preview.emailDetailsList[$index]" data-ng-class="{ 'red-border':emailForm.fEmail.$touched && emailForm.fEmail.$invalid }" data-ng-model="preview.emailDetailsList[$index]" placeholder="xyz@abc.com" required />
                                <span aria-hidden="true" data-ng-click="preview.removeEmailDetails($index)" data-ng-if="preview.selectedEmailId != preview.emailDetailsList[$index]">
                                    <img src="assets/images/icon-cross-google-search-bar.png">
                                </span>
                            </form> -->
                            <form name="emailForm" class="email-container" data-ng-repeat="emailId in preview.emailDetailsListObj track by $index" novalidate>
                                <input type="checkbox" name="emailList" data-ng-model="emailId.select"/>
                                <input type="email" name="fEmail" ng-pattern="/^[a-z]+[a-z0-9._]+@[a-z]+\.[a-z.]{1,5}$/" data-ng-model="emailId.name" placeholder="xyz@abc.com" data-ng-class="{ 'red-border':emailForm.fEmail.$touched && emailForm.fEmail.$invalid }" required />
                                <span aria-hidden="true" data-ng-click="preview.removeEmailDetails($index)">
                                    <img src="assets/images/icon-cross-google-search-bar.png">
                                </span>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="well well-md">
                    <form name="prevOrdrForm" novalidate>                    
                        <div class="row shipng-method-carr">
                            <div class="col-sm-6 col-md-6">
                                <div class="form-group">
                                    <label class="label-txt">{{ 'PREVIEWORDER.CARRIER'  | translate}} <span class="madatoryStar">{{'SHIPADDR.MANDATORY' | translate}}</span></label>
                                    <div class="row">
                                        <div class="col-sm-11 col-md-11">
                                            <div class="btn-group " uib-dropdown>
                                                <button id="btn-append-to-single-button" type="button" class="btn btn-default btn-ddl " data-ng-class="{'error-field': !preview.isCarrierPristine && (preview.selectedCarrier == null || preview.selectedCarrier == undefined ||preview.selectedCarrier == 'Select')}" uib-dropdown-toggle>
                                                    <span class="text-left">{{preview.selectedShippingCarrier.name}}</span>
                                                    <span class="glyphicon glyphicon-menu-down pull-right"></span>
                                                </button>
                                                <ul class="dropdown-menu dropdown-menu-onddl" uib-dropdown-menu role="menu" aria-labelledby="btn-append-to-single-button">
                                                    <li role="menuitem" data-ng-repeat="carrier in preview.carrierList track by $index" data-ng-click="preview.onChangeOfCarrier(carrier)"><a href="#">{{carrier.name}}</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 col-md-6">
                                <div class="form-group">
                                    <label class="label-txt">{{ 'PREVIEWORDER.SHIPPINGMETHOD'  | translate}} <span class="madatoryStar">{{'SHIPADDR.MANDATORY' | translate}}</span></label>
                                    <div class="row">
                                        <div class="col-sm-11 col-md-11">
                                            <div class="btn-group " uib-dropdown>
                                                <button id="btn-append-to-single-button" type="button" class="btn btn-default btn-ddl " data-ng-class="{'error-field': !preview.isShipMethodPristine && (preview.selectedShippingMethod.name == null || preview.selectedShippingMethod.name == undefined || preview.selectedShippingMethod.name == 'Select')}" uib-dropdown-toggle>
                                                    <span class="text-left">{{preview.selectedShippingMethod.name}}</span>
                                                    <span class="glyphicon glyphicon-menu-down pull-right"></span>
                                                </button>
                                                <ul class="dropdown-menu dropdown-menu-onddl" uib-dropdown-menu role="menu" aria-labelledby="btn-append-to-single-button">
                                                    <li role="menuitem" data-ng-repeat="shippingMethod in preview.shippingMethodList" data-ng-click="preview.onChangeOfShippingMethod(shippingMethod)"><a href="#">{{shippingMethod.name}}</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row" ng-show="preview.orderType == 'STK'">
                            <div class="col-sm-12 col-md-12">
                                <div class="form-group">
                                    <label class="label-txt">{{ 'PREVIEWORDER.SHIPPINGDATE'  | translate}} <span class="madatoryStar">{{'SHIPADDR.MANDATORY' | translate}}</span></label>
                                    <div class="previewfieldempty">
                                        <div class="row">
                                            <div class="col-sm-4 col-md-4">
                                                <p class="input-group date-wrapper">
                                                <input type="text" class="form-control date-txt" show-button-bar="false" uib-datepicker-popup="{{preview.format}}" ng-model="preview.shipToDate" ng-change="preview.compareDate()" is-open="preview.opened" datepicker-options="preview.dateOptions" popup-placement="bottom-left" ng-required="true" close-text="Close" alt-input-formats="altInputFormats" />
                                                <span class="input-group-btn">
                                                    <button type="button" class="btn btn-default btn-calender" ng-click="preview.open2()"><i class="glyphicon glyphicon-calendar"></i></button>
                                                </span>
                                            </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row shipng-instsn-row">
                            <div class="col-sm-12 col-md-12">
                                <div class="form-group">
                                    <label class="label-txt">{{ 'PREVIEWORDER.SHIPPINGINSTRUCTION'  | translate}}</label>
                                    <textarea class="form-control" ng-model="preview.instruction" placeholder="Add Shipping Instructions" maxlength="132"></textarea>
                                </div>
                            </div>
                        </div>
                        <!--<div class="down-dashed-border"></div>-->
                        <div class="row pur-ordr-num-sec">
                            <div class="col-sm-12 col-md-12">
                                <div class="form-group">
                                    <label class="label-txt">{{ 'PREVIEWORDER.PURCHAGE_ORDR_NUM'  | translate}}
                                    </label>
                                    <div class="pur-ordr-num">
                                    <div class="row">
                                        <div class="col-sm-6 col-md-6">
                                            <div class="form-inline">
                                                <div class="form-group" data-ng-class="{ 'has-error' : prevOrdrForm.priNum.$invalid && !prevOrdrForm.priNum.$pristine }">
                                                    <label class="label-txt" for="priNum">{{ 'PREVIEWORDER.PRIMARY_NUM'  | translate}} <span style="color:red" class="madatoryStar">{{'SHIPADDR.MANDATORY' | translate}}</span>:</label>
                                                    
                                                    <input type="text" class="form-control" id="priNum" ng-model="preview.primaryNo" maxlength="10" data-ng-pattern="/^\s*([0-9a-zA-Z]+)\s*$/" name="priNum" placeholder="Enter Primary Number" required>
                                                    <p ng-show="prevOrdrForm.priNum.$error.pattern || (prevOrdrForm.priNum.$invalid && !prevOrdrForm.priNum.$pristine)" class="help-block text-right">Please enter a valid PO number</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-6 col-md-6">
                                            <div class="form-inline">
                                                <div class="form-group" data-ng-class="{ 'has-error' : prevOrdrForm.secNum.$invalid && !prevOrdrForm.secNum.$pristine }">
                                                    <label class="label-txt" for="secNum">{{ 'PREVIEWORDER.SECONDARY_NUM'  | translate}}  :</label>
                                                    <input type="text" maxlength="10" class="form-control" id="secNum" name="secNum" data-ng-pattern="/^\s*([0-9a-zA-Z]+)\s*$/" ng-model="preview.secondaryNo" placeholder="Enter Secondary Number">
                                                     <p ng-show="prevOrdrForm.secNum.$error.pattern || (prevOrdrForm.secNum.$invalid && !prevOrdrForm.secNum.$pristine)" class="help-block text-right">Please enter a valid SO number</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-sm-2 order-summary-wrapper">
                <h5 class="label-txt">{{preview.orderTypeSummary}}{{ 'PREVIEWORDER.ORDER_SUMMARY'  | translate}}</h5>
                <a href="">
                    <div class="bg-default-bg">
                        <div class="row littlegap">
                            <div class="col-sm-7">
                                <p>{{ 'PREVIEWORDER.NUM_OF_PARTS'  | translate}}</p>
                            </div>
                            <div class="col-sm-5  Qty">{{preview.noOfParts}}</div>
                        </div>
                        <div class="row" data-ng-if="preview.userPermissionsList.CheckPrice">
                            <div class="col-sm-12">
                                <hr> </div>
                        </div>
                        <div class="row littlegap" data-ng-if="preview.userPermissionsList.CheckPrice">
                            <div class="col-sm-5">
                                <p>{{ 'PREVIEWORDER.ORDER_TOTAL'  | translate}}(USD)</p>
                            </div>
                            <div class="col-sm-7  Qty">{{preview.sumOfTotal | currency:""}}</div>
                        </div>
                    </div>
                </a>
                <br>
                <button  class="btn btn-block btn-app btn-app-success" data-ng-if="preview.userPermissionsList.CreateOrder" data-ng-click="preview.placeOrder()" data-ng-disabled="(preview.selectedCarrier == null || preview.selectedCarrier == undefined || preview.selectedShippingMethod.name == 'Select' || preview.selectedShippingMethod.name == null || preview.selectedShippingMethod.name == undefined || preview.selectedShippingMethod.name == 'Select' || preview.primaryNo == null || preview.primaryNo == undefined || preview.primaryNo == '' || preview.advSrchRsltAddress == null || preview.advSrchRsltAddress == undefined || preview.advSrchRsltAddress== '')">{{ 'PREVIEWORDER.PLACE_ORDER'  | translate}} <i class="fa fa-arrow-circle-right pull-right" aria-hidden="true"></i></button>
                <br>
                 
                <div class="bg-default-bg edit-ordr-lst">
                    <div class="row littlegap" data-ng-if="preview.userPermissionsList.UpdateCart">
                        <div class="col-sm-12 col-md-12 text-center">
                            <button class="btn btn-block btn-app btn-app-primary btn-app-sm" ng-click="preview.go()">{{ 'PREVIEWORDER.EDIT_ORDR_LIST'  | translate}} </button>
                        </div>

                        <div class="row ordr-item" ng-repeat="obj in preview.checkoutData">
                            <div class="col-md-5"><span class="ordr-num">{{obj.partNo}}</span></div>
                            <div class="col-md-7"><span  href="" class="ordr-item-name">{{obj.partName}}</span></div>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="down-border"></div>
    <div class="container">
        <div class="row">
            <div class="form-group">
                <p class="text-danger"> <strong>{{ 'PREVIEWORDER.APRROVALMSGFROMDANA'  | translate}}</strong></p>
                <p class="text-default">{{ 'PREVIEWORDER.EMAILACKNWMSG'  | translate}} 
                    <br> {{ 'PREVIEWORDER.CONTACTCUSTOMERSRV'  | translate}} <a><strong> {{ 'PLACEORDER.DANANORTHAMARICADCDEMAILID' | translate}}</strong></a>
                </p>
            </div>
        </div>
    </div>
</div>


