.previewOrder {
    padding-top: 90px;
    margin-top: 0px;
    background: #EEEEEE;
    .posFixed{
        position:fixed;
        right:10px;
    }
    .custom-loader{
        width: 100%;
        height: 100%;
        position: fixed;
        z-index: 3000;
        margin: 0 auto;
        text-align: center;
        opacity: 0.7;
        background: #ffffff;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
        .img-wrapper{
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            width: 100%;
            height: 100%;
            img{
                width: 40px;
                height: 40px;
                position: relative;
                top: 50%;
                margin-top: -20px;
            }
        }
    }
    .btn-ddl.disable-dropdown{
        background: #d4d4d4;
        pointer-events: none;
        cursor: none;
    }
    .preview-order-content{
    margin-top: 26px;
    }
    .forstRow{
        .newPrevHdr{
            height: 50px;
            background-color: #fcfcfc;
        }
    }
    .check{
        width: 100%;
        display: inline-flex;
        .sold-to{ 
            border-radius: 3px;   
            box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075);
            min-height: 100px;
            background-color: #fff;
            margin-bottom: 10px;
            width: 49.5%;
            .first-line{
                border-top-right-radius: 3px;
                border-top-left-radius: 3px;
                background-color: #fcfcfc;
                height: 42px;
                border-bottom: 1px solid #ebebeb;
                p {
                    font-size: 12px;
                    color: #7f7f7f;
                    font-weight: 700;    
                    padding-top: 13px;
                    padding-bottom: 13px;
                    padding-left: 15px;
                }
            }
            .bottom-content{
                background-color: #fff;
                border-bottom-left-radius: 3px;
                border-bottom-right-radius: 3px;
                .title{
                    font-weight: 700;
                    color: #545454;
                    font-size: 14px;
                }
                p{
                    font-size: 14px;
                    color: #545454;
                    width: 65%;    
                    margin: 0 0 0px;
                }
                padding: 20px 0px 20px 25px;
            }
        }
        .ship-to{    
            box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075);
            border-radius: 3px;
            min-height: 100px;
            background-color: #fff;
            margin-bottom: 10px;
            width: 49.5%;
            margin-left: 10px;
            .first-line{
                border-top-right-radius: 3px;
                border-top-left-radius: 3px;
                background-color: #fcfcfc;
                height: 42px;
                border-bottom: 1px solid #ebebeb;
                p {
                    font-size: 12px;
                    color: #7f7f7f;
                    font-weight: 700;    
                    padding-top: 13px;
                    padding-bottom: 13px;
                    padding-left: 15px;
                }
            }
            .bottom-content{
                border-bottom-right-radius: 3px;
                border-bottom-left-radius: 3px;
                background-color: #fff;
                .title{
                    font-weight: 700;
                    color: #545454;
                    font-size: 14px;
                }
                .alter-ship-to{
                    margin-right: 20px;
                    a{
                        color: $active_link_color;
                        float: right;
                        font-size: 11px;
                        margin-right: 20px;
                        font-weight:700;
                    }
                }
                p{
                    font-size: 14px;
                    color: #545454;
                    width: 65%;
                    margin: 0 0 0px;
                }    
                padding: 20px 0px 20px 25px;
            }
        }
        .bill-to{
            box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075);
            border-radius: 3px;
            min-height: 100px;
            background-color: #fff;
            margin-bottom: 10px;
            width: 49.5%;
            margin-left: 10px;
            .first-line{
                border-top-right-radius: 3px;
                border-top-left-radius: 3px;
                background-color: #fcfcfc;
                height: 42px;
                border-bottom: 1px solid #ebebeb;
                p {
                    font-size: 12px;
                    color: #7f7f7f;
                    font-weight: 700;    
                    padding-top: 13px;
                    padding-bottom: 13px;
                    padding-left: 15px;
                }
            }
            .bottom-content{
                border-bottom-right-radius: 3px;
                border-bottom-left-radius: 3px;
                background-color: #fff;
                .title{
                    font-weight: 700;
                    color: #545454;
                    font-size: 14px;
                }
                .alter-ship-to{
                    margin-right: 20px;
                    a{
                        color: $active_link_color;
                        float: right;
                        font-size: 11px;
                        margin-right: 20px;
                        font-weight:700;
                    }
                }
                p{
                    font-size: 14px;
                    color: #545454;
                    width: 65%;
                    margin: 0 0 0px;
                }    
                padding: 20px 0px 20px 25px;
            }
        }
    }
    .shipping-date-cal{
        .form-group{
            margin-bottom: 0px;
            .shipping-cal{
                display: inline-flex;
                label{
                    padding: 6px 0px 0px 15px;
                    font-weight: 600;
                    color: #7f7f7f;
                }
                .previewfieldempty{
                    padding: 0px 0px 0px 15px;
                    width: 35%;
                    p{
                        input{
                            color: #545454 !important;
                            font-size: 14px;    
                            border: 1px solid #d7d7d7;
                            border-bottom-left-radius: 3px;
                            border-top-left-radius: 3px;
                            box-shadow: inset 0 0px 0px rgba(0, 0, 0, 0.0)
                        }
                        .input-group-btn{
                            button{
                                border-top-right-radius: 3px;
                                border-bottom-right-radius: 3px;
                            }
                        }
                    }
                }
            }
            .ship-complete{
                text-align: center;
                font-size: 12px;
                font-weight:600; 
                color: #7f7f7f; 
                margin-bottom: 10px;
                label{
                    padding-top: 7px;
                    font-weight:600;
                }
                .ship-complete-input{  
                    input{
                        vertical-align: middle;
                        margin-left: 20px;
                        margin-right: 5px;
                    }
                    input[type='radio']:checked:before{
                        background: transparent;
                        border:none;
                    }
                    label{
                        vertical-align: middle;
                    }
                }
            }
            .eo-ship-complete{
                margin-bottom: 12px;
                margin-left: 15px;
            }
            .exlamation{
                position: relative;
                padding-left: 17px;
                line-height: 1;
                i{
                    position: absolute;
                    left:0;
                    top: 5px;
                    font-size:13px;
                    color: #6e6e6e;
                }
                span{
                    font-size: 10px;
                    font-family: $app_font_family;
                    font-weight: 600;
                    color: #6e6e6e;
                }
            }
        }
    }
    .bill-to-address{
        margin-bottom: 10px;
        background-color: #fcfcfc;
        border-radius: 3px;
        box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075);
        .form-group{
            margin-bottom:0px;
        }
        .heading{
            height: 42px;
            border-bottom: 1px solid #ebebeb;
            label{
                font-size: 12px;
                color: #7f7f7f;
                width: 100%;
                height: 30px;
                padding: 13px 0px 13px 15px;
                width: 100%;
                font-weight: 700;
            }
        }
        .prev-ordr-form{
            border-bottom-right-radius: 3px;
            border-bottom-left-radius: 3px;
            background-color: #fff;
            padding: 10px 0px 10px 25px;
            .shipng-method-carr{
                .carrier-account-input{
                    input{
                        font-size: 14px;
                        color: #545454;
                        padding-left: 10px;
                        width: 219px;
                        height: 34px;
                        border-radius: 3px;
                        border: 1px solid #d7d7d7;
                    }
                }
                .freight-handling{
                    padding-left: 45px;
                }
                .label-txt{
                color: #8a8a8a;
                padding-left: 5px;
                }
                .form-group{
                    .label-txt{
                        color: #8a8a8a;
                        padding-left: 5px;
                    }
                    .dropdown{
                        width: 353px;
                        button{
                            border-radius: 3px;
                            padding: 6px 6px 10px 10px;
                            .text-left{
                                color: #545454;
                                vertical-align: top;
                                font-weight: 400;
                            }
                            .glyphicon-menu-down{
                                padding-top: 3px;
                                color: #0093c6;
                                padding-right: 6px;
                                font-size: 10px;
                            }
                            height: 34px;
                            border: 1px solid #d7d7d7;
                        }
                        .eo-ship-specify{
                            background-color: #eff0f1; 
                            border: 1px solid #d7d7d7;
                            span{
                                color: #545454;
                            }   
                        }
                    }
                    [uib-dropdown]{
                        span{
                            .text-left{
                                font-weight: 600;
                                font-size: 13px;
                            }
                        }
                    }

                }
            }
            .info-message{
                padding: 10px 0px 0px 10px;
                i{
                    color: #6e6e6e; 
                    font-size: 14px; 
                }
                span{
                    padding-left: 10px;
                    font-size: 12px;
                    font-weight: 600;
                    color: #7f7f7f;
                }
            }
            .shipng-instsn-row{
                margin-top: 15px;
                margin-bottom: 20px;
                .form-group{
                .label-txt{
                    color: #8a8a8a;
                    padding-left: 5px;
                }
                    textarea{
                    border-radius: 3px;
                        font-size: 12px;
                        font-weight: 600;
                        color: #555555;
                        padding-left: 19px;
                    }
                }
            }
        }
        .pur-ordr-input{
            border-bottom-right-radius: 3px;
            border-bottom-left-radius: 3px;
            background-color: #fff;
            .pon-container{
                border-bottom-right-radius: 3px;
                border-bottom-left-radius: 3px;
                background-color: #fff;
                margin: 0px;
                padding: 10px 0px 10px 0px;
                .primary_num{
                    padding: 10px 0px 10px 15px;
                    label{
                        color: #7f7f7f;
                        padding-right: 10px;
                    }
                    input{
                        width: 263px;
                        font-size:  13px;  
                        font-size: 14px;
                        color: #555555 !important;
                        height: 32px;
                    }
                }
                .sec_num{
                    padding: 10px 0px 10px 40px;
                    label{
                        color: #7f7f7f;
                        padding-right: 10px;
                    }
                    input{
                        width: 263px;  
                        font-size: 14px;
                        color: #555555 !important;
                        height: 32px;
                    }
                }
                .form-group{
                    input{
                        border-radius: 3px;
                        font-size:  13px;
                        border: 1px solid #d7d7d7;
                        box-shadow: inset 0 0px 0px rgba(0, 0, 0, 0);
                    }
                }
            }
        }
        .address-part{
            border-bottom-right-radius: 3px;
            border-bottom-left-radius: 3px;
            background-color: #fff;
            font-size: 14px;
            font-weight: 600;
            color: #787878;
            min-height: 50px;
            padding: 15px 0px 10px 6px;
            p{
                padding-left: 19px;
            }
        }
        .email-list-container{
            border-bottom-right-radius: 3px;
            border-bottom-left-radius: 3px;
            background-color: #fff;
            padding-left: 25px; 
            min-height: 50px;
            padding-top: 15px;
            padding-bottom: 10px;
            .email-container{
                input{
                    color: #a7a7a7 !important;
                    font-size: 13px !important;

                }
                .checkbox-label{
                    position: absolute;
                    padding-top: 9px;
                    padding-left: 8px;
                    .fa-check-square, .fa-square-o{
                        color: #0093c6;
                        font-size: 15px;
                    }
                    .disabled{
                        color: #b5b5b5;
                    }
                }
            }
        }
    }
    .font-weight {
        font-weight: 600;
        .fa-info-circle{
            color: #6e6e6e;
        }
    }

    .well{
        background-color: #ffffff;
        border: 1px solid #fff;
        border-radius: 3px;
        .error-field{
            border-color: #ff8a00;
            color: #ff8a00;
        }
    }
    .alert{
        margin-bottom: 0;
        /* height: 37px; */
        background: #e3e3e3;
        font-size: 14px;
        font-weight: 600;
        color: #555555;
        line-height: 37px;
        padding: 0 10px;
        border: 0;
    }
    .madatoryStar{
        color: #f00;
        font-weight: 600;
    }
    .alert-dismissable .close, .alert-dismissible .close {
        top: 7px;
        right: 0;
    }
    .bg-default {
        border: 1px solid #ddd;
        border-radius: 3px;
        padding: 4px 15px;
        text-transform: uppercase;
        .fa {
            font-size: 14px;
            margin-left: 2px;
            font-weight: 500;
            margin-right: 10px;
        }
        .fa-arrow-circle-o-left {
            color: #c2c2c2;
        }
        .revertcart {
            margin-left: 10px;
        }
    }
    a {
        text-decoration: none;
        &:hover {
            text-decoration: none;
        }
    }
    a:focus{
        outline: none;
    }
    .down-border {
        border-top: 1px solid #c2c2c2;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .down-dashed-border {
        border-top: 2px dashed #c2c2c2;
        margin-top: 10px;
        margin-bottom: 20px;
    }
    .label-txt{
        color: #A7A6A7;
        font-size: 12px;
        font-weight: 600;
    }
    .inputIndex{
        z-index: 0;
    }
    .br-l-4{
        border-top-left-radius: 4px;
        border-bottom-left-radius: 4px;
    }
    .br-r-4{
        border-top-right-radius: 4px !important;
        border-bottom-right-radius: 4px !important;
    }
    .br-4{
        border: 4px;
    }
    .btn-app{
        height: 37px;
        font-weight: 600;
        font-size: 13px;
        border-radius: 3px;
        text-transform: uppercase;
        outline: 0;
        line-height: 16px;
    }
    .btn-app:focus, .btn-app.focus, .btn-app:active:focus, .btn-app:active.focus, .btn-app.active:focus, .btn-app.active.focus {
        outline: 0;
    }
    .btn-app-primary{
        background-color: $btn_primary_bgcolor;
        border-color: $btn_primary_border_color;
        color: #fff;
    }
    .btn-app-primary:focus, .btn-app-primary.focus, .btn-app-primary:hover {
        background-color: $btn_primary_focus_bgcolor;
        border-color: $btn_primary_focus_border_color;
        color: #fff;
    }
    .btn-app-sm{
        font-size: 11px;
        line-height: 11px;
        font-weight: 600;
        height: 24px;
        padding: 2px 12px;
    }
    .btn-app-success{
        margin-bottom: 10px;
        margin-top: 10px;
        background-color: #3FB300;
        border-color: #3FB300;
        color: #fff;
    }
    .btn-app-success:focus, .btn-app-success.focus, .btn-app-success:hover {
        background-color: #369900;
        border-color: #369900;
        color: #fff;
    }
    .cont-shopping{
        font-weight: 600;
        margin-bottom: 10px;
        border: 2px solid #363636;
        height: 37px;
        background: transparent;
        border-radius: 3px;
        font-size: 14px;
        color: #363636;
    }
    .go-to-cart{
        font-weight: 600;
        margin-bottom: 30px;
        border: 2px solid #363636;
        height: 37px;
        background: transparent;
        border-radius: 3px;
        font-size: 14px;
        color: #363636;
    }
    .btn.btn-preview-order{
        padding: 10px 15px;
        border-radius: 3px;
        color: white;
        background-color: #5e9702;
        text-transform: uppercase;
        font-weight: 700;
        border-color: #5e9702;
        text-align: left;
        i{
            position: relative;
            top: 3px;
        }
    }
    input.date-txt{
        pointer-events: none;
        cursor: not-allowed;
        font-weight: 600;
        color: black !important;
    }
    .has-error{
        .help-block{
            text-align: right;
            font-weight: 600;
            font-size: 12px;
            color: #ff8a00;
        }
        .form-control{
            border-color: #ff8a00;
        }
    }
    .email-list-container{
        .email-container{
            //width: 45%;
            input[type="email"]{
                padding: 6px 24px;
                border-radius: 3px;
                border: 1px solid #d7d7d7;
                box-shadow: none;
                font-size: 14px;
                width: 100%;
                background-color: #fff;
            }
            input[type="email"].disable-email-field{
                border: none;
                background: #ffffff;
                border: 2px solid #ffffff;
                outline: none;
                color: #333 !important;
                width: auto;
            }
            input[type="email"].red-border{
                border: 2px solid #FF0000;
            }
            input[type="radio"]{
                position: absolute;
                top: 8px;
                left: 7px;
            }
            span{
                position: absolute;
                right: 4px;
                top: 5px;
                font-size: 17px;
                color: #666666;
                img{
                    vertical-align: top;
                }
            }
            span:hover{
                cursor: pointer;
            }
        }
        .email-container{
            position: relative;
            display: inline-block;
            margin-right: 15px;
            margin-bottom: 5px;
            input[type="checkbox"]{
                position: absolute;
                left: 8px;
                top: 8px;
            }
        }
    }
    a.add-email-lnk{
        font-weight: 600;
        font-size: 11px;
        text-transform: uppercase;
        color: $active_link_color;
    }
    .cust-info{
        .form-control-static{
            color: #3C2B27;
            font-size: 14px;
            font-weight: bold;
            padding-top: 0;
            margin-top: 0;
        }
        .form-group{
            margin-bottom: 0;
        }
        .cust-img{
            margin-right: 10px;
        }
    }
    .ship-to-add-well{
        .alert{
            margin-top: 3px;
        }
        .close{
            span{
                font-size: 33px;
                font-weight: 300;
                position: relative;
                bottom: 4px;
            }
            span.sr-only{
                display: none;
            }
        }
    }
    .advan-search-link{
            font-weight: bold;
            font-size: 11px;
            top: 2px;
            position: relative;
            text-transform: uppercase;
            .fa-info-circle{
                color: #6e6e6e;
                font-size: 13px;
            }
    }
    .advan-search-link:hover{
        color: #23527c;
        cursor: pointer;
    }
    .alert.alert-ship{
        color: #FF9900;
        border-color: #FF9900;
        font-size: 14px;
        background: #fff;
        margin-top: 3px;
        border: 1px solid;
        .glyphicon-alert{
            margin-right: 10px;
        }
    }
    .pur-ordr-num-sec
        .glyphicon-question-sign{
            top: 3px;
            left: 3px;
            font-size: 14px;
        }
    .pur-ordr-num{
        border: 1px solid #c5c5c5;
         padding: 10px;
        border-radius: 5px;
        margin-bottom: 50px;
        input{
            border-radius: 5px;
        }
    }
    .shipng-method-carr{
        .btn-group{
            width: 100%;
        }
    }
    .shipng-instsn-row{
        margin-bottom: 30px;
        .form-group{
            textarea{
                width: 97%;    
                box-shadow: inset 0 0px 0px rgba(0, 0, 0, 0);
            }

        }
    }
    .bg-primary {
        padding: 4px 20px;
        border-radius: 3px;
    }
    .bg-success {
        padding: 4px 15px;
        border-radius: 3px;
        color: white;
        background-color: #5e9702;
        a{
             color: white;
             &:hover,&:focus{
                color: white;
             }

        }
    }
    .checkout {
        margin-right: 30px;
        text-transform: uppercase;
    }
    .cancel {
        color: #c2c2c2;
        margin-right: 62px;
    }
    .fa-times-circle {
        color: #555;
    }
    .order-summary-wrapper{
        > h5{
            padding-left: 5px;
            color: #777777;
            font-size: 14px;
            margin-top: 0;
        }
        padding-left: 0px;
    }
    .bg-default-bg {
        background-color: #ffffff;
        box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075);
        border-radius: 3px;
        padding: 4px 6px;
        color: #acacac;
        font-weight: 600;
        .littlegap {
            p{
                font-weight: 400;
                color: #939393;
            }
            .order-total {
                p{
                    font-weight: 700;
                    font-size: 12px;
                    color: #939393;
                }
                padding: 10px 0px 5px 10px;
            }
            .total-Qty{
                float: right;
                padding: 0px 10px 10px 10px;
                font-weight: 400;
                color: #646464;
                span{
                    font-size: 24px;
                    font-weight: 700;
                    color: #646464;
                }
            }
            padding: 2px 10px 0px 6px;
            .text-center{
                padding-right: 6px;
            }
            .order-item-wrapper{
                width: 98%;
                margin-left: 4px;
                //max-height: 200px;
                max-height:152px;
                overflow-x: hidden;
                overflow-y: auto;
                .order-item-name-wrap{
                font-size: 11px;
                }
                .order-num-wrap{
                }
            }
        }
        .bottom-line-wrap{
            .bottom-line{
                margin: auto;
                width: 88%;
            }
        }
        hr {
            margin-top: 0;
            margin-bottom: 5px;
            border-top: 1px solid #f1f1f1;
        }
        .Qty {
            font-weight: 700;
            color: #646464;
            text-align: right;
            font-size: 14px;
        }
    }
    .edit-ordr-lst{
        border: 1px solid #cccccc;
        background: transparent;
        //max-height: 242px;
        max-height: 200px;
        padding: 4px 0px 0px 0px;
        .btn-block{    
            width: 176px;
            margin: auto;
            height: 30px;
            font-size: 10px;
            font-weight: bold;
            border-radius: 3px;
            margin-bottom: 3px;
            margin-top: 6px;
        }
        .ordr-item{
            border-bottom: 1px solid #cccccc;
            width: 100%;
            margin-left: 0px; 
            .order-item-val{
                padding: 10px 12px 10px 12px;
                width: 100%;
                display: inline-flex;
                .order-num-wrap{
                    max-width: 50%;
                    .ordr-num{
                        color: #6e6e6e;
                        margin-right: 10px;
                        font-weight: 700;
                        font-size: 11px;
                    }
                }
                .ordr-item-name{
                    font-size: 11px;
                    font-weight: 700; 
                    color: #0093c6;   
                }
            }
            .bottom-line{
                hr{
                    border-top: 1px solid #cccccc;
                }
            }
        }
    }
    .previewfield {
        padding: 10px 20px;
        background-color: #ddd;
        border-radius: 5px;
        label{
            font-size: 14px;
        }
    }
    // .previewfieldempty {
    //     padding: 10px 20px;
    //     border-radius: 5px;
    //     border: 1px solid #ddd;
    // }
    .btn-ddl {
        width: 100%;
        border-radius: 5px;
        padding: 8px 20px;
        background-color: #fff;
        font-size: 15px;
    }
    .caret {
        margin-top: 8px;
        font-size: 20px;
    }
    .dropdown-menu-onddl {
        width: 100%;
        max-height: 200px;
        overflow-y: scroll;
    }
    [uib-dropdown] {
        .btn {
            text-align: left;
        }
        span.text-left{
            font-weight: 600;
            font-size: 14px;
        }
    }
    .dropdown-menu>li+li{
        border-top: 1px solid #e5e5e5;
    }
    .dropdown-menu>li>a{
        padding: 6px 20px;
    }
    .dropdown-menu{
        padding: 0;
    }
    // input[type=radio] {
    //     width: 18%;
    //     height: 1.3em;
    //     vertical-align: middle;
    //     padding-top: 0px;
    //     margin-right: 10px !important;
    //     &:hover,
    //     &:focus,
    //     &:checked,
    //     &:after {
    //         outline: none;
    //         box-shadow: none;
    //         background: #4CAF50 !important;
    //     }
    // }
    input[type='radio'] {
        // -webkit-appearance: none;
        width: 15px;
        height: 15px;
        border: 2px solid gray;
        border-radius: 50%;
        outline: none;
        box-shadow: none;
    }
    input[type='radio']:hover,
    input[type='radio']:focus {
        box-shadow: none;
        border: 2px solid green;
        border-radius: 25%;
    }
    input[type='radio']:before {
        content: '';
        display: block;
        width: 10px;
        height: 10px;
        margin: 2px auto;
        border-radius: 25%;
        // border: 1px solid green;
    }
    input[type='radio']:checked:before {
        background: green;
        border: 2px solid #5e9702;
        border-radius: 50%;
    }
    [placeholder] {
        font-weight: 600;
        color: black !important;
    }
    .dashedborder {
        border-top: 1px dashed #ddd;
    }
    .fa-check {
        margin-top: 7px;
        color: #4CAF50;
        font-size: 17px;
    }
    .fa-exclamation-triangle {
        color: #fa9602;
        margin-top: 7px;
    }
    textarea {
        resize: none;
    }
    .text-danger {
        margin: 0 0 2px;
        span{
            color:  #da0000;
            font-size: 12px;
            font-weight: 400;
        }
    }
    .text-default {
        font-size: 12px;
        font-weight: 400;
        color:#454545;
        span{
            font-weight: 600;
        }
        a{
            font-weight: 600;
        }
    }
    .btn-default{
        // padding-bottom: 7px;
        // -moz-padding-bottom: 7px;
    }
    .glyphicon-calendar{
        margin-bottom: 5px;
    }
    .footer-part{
        //margin-left: 10px;
        .form-group{
            color: #545454;
            margin-bottom: 0px;
            .bold-val{
                font-weight: 600;
            }
        }
        .disclaimer{
            color: #545454;
            margin-top:10px;
            .message{
                padding:0;
            }
            .disclaimer-text{
                font-weight: 600;
            }
        }
    }
}

/* Landscape mini, ipad 1&2, ipad 3&4*/
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (orientation: landscape) 
  and (-webkit-min-device-pixel-ratio: 1),
screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (orientation: landscape) 
  and (-webkit-min-device-pixel-ratio: 1),
screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (orientation: landscape) 
  and (-webkit-min-device-pixel-ratio: 2){
  .previewOrder{
    .bill-to-address{
        .heading{
            height: 60px;
        }
        .prev-ordr-form{ 
            .shipng-method-carr{ 
                .form-group{    
                    .dropdown{
                        width: 270px;
                    }
                }
                .carrier-account-input{ 
                    input{
                        width: 158px;
                    }
                }
            }
        }
    }
    .order-summary-wrapper {
        .label-txt{
            font-size: 11px;
        }
        .cont-shopping{
            font-size: 12px;
        }
        .bg-default-bg{
            .part-ipad{
                width: 100%;
                padding: 0px 0px 0px 5px;
            }
            .part-val-ipad{
                width: 100%;
                text-align: left;
                padding: 0px 0px 0px 5px;
                p{
                    text-align: left;
                }
            }
            .qty-ipad{
                width: 100%;
                padding: 0px 0px 0px 5px;
            }
            .qty-val-ipad{
                width: 100%;
                text-align: left;
                padding: 0px 0px 0px 5px;
                p{
                    text-align: left;
                }
            }
            .tot-weight{
                width: 100%;
                padding: 0px 0px 0px 5px;
            }
            .tot-val-weight{
                width: 100%;
                text-align: left;
                padding: 0px 0px 0px 5px;
            }
            .order-total{
                padding: 0px 0px 0px 5px;
            }
            .total-Qty{
                padding: 0px 0px 0px 5px;
                float:left;
                span{
                    font-size: 18px;
                }
            }
        }
      }
  }
}

