/***************************************************************
* Proprietary & Confidential  |  © 2016 PhaseZero Ventures LLC 
* 
* This file is part of Tire Advisor project
* 
* This file cannot be copied and/or distributed without 
* the express permission of PhaseZero Ventures LLC
***************************************************************/

.email-part-popup{
    .modal-dialog{
        width: 686px;
    }
}
#sharepartPopup {
    background: #f6f6f6;
    padding: 30px;
    border-radius: 4px;
    .success-msg{
        text-align: center;
        h5{
            color: #3FB300;
            font-weight: 700;
            font-size: 16px;
        }
    }
    .modal-header{
        padding: 0;
        border: 0;
        h2{
            margin-top: 0;
            margin-bottom: 40px;
            font-size: 30px;
            font-weight: 300;
            color: #9b9b9b;
            b{
                font-weight: 400;
            }
            a{
                img{
                    vertical-align: top;
                }
            }
        }
    }
    .modal-body {
        padding: 0;
        form {
            label{
                color: #b3b3b3;
                font-weight: normal;
                font-size: 14px;
                margin-left: 5px
            }
            .form-grp-txtarea{
                margin-bottom: 10px;
            }
            .clear-email{
                color: $active_link_color;
                font-size: 12px;
                font-weight: 600;
                text-decoration: none;
                outline: none;
                margin-right: 10px;
            }
            textarea {
                resize: none;
                padding: 12px 15px;
                border-radius: 3px;
                height: 70px;
                // border: 1px solid #ededed;
                // box-shadow: none;
                &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
                    color: #bcbcbc;
                    font-size: 13px;
                }
                &::-moz-placeholder { /* Firefox 19+ */
                    color: #bcbcbc;
                    font-size: 13px;
                }
                &:-ms-input-placeholder { /* IE 10+ */
                    color: #bcbcbc;
                    font-size: 13px;
                }
                &:-moz-placeholder { /* Firefox 18- */
                    color: #bcbcbc;
                    font-size: 13px;
                }
            }
            p.has-error{
                margin-top: 2px;
            }
            .err-txt{
                text-align: right;
                margin-bottom: 0;
                font-weight: 600;
                font-size: 12px;
                color: #ff8a00;
                margin-top: 2px;
            }
            .checkbox-label{
                margin: 0 ;
                color: #7f7f7f;
                font-weight: 600;
                font-size: 12px;
                margin-left: 14px;
                .fa-square-o, .fa-check-square{
                    color: #0093c6;
                    font-size: 16px;
                    margin-left: 0;
                    position: relative;
                    top: 2px;
                    margin-right: 10px;
                }
                .fa-check-square{
                    background-color: #ffffff;
                }
                &:hover{
                    cursor: pointer;
                }
            }
            .checkbox-label.disable-checkbox{
                pointer-events: none;
                opacity: 0.8;
                .fa-square-o{
                    color: #b5b5b5;
                }
            }
        }
    }
    .form-group.btn-control{
        margin-bottom: 0;
        text-align: right;
    }
    .btn-app{
        height: 32px;
        width: 114px;
        font-weight: 600;
        font-size: 13px;
        border-radius: 3px;
        text-transform: uppercase;
        outline: 0;
        line-height: 16px;
        border-radius: 4px;
    }
    .btn-app:focus, .btn-app.focus, .btn-app:active:focus, .btn-app:active.focus, .btn-app.active:focus, .btn-app.active.focus {
        outline: 0;
    }
    .btn-app-primary{
        background-color: $btn_primary_bgcolor;
        border-color: $btn_primary_border_color;
        color: #fff;
    }
    .btn-app-primary:focus, .btn-app-primary.focus, .btn-app-primary:hover {
        background-color: $btn_primary_focus_bgcolor;
        border-color: $btn_primary_focus_border_color;
        color: #fff;
    }
    span.glyphicon-send {
        margin-right: 5px;
    }
}
