<div id="sharepartPopup" class="modal-wrapper">
    <div class="modal-header">
        <h2>{{ 'EMAIL.EMILHEADING1' | translate}}<b>{{email.partNum}}</b>{{ 'EMAIL.EMILHEADING2' | translate}}
            <a class="close-overlay pull-right" data-ng-click="email.cancel(undefined)" data-dismiss="modal" href="#">
                <img ng-src="/assets/images/close-icon.png" alt="" src="/assets/images/close-icon.png">
            </a>
        </h2>
    </div>
    <div class="modal-body">
        <form name="sharepart" novalidate>   
            <div class="form-group form-grp-txtarea">
                <label for="partEmail">{{ 'EMAIL.TO' | translate}}</label>
                <a href="" class="pull-right clear-email" data-ng-click="email.clearEmailTextField()">CLEAR</a>
                <textarea id="partEmail" class="form-control" rows="3" autofocus placeholder="{{ 'EMAIL.MULTIEMAILPLACEHOLDER' | translate}}" name="tEmail" data-ng-change="email.onChangeOfEmailList()" ng-model="email.to" required></textarea>
                <p class="has-error text-right" ng-show="email.isInvalidEmailList">
                    <span class="err-txt">{{ 'EMAIL.EMAILVALIDATE' | translate}} </span>
                </p>
            </div>
            <div class="form-group">
                <label data-ng-click="email.selectCopied()" data-ng-model="email.isCopied" uib-btn-checkbox class="checkbox-label" data-ng-class="{'disable-checkbox': !email.isUserLogged}">
                    <i class="fa" ng-class="email.isCopied ? 'fa-check-square' : 'fa-square-o' "></i>{{ 'EMAIL.COPYME' | translate}}
                </label>
            </div>
            
            <div class="form-group btn-control">
                <button class="btn btn-app btn-app-primary" type="button" data-ng-click="email.send()">{{ 'EMAIL.SEND' | translate}}
                </button>
            </div> 
        </form>  
    </div>
</div>
