/***************************************************************
* Proprietary & Confidential  |  © 2016 PhaseZero Ventures LLC 
* 
* This file is part of Tire Advisor project
* 
* This file cannot be copied and/or distributed without 
* the express permission of PhaseZero Ventures LLC
***************************************************************/

.session-list-modal {
    .modal-content {
        border-radius: 4px;
        width: 580px;
        height: 196px;
        background: #f6f6f6;
        .session-list-box {
            background: transparent;
            padding: 30px 0px;
            width: 100%;
            float: left;
            border-radius: 4px;
            p {
                font-size: 14px;
                text-align: center;
                margin-bottom: 20px;
                margin-top: 10px;
                color: #515151;
                font-weight: 600;
            }
            .btn-primary {
                border: none;
                border-radius: 3px;
                background: $btn_primary_bgcolor;
                width: 106px;
                height: 32px;
                font-size: 13px;
                font-weight: 600;
                color: #fff;
            }
            .btn-default {
                width: 111px;
                height: 32px;
                border: 2px solid #707070;
                border-radius: 3px;
                font-size: 13px;
                font-weight: 600;
                color: #363636;
                background: transparent;
            }
        }
    }
}
