<div class="session-list-box">
    <div class="row">
        <div class="col-md-1">
        </div>
        <div class="col-md-10">
            <p class="text-center">{{'CREATENEWLIST.CONFIRM' | translate}}</p>
        </div>
        <div class="col-md-1">
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-md-3">
        </div>
        <div class="col-md-3">
            <button class="btn btn-default btn-block" ng-click="slcont.closeSession()">
                {{'SESSIONLIST.DELETE' | translate}}
            </button>
        </div>
        <div class="col-md-3">
            <button class="btn btn-primary  btn-block" ng-click="slcont.createlist()">
                {{'SESSIONLIST.SAVE' | translate}}
            </button>
        </div>
        <div class="col-md-3">
        </div>
    </div>
</div>