<!-- /*Author : Shaifali Jaiswal*/ -->

<div id="shareErrorPopup" class="modal-wrapper">
    <div class="modal-header bg-success">
        <div class="row">
            <div class="col-sm-9">
                <h4>{{'ORDERLIST.ORDERLISTHASH' | translate}}826958</h4>
                <p>April 15, 2016</p>
            </div>
            <div class="col-sm-3">
                <div class="pull-right">
                    <h4>03</h4>
                    <p>{{'ORDERLIST.PARTS' | translate}}</p>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-body">
        <h1 class="text-center"><span class="glyphicon glyphicon-remove-circle"></span>
        </h1>
        <h4 class="text-center">{{'ERRORMSG.OPPSSOMETHINGWENTWRONG' | translate}}</h4>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" type="button" ng-click="cancel()">{{'ERRORMSG.TRYAGAIN' | translate}}</button>
    </div>
</div>

