<div class="alt-home">
    <div id="middle" class="middle">
        <img id="logo" ng-src="/assets/images/dana-logo.png" alt=""><br>
        <search-bar></search-bar>
    </div>
    <iframe id="vidFrame" height="315" ng-src="{{protocol}}://www.youtube.com/embed/ds1LuWqZnEk?autoplay=1&loop=1&playlist=ds1LuWqZnEk&modestbranding=1&controls=0"
        frameborder="0" allowfullscreen></iframe>
</div>