/***************************************************************
* Proprietary & Confidential  |  © 2016 PhaseZero Ventures LLC 
* 
* This file is part of Tire Advisor project
* 
* This file cannot be copied and/or distributed without 
* the express permission of PhaseZero Ventures LLC
***************************************************************/


//@import "../../src/assets/skins/dana/dana-skin";
.alt-home{
    width: 100%;
    .middle {
        position:absolute;
        top: 300px;
        left: 200px;
            height: 70px;
            padding-top: 1px;
            .form-group {
                float: left;
            }
            [uib-dropdown] {
                float: left
            }
            .search_ddl_head{
                margin:0 0 0;
            }
            .button-ddl-head{
                // width: 173px;
                background-color:$support_color_light_one;
            }
            .btn,
            input[type=text] {
                border-radius: 0px;
                // height: 40px;
                height: 42px;
            //shaifali added
            &:focus, &:active{
                outline: none !important;
                box-shadow: none;
            }
            //shaifali added
            }
            
            .btn-primary{
                background-color:$support_color_primary;
                border-color:$support_color_primary;
            }
            ul {
                li {
                    a {
                        color: $color_extreme_two;
                    }
                }
            }
        }
}