/***************************************************************
* Proprietary & Confidential  |  © 2016 PhaseZero Ventures LLC 
* 
* This file is part of Tire Advisor project
* 
* This file cannot be copied and/or distributed without 
* the express permission of PhaseZero Ventures LLC
***************************************************************/


div.popover {
    left: 0 !important;
    background-color: transparent;
    border: none;
    border-radius: 0px;
    box-shadow: none;
    width:100%;
    &.bottom {
        margin-top: 0px;
    }
    &.bottom .arrow {
        display:none;
    }
    .popover > .arrow {
        &:after {
            border-style: none;
        }
    }
    .popover-inner {
        // width: 1348px;
        width:100%;
        .popover-content{
            padding:0px;
            width:100%;
        }
    }
}

div#subcategories {
    //width: 100%;
    width: 1350px;
    margin-top: 0px !important;
    div.popover-content {
        width: 100%;
        //height: 291px;
        //background-image: url('../../../../../assets/images/subCategories_bg.jpg');
        //background-repeat: no-repeat;
        //background-position: right;
        border-top: 3px solid #0093c6;
        background-color: white;
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
        padding: 0px 0px !important;
        margin-top: -3px;
        div.sample {
            // position: absolute;
            left: 120px;
            margin-top: 30px;
            margin-left: 50px; 
            /*-webkit-column-count: 2;
            -moz-column-count: 2;
            column-count: 2;    */    
            span{
                margin-right:10px;
            }                        
            dl {
                line-height: 0.9em;
                display: inline-block;
                position: relative;
                text-transform: uppercase;
                font-size: 16px;
                width: 200px;
                vertical-align: top;
                font-weight: bold;    
                hr{
                    margin-top: 5px;
                    margin-bottom: 5px;
                    padding-top: 0px;
                    padding-bottom: 0px;
                    color: $support_color_light_one;
                }            
                dd {
                    font-size: 12px;
                    display: inline-block;
                    text-transform: capitalize;
                    width: 200px;
                    line-height: 1.2em;
                    font-weight: 600;
                    margin-top: 10px;
                    &.first-row{
                        margin-top: 0px;
                        //padding-top: 10px;
                        //border-top: 0.5px solid $support_color_light_one;
                    }
                    
                    
                    /* negate the DL line-height */
                    a {
                        // color:#323232;
                        //color:$color_extreme_one ;
                        color: $support_color_dark_black_third;
                        text-decoration: none;
                        &:hover, &:focus {
                            color: $support_color_light_blue_third !important;
                            text-decoration: none;
                        }
                    }
                }
                dt {
                    display: inline-block;
                    width: 300px;
                    line-height: 1;
                    // border-bottom: 0.5px solid grey;
                    //border-bottom: 0.5px solid $support_color_light_one;
                    //padding-bottom: 10px;
                    a {
                        // color:#323232;
                        color: $support_color_dark_two;
                        text-decoration: none;
                    }
                    .hrtag-first{
                        margin-top:23px;
                    }        
                    .hrtag-rest{
                        margin-top:22px;
                    }                
                }
            }
        }
    }
}

// }
// div#subcategories {
//     width: 100%;
//     margin-top: 0px !important;
//     .modal-content {
//         width: 100%;
//         height: 291px;
//         background-image: url('../../../../../assets/images/subCategories_bg.jpg');
//         background-repeat: no-repeat;
//         background-position: right;
//         border-top: 3px solid #0093c6;
//         div.sample {
//             position: absolute;
//             left: 100px;
//             dl {
//                 line-height: 2;
//                 display: inline-block;
//                 position: relative;
//                 text-transform: uppercase;
//                 font-size: 16px;
//                 width: 170px;
//                 vertical-align: top;
//                 font-weight: bold;
//                 dd {
//                     font-size: 13px;
//                     font-size: bold;
//                     display: inline-block;
//                     text-transform: capitalize;
//                     width: 120px;
//                     line-height: 0.5%;
//                     margin-top: -2em;
//                     /* negate the DL line-height */
//                     a {
//                         // color:#323232;
//                         //color:$color_extreme_one ;
//                         color: $support_color_dark_black_third;
//                         text-decoration: none;
//                         &:hover {
//                             color: $support_color_light_blue_third !important;
//                             text-decoration: none;
//                         }
//                     }
//                 }
//                 dt {
//                     display: inline-block;
//                     width: 100px;
//                     line-height: 1;
//                     // border-bottom: 0.5px solid grey;
//                     border-bottom: 0.5px solid $support_color_light_one;
//                     padding-bottom: 10px;
//                     a {
//                         // color:#323232;
//                         color: $support_color_dark_two;
//                         text-decoration: none;
//                     }
//                 }
//             }
//         }
//     }
// }
