#proceedmsg {
    background-color: #333;
    color: white;
    border-radius: 3px;
    .modal-header {
        border-bottom: none;
        .fa-times-circle {
            color: white;
        }
        .fa-exclamation-triangle {
            color: orange;
        }
        // i {
        //     .fa-times-circle {
        //         color: white;
        //     }
        //     .fa-exclamation-triangle {
        //         color: orange;
        //     }
        // }
        button.close {
            text-shadow: none;
        }
    }
    .modal-body {
        h4 {
            line-height: 1.4em;
            margin-top: 10px;
            margin-bottom: 40px;
        }
        .fa-exclamation-triangle {
            color: orange;
        }
    }
    // input [type="checkbox"] {
    //         width: 15px;
    //         height: 17px;
    //         margin:  0 !important;
    //         padding: 20px;
    //         zoom:1.5 !important;
    //     }
    .modal-footer {
        border-top: none;
    }
}
