<div id="proceedmsg">
    <div class="modal-header">
        <button type="button" class="close" ng-click="listedit.cancel()" data-dismiss="modal"> <i class="fa fa-times-circle" aria-hidden="true"></i></button>
    </div>
    <div class="modal-body text-center">
        <i class="fa fa-2x fa-exclamation-triangle" aria-hidden="true"></i>
        <h4>
            {{ 'PROCEEDMSG.PROCEEDMSG1'  | translate}}
		</h4>
        <div class="acceptance">
            <div class="checkbox">
                <label>
                    <input type="checkbox"> {{ 'PROCEEDMSG.PROCEEDMSG2'  | translate}}</label>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <div class="row">
            <div class="col-sm-3"> </div>
            <div class="col-sm-6">
            
                <button class="btn btn-block btn-success text-uppercase" data-ng-click="ormgt.process()" type="button"> {{ 'PROCEEDMSG.PROCESSWITHORDER'  | translate}} </button>
            </div>
            <div class="col-sm-2"> </div>
        </div>
        <br>
    </div>
</div>
<!-- <data-loading msg-text="Mailing..." top="" left=""></data-loading> -->


 
       