/***************************************************************
* Proprietary & Confidential  |  © 2016 PhaseZero Ventures LLC 
* 
* This file is part of Tire Advisor project
* 
* This file cannot be copied and/or distributed without 
* the express permission of PhaseZero Ventures LLC
***************************************************************/


.help-n-faq {
    a {
        position: relative;
        &.last-item {
            &:after{
                content: '';
                height: 14px;
                width: 0px;
                top: 3px;
                position: absolute;
                right: 0px;
            }
        }
    }
}
