<ul class="nav navbar-nav help-n-faq">
  <li><a class="separator clr-grey" href="#">{{'HEADER.MENUS.HELPNFAQ.HELPLINE' | translate}}</a></li>
  <!--<li><a class="separator" href="#">{{'HEADER.MENUS.HELPNFAQ.HELP' | translate}}</a></li>
  <li><a class="separator last-item" href="#">{{'HEADER.MENUS.HELPNFAQ.FAQ' | translate}}</a></li>-->
</ul>