#stockorderPopup {
    .modal-header {
      padding-bottom:0px !important;
        table{
          td{
            vertical-align: middle;
          }
        }
        background-color: $modal_bg_color;
        h4 {
            span.light-heading {
                color: #999;
                padding-left: 10px;
            }
            span.glyphicon-ok-head {
                color: #08e308;
                padding-right: 10px;
            }
        }
        .superhead {
            font-size: 32px;
        }
        .sublink {
            font-size: 12px;
            padding-left: 10px;
        }
        .headtable {
            .smallglyphicon-ok {
                color: #08e308;
            }
            .partavail {
                font-size: 26px;
            }
            .form-control {
                padding: 0 6px;
            }
        }
    }
    .modal-body {
        .spacing-table {
            font-family: $app_font_family;
            font-size: 15px;
            border-collapse: separate;
            border-spacing: 0 5px;
            th {
                text-align: center;
                font-family: $app_font_family;
                font-size: 12px;
                color: #a8a8a8;

            }
            tr{
              background: #eee;
            }
            td {
                text-align: center;
                border-width: 1px 0;
                border-color: #ddd;
                border-style: solid;
                padding: 5px 15px;
                vertical-align: middle !important;
                &:first-child{
                  border-left-width: 1px;
                  border-radius: $box_border_radius 0 0 $box_border_radius;
                }
                &:last-child {
                    border-right-width: 1px;
                    border-radius: 0px $box_border_radius $box_border_radius 0px;
                }
                .bg-default {
                    background-color: $modal_bg_color;
                }
            }
        }
        .bto {
            font-size: 9px;
            padding-left: 10px;
            padding-top: 10px;
        }
        .unit-priceRow {
            // margin-top: 10px;
        }
        .unit-price {
           margin: 5px 10px 10px;
        }
        .coreChareges {
            margin: 0px 10px;
        }
        hr{
          margin-top: 0;
          margin-bottom: 0px;
          &:last-child {
              border-top:0!important;
          }
        }
    }
}
