<div id="stockorderPopup" class="modal-wrapper" ng-init="currQty=stockController.qtyReqd">
    <form name="stockOrder">
    <div class="modal-header">
        <div class="row">
            <div class="col-sm-12">
                <button type="button" class="close"  ng-click="stockController.cancel()"><span aria-hidden="true">
                <img ng-src="/assets/images/close-icon.png" alt="" src="/assets/images/close-icon.png">
               <!--  <h1>X</h1> -->
                </span></button>
                <h4><span class="glyphicon glyphicon-ok glyphicon-ok-head"></span>{{stockController.partName}} <span class="light-heading">Part  no. {{stockController.partNumber}}</span></h4>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <span class="superhead">Stock Order</span><span class="sublink">

                  <span uib-dropdown on-toggle="toggled(open)">
                        <a href id="simple-dropdown" uib-dropdown-toggle>
                          Change
                        </a>
                        <ul class="dropdown-menu" uib-dropdown-menu aria-labelledby="simple-dropdown">
                          <li>
                            <a href="#" >Stock Order <span class="glyphicon glyphicon-ok"></span></a>
                            <a href="#" ng-click="stockController.changeAvailType()">Emergency Order </a>
                            </li>
                            </ul>
                            </span>
                </span>


            </div>
        </div>
        <div class="row">
            <table class="table headtable">
                <tbody>
                    <tr>
                        <td>Desire Quantity</td>
                        <td>
                            <span class="number-container">
                                <input nonegative-directive min="0" no-spl-char type="number" name="qty" min="1" max="100"  ng-model="stockController.qtyReqd" class="form-control" value="{{stockController.qtyReqd}}">
                            </span>
                            <div class="error" style="color:red" ng-show="stockOrder.qty.$error.positive">Quantity should be positive number.</div>
                        </td>
                        <td>
                            <span class="glyphicon glyphicon-ok smallglyphicon-ok"></span>
                        </td>
                        <td>
                            <button class="btn btn-default" type="button" ng-disabled="currQty== stockController.qtyReqd" ng-click="stockController.updateData()">Update Availablity </button>
                            <span class="glyphicon glyphicon-play"></span>
                        </td>
                         <td><span class="" style="font-size:16px;">Total Quantity Available</span></td>
                        <td><span class="partavail">{{stockController.totalQty}}</span></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="modal-body">
        <div class="table-responsive">
            <table class="table spacing-table">
                <thead>
                    <tr style="background:white;">
                        <th>Location</th>
                        <th>Quantity Available</th>
                        <th>Shipping Date</th>

                    </tr>
                </thead>
                <tbody>


                <tr ng-repeat="item in stockController.plantNames">
        <td>{{item.plantName}}</td>
        <td>{{item.availability}}</td>
        <td>{{item.leadDate}}</td>
    </tr>


                 </tbody>
            </table>
        </div>
        <div class="row">
            <div class="col-md-12">
                <span class="bto" ng-show="stockController.availableData.showBTO"> <button ng-click="stockController.addToCart()" class="btn btn-block btn-primary" type="button">Add {{stockController.availableData.totalQty}} to the Cart + {{stockController.availableData.totalBTO}} to Back Order</button></span>
            </div>
        </div>
        <div class="row unit-priceRow"><div class="col-md-6">
            <span class="unit-price pull-left">Unit Part Price($)</span>
          </div>
          <div class="col-md-6">
            <span class="unit-price pull-right"><b>{{stockController.unitPartPrice}}</b></span>
          </div>
        </div>
    <hr>
        <div class="row unit-priceRow"><div class="col-md-6">
            <span class="unit-price pull-left">Extended Price($)</span>
          </div>
          <div class="col-md-6">
            <span class="unit-price pull-right"><b>{{stockController.extendedPrice}}</b></span>
          </div>
        </div>
    <hr>
        <div class="row unit-priceRow"><div class="col-md-6">
            <span class="unit-price pull-left">Core Unit Price($)</span>
          </div>
          <div class="col-md-6">
            <span class="unit-price pull-right"><b>{{stockController.coreUnitPrice}}</b></span>
          </div>
        </div>
          <hr>
        <div class="row unit-priceRow"><div class="col-md-6">
            <span class="unit-price pull-left">Core Charge($)</span>
            <span class="glyphicon glyphicon-question-sign"></span>
          </div>
          <div class="col-md-6">
            <span class="unit-price pull-right"><b>{{stockController.unitPrice}}</b></span>

          </div>
        </div>
        <hr>
    </div>
    <div class="modal-footer">
        <div class="row">
            <div class="col-md-8">
            </div>
            <div class="col-md-4">
                <button class="btn btn-block btn-primary" type="button" ng-click="stockController.addToCart()">Add to Cart </button>
            </div>
        </div>
    </div>
  </form>
</div>
