
<div id="signUpPopUp">
    <div class="modal-body">
        <div class="sign-up-wrapper">
			<section class="sign-up-info">
				<div class="form-group">
					<button tabindex="-1" class="btn btn-primary btn-block btn-app-primary" data-ng-click="signup.goBackToSignInPopUp()">{{'SIGNUP.SIGNIN_BTN' | translate}}</button>
				</div>
				<hr/>
				<h4>{{'SIGNUP.SIGNUP_REG_USER' | translate}}</h4>
				<ul class="sign-up-as-regitered-usr">
					<li><i class="fa fa-chevron-circle-right" aria-hidden="true"></i>{{'SIGNUP.DUSER_INFO1' | translate}}</li>
					<li><i class="fa fa-chevron-circle-right" aria-hidden="true"></i>{{'SIGNUP.DUSER_INFO2' | translate}}</li>
					<li><i class="fa fa-chevron-circle-right" aria-hidden="true"></i>{{'SIGNUP.DUSER_INFO3' | translate}}</li>
					<li><i class="fa fa-chevron-circle-right" aria-hidden="true"></i>{{'SIGNUP.DUSER_INFO4' | translate}}</li>
				</ul>
				<div class="social-title">{{'SIGNUP.CONNECT_US' | translate}}</div>
				<ul class="social-lnk-img-container text-center">
					<li><a class="" target="_blank" href="https://www.facebook.com/DanaIncorporated/"><img ng-src="/assets/images/facebook.png" alt="" src="/assets/images/facebook.png"></a></li>
					<li><a class="" target="_blank" href="https://twitter.com/DanaHoldingCorp"><img ng-src="/assets/images/twitter.png" alt="" src="/assets/images/twitter.png"></a></li>
					<li><a class="" target="_blank" href="https://plus.google.com/+DanaHoldingCorp"><img ng-src="/assets/images/google_plus.png" alt="" src="/assets/images/google_plus.png"></a></li>
					<li><a class="" target="_blank" href="https://www.youtube.com/DanaHoldingCorp"><img ng-src="/assets/images/youtube.png" alt="" src="/assets/images/youtube.png"></a></li>
				</ul>
			</section>
			<section class="sign-up-form">
				<h2 class="signup-title">{{'SIGNUP.TITLE' | translate}}
					<a class="close-overlay pull-right" data-ng-click="signup.cancel('close-popup')" href="#">
						<img ng-src="/assets/images/close-icon.png" alt="" src="/assets/images/close-icon.png">
					</a>
				</h2>
				<div class="text-center">
                    <div class="top-error" data-ng-show="signup.isUserCreated && signup.isFormSubmitted"><i class="fa fa-exclamation-triangle" aria-hidden="true"></i>{{'PROFILE_ERROR.'+signup.usrUnSuccessMsg | translate}}</div>
                </div>
				<form class="form-horizontal" name="signUpForm" novalidate>
					<div class="form-group" data-ng-class="{ 'has-error' : signUpForm.loginId.$invalid && (!signUpForm.loginId.$pristine || signup.isFormSubmitted)}">
						<label class="control-label col-label  col-sm-3" for="loginId">{{'SIGNUP.LOGIN_ID' | translate}}</label>
						<div class="col-sm-6 no-padding">
							<div class="input-group">
								<span class="input-group-addon" id="sizing-addon1">
									<i class="fa fa-user" aria-hidden="true"></i>
								</span>
								<input type="text" autofocus class="form-control input-logo" id="loginId" name="loginId" data-ng-model="signup.userDetails.userId" data-ng-change="signup.onChangeOfUserId()" data-ng-blur="signup.checkLoginIdAvailabilty(signup.userDetails.userId)" data-ng-pattern="/^[a-zA-Z0-9]+([-_@\.][a-zA-Z0-9]+)*[a-zA-Z0-9]$/" required>
							</div>
							<p ng-show="signUpForm.loginId.$invalid && (!signUpForm.loginId.$pristine || signup.isFormSubmitted)" class="help-block">{{'SIGNUP.LOGIN_ID_ERR_MSG' | translate}}</p>
						</div>
						<div class="col-sm-3">
							<a href="#" data-ng-click="" data-ng-show="signup.isUserAvailChecked && signup.isUserExist" class="check-avail availbl"><i class="fa fa-exclamation-triangle" aria-hidden="true"></i> {{'SIGNUP.ID_EXISTS1' | translate}}</br>{{'SIGNUP.ID_EXISTS2' | translate}}</a>
							<a href="#" data-ng-click="" data-ng-show="signup.isUserAvailChecked && !signup.isUserExist" class="check-avail"><i class="fa fa-check" aria-hidden="true"></i> {{'SIGNUP.ID_AVAIL' | translate}}</a>
						</div>
					</div>
					<div class="form-group mb-20" data-ng-class="{ 'has-error' : signUpForm.pswrd.$invalid && (!signUpForm.pswrd.$pristine || signup.isFormSubmitted) }">
						<label class="control-label col-label  col-sm-3" for="password">{{'SIGNUP.PASSWORD' | translate}}</label>
						<div class="col-sm-6 no-padding">
							<div class="input-group">
								<span class="input-group-addon" id="sizing-addon1">
									<i class="fa fa-key" aria-hidden="true"></i>
								</span>
								<input type="password" class="form-control input-logo" id="password" data-ng-model="signup.userDetails.password" name="pswrd" data-ng-pattern="/^(?=.*[A-Za-z])(?=.*\d)(?=.*[$@$!%*#?&])[A-Za-z\d$@$!%*#?&]{8,}$/" required>
							</div>
                            <p ng-show="signUpForm.pswrd.$invalid && (!signUpForm.pswrd.$pristine || signup.isFormSubmitted)" class="help-block">{{'SIGNUP.PASSWORD_ERR_MSG' | translate}}</p>
						</div>
						<div class="col-sm-3">
							<div class="suggestions-icon">
								<i class="fa fa-question-circle" aria-hidden="true"></i>
								<div class="suggestion-container">
									<p class="suggestions-content">
										{{'SIGNUP.PASSWORD_SUGGEST' | translate}}
									</p>
								</div>
							</div>
						</div>
					</div>
					<div class="form-group" data-ng-class="{ 'has-error' : signUpForm.emailId.$invalid && (!signUpForm.emailId.$pristine || signup.isFormSubmitted) }">
						<label class="control-label col-label  col-sm-3" for="email">{{'SIGNUP.EMAIL' | translate}}</label>
						<div class="col-sm-6 no-padding">
							<input type="email" class="form-control" data-ng-model="signup.userDetails.emailId" data-ng-blur="signup.checkEmailIdAvailabilty(signup.userDetails.emailId)" data-ng-change="signup.onChangeOfEmailId()" data-ng-pattern="/^[a-zA-Z]+[a-zA-Z0-9._]+@[a-zA-Z]+\.[a-zA-Z.]{1,5}$/"  id="email" name="emailId" required>
                            <p ng-show="signUpForm.emailId.$invalid && (!signUpForm.emailId.$pristine || signup.isFormSubmitted)" class="help-block">{{'SIGNUP.EMAIL_ERR_MSG' | translate}}</p>
						</div>
						<div class="col-sm-3">
							<a href="#" data-ng-click="" data-ng-show="signup.isEmailAvailChecked && signup.isEmailExist" class="check-avail availbl"><i class="fa fa-exclamation-triangle" aria-hidden="true"></i> {{'SIGNUP.ID_EXISTS1' | translate}}</br>{{'SIGNUP.ID_EXISTS2' | translate}}</a>
							<a href="#" data-ng-click="" data-ng-show="signup.isEmailAvailChecked && !signup.isEmailExist" class="check-avail"><i class="fa fa-check" aria-hidden="true"></i> {{'SIGNUP.ID_AVAIL' | translate}}</a>
						</div>
					</div>
					<div class="form-group mb-20" data-ng-class="{ 'has-error' : signUpForm.reEmail.$invalid && (!signUpForm.reEmail.$pristine || signup.isFormSubmitted) || (!signUpForm.reEmail.$pristine && signup.reTypeEmailId != signup.userDetails.emailId) }">
						<label class="control-label col-label  col-sm-3" for="reEmail">{{'SIGNUP.RE_EMAIL' | translate}}</label>
						<div class="col-sm-6 no-padding">
							<input type="text" class="form-control" data-ng-model="signup.reTypeEmailId" id="reEmail" name="reEmail" required>
                            <p ng-show="signUpForm.reEmail.$invalid && (!signUpForm.reEmail.$pristine || signup.isFormSubmitted) || (!signUpForm.reEmail.$pristine && signup.reTypeEmailId != signup.userDetails.emailId)" class="help-block">{{'SIGNUP.RE_EMAIL_ERR_MSG' | translate}}</p>
						</div>
					</div>
					<div class="form-group" data-ng-class="{ 'has-error' : signUpForm.firstName.$invalid && (!signUpForm.firstName.$pristine || signup.isFormSubmitted) }">
						<label class="control-label col-label  col-sm-3" for="firstName">{{'SIGNUP.FIRSTNAME' | translate}}</label>
						<div class="col-sm-6 no-padding">
							<input type="text" class="form-control" id="firstName" data-ng-model="signup.userDetails.firstName" name="firstName" data-ng-pattern="/^\s*([a-zA-Z-']+)\s*$/" data-ng-minlength="1" required>
                            <p ng-show="signUpForm.firstName.$invalid && (!signUpForm.firstName.$pristine || signup.isFormSubmitted)  ||(signUpForm.firstName.$error.minlength || signUpForm.firstName.$error.pattern)" class="help-block">{{'SIGNUP.FIRSTNAME_ERR_MSG' | translate}}</p>
						</div>
					</div>
					<div class="form-group" data-ng-class="{ 'has-error' : signUpForm.lastName.$invalid && (!signUpForm.lastName.$pristine || signup.isFormSubmitted) }">
						<label class="control-label col-label  col-sm-3" for="lastName">{{'SIGNUP.LASTNAME' | translate}}</label>
						<div class="col-sm-6 no-padding">
							<input type="text" class="form-control" id="lastName" data-ng-model="signup.userDetails.lastName" name="lastName" data-ng-pattern="/^\s*([a-zA-Z']+)\s*$/" data-ng-minlength="1" required>
                            <p ng-show="signUpForm.lastName.$invalid && (!signUpForm.lastName.$pristine || signup.isFormSubmitted) ||(signUpForm.lastName.$error.minlength || signUpForm.lastName.$error.pattern)" class="help-block">{{'SIGNUP.LASTNAME_ERR_MSG' | translate}}</p>
						</div>
					</div>
					<div class="form-group" data-ng-class="{ 'has-error' : signUpForm.companyName.$invalid && (!signUpForm.companyName.$pristine || signup.isFormSubmitted) }">
						<label class="control-label col-label  col-sm-3" for="companyName">{{'SIGNUP.COMPANY_NAME' | translate}}</label>
						<div class="col-sm-6 no-padding">
							<input type="text" class="form-control" id="companyName" data-ng-model="signup.userDetails.companyName" name="companyName" data-ng-pattern="/^\s*([0-9a-zA-Z-'\s]+)\s*$/" data-ng-minlength="1" required>
                            <p ng-show="signUpForm.companyName.$invalid && (!signUpForm.companyName.$pristine || signup.isFormSubmitted)  ||(signUpForm.companyName.$error.minlength || signUpForm.companyName.$error.pattern)" class="help-block">{{'SIGNUP.COMPANY_NAME_ERR_MSG' | translate}}</p>
						</div>
					</div>
                    <!--<div class="form-group" data-ng-class="{ 'has-error' : signUpForm.mobilePhoneNum.$invalid && (!signUpForm.mobilePhoneNum.$pristine || signup.isFormSubmitted) || signup.userDetails.mobile == '000-000-0000'}">
						<label class="control-label col-label  col-sm-3 line-2" for="mobilePhone">{{'SIGNUP.PHONE' | translate}} <br/> {{'SIGNUP.PHONE_MOBILE' | translate}}</label>
						<div class="col-sm-6 no-padding">
							<input type="text" class="form-control" id="mobilePhone" data-ng-model="signup.userDetails.mobile" data-ng-pattern="/^\(?(\d{3})\)?[- ]?(\d{3})[- ]?(\d{4})$/" name="mobilePhoneNum" data-ng-change="signup.changePhoneFormat(signUpForm.mobilePhoneNum.$valid, 'mobile')" required>
                            <p ng-show="signUpForm.mobilePhoneNum.$invalid && (!signUpForm.mobilePhoneNum.$pristine || signup.isFormSubmitted)  || (signUpForm.mobilePhoneNum.$error.pattern) || signup.userDetails.mobile == '000-000-0000'" class="help-block">{{'SIGNUP.PHONE_ERR_MSG' | translate}}</p>
						</div>
					</div>-->
					<div class="form-group" data-ng-class="{ 'has-error' : signUpForm.mobilePhoneNum.$invalid && (!signUpForm.mobilePhoneNum.$pristine || signup.isFormSubmitted)}">
						<label class="control-label col-label  col-sm-3 line-2" for="mobilePhone">{{'SIGNUP.PHONE' | translate}} <br/> {{'SIGNUP.PHONE_MOBILE' | translate}}</label>
						<div class="col-sm-6 no-padding">
							<input type="text" class="form-control" id="mobilePhone" data-ng-model="signup.userDetails.mobile" name="mobilePhoneNum" required>
                            <p ng-show="signUpForm.mobilePhoneNum.$invalid && (!signUpForm.mobilePhoneNum.$pristine || signup.isFormSubmitted)" class="help-block">{{'SIGNUP.PHONE_ERR_MSG' | translate}}</p>
						</div>
					</div>
					<div class="form-group" data-ng-class="{ 'has-error' : signUpForm.zipCode.$invalid && (!signUpForm.zipCode.$pristine || signup.isFormSubmitted) || signup.userDetails.zip == '00000' }">
						<label class="control-label col-label  col-sm-3" for="zipCode">{{'SIGNUP.ZIP_CODE' | translate}}</label>
						<div class="col-sm-6 no-padding">
							<input type="text" class="form-control" data-ng-model="signup.userDetails.zip" data-ng-pattern="/^\d{5}(-\d{4})?$/" id="zipCode" name="zipCode" required>
                            <p ng-show="signUpForm.zipCode.$invalid && (!signUpForm.zipCode.$pristine || signup.isFormSubmitted) || signup.userDetails.zip == '00000'" class="help-block">{{'SIGNUP.ZIP_CODE_ERR_MSG' | translate}}</p>
						</div>
					</div>
					<div class="form-group" data-ng-class="{ 'has-error' : (signUpForm.country.$invalid || signup.userDetails.country == undefined || signup.userDetails.country == null) && (signUpForm.country.$touched || signup.isFormSubmitted) }">
						<label class="control-label col-label  col-sm-3" for="country">{{'SIGNUP.COUNTRY' | translate}}</label>
						<div class="col-sm-6 no-padding">
                            <select class="form-control" data-ng-model="signup.userDetails.country" id="country" name="country" ng-options="country.countryCode as country.countryName for country in signup.countryList" required>
                            </select>
							<i class="fa fa-caret-down" aria-hidden="true"></i>
							<p ng-show="(signUpForm.country.$invalid || signup.userDetails.country == undefined || signup.userDetails.country == null) && (signUpForm.country.$touched || signup.isFormSubmitted)" class="help-block">{{'SIGNUP.COUNTRY_ERR_MSG' | translate}}</p>
						</div>
					</div>
					<div class="form-group"> 
						<div class="col-sm-offset-3 col-sm-6 no-padding">
						  <!--<button type="submit" data-ng-disabled="signup.dataLoading" class="btn btn-primary btn-block btn-signup btn-app-primary" data-ng-class="{'loader-in-progress': signup.dataLoading}" data-ng-click="signup.createOrUpdateUser((signUpForm.$invalid || !signup.isUserAvailChecked || signup.isUserExist || !signup.isEmailAvailChecked || signup.isEmailExist || (signup.reTypeEmailId != signup.userDetails.emailId) || signup.userDetails.zip == '00000' || signup.userDetails.mobile == '000-000-0000'), signup.userDetails)" ng-keyup="$event.keyCode == 13 && signup.createOrUpdateUser((signUpForm.$invalid || !signup.isUserAvailChecked || signup.isUserExist || !signup.isEmailAvailChecked || signup.isEmailExist || (signup.reTypeEmailId != signup.userDetails.emailId) || signup.userDetails.zip == '00000' || signup.userDetails.mobile == '000-000-0000'), signup.userDetails)">{{'SIGNUP.CREATE_ACCOUNT' | translate}}</button>-->
						  <button type="submit" data-ng-disabled="signup.dataLoading" class="btn btn-primary btn-block btn-signup btn-app-primary" data-ng-class="{'loader-in-progress': signup.dataLoading}" data-ng-click="signup.createOrUpdateUser((signUpForm.$invalid || !signup.isUserAvailChecked || signup.isUserExist || !signup.isEmailAvailChecked || signup.isEmailExist || (signup.reTypeEmailId != signup.userDetails.emailId) || signup.userDetails.zip == '00000'), signup.userDetails)" ng-keyup="$event.keyCode == 13 && signup.createOrUpdateUser((signUpForm.$invalid || !signup.isUserAvailChecked || signup.isUserExist || !signup.isEmailAvailChecked || signup.isEmailExist || (signup.reTypeEmailId != signup.userDetails.emailId) || signup.userDetails.zip == '00000'), signup.userDetails)">{{'SIGNUP.CREATE_ACCOUNT' | translate}}</button>
						</div>
					</div>
					<p class="text-muted">* <i>{{'SIGNUP.ALL_FIELDS' | translate}}</i></p>
				</form>
			</section>
		</div>
    </div>
</div>