.my-modal-popup.sign-up-modal{
    top: 1% !important;
    .modal-dialog {
        margin-top: 0;
        width: 950px;
        .modal-content{
            border-radius: 4px;
            background: transparent;
            border-width: 0;
        }
        #signUpPopUp{
            border: 0;
            .modal-body{
                padding: 0;
                .sign-up-wrapper{
                    overflow: hidden;
                    background: #323232;
                    border-radius: 4px;
                    border: 0;
                    border-width: 0;
                    .btn{
                        height: 32px;
                        line-height: 14px;
                        font-weight: 600;
                        font-size: 13px;
                        text-transform: uppercase;
                        border-radius: 3px;
                    }
                    .btn-app-primary{
                        background-color: $btn_primary_bgcolor;
                        border-color: $btn_primary_border_color;
                        color: #fff;
                    }
                    .btn-app-primary:focus, .btn-app-primary.focus, .btn-app-primary:hover {
                        background-color: $btn_primary_focus_bgcolor;
                        border-color: $btn_primary_focus_border_color;
                        color: #fff;
                    }
                    .sign-up-info{
                        float: left;
                        box-sizing: border-box;
                        width: 30%;
                        padding: 35px;
                        >.form-group{
                            background: #323232;
                            margin-bottom: 0;
                        }
                        >h4{
                            font-weight: 600;
                            font-size: 14px;
                            color: #ececec;
                            margin-bottom: 20px;
                        }
                        >ul.sign-up-as-regitered-usr{
                            padding: 10px 0;
                            >li{
                                list-style: none;
                                position: relative;
                                padding-left: 20px;
                                color: #b3b3b3;
                                font-weight: 400;
                                margin-bottom: 30px;
                                font-size: 11px;
                                >i{
                                    position: absolute;
                                    top: 2px;
                                    left: 0;
                                    color: #b3b3b3;
                                    font-size: 13px;
                                }
                            }
                        }
                        .social-title{
                            color: #6b6b6b;
                            text-align: center;
                            font-weight: 600;
                            font-size: 10px;
                            bottom: 1px;
                            margin-bottom: 15px;
                            text-transform: uppercase;
                        }
                        ul.social-lnk-img-container{
                            margin: 0;
                            padding: 0;
                            box-sizing: border-box;
                            li{
                                display: inline-block;
                                width: 25%;
                                float: left;
                                margin: 0 auto;
                                a{
                                    width: 30px;
                                    height: 30px;
                                    display: inline-block;
                                    opacity: 0.6;
                                    img{
                                        width: 100%;
                                        height: 100%;
                                    }
                                    &:hover{
                                        opacity: 1;
                                        img{
                                            width: 110%;
                                            height: 110%; 
                                        }
                                    }
                                }
                            }
                        }
                        hr{
                            margin-top: 35px;
                            margin-bottom: 40px;
                            border-top: 1px solid #b7b7b7;
                            opacity: 0.36;
                        }
                    }
                    .sign-up-form{
                        float: left;
                        box-sizing: border-box;
                        width: 70%;
                        padding: 33px;
                        border-left: 2px solid #323232;
                        background: #f6f6f6;
                        .top-error{
                            display: inline-block;
                            border: 1px solid #ff9d02;
                            color: #ff9d02;
                            font-weight: 600;
                            font-size: 18px;
                            padding: 7px 10px;
                            border-radius: 3px;
                            .fa{
                                margin-right: 10px;
                                font-size: 20px;
                            }
                        }
                        button {
                            border-radius: 3px !important;
                            height: 40px;
                            font-size: 16px;
                            line-height: 16px;
                        }
                        input[type=text], input[type=password], input[type=email], select{
                            height: 32px;
                            font-size: 14px;
                            font-weight: 600;
                            color: #414141;
                            border: 1px solid #ededde;
                            box-shadow: none;
                        }
                        input[type=text]:focus, input[type=password]:focus, input[type=email]:focus, select:focus{
                            border-color: #0093c6;
                            outline: 0;
                            box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
                        }
                        input.input-logo{
                            border-top-right-radius: 3px !important;
                            border-bottom-right-radius: 3px !important;
                            border-top-left-radius: 0 !important;
                            border-bottom-left-radius: 0 !important;
                        }
                        .input-group-addon {
                            color: #dedede;
                            text-align: center;
                            background-color: #ffffff;
                            border: 1px solid #ededed;
                            border-radius: 4px;
                            border-bottom-right-radius: 0;
                            border-top-right-radius: 0;
                            border-right: 0;
                        }
                        .help-block{
                            margin-top: 2px;
                        }
                        .has-error{
                            .form-control, .form-control:focus {
                                box-shadow: inset 0 1px 1px rgba(100, 54, 0, 0.075);
                                border-color: #ff8a00;
                            }
                            .help-block{
                                text-align: right;
                                margin-bottom: 5px;
                                font-weight: 600;
                                font-size: 12px;
                                color: #ff8a00;
                            }
                            .input-group-addon {
                                color: #ff8a00;
                                background-color: #fff3e5;
                                border-color: #ff8a00;
                            }
                        }
                        select{
                            -webkit-appearance: none;
                            appearance: none;
                            padding-right: 20px;
                        }
                        select+.fa-caret-down{
                            position: absolute;
                            right: 13px;
                            top: 8px;
                            color: #8b8b8b;
                            font-size: 16px;
                            color: $active_link_color;
                            pointer-events: none;
                        }
                        form{
                            padding-top: 20px;
                        }
                        .form-group.mb-20{
                            margin-bottom: 20px;
                        }
                        .suggestions-icon{
                            display: inline-block;
                            font-size: 20px;
                            color: #7f7f7f;
                            cursor: pointer;
                            position: relative;
                            font-size: 16px;
                            top: 3px;
                            .suggestion-container{
                                display: none;
                                position: absolute;
                                top: -53px;
                                right: -91px;
                                z-index: 1000;
                                font-size: 12px;
                                line-height: 15px;
                                font-weight: 600;
                                width: 340px;
                                color: #161616;
                                border: 1px solid #a2a2a2;
                                padding: 8px 10px;
                                background-color: #FFC000;
                                border-radius: 4px;
                                p{
                                    margin: 0;
                                }
                                &::before{
                                    width: 0px;
                                    height: 0px;
                                    content: "";
                                    top: 44px;
                                    right: 89px;
                                    position: absolute;
                                    border-left: 10px solid transparent;
                                    border-right: 10px solid transparent;
                                    border-top: 10px solid #FFC000;
                                    z-index: 200;
                                }
                                &::after{
                                    width: 0px;
                                    height: 0px;
                                    content: "";
                                    top: 46px;
                                    right: 89px;
                                    position: absolute;
                                    border-left: 10px solid transparent;
                                    border-right: 10px solid transparent;
                                    border-top: 11px solid #a2a2a2;
                                }
                            }
                            &:hover{
                                .suggestion-container{
                                    display: inline-block;
                                }
                            }
                        }
                        .signup-title{
                            margin-top: 0;
                            margin-bottom: 22px;
                            color: #9b9b9b;
                            font-weight: 300;
                            color: #b2b2b2;
                            line-height: 30px;
                            .fa-times-circle{
                                font-size: 24px;
                            }
                            .fa-times-circle:hover{
                                cursor: pointer;
                            }
                            img{
                                vertical-align: top;
                            }
                        }
                        button, input, select {
                            border-radius: 3px !important;
                        }
                        input.input-logo{
                            border-top-right-radius: 3px !important;
                            border-bottom-right-radius: 3px !important;
                            border-top-left-radius: 0 !important;
                            border-bottom-left-radius: 0 !important;
                        }
                        .no-padding{
                            padding: 0;
                        }
                        .text-muted {
                            color: #7f7f7f;
                            display: block;
                            font-size: 12px;
                            font-weight: 600;
                            margin-bottom: 0;
                        }
                        .form-group{
                            margin-bottom: 10px;
                            label{
                                color: #7f7f7f;
                                font-size: 12px;
                                font-weight: 600;
                            }
                            label.line-2{
                                padding-top: 1px;
                                line-height: 14px;
                            }
                            .col-label{
                                width: 20%;
                            }
                            .col-sm-offset-3 {
                                margin-left: 20%;
                            }
                            .col-sm-6 {
                                width: 55%;
                            }
                            .text-muted {
                                color: #7f7f7f;
                                display: block;
                                font-size: 12px;
                                font-weight: 600;
                                margin-bottom: 0;
                            }
                            .btn-signup{
                                margin-top: 10px;
                                margin-bottom: 10px;
                                margin-top: 10px;
                                margin-bottom: 10px;
                                font-size: 16px;
                                color: #fefefe;
                                height: 36px;
                            }
                            .btn-signup.loader-in-progress{
                                cursor: none;
                            }
                            .col-sm-3{
                                .check-avail{
                                    top: 3px;
                                    position: relative;
                                    font-size: 11px;
                                    font-weight: 600;
                                    color: #404040;
                                    text-decoration: none !important;
                                    .fa-exclamation-triangle{
                                        color: #ff8a00;
                                        font-size: 16px;
                                        top: 7px;
                                        left: 0px;
                                        margin-right: 2px;
                                        position: absolute;
                                    }
                                    .fa-check{
                                        color: #39A200;
                                        font-size: 16px;
                                        position: relative;
                                        top: 2px;
                                        margin-right: 2px;
                                    }
                                }
                                .availbl{
                                    top: -1px;
                                    padding-left: 25px;
                                    display: inline-block;
                                    line-height: 15px;
                                }
                                .text-success{
                                    top: 7px;
                                    position: relative;
                                    font-weight: 600;
                                    font-size: 11px;
                                    color: #8AC078;
                                }
                                .txt-optional{
                                    font-size: 12px;
                                    font-weight: 600;
                                    color: #7f7f7f;
                                    display: inline-block;
                                    padding-top: 7px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
} 
