<!-- /*Author : Manjesh Kumar */ -->
<div id="verifyOtp">
    <div class="modal-header">
        <h2>{{'FORGOT_PSWRD.VERIFY_OTP.TITLE' | translate}}
            <a class="close-overlay pull-right" data-ng-click="verifyOtp.cancel('close-pop-up')" href="#">
                <img ng-src="/assets/images/close-icon.png" alt="" src="/assets/images/close-icon.png">
            </a>     
        </h2>
    </div>
    <div class="modal-body">
        <p class="txt mb-0">{{'FORGOT_PSWRD.VERIFY_OTP.INSTRUCTION_TXT1' | translate}}</p>
        <p class="txt">{{'FORGOT_PSWRD.VERIFY_OTP.INSTRUCTION_TXT2' | translate}} <strong>{{verifyOtp.emailId}}</strong>.</p>
        <h5 class="text-center" data-ng-show="verifyOtp.otpVerifyError || verifyOtp.resetPswrdError">
            <div class="top-error"><i class="fa fa-exclamation-triangle" aria-hidden="true"></i>{{'PROFILE_ERROR.'+verifyOtp.errorMsg | translate}}</div>
        </h5>
        <h5 class="text-center" data-ng-show="verifyOtp.isOtpResent">
            <div class="text-center resent-msg">{{'ERRORMSG.TEMPPASSWORDCHANGEMSG' | translate}}
               
            </div>
        </h5>
        <form name="otpForm" novalidate>
            <div class="form-group otp-field" data-ng-class="{ 'has-error' : otpForm.otp.$invalid && !otpForm.otp.$pristine }">
                <label for="otp">{{'FORGOT_PSWRD.VERIFY_OTP.LABEL' | translate}}</label>
                <div class="input-group">
                    <span class="input-group-addon" id="sizing-addon1">
                        <i class="fa fa-key" aria-hidden="true"></i>
                    </span>
                    <input type="text" id="otp" autofocus class="form-control" name="otp" data-ng-model="verifyOtp.otpDetails.otp" data-ng-minlength="3" required />
                </div>
                <a href="" class="pull-right" data-ng-click="verifyOtp.resendOtp()">{{'FORGOT_PSWRD.VERIFY_OTP.RESEND_LNK' | translate}}</a>
                <p ng-show="otpForm.otp.$error.minlength" class="help-block text-right">{{'FORGOT_PSWRD.VERIFY_OTP.ERROR' | translate}}</p>
            </div>
            <div class="row">
                <div class="col-sm-12 col-md-12">
                    <div class="form-group" data-ng-class="{ 'has-error' : otpForm.newPswrd.$invalid && !otpForm.newPswrd.$pristine }">
                        <label for="newPswrd">{{'FORGOT_PSWRD.RESET_PSWRD.LABEL_NEW_PSWRD' | translate}}</label>
                        <div class="suggestions-icon">
                            <i class="fa fa-question-circle" aria-hidden="true"></i>
                            <div class="suggestion-container">
                                <p class="suggestions-content">
                                    {{'FORGOT_PSWRD.RESET_PSWRD.PSWRD_SUGGESTION' | translate}}
                                </p>
                            </div>
                        </div>
                        <div class="input-group">
                            <span class="input-group-addon" id="sizing-addon1">
                                <i class="fa fa-key" aria-hidden="true"></i>
                            </span>
                            <input type="password" id="newPswrd" autofocus class="form-control" name="newPswrd" data-ng-model="verifyOtp.pswrdDetails.newPassword" data-ng-pattern="/^(?=.*[A-Za-z])(?=.*\d)(?=.*[$@$!%*#?&])[A-Za-z\d$@$!%*#?&]{8,}$/" required />
                        </div>
                        <p ng-show="otpForm.newPswrd.$error.pattern" class="help-block text-right">{{'FORGOT_PSWRD.RESET_PSWRD.NEW_PSWRD_ERR' | translate}}</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 col-md-12">
                    <div class="form-group last-field" data-ng-class="{ 'has-error' : otpForm.newRePswrd.$touched && !otpForm.newRePswrd.$pristine && (verifyOtp.pswrdDetails.newPassword != verifyOtp.pswrdDetails.confirmPwd) }">
                        <label for="newRePswrd">{{'FORGOT_PSWRD.RESET_PSWRD.LABEL_CONFIRM_PSWRD' | translate}}</label>
                        <div class="input-group">
                            <span class="input-group-addon" id="sizing-addon1">
                                <i class="fa fa-key" aria-hidden="true"></i>
                            </span>
                            <input type="password" id="newRePswrd" class="form-control" name="newRePswrd" data-ng-model="verifyOtp.pswrdDetails.confirmPwd"  required />
                        </div>
                        <p ng-show="otpForm.newRePswrd.$touched && !otpForm.newRePswrd.$pristine && (verifyOtp.pswrdDetails.newPassword != verifyOtp.pswrdDetails.confirmPwd)" class="help-block text-right">
                            {{'FORGOT_PSWRD.RESET_PSWRD.CONFIRM_PSWRD_ERR' | translate}}</p>
                    </div>
                </div>
            </div>
            <div class="form-group last">
                <button class="btn btn-primary btn-block btn-app-primary" data-ng-click="verifyOtp.validateOTPAndResetPswrd(verifyOtp.otpDetails, verifyOtp.pswrdDetails)" data-ng-disabled="otpForm.$invalid || (verifyOtp.pswrdDetails.newPassword != verifyOtp.pswrdDetails.confirmPwd) || verifyOtp.dataLoading">{{'FORGOT_PSWRD.VERIFY_OTP.BUTTON' | translate}}</button>
            </div>
        </form>
        <p class="privacy-txt">{{'FORGOT_PSWRD.PSWRD_ASSIST.FOOTER_TXT1' | translate}} <b>{{'FORGOT_PSWRD.PSWRD_ASSIST.FOOTER_NUM' | translate}}</b> {{'FORGOT_PSWRD.PSWRD_ASSIST.OR_TXT' | translate}} <b>{{'FORGOT_PSWRD.PSWRD_ASSIST.FOOTER_EMAIL' | translate}}</b> {{'FORGOT_PSWRD.PSWRD_ASSIST.FOOTER_TXT3' | translate}}</p>
    </div>
</div>
