.Zeroitem {
    margin-top: 25px;
    margin-left: 10px;
    margin-right: 10px;
    .heading {
        margin-left: 10px;
        font-size: 22px;
    }
    .headspace {
        // margin-left: 10px;
        // margin-right: 10px;
        margin-top: 20px;
        margin-bottom: 23px;
    }
    .Secondsection {
        .listspace {
            li {
                line-height: 2em;
                font-size: 15px;
                a {
                    margin-left: 30px;
                    &:hover {
                        text-decoration: none;
                    }
                    &:active,
                    &:focus {
                        border: 1px solid #ddd;
                        padding: 5px 0 5px 5px;
                        display: block;
                        margin-left: 20px;
                        text-decoration: none;
                    }
                }
            }
        }
        .ssleftborder {
            border-left: 1px solid #9f9f9f;
            border-top: 1px solid #4d4a4a;
            .no-tablelist {
                padding-top: 10px;
                padding-bottom: 10px;
                border-bottom: 1px solid #4d4a4a;
            }
        }
    }
    .wrap {
        .createicon {
            position: absolute;
            right: 13%;
            top: 0;
            font-size: 16px;
            color: $support_color_primary;
            a {
                text-decoration: none;
            }
        }
        .manageicon {
            position: absolute;
            right: 10px;
            top: 0;
            font-size: 16px;
            color: $support_color_primary;
            a {
                text-decoration: none;
            }
        }
    }
    .zeroitemmsg {
        margin: 100px 0px;
    }
    .fa {
        margin-left: 5px;
        margin-right: 5px;
    }
}
