<div class="container-fluid Zeroitem">
    <div class="row">
        <div class="col-md-2">
            <div class="heading">My Lists</div>
        </div>
        <div class="col-md-10">
            <div class="wrap">
                <div class="createicon">
                    <a href="" data-ng-click="mylist.createlist()">
                        <i class="fa fa-plus"></i>Create New List
                    </a>
                </div>
                <div class="manageicon manageclick">
                    <a href="" data-ng-click="mylist.managelist()">
                        <i class="fa fa-cog"></i>Manage List
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="row firstsection">
        <div class="col-sm-4">
            <div class="row">
                <div class="col-md-12">
                    <div class="input-group headspace">
                        <input type="search" class="form-control search-by-part" placeholder="Search items in this cart by the part name & number">
                        <span class="input-group-addon"><a href=""><i class="glyphicon glyphicon-search"></i></a></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-8">
        </div>
    </div>
    <div class="row Secondsection">
        <div class="col-sm-4">
            <div class="row">
                <div class="col-md-12">
                    <ul class="list-unstyled  listspace">
                        <li>
                            <a href="">Truck 01 list(2)</a>
                        </li>
                        <li>
                            <a href="">ABC  list(2)</a>
                        </li>
                        <li>
                            <a href=""> ANZ list(3)</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-8 ssleftborder">
            <div class="row no-tablelist">
                <div class="col-md-2">
                    <label>Serial Number</label>
                </div>
                <div class="col-md-2">
                    <label>Part Number /
                        <br>Part Name</label>
                </div>
                <div class="col-md-2">
                    <label>Order Quantity</label>
                </div>
            </div>
            <div class="row  zeroitemmsg">
                <h4 class="text-center">
                                    0 items on list
                </h4>
                <h4 class="text-center">
                                    Search for item you'd like to add.
                </h4>
            </div>
        </div>
    </div>
</div>
