<!-- Author: Manjesh Kumar -->
<div class="container-fluid po-error">
    <h1 class="text-center"><i class="fa fa-exclamation-triangle" aria-hidden="true"></i> {{'POERROR.ERRORINPLACINGORDER' | translate}} </h1>
</div>
