.po-error {
    margin-top: -55px;
    background: #ffffff;
    h1{
        font-weight: 400;
        font-size: 18px;
        margin-top: 90px;
        color: #525252;
        margin-bottom: 172px;
        .fa-exclamation-triangle{
            color: #FF9d02;
            margin-right: 10px;
            position: relative;
            font-size: 20px;
        }
    }
}
