<div class="loadingOverlay">
    <div class="modal-body text-center">
        <div class="row">
            <div class="col-sm-1"></div>
            <div class="col-sm-10">
                <h3>{{ 'LOADING.LOADINGTEXT'  | translate}}</h3>
                <br>
               
                <br>
                <i class="fa fa-3x fa-spinner"></i>
                <br>
                <h5>
					
				</h5>
            </div>
            <div class="col-sm-1"></div>
        </div>
    </div>
</div>
