/***************************************************************
* Proprietary & Confidential  |  © 2016 PhaseZero Ventures LLC 
* 
* This file is part of Tire Advisor project
* 
* This file cannot be copied and/or distributed without 
* the express permission of PhaseZero Ventures LLC
***************************************************************/


.loading { 
	position: fixed;
	top: 50%;
	left: 50%;
	width:80px;
	z-index: 999;
    text-align: center;
	font-weight: bold;
        .loading-text{
        }
}

#loading-overlay{
    position: fixed;
    width: 100%; 
    height: 100%;
    top:0; 
    left:0;
    background: $color_extreme_two;
    z-index: 201;
  }