.loadingOverlay {
    background-color: #fff;
    color: #333;
    border-radius: 3px;
    padding: 20px 30px;
    .modal-body {
        h5 {
            line-height: 1.4em;
           
        }
    }
}
