<!-- /*Author : Manjesh Kumar */ -->
<div id="shipToSoldToPopUp">
    <div class="modal-header">
        <div class="alert alert-success" data-ng-if="shipToSoldToCtrl.justLoggedIn">
            <i class="fa fa-check" aria-hidden="true"></i>
            {{'SHIPTOSOLDPOPUP.SIGNINSUCCESSFULL' | translate}}
        </div>
        <h4>
            <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
            <span data-ng-if="shipToSoldToCtrl.justLoggedIn">{{'SHIPTOSOLDPOPUP.YOUHAVESIGNEDWITHA'| translate}}</span><span data-ng-if="!shipToSoldToCtrl.justLoggedIn">{{'SHIPTOSOLDPOPUP.YOUHAVESELETEDA'| translate}}</span> <strong>{{'SHIPTOSOLDPOPUP.SHIPTOCUSTOMER'| translate}} {{shipToSoldToCtrl.shipToBillToInfo.customer.customerNumber}},</strong></br> {{'SHIPTOSOLDPOPUP.SOLDTOCUSTOMERTOPROCEED'| translate}}
        </h4>
    </div>
    <div class="modal-body">
        <h5>{{'SHIPTOSOLDPOPUP.ASSOCIATEDSLODTOCUSTOMER'| translate}}:</h3>
        <div class="sold-to-list-wrapper">
            <ul>
                <li data-ng-repeat="billTo in shipToSoldToCtrl.shipToBillToInfo.billTo" data-ng-disable="shipToSoldToCtrl.selectedBillTo.customerNumber == billTo.customerNumber">
                    <i class="fa fa-user" aria-hidden="true"></i><span>{{billTo.customerNumber}} {{billTo.customerName}}</span>
                    <button type="button" class="btn btn-app btn-app-primary btn-app-sm btn-select pull-right" data-ng-click="shipToSoldToCtrl.getTokenForSoldToCustomer(billTo)" data-ng-disable="shipToSoldToCtrl.selectedBillTo.customerNumber == billTo.customerNumber"s>{{'SHIPTOSOLDPOPUP.SELECT' | translate}}</button>
                </li>
            </ul>
        </div>
    </div>
</div>
