.my-modal-popup.shipto-soldto-modal{
    top: 0 !important;
    .modal-dialog {
        margin-top: 65px;
        width: 586px;
        #shipToSoldToPopUp{
            border-radius: 3px;
            background: #f6f6f6;
            box-shadow: 0 5px 15px rgba(0,0,0,.5);
            .modal-header{
                padding: 28px 28px 18px 28px;
                border-bottom: 1px solid #e5e5e5;
                .alert-success{
                    line-height: 32px;
                    background: #9ce603;
                    font-size: 12px;
                    font-weight: 700;
                    color: #353535;
                    padding: 0 13px;
                    margin-bottom: 20px;
                    i{
                        color: #fff;
                        margin-right: 6px;
                    }
                }
                h4{
                    font-size: 16px;
                    color: #6a6a6a;
                    margin: 0;
                    padding-left: 44px;
                    position: relative;
                    line-height: 20px;
                    i{
                        position: absolute;
                        top: 13px;
                        left: 13px;
                        font-size: 14px;
                        color: #fca807;
                    }
                }
            }
            .modal-body{
                padding: 25px 38px 70px 38px;
                h5{
                    margin: 0;
                    margin-bottom: 10px;
                    color: #9b9b9b;
                    font-size: 13px;
                    font-weight: 400;
                }
                .sold-to-list-wrapper{
                    ul{
                        display: block;
                        margin: 0;
                        padding: 0;
                        li{
                            list-style: none;
                            border-bottom: 1px solid #e5e5e5;
                            padding: 8px 0;
                            i{
                                font-size: 16px;
                                color: #d1d1d1;
                                margin-right: 15px;
                            }
                            span{
                                font-size: 18px;
                                color: #585858;
                            }
                        }
                    }
                }
                .btn-app{
                    height: 36px;
                    font-weight: 600;
                    font-size: 14px;
                    border-radius: 3px;
                    text-transform: uppercase;
                    outline: 0;
                }
                .btn-app:focus, .btn-app.focus, .btn-app:active:focus, .btn-app:active.focus, .btn-app.active:focus, .btn-app.active.focus {
                    outline: 0;
                }
                .btn-app-primary{
                    background-color: $btn_primary_bgcolor;
                    border-color: $btn_primary_border_color;
                    color: #fff;
                }
                .btn-app-primary:focus, .btn-app-primary.focus, .btn-app-primary:hover {
                    background-color: $btn_primary_focus_bgcolor;
                    border-color: $btn_primary_focus_border_color;
                    color: #fff;
                }
                .btn-app-sm{
                    font-size: 11px;
                    line-height: 12px;
                    font-weight: 600;
                    height: 24px;
                    padding: 2px 12px;
                }
                .btn-select{
                    // height: 42px;
                    // min-width: 181px;
                }
            }
        }
    }
}