<loading-directive></loading-directive>
<div class="row specify-date-range">
    <div class="col-md-12"> 
        <div class="row form-group cal-div">

            <div class="col-md-2">
                <label>{{'ORDERDETAILS_BY_DATE.FROM_DATE' | translate}} : </label>
                <p class="input-group date-wrapper">
                    <input type="text" class="form-control date-txt" show-button-bar="false" uib-datepicker-popup="{{postorder.dateRange.format}}" ng-model="postorder.dateRange.fromDetails.date" is-open="postorder.dateRange.fromDetails.opened" datepicker-options="{formatYear: 'yyyy',maxDate: postorder.dateRange.toDetails.date, minDate: postorder.dateRange.fromDetails.minDate, showWeeks:false}" popup-placement="bottom-left" ng-required="true" />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default btn-calender" ng-click="postorder.openFromDtPicker($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </p>
            </div>
            <div class="col-md-2">
                <label>{{'ORDERDETAILS_BY_DATE.TO_DATE' | translate}} : </label>
                <p class="input-group date-wrapper">
                    <input type="text" class="form-control date-txt" show-button-bar="false" uib-datepicker-popup="{{postorder.dateRange.format}}" ng-model="postorder.dateRange.toDetails.date" is-open="postorder.dateRange.toDetails.opened" datepicker-options="{formatYear: 'yyyy',maxDate: postorder.currentDate, minDate: postorder.dateRange.fromDetails.date, showWeeks:false}" popup-placement="bottom-left" ng-required="true" data-ng-change="postorder.onChangeOfToDate()"/>
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default btn-calender" ng-click="postorder.openToDtPicker($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </p>
            </div>
            <div class="col-md-2">
                <button type="button" class="btn btn-app btn-app-primary pull-left btn-get-list" data-ng-click="postorder.getOrderListByDateRange(postorder.dateRange.fromDetails.date, postorder.dateRange.toDetails.date)">{{'ORDERDETAILS_BY_DATE.GET_ORDER_LIST' | translate}}</button>
            </div>
            <div class="col-sm-4 col-md-4 col-sm-4 col-lg-4">
                    <div class="input-group dt-part-search">
                        <input type="text" class="form-control" ng-keyup="$event.keyCode == 13 && postorder.dtSearchByPart()" data-ng-blur="postorder.dtSearchByPart()" data-ng-model="postorder.dtFilter.searchByPart" placeholder="{{'PLACEHOLDERALL.SEARCHORDERBYPARTNUM' | translate}}" aria-describedby="basic-addon1">
                        <span class="input-group-addon search_icon" id="basic-addon1" data-ng-click="postorder.dtSearchByPart()"><i class="fa fa-search" aria-hidden="true"></i></span>
                        <img src="assets/images/icon-cross-google-search-bar.png" class="cross ng-scope" alt="" data-ng-if="postorder.dtFilter.searchByPart" data-ng-click="postorder.clearDtSearchText()">
                    </div>
                </div>
        </div>
        <!--<div class="row form-group cal-div">
            <div class="search-text-bar">
                <div class="col-sm-4 col-md-4 col-sm-4 col-lg-4">
                    <div class="input-group">
                        <input type="text" class="form-control" data-ng-blur="postorder.searchByPart()" data-ng-model="postorder.searchFilter.searchByPart" placeholder="Search orders by part number" aria-describedby="basic-addon1">
                        <span class="input-group-addon" id="basic-addon1" data-ng-click="postorder.searchByPart()"><i class="fa fa-search" aria-hidden="true"></i></span>
                    </div>
                </div>
            </div>
        </div>-->

        <div class="row" data-ng-show="postorder.dateRange.isTblHidden == false && postorder.totalDtItems_orig == 0">
            <div class="col-md-12 no-data">
                <div ng-include="'app/post-order/exceptionTemplates/noDataAvailable.html'"></div>
            </div>
        </div>

        <div class="row" data-ng-hide="postorder.dateRange.isTblHidden || postorder.totalDtItems_orig == 0">
            <div class="col-md-12">
                <div class="download-report-wrapper">
                    <div class="download-report pull-right" data-ng-click="postorder.downloadOrderTblData('TAB2')">
                        <i class="fa fa-file-excel-o" aria-hidden="true"></i> {{'PROFILE.DOWNLOAD_EXCEL' | translate}}
                    </div>
                </div>
                <div class="table-responsive">
                    <table class="table range-order-tbl">
                         <thead>
                    <tr>
                         <th class="order-date">
                            <div class="inline-style" ng-click="postorder.sort('orderDate')">{{'POSTORDER.ORDER_DATE' | translate}}<span class="sort-arrow"><i class="fa fa-sort" aria-hidden="true"></i></span>
                            </div>
                            <div class="form-group" data-ng-show="postorder.showSearchBox">
                                <input type="text" class="form-control" data-ng-model="postorder.dtFilter.orderDate" placeholder="" ng-change="postorder._dtSearch()">
                                <i class="glyphicon glyphicon-search"></i>
                            </div>
                        </th>
                        <th class="order-num">
                            <div class="inline-style" ng-click="postorder.sort('orderNumber')">{{'POSTORDER.ORDER_NUMBER' | translate}}<span class="sort-arrow"><i class="fa fa-sort" aria-hidden="true"></i></span>
                            </div>
                            <div class="form-group" data-ng-show="postorder.showSearchBox">
                                <input type="text" class="form-control" data-ng-model="postorder.dtFilter.orderNumber" placeholder="" ng-change="postorder._dtSearch()">
                                <i class="glyphicon glyphicon-search"></i>
                            </div>
                        </th>
                        <th class="po-num">
                            <div class="inline-style" ng-click="postorder.sort('poNumber')">{{'POSTORDER.PONUMBER' | translate}}<span class="sort-arrow"><i class="fa fa-sort" 
                            aria-hidden="true"></i></span>
                            </div>
                            <div class="form-group" data-ng-show="postorder.showSearchBox">
                                <input type="text" class="form-control" data-ng-model="postorder.dtFilter.poNumber" placeholder="" ng-change="postorder._dtSearch()">
                                <i class="glyphicon glyphicon-search"></i>
                            </div>
                        </th>
                        <th class="process-num">
                            <div class="inline-style" ng-click="postorder.sort('processNumber')">{{'POSTORDER.PROCESS_NUMBER' | translate}}<span class="sort-arrow"><i class="fa fa-sort" aria-hidden="true"></i></span></div>
                            <div class="form-group" data-ng-show="postorder.showSearchBox">
                                <input type="text" class="form-control" data-ng-model="postorder.dtFilter.processNumber" placeholder="" ng-change="postorder._dtSearch()">
                                <i class="glyphicon glyphicon-search"></i>
                            </div>
                        </th>
                       
                        <!--<th>
                            <div class="inline-style" ng-click="postorder.sort('invoiceDate')">{{'POSTORDER.INVOICE_DATE' | translate}} <span class="sort-arrow"><i class="fa fa-sort" aria-hidden="true"></i></span>
                            </div>
                            <div class="form-group" data-ng-show="postorder.showSearchBox">
                                <input type="text" class="form-control" data-ng-model="postorder.dtFilter.invoiceDate" placeholder="">
                                <i class="glyphicon glyphicon-search"></i>
                            </div>
                        </th>-->
                        <th class="inv-num">
                            <div class="inline-style" ng-click="postorder.sort('invoiceNumber')">{{'POSTORDER.INVOICE_NUMBER' | translate}} <span class="sort-arrow"><i class="fa fa-sort" aria-hidden="true"></i></span></div>
                            <div class="form-group" data-ng-show="postorder.showSearchBox">
                                <input type="text" class="form-control" data-ng-model="postorder.dtFilter.invoiceNumber" placeholder="" ng-change="postorder._dtSearch()">
                                <i class="glyphicon glyphicon-search"></i>
                            </div>
                            
                        </th>
                        
                        
                         <!--<th>
                            <div class="inline-style">{{'POSTORDER.PACKING_SLIPS' | translate}}
                            </div>
                           
                        </th>-->
                        <th colspan="3" class="action">
                            <div class="inline-style">{{'POSTORDER.ORDER_DETAILS_BY_DATE.ACTION' | translate}}
                            </div>                           
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="obj in postorder.dtOrderDataClient |
                    orderBy:postorder.sortKey:postorder.reverse |
                      slice:((postorder.currentPage-1)*postorder.rowPerPage):((postorder.currentPage)*postorder.rowPerPage)">
                        <td>{{obj.orderDate}}</td>
                        <td>{{obj.orderNumber}}</td>
                        <td>{{obj.poNumber}}</td>
                        <td>{{obj.processNumber}}</td>
                        <td>
                            <div ng-if="obj.invoiceNumber">
                                <a href="" ng-click="postorder.viewInvoiceDetails(obj.invoiceNumber)">{{obj.invoiceNumber}}</a>
                                <i class="fa fa-print" aria-hidden="true" title="{{'PART.PRINT' | translate}}" ng-click="postorder.viewInvoice(obj.invoiceNumber)"></i>
                                <div uib-dropdown class="email-container" is-open="obj.isOpen" auto-close="outsideClick">
                                    <a href="" id="emailInvoiceNumber" uib-dropdown-toggle data-ng-mouseover="" data-ng-click="postorder.openEmailContainer($event)" title="{{'POSTORDER.EMAIL.LABEL_EMAIL' | translate}}">
                                        <i class="fa fa-envelope" aria-hidden="true"></i>
                                    </a>
                                    <div class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="emailInvoiceNumber">
                                        <h2>{{ 'POSTORDER.EMAIL.INV_HEAD1' | translate}}<b>{{obj.invoiceNumber}}</b>{{ 'POSTORDER.EMAIL.INV_HEAD2' | translate}}
                                            <a class="close-overlay pull-right" data-ng-click="obj.isOpen = false" data-dismiss="modal" href="#">
                                                <img ng-src="/assets/images/close-icon.png" alt="" src="/assets/images/close-icon.png">
                                            </a>
                                        </h2>
                                        <form name="emailForm" novalidate>
                                            <p data-ng-show="postorder.isSentEmailFailed" class="text-center top-err">{{'POSTORDER.EMAIL.ERR_MSG' | translate}}</p>
                                            <div class="form-group form-grp-txtarea">
                                                <label for="emailList">{{'POSTORDER.EMAIL.EMAIL_TO' | translate}}</label>
                                                <a href="" class="pull-right clear-email" data-ng-click="postorder.emailIdList = ''; postorder.isInvalidEmailList = false;">CLEAR</a>
                                                <textarea class="form-control" name="emailList" placeholder="{{ 'EMAIL.MULTIEMAILPLACEHOLDER' | translate}}" rows="3" data-ng-model="postorder.emailIdList" data-ng-change="postorder.onChangeOfEmailList()" id="emailList" autofocus required></textarea>
                                                <p data-ng-show="postorder.isInvalidEmailList" class="err-txt text-right">{{'POSTORDER.EMAIL.FORM_ERR_MSG' | translate}}</p>
                                            </div>
                                            <div class="form-group">
                                                <label data-ng-click="sharepart.selectCopiedDT()" data-ng-model="postorder.areYouCopied" uib-btn-checkbox class="checkbox-label">
                                                    <i class="fa" ng-class="postorder.areYouCopied ? 'fa-check-square' : 'fa-square-o' "></i>{{ 'EMAIL.COPYME' | translate}}
                                                </label>
                                            </div>
                                            <div class="form-group btn-control">
                                                <button type="submit" class="btn btn-app btn-app-primary pull-right"  ng-click="postorder.sendInvoiceViaEmail(obj)">{{'POSTORDER.EMAIL.BTN_TXT' | translate}}</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                          </div>
                            <!--<div ng-if="obj.invoiceNumber">
                            <a href="" ng-click="postorder.viewInvoice(obj.invoiceNumber)">{{obj.invoiceNumber}}</a>
                            <i class="fa fa-print" aria-hidden="true"></i>
                            <i class="fa fa-file-pdf-o" aria-hidden="true"></i>
                            </div>-->
                        </td>
                       
                        
                        <!--<td>
                            <button class="btn btn-app btn-app-primary btn-app-sm orderDetailBtn" 
                                    ng-click="postorder.viewPackingSlip(obj.orderNumber)" type="button">{{'POSTORDER.PACKING_SLIPS_BTN' | translate}}
                            </button>    
                        </td>-->
                        <td colspan="3">
                            <button class="btn btn-app btn-app-primary btn-app-sm orderDetailBtn" 
                                    ng-click="postorder.viewDetails(obj.orderNumber)" type="button">{{'POSTORDER.DETAIL_BTN' | translate}}
                            </button>  
                                                   
                            <button class="btn btn-app btn-app-primary btn-app-sm orderDetailBtn" 
                                    ng-click="postorder.viewPackingSlip(obj.orderNumber)" type="button">{{'POSTORDER.PACKING_SLIPS_BTN' | translate}}
                            </button>   
                        
                            <button class="btn btn-app btn-app-primary btn-app-sm orderDetailBtn orderStatusBtn" 
                                    ng-click="postorder.viewOrderStatus(obj.orderNumber)" type="button">{{'POSTORDER.ORDER_DETAILS_BY_DATE.VIEW_STATUS' | translate}}
                            </button>   
                        </td>
                    </tr>
                    <tr data-ng-if="!(postorder.dtOrderDataClient.length > 0)">
                        <td colspan="6"><div ng-include="'app/post-order/exceptionTemplates/noDataAvailable.html'"></div></td>
                    </tr>
                        </tbody>
                    </table>
                    <ul uib-pagination boundary-links="true" total-items="postorder.totalDtItems" ng-model="postorder.currentPage" ng-click="postorder.pageChanged()" max-size="postorder.maxpages" class="pagination-sm" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></ul>
                </div>
            </div>
        </div>
    </div>
</div>
