.completedOrder {
    margin-top: 5px;
    background: #EEEEEE;
    padding-top: 156px;
    .parent-container{
        border-radius: 3px;
        margin-left:  10px;
        margin-right: 10px;
        background: #fff;
        .order-title{
            padding: 35px 35px 0px 35px;
        }
        .order-placed-row{
        }
        .btn,input{
            border-radius: 4px;
            height: 32px;
        }
        .btn{
            text-transform: uppercase;
            color: #fff;
            font-size: 13px;
            font-weight: 600;
        }
        // start : master Styles
        .btn-app{
            height: 32px;
            font-weight: 600;
            font-size: 13px;
            border-radius: 3px;
            text-transform: uppercase;
            outline: 0;
        }
        .btn-app:focus, .btn-app.focus, .btn-app:active:focus, .btn-app:active.focus, .btn-app.active:focus, .btn-app.active.focus {
            outline: 0;
        }
        .btn-app-primary{
            background-color: $btn_primary_bgcolor;
            border-color: $btn_primary_border_color;
            color: #fff;
        }
        .btn-app-primary:focus, .btn-app-primary.focus, .btn-app-primary:hover {
            background-color: $btn_primary_focus_bgcolor;
            border-color: $btn_primary_focus_border_color;
            color: #fff;
        }
        .btn-app-success{
            background-color: #3FB300;
            border-color: #3FB300;
            color: #fff;
        }
        .btn-app-success:focus, .btn-app-success.focus, .btn-app-success:hover {
            background-color: #369900;
            border-color: #369900;
            color: #fff;
        }
        .btn-app-default{
            background-color: #707070;
            border-color: #707070;
            color: #707070;
        }
        .btn-app-default:focus, .btn-app-default.focus, .btn-app-default:hover {
            background-color: #666666;
            border-color: #666666;
            color: #666666;
        }
        .btn-app-transparent{
            background-color: transparent;
            border: 2px solid #363636;
            border-color: #363636;
            color: #363636;
            line-height: 15px;
        }
        .btn-app-transparent:focus, .btn-app-transparent.focus, .btn-app-transparent:hover {
            background-color: #E2E2E2;
            border: 2px solid #363636;
            border-color: #363636;
            color: #363636;
        }
        .btn-app-sm-default{
            color: #39B54A;
            background-color: #E5E5E5;
            font-size: 11px;
            font-weight: 600;
            height: 20px;
        }
        .btn-app-sm-default:focus, .btn-app-sm-default.focus {
            background-color: #E5E5E5;
            border-color: #E5E5E5;
            color: #39B54A;
        }
        .fa-check{
            color: #39A200;
            font-size: 18px;
        }
        ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
            color: #9e9e9e;
            font-size: 13px;
            font-weight: 400;
            line-height: 30px; 
        }
        ::-moz-placeholder { /* Firefox 19+ */
            color: #9e9e9e;
            font-size: 13px;
            font-weight: 400;
            line-height: 30px; 
        }
        :-ms-input-placeholder { /* IE 10+ */
        	color: #9e9e9e;
            font-size: 13px;
            font-weight: 400;
            line-height: 30px; 
        }
        :-moz-placeholder { /* Firefox 18- */
        	color: #9e9e9e;
            font-size: 13px;
            font-weight: 400;
            line-height: 30px; 
        }
        // end : master Styles
        .order-title{
            h4{
                margin-bottom: 5px;
                margin-top: 0;
                span.glyphicon-ok{
                    color: #2ea03e;
                    margin-right: 5px;
                }
                span{
                    display: inline-block;
                }
                span.order-id{
                    color: #a1a1a1;
                    font-size: 24px;
                    margin-right: 25px;
                    span{
                        color: #6e6e6e;
                        font-weight: 700;
                    }
                }
                .btn-ordrdetail{
                    position: relative;
                    bottom: 4px;
                }
            }
        }
        hr{
            margin-bottom: 21px;
        }
        .order-placed-row{
            padding: 0px 35px 0px 35px;
            .complete-order-success-msg{
                margin-bottom: 27px;
            }
            .text-left{
                p{
                    margin-bottom: 10px;
                }
                input{
                    width: 300px;
                    height: 30px;
                    border: 1px solid #cccccc;
                }
            }
            h5{
                color: #7d7d7d;
                font-size: 18px;
                font-weight: 600;
                margin-bottom: 10px;
            }
            div.text-left{
                margin-bottom: 30px;
            }
            .btn-go-to-cart{
                width: 156px;
                margin-right: 20px;
            }
            .btn-cont-shopping{
                width: 186px;
            }
            .btn-save{
                width: 96px;
                position: relative;
                bottom: 2px;
            }
            p{
                font-size: 14px;
                color: #868686;
                line-height: 14px;
            }
            label{
                display: block;
                color: #7f7f7f;
                font-size: 12px;
                font-weight: 600;
                margin-bottom: 8px;
            }
            .form-control{
                display: inline-block;
                width: 373px;
                margin-right: 10px;
                border: 1px solid #b5b5b5;
            }
        }
        .disclaimer{
            padding-bottom: 25px;    
            font-weight: 600;
            p{
                color: #acacac;
            }
        }
    }
}
