<!-- Author: Manjesh Kumar -->
<div class="container-fluid completedOrder">
    <div class="parent-container">
        <div class="row order-title">
            <div class="col-sm-12 col-md-12">
                <h4 ng-show="compltdOrdr.orderId != 'null'">
                    <span ng-show="compltdOrdr.code" class="fa fa-check" aria-hidden="true"></span>
                    <span ng-show="compltdOrdr.code" class="order-id">{{ 'COMPLETEORDER.PROCESSNO' | translate}}: <span>{{compltdOrdr.code}}</span></span>
                    <span class="fa fa-check" aria-hidden="true"></span>
                    <span class="order-id">{{ 'COMPLETEORDER.ORDERNO' | translate}}: <span>{{compltdOrdr.orderId}}</span></span>

                    <button class="btn btn-app btn-app-transparent btn-ordrdetail" ng-click="compltdOrdr.goToDetail()">{{ 'COMPLETEORDER.VIEWORDDETAIL' | translate}}</button>

                </h4>
                <!-- <h4>
                    <span class="fa fa-check" aria-hidden="true"></span>
                    <span class="order-id">{{ 'COMPLETEORDER.PROCESSNO' | translate}}: <span>{{compltdOrdr.code}}</span></span>
                </h4> -->
            </div>
        </div>
         <hr/>
         <div class="row order-placed-row">
            <div class="col-sm-12 col-md-12">
                <div class="complete-order-success-msg" ng-show="compltdOrdr.orderId != 'null'">
                    <h5>{{ 'COMPLETEORDER.ORDERSUCESSMSG' |  translate }}</h5>
                    <p>{{ 'COMPLETEORDER.ORDERSHIPEDMSG' |  translate }}{{ 'COMPLETEORDER.CONTACT_C_SERVICE' |  translate }}</p>
                    <!-- <p>{{ 'COMPLETEORDER.CONTACT_C_SERVICE' |  translate }}</p> -->
                </div>
                <div ng-show="compltdOrdr.orderId == 'null'">
                    <h5><i class="fa  fa-exclamation-triangle"></i> {{ 'COMPLETEORDER.ORDERPROCCMSG' |  translate }}</h5>
                    <p>{{ 'COMPLETEORDER.GETSTATUSHBYCUSTSUPPORT' |  translate }}</p>
                    <p>{{ 'ERRORMSG.SUPPORTMSG' |  translate }}</p>
                </div>
                <div class="text-left">
                    <!-- <p>You may save Ordered item(s) as order list</p>
                    <input type='text' placeholder="Give your order list a name"/><button>SAVE</button> -->
                    <button class="btn btn-app btn-app-success btn-go-to-cart" ng-click="compltdOrdr.go(compltdOrdr.goToPath)">{{ 'COMPLETEORDER.GOTOCART' |  translate }}</button>
                    <a href="/"><button class="btn btn-app btn-app-primary btn-cont-shopping" >{{ 'COMPLETEORDER.CONTINUNINGSHOPING' |  translate }}</button></a>
                </div>
                <!-- <div class="form-group">
                    <label>You may save Ordered item(s) as order list</label>
                    <input class="form-control" type="text" ng-model="compltdOrdr.ordrListName" placeholder="Give your order list a name"/>
                    <button class="btn btn-app btn-app-success btn-save" ng-click="compltdOrdr.saveOrder()">Save</button>
                </div> -->
            </div>
        </div>
        <!-- <div class="row order-placed-row disclaimer">
            <div class="col-md-12">
                <p style="font-size:11px"><span class="disclaimer-text">{{ 'ERRORMSG.DISCLAIMER'  | translate}} </span>{{'ERRORMSG.PROMOTIONALMSG' |  translate }}</p>
            </div>
        </div> -->
    </div>
</div>
