<div class="container-fluid mylist">
    <div id="printSection">
    </div>
    <div class="row breadcrumb-row">
        <div class="col-md-12">
            <ol class="breadcrumb">
                <li><a href="/home">{{'POSTORDER.HOME' | translate}}</a></li>
                <li class="active">{{'MYLIST.MLIST' | translate}}</li>
            </ol>
        </div>
    </div>
    <div class="mylist-container">
        <div class="row">
            <div class="pull-left list-header" ng-class="mylist.listFlag?'list-active':''" ng-click="mylist.showRFQ?mylist.listFlag=true:angular.noop()">
                <h1>{{'MYLIST.MLIST' | translate}}</h1>
            </div>
            <!--<div class="pull-left list-header" ng-class="mylist.listFlag?'':'list-active'" ng-show="mylist.showRFQ" ng-click="mylist.showRFQ?mylist.listFlag=false:angular.noop()">
                <h1>{{'MYLIST.RFQSTATUS' | translate}}</h1>
            </div>-->

            <div class="pull-right col-md-3 list-header rfq-header" ng-show="mylist.showRFQ">
                <h1 ng-hide="mylist.hasRFQ">{{'MYLIST.NEWRFQ' | translate}}</h1>
                <h1 ng-show="mylist.hasRFQ">{{'MYLIST.RFQID' | translate}}: {{mylist.draftRFQData.rfqUniqueId}}</h1>
            </div>
        </div>
        <!-- removed below code as per PZVAF-1288 -->
        <!--<div class="msg-div" ng-if="mylist.orderListMsg.show"> 
            <div class="col-md-12">
                <span class="glyphicon glyphicon-ok"></span>
                <span>{{mylist.orderListMsg.msg}}</span>
                <button type="button" ng-click="mylist.goToCartPage()" class="btn btn-primary gotocart">{{'MYLIST.GOTOCART' | translate}}</button>
            </div>
        </div>-->
        <div class="msg-div" ng-if="mylist.orderListErrMsg.show">
            <div class="col-md-12">
                <!--<span class="glyphicon glyphicon-remove"></span>-->
                <i class="fa fa-2x fa-info-circle" aria-hidden="true"></i>
                <span>{{mylist.orderListErrMsg.msg}}</span>

            </div>
        </div>
        <div class="row" ng-show="mylist.listFlag">
            <div class="col-md-12">
                <!--<uib-tabset active="active">
                <uib-tab index="0">
                    <uib-tab-heading>{{'MYLIST.MLIST' | translate}}</uib-tab-heading>-->
                <!--<div class="row firstsection">
                        <div class="col-sm-3">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="input-group headspace">
                                        <input type="search" class="form-control search-by-part" placeholder="Search list by listname">
                                        <span class="input-group-addon"><a href=""><i class="glyphicon glyphicon-search"></i></a></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-9">
                            <div class="row">
                                <div class="col-md-10">
                                    <div class="text-right text-info"><i class="fa fa-print" aria-hidden="true"></i>{{'MYLIST.PLIST' | translate}}</div>
                                </div>
                                <div class="addToCart pull-right col-md-2">
                                    <a href="#" data-ng-click="mylist.open()">
                                        <div class="text-right text-info" data-ng-click="mylist.open()"><i class="fa fa-envelope" aria-hidden="true"></i>{{ 'ORDERLIST.SHAREORDERLIST' | translate}}</div>
                                     </a>
                                </div>
                            </div>
                            
                        </div>
                    </div>-->
                <div class="row Secondsection">
                    <div class="col-sm-2">
                        <div class="row manage-list-block">
                            <div class="col-md-5 create-list" data-ng-if="mylist.userPermissionsList.CreateOrderlist">
                                <a href="" class="" data-ng-click="mylist.createlist()">
                                    <i class="fa fa-plus"></i>{{'MYLIST.CREATENL' | translate}}
                                </a>
                            </div>
                            <div class="col-md-7 manage-list">
                                <a href="" class="" data-ng-click="mylist.managelist()" ng-if="mylist.lists.length > 0">
                                    <i class="fa fa-cog"></i>{{'MYLIST.MANAGEL' | translate}}
                                </a>
                                <a href="" class="disablelink"  ng-if="mylist.lists.length == 0" ng-disabled="">
                                    <i class="fa fa-cog"></i>{{'MYLIST.MANAGEL' | translate}}
                                </a>
                            </div>
                        </div>
                        <div class="row" ng-if="mylist.lists.length > 0">
                            <div class="col-md-12">
                                <div class="input-group headspace">
                                    <input type="search" class="form-control search-by-part" placeholder="{{'PLACEHOLDERALL.SEARCHLISTBYNAME' | translate}}" data-ng-model="mylist.FilterList">
                                    <span class="input-group-addon"><a href=""><i class="glyphicon glyphicon-search"></i></a></span>
                                    <img src="assets/images/icon-cross-google-search-bar.png" class="cross ng-scope" alt="" data-ng-if="mylist.FilterList" data-ng-click="mylist.clear()">
                                </div>
                            </div>

                        </div>
                        <div class="row" ng-if="mylist.lists.length > 0">
                            <div class="col-md-12">
                                <div class="list-group listName">
                                    <a href="#" class="list-group-item" data-ng-repeat="key in mylist.lists | filter:mylist.FilterList" ng-click="mylist.showList(key.id, key.cartName)"
                                        ng-class="{'active':mylist.selectedList === key.id}" title="{{key.cartName}}">
                                        
                                            {{key.cartName | limitTo: 26}}{{key.cartName.length > 26?'...':''}}&nbsp;&nbsp;({{key.cartLineCount}})
                                            <i class="fa fa-chevron-right pull-right" aria-hidden="true"></i> 
                                    </a>
                                    <span class="no-list-msg" ng-show="(mylist.lists | filter:mylist.FilterList).length === 0">
                                        <i class="fa fa-2x fa-info-circle" aria-hidden="true"></i>
                                            <p>{{'MYLIST.LIST_SEARCH_ERR' | translate}}</p>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="ssleftborder" ng-class="mylist.showRFQ?'col-md-7':'col-md-10'" ng-if="mylist.lists.length === 0" ng-class="(mylist.lists.length === 0)?'empty-list-panel':''">
                        <div class="row empty-list">
                            <div class="col-md-12">
                                <p>{{'ERRORMSG.LISTTOPROCEEDMSG' | translate}}</p><br/>
                                <span><input type="button" class="btn btn-primary" value="CREATE LIST" ng-click="mylist.createlist()"/></span>
                            </div>
                        </div>
                    </div>
                    <div class="ssleftborder" ng-class="mylist.showRFQ?'col-md-7':'col-md-10'" ng-if="mylist.lists.length > 0">
                        <div class="row  list-loading" data-ng-if="mylist.loadingListItems">
                            <div class="row">
                                <div class="col-md-1"></div>
                                <div class="col-md-10 loading-text">
                                    <h3>{{ 'LOADING.LOADINGTEXT' | translate}}</h3>
                                    <br>
                                    <img src="/assets/images/loading.gif" width="40" height="40">
                                    <br>
                                    <h5>

                                    </h5>
                                </div>
                                <div class="col-md-1"></div>
                            </div>
                        </div>
                        <div data-ng-if="mylist.loadingListItems === false">
                            <div class="row data-header" data-ng-if="mylist.totalItemCount > 0">
                                <div class="col-sm-6">
                                    <div class="input-group search-part">
                                        <input type="text" class="form-control input-sm" placeholder="{{'PLACEHOLDERALL.SEARCHLISTBYPARTNO' | translate}}" ng-model="mylist.partSearch.partSearchData">
                                       <!--  <span class="input-group-btn">
                                            <button class="btn" type="button"><i class="fa fa-search" aria-hidden="true"></i></button>
                                        </span> -->
                                         <span class="input-group-addon"><a href=""><i class="glyphicon glyphicon-search"></i></a></span>
                                    </div>
                                </div>
                                <div class="col-sm-5 text-right">
                                    <div class="text-center notify-msg" data-ng-if="mylist.isEmailSent">{{'POSTORDER.EMAIL.SUCCESS_MSG' | translate}}</div>
                                    <a href="#" class="email-lnk" data-ng-click="mylist.openShareList()">
                                        <div class="text-info">
                                            <i class="fa fa-envelope" aria-hidden="true" title="{{'POSTORDER.EMAIL.LABEL_EMAIL' | translate}}"></i> 
                                            <!--<span class="tyotext">{{ 'ORDERLIST.SHAREORDERLIST' | translate}}</span>-->
                                        </div>
                                    </a>
                                </div>
                                <div class="col-sm-1 text-center">
                                    <div class="text-info print-div" print-directive print-element-id="printThisElement">
                                        <i class="fa fa-print" aria-hidden="true" title="{{'MYLIST.PLIST' | translate}}"></i>
                                        <!--<span class="tyotext">{{'MYLIST.PLIST' | translate}}</span>-->
                                    </div>
                                </div>
                            </div>
                            <div class="row  zeroitemmsg" data-ng-if="mylist.totalItemCount === 0">
                                <i class="fa fa-2x fa-info-circle" aria-hidden="true"></i>
                                <span class="text-center">
                                   {{ 'MYLIST.EMPTY_MSG' | translate}}
                                </span>
                                <!--<h4 class="text-center">
                                    Search for item you'd like to add.
                                </h4>-->
                            </div>
                            <div class="row table-padding" ng-show="mylist.totalItemCount > 0">
                                <div class="col-md-12 table-responsive" id="printThisElement" style="overflow-x:hidden;">
                                    <table class="table mylisttable">
                                        <thead>
                                            <tr>
                                                <!--<th>
                                                    <label data-ng-click="mylist.selectAllCartItem()" data-ng-model="mylist.isAllCartItmChecked" uib-btn-checkbox class="checkbox-label">
                                                        <i class="fa" ng-class="mylist.isAllCartItmChecked ? 'fa-check-square' : 'fa-square-o' ">
                                                            
                                                        </i>
                                                    </label>
                                                </th>-->
                                                <!--<th>{{'MYLIST.SRNO' | translate}}</th>-->

                                                <th class="deleteTd">{{'MYLIST.REMOVE' | translate}}</th>
                                                <th class="partNameHead">
                                                    <div class="inline-style" ng-click="mylist.sort('partNo')">
                                                        {{'MYLIST.PARTNO_NAME' | translate}}
                                                        <span class="sort-arrow"><i class="fa fa-sort" aria-hidden="true"></i></span>
                                                    </div>
                                                </th>

                                                <th class="date-added">{{'MYLIST.DATEADDED' | translate}}</th>
                                                <th>{{'MYLIST.QTY' | translate}}<br/>
                                                    <input class="btn btn-primary btn-xs" value="UPDATE"
                                                        ng-if="mylist.isEditableQty" ng-click="mylist.updateQuantity()" data-ng-disabled="mylist.cartQtyNotAllowed" type="button"
                                                        style="font-size:10px;background:#0093c6;border-radius:3px; border:none; margin-top:5px;"
                                                    />
                                                </th>

                                                <th ng-show="mylist.priceCheck&&!mylist.showRFQ" class="priceTd">

                                                    {{'MYLIST.UNITPRICE' | translate}}
                                                </th>
                                                <th ng-show="mylist.priceCheck&&!mylist.showRFQ" class="priceTd">
                                                    {{'MYLIST.COREPRICE' | translate}}
                                                </th>
                                                <th>
                                                    <button type="button" class="btn btn-primary add-to-cart-all" data-ng-click="mylist.addAllToRFQ()" ng-show="mylist.showRFQ && !mylist.allAddedRFQ">
                                                        {{ 'MYLIST.ADDALL_TORFQ' | translate}}
                                                    </button>
                                                    <button type="button" data-ng-if="mylist.userPermissionsList.AddCart && mylist.userPermissionsList.StockOrder" class="btn btn-app btn-app-primary btn-add-all-to-cart"
                                                    data-ng-click="mylist.addAllToCart()" data-ng-disabled="mylist.cartQtyNotAllowed" ng-hide="mylist.hideCartBtn">
                                                    {{ 'MYLIST.ADDALL_TOCART' | translate}}
                                                    </button>
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-init="list.partSearchData = list.partNo +' '+ list.partName" ng-repeat="list in mylist.listData | orderBy:'-createdOn' | filter:mylist.partSearch">
                                                <!--<td>
                                                    <label data-ng-click="mylist.selectAllCartItem()" data-ng-model="mylist.isAllCartItmChecked" uib-btn-checkbox class="checkbox-label">
                                                        <i class="fa" ng-class="mylist.isAllCartItmChecked ? 'fa-check-square' : 'fa-square-o' ">
                                                            
                                                        </i>
                                                    </label>
                                                </td>-->
                                                <td colspan="7" ng-if="list.isDeleted" class="list-item-delete">
                                                    <div class="list-item-delete-box">
                                                        "{{list.partNo}}" is removed.
                                                    </div>
                                                </td>
                                                <td class="deleteTd" ng-if="!list.isDeleted">
                                                    <a ng-click="mylist.deleteCartItem(list)"> <span class="text-info"></span><i class="fa fa-trash" aria-hidden="true"></i></a>
                                                </td>
                                                <td ng-if="!list.isDeleted">
                                                    <div class="row partdetails-div">
                                                        <div class="part-img col-xs-3">
                                                            
                                                            <img ng-if="!list.thumbnail" ng-src="{{protocol}}://placehold.it/50x50/dbdbdb/0099CC/?text=NO+IMAGE" src="https://placehold.it/50x50/dbdbdb/0099CC/?text=NO+IMAGE"
                                                                class="img-responsive">
                                                            <img ng-if="list.thumbnail" ng-src="{{protocol}}://{{mylist.imageBaseUrl}}/tnimgs/{{list.thumbnail}}" onerror="this.src='https://placehold.it/50x50/dbdbdb/0099CC/?text=NO+IMAGE'"
                                                                class="img-responsive">
                                                        </div>
                                                        <div class="col-xs-9">
                                                            <div class="part-number">
                                                              <a href="{{mylist.gotoPart(list)}}">{{list.partNo}}</a>
                                                            </div>
                                                            <div class="part-name">
                                                                {{list.partName}}
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <table class="partdetails-print-tbl">
                                                        <tr>
                                                            <td>
                                                                <img ng-if="!list.thumbnail" ng-src="{{protocol}}://placehold.it/50x50/dbdbdb/0099CC/?text=NO+IMAGE" src="https://placehold.it/50x50/dbdbdb/0099CC/?text=NO+IMAGE"
                                                                    class="img-responsive">
                                                                <img ng-if="list.thumbnail" ng-src="{{protocol}}://{{mylist.imageBaseUrl}}/tnimgs/{{list.thumbnail}}" class="img-responsive">
                                                            </td>
                                                            <td>
                                                                <div class="part-number">
                                                                    {{list.partNo}}
                                                                </div>
                                                                <div class="part-name">
                                                                    <h5 class="">{{list.partName}}</h5>
                                                                </div>
                                                            </td>
                                                        </tr>
                                                    </table>
                                                </td>
                                                <td ng-if="!list.isDeleted">
                                                    <span class="datastyle">
                                                {{list.createdOn | date:'MM/dd/yyyy'}}
                                                </span>
                                                </td>
                                                <td ng-if="!list.isDeleted">
                                                    <span class="number-container">
                                                        <input nonegative-directive="" no-spl-char="" id="mylist_{{list.id}}" name="qtysize" type="number" data-ng-model="list.quantity" ng-change="mylist.onQtyChange(list, 'mylist_'+list.id)" ng-blur=" mylist.blurQty(list, 'mylist_'+list.id)" min="0" step="{{list.packageQty}}" 
                                                        uib-tooltip="{{'TOOLTIP.PLEASEVERFYPARTQTY' | translate}}" tooltip-is-open="list.enable && list.quantity > 9999"  tooltip-enable="list.quantity > 9999" tooltip-placement="auto top" data-ng-class="{'qty-err': !(list.quantity >= 1) || (list.quantity % list.packageQty != 0)}" data-ng-disabled="list.RTBFailed">
                                                    </span>
                                                    <div class="pckg-qty-err" ng-show="list.packageQty > 1">
                                                        <i class="fa fa-info-circle" aria-hidden="true"></i>{{'PARTCARD.INVALID_PACKAGE_QTY' | translate}}{{list.packageQty}}.
                                                    </div>
                                                        <!--<i class="fa fa-check" ng-click="mylist.updateQuantity(list)" style="float:left; font-size:12px; margin:4px 0px 0px 10px; cursor:pointer;"></i>-->
                                                        
                                                    <!--<span ng-if="!list.isEditableQty" ng-click="list.isEditableQty = true" class="qty-edit-val">
                                                        <p style="float:left; margin:0px;">{{list.quantity}}</p>
                                                        <i class="fa fa-pencil" aria-hidden="true" style="float:left; font-size:12px; margin:4px 0px 0px 10px; cursor: pointer;"></i>
                                                    </span>-->
                                                </td>
                                                <td ng-show="mylist.priceCheck&&!mylist.showRFQ" class="priceTd" ng-if="!list.isDeleted">
                                                    <span ng-show="mylist.userPermissionsList.CheckPrice&&mylist.priceCheck&&list.price">
                                                         {{list.price | number: 2}}
                                                    </span>

                                                </td>
                                                <td ng-show="mylist.priceCheck&&!mylist.showRFQ" class="priceTd" ng-if="!list.isDeleted">
                                                    <span ng-show="mylist.userPermissionsList.CheckPrice&&mylist.priceCheck&&list.core_price">
                                                         {{list.core_price | number: 2}}
                                                    </span>
                                                </td>
                                                <!--<td>
                                                    <a ng-click="mylist.deleteCartItem(list.id)"> <span class="text-info">{{'MYLIST.REMOVE' | translate}}</span>
                                                        <i class="fa fa-trash" aria-hidden="true"></i>
                                                    </a>
                                                    <span>{{list.createdOn}}</span>
                                                </td>-->
                                                <td class="actionTd" ng-if="!list.isDeleted">
                                                    <div ng-hide="list.addedRFQ" class="addrfq">
                                                        <button type="button" class="btn btn-app btn-app-primary btn-app-sm" ng-click="mylist.addToCart(list)" data-ng-if="mylist.userPermissionsList.AddCart && mylist.userPermissionsList.StockOrder"
                                                            ng-hide="list.addedToCart" data-ng-disabled="!(list.quantity >= 1) || (list.quantity % list.packageQty != 0) || list.RTBFailed">
                                                            {{ 'MYLIST.ADDTOCART' | translate}}
                                                        </button>
                                                        <button type="button" class="btn btn-app btn-app-primary btn-app-sm" ng-click="mylist.addToRFQ(list)" ng-show="mylist.showRFQ">
                                                           <span> {{ 'MYLIST.ADDTORFQ' | translate}}</span>
                                                        </button>
                                                    </div>
                                                    <div ng-show="list.addedRFQ" class="addrfq">
                                                        <i class="fa fa-check" aria-hidden="true" style="color:#2ea03e"></i>                                                        {{ 'MYLIST.ADDED_RFQ' | translate}}
                                                    </div>
                                                    <div ng-show="list.addedToCart" class="add-cart">
                                                        <i class="glyphicon glyphicon-ok" aria-hidden="true"></i> {{ 'MYLIST.ADDED_CART'
                                                        | translate}}
                                                    </div>
                                                    <div ng-show="list.RTBFailed && mylist.userPermissionsList.AddCart && mylist.userPermissionsList.StockOrder" class="rtb-failed">
                                                        <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>                                                        <span>{{ 'MYLIST.AUTH_REQ' | translate}}</span>
                                                        <!--<i class="glyphicon glyphicon-remove" aria-hidden="true"></i> -->
                                                    </div>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>

                                    <div ng-if="(mylist.listData | filter:mylist.partSearch).length === 0" style="text-align:center; padding-top:30px; font-size: 14px;">
                                        <i class="fa fa-2x fa-info-circle" aria-hidden="true" style="margin-right: 10px;"></i>                                        {{ 'MYLIST.NO_RESULT' | translate}}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3" ng-show="mylist.showRFQ">


                        <div class="rfq-container">
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="rfq-empty-wrap" ng-hide="mylist.hasRFQ">
                                        <h4><i class="fa fa-exclamation-triangle" aria-hidden="true"></i> {{'MYLIST.ZEROPARTS'
                                            | translate}}</h4>
                                        <p>{{'MYLIST.ADDPARTS_TOPROCEED' | translate}}</p>
                                    </div>
                                    <div class="rfq-wrap" ng-show="mylist.hasRFQ">
                                        <div class="rfq-header">
                                            <label>{{'MYLIST.NO_PARTS' | translate}} </label>
                                            <p>{{mylist.draftRFQData.rfqItemsDTOs.length}}</p>
                                        </div>
                                        <div class="rfq-body">
                                            <div class="row">
                                                <div class="col-xs-1">
                                                </div>
                                                <div class="col-xs-10">
                                                    <a class="btn btn-primary btn-block" ng-click="mylist.locateDealers(mylist.draftRFQData)">
                                                {{'MYLIST.SEND_RFQ_BTN1' | translate}}<br/>{{'MYLIST.SEND_RFQ_BTN2' | translate}}
                                            </a>
                                                </div>
                                                <div class="col-xs-1">
                                                </div>
                                            </div>

                                            <a class="view-parts-added" href="#" ng-click="mylist.showRFQAdded = !mylist.showRFQAdded">
                                                <div class="row">
                                                    <div class="col-xs-12" ng-hide="mylist.showRFQAdded">
                                                        <p>{{'MYLIST.VIEW_PARTS_ADDED' | translate}}</p>
                                                        <i class="fa fa-sort-desc" aria-hidden="true"></i>
                                                    </div>

                                                    <div class="col-xs-12" ng-show="mylist.showRFQAdded">
                                                        <p>{{'MYLIST.HIDE_PARTS_ADDED' | translate}}</p>
                                                        <i class="fa fa-sort-asc" aria-hidden="true"></i>
                                                    </div>
                                                </div>
                                            </a>
                                            <div style="width:100%;max-height:300px;float:left;overflow-y:auto;overflow-x:hidden;">
                                                <table class="table added-to-rfq-tbl" ng-show="mylist.showRFQAdded">
                                                    <thead>
                                                        <tr>
                                                            <th style="width:5%;"></th>
                                                            <th style="width:70%;">{{'MYLIST.RFQ_PART1' | translate}}<br/>{{'MYLIST.RFQ_PART2' |
                                                                translate}}</th>
                                                            <th style="width:20%;">{{'MYLIST.RFQ_RQTY' | translate}} </th>
                                                            <th style="width:5%;"></th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr ng-repeat="items in mylist.draftRFQData.rfqItemsDTOs">
                                                            <td colspan="4" ng-if="items.isDeleted" class="list-item-delete">
                                                                <div class="list-item-delete-box">
                                                                    "{{items.partNumber}}" is removed.
                                                                </div>
                                                            </td>
                                                            <td ng-if="!items.isDeleted">{{$index + 1}}</td>
                                                            <td ng-if="!items.isDeleted">
                                                                <label>{{items.partNumber}}</label>
                                                                <p>{{items.partName}}</p>
                                                            </td>
                                                            <td ng-if="!items.isDeleted">{{items.qty}}</td>
                                                            <td ng-if="!items.isDeleted"><a href="#" ng-click="mylist.delRFQItem(items)"><i class="fa fa-trash" aria-hidden="true"></i></a></td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>