.share-overlay{
top:20px;
}
.my-modal-popup.manage-mylist-popup{
    top: 0 !important;
}
.mylist {
    background-color: $app_bg_color;
    margin-top: 3px;
    .btn[disabled]{
        background-color: #dbdbdb !important;
        border-color: #dbdbdb !important; 
        color: #acacac; 
        cursor: default; 
    }
    .btn[disabled]:hover{
        color: #acacac;
    }
    .breadcrumb-row{
        background-color: #FFF;
        box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 7px;
        // box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.05);
        .breadcrumb{
            background-color: #FFF;
            font-weight: 600; 
            margin-bottom: 0;
            padding: 8px 10px;
            li + li:before {
                padding: 0 5px;
                content: "> ";
                font-size: 10px;
                color: #777;
            }
            a:hover{
                cursor: pointer;
            }
        }
    }
    a{
        outline: none;
    }
   
    .list-loading{
        height:275px;
        //color:#CCCCCC;
        .loading-text{
          text-align: center;
          padding: 50px 35%; 
        }
        .fa-spinner{
            padding-left:35px;
        }
        
    }
    .pckg-qty-err{
        font-weight: 600;
        color: #414141;
        text-align: left;
        font-size: 11px;
        position: relative;
        padding-left: 13px;
        line-height: 12px;
        .fa-info-circle{
            color: #6e6e6e;
            font-size: 11px;
            margin-right: 5px;
            position: absolute;
            left: 0px;
            top: 2px;
            margin: 0;
        }
    }
    .btn-app{
        height: 32px;
        font-weight: 600;
        font-size: 14px;
        line-height: 16px;
        border-radius: 3px;
        text-transform: uppercase;
        outline: 0;
    }
    .btn-app:focus, .btn-app.focus, .btn-app:active:focus, .btn-app:active.focus, .btn-app.active:focus, .btn-app.active.focus {
        outline: 0;
    }
    .btn-app-primary{
        background-color: $btn_primary_bgcolor;
        border-color: $btn_primary_border_color;
        color: #fff;
    }
    .btn-app-primary:focus, .btn-app-primary.focus, .btn-app-primary:hover {
        background-color: $btn_primary_focus_bgcolor;
        border-color: $btn_primary_focus_border_color;
        color: #fff;
    }
    .btn-app-sm{
        font-size: 10px;
        line-height: 12px;
        font-weight: 600;
        height: 24px;
        padding: 2px 12px;
    }
    .btn-add-all-to-cart{
        height: 27px;
        font-size: 11px;
        line-height: 11px;
    }
    .input-sm{
        height: 32px;
        border-radius: 3px;
    }
    .notify-msg{
        width: 307px;
        position: fixed;
        background: #fff;
        top: 60px;
        left: 0;
        right: 0;
        margin: 0 auto;
        z-index: 3000;
        border: 1px solid #3FB300;
        color: #FFFFFF;
        background: #3FB300;
        font-weight: 600;
        font-size: 14px;
        padding: 7px 10px;
        border-radius: 3px;
    }
    .fa-info-circle {
        color: #6e6e6e;
        font-size: 20px;
        margin: 10px 8px;
    }
    .email-lnk{
        >div{
            display: inline-block;
        }
    }
    .glyphicon-ok{
        color: #39a200;
        margin-right: 5px;
    }
    .glyphicon-remove{
        color: #FF0000;
        margin-right: 10px;
    }
    .cross{
        position: absolute;
        top: 7px;
        right: 43px;
        z-index: 300;
    }
    .list-header{
        color:#ccc;
        cursor:pointer;
        margin: 0px 10px;
        h1{
            // font-weight:normal;
            margin-top: 25px;
            padding-left: 9px;
            font-weight: 300;
            color: #9b9b9b;
            font-size: 30px;
        }
    }
    .rfq-header {
        //padding-bottom: 10px;
        h1 {
            font-size: 13px;
            font-weight: 600;
            color:#acacac;
            margin-top: 50px;
            float: left;
            margin-left: 15px;
        }
        p {
            font-size: 14px;
        }
    }
    .rfq-body {
        .btn-primary {
            background: $btn_primary_bgcolor;
            border-radius: 3px;
            border:none;
        }
        .view-parts-added {
            width: 100%;
            float: left;
            text-align: center;
            p {
                margin: 0px;
                padding: 0px;
                color: #0093C6;
            }
            i {
                color: #a3a3a3;
                font-size: 18px;

            }
        }
    }
    .list-active {
        color: #777;
        cursor: default;
    }
    .mylist-container{
        margin-right: 10px;
        margin-bottom: 20px;
        position: relative;
        .msg-div{
                position: absolute;
                top: 28px;
                left: 324px;
                font-size: 18px;
                span.glyphicon-ok{
                    color: #39a200;
                    margin-right: 5px;
                }
                .gotocart{
                     background-color: $btn_primary_bgcolor;
                    border-color: $btn_primary_border_color;
                    border-radius: 3px;
                    font-size: 11px;
                    font-weight: 600;
                    margin-left: 10px;
                }
        }
    }
    .headspace {
            margin:10px 8px;
            input[type="search"]{
                background-color: #f9f9f9;
                box-shadow: none;
                border: 1px solid #ccc;
                width: 100%;
            }
            input[placeholder]{
                    font-size: 11px;
            }
            .input-group-addon{
                background-color: #f9f9f9;
                border: 1px solid #dadada;
                border-left: none;
                i{
                    color:#0093c6;
                }
            }
    }
    .btn-primary.add-to-cart,.btn-primary.add-to-cart-all {
        border-radius: 3px;
        font-size: 11px;
        font-weight: 600;
        padding: 3px 14px;
        background-color: $btn_primary_bgcolor;
        border-color: $btn_primary_border_color;
    }
    .btn-primary.add-to-cart:hover, .btn-primary.add-to-cart-all:hover {
        background-color: $btn_primary_bgcolor;
        border-color: $btn_primary_border_color;
    }
    .btn-primary.add-to-cart-all{
        padding: 5px 14px;
        font-size: 11px;
    }
    .listspace {
        li {
            line-height: 2em;
            font-size: 15px;
            a {
                margin-left: 30px;
                &:hover,
                &:active,
                &:focus {
                    text-decoration: none;
                }
                &:active,
                &:focus {
                    border: 1px solid #ddd;
                    padding: 5px 0 5px 5px;
                    display: block;
                    margin-left: 20px;
                    text-decoration: none;
                }
            }
        }
    }
    .text-info {
            .tyotext{
            font-size: 11px;
            font-weight:400;
            color:#b3b3b3;
            margin-left: 5px;
        }
    }
    .print-div{
        cursor: pointer;
        display: inline-block;
        .tyotext{
            font-size: 11px;
            font-weight:400;
            color:#b3b3b3;
            margin-left: 5px;
        }
    }
    .tab-content > .active {
        display: block;
        border-left: 1px solid #ddd;
       // border-right: 1px solid #ddd;
        border-bottom: 1px solid #ddd;
        padding: 5px 20px 5px 0;
    }
    .nav-tabs > li {
        background-color: #eee;
    }
    .nav-tabs > li.active > a,
    .nav-tabs > li.active > a:hover,
    .nav-tabs > li.active > a:focus {
        // color: #fff !important;
        // background-color: #0093c6;
        cursor: default;
        // border-bottom-width: 0px;
    }
    .wrap {
        .createicon {
            position: absolute;
            right: 13%;
            top: 0;
            font-size: 16px;
            color: $support_color_primary;
            a {
                text-decoration: none;
            }
        }
        .manageicon {
            position: absolute;
            right: 10px;
            top: 0;
            font-size: 16px;
            color: $support_color_primary;
            a {
                text-decoration: none;
            }
        }
    }
    .btn-default {
        background-color: #673AB7;
        color: #b4788c;
        font-weight: 600;
        border: 1px solid #673AB7;
        &:hover,
        &:focus,
        &:active {
            background-color: #673AB7;
            color: #b4788c;
            border-color: #b4788c;
            border: 1px solid #b4788c;
        }
    }
    .fa {
        margin-left: 5px;
        margin-right: 5px;
    }
    .fa-envelope{
        font-size: 18px;
        color:$active_link_color;
    }
    .fa-print{
        font-size: 18px;
        color:$active_link_color;
    }
    // .mylisttable{
    // }
    .Secondsection {
        .rfq-container {
            width: 100%;
            float: left;
            //margin-top: 20px;
            .rfq-wrap {
                width: 100%;
                height: auto;
                //border: #ccc solid 1px;
                border-radius: 3px;
                background: #fff;
                float: left;
                padding: 0px;
                padding-bottom: 10px;
                -webkit-box-shadow: 3px 3px 3px rgba(0,0,0,0.05);
                -moz-box-shadow: 3px 3px 3px rgba(0,0,0,0.05);
                -o-box-shadow: 3px 3px 3px rgba(0,0,0,0.05);
                box-shadow: 3px 3px 3px rgba(0,0,0,0.05);
                .rfq-header {
                    width: 100%;
                    float: left;
                    border-bottom: #f1f1f1 solid 1px;
                    label {
                        float: left;
                        margin: 0px;
                        padding: 0px;
                        color:#b3b3b3;
                        margin: 12px 0px 0px 15px;
                        font-weight: 400;
                    }
                    p {
                        float: right;
                        margin: 0px;
                        padding: 0px;
                        margin: 12px 15px 9px 0px;
                        font-size: 16px;
                        font-weight: 700;
                        color: #242424;
                    }
                }
                .rfq-body {
                    width: 100%;
                    float: left;
                    a {
                        margin-top: 20px;
                        font-size:12px;
                        font-weight: 600;
                    }
                    
                    table {
                        thead {
                            tr {
                                >* {
                                    color: #b3b3b3;
                                    border-bottom: 1px #f1f1f1 solid;
                                    font-weight: 400;
                                    font-size: 12px;
                                }
                                th:nth-child(1) {
                                    width: 20%;
                                }
                                th:nth-child(2) {
                                    width: 30%;
                                }
                                th:nth-child(3) {
                                    width: 40%;
                                }
                                th:nth-child(4) {
                                    width: 10%;
                                }
                            }
                        }

                        tbody {
                            tr {
                                td{
                                    border-top: 1px #f1f1f1 solid;
                                    label {
                                        color:#0093C6;
                                    }
                                    p {
                                        margin: 0px;
                                        padding: 0px;
                                    }
                                }
                                td:nth-child(3) {
                                    text-align: center;
                                }
                                td:nth-child(4) {
                                    a {
                                        i {
                                        
                                    font-size: 14px;
                                    color: #6e6e6e;
                                    }
                                    }
                                    
                                }
                                
                                    .list-item-delete {
                                        .list-item-delete-box {
                                            padding: 10px 0px;
                                            background: #fff67b ;
                                            border-radius: 3px;
                                            border:1px dashed #ccc;
                                            color:#232323;
                                            font-size: 12px;
                                            font-weight: 600;
                                            text-align: center;
                                        }
                                    }
                            }
                        }
                    }
                }
            }
            .rfq-empty-wrap {
                width: 100%;
                height: 200px;
                border-radius: 3px;
                background: #fff;
                
                -webkit-box-shadow: 3px 3px 3px rgba(0,0,0,0.05);
                -moz-box-shadow: 3px 3px 3px rgba(0,0,0,0.05);
                -o-box-shadow: 3px 3px 3px rgba(0,0,0,0.05);
                box-shadow: 3px 3px 3px rgba(0,0,0,0.05);
                h4 {
                    text-align: center;
                    color: #ccc;
                    font-size: 14px;
                    margin:60px 0px 0px 0px;
                    width: 100%;
                    float: left;

                }
                p {
                    text-align: center;
                    color: #ccc;
                    font-size: 11px;
                    width: 100%;
                    float: left;
                    margin: 10px 0px 0px 0px;
                }
            }
        }
        .list-group-item{
            border:none;
            margin:0;
            border-radius: 1px;
            font-size: 13px;
            background-color:transparent;
            padding-left: 10px;
        }
        .list-group-item:hover{
            
        }
        .manage-list-block{
            //margin-top:20px;
            font-size:13px;
            padding-left:20px;
            .fa-plus{
                margin-left: 0;
            }
            .manage-list{
                a{
                    font-weight: 600;
                    font-size: 12px;
                    
                }
                .disablelink{
                    color:#ccc;
                    cursor:pointer;
                }
            }
            .create-list{
                padding:0;
                a{
                    font-weight: 600;
                    font-size: 12px;
                    
                }
            }
        }
        .listName {
            a {
                padding: 0px 15px 10px 10px;
            }
        }
        .listName .list-group-item .fa-chevron-right{
            display: none;
         }
        .listName .list-group-item.active{
            .fa-chevron-right{
                display: block;
                margin-top: 4px;
            }
            color:#000;
            font-weight: 700;
        }
        .no-list-msg{
            display: table;
            margin-left: 8px;
            margin-right: 8px;
            font-weight: 400;
            font-size: 13px;
            i{
                display: table-cell;
                font-size: 14px;
            }
            p{
                display: table-cell;
                padding-left: 5px;
            }
        }
        .zeroitemmsg {
            margin: 100px 25%;
            font-size:20px;
        }
        .ssleftborder {
            //margin-top:20px;
            background-color:#FFF;
            min-height: 350px;
            box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.05);
            border-radius: 3px;
            .empty-list {
                margin-top: 100px;
                p {
                    width: 100%;
                    float: left;
                    text-align: center;
                    font-size: 14px;
                }
                span {
                    width: 100%;
                    float: left;
                    text-align: center;
                    margin-top: 10px;
                    input {
                        background: #0093C6;
                        border-radius: 3px;
                        border:none;
                    }
                }
            }
            .table-padding{
                padding-right: 20px;
                padding-left: 20px;
            }
            .data-header{
                padding:20px;
                height:70px;
                .search-part {
                    border:#ccc solid 1px;
                    border-radius: 3px;
                    background-color: #f9f9f9;
                    margin-left: -10px;
                    .input-group-addon{
                        border:none;
                        background-color: #f9f9f9;
                        border-left: 1px solid #ccc;
                    }
                    input {
                        border: none;
                        box-shadow: none;
                    }
                    button {
                        // background: #fff;
                        background: #f9f9f9;
                        border-left: 1px solid #dbdbdb;
                        i {
                            color: #0093c6;
                        }
                    }
                    input[type="text"]{
                        background-color: #f9f9f9;
                    }
                    .input-group-btn {

                    }
                }   
            }
        }

        .empty-list-panel {
            background: transparent;
            min-height: 200px; 
        }
        .table-responsive{
            padding:0;
            .fa-trash{
                font-size: 14px;
                color:#6e6e6e;
            }
            // border-radius: 3px;
        }
        .mylisttable {
            border:1px solid #f1f1f1;
            .priceTd{
                text-align: right;
                padding-right:12px;
            }
            th{
                background-color: #fbfbfb;
                color:#acacac;
                font-size:11px;
                border-right: 1px solid #f1f1f1;;
                border-bottom:none;
                &:first-child {
                       
                        // border-right:none;
                }
            }
            .partNameHead{
                width: 40%;
            }
            .date-added{
                min-width: 100px;
            }
           
            tbody {
                color:#323232;
                font-size:14px;
                a{
                    cursor: pointer;
                }
                td {
                    border-right: 1px solid #f1f1f1;
                    vertical-align: middle;
                    border-top: 1px solid #f1f1f1;
                    .rtb-failed{
                        width: 184px;
                        display: inline-flex;
                        i{
                            font-size: 14px;
                        }
                        span{
                            font-size: 11px;
                        }
                    }
                    .part-number {
                        font-size: 14px;
                        font-weight: 700;
                        color: #0093c6;
                    }
                    .part-name{
                        font-size: 12px;
                        font-weight: 400;
                        color: #323232;
                    }
                    .datastyle{
                        font-size: 12px;
                        font-weight: 400;
                        color: #323232;
                    }
                    .number-container{
                        display: block;
                        overflow: hidden;
                        input[type="number"]{
                            font-weight:700;
                            width: 85px;
                            padding: 3px 6px;
                            border-radius: 3px;
                            border: 1px solid #9b9ba6;
                        }
                        input.qty-err{
                            border: 2px solid #ff9d02;
                        }
                    }
                    &:first-child {
                        //padding:20px;
                        text-align: center;
                        width: 4%;
                        // border-right:none;
                    }
                    &:nth-child(2) {
                        //border-right: 1px solid #ddd;
                        width: 20%;
                    }
                    &:last-child {
                        // text-align: center;
                        //padding-top:20px;sm
                        // color: $support_color_primary;
                    }
                    &:nth-child(3) {
                        width: 10%;
                        //padding: 10px 0 0 10px;
                        .part-img {
                            width: 10%;
                        }
                        .part-number {
                            width: 10%;
                            // color:#0093C6;
                           
                        }
                        .detailWidth {
                            width: 10%;
                        }
                    }
                    &:nth-child(4) {
                        //padding:10px;
                        width: 10%;
                    }
                    &:nth-child(5) {
                        width: 10%;
                    }
                      &:nth-child(6) {
                        //padding:20px;
                    }
                    .qtysize {
                        width: 100%;
                    }
                    .qty-edit-val {
                        i {
                            display: none;
                        }
                        &:hover {
                            i {
                                display: block;
                            }
                        }
                    }
                }
                td.actionTd{
                    min-width: 150px;
                    .add-cart, .addrfq{
                        font-size: 13px;
                        font-weight: 600;
                        color: #acacac;
                    }
                    .rtb-failed{
                        display: table;
                        .fa-exclamation-triangle{
                            color: #ff9d02;                            
                            display: table-cell;
                            padding-right: 8px;
                        }
                        span{
                            display: table-cell;
                        }        
                    }            
                    button{
                        margin-bottom: 10px;
                    }
                }
                .list-item-delete {
                    .list-item-delete-box {
                        padding: 15px 0px;
                        background: #fff67b ;
                        border-radius: 3px;
                        border:1px dashed #ccc;
                        color:#232323;
                        font-size: 12px;
                        font-weight: 600;
                    }
                }
            }
            .checkbox-label {
                margin: 0;
                .fa-square-o,
                .fa-check-square {
                    color: #0093c6;
                    font-size: 16px;
                    margin-left: 0;
                }
                .fa-check-square {
                    background-color: #ffffff;
                }
            }
        }
        hr {
            border-top: 1px solid #9d9b9b;
        }
        .Requesttable {
            margin-left: 10px;
            tbody {
                td {
                    .detailbtn {
                        padding: 2px 5px;
                    }
                }
            }
        }
        a:hover {
            text-decoration: none;
        }
    }
}
@media screen {
    #printSection {
        display: none;
    }
    .partdetails-print-tbl{
        display: none;
    }
}
/* Landscape mini, ipad 1&2, ipad 3&4*/
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (orientation: landscape) 
  and (-webkit-min-device-pixel-ratio: 1),
screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (orientation: landscape) 
  and (-webkit-min-device-pixel-ratio: 1),
screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (orientation: landscape) 
  and (-webkit-min-device-pixel-ratio: 2){
    .mylist{
        .Secondsection{
            .rfq-container{
                .rfq-wrap{
                    .rfq-body{
                        a{
                            font-size: 11px;
                        }
                        .added-to-rfq-tbl{
                            tr > td{
                                padding: 8px 0px 8px 8px;
                            }
                            tr > th{
                                padding: 8px 0px 8px 8px;
                            }

                        }
                    }
                }
            }
            .manage-list-block{
                .create-list{
                    width: 100%;
                }
                .manage-list{
                    width: 100%;
                    padding: 5px 0px 0px;
                    .fa-cog{
                        margin-left: 0px;
                    }
                }
            }
            .mylisttable{
                .date-added{
                    min-width: 80px;
                }
            }
        }
    }
}
@media print {
    body * {
        visibility:hidden;
    }
    .partdetails-div{
        display: none;
        
    }
    .partdetails-print-tbl{
        td{
           text-align: left; 
        }
    }
    #printSection, #printSection * {
        visibility:visible;
    }
    .part-img{
        float: left;
    }
    .partDetails{
        float: left;
    }
    #printSection {
        .priceTd, .actionTd, .deleteTd{
            display: none;
        }
        input[type=number] {
            border:none !important;
        }
        .mylisttable{
            .sort-arrow{
                display: none;
            }
            
            .col-md-6{
                 display:inline-block;
            }
            .row{
                width:100% !important;
            }
            .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6,
            .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
                float: left !important;               
            }

            .col-md-4 {
                width: 33.333%;
            }

            .col-md-6 {
                width:50%;
            }

        }

        .add-to-cart-all {
            display: none;
        }
      
        
    }
    
}