<div id="rfqslist">
    <div class="ddlarrow"></div>
    <div class=" dropdownpopover">
        <table class="table">
            <tbody>
                <tr>
                    <td>
                        <h5>RFQ ID 213224234</h5>
                        <p>Today 2hrs ago</p>
                    </td>
                    <td>
                        <span class="label label-default">New</span>
                    </td>
                </tr>
                <tr>
                    <td>
                        <h5>RFQ ID 213224234</h5>
                        <p>Today 2hrs ago</p>
                    </td>
                    <td>
                        <span class="label label-default">New</span>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>





