#rfqslist {
    .ddlarrow {
                position: absolute;
                top: -22px;
                right: 10px;
                &:before {
                    content: " ";
                    left: 60px;
                    border: solid transparent;
                    border-color: rgba(136, 183, 213, 0);
                    border-bottom-color: #FFFFFF;
                    border-width: 9px;
                    margin-left: -10px
                }
                &:after {
                    bottom: 102%;
                    content: " ";
                    height: 0;
                    width: 0;
                    position: absolute;
                    pointer-events: none;
                }
            }
    div.dropdownpopover {
        margin-top: 4px;
        width: 260px;
        padding: 15px 10px;
        border-top-right-radius: 3px;
        border-top-left-radius: 3px;
        background: #fff;
        border: 1px solid #ddd;
        float:right;
        .table {
            margin-bottom: 0px;
            tbody {
                tr {
                    border:none;
                    border-bottom: #ccc solid 1px;
                    td {
                        border:none;
                        > * {
                            margin: 0px;
                        }
                        h5 {
                            font-weight: bold;
                            color: #0093c6;
                        }
                        p {
                            color: #000;
                        }
                        label {
                            float: right;
                        }
                    }
                    &:last-child {
                            border-bottom: none;
                    }
                }
            }
        }
    }
}