
<div class="container-fluid post-order-container">
    <div class="row">
        <div class="col-md-12">
            <ol class="breadcrumb">
                <li><a href="/home">{{'POSTORDER.HOME' | translate}}</a></li>
                <li class="active">{{'POSTORDER.MYORDERS' | translate}}</li>
            </ol>
            <div class="row search-area" data-ng-hide="true">
                 <div class="col-md-12">
                        <label>{{'POSTORDER.MYORDERS' | translate}}</label>
                        <div class="input-group headspace">
                            <input type="search" class="form-control"  placeholder="{{'POSTORDER.SEARCH_PLACEHOLDER' | translate}}">
                            <span class="input-group-addon"><a href=""><i class="glyphicon glyphicon-search"></i></a></span>
                        </div>
                 </div>
            </div>
            <!--<div>
                {{'POSTORDER.RESULT_LBL' | translate}}
            </div>-->
        </div>
    </div>
    <div class="row tab-container">
        <div class="col-md-12">
            <div class="text-center notify-msg" data-ng-show="postorder.isEmailSent">{{'POSTORDER.EMAIL.SUCCESS_MSG' | translate}}
            </div>
            <uib-tabset active="postorder.activeTab">
                <uib-tab index="0">
                    <uib-tab-heading data-ng-click="postorder.onTabSwitch(0, active)"> {{'POSTORDER.TAB1' | translate}}</uib-tab-heading>
                    <div ng-include="'app/post-order/recentOrderDetails/recent-orders-list.html'"></div>
                </uib-tab>
                <uib-tab index="1">
                    <uib-tab-heading data-ng-click="postorder.onTabSwitch(1, active)"> {{'POSTORDER.TAB2' | translate}}</uib-tab-heading>
                    <div ng-include="'app/post-order/orderDetailsByDateRange/ordr-dtls-ByDtRange.html'"></div>
                    
                </uib-tab>
                <!--<uib-tab index="2">
                    <uib-tab-heading data-ng-click="postorder.onTabSwitch(2, active)"> {{'POSTORDER.TAB3' | translate}}</uib-tab-heading>
                    <div class="row">
                        <div class="col-md-12"> 
                            Open Orders List
                        </div>
                    </div>
                </uib-tab>-->
                <uib-tab index="2">
                    <uib-tab-heading data-ng-click="postorder.onTabSwitch(2, active)"> {{'POSTORDER.TAB4' | translate}}</uib-tab-heading>
                    <div ng-include="'app/post-order/backOrder/backorder-list.html'"></div>
                </uib-tab>
                <uib-tab index="3">
                    <uib-tab-heading data-ng-click="postorder.onTabSwitch(3, active)"> {{'POSTORDER.TAB5' | translate}}</uib-tab-heading>
                    <div ng-include="'app/post-order/invoicedetails/invoice-list.html'"></div>
                    <!--<div class="row"> 
                        <div class="col-md-12"> 
                            Invoices
                        </div>
                    </div>-->
                </uib-tab>
            </uib-tabset>
        </div>
    </div>
</div>
