.post-order-container {
    margin: 0;
    padding-left: 0;
    padding-right: 0;
    background-color: $app_bg_color;
    .notify-msg{
        width: 307px;
        position: fixed;
        background: #fff;
        top: 100px;
        left: 0;
        right: 0;
        margin: 0 auto;
        z-index: 3000;
        border: 1px solid #3FB300;
        color: #FFFFFF;
        background: #3FB300;
        font-weight: 600;
        font-size: 14px;
        padding: 7px 10px;
        border-radius: 3px;
    }
    input[type=text]::-ms-clear
    {
        display: none;
    }
    .cross{
        position: absolute;
        top: 7px;
        right: 43px;
        z-index: 100;
    }
    .search_icon{
        cursor: pointer;
    }
    .no-data{
        h1{
          margin:20px;
          font-size: 20px;
          color:#f17e00;
        }
    }
    .download-report-wrapper{
        overflow: hidden;
        padding: 20px 20px 10px;
        .download-report{
            display: inline-block;
            cursor: pointer;
            position: relative;
            color: $active_link_color;
            font-weight: 600;
            font-size: 12px;
            .fa-file-excel-o{
                color: $active_link_color;
                font-size: 14px;
                margin: 0;
                margin-right: 10px;
            }
        }
    }
    .pagination > .active > a {
        background-color: #0096c9;
        border-color:#0096c9;
    }
    .breadcrumb{
        font-weight: 600;
        background-color: #FFF;
        padding: 8px 20px;
        li + li:before {
            padding: 0 5px;
            content: "> ";
            font-size: 10px;
            color: #777;
        }
        a:hover{
            cursor: pointer;
        }
    }
    .btn-app{
        height: 36px;
        font-weight: 600;
        font-size: 14px;
        border-radius: 3px;
        text-transform: uppercase;
        outline: 0;
        line-height: 16px;
    }
    .btn-app:focus, .btn-app.focus, .btn-app:active:focus, .btn-app:active.focus, .btn-app.active:focus, .btn-app.active.focus {
        outline: 0;
    }
    .btn-app-primary{
        background-color: $btn_primary_bgcolor;
        border-color: $btn_primary_border_color;
        color: #fff;
    }
    .btn-app-primary:focus, .btn-app-primary.focus, .btn-app-primary:hover {
        background-color: $btn_primary_focus_bgcolor;
        border-color: $btn_primary_focus_border_color;
        color: #fff;
    }
    .btn-app-sm{
        font-size: 11px;
        line-height: 12px;
        font-weight: 600;
        height: 24px;
        padding: 2px 12px;
    }
    .search-area{
        padding: 20px;
        label{
            float: left;
            font-size: 16px;
            font-weight: 600;
            text-align: center;
            padding-top: 5px;
            margin-right: 12px;
        }
        .headspace{
            max-width: 840px;
            float: left;
        }
    }
    .tab-container {
        margin-top:40px;
        padding: 0 20px;
        margin-bottom: 40px;
        .btn-search{
            float: right;
            border-radius: 4px;
            padding: 2px 5px;
            font-size: 10px;
            font-weight: 600;
            text-transform: uppercase;
            top: 8px;
            position: relative;
            min-width: 84px;
        }
        .nav-tabs {
            >li{
                a{
                    margin-right:6px;
                }
               .nav-link{
                    background-color: #0093c6; 
                    padding: 0;
                    color:#fbfbfb;
                    uib-tab-heading{
                        padding: 10px 30px;
                        display: block;
                    }
               } 
                >a:hover{
                    border-color: transparent;
                }
            }
            >li.active{ 
                color:#323232;
                >a:hover{
                    border-color: #ddd;
                    border-bottom-color: transparent;
                    
                }
            }
        }
        .specify-date-range, .invoice-list-container{
            padding: 20px 0;
            .cal-div {
                margin-left:15px;
            }
            .uib-datepicker-popup.dropdown-menu {
                padding: 0;
            }
            label{
                color:#acacac;
            }
            .search-text-bar{
                margin:0px;
            }
            .dt-part-search{
                margin-top:20px;
            }
            .date-wrapper{
                width: 194px;
                >input.date-txt, span.input-group-btn{
                    z-index: 0;
                }
                .full button span {
                    background-color: limegreen;
                    border-radius: 32px;
                    color: black;
                }
                .partially button span {
                    background-color: orange;
                    border-radius: 32px;
                    color: black;
                }
                .btn-success{
                    border-radius: 4px;
                }
                .btn.btn-calender, .btn-danger{
                    border-top-right-radius: 4px;
                    border-bottom-right-radius: 4px;
                }
                .btn.btn-calender{
                    outline: 0;
                    height: 34px;
                }
                input.date-txt, .btn-info{
                    border-top-left-radius: 4px;
                    border-bottom-left-radius: 4px;
                }
                input.date-txt{
                    pointer-events: none;
                    cursor: not-allowed;
                }
                .uib-button-bar{
                    display: none !important;
                }
            }
            .btn-get-list{
                margin-top: 20px;
            }
        }
    }
    .my-oder-lbl {
        font-size: 16px;
        font-weight: 600;
        text-align: center;
        padding-top: 5px;
    }
    .search-text-bar{
        margin:20px;
        text-align: left;
    }
    .fa-search{
        color: #0093C6;
    }
    table.recent-order-tbl{
        thead{
            .order-date{
                width: 9%;
            }
            .order-num{
                width: 13%;
            }
            .po-num{
                width: 13%;
            }
            .process-num{
                width: 13%;
            }
            .inv-num{
                width: 17%;
            }
            .action{
                width: 35%;
            }
        }
    }
    table.range-order-tbl{
        thead{
            .order-date{
                width: 9%;
            }
            .order-num{
                width: 13%;
            }
            .po-num{
                width: 12%;
            }
            .process-num{
                width: 13%;
            }
            .inv-num{
                width: 17%;
            }
            .action{
                width: 36%;
            }
        }
    }
    table.recent-order-tbl, table.range-order-tbl, .invoice-list-container table.invoice-list-tbl {
        text-align: left;
        border:1px solid #f1f1f1;
        margin-bottom: 20px;
        width: 97%;
        margin-left: 20px;
        thead{
            background-color: #fbfbfb;
            th{
                font-weight: 600;
                font-size: 11px;
                font-family: $app_font_family;
                color: #acacac;
                border: 1px solid #f1f1f1;
                border-bottom: 0;
                text-align: left;
//                min-width: 150px;
                padding-left:15px;
                vertical-align: top;
                .form-group{
                    margin-bottom: 0;
                    display: inline-block;
//                    width: 130px;
                    margin-top: 5px;
                    position: relative;
                    input{
                        padding: 6px 20px 6px 8px;
                        height: 28px;
                        font-size: 12px;
                        border-radius: 4px;
                        border: 1px solid #d7d7d7;
                        color: #494949;
                    }
                    .glyphicon-search {
                        position: absolute;
                        right: 7px;
                        top: 8px;
                        font-size: 12px;
                        color: #2B78E4;
                    }
                }
            }
        }
        tbody{
            td{
                    font-size: 12px;
                    color: #393939;
                    font-weight: 600;
                    padding: 10px 15px;
                    border-right: 1px solid #f1f1f1;
                    border-top: 1px solid #f1f1f1;
                    vertical-align: middle;
                .fa{
                    color: #2B78E4;
                    font-size: 16px;
                    top: 2px;
                    position: relative;
                }
                .fa.fa-print{
                    margin: 0 10px;
                }
                .fa:hover{
                    cursor: pointer;
                }
                a{
                    color: $active_link_color;
                    text-decoration: none;
                    font-weight: 600;
                }
            }
        }
    }
    .table-responsive{
        text-align: center;
    }
    .tab-content{
        border: 1px solid #EEE;
        border-top: none;
        background-color: #FFFFFF;
    }
    .sort-arrow{
        padding-left: 5px;
        width:15%;
    }
    .th-label{
        width:84%;
    }
    .nav-tabs li .nav-link{
        font-size: 13px;
        font-weight: 600;
        background-color: #EEEEEE;
    }
    .nav-tabs li.active .nav-link {
        background-color: #FFFFFF;
        color:#323232;
    }  
    .orderDetailBtn {
        // display: inline-block;
        // //width: 60px;
        // height: 23px;
        // font-size: 11px;
        // line-height: 12px;
        // padding: 5px 10px;
        // border-radius: 3px;
        margin-left: 10px;
        // text-transform: uppercase;
        // font-weight: 600;
        // background-color: #0096c9;
        // border-color: #0096c9;
    }
    .invoice-list-container table.invoice-list-tbl {
        th {
            text-align: left;
            padding-top: 20px;
        }
    }
    .back-order-container{
         table.recent-order-tbl, table.range-order-tbl, .invoice-list-container table {
            thead{
                th{
                    //min-width: 50px;
                    padding-top: 20px;
                }
            }
         }
        table.recent-order-tbl{
            thead{
                .ord-date{
                    width:9%;
                }
                .ord-num{
                    width:9%;
                }
                .po-num{
                    width:9%;
                }
                .sold-to{
                    width:9%;
                }
                .ship-to{
                    width:9%;
                }
                .part-num{
                    width:10%;
                }
                .desc{
                    width:10%;
                }
                .qty-req{
                    width:7%;
                }
                .ext-price{
                    width:9%;
                }
                .promise-date{
                    width:9%;
                }
                .action{
                    width:10%;
                }
            }
        }
    }
    table.back-ordr-tbl, table.invoice-list-tbl{
        thead{
            tr{
                th{
                    padding-left: 10px;
                    padding-right: 10px;
                    border-bottom: 0;
                    padding-bottom: 0;
                }
            }
            tr.search-tr{
                th{
                    padding-top: 0;
                    padding-bottom: 20px;
                    border-top: 0;
                    .form-group{
                        width: 100%;
                    }
                    .form-group.fixed-width{
                        width: 160px;
                    }
                }
            } 
        }
    }
    .email-container{
        display: inline-block;
        >.dropdown-menu{
            padding: 30px;
            width: 686px;
            background: #f6f6f6;
            left: -635px;
            top: 27px;
            border: 0;
            h2{
                margin-top: 0;
                margin-bottom: 40px;
                font-size: 30px;
                font-weight: 300;
                color: #9b9b9b;
                b{
                    font-weight: 400;
                }
                a{
                    img{
                        vertical-align: top;
                    }
                }
            }
            form{
                label{
                    color: #b3b3b3;
                    font-weight: normal;
                    font-size: 14px;
                    margin-left: 5px
                }
                .form-group{
                    .clear-email{
                        color: $active_link_color;
                        font-size: 12px;
                        font-weight: 600;
                        text-decoration: none;
                        outline: none;
                        margin-right: 10px;
                    }
                    textarea {
                        resize: none;
                        padding: 12px 15px;
                        border-radius: 3px;
                        height: 70px;
                        // border: 1px solid #ededed;
                        // box-shadow: none;
                        &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
                            color: #bcbcbc;
                            font-size: 13px;
                        }
                        &::-moz-placeholder { /* Firefox 19+ */
                            color: #bcbcbc;
                            font-size: 13px;
                        }
                        &:-ms-input-placeholder { /* IE 10+ */
                            color: #bcbcbc;
                            font-size: 13px;
                        }
                        &:-moz-placeholder { /* Firefox 18- */
                            color: #bcbcbc;
                            font-size: 13px;
                        }
                    }
                    .checkbox-label{
                        margin: 0 ;
                        color: #7f7f7f;
                        font-weight: 600;
                        font-size: 12px;
                        margin-left: 14px;
                        .fa-square-o, .fa-check-square{
                            color: #0093c6;
                            font-size: 16px;
                            margin-left: 0;
                            position: relative;
                            top: 2px;
                            margin-right: 10px;
                        }
                        .fa-check-square{
                            background-color: #ffffff;
                        }
                        &:hover{
                            cursor: pointer;
                        }
                    }
                    p.err-txt{
                        text-align: right;
                        margin-bottom: 0;
                        font-weight: 600;
                        font-size: 12px;
                        color: #ff8a00;
                        margin-top: 2px;
                    }
                }
                .form-grp-txtarea{
                    margin-bottom: 10px;
                }
                .form-group.btn-control{
                    margin-bottom: 0;
                    text-align: right;
                    .btn{
                        .glyphicon{
                            margin-right: 5px;
                        }
                    }
                }
                p.top-err{
                    font-weight: 600;
                    color: #ff8a00;
                }
            }
            &:after{
                width: 0;
                height: 0;
                border-left: 10px solid transparent;
                border-right: 10px solid transparent;
                border-bottom: 10px solid #f6f6f6;
                content: "";
                top: -10px;
                right: 35px;
                position: absolute;
            }
        }
    }
    .specify-date-range{
        .table-responsive{
            overflow: inherit;
        }
    }
}

/* Landscape mini, ipad 1&2, ipad 3&4*/
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (orientation: landscape) 
  and (-webkit-min-device-pixel-ratio: 1),
screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (orientation: landscape) 
  and (-webkit-min-device-pixel-ratio: 1),
screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (orientation: landscape) 
  and (-webkit-min-device-pixel-ratio: 2){
    .post-order-container {
        .orderDetailBtn{
            margin-bottom: 10px;
        }
        .tab-container{
            .specify-date-range{
                .date-wrapper{
                    width: 150px;
                }
            }
            .invoice-list-container{
                .date-wrapper{
                    width: 150px;
                }
            }
        }
    }
    .table.recent-order-tbl{
        width: 96% !important;
        thead{
            tr{
                th{
                    padding-left: 5px !important;
                    padding-right: 5px !important;
                }
            }
        }
        tbody{
            td{
                padding: 10px 5px !important;
            }
        }
    }
    .table.range-order-tbl{
        width: 96% !important;
    }
    .search-text-bar{
        input{
            font-size: 12px;
        }
    }
  }