/***************************************************************
* Proprietary & Confidential  |  © 2016 PhaseZero Ventures LLC 
* 
* This file is part of Tire Advisor project
* 
* This file cannot be copied and/or distributed without 
* the express permission of PhaseZero Ventures LLC
***************************************************************/

.createnewList {
    background: #f5f5f5;
    padding: 35px;
    border-radius: 3px;
    // width:624px ;
    // height:266px;
    .modal-header {
        border-bottom: none;
        border-top: none;
        color: #acacac;
        padding: 0;
        border-top-left-radius: 3px;
        border-top-right-radius: 3px;
        h3 {
            margin-top: 0;
            margin-bottom: 22px;
            // font-family: openSans;
            font-weight: 300;
            color: #9b9b9b;
            font-size: 30px;
        }
    }
    .modal-body {
        padding: 0;
        padding-right: 15px;
        input.form-control {
            border-radius: 3px;
            height: 40px;
            font-size: 16px;
            font-weight: 600;
            color: #414141;
            box-shadow: none;
            padding: 0 12px;
            width: 103%;
        }
        label {
            color: #7f7f7f;
            margin-left: 5px;
            font-weight: 600;
        }
        .fa-check-circle {
            color: #3fb300;
            font-size: 24px;
            // margin-top: 20px;
        }
        .successmgs{
            // font-size: 16px;
            font-size: 14px;
            // text-align: center;
            margin-bottom: 10px;
            margin-top: 10px;
            color: #515151;
            font-weight: 600;
            a{
                margin-top: 10px;
            }
        }
        
    }
    .modal-footer {
        border: 0;
        padding: 0;
        .col-sm-5{
            width: 39.66667%;
        }
    }
    p {
        font-weight: 600;
        color: #414141;
        margin-bottom: 28px;
        .fa {
            margin-right: 10px;
            font-size: 20px;
            position: relative;
            top: 2px;
        }
    }
    p.savep {
        font-weight: 400;
        color: #7f7f7f;
        margin-bottom: 28px;
        font-size: 11px;
        .fa {
            margin-right: 10px;
            font-size: 20px;
            position: relative;
            top: 2px;
        }
        .fa-info-circle {
            color: #6e6e6e;
            font-size: 16px;

        }
    }
    .error-msg {
        text-align: right;
        margin-bottom: 5px;
        font-weight: 600;
        font-size: 12px;
        color: #ff8a00;
    }
    .fa-info-circle {
        color: #6e6e6e;
        font-size: 16px;

    }
    .btn-primary {
        background-color: $btn_primary_bgcolor;
        border-color: $btn_primary_border_color;
    }
    .btn-app {
        height: 32px;
        font-weight: 600;
        font-size: 14px;
        line-height: 16px;
        border-radius: 3px;
        text-transform: uppercase;
        outline: 0;
    }
    .btn-app:focus,
    .btn-app.focus,
    .btn-app:active:focus,
    .btn-app:active.focus,
    .btn-app.active:focus,
    .btn-app.active.focus {
        outline: 0;
    }
    .btn-app-primary {
        background-color: $btn_primary_bgcolor;
        // border-color: #0093C6;
        // color: #fff;
        width:174px;
        height:37px;
        color:#fff;
        font-weight: 600;
        font-size: 13px;
    }
    .onlycr{
         width:124px;
    }
    .btn-app-primary:focus,
    .btn-app-primary.focus,
    .btn-app-primary:hover {
        background-color: $btn_primary_focus_bgcolor;
        border-color: $btn_primary_focus_border_color;
        color: #fff;
    }
    .btn-app-transparent {
        background-color: transparent;
        //border: 2px solid #363636;
        //border-color: #363636;
        //color: #363636;
        width:104px;
        height:37px;
        border: 2px solid #707070;
        color:#363636;
        font-weight: 600;
        font-size: 13px;
    }
    .btn-app-transparent:focus,
    .btn-app-transparent.focus,
    .btn-app-transparent:hover {
        background-color: #E2E2E2;
        // border: 2px solid #363636;
        border: 2px solid #707070;
        // border-color: #363636;
        color: #363636;
    }
}

.profile-menu {
    div.popover {
        // right: 0 !important;
        background-color: transparent;
        border: none;
        border-radius: 0px;
        box-shadow: none;
        width: 100%;
    }
}

.createnewListSuccess {
    padding: 20px 35px;
    border-radius: 3px;
    .modal-header {
        h4 {
            margin: 0px;
            padding: 0px;
            float: left;
            font-size: 24px;
        }
        a {
            float: right;
            width: 16px;
        }
    }
    .modal-body {
        i {
            color: #2ea03e;
            font-size: 24px;
            margin-top: 17px;
        }
        p {
            width: 100%;
            float: left;
            text-align: left;
            // font-size: 16px;
            margin-top: 10px;
            font-weight: 600;
            font-size: 18px;
            color: #646464;
        }
        a {
            margin-top: 15px;
            font-weight: 600;
            font-size: 13px;
            color: #fff;
            border-radius: 3px;
        }
    }
}
