<div class="createnewList modal-wrapper" ng-hide="newlist.isListCreated">
<!-- <div class="createnewList modal-wrapper" ng-hide="true"> -->
    <div class="modal-header">
        <div class="row">
            <div class="col-sm-10" ng-class="{'col-sm-12':newlist.tempItemList}">
                <h3 ng-if="!newlist.tempItemList"> {{'CREATENEWLIST.CREATENL' | translate}}</h3>
                <h3 ng-if="newlist.tempItemList"> {{'CREATENEWLIST.SHOPLIST1' | translate}}{{newlist.tempItemList.length}}{{'CREATENEWLIST.SHOPLIST2' | translate}}</h3>
            </div>
            <div class="col-sm-2  text-right" ng-if="!newlist.tempItemList">
                <a class="" ng-click="newlist.cancel()" href="#">
                    <img ng-src="/assets/images/close-icon.png" alt="" src="/assets/images/close-icon.png">
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <p ng-if="!newlist.isShopUser" class="savep"><i class="fa fa-x fa-info-circle" aria-hidden="true"></i>{{'CREATENEWLIST.CANBUSE' | translate}}</p>
                <p ng-if="newlist.isShopUser" class="savep"><i class="fa fa-x fa-info-circle" aria-hidden="true"></i>{{'CREATENEWLIST.SCANBUSE' | translate}}</p>
            </div>
        </div>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-sm-12">
                <form name="listForm" novalidate>
                    <div class="form-group">
                        <label class="control-label">{{'CREATENEWLIST.LISTNAME' | translate}}</label>
                        <!--<div class="col-sm-12">-->
                        <input type="text" ng-model="newlist.newItem" data-ng-change="newlist.errMsg = ''"   ng-keyup="$event.keyCode == 13 && newlist.createNewList()" data-ng-minlength="1" ng-maxlength="40" required name="newItem" class="form-control" placeholder="Untitled List"
                            autofocus>
                        <div class="error-msg">{{newlist.errMsg}}</div>
                        <div class="error-msg" ng-show="!listForm.newItem.$pristine && listForm.newItem.$error.minlength">
                            {{'CREATENEWLIST.SHORT_MSG' | translate}}
                        </div>
                        <div class="error-msg" ng-show="!listForm.newItem.$pristine &&listForm.newItem.$error.maxlength">
                            {{'CREATENEWLIST.LONG_MSG' | translate}}
                        </div>
                        <div class="error-msg" ng-show="!listForm.newItem.$pristine &&listForm.newItem.$error.required">
                            {{'CREATENEWLIST.REQUIRED_MSG' | translate}}
                        </div>

                        <!--</div>-->
                        
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <div class="row" ng-if="!newlist.tempItemList">
            <div class="col-sm-12 text-right">
                <button data-ng-disabled="listForm.$invalid"  ng-click="newlist.createNewList()"  class="btn btn-app btn-app-primary onlycr">{{'CREATENEWLIST.CREATELISTBTN' | translate}}</button>
            </div>
        </div>

        <div class="row" ng-if="newlist.tempItemList">
            <div class="col-sm-5">

            </div>
            <div class="col-sm-3">
                <button ng-click="newlist.cancel()" class="btn btn-app btn-app-transparent">{{'CREATENEWLIST.CANCEL' | translate}}</button>
            </div>
            <div class="col-sm-4">
                <button data-ng-disabled="listForm.$invalid" ng-click="newlist.createNewList()"  class="btn btn-app btn-app-primary">{{'CREATENEWLIST.SAVECONTINUE' | translate}}</button>
            </div>
        </div>
    </div>
</div>

<div class="createnewList createnewListSuccess modal-wrapper" ng-show="newlist.isListCreated">
<!-- <div class="createnewList createnewListSuccess modal-wrapper" ng-show="true"> -->
    <div class="modal-body">
        <div class="row">
            <div class="col-md-1">
                <i class="fa fa-check-circle" aria-hidden="true"></i>
            </div>
            <div class="col-md-8">
                <p class="successmgs">{{'CREATENEWLIST.SUCCESS_MSG1' | translate}} "{{newlist.newItem}}" {{'CREATENEWLIST.SUCCESS_MSG2' | translate}}</p>
            </div>
            <div class="col-md-3">
                <a class="btn btn-primary text-uppercase" ng-click="newlist.cancel()" href="/mylist">{{'CREATENEWLIST.GOTOLIST' | translate}}</a>
            </div>    
        </div>
    </div>
    <!--<div class="modal-header">
        <div class="row">
            <div class="col-md-11">
                <h3>{{'CREATENEWLIST.SUCCESS' | translate}}</h3>
            </div>
            <div class="col-md-1">
                <a href="#" ng-click="newlist.cancel()"><img src="assets/images/close-icon.png" width="16"/></a>
            </div>
        </div>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-md-12">
                <p>
                    {{'CREATENEWLIST.SUCCESS_MSG1' | translate}} "{{newlist.newItem}}" {{'CREATENEWLIST.SUCCESS_MSG2' | translate}}
                </p>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <div class="row">
            <div class="col-sm-5">

            </div>
            <div class="col-sm-3">
                <button ng-click="newlist.cancel()" class="btn btn-app btn-block btn-app-transparent">{{'CREATENEWLIST.CANCEL' | translate}}</button>
            </div>
            <div class="col-sm-4">
                <a href="/mylist" ng-click="newlist.cancel()" class="btn btn-app btn-block btn-app-primary">{{'CREATENEWLIST.GOTOLIST' | translate}}</a>
            </div>
        </div>
    </div>-->
</div>