/***************************************************************
* Proprietary & Confidential  |  © 2016 PhaseZero Ventures LLC 
* 
* This file is part of Tire Advisor project
* 
* This file cannot be copied and/or distributed without 
* the express permission of PhaseZero Ventures LLC
***************************************************************/


#sendmap { 
    width:100%; 
    height: 700px; 
    .map-info-window {
        width: 200px;
        > * {
            margin: 2px 0px;
            padding: 0px;
        }
        h6,h5,address,a, p {
            width: 100%;
            float: left;
        }
    }
}

.send-req-quote {
    margin: 0px -10px !important;
    .send-bread-crumb {
        width: 100%;
        float: left;
        background: #fff;
        margin: 0px;
        padding: 10px 0px; 
        
        ul {
            margin: 0px;
            padding: 0px 30px;
            li {
                list-style: none;
                margin: 0px;
                margin-right: 10px;
                padding: 0px;
                float: left;
            }
        }
    }
    .send-map-locator {
        width: 100%;
        float: left;
        background: #eff0f1;
        margin: 0px;
        padding: 30px 30px;
        -webkit-box-shadow: 0px 0px 10px rgba(0,0,0,0.1) inset;
        -moz-box-shadow: 0px 0px 10px rgba(0,0,0,0.1) inset;
        -o-box-shadow: 0px 0px 10px rgba(0,0,0,0.1) inset;
        box-shadow: 0px 0px 10px rgba(0,0,0,0.1) inset;
        table.added-receiver {
            tr {
                td {

                }
                .list-item-delete {
                                        .list-item-delete-box {
                                            padding: 10px 0px;
                                            background: #fff67b ;
                                            border-radius: 3px;
                                            border:1px dashed #ccc;
                                            color:#232323;
                                            font-size: 12px;
                                            font-weight: 600;
                                            text-align: center;
                                        }
                                    }
            }
        }
        .view-parts-added {
            background: transparent;
            border:#717171 solid 2px;
            color:#717171;
            font-weight: bold;
        }
            .send-rfq-time {
                width: 100%;
                float: left;
                background: #fff;
                border:#ccc solid 1px;
                padding: 10px;
                margin-top: 20px;
            }
            .send-rfq-dealers {
                width: 100%;
                float: left;
                background: #fff;
                border: #ccc solid 1px;
                margin-top: 20px;
                padding: 10px;
                table {
                    thead {
                        tr {
                            th:nth-child(1) {
                                width: 10%;
                            }
                            th:nth-child(2) {
                                width: 70%;
                            }
                            th:nth-child(3) {
                                width: 20%;
                            }
                        }
                    }
                }
            }
             h2 {
                margin: 0px 0px 20px 0px;
                padding: 0px;
                color: #a6a6a6;
                float: left;
            }
            /*.send-map-wrap {
                width: 100%;
                float: left;
                position: relative;
                height: 720px;
                .send-map-container {
                    margin: 0px;
                    padding:5px;
                    float: left;
                    background: #fff;
                    width: 100%;
                    position: absolute;
                    left: 0;
                    top: 0;
                    z-index: 3;
                }
                .send-map-details {
                    width: 383px;
                    //min-height: 300px;
                    position: absolute;
                    left: 0;
                    top: 0;
                    //background: #fff;
                    z-index: 4;
                    margin: 10px;
                    -webkit-box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
                    -moz-box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
                    -o-box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
                    box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
                    border:#ccc solid 1px;
                    .panel {
                        .panel-heading {
                            h3 {
                                float: left;
                                font-size: 18px;
                                color: #7f7f7f;
                                margin: 0px;
                                padding: 0px;
                                width: 100%;
                            }
                            a {
                                color:#7f7f7f;
                                float: right;
                                font-size: 16px;
                                margin: 0px;
                                padding: 0px;
                            }
                        }
                        .panel-body {
                            .dealer-locator-data {
                                width: calc(100% + 30px);
                                float: left;
                                margin: 0px -15px;
                                padding: 0px 15px;
                                max-height: 366px;
                                overflow-y: auto;
                                margin-top: -10px;
                                padding-top: 10px;
                                .row-selected {
                                    opacity: 0.5;
                                }
                            }
                             .err-msg {
                                padding: 20px 0px;
                                i {
                                    color:#ffb11b;
                                    font-size: 24px;
                                    margin-bottom: 10px;
                                }
                                P {
                                    width: 100%;
                                    text-align: center;
                                    color: #707070;
                                }
                                 .btn {
                                     background: transparent;
                                     border: #707070 solid 2px;
                                     color: #707070;
                                 }
                            }
                            hr {
                                margin: 10px -15px;
                                background: #ddd;
                            }
                            .geo-zip-code {
                                border: none;
                                font-size: 20px;
                                font-weight: bold;
                                box-shadow: 0px 0px 0px transparent;
                                padding: 0px;   
                                margin: 0px;
                                width: 250px;
                            }
                            .row {
                                label, h4, p {
                                    margin: 0px;
                                    padding: 0px;
                                }
                                h4 {
                                    margin: 5px 0px;
                                }
                                p {
                                    margin-bottom: 10px;
                                }
                                hr {
                                    width: calc(100% + 10px);
                                    margin: 10px -5px;
                                    background: #ddd;
                                }
                            }
                            .label-distributor-count {
                                width: calc(100% + 30px);
                                background: #f5f5f5;
                                border-bottom: #ddd solid 1px;
                                margin: 0px -15px;
                                margin-top: -10px;
                                margin-bottom: 10px;
                                padding: 10px;
                                h3 {
                                float: left;
                                font-size: 18px;
                                color: #7f7f7f;
                                margin: 0px;
                                padding: 0px;
                                width: 100%;
                            }
                            }
                        }
                    }
                    .send-map-details-container {
                        padding: 20px 30px 0px 30px;
                        a,h1,h2,h3,h4,h5,h6,label,p,i {
                            margin: 0px;
                            padding: 0px;
                            float: left;
                        }
                        hr {
                                margin: 15px 0px 15px -30px;
                                padding: 0px;
                                background: #ccc;
                                color: #ccc;
                                width: calc(100% + 60px);
                                float: left;
                            }
                    .send-map-details-header {
                            float: left;
                            width: 100%;
                            h3 {
                                float: left;
                                font-size: 18px;
                                color: #7f7f7f;
                                margin: 0px;
                                padding: 0px;
                                width: 100%;
                            }
                        }
                        .send-map-details-dealers {
                            .row {
                                .col-md-10 {
                                    > * {
                                        width: 100%;
                                        margin-bottom: 5px;
                                    }
                                    label {
                                        font-size: 12px;
                                    }
                                    h4 {
                                        font-size: 16px;
                                    }
                                    p {
                                        font-size: 13px;
                                    }
                                }
                            }
                        }

                        .send-map-details-location {
                            float:left;
                            width: 100%;
                            p {
                                float: left;
                                color: #b3b3b3;
                                font-size: 12px;
                            }
                            a {
                                float: right;
                                color: #0093c6;
                                font-size: 11px;
                            }
                            h2 {
                                float: left;
                                padding: 0px;
                                margin-top: 5px 0px 0px 0px;
                                width: 100%;
                                color: #7d7d7d;
                                a {
                                    color:#717171;  
                                    font-size: 16px;
                                    margin: 5px;
                                }
                            }

                            .row:nth-child(2) {
                                
                            input {
                                border: none;
                                box-shadow: none;
                                padding: 0px;
                                font-size: 24px;
                                margin-top: 10px;
                                float: left;
                                width: 250px;
                            }
                            a{
                                font-size: 14px;
                                margin-top: 20px;
                                color: #ccc;
                                float: right;
                            }
                            }

                        }
                    }
                }
            }*/

            .send-map-wrap {
            width: 100%;
            float: left;
            position: relative;
            height: 712px;
            overflow: hidden;
            .send-map-container {
                margin: 0px;
                float: left;
                background: #fff;
                width: calc(100% - 383px);
                overflow: hidden;
                height: 100%;
                position: absolute;
                z-index: 3;
                left: 383px;
                #sendmap {
                    width: 100%;
                    height: 712px;
                    img[src='https://maps.gstatic.com/mapfiles/api-3/images/google4.png'] {
                        display: none;
                    }
                    .map-info-window {
                        width: 200px;
                        padding: 10px 5px;
                        > * {
                            margin: 2px 0px;
                            padding: 0px;
                        }
                        a,
                        h6,
                        h5,
                        address,
                        p {
                            width: 100%;
                            float: left;
                            color: #939393;
                            font-family: $app_font_family;
                        }
                        h6 {
                            color: #6e6e6e;
                            font-weight: 700;
                        }
                        h5 {
                            color: #000;
                            font-size: 20px;
                            font-weight: 500;
                            margin-top: 10px;
                        }
                        a {
                            font-weight: 500;
                            color: $active_link_color;
                            margin-top: 5px;
                        }
                    }
                    .labels {
                        font-size: 10px;
                    }
                }
            }
            .send-map-details {
                width: 383px;
                height: 100%;
                float: left;
                position: absolute;
                left: 0;
                top: 0;
                z-index: 4;
                -webkit-transition: 350ms margin ease-in-out;
                -moz-transition: 350ms margin ease-in-out;
                -o-transition: 350ms margin ease-in-out;
                transition: 350ms margin ease-in-out;
                .tooltip.right {
                    width: 140px;
                    z-index: 9;
                }
                .send-toogle-btn {
                    float: left;
                    width: 20px;
                    height: 50px;
                    background: #fff;
                    position: absolute;
                    right: -20px;
                    top: 0;
                    z-index: 6;
                    border: #f4f4f4 solid 1px;
                    border-left: none;
                    cursor: pointer;
                    a {
                        margin: 11px 8px;
                        font-size: 16px;
                        color: $active_link_color;
                        float: left;
                    }
                }
                .panel {
                    border-radius: 0px;
                    position: absolute;
                    width: 100%;
                    left: 0;
                    top: 0;
                    z-index: 5;
                    margin: 0px;
                    .panel-body {
                        height: 670px;
                    }
                }
                
                .panel {
                    .panel-heading {
                        background: #fff;
                        h3 {
                            float: left;
                            font-size: 18px;
                            color: #7f7f7f;
                            margin: 0px;
                            padding: 6px 0px 6px 0px;
                            font-weight: 200;
                        }
                        a {
                            color: #7f7f7f;
                            float: right;
                            font-size: 16px;
                            margin: 0px;
                            padding: 0px;
                        }
                        .send-map-filter-collapse {
                            float: left;
                            i {
                                color: #0093c6;
                                margin-top: 7px;
                                padding: 0px 10px 0px 0px;
                            }
                        }
                    }
                    .panel-body {
                        background: #fafafa;
                        .send-map-filter {
                            width: 100%;
                            height: 213px;
                            
                            overflow: hidden;
                            -webkit-transition: 350ms height ease-in-out;
                            -moz-transition: 350ms height ease-in-out;
                            -o-transition: 350ms height ease-in-out;
                            transition: 350ms height ease-in-out;
                            hr {
                                margin: 10px -25px 0px -25px;
                                background: #ddd;
                            }
                            
                            .input-group {
                                .geo-zip-code {
                                    //border: none;
                                    font-size: 20px;
                                    font-weight: 600;
                                    //box-shadow: 0px 0px 0px transparent;
                                    width: 100%;
                                    border-radius: 4px 0px 0px 4px;
                                    border-right: 0px solid #fff;
                                    box-shadow: none;
                                    height: 50px;
                                }
                                .input-group-addon {
                                    background: #fff;
                                    border-left: 0px solid #fff;
                                }
                            }
                            .geo-zip-code-focused {
                                .geo-zip-code {
                                    border-color: #0093c6;
                                }
                                .input-group-addon {
                                    border-color: #0093c6;
                                }
                            }
                            .row {
                                label,
                                h4,
                                p {
                                    margin: 0px;
                                    padding: 0px;
                                    color: #bdbdbd;
                                }
                                h4 {
                                    margin: 5px 0px;
                                }
                                p {
                                    margin-bottom: 5px;
                                }
                                hr {
                                    width: calc(100% + 10px);
                                    margin: 10px -5px;
                                    background: #ddd;
                                }
                            }
                            select {
                                box-shadow: none;
                                font-weight: 600;
                                &:focus {
                                    border-color: #0093c6;
                                }
                            }
                        }
                        .err-msg {
                                padding: 20px 0px;
                                i {
                                    color: #ffb11b;
                                    font-size: 24px;
                                    margin-bottom: 10px;
                                }
                                P {
                                    width: 100%;
                                    margin-top: 10px;
                                    text-align: center;
                                }
                            }
                        .send-map-results {
                            margin: 0px -15px;
                            height: 431px;
                            background: #fff;
                            .dealer-locator-data {
                                margin: 15px 15px;
                                height: calc(100% - 70px);
                                overflow-x: hidden;
                                overflow-y: auto;
                                .dealer-locator-item {
                                    padding: 10px 15px 0px 15px;
                                    cursor: pointer;

                                    &:hover {
                                        background: #fafafa;
                                    }
                                    .row {
                                    label,
                                    h4,
                                    p {
                                        margin: 0px;
                                        padding: 0px;
                                    }
                                    h4 {
                                        margin: 5px 0px;
                                    }
                                    p {
                                        color: #a8a8a8;
                                    }
                                    hr {
                                        background: #ddd;
                                        margin: 10px 0px 0px 0px;
                                    }
                                    .list-serial {
                                    width: 33px;
                                    height: 43px;
                                    float: left;
                                    font-weight: bold;
                                    background: url('./../assets/images/drop-pin-edited.png')no-repeat;
                                    //background-position-y: -8px;
                                    background-size: 100% auto;
                                    
                                    margin-right: 10px;
                                    p {
                                        margin-top: 12px;
                                        color: #fff;
                                        width: 100%;
                                        text-align: center;
                                    }
                                }
                                .col-md-3 {
                                    a {
                                        float: right;
                                        margin: 0px;
                                        padding: 0px;
                                        color: #333;
                                        i {
                                            font-size: 16px;
                                        }
                                    }
                                }
                                }
                                }

                                
                                
                            }
                            
                            .row-selected {
                                opacity: 0.4;
                            }
                            
                            .label-distributor-count {
                                border-bottom: #ddd solid 1px;
                                border-top: #ddd solid 1px;
                                padding: 0px 15px;
                                height: 40px;
                                h3 {
                                    float: left;
                                    font-size: 18px;
                                    color: #7f7f7f;
                                    margin: 0px;
                                    padding: 10px 0px;
                                    width: 100%;
                                }
                            }
                        }
                        
                    }
                    .panel-collapsed {
                        .send-map-filter {
                            height: 0px;
                        }
                        .send-map-results {
                            margin-top: -15px;
                            height: 661px;
                        }
                    }
                }
            }
        }


        
     }


    .send-rfq-success {
         width: 100%;
        float: left;
        background: #eff0f1;
        margin: 0px;
        padding: 30px 30px;
        -webkit-box-shadow: 0px 0px 10px rgba(0,0,0,0.1) inset;
        -moz-box-shadow: 0px 0px 10px rgba(0,0,0,0.1) inset;
        -o-box-shadow: 0px 0px 10px rgba(0,0,0,0.1) inset;
        box-shadow: 0px 0px 10px rgba(0,0,0,0.1) inset;
        .panel-heading {
            background: #fff;
            .send-rfq-header {
                p {
                font-size: 14px;
                input {
                    margin-left: 20px;
                }
            }
        }
        

        
        }

        hr {
            background: #aaa;
            color: #aaa;
            height: 1px;
        }

        
        .send-rfq-body {
            .row {
                margin-bottom: 10px;
            i {
                float: left;
                font-size: 16px;
                margin: 5px;
                color: #88f422;
            }
            p {
                float: left;
                font-size: 14px;
                margin: 5px;
            }
            button {
                float: left;
            }
            }
        }

        .panel-footer {
            .go-back-to-mylist {
                border: none;
                border-radius: 3px;
                background: #0093c6;
            }
        }
    }
}
/* Landscape mini, ipad 1&2, ipad 3&4*/
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (orientation: landscape) 
  and (-webkit-min-device-pixel-ratio: 1),
screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (orientation: landscape) 
  and (-webkit-min-device-pixel-ratio: 1),
screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (orientation: landscape) 
  and (-webkit-min-device-pixel-ratio: 2){
    .send-req-quote{
        .send-map-locator{
            .send-rfq-btn{
                button{
                    font-size: 11px;
                }
            }
        }
    }

}