<div class="send-req-quote">
    <div class="send-bread-crumb">
        <ul>
            <li><a href="/">{{'BREADCRUMB.HOME' | translate}}</a></li>
            <li>></li>
            <li><a href="/mylist">{{'BREADCRUMB.MYLISTS' | translate}}</a></li>
            <li>></li>
            <li>{{'BREADCRUMB.SND_RQST_FOR_QUOTE' | translate}}</li>
        </ul>
    </div>
    <div class="send-map-locator" ng-hide="sendrfq.isRFQSuccess">
        <!--<div class="row">
            <div class="col-md-9">
                <h2>{{'SENDREQQUOTE.RFQ' | translate}} (ID: {{sendrfq.rfqData.rfqUniqueId}}) - {{'SENDREQQUOTE.SAD' | translate}}</h2>
            </div>
            <div class="col-md-3">
                <button class="btn btn-block view-parts-added" ng-click="sendrfq.viewPartsAdded()">
                    {{'SENDREQQUOTE.VPA' | translate}}
                </button>
            </div>
        </div>-->

        <div class="row">
            <div class="col-md-9">
                <dealer-locator map-type="SENDRFQ" rfq-id="{{sendrfq.rfqData.id}}" data="sendrfq.dealers" dealer-selected="sendrfq.dealer" dealer-class="panel-send-rfq"></dealer-locator>
            </div>
            <div class="col-md-3">
                <button class="btn btn-block view-parts-added" ng-click="sendrfq.viewPartsAdded()" style="margin-bottom: 20px;">
                    {{'SENDREQQUOTE.VPA' | translate}}
                </button>
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-7">
                                <label>{{'SENDREQQUOTE.IWT_RECIEVE_QI' | translate}}</label>
                            </div>
                            <div class="col-md-5">
                                <select class="form-control" ng-model="sendrfq.selectedDateLimit">
                                <option ng-repeat="items in sendrfq.appInfo.rfqReceiveWithin" value="{{$index}}">{{items}} {{sendrfq.appInfo.rfqReceiveWithinUnit}}</option>
                            </select>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row send-rfq-btn">
                    <div class="col-md-12">
                        <button class="btn btn-primary btn-block" style="border-radius:3px;border:none;" ng-click="(sendrfq.selectedDealers.length === 0)?angular.noop():sendrfq.shareRFQ()"
                            ng-class="(sendrfq.selectedDealers.length === 0)?'disabled':''">
                            {{'SENDREQQUOTE.SND_RFQ_TO_AD' | translate}}
                        </button>
                    </div>
                </div>

                <div class="panel panel-default" style="margin-top:20px;">
                    <table class="table added-receiver">
                        <thead>
                            <tr style="padding-bottom:10px">
                                <th style="color:#ccc;">{{'SENDREQQUOTE.D_SELECTED' | translate}}</th>
                                <th style="font-size:16px;">{{sendrfq.selectedDealers.length}}</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="items in sendrfq.selectedDealers">
                                <td colspan="2" ng-if="items.isDeleted" class="list-item-delete">
                                    <div class="list-item-delete-box">
                                        "{{items.name}}" is removed.
                                    </div>
                                </td>
                                <td ng-if="!items.isDeleted">{{items.name}}</td>
                                <td ng-if="!items.isDeleted"><a href="#" ng-click="sendrfq.removeAddedDealers(items,$index)"><i class="fa fa-trash" aria-hidden="true"></i></a></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>


    </div>
    <div class="send-rfq-success" ng-show="sendrfq.isRFQSuccess">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="send-rfq-header">
                    <h2>{{sendrfq.finalData.length}} {{'SENDREQQUOTE.RFQC_SUCCESSFULLY' | translate}}</h2>
                    <p>{{'SENDREQQUOTE.CS_BY_GTS' | translate}}<a href="/myrfq" class="btn btn-default btn-xs" style="margin:5px;">{{'SENDREQQUOTE.CRFQ_STATUS' | translate}}</a></p>
                </div>
            </div>
            <div class="panel-body">

                <div class="send-rfq-body">
                    <div class="row" ng-repeat="items in sendrfq.finalData">
                        <div class="col-md-12">
                            <i class="fa fa-check" aria-hidden="true"></i>
                            <p>{{'MYLIST.RFQID' | translate}}: <b>{{items.rfqUniqueId}}</b> {{items.name}}, <span ng-hide="items.phone == null">{{'MYRFQ.PHONE' | translate}}: {{items.phone}},</span>
                                <span ng-hide="items.email == null">{{'MYRFQ.EMAIL' | translate}}: {{items.email}}</span></p>
                            <button class="btn btn-default btn-xs" ng-click="sendrfq.openRFQDetails(items)" style="margin:5px;
                            ">{{'SENDREQQUOTE.RFQ_DETAIL' | translate}}</button>
                            <button class="btn btn-danger btn-xs" ng-click="sendrfq.cancelRFQ(items)" style="margin:5px;" ng-if="!items.isCancelled">{{'SENDREQQUOTE.CANCELRFQ' | translate}}</button>
                            <button class="btn btn-default btn-xs disabled" ng-if="items.isCancelled" style="margin:5px;">{{'SENDREQQUOTE.CANCELLEDRFQ' | translate}}</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel-footer">
                <a class="btn btn-primary go-back-to-mylist" href="/mylist">
                    {{'SENDREQQUOTE.GB_TO_MYLIST' | translate}}
                </a>
            </div>
        </div>
    </div>
</div>