<div id="shareOrderlistPopup" class="modal-wrapper">
    <div class="modal-body">
        <h2 class="address-title">{{'SHIPADDR.HEADER' | translate}}{{OrderId.orderId}}
            <a class="close-overlay pull-right" data-ng-click="preview.cancel()" href="#">
                <img ng-src="/assets/images/close-icon.png" alt="" src="/assets/images/close-icon.png">
            </a>
        </h2>
        <form class="" name="shipAddress" novalidate>
            <div class="form-group" data-ng-class="{ 'has-error': shipAddress.shipname.$touched && shipAddress.shipname.$invalid}">
                <label class="">{{'SHIPADDR.SHIP_NAME' | translate}} </label><span class="madatoryStar">{{'SHIPADDR.MANDATORY' | translate}}</span>
                <input type="text" name="shipname" data-ng-model="preview.shipname" class="form-control" required>
                    
                <span class="help-block" ng-show="shipAddress.shipname.$touched && shipAddress.shipname.$invalid">
                    <span ng-show="shipAddress.shipname.$error.required">{{'SHIPADDR.SHIPERRMSG' | translate}}</span>
                </span>
            </div>

            <div class="form-group" data-ng-class="{ 'has-error': shipAddress.streetAddr1.$touched && shipAddress.streetAddr1.$invalid}">
                <label class="">{{'SHIPADDR.STREET_ADDRESS' | translate}} </label><span class="madatoryStar">{{'SHIPADDR.MANDATORY' | translate}}</span>
                <input type="text" name="streetAddr1" required data-ng-model="preview.addr1" class="form-control" required>
                    
                <span class="help-block" ng-show="shipAddress.streetAddr1.$touched && shipAddress.streetAddr1.$invalid">
                    <span ng-show="shipAddress.streetAddr1.$error.required">{{'SHIPADDR.STREET1ERRMSG' | translate}}</span>
                </span>
            </div>

            <div class="form-group" data-ng-class="{ 'has-error': shipAddress.streetAddr2.$touched && shipAddress.streetAddr2.$invalid}">
                <label class="">{{'SHIPADDR.STREET_ADDRESS2' | translate}} </label>
                <input type="text" name="streetAddr2" data-ng-model="preview.addr2" class="form-control">
                    
                <span class="help-block" ng-show="shipAddress.streetAddr2.$touched && shipAddress.streetAddr2.$invalid">
                    <span ng-show="shipAddress.streetAddr2.$error.required">{{'SHIPADDR.STREET1ERRMSG' | translate}}</span>
                </span>
            </div>

            <div class="form-group" data-ng-class="{ 'has-error': shipAddress.city.$touched && shipAddress.city.$invalid}">
                <label class="">{{'SHIPADDR.CITY' | translate}} </label><span class="madatoryStar">{{'SHIPADDR.MANDATORY' | translate}}</span>
                <input type="text" nospecialchar-directive name="city" required data-ng-model="preview.city" class="form-control" required>
                    
                <span class="help-block" ng-show="shipAddress.city.$touched && shipAddress.city.$invalid">
                    <span ng-show="shipAddress.city.$error.required">{{'SHIPADDR.CITYERRMSG' | translate}}</span>
                </span>
            </div>

            <div class="form-group state-container" data-ng-class="{ 'has-error': shipAddress.state.$touched && shipAddress.state.$invalid}">
                <label class="">{{'SHIPADDR.STATE' | translate}} </label><span class="madatoryStar">{{'SHIPADDR.MANDATORY' | translate}}</span>
                <!-- <input type="text" nospecialchar-directive name="state" required data-ng-model="preview.state" class="form-control" required> -->
                <select class="form-control" data-ng-model="preview.state" id="state" name="state" ng-options="state.stateName as state.stateName for state in preview.stateList"></select>
                                            <i class="fa fa-caret-down" aria-hidden="true"></i>
                    
                <span class="help-block" ng-show="shipAddress.state.$touched && shipAddress.state.$invalid">
                    <span ng-show="shipAddress.state.$error.required">{{'SHIPADDR.STATEERRMSG' | translate}}</span>
                </span>
            </div>

            <div class="form-group" data-ng-class="{ 'has-error': shipAddress.pincode.$touched && shipAddress.pincode.$invalid}">
                <label class="">{{'SHIPADDR.ZIN' | translate}} </label><span class="madatoryStar">{{'SHIPADDR.MANDATORY' | translate}}</span>
                <input type="text" nospecialchar-directive name="pincode" required data-ng-model="preview.pin" class="form-control" data-ng-pattern="/^\d{5}(-\d{4})?$/" required>
                    
                <span class="help-block" ng-show="shipAddress.pincode.$touched && shipAddress.pincode.$invalid">
                    <span ng-show="shipAddress.pincode.$error.pattern || shipAddress.pincode.$error.required">{{'SHIPADDR.PINEERRMSG' | translate}}</span>
                </span>
            </div>

            <div class="form-group country-container" data-ng-class="{ 'has-error': shipAddress.country.$touched && shipAddress.country.$invalid}">
                <label class="">{{'SHIPADDR.COUNTRY' | translate}} </label><span class="madatoryStar">{{'SHIPADDR.MANDATORY' | translate}}</span>
                 <input type="text" nospecialchar-directive name="country" ng-init="preview.country = 'US'" data-ng-model="preview.country" class="form-control" readonly required> 
                <!--<select class="form-control" data-ng-model="preview.country" id="country" name="country" ng-options="country.countryCode as country.countryName for country in preview.countryList" required></select>
                                            <i class="fa fa-caret-down" aria-hidden="true"></i>
                <span class="help-block" ng-show="shipAddress.country.$touched && shipAddress.country.$invalid">
                    <span ng-show="shipAddress.country.$error.required">{{'SHIPADDR.COUNTRYERRMSG' | translate}}</span>
                </span>-->
            </div>
            <div class="form-group text-right">
                <button class="btn btn-app btn-app-success" type="submit" ng-click="preview.addNewShipAddress()" 
                    ng-disabled="shipAddress.$invalid">{{'SHIPADDR.SAVE' | translate}}</button>
            </div>
        </form>
    </div>
</div>


<!-- 
    <div id="shareOrderlistPopup" class="modal-wrapper">
    <div class="modal-header bg-success">
        <button type="button" class="close" ng-click="add.cancel()" data-dismiss="modal">&times;</button>
        <span class="pupHdr">Add {{add.Details.Type}} address</span>
    </div>
    <div class="modal-body">


        <form class="form-horizontal" name="addrForm" novalidate>
            <div class="row form-group">
                <div class="col-md-3">
                    <label for="type" class="label-style">Type</label>
                </div>
                <div class="col-md-4">
                    <label class="radio-inline">
                        <input type="radio" ng-model="add.Details.Type" name="type" value="Mailing"> Mailing
                    </label>
                    <label class="radio-inline">
                        <input type="radio" ng-model="add.Details.Type" name="type" value="Permanent"> Permanent
                    </label>
                </div>
            </div>
            <div class="row form-group">
                <div class="col-md-3">
                    <label for="to" class="label-style">To</label>
                </div>
                <div class="col-md-4">
                    <input type="text" id="to" name="to" ng-model="add.Details.To" class="form-control" placeholder="Enter To Name" required>
                </div>
                <div class="col-md-4">
                    <span class="help-block" ng-show="addrForm.to.$touched && addrForm.to.$invalid">
                        <span ng-show="addrForm.to.$error.required"> To Name is required </span>
                    </span>
                </div>
            </div>
            <div class="row form-group">
                <div class="col-md-3">
                    <label for="address-line1" class="label-style">Address Line 1</label>
                </div>
                <div class="col-md-4">
                    <input  type="text" id="address_line1" name="address_line1" ng-model="add.Details.Address1" class="form-control" placeholder="Enter Address 1" required>
                </div>
                <div class="col-md-4">
                    <span class="help-block" ng-show="addrForm.address_line1.$touched && addrForm.address_line1.$invalid">
                        <span ng-show="addrForm.address_line1.$error.required"> Address Line 1 is required </span>
                    </span>
                </div>
            </div>
            <div class="row form-group">
                <div class="col-md-3">
                    <label for="address-line2" class="label-style">Address Line 2</label>
                </div>
                <div class="col-md-4">
                    <input  type="text" id="address_line2" name="address_line2" ng-model="add.Details.Address2" class="form-control" placeholder="Enter Address 2" required>
                </div>
                <div class="col-md-4">
                    <span class="help-block" ng-show="addrForm.address_line2.$touched && addrForm.address_line2.$invalid">
                        <span ng-show="addrForm.address_line2.$error.required"> Address Line 2 is required </span>
                    </span>
                </div>
            </div>
            <div class="row form-group">
                <div class="col-md-3">
                    <label for="city" class="label-style">City</label>
                </div>
                <div class="col-md-4">
                    <input  type="text" id="city" name="city" ng-model="add.Details.City" class="form-control" placeholder="Enter city" required>
                </div>
                <div class="col-md-4">
                    <span class="help-block" ng-show="addrForm.city.$touched && addrForm.city.$invalid">
                        <span ng-show="addrForm.city.$error.required"> Address Line 2 is required </span>
                    </span>
                </div>
            </div>
            <div class="row form-group">
                <div class="col-md-3">
                    <label for="state" class="label-style">State</label>
                </div>
                <div class="col-md-4">
                    <input  type="text" id="state" name="state" ng-model="add.Details.State" class="form-control" placeholder="Enter state" required>
                </div>
                <div class="col-md-4">
                    <span class="help-block" ng-show="addrForm.state.$touched && addrForm.state.$invalid">
                        <span ng-show="addrForm.state.$error.required"> State is required </span>
                    </span>
                </div>
            </div>
            <div class="row form-group">
                <div class="col-md-3">
                    <label for="country" class="label-style">Country</label>
                </div>
                <div class="col-md-4">
                    <input  type="text" id="country" name="country" ng-model="add.Details.Country" class="form-control" placeholder="Enter country" required>
                </div>
                <div class="col-md-4">
                    <span class="help-block" ng-show="addrForm.country.$touched && addrForm.country.$invalid">
                        <span ng-show="addrForm.country.$error.required"> Country is required </span>
                    </span>
                </div>
            </div>
            <div class="row form-group">
                <div class="col-md-3">
                    <label for="zipcode" class="label-style">Zip Code</label>
                </div>
                <div class="col-md-4">
                    <input  type="text" id="zipcode" name="zipcode" ng-model="add.Details.Zipcode" class="form-control" placeholder="Enter zip code" required>
                </div>
                <div class="col-md-4">
                    <span class="help-block" ng-show="addrForm.zipcode.$touched && addrForm.zipcode.$invalid">
                        <span ng-show="addrForm.zipcode.$error.required"> Zip Code is required </span>
                    </span>
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <div class="button-container">
            <button ng-show="!add.showEdit" class="btn btn-success" type="submit" ng-click="add.save()">Save</button>
            <button ng-show="add.showEdit" class="btn btn-success" type="submit" ng-click="add.update(add.Details)">Update</button>
            <button class="btn btn-warning" type="reset" ng-click="add.cancel()">Cancel</button>
        </div>
    </div>
</div>

 -->