.new-ship-address-pop-up{
    top: 0 !important;
    .modal-dialog{
        margin-top: 2%;
    }
    #shareOrderlistPopup {
        background-color: #F8F8F8;
        padding: 20px;
        border-radius: 3px;
        .btn-app{
            height: 36px;
            font-weight: 600;
            font-size: 14px;
            border-radius: 3px;
            text-transform: uppercase;
            outline: 0;
            line-height: 16px;
            min-width: 100px;
        }
        .btn-app:focus, .btn-app.focus, .btn-app:active:focus, .btn-app:active.focus, .btn-app.active:focus, .btn-app.active.focus {
            outline: 0;
        }
        .btn-app-primary{
            background-color: $btn_primary_bgcolor;
            border-color: $btn_primary_border_color;
            color: #fff;
        }
        .btn-app-primary:focus, .btn-app-primary.focus, .btn-app-primary:hover {
            background-color: $btn_primary_focus_bgcolor;
            border-color: $btn_primary_focus_border_color;
            color: #fff;
        }
        .btn-app-sm{
            font-size: 11px;
            line-height: 11px;
            font-weight: 600;
            height: 24px;
            padding: 2px 12px;
        }
        .btn-app-success{
            background-color: #3FB300;
            border-color: #3FB300;
            color: #fff;
        }
        .btn-app-success:focus, .btn-app-success.focus, .btn-app-success:hover {
            background-color: #369900;
            border-color: #369900;
            color: #fff;
        }
        .modal-header {
            padding: 15px 15px 5px;
            border-top-left-radius: 3px;
            border-top-right-radius: 3px;
            border-bottom: 0;
            
            h4 {
                margin-top: 2px;
                margin-bottom: 4px;
                font-size: 16px;
                font-weight: 600;
            }
        }
        .bg-success {
                background-color: $support_color_bg_success;
            }
        .modal-body {
            padding-top: 10px;
            padding-bottom: 20px;
            .address-title{
                margin-top: 0;
                margin-bottom: 30px;
                color: #9b9b9b;
                font-weight: 300;
                color: #b2b2b2;
                line-height: 30px;
            }
            form{
                .state-container{
                    position: relative;
                }
                .country-container{
                    position: relative;
                }
                .form-control, .btn{
                    border-radius: 3px;
                }
                select.form-control{
                    -webkit-appearance: none;
                }
                select.form-control + .fa-caret-down{
                    position: absolute;
                    right: 9px;
                    top: 31px;
                    font-size: 16px;
                    pointer-events: none;
                    color: $active_link_color;
                }
                textarea{
                    resize: none;
                }
                label{
                    color: #7f7f7f;
                    font-size: 12px;
                    font-weight: 600;
                    margin-left: 10px;
                }
                input[type=text], select{
                    height: 32px;
                    font-size: 14px;
                    font-weight: 600;
                    color: #414141;
                    border: 1px solid #ededde;
                    box-shadow: none;
                }
                input[type=text]:focus, select:focus{
                    border-color: #0093c6;
                    outline: 0;
                    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
                }
                .has-error{
                    .form-control, .form-control:focus {
                        box-shadow: inset 0 1px 1px rgba(100, 54, 0, 0.075);
                        border-color: #ff8a00;
                    }
                    .help-block{
                        text-align: right;
                        margin-bottom: 5px;
                        font-weight: 600;
                        font-size: 12px;
                        color: #ff8a00;
                    }
                    input, select{
                        background: #fff;
                    }
                }
                .madatoryStar{
                    color:#f00;
                    font-size: 12px;
                }
                input[type="checkbox"]{
                    width: 30px; /*Desired width*/
                    height: 30px; /*Desired height*/
                }
            }
            
        }
        .btn {
            color: white;
            font-size: 12px;
        }
        .btn-success {
            background-color: #3FB300;
            border-color: #3FB300;
            color: white;
            padding: 9px 10px;
            min-width: 100px;
            text-transform: uppercase;
            font-weight: 600;
            font-size: 14px;
            &:hover {
                border-color: #369900;
                background-color: #369900;
            }
            &:active,
            &:focus {
                outline: none;
                box-shadow: none;
                outline-offset: none;
            }
        }
    }
}


