<!--Author:Rohit Rane-->
<div class="row home">
  <!--<img src="/assets/images/home.png" alt="">-->
  <!--<img ng-src="{{home.dummyHome}}" alt="">-->

  <div uib-carousel active="active" interval="home.slidesTimer" no-wrap="false">
    <div uib-slide ng-repeat="slide in home.slides" index="$index">
      <img ng-src="{{slide.image}}" style="margin:auto; width: 100%; height: 349px">
    </div>
  </div>
</div>