/***************************************************************
* Proprietary & Confidential  |  © 2016 PhaseZero Ventures LLC 
* 
* This file is part of Tire Advisor project
* 
* This file cannot be copied and/or distributed without 
* the express permission of PhaseZero Ventures LLC
***************************************************************/

.home{
    padding-top: 184px !important;
    // margin-left: -10px !important;
    // margin-right: -10px !important;
    img{
        width: 100%;
    }
}