<!-- /*Author : Manjesh Kumar */ -->
<div id="loginSuccess">
    <div class="modal-body text-center">
        <h1>
        	<!-- <span class="fa fa-check-circle" aria-hidden="true"></span> -->
        	{{'LOGIN.SESSION_EXPIRED' | translate}}</h1>
    </div>
</div>
