.my-modal-popup.login-expired-modal{
    top: 24% !important;
    .modal-dialog {
        width: 50%;
        margin-top: 0;
        #loginSuccess{
            border: 0;
            .modal-body{
                position: relative;
                padding: 15px 15px 17px 15px;;
                background: #ff8a00;
                border-radius: 4px;
                h1{
                    font-size: 20px;
                    font-weight: 600;
                    margin: 0;
                    color: #fff;
                    span.fa-check-circle{
                        color: #fff;
                        margin-right: 20px;
                        font-size: 22px;
                        position: relative;
                        top: 4px;
                    }
                }
            }
        }
    }
}