<form class="interchange-search" role="form" ng-submit="asc.interChange.submit(interchangeSearchForm.$valid,interchangeSearchText)" name="interchangeSearchForm" novalidate>
    <div class="interchange-row">
        <div class="interchange-clm">
            <input type="text" name="interchangeSearchText" ng-model="interchangeSearchText" placeholder="{{'HEADER.MENUS.INTERCHANGE.PLACEHDR' | translate}}" class="form-control input-sm" id="interchangeSearchText" required />
        </div>
        <div class="interchange-clm">
            <input type="submit" value="{{'HEADER.MENUS.INTERCHANGE.GO' | translate}}" class="btn btn-primary btn-sm" name="interchangeSearchSubmit" ng-class="interchangeSearchForm.$invalid?'disabled':''"/>
        </div>
    </div>
</form>
<p class="interchangeSearchFormMsg">{{asc.interChange.errMsg}}</p>