/***************************************************************
* Proprietary & Confidential  |  © 2016 PhaseZero Ventures LLC 
* 
* This file is part of Tire Advisor project
* 
* This file cannot be copied and/or distributed without 
* the express permission of PhaseZero Ventures LLC
***************************************************************/


$fa-font-path: "../../bower_components/components-font-awesome/fonts";

//color
$accent_color : orange;
$color_extreme_one : #424242;
$color_extreme_two : white;
$support_color_dark_one : #b20838;
$support_color_dark_two : #b20838;
$support_color_light_one : #dbdbdb;
$support_color_light_two : #f0f0f0;
$support_color_primary:#424242;
$support_color_light_blue_third: #b20838;
$support_color_dark_black_third: #b20838;
$support_color_default:pink;
$category_menu_bg:maroon;
$load_more:#525252;
$support_color_light_three : #aaaaaa;

$advanced_search_bar_color: #acacac;
$advanced_search_bar_bg:#e0e0e0;

//shaifali color
$support_color_border : #e5e5e5;
$support_color_bg_success : #f6fafe;
$support_color_border_second :#EFEFEF;
$support_color_primary_second :#269cca;
$support_color_dark_heading : #494949;

$app_bg_color: #b20838;
$app_font_family: cursive;
$modal_bg_color: red;

$btn_primary_bgcolor: red; //#0093c6
$btn_secondary_bgcolor: yellow; //#0093c6
$btn_tertiary_bgcolor: black;
$btn_disabled_bgcolor: blue;

$btn_primary_border_color: red; //#0093c6
$btn_secondary_border_color: yellow; //#0093c6
$btn_tertiary_border_color: black;
$btn_disabled_border_color: blue;

$btn_primary_font_color: white; //#0093c6
$btn_secondary_font_color: white; //#0093c6
$btn_tertiary_font_color: white;
$btn_disabled_font_color: white;

$btn_primary_focus_border_color: #0086b3; 
$btn_secondary_focus_border_color: #369900; 
$btn_tertiary_focus_border_color: black;
$btn_disabled_focus_border_color: blue;

$active_link_color: #0093c6;

$badge_color: #0093c6;
$badge_border: #323232;
$badge_font_color: #ffffff;

//url
$website_logo:"/assets/images/merritor.jpg";
$home:"/assets/images/merritor_homeBG.jpg";

$availability_modal_width: 700px;
$box_border_radius: 3px;
