/***************************************************************
* Proprietary & Confidential  |  © 2016 PhaseZero Ventures LLC 
* 
* This file is part of Tire Advisor project
* 
* This file cannot be copied and/or distributed without 
* the express permission of PhaseZero Ventures LLC
***************************************************************/


.search-bar {
    //margin-top: 0px;
    //position: relative;
    margin-top: 1px;
    margin-left: 4px;
    padding:0px;
    .form-group .dropdown-menu {
        border-radius: 0px;
        //shaifali code
        float: right ;
        right:0 ;
        left:auto;
        //shaifali code
        li.active {
            background-color: $support_color_light_one;
            interchange{
                border-left: 5px solid #dbdbdb;
                &:after{
                    border-right: 5px solid #dbdbdb;
                }
            }
        }
    }
    
    @for $i from 1023 to 1440 {
        @media(min-width: + $i*1px) {
            .search-bar {
                width: ($i+656-1024)*1px;
            }
            /*.form-group .typeahead-popup.dropdown-menu li {
                width: ($i+379-1024)*1px;
            }*/
        }
    }
    .form-group .typeahead-popup.dropdown-menu {
        left: 0px !important;
        top: 42px !important;
    }
    .form-group .dropdown-menu li a {
        color: black;
    }
    [uib-dropdown-menu] {
        //top:0px;
        li {
            a {
                color: $support_color_dark_one !important;
                font-size: 14px;
            }
        }
    }
    [uib-dropdown-toggle] {
        font-size: 14px;
        box-shadow: none;
    }
    .scope-selector {
        .search_ddl_head{
            text-transform: capitalize;
        }
        [uib-dropdown-menu] {
            //width: 173px;
            li {
                a {
                    text-transform: capitalize;
                    &:focus,
                    &:hover {
                        background-color: $support_color_light_one !important;
                    }
                }
            }
            &:focus{
                
            }
        }
        &.open {
            button {
                box-shadow: none
            }
        }
    }
    .dropdown-menu {
        margin: 0px 0 0;
        border: none;
        // border-radius: 4px;
        ul {
            li {
                &.hover {
                    background: #000000;
                }
                &.active {
                    background: gray;
                    // color:#262626;
                }
            }
        }
    }

    @media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
        .srchPlace{
            input::-webkit-input-placeholder {
                font-size: 11px ;

            }
        .srchPlace{
                input::-moz-input-placeholder {
                    font-size: 11px ;

                }
            }
        }
    }

    @media(width:1024px) {
        #search-box::-webkit-input-placeholder {
            font-size: 12px
        }
        #search-box::-moz-placeholder {
            font-size: 12px
        }
        /* firefox 19+ */
        #search-box:-ms-input-placeholder {
            font-size: 12px
        }
        /* ie */
        #search-box:-moz-placeholder {
            font-size: 12px
        }
    }
    @for $i from 1024 to 1440 {
        @media(min-width: + $i*1px) {
            width: ($i+656-1024)*1px;
        }
    }

    .close-icon {
	border:1px solid transparent;
	background-color: transparent;
	display: inline-block;
	vertical-align: middle;
  outline: 0;
  cursor: pointer;
}
.close-icon:after {
	content: "X";
	display: block;
	width: 15px;
	height: 15px;
	position: absolute;
	background-color: #FA9595;
	z-index:1;
	right: 35px;
	top: 0;
	bottom: 0;
	margin: auto;
	padding: 2px;
	border-radius: 50%;
	text-align: center;
	color: white;
	font-weight: normal;
	font-size: 12px;
	box-shadow: 0 0 2px #E50F0F;
	cursor: pointer;
}

    /*#search-box:after {
        content: "X";
        display: block;
        width: 15px;
        height: 15px;
        position: absolute;
        background-color: #FA9595;
        z-index:1;
        right: 35px;
        top: 0;
        bottom: 0;
        margin: auto;
        padding: 2px;
        border-radius: 50%;
        text-align: center;
        color: white;
        font-weight: normal;
        font-size: 12px;
        box-shadow: 0 0 2px #E50F0F;
        cursor: pointer;
    }*/

    .cross{
        position: absolute;
        right: 17px;
        top: 10px;
        cursor:pointer;
        font-size: 20px;
    }
    .srchPlace{
        position: relative
    }

    #search-box::-ms-clear {
        display: none;
    }
}
