 /***************************************************************
* Proprietary & Confidential  |  © 2016 PhaseZero Ventures LLC 
* 
* This file is part of Tire Advisor project
* 
* This file cannot be copied and/or distributed without 
* the express permission of PhaseZero Ventures LLC
***************************************************************/

 
 .typeahead-popup{
    border-radius: 0px;
    border: 1px solid black !important;
    z-index:99999;
    p{
        font-size: 11px;
        margin-bottom: 5px;
        margin-top: 5px;
        margin-left: 10px;
        color:#c1c1c1
    }
    li{
        cursor: pointer;
    }
    .view-all-results{
        color: $accent_color;
        margin-top: 5px;
        font-weight: 600
    }
    .suggestions{
        div{
            span{
                font-weight: 600;
                CATSUGGEST,a{
                    color:$accent_color !important;
                    font-weight: 600;
                    text-decoration: none;
                    strong{
                        color:$accent_color !important;
                    }
                }
            }
        }
    }
    /*interchange{
        color:$accent_color;
        font-size: 11px;
        &:before{
            font-family: FontAwesome;
            content: "\f178";
            font-weight: normal;
            font-style: normal;
            display: inline-block;
            text-decoration: inherit;
            font-size: 14px;
            margin-left: 10px;
            margin-right: 5px;
        }
    }*/
    /*interchange{
        background: black;
        height: 12px;
        display:table;
        position: relative;
        color: white;
        font-weight: bold;
        font-size: 8px;
        display:table-cell;
        vertical-align:middle;
        text-align: center;
        padding: 0px 10px 0px 5px;
        border-left: 5px solid white;
        strong{
            color: $accent_color !important;
        }
        &:after{
          content: "";
          position: absolute;
          right: 0;
          bottom: 0;
          width: 0;
          height: 0;
          border-right: 5px solid white;
          border-top: 6px solid transparent;
          border-bottom: 6px solid transparent;
        }
    }*/
    
    interchange{
        //color:$accent_color;
        //font-size: 11px;
        &:before{
           // content: "\f178";
            color:black;
            content: ",";
            font-weight: normal;
            font-style: normal;
            display: inline-block;
            text-decoration: inherit;
            font-size: 14px;
            //margin-left: 10px;
            //margin-right: 5px;
        }
    }

    inter-desc{
        color:$load_more;
        font-size: 12px;
        font-weight: 600;
        &:before{
            content:"("
        }
        &:after{
            content:")"
        }
    } 
    
}