/***************************************************************
* Proprietary & Confidential  |  © 2016 PhaseZero Ventures LLC 
* 
* This file is part of Tire Advisor project
* 
* This file cannot be copied and/or distributed without 
* the express permission of PhaseZero Ventures LLC
***************************************************************/


.typeahead{
    margin-left:10px;
    height: 20px;
    strong{
        font-weight: 600;
        color:$color_extreme_one;
    }

    .label{
        background-color:$accent_color;
        margin-left: 5px;
    }
}