<div id="listpopver" data-ng-mouseenter="profile.mylistopen=true">
    <div class="ddlarrow"></div>
    <div class=" dropdownpopover">
        <div class="row" ng-if="profile.userPermissionsList.CreateOrderlist">
            <div class="col-sm-12">
                <a href="" data-ng-click="profile.createMyList($event)" class="create-new-list-icon">
                   
                        <i class="fa fa-plus"> </i>
                        {{'MYLIST.CREATE_NEW' | translate}}

                    </a>
            </div>
        </div>
        <div class="row"  ng-if="profile.userPermissionsList.CreateOrderlist">
            <hr class="firsthr"> </div>
        <!-- <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <div class="col-sm-12 text-left">
                        <label> 
                            {{'MYLIST.LIST_LBL' | translate}}                            
                        </label>
                    </div>
                </div>
            </div>
        </div> -->
        <div class="list-names">
        <div class="row " data-ng-repeat="key in profile.lists track by $index">
            <div class="col-md-12">
                <div class="form-group">
                    <div class="col-sm-12">
                        <p class="text-info">
                            <a data-ng-click="profile.goToListPage(key.id, key.cartName)">{{key.cartName}} ({{key.cartLineCount}})</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </div>
</div>
