/***************************************************************
* Proprietary & Confidential  |  © 2016 PhaseZero Ventures LLC 
* 
* This file is part of Tire Advisor project
* 
* This file cannot be copied and/or distributed without 
* the express permission of PhaseZero Ventures LLC
***************************************************************/

#listpopver {
   
    .ddlarrow {
                position: absolute;
                top: -22px;
                right: 9px;
                &:before {
                    content: " ";
                    left: 60px;
                    border: solid transparent;
                    border-color: rgba(136, 183, 213, 0);
                    border-bottom-color: #FFFFFF;
                    border-width: 9px;
                    margin-left: -10px
                }
                &:after {
                    bottom: 102%;
                    content: " ";
                    height: 0;
                    width: 0;
                    position: absolute;
                    pointer-events: none;
                }
    }
    .marginlt{
        margin-left: 7px;
    }
    div.dropdownpopover {
        margin-top: 4px;
       // width: 260px;
        width:248px;
        border-radius: 4px;
        border-color: #707070;
        padding: 15px 0 15px 10px;
        // border-top-right-radius: 3px;
        // border-top-left-radius: 3px;
        background: #fff;
        border: 1px solid #ddd;
        float:right;
        font-size:14px;
        .create-new-list-icon {
            //color: #0099CC;
            font-size: 12px;
            font-weight: 600;
            color:$active_link_color;
            i {
                float: left;
                font-size: 12px;
                margin: 5px;
                font-weight: 600;
                margin-right: 10px;
                margin-left: 10px;
                color:$active_link_color;
            }
        }
        div.popover{
            .popover-inner{
                margin-top:-15px;
            }
        } 
        .fa {
            margin: 0 10px;
        }
        .list-names{
            max-height:250px;
            overflow-y: auto;
            overflow-x: hidden;
            
        }
        label {
            font-size: 12px;
            color:#6e6e6e;
            // margin-top: 0px;
            // margin-bottom: 0px;
        }
        h5 {
            margin-top: 5px;
            margin-bottom: 0px;
            font-weight: 600;
        }
        .fa-cart-plus {
            color: #0099CC;

        }
        hr.firsthr {
            margin-top: 15px;
            margin-bottom: 15px;
            margin-right:20px;
            margin-left: 15px;
            color:#ebebeb;
        }
        hr {
            margin-top: 0px;
            margin-bottom: 8px;

        }
        a {
            &:hover {
                text-decoration: none;
            }
            cursor: pointer;
            //color:#6e6e6e;
            font-size: 13px;
            font-weight: 600;
            color:#363636;
        }
        .text-info {
            color: #0099CC;
            margin-bottom: 6px;
            .listtag {
                color: #0099CC;
                &:hover {
                    background-color: green;
                    text-decoration: none;
                }
            }
            a.aaa {
                color: #0099CC;
                span {
                    color: #8f8f8f;
                    margin-left: 3px;
                }
                &:hover {
                    background-color: #f2ceda !important;
                    padding: 1px 3px;
                }
            }
        }

    }
    // .ddlarrow {
    //     &:before {
    //         content: " ";
    //         // left: 60px;
    //         border: solid transparent;
    //         border-color: rgba(136, 183, 213, 0);
    //         border-bottom-color: #FFFFFF;
    //         border-width: 9px;
    //         margin-left: -10px;
    //         top: -18px;
    //         position: absolute;
    //         right: 10%;
    //     }
    //     &:after {
    //         bottom: 150%;
    //         content: " ";
    //         height: 0;
    //         width: 0;
    //         position: absolute;
    //     }
    // }
    // .open {
    //     a {
    //         background-color: transparent !important;
    //         color: #0099CC;
    //     }
    // }
    // .navbar-nav > li > .dropdown-menu {
    //     margin-top: 4px;
    // }
}

// .profile-menu {
//     div.popover {
//         // right: 0 !important;
//         background-color: transparent;
//         border: none;
//         border-radius: 0px;
//         box-shadow: none;
//         width: 100%;
//         // float: right;
//         &.bottom {
//             margin-top: 20px;
//         }
//         &.bottom .arrow {
//             display: none;
//         }
//         .popover > .arrow {
//             &:after {
//                 border-style: none;
//             }
//         }
//         .popover-inner {
//             // width: 1348px;
//             width: 100%;
//             .popover-content {
//                 padding: 0px;
//                 width: 100%;
//             }
//         }
//     } 
//     #listpopver div.dropdownpopover
// }
