/***************************************************************
* Proprietary & Confidential  |  © 2016 PhaseZero Ventures LLC 
* 
* This file is part of Tire Advisor project
* 
* This file cannot be copied and/or distributed without 
* the express permission of PhaseZero Ventures LLC
***************************************************************/

$accent_color : #0099CC;
$color_extreme_one : black;
$color_extreme_two : white;
$support_color_dark_one : #222222;
$support_color_dark_two : #323232;
$support_color_light_one : #dbdbdb;
$support_color_light_two : #f0f0f0;
$support_color_primary:#0093c6;
$support_color_light_blue_third: #119aca;
$support_color_dark_black_third: #404040;
$support_color_default:#000000;
$category_menu_bg:#222222;
$load_more:#525252;
$support_color_light_three : #aaaaaa;
$advanced_search_bar_color: #acacac;
$advanced_search_bar_bg:#e0e0e0;
//shaifali color
$support_color_border : #e5e5e5;
$support_color_bg_success : #F8F8F8;
$support_color_border_second :#EFEFEF;
$support_color_primary_second :#269cca;
$support_color_dark_heading : #494949;

$app_bg_color: #E8E8E8;
$app_font_family: 'Open Sans';
$modal_bg_color: #f8f8f8;

$btn_primary_bgcolor: #0093c6; 
$btn_secondary_bgcolor: #3FB300; 
$btn_tertiary_bgcolor: black;
$btn_disabled_bgcolor: blue;

$btn_primary_border_color: #0093c6; 
$btn_secondary_border_color: #3FB300; 
$btn_tertiary_border_color: black;
$btn_disabled_border_color: blue;

$btn_primary_focus_bgcolor: #0086b3; 
$btn_secondary_focus_bgcolor: #369900; 
$btn_tertiary_focus_bgcolor: black;
$btn_disabled_focus_bgcolor: blue;

$btn_primary_focus_border_color: #0086b3; 
$btn_secondary_focus_border_color: #369900; 
$btn_tertiary_focus_border_color: black;
$btn_disabled_focus_border_color: blue;

$btn_primary_font_color: white; //#0093c6
$btn_secondary_font_color: white; //#0093c6
$btn_tertiary_font_color: white;
$btn_disabled_font_color: white;



$active_link_color: #0093c6;

$badge_color: #0093c6;
$badge_border: #323232;
$badge_font_color: #ffffff;


$website_logo:"/assets/images/dana-logo.png";
$home:"/assets/images/home.png";

$availability_modal_width: 700px;
$box_border_radius: 3px;


/*@font-face {
    font-family: 'Open Sans';
    src: url("/assets/skins/dana/fonts/OpenSans-Light.ttf"),
        url("/assets/skins/dana/fonts/OpenSans-Bold.ttf"),
        url("/assets/skins/dana/fonts/OpenSans-LightItalic.ttf"),
        url("/assets/skins/dana/fonts/OpenSans-BoldItalic.ttf"),
        url("/assets/skins/dana/fonts/OpenSans-Regular.ttf"),    
        url("/assets/skins/dana/fonts/OpenSans-ExtraBold.ttf "),
        url("/assets/skins/dana/fonts/OpenSans-Semibold.ttf"),
        url("/assets/skins/dana/fonts/OpenSans-ExtraBoldItalic.ttf"),
        url("/assets/skins/dana/fonts/OpenSans-SemiboldItalic.ttf"),    
        url("/assets/skins/dana/fonts/OpenSans-Italic.ttf");
}*/